﻿@using DocumentFormat.OpenXml.Vml.Spreadsheet
@model WaveAccess.MyQuiz.WebUI.PlanViewModel

@section Styles
{
    @Styles.Render("~/Content/plans/css")
}

<div class="breadcrumb centered">
    @Html.ActionLink(LocView.getLocalization("Plans"), "List", "Plans", new { @class = "breadcrumb__linkItem" })
    <span class="breadcrumb__textItem">&#10095;</span>
    <span class="breadcrumb__textItem">
        @if (Model.Id == 0)
        {
            <text>@LocView.getLocalization("PlanAdd")</text>
        }
        else
        {
            <text>@LocView.getLocalization("PlanEdit") &quot;@Model.Name&quot;</text>
        }
    </span>
</div>

@{
    var allowFullName = Model != null && (bool)Model.AllowFullName;
    var isDefault = Model != null && (bool)Model.IsDefault;
    var action = Model.Id == 0 ? "New" : "Edit";
}
@using (Html.BeginForm(action, "Plan", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.Id)

    <div id="form" class="centered">
        <div class="plansEditLayout">
            <div class="plansEditLayout__col">
                <div class="editor-label editor-label-required">@Html.LabelFor(m => m.Name)</div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="plansEditLayout__col">
                <div class="editor-label editor-label-required">@Html.LabelFor(m => m.MaxPlayers)</div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.MaxPlayers)
                    @Html.ValidationMessageFor(m => m.MaxPlayers)
                </div>
            </div>

            <div class="plansEditLayout__col">
                <div class="editor-label editor-label-required">@Html.LabelFor(m => m.IsDefault)</div>
                <div class="editor-field">
                    <div class="editor-label editor-label checkbox-switch">
                        <label class="switch">
                            @if (isDefault)
                    {
                        @Html.HiddenFor(m => m.IsDefault)
                        @Html.CheckBoxFor(model => model.IsDefault, new { id = "IsDefault" + (Model.Id == 0 ? "0" + ViewBag.id : Model.Id.ToString()), disabled = "disabled" })
            }
            else
            {
                @Html.CheckBoxFor(model => model.IsDefault, new { id = "IsDefault" + (Model.Id == 0 ? "0" + ViewBag.id : Model.Id.ToString()) })
    }

                            <div class="slider round" data-checked-yes="@LocView.getLocalization("Yes")" data-checked-no="@LocView.getLocalization("No")"></div>
                        </label>
                    </div>
                    @Html.ValidationMessageFor(m => m.IsDefault)
                </div>
            </div>

            <div class="plansEditLayout__col">
                <div class="editor-label editor-label-required">@Html.LabelFor(m => m.IsPromoEnabled)</div>
                <div class="editor-field">
                    <div class="editor-label editor-label checkbox-switch">
                        <label class="switch">
                            @Html.CheckBoxFor(model => model.IsPromoEnabled, new { id = "IsPromoEnabled" + (Model.Id == 0 ? "0" + ViewBag.id : Model.Id.ToString()) })
                            <div class="slider round" data-checked-yes="@LocView.getLocalization("Yes")" data-checked-no="@LocView.getLocalization("No")"></div>
                        </label>
                    </div>
                    @Html.ValidationMessageFor(m => m.IsPromoEnabled)
                </div>
            </div>
            <div class="plansEditLayout__col">
                <div class="editor-label editor-label-required">@Html.LabelFor(m => m.AllowLimitUserProviders)</div>
                <div class="editor-field">
                    <div class="editor-label editor-label checkbox-switch">
                        <label class="switch">
                            @Html.CheckBoxFor(model => model.AllowLimitUserProviders, new { id = "AllowLimitUserProviders" + (Model.Id == 0 ? "0" + ViewBag.id : Model.Id.ToString()) })
                            <div class="slider round" data-checked-yes="@LocView.getLocalization("Yes")" data-checked-no="@LocView.getLocalization("No")"></div>
                        </label>
                    </div>
                    @Html.ValidationMessageFor(m => m.AllowLimitUserProviders)
                </div>
            </div>
            <div class="plansEditLayout__col">
                <div class="editor-label editor-label-required">@Html.LabelFor(m => m.IsYoutubeLiveStreamingEnabled)</div>
                <div class="editor-field">
                    <div class="editor-label editor-label checkbox-switch">
                        <label class="switch">
                            @Html.CheckBoxFor(model => model.IsYoutubeLiveStreamingEnabled, new { id = "IsYoutubeLiveStreamingEnabled" + (Model.Id == 0 ? "0" + ViewBag.id : Model.Id.ToString()) })
                            <div class="slider round" data-checked-yes="@LocView.getLocalization("Yes")" data-checked-no="@LocView.getLocalization("No")"></div>
                        </label>
                    </div>
                    @Html.ValidationMessageFor(m => m.IsYoutubeLiveStreamingEnabled)
                </div>
            </div>
            <div class="plansEditLayout__col">
                <div class="editor-label editor-label-required">@Html.LabelFor(m => m.IsUploadVideoEnabled)</div>
                <div class="editor-field">
                    <div class="editor-label editor-label checkbox-switch">
                        <label class="switch">
                            @Html.CheckBoxFor(model => model.IsUploadVideoEnabled, new { id = "IsUploadVideoEnabled" + (Model.Id == 0 ? "0" + ViewBag.id : Model.Id.ToString()) })
                            <div class="slider round" data-checked-yes="@LocView.getLocalization("Yes")" data-checked-no="@LocView.getLocalization("No")"></div>
                        </label>
                    </div>
                    @Html.ValidationMessageFor(m => m.IsUploadVideoEnabled)
                </div>
            </div>
            <div class="editor-label editor-label-required">@Html.LabelFor(m => m.AllowFullName)</div>
            <div class="editor-field radios">
                <input type="radio" class="radio" id="radio-show-yes" name="AllowFullName" value="true" checked="@allowFullName.Equals(true)" />
                <label for="radio-show-yes">@LocView.getLocalization("FullName")</label>

                <input type="radio" class="radio" id="radio-show-no" name="AllowFullName" value="false" checked="@allowFullName.Equals(false)" />
                <label for="radio-show-no">@LocView.getLocalization("Nickname")</label>
            </div>

            <div>
                <a href="@Url.Action("List")"
                   class="basicButton basicButton--cancel">@LocView.getLocalization("Cancel")</a>
                <input type="submit"
                       class="basicButton basicButton--save" value="@LocView.getLocalization("Save")" />
            </div>
        </div>
    </div>

}
