﻿@model WaveAccess.MyQuiz.WebUI.PlanListViewModel

@section Styles
{
    @Styles.Render("~/Content/plans/css")
}
<div id="form" class="centered">
    <div class="Layout">
        <div class="plansList">
            <div class="plansList__header">
                <div class="plansList__cell
                    plansList__cell--header
                    plansList__cell--right-border">@LocView.getLocalization("Plan")</div>
                <div class="plansList__cell
                    plansList__cell--header
                    plansList__cell--right-border
                    plansList__cell--center
                    plansList__cell--max-players">@LocView.getLocalization("MaxPlayersCount")</div>
                <div class="plansList__cell
                    plansList__cell--header
                    plansList__cell--right-border
                    plansList__cell--center
                    plansList__cell--promoEnabled">@LocView.getLocalization("IsPromoEnabled")</div>
                <div class="plansList__cell
                    plansList__cell--header"></div>
            </div>
            @foreach (var plan in Model.Plans)
            {
                <div class="plansList__space"></div>
                <div class="plansList__row">
                    <div class="plansList__cell
                        plansList__cell--body
                        plansList__cell--right-border
                        plansList__cell--plan-name" title="@plan.Name">@plan.Name</div>
                    <div class="plansList__cell
                        plansList__cell--body
                        plansList__cell--right-border
                        plansList__cell--center
                        plansList__cell--max-players" title="@plan.MaxPlayers">
                        <span class="plansList__inlineTitle">@LocView.getLocalization("MaxPlayersCount"):</span>
                        @plan.MaxPlayers
                    </div>
                    <div class="plansList__cell
                        plansList__cell--body
                        plansList__cell--right-border
                        plansList__cell--center
                        plansList__cell--promoEnabled" title=@LocView.getLocalization(@plan.IsPromoEnabled ? "Yes" :"No")>
                        <span class="plansList__inlineTitle">@LocView.getLocalization("IsPromoEnabled"):</span>
                        @if (plan.IsPromoEnabled)
                        {
                            @LocView.getLocalization("Yes")
                        }
                        else
                        {
                            @LocView.getLocalization("No")
                        }
                    </div>
                    <div class="plansList__cell
                        plansList__cell--body
                        plansList__cell--center
                        plansList__cell--action-buttons">
                        <a href="@Url.Action("Edit", "Plan", new { id = plan.Id })"
                            class="iconButton iconButton--default">
                            <span class="icon-edit-pencil"></span>
                        </a>
                    </div>
                </div>
            }
        </div>
        <a href="@Url.Action("New", "Plan")"
            class="basicButton basicButton--add">@LocView.getLocalization("PlanAdd")</a>
    </div>
</div>