﻿@using WaveAccess.MyQuiz.WebUI.Helpers
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

    <header>
    @Html.Partial("Partials/Header")
    <div id="sub-menu-container">
        <div class="centered">
            @RenderSection("BeforeSubMenuSection", required: false)
            @Html.Partial("_SubMenu")            
            @RenderSection("SubMenuSection", required: false)           
        </div>
    </div>
</header>
<section id="body" class="posrel">
    @RenderSection("featured", required: false)
    @using (Html.BeginMultipartForm("Upload", "Image", new Dictionary<string, object> { { "id", "imageUploadForm" } }))
    {
    }
    @RenderBody()
</section>
<footer>
    <div id="footer-container">
        <div class="centered">           
            @RenderSection("FooterSection", required: false)
            <div class="copyright">&copy; 2000&mdash;@DateTime.Now.Year <a style="color:#fff" href="http://wave-access.com/">WaveAccess</a>, @LocView.getLocalization("All_Rights_Reserved")</div> 

        </div>
    </div>
</footer>

@section metaInfo
{
    @RenderSection("metaInfo", required: false)
}

@section _LayoutSections
{
    @RenderSection("styles", required: false)
    @RenderSection("scripts", required: false)
}
