﻿@using WaveAccess.MyQuiz.WebUI.Helpers
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<header>
    @Html.Partial("Partials/Header")
    <div id="sub-menu-container">
        <div class="centered">
            @RenderSection("BeforeSubMenuSection", required: false)
            @Html.Partial("_SubMenu")
            @RenderSection("SubMenuSection", required: false)
        </div>
    </div>
</header>

<section id="body" class="@(ViewBag.IsGameScreen==true?"GameScreen":"")">
    @RenderSection("featured", required: false)
    @using (Html.BeginMultipartForm("Upload", "Image", new Dictionary<string, object> { { "id", "imageUploadForm" } }))
    {
    }
    @RenderBody()

</section>

@if (ViewBag.FooterToBottom != null && ViewBag.FooterToBottom)
{
    <script type="text/javascript">
        $(function () {
            $("#footer-container").addClass("footer-bottom-fixed");
        });
    </script>
}

@section afterMeta{
@RenderSection("afterMeta", required: false)
    }

@section metaInfo
{
    @RenderSection("metaInfo", required: false)
}

@section _LayoutSections
{
    @RenderSection("styles", required: false)
    @RenderSection("scripts", required: false)

    <script>
        $(document)
            .ajaxStart(function () {
                $(".ajaxLoader").show();
                $('#circleG').show();
            })
            .ajaxStop(function () {
                $(".ajaxLoader").hide();
                $('#circleG').hide();
            });
    </script>

}
