﻿@using WaveAccess.MyQuiz.WebUI.Helpers
@using System.Web.Optimization;
@using WaveAccess.EventGame.Common.CodeHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@LocView.getLocalization("Brand_Name")</title>
    <link type="image/x-icon" href="@Html.UrlCdn("~/favicon.ico")" rel="shortcut icon" />
    <link type="image/png" href="@Html.UrlCdn("~/favicon-16x16.png")" sizes="16x16" rel="icon" />
    <link type="image/png" href="@Html.UrlCdn("~/favicon-32x32.png")" sizes="32x32" rel="icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="true" />

    @RenderSection("afterMeta", required: false)
    @RenderSection("metaInfo", required: false)

    @Styles.Render(
        "~/Content/css", "~/Content/responsive",
        "~/Content/themes/base/css",
        "~/Content/tooltipster")
    @Scripts.Render("~/bundles/modernizr")


    @RenderSection("styles", required: false)

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryform")
    @Scripts.Render("~/bundles/jqueryui",
        "~/bundles/plugins",
        "~/bundles/countdown",
        "~/bundles/pages/common")


    @Scripts.Render("~/bundles/pages/controls")

    @Scripts.Render("~/bundles/jqueryMultiselect")
    @Scripts.Render("~/bundles/jqueryMultiselectFilter")
    @Scripts.Render("~/bundles/freshereditor")

    @Scripts.Render("~/bundles/tooltipster")
    <script type="text/javascript">
        $(function () {
            var defaultConfig = {
                distance: 0,
                trigger: 'custom',
                triggerOpen: {
                    mouseenter: true,
                    tap: true,
                    scroll: true
                },
                triggerClose: {
                    mouseleave: true,
                    tap: true,
                    scroll: true
                },
                maxWidth: 350,
                zIndex: 999
            };

            defaultConfig.theme = ['tooltipster-borderless', 'tooltipster-borderless-dark'];
            defaultConfig.interactive = true;
            $('.tooltip-dark-interactive').tooltipster(defaultConfig);
            defaultConfig.interactive = false;
            $('.tooltip-dark').tooltipster(defaultConfig);

            defaultConfig.theme = ['tooltipster-borderless', 'tooltipster-borderless-white'];
            defaultConfig.interactive = true;
            $('.tooltip-white-interactive').tooltipster(defaultConfig);
            defaultConfig.interactive = false;
            $('.tooltip-white').tooltipster(defaultConfig);
        });
    </script>

    @RenderSection("scripts", required: false)

    @RenderSection("_LayoutSections", false)

    <!--[if lt IE 9]>
            <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <![endif]-->
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
</head>
<body>

    @if (ShowInformationMessages)
    {
        @Html.Action("Messages", "Information")
    }

    @RenderBody()

    @*<i class="ajaxLoader"></i>
        <div id="circleG">
            <div id="circleG_1" class="circleG"></div>
            <div id="circleG_2" class="circleG"></div>
            <div id="circleG_3" class="circleG"></div>
        </div>*@

    @if (ViewBag.HideFooter != true && (!Request.RawUrl.InvariantContainsUi("Game")) && (!Request.RawUrl.InvariantContainsUi("Account")) && (!Request.RawUrl.InvariantContainsUi("Admin")) && (!Request.RawUrl.InvariantContainsUi("PrivacyPolicy")) && (!Request.RawUrl.InvariantContainsUi("Profile")) && (!Request.RawUrl.InvariantContainsUi("Edit")) && (!Request.RawUrl.InvariantContainsUi("Create")))
    {
        @Html.Partial("Partials/Footer")
    }

    <div class="infoPopup blueBg" style="display: none;">
        <div class="infoPopupInner">

        </div>
    </div>


    @Html.Partial("Analytics/AnalyticsView")
    @Scripts.Render("~/bundles/plugins/momentjs")
    @Scripts.Render("~/Scripts/ion.calendar.js")
    @Scripts.Render("~/Scripts/Plugins/ConnectionSpeed/lib/require/require.js")
    @Scripts.Render("~/Scripts/Plugins/ConnectionSpeed/lib/require/require-config.js")
</body>
</html>
