﻿@model WaveAccess.MyQuiz.WebUI.Models.LoginModel
<link rel="stylesheet" href="~/Content/main/common.css" />
<link href="~/Content/responsive-v2.css" rel="stylesheet" />

    @using (Html.BeginForm("Login", "Account", new { quizCode = ViewBag.quizCode }, FormMethod.Post, new { id = "Register" }))
    {
        <div id="login-form-container" class="centered">
            <div class="sign-in-form clearfix">
                @*<h3 class="mus300"><img src="../../Images/logo.png" alt="" /> </h3>*@
                <div class="sign-in-form-line" style="text-align: left; margin-bottom: 20px;">
                    <span style="font-size: 24px; color: #efa923">@LocView.getLocalization("account.sign_in")</span>
                </div>
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                @Html.Hidden("returnUrl")
                @Html.Hidden("QuizId")
                <div class="sign-in-form-line">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div class="sign-in-form-line">
                    @Html.LabelFor(m => m.Password)
                    @Html.TextBoxFor(m => m.Password, "", new {type = "password", AUTOCOMPLETE = "OFF"})
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <div class="sign-in-form-line customCheck" style="padding: 15px 0 25px 0;">
                    @Html.CheckBoxFor(m => m.RememberMe, new {style = "padding: 10px;float: left;margin-top: -5px;"})
                    @Html.LabelFor(m => m.RememberMe, new {style = "font-size: 100%;padding:0 0 0 20px;line-height: 15px;"})

                    <a href="@Url.Action("ForgetPassword", "Account")" style="color: #FFFFFF; float: right; line-height: 15px;">
                        @LocView.getLocalization("forgot_password")
                    </a>
                </div>
                <button type="submit" class="basicButton basicButton--save basicButton--stretch" tabindex="0" id="signIn" name="userAction" value="signIn">@LocView.getLocalization("account.sign_in")</button>
            </div>
            <div class="privacy-policy sign-in-form clearfix">
                @LocView.getLocalization("MeetTerms")
                
                @if (!string.IsNullOrEmpty(LocView.getLocalization("MeetUserTerms")))
                {
                    @Html.ActionLink(LocView.getLocalization("MeetUserTerms"), "UserAgreement", new { Controller = "Home" }, new { target = "_blank" })
                    @LocView.getLocalization("And")   
                }

                @Html.ActionLink(LocView.getLocalization("MeetPrivacyPolicy"), "PrivacyPolicy", new { Controller = "Home" }, new { target = "_blank" })
                @LocView.getLocalization("Site")
            </div>
        </div>
    }

    <div class="or mobile" style="border:none;"><span>@LocView.getLocalization("or")</span></div>

    @Html.Partial("_ExternalLoginsListPartial")

<div class="sign-in-form-footer mobile">
    <div style="margin: 18px auto;">
        <div>@LocView.getLocalization("Have_Not_Account_Yet")</div>
        <div>@Html.ActionLink(LocView.getLocalization("account.register"), "Register", "Account", new { quizCode = ViewBag.quizCode }, new { id = "btnRegSpeaker", @class= "basicButton basicButton--save basicButton--stretch" })</div>
    </div>

    <div class="privacy-policy" style="padding: 10px 0 10px 0;">
        @LocView.getLocalization("MeetTerms")
        
        @if (!string.IsNullOrEmpty(LocView.getLocalization("MeetUserTerms")))
        {
            @Html.ActionLink(LocView.getLocalization("MeetUserTerms"), "UserAgreement", new { Controller = "Home" }, new { target = "_blank" })
            @LocView.getLocalization("And")   
        }

        @Html.ActionLink(LocView.getLocalization("MeetPrivacyPolicy"), "PrivacyPolicy", new { Controller = "Home" }, new { target = "_blank" })
        @LocView.getLocalization("Site")
    </div>
</div>

<script type="text/javascript">
    var links = $('#btnRegister').click(function () {
        setTimeout(function () {
            if (links.hasClass('activated')) {
                links.removeClass('activated');
            } else {
                links.addClass('activated');
            }
        });
    });

    $(document.body).click(function () {
        links.removeClass('activated');
    });
</script>