﻿@using WaveAccess.MyQuiz.WebUI.Models
@{
    Layout = null;
    SubMenu model = ViewBag.SubMenu;
}

<ul id="sub-menu">@if (model != null)
{
    foreach(var menuItem in model.Items){
        var liCssClass = menuItem.IsCurrent ? "sub-menu-current-item" : "sub-menu-link-item";    
        <li class="@liCssClass">
        @if (menuItem.IsCurrent)
        {
            <span class="sub-menu-current-item-wrapper">@LocView.getLocalization(menuItem.Text)</span>
        }
        else
        {
            @Html.ActionLink(LocView.getLocalization(menuItem.Text), menuItem.Action, menuItem.Controller)             
        }           
        </li>
    }
}</ul>

