﻿@using WaveAccess.MyQuiz.WebUI.Helpers
@using System.Web.Optimization;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@LocView.getLocalization("Brand_Name")</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="true" />

    @Styles.Render("~/Content/site", "~/Content/responsive")

    @RenderSection("styles", required: false)

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/GameJS")

    @RenderSection("scripts", required: false)

    @RenderSection("_LayoutSections", false)
</head>
<body>
    @RenderBody()

    @if ((!Request.RawUrl.InvariantContainsUi("Game")) && (!Request.RawUrl.InvariantContainsUi("Account")) && (!Request.RawUrl.InvariantContainsUi("Admin")) && (!Request.RawUrl.InvariantContainsUi("PrivacyPolicy")) && (!Request.RawUrl.InvariantContainsUi("Profile")) && (!Request.RawUrl.InvariantContainsUi("Edit")) && (!Request.RawUrl.InvariantContainsUi("Create")))
    {
        @Html.Partial("Partials/Footer")
    }

    <div class="infoPopup blueBg" style="display: none;">
        <div class="infoPopupInner">

        </div>
    </div>

    @Html.Partial("Analytics/AnalyticsView")
</body>
</html>
