﻿@using WaveAccess.MyQuiz.WebUI.Helpers
@{
    Layout = "~/Views/Shared/Game_LayoutMain.cshtml";
}
<header>
    @Html.Partial("Partials/GameHeader")
    <div id="sub-menu-container">
        <div class="centered">
            @RenderSection("BeforeSubMenuSection", required: false)
            @Html.Partial("_SubMenu")            
            @RenderSection("SubMenuSection", required: false)           
        </div>
    </div>
</header>

<section id="body" class="@(ViewBag.IsGameScreen==true?"GameScreen":"")">
    @RenderSection("featured", required: false)
    @using (Html.BeginMultipartForm("Upload", "Image", new Dictionary<string, object> { { "id", "imageUploadForm" } }))
    {
    }
    @RenderBody()
</section>

@section _LayoutSections
{
    @RenderSection("styles", required: false)
    @RenderSection("scripts", required: false)
}
