﻿@import "../../../variables";

.RegisterForm {
    & .authButtonsFormSplitter {
        margin: 20 * $px -90 * $px;
        height: 1px;
        background-color: #E7E8E9;

        @media (max-width: $screen-xs-max) {
            margin: 20 * $px 0 * $px;
        }
    }
}