﻿@{
    Layout = "~/app/panel/auth/core/authLayout.cshtml";
}
@using WaveAccess.MyQuiz.WebUI.app.panel.auth.register.classic;
@using WaveAccess.MyQuiz.WebUI.app.panel.auth.register;
@model BaseRegisterViewModel

<div class="SignProcess__HeaderBlock">
    <div class="SignProcess__MainHeader">@register.SignUpForm__MainHeader</div>
    <div class="SignProcess__SubHeader">
        <div>@register.SignUpForm__SubHeader</div>
    </div>
</div>
<div class="SignProcess__FormBlock RegisterForm">
    <div class="SignProcess__SocialButtonsBlock">
        @{
            ViewBag.AuthButtonDisplayType = "classic";
        }
        @Html.Partial("~/app/panel/elements/authButtons/authButtonsForm_forRegister.cshtml", Model)
    </div>
    @Html.Partial("~/app/panel/auth/core/switchToSignInBlock.cshtml", Model)
</div>