﻿@using WaveAccess.MyQuiz.WebUI.app.panel.auth.register;
@model BaseRegisterViewModel

<div class="SignUpForm__UploadImageBlock">
    <div class="SignProcess__UploadImage"         
         data-crop-form="circle"
         data-thumb-width="81"
         data-original-path="@(Model.ImageOriginalPath)"
         data-thumb-path="@(Model.ImageThumbPath)">
        <img id="photo-image" src="@Html.UrlCdn("~/app/images/auth/upload_photo.png")" />
        @Html.HiddenFor(m => m.ImageId)
    </div>
</div>
@Html.HiddenFor(m => m.QuizCode)
@Html.HiddenFor(m => m.ReturnUrl)
@Html.HiddenFor(m => m.ParticipateRequest)
@Html.HiddenFor(m=> m.ImageUrlParameters.StorageName)
@Html.HiddenFor(m=> m.StorageImageId)
@Html.HiddenFor(m=> m.ImageUrlParameters.SecureToken)
@Html.HiddenFor(m => m.ImageUrlParameters.ContainerUrl)
@Html.HiddenFor(m=> m.IsDownloadedToStorage, new { id="isDownloadedToStorage"})
@Html.HiddenFor(m=> m.IsPhotoChanged, new {id="isPhotoChanged"})

@Html.HiddenFor(m => m.DisplayFirstName)
@if (Model.DisplayFirstName)
{
    <div class="InputText">
        @Html.TextBoxFor(m => m.FirstName, new { autofocus = "true", @class = "trim-input" })
        @Html.LabelFor(m => m.FirstName)
        <line></line>
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
}
else
{
    @Html.HiddenFor(m => m.FirstName)
}

@Html.HiddenFor(m => m.DisplayLastName)
@if (Model.DisplayLastName)
{
    <div class="InputText">
        @Html.TextBoxFor(m => m.LastName, new { @class = "trim-input" })
        @Html.LabelFor(m => m.LastName)
        <line></line>
        @Html.ValidationMessageFor(m => m.LastName)
    </div>
}
else
{
    @Html.HiddenFor(m => m.LastName)
}

@Html.HiddenFor(m => m.DisplayNickName)
@if (Model.DisplayNickName)
{
    <div class="InputText">
        @Html.TextBoxFor(m => m.NickName, new { autofocus = "true", @class = "trim-input" })
        @Html.LabelFor(m => m.NickName)
        <line></line>
        @Html.ValidationMessageFor(m => m.NickName)
    </div>
}
else
{
    @Html.HiddenFor(m => m.NickName)
}

@Html.HiddenFor(m => m.CompanyName)


@Html.HiddenFor(m => m.DisplayEmail)
@if (Model.DisplayEmail)
{
    <div class="InputText">
        @Html.TextBoxFor(m => m.Email, new { @class = "trim-input" })
        @Html.LabelFor(m => m.Email)
        <line></line>
        @Html.ValidationMessageFor(m => m.Email)
    </div>
}
else
{
    @Html.HiddenFor(m => m.Email)
}

@Html.HiddenFor(m => m.DisplayPassword)
@if (Model.DisplayPassword)
{
    <div class="InputText">
        @Html.PasswordFor(m => m.Password, new { value = Model.Password })
        @Html.LabelFor(m => m.Password)
        <line></line>
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    <div class="InputText">
        @Html.PasswordFor(m => m.ConfirmPassword, new { value = Model.ConfirmPassword })
        @Html.LabelFor(m => m.ConfirmPassword)
        <line></line>
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>
}