﻿@{
    Layout = "~/app/panel/auth/core/authLayout.cshtml";
}
@using WaveAccess.MyQuiz.Services.Azure.Enums
@using WaveAccess.MyQuiz.WebUI.app.core;
@using WaveAccess.MyQuiz.WebUI.app.panel.auth.register.classic;
@using WaveAccess.MyQuiz.WebUI.app.panel.auth.register;
@model BaseRegisterViewModel

@section js{
    @if (Model.IsRecaptchaEnabled)
    {
        <script src='https://www.google.com/recaptcha/api.js' async defer></script>
        <script type="text/javascript">
            function onRecaptchaValidated(token) {
                signUpModule.OnRecaptchaValidated(token);
            }
        </script>
    }
    <script type="text/javascript">
        signUpModule.Init(@Model.IsRecaptchaEnabled.ToString().ToLower());

        $(function() {
            $('#registrationForm .trim-input').change(function() {
                $(this).val($.trim($(this).val()));
            });

            $('#registrationForm .trim-input').bind('paste',
                function(e) {
                    e.stopPropagation();
                    e.preventDefault();
                    var text = e.originalEvent.clipboardData.getData('text');
                    $(this).val($.trim(text));
                });
        });
    </script>

    <script>
        $(document).ready(function() {
            var photoElement = $('.SignProcess__UploadImage');
            var photoImage = $('#photo-image');
            uploadImageModule.Init(photoElement,
                new uploadToStorageStrategy(
                    '@Html.Raw(Model.ImageUrlParameters.ContainerUrl)',
                    '@Html.Raw(Model.ImageUrlParameters.SecureToken)',
                    '@Html.Raw(Model.ImageUrlParameters.StorageName)',
                    '@Model.StorageImageId',
                    photoImage,
                    $('#isDownloadedToStorage')), null, $('#isPhotoChanged'));
        });

    </script>
}
@Html.Partial("~/app/core/elements/uploadImage/cropImageModal.cshtml")

<div class="SignProcess__HeaderBlock">
    <div class="SignProcess__MainHeader">@signup.SignUpForm__MainHeader</div>
    <div class="SignProcess__SubHeader">
        <div>@Html.Raw(signup.SignUpForm__SubHeader)</div>
    </div>
</div>
<div class="SignProcess__FormBlock SignUpForm">
    <div class="SignUpForm__MainBlock">
    @if (Model.AuthTypes.IsEmailAuthTypeAvailable)
    {
        using (Html.BeginForm(null, null, Model.GetQueryParams(), FormMethod.Post, new { id = "registrationForm" }))
        {
            @Html.Partial("~/app/panel/auth/register/classic/signup_form.cshtml")
            if (Model.IsRecaptchaEnabled)
            {
                if (!Model.IsRecaptchaValid)
                {
                <div class="alert alert-warning">@validationMessages.Error__Recaptcha</div>
                }
                <div class="g-recaptcha"
                     data-sitekey="@Model.RecaptchaKey"
                     data-callback="onRecaptchaValidated"
                     data-size="invisible">
                </div>
            }
            <button id="SignProcess__SignUpButton"
                    class="btn btn-primary SignProcess__Button"
                    type="submit">@signup.SignUp</button>
        }
    }
    </div>
    @Html.Partial("~/app/panel/auth/core/switchToSignInBlock.cshtml", Model)
</div>