﻿@import "../../../variables";

.SignUpForm {

    & &__MainBlock {

        @media (max-width: $screen-xs-max) {
            position: relative;
            padding-top: 20 * $px;
        }
    }

    & &__UploadImageBlock {
        margin-bottom: 40 * $px;
        text-align: center;


        @media (max-width: $screen-xs-max) {
            top: -65 * $px;
            position: absolute;
            width: 100%;
        }
    }
}