﻿@import "../../variables";

.LoginForm {

    &__RememberMeBlock {
        margin-bottom: 40 * $px;

        @media (max-width: 360px) {
           margin-bottom: 30 * $px;
        }
    }

    &__ForgotPasswordLink {
        color: #A6A6A6;
    }

    &__OrSignInWith {
        margin-top: 25 * $px;
        margin-bottom: 15 * $px;
        text-align: center;
        font-size: 14 * $px;
        color: #666;
    }

    &__Footer {
        margin-top: 30*$px;
        text-align: center;
    }
}