﻿@{
    Layout = "~/app/panel/auth/core/authLayout.cshtml";
}
@using WaveAccess.MyQuiz.WebUI.app.panel.auth.core;
@using WaveAccess.MyQuiz.WebUI.app.panel.elements.authButtons;
@using WaveAccess.MyQuiz.WebUI.app.panel.auth.login;
@model LoginViewModel

<div class="SignProcess__HeaderBlock">
    <div class="SignProcess__MainHeader">@authMain.SignInForm__MainHeader</div>
    <div class="SignProcess__SubHeader">
        @if (Model.AuthTypes.IsEmailAuthTypeAvailable)
        {
            @Html.Raw(login.SignInForm__SubHeader)
        }
    </div>
</div>
<div class="SignProcess__FormBlock LoginForm">
    @if (Model.AuthTypes.IsEmailAuthTypeAvailable)
    {
        if (Model.EmailOrPasswordIncorrect)
        {
        <div class="alert alert-danger">@login.LoginProcess__Error__Failed</div>
        }
        using (Html.BeginForm())
        {
        @Html.HiddenFor(m => m.QuizCode)
        @Html.HiddenFor(m => m.ReturnUrl)
        @Html.HiddenFor(m => m.ParticipateRequest)
        <div class="InputText">
            @Html.TextBoxFor(m => m.Email, new { autofocus = "true" })
            @Html.LabelFor(m => m.Email)
            <line></line>
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="InputText">
            @Html.PasswordFor(m => m.Password, new { value = Model.Password })
            @Html.LabelFor(m => m.Password)
            <line></line>
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="LoginForm__RememberMeBlock grid">
            <div class="cell cell--50">
                <div class="InputCheckbox">
                    @Html.CheckBoxFor(m => m.RememberMe)@Html.LabelFor(m => m.RememberMe, new { @class= " text--small" })
                </div>
            </div>
            <div class="cell cell--50 text--small cell--right">
                <a href="@Url.Action("ForgotPassword", Model.GetQueryParams())" class="LoginForm__ForgotPasswordLink">@login.ForgotPassword</a>
            </div>
        </div>
        <button class="btn btn-primary SignProcess__Button" type="submit">@login.SignIn</button>
        }
    }
    @if (Model.AuthTypes.IsSocialNetworkAuthAvailable)
    {
        if (!Model.AuthTypes.IsEmailAuthTypeAvailable)
        {
        <div class="SignProcess__SocialButtonsBlock">
            @{
                ViewBag.AuthButtonDisplayType = "classic";
            }
            @Html.Partial("~/app/panel/elements/authButtons/authButtonsForm_social.cshtml")
        </div>
        }
        else
        {
        <div class="LoginForm__OrSignInWith">
            <span>@login.OrSignInWith</span>
        </div>
        <div class="SignProcess__SocialButtonsBlock text--center">
            @{
                ViewBag.AuthButtonDisplayType = "small";
            }
            @Html.Partial("~/app/panel/elements/authButtons/authButtonsForm_social.cshtml")
        </div>
        }
    }
@Html.Partial("~/app/panel/auth/core/switchToSignUpBlock.cshtml", Model)
</div>