﻿@model  WaveAccess.MyQuiz.WebUI.TestimonialViewModel

@{
    var language = string.IsNullOrEmpty(Model.Language) ? "ru" : Model.Language.ToLower();
    var modalTitle = Model.Id == 0 ? LocView.getLocalization("Testimonial_Modal_Title_New") : LocView.getLocalization("Testimonial_Modal_Title_Edit");
}

@Html.AntiForgeryToken()
@Html.ValidationSummary(true)
@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m=>m.UseEnglishOnly)

<div class="modal__table testimonialModal__table">
    <div class="modal__tableRow">
        <div class="modal__tableCell">
            <div class="modal__header">
                <span>@modalTitle</span>
                <span class="modal__closeCross" close-popup></span>
            </div>
            <div class="modal__body">
                <div class="testimonialEditLayout__col">
                    <div class="editor-label editor-label-required">@Html.LabelFor(m => m.UserName)</div>
                    <div class="editor-field">
                        @Html.EditorFor(m => m.UserName)
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                <div class="testimonialEditLayout__col">
                    <div class="editor-label editor-label-required">@Html.LabelFor(m => m.UserPosition)</div>
                    <div class="editor-field">
                        @Html.EditorFor(m => m.UserPosition)
                        @Html.ValidationMessageFor(m => m.UserPosition)
                    </div>
                </div>

                <div class="testimonialEditLayout__col">
                    <div class="editor-label editor-label-required">@Html.LabelFor(m => m.Text)</div>
                    <div class="editor-field">
                        @Html.TextAreaFor(m => m.Text, new {rows = 5})
                        @Html.ValidationMessageFor(m => m.Text)
                    </div>
                </div>
                @if (!Model.UseEnglishOnly)
                {
                    <div class="editor-label">@Html.LabelFor(m => m.Language)</div>
                    <div class="editor-field radios">
                        <input type="radio" class="radio" id="radio-show-yes" name="Language" value="false" checked="@language.ToLower().Equals("en")" />
                        <label for="radio-show-yes">@LocView.getLocalization("En")</label>

                        <input type="radio" class="radio" id="radio-show-no" name="Language" value="true" checked="@language.ToLower().Equals("ru")" />
                        <label for="radio-show-no">@LocView.getLocalization("Ru")</label>
                    </div>   
                }

                <div>
                    <a class="basicButton basicButton--cancel" close-popup>@LocView.getLocalization("Cancel")</a>
                    <input type="button" class="basicButton basicButton--save" value="@LocView.getLocalization("Save")" id="saveTestimonial" />
                    <div id="testimonialAction__Progress" style="display: none;" class="basicButton basicButton--loader">
                        <div id="testimonial-loader">
                            <i class="testimonial-circle"></i>
                            <i class="testimonial-circle"></i>
                            <i class="testimonial-circle"></i>
                            <i class="testimonial-circle"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal__footer">
            </div>
        </div>
    </div>
</div>