﻿@using PagedList.Mvc
@model  WaveAccess.MyQuiz.WebUI.Models.TestimonialModel

@Html.AntiForgeryToken()
@Html.ValidationSummary()

<script src="@Html.UrlCdn("~/Scripts/main/admin/admin.testimonials.list.js")"></script>
<link href="~/Content/main/admin.testimonial.list.css" rel="stylesheet" />
<link href="~/Content/lecture.css" rel="stylesheet" />
<link href="~/Content/main/lectures.list.css" rel="stylesheet" />

<div id="testimonialModal" class="modal modal--close"></div>
<form id="form" onsubmit="return searchValidate()">
    <div class="mainContentLayout centered">
        <div class="searchBlock">
            <div>
                <table class="searchBlock__table">
                    <tr>
                        <td class="countContainer desktop">
                            <div>@Model.TestimonialList.Count</div>
                        </td>
                        <td class="desktop" style="color:white;vertical-align:middle;width:0px;width: 1px;padding-right: 24px;"></td>
                        <td>
                            <input class="searchBlock__input text-box single-line"
                                   id="search"
                                   name="search"
                                   type="text"
                                   value="@Model.Search">
                        </td>
                        <td class="desktop @(string.IsNullOrEmpty(Model.Search)?"search":"close")" style="vertical-align:middle; width:1px;padding-left:9px;">
                            <div id="closeButton" class="searchBlock__closeButton closeButton" onclick="$('input#search').val(''); $(this).parents('form')[0].submit();"></div>
                            <div id="searchButton" class="searchBlock__searchButton searchButton" onclick="searchSubmit($(this).parents('form')[0]);"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="countContainer mobile" style="padding-bottom:20px;">
            <div style="float:left">@Model.TestimonialList.Count()</div>
            <span></span>
        </div>
        <div class="gridTimeLineStart" id="createButtonContainer">
            <a class="gridTimeLineStart__createButton">_</a>

            <a class="inlineTextButton inlineTextButton--add">
                @LocView.getLocalization("Testimonial_Create_New")
            </a>

        </div>
        <div class="gridTimeLine" id="testimonial-list-container">
            @foreach (var testimonial in Model.Testimonials)
            {
                @Html.DisplayFor(l => testimonial, "TestimonialListItem")
            }
        </div>

        @if (AuthHelper.IsAdmin)
        {
            <div class="paginator centered">
                @Html.PagedListPager(Model.Testimonials, page => Url.Action("List", new { testimonialPage = page, Search = Model.Search }), new PagedListRenderOptions() { MaximumPageNumbersToDisplay = 7 })
            </div>
        }
    </div>
</form>
@section Scripts{
    <script type="text/javascript">
        var global_localization_Testimonials = "@LocView.getLocalization("Testimonials")";
        var global_localization_Testimonial = "@LocView.getLocalization("Testimonial")";
        var global_localization_Many_Testimonials = "@LocView.getLocalization("Many_Testimonials")";
        var global_localization_Testimonial_New = "@LocView.getLocalization("Testimonial_Modal_Title_New")";
        var global_localization_Testimonial_Edit = "@LocView.getLocalization("Testimonial_Modal_Title_Edit")";

        function searchSubmit(form) {
            if (form && searchValidate()) {
                form.submit();
            }
        }

        function searchValidate() {
            if ($('input#search') && !!jQuery.trim($('input#search').val())) {
                return true;
            }

            return false;
        }
    </script>
}