﻿@import "variables";
@import "auth/core/authLayout.scss";
@import "auth/register/classic/register.scss";
@import "auth/register/classic/signup.scss";
@import "auth/register/introduce/introduce.scss";
@import "auth/register/extraInfo/extraInfo.scss";
@import "auth/login/login.scss";
@import "elements/input/text.scss";
@import "elements/input/checkbox.scss";
@import "elements/authButtons/authButtons.scss";
@import "checkRequirements.scss";

html {
    font-size: $html_font_size;
    @media (min-width: $screen-xs-min) and (max-height: 800px)  {
        font-size: 14px;
    }
    @media (min-width: $screen-xs-min) and (max-height: 600px)  {
        font-size: 12px;
    }
}
body {
    background-color: #5B6EC3;
}

.layout {
    min-height:100vh;
    display: flex;
    flex-flow: column;
    flex-grow:1;
}

