﻿@import "../../variables";


//Hide recaptcha
.grecaptcha-badge {
    display: none;
}

.layout__SignProcessBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    @media (max-width: $screen-xs-max) {
        align-items: baseline;
        background-color: #F0F2F4;
    }
}

.SignProcess {
    width: 652 * $px;
    margin-top: 40 * $px;
    margin-bottom: 40 * $px;

    @media (max-width: $screen-xs-max) {
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
    }

    &__Button {
        width: 100%;
    }

    &__HeaderBlock {
        text-align: center;
        color: #FFF;
        font-weight: 300;
        margin-bottom: 40 * $px;
        background-color: #5B6EC3;

        @media (max-width: $screen-xs-max) {
            margin-bottom: 0 * $px;
        }
    }

    &__MainHeader {
        font-size: 44 * $px;
        margin-bottom: 20 * $px;

        @media (max-width: $screen-xs-max) {
            font-size: 30 * $px;
            margin-bottom: 0 * $px;
            height: 139 * $px;
            line-height: 139 * $px;
        }
    }

    &__SubHeader {
        font-size: 18 * $px;

        @media (max-width: $screen-xs-max) {
            display: none;
        }
    }

    &__FormBlock {
        background-color: #fff;
        padding: 60 * $px 146 * $px;
        border-radius: 4 * $px;
        box-shadow: #5365B2 0px 10px 20px;

        @media (max-width: $screen-xs-max) {
            padding: 30 * $px 35 * $px;
            border-radius: 0 * $px;
            box-shadow: none;
        }
    }

    &__SwitchBlock {
        text-align: center;
        padding-top: 40 * $px;
    }

    &__FooterBlock {
        text-align: center;
        color: #FFF;
        font-size: 12 * $px;
        margin: 22 * $px 20 * $px;

        @media (max-width: $screen-xs-max) {
            color: #000;
        }

        & a {
            color: #fff;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }

            @media (max-width: $screen-xs-max) {
                color: #5B6EC3;
            }
        }
    }

    &__BetweenWords {
        margin-top: 40 * $px;
        margin-bottom: 40 * $px;
        text-align: center;
        font-size: 14 * $px;
        color: #666;
    }

    &__UploadImage {
        display: inline-block;
        width: 68 * $px;
        height: 68 * $px;
        background-color: #fff;
        cursor: pointer;

        @media (max-width: $screen-xs-max) {
            width: 82 * $px;
            height: 82 * $px;
            border: solid 6px #fff;
            border-radius: 50%;
        }

        & > img {
            width: 68 * $px;
            height: 68 * $px;
            border-radius: 50%;
            object-fit: cover;
        }

        &:focus, &:hover {
            transform: scale(1.1, 1.1);
            transition: transform .2s ease;
        }
    }
}

.grid {
    display: flex;

    @media (max-width: 360px) {
        display:block;
    }
    & > .cell {
        display: flex;
        align-items:center;

        @for $i from 1 through 10 {
            &--#{$i * 10} {
                width: 10% * $i;
            }
        }

        @media (max-width: 360px) {
           display:block;
           width: 100%!important;
           padding-bottom: 10px;
        }

        &--right {
            justify-content:flex-end;
        }

    }
}
