﻿@using WaveAccess.MyQuiz.WebUI.app.panel.auth.core
@model WaveAccess.MyQuiz.WebUI.app.core.BaseViewModel

@{
	Layout = "~/app/core/layout.cshtml";
}

@section css{
	@Styles.Render("~/Content/css_new/panel")
	@RenderSection("css", false)
}

@section js{
	@Scripts.Render("~/bundles/js_new/panel")
	@RenderSection("js", false)
}

@section metaInfo{
	<meta name="description" content="@Model.Description" />
	<meta name="keywords" content="@Model.Keywords" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta itemprop="name" content="@Model.Title">
	<meta itemprop="description" content="@Model.Description">
	@RenderSection("metaInfo", false)
}

<div class="layout__SignProcessBlock">
	<div class="SignProcess">
		@RenderBody()
		<div class="SignProcess__FooterBlock">
			@authMain.Register__Intro
			<a href="@Url.Action("UserAgreement", "Home")" target="_blank">@authMain.Register__UserAgreement</a>
			@authMain.Register__And
			<a href="@Url.Action("PrivacyPolicy", "Home")" target="_blank">@authMain.Register__PrivacyPolicy</a>
		</div>
	</div>
</div>