﻿@using WaveAccess.MyQuiz.WebUI.app.panel.auth.core;
@model AuthTypesContainerViewModel

@if (Model.AuthTypes.IsEmailAuthTypeAvailable)
{
<div class="SignProcess__SwitchBlock">
    @authMain.BackToSignIn__AlreadyHaveAnAccount
    <a href="@Url.Action("Login", "Account", Model.GetQueryParams())">@authMain.BackToSignIn__SignIn</a>
</div>
}
