﻿@using WaveAccess.MyQuiz.WebUI.app.panel.auth.core;
@model AuthTypesContainerViewModel

@if (Model.AuthTypes.IsEmailAuthTypeAvailable)
{
    <div class="SignProcess__SwitchBlock">
        @authMain.BackToSignUp__DoNotHaveAccount
        <a href="@Url.Action("Register", Model.GetQueryParams())">@authMain.BackToSignUp__SignUp</a>
    </div>
}