﻿@model List<WaveAccess.MyQuiz.DAL.QuizRequirements.QuizRequirements>
@{
    Layout = "~/app/core/layout.cshtml";
}

@section css{
    @Styles.Render("~/Content/css_new/panel")
}

@section js{
    <script>
        $(document).ready(function () {
            $.ajax({
                dataType: 'json',
                type: 'POST',
                url: '/Game/CheckRequirements',
                data: { quizCode:'@ViewBag.quizCode' },
                success: function (response) {
                    if (response.result) {
                        window.location.href = '@Url.Action("QuizCode")?quizCode=@ViewBag.quizCode';
                    } else {
                        $.each(response.data, function(i, item) {
                            $('#group-id-' + item+' span').show();
                        });
                        $('#player-in-group-wait').hide();
                        $('#player-in-group-error-message').show();
                    }
                }
            });
        });
    </script>
}

<div class="layout__SignProcessBlock">
    <div class="SignProcess">
        <div class="SignProcess__HeaderBlock">
            <div class="SignProcess__MainHeader">@LocView.getLocalization("Quiz_Requirements_MainHeader")</div>
            <div class="SignProcess__SubHeader">@LocView.getLocalization("Quiz_Requirements_SubHeader")</div>
        </div>
        <div class="SignProcess__FormBlock player-in-group">
           @foreach (var item in Model)
           {
               <div id="group-id-@item.Id" class="group">
                   <span class="icon-double-tick-indicator"></span>
                   <div class="group-text">
                       <div class="player-in-group-head">@LocView.getLocalization("Quiz_Requirements_GroupHeader")</div>
                       <div class="player-in-group-value"><a target="_blank" href="@item.Value">@item.Value</a></div>
                   </div>
               </div>
           }
            <div class="player-in-group-border"></div>
            
            <div id="player-in-group-wait">
                <div id="floatingBarsG">
                    <div class="blockG" id="rotateG_01"></div>
                    <div class="blockG" id="rotateG_02"></div>
                    <div class="blockG" id="rotateG_03"></div>
                    <div class="blockG" id="rotateG_04"></div>
                    <div class="blockG" id="rotateG_05"></div>
                    <div class="blockG" id="rotateG_06"></div>
                    <div class="blockG" id="rotateG_07"></div>
                    <div class="blockG" id="rotateG_08"></div>
                </div>
                <span>@LocView.getLocalization("Quiz_Requirements_WaitText")</span>
            </div>
            <div id="player-in-group-error-message">
                <div>@LocView.getLocalization("Quiz_Requirements_ErorText")</div>
                @using (Html.BeginForm("QuizCode", "Game", new { quizCode = @ViewBag.quizCode }, FormMethod.Post,null ))
                {
                    <button class="btn btn-primary player-in-group-button" type="submit">@LocView.getLocalization("Quiz_Requirements_TryButton")</button>
                }
            </div>
        </div>
    </div>
</div>
