﻿@using PagedList.Mvc
@model WaveAccess.MyQuiz.WebUI.Models.ModerationModel

@Html.AntiForgeryToken()
@Html.ValidationSummary()
<link href="~/Content/lecture.css" rel="stylesheet" />
<style>
    .verivalLine, #lecture-list {
        background-image: none !important;
    }


    #startquiz {
        display: none;
    }

    .buttonContainer {
        max-width: 153px;
    }

    #lecture-list .verivalLine:nth-child(1) {
        padding: 40px 0 !important;
    }
    .deleteQuiz {
        /* margin-left: 19px; */
        height: 100%;
        background-image: url(/Images/ban-ico.png);
        background-repeat: no-repeat;
        background-position: center;
    }
</style>
<script>
    function onSearchChange() {
        $('.closeButton').parent().addClass('search').removeClass('close');
    }
</script>
<t>
    <div id="lecture-list" class="centered">
        <div class="searchPanel">
            <div>
                @using (Html.BeginForm("Moderation", "Game", new { hostId = Model.HostId }, FormMethod.Get))
                {
                    @Html.Hidden("hostId", Model.HostId)
                    <table>
                        <tr>
                            <td class="countContainer desktop">
                                <div>@Model.PlayersCount</div>
                            </td>
                            <td class="desktop" style="color: white; vertical-align: middle; width: 0px; width: 1px; padding-right: 24px;"></td>
                            <td>
                                <input onkeydown="onSearchChange()" onkeypress="onSearchChange()" class="text-box single-line" id="search" name="search" type="text" value="@Model.Search">
                            </td>
                            <td class="desktop @(string.IsNullOrEmpty(Model.Search) ? "search" : "close")" style="vertical-align: middle; width: 1px; padding-left: 9px;">
                                <div class="closeButton" onclick="$('input#search').val(''); $(this).parents('form')[0].submit();"></div>
                                <div class="searchButton" onclick="$(this).parents('form')[0].submit();"></div>
                            </td>

                        </tr>
                    </table>
                }
            </div>
        </div>
        <div class="countContainer mobile">
            <div style="float:left;width:auto;padding: 0px 5px;">@Model.PlayersCount</div>
            <span>

            </span>

        </div>

        @{
            DateTime date = DateTime.MinValue;
            <div style="display: none; padding: 20px; text-align: center; color: white;" id="UserChange"></div>

            foreach (var player in Model.Players)
            {
                @Html.DisplayFor(m => player, "UsersListModerationItem")

            }
        }
        <div class="paginator centered">
            @Html.PagedListPager(Model.Players, page => Url.Action("Moderation", new {
               hostId = Model.HostId,
               usersPage = page, Search = Model.Search }),
               new PagedListRenderOptions() { MaximumPageNumbersToDisplay = 7 })
        </div>
    </div>
</t>

@section Scripts{
    <script type="text/javascript">
        function deleteUser($this) {
            var $entityCount = $('.countContainer div');
            var id = $this.data('userId');
            $.ajax({
                url: "/Account/DeleteUserFromQuiz/",
                data: { id: id, hostId: '@Model.HostId' },
                success: function(result) {
                    if (result.success) {
                        totalCount--;
                        $this.closest('.verivalLine').remove();
                        $entityCount.text(result.usersCount);
                    } else
                        console.log(result.message);
                },
                error: function() {}
            });

            return false;
        }


        var totalCount = @Model.PlayersCount;
        function getCount(){
            setTimeout(function(){
                $.ajax({
                    url: '@Url.Action("ModerationCount", new {hostId = Model.HostId})',
                    type: 'POST',
                    data: {},
                    success: function(data) {
                        if(data.count !== totalCount) {
                            var diff = data.count - totalCount;
                            var updatedCountText = '@LocView.getLocalization("CountIsChange")'.replace('{count}', diff);
                            $('#UserChange').text(updatedCountText);
                            $('#UserChange').show();
                        }
                        getCount();
                    }
                });

            },3000);
        }

        $(document)
            .ready(function() {
                getCount();
                $('.countContainer div')
                    .each(function() {

                        var $this = $(this);
                        var titleDesktopContainer = $this.parent().next('td');
                        var titleMobileContainer = $this.next('span');
                        var iCount;
                        var count = $this.text() % 100;
                        if (count >= 11 && count <= 19) {
                            titleDesktopContainer.append("@LocView.getLocalization("Users")");
                            titleMobileContainer.append("@LocView.getLocalization("Users")");
                        } else {
                            iCount = count % 10;
                            switch (iCount) {
                                case (0):
                                    titleDesktopContainer.append("@LocView.getLocalization("Users")");
                                    titleMobileContainer.append("@LocView.getLocalization("Users")");
                                    break;
                                case (1):
                                    titleDesktopContainer.append("@LocView.getLocalization("User")");
                                    titleMobileContainer.append("@LocView.getLocalization("User")");
                                    break;
                                case (2):
                                case (3):
                                case (4):
                                    titleDesktopContainer.append("@LocView.getLocalization("Many_Users")");
                                    titleMobileContainer.append("@LocView.getLocalization("Many_Users")");
                                    break;
                                default:
                                    titleDesktopContainer.append("@LocView.getLocalization("Users")");
                                    titleMobileContainer.append("@LocView.getLocalization("Users")");
                                    break;
                            }
                        }
                    });
            });

        function ShowError(element) {
            $(element).parent().children('span').fadeIn('fast').addClass('start-quiz-error');
            $(element).parent().next('span').fadeIn('fast').addClass('start-quiz-error');
            $(element).removeAttr('href');
        };
    </script>
}