﻿@model WaveAccess.MyQuiz.WebUI.Models.QuizCode

@{
    ViewBag.Title = "Quiz Code";
}

<style>
    .enter-code-line {
        margin: 0 auto !important;
        position: relative;
        height: auto !important;
        width: 30%;
    }

    body {
        text-align: center;
    }

    #body {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 60px;
        width: 100%;
    }

    #code-form-container {
        position: relative;
    }

    #code-form-container .enter-code-form .field-validation-error {
        background-color: #E6E9EE;
        color: #2C4358;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        top: -3px;
    }

    .validation-summary-errors {
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

        .validation-summary-errors ul {
            width: 100%;
        }

            .validation-summary-errors ul li {
                text-align: left;
                font-size: 14px;
                font-weight: 600;
                display: inline-block;
                top: 0;
                left: 0;
                width: 100%;
            }

            #code-form-container .enter-code-line .input-validation-error + input[type="number"] {
                border: 1px solid #d78686;
            }

    #code-form-container .enter-code-form h3 {
        color: #F6F7F8;
        margin-bottom: 3px;
    }

    #code-form-container .enter-code-line input {
        text-align: center;
        border: 0px;
        color: #F6F7F8;
        background-color: rgba(0, 0, 0, 0.18);
        height: 35px !important;
        border-radius: 4px;
    }

   
    #code-form-container .enter-code-form .field-validation-error {
        background-color: #E6E9EE;
        color: #2C4358;
        top: 8px;
        right: 3px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    #code-form-container .enter-code-line input[type="number"] {
        border: 1px solid #b7b7b7;
        padding: 0 2% 0 2%;
        height: 18px;
        margin: 30px 0 5px 0;
        font-size: 20px; 
        width: 100%;
    }

    #code-form-container .enter-code-line input[type="number"].input-validation-error {
        border: 1px solid #d78686;
    }
</style>


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/js_new/panel")
    <script>
        $(document).ready(function () {
            Controls.onCkeckDeviceModel();
        });
    </script>
}

<link rel="stylesheet" href="~/Content/responsive-v2.css" />
<link rel="stylesheet" href="~/Content/main/common.css" />

<table id="table" style="width: 100%; height: 100%;">
    <tr>
        <td style="vertical-align: middle;">
            @using (Html.BeginForm("QuizCode", "Game", FormMethod.Post, new { id = "QuizCodeForm" }))
            {
                <div id="code-form-container" class="centered">
                    <div class="enter-code-form clearfix">
                        @Html.AntiForgeryToken()
                        <h3>@LocView.getLocalization("Enter_Code")</h3>
                        <div class="enter-code-line">
                            <input type="hidden" class="@ViewBag.ErrorValidationClass"/>
                            @Html.TextBoxFor(m => m.quizCode, new {type = "number"})
                            @Html.ValidationSummary()
                            <br>
                            <button class="basicButton basicButton--save" style="width:100%" tabindex="1" id="btnPlay" name="userAction" value="@LocView.getLocalization("Join")" type="submit">@LocView.getLocalization("Join")</button>
                        </div>
                    </div>
                </div>
            }
        </td>
    </tr>
</table>