﻿@using WaveAccess.MyQuiz.WebUI.Models
@model WaveAccess.MyQuiz.WebUI.Models.QuizCodeWaitStartViewModel

@section Scripts
{
    <script type="text/javascript">
        var global_QuizCodeWaitStartCheck_url = '@Url.Action("QuizCodeWaitStartCheck", "Game", new { quizCode = Model.QuizCode })';
    </script>
    @Scripts.Render("~/Content/quizcode/waitstart/js")
}
@section styles
{
    @Styles.Render("~/Content/quizcode/waitstart/css")
}

@if (AuthHelper.IsAuthenticated)
{
    <form id="redirectToConnectForm"
          method="post"
          action="@Url.Action("QuizCode", "Game")"
          class="hidden">
        <input type="hidden" name="quizCode" value="@Model.QuizCode" />
    </form>
}
else
{
    <form id="redirectToConnectForm"
          method="get"
          action="@Url.Action("IntroduceYourself", "Account")"
          class="hidden">
        <input type="hidden" name="quizCode" value="@Model.QuizCode" />
    </form>
}
<div class="Layout">
    <div class="Layout_row">
        <div class="Layout_cell">
            <div class="QuizInfo">
                <div class="QuizInfo__TextBlock">
                    <div class="QuizInfo__Theme">@Model.Theme</div>
                    <div class="QuizInfo__Description">@Model.Description</div>
                </div>
                @if (Model.Image != null)
                {
                    if (Model.Image.MediaType == WaveAccess.MyQuiz.Common.Enums.MediaType.Video.ToString())
                    {
                        <div class="QuizInfo__ImageBlock">
                            <div class='frameContainer'>
                                <iframe src='@Url.YoutubeVideo(Model.Image, new YouTubePlayerParam(){AutoPlay = 0})' allowfullscreen='allowfullscreen' mozallowfullscreen='mozallowfullscreen' msallowfullscreen='msallowfullscreen' 
                                        oallowfullscreen='oallowfullscreen' webkitallowfullscreen='webkitallowfullscreen' frameBorder='0'></iframe>
                            </div>
                        </div>
                    }
                    else
                    {
                    <div class="QuizInfo__ImageBlock">
                        <img class="QuizInfo__Image"
                             src="@Url.StorageImage(Model.Image, "500")" />
                    </div>
                    }
                }
            </div>
            <div id="QuizExpiredBlock" class="hidden">
                <div class="QuizConnect__NotificationText">@LocView.getLocalization("Quiz_Code_Not_Started")</div>
            </div>
            <div id="CountDownBlock" class="hidden">
                <div class="QuizConnect__NotificationText">@LocView.getLocalization("Quiz_Code_Time_Before_Start")</div>
                <div class="CountDownTimer">
                    <div id="CountDownTimer__DaysBlock" class="CountDownTimer__Block">
                        <div id="CountDownTimer__Days"
                             class="CountDownTimer__Digits"></div>
                        <div class="CountDownTimer__Type">@LocView.getLocalization("Days")</div>
                    </div>
                    <div class="CountDownTimer__Splitter">&nbsp;</div>
                    <div class="CountDownTimer__Block">
                        <div id="CountDownTimer__Hours"
                             class="CountDownTimer__Digits">
                            <div class="CountDownTimer__Digit">0</div><div class="CountDownTimer__Digit">0</div>
                        </div>
                        <div class="CountDownTimer__Type">@LocView.getLocalization("Hours")</div>
                    </div>
                    <div class="CountDownTimer__Splitter">:</div>
                    <div class="CountDownTimer__Block">
                        <div id="CountDownTimer__Minutes"
                             class="CountDownTimer__Digits">
                            <div class="CountDownTimer__Digit">0</div><div class="CountDownTimer__Digit">0</div>
                        </div>
                        <div class="CountDownTimer__Type">@LocView.getLocalization("Minutes")</div>
                    </div>
                    <div class="CountDownTimer__Splitter">:</div>
                    <div class="CountDownTimer__Block">
                        <div id="CountDownTimer__Seconds"
                             class="CountDownTimer__Digits">
                            <div class="CountDownTimer__Digit">0</div><div class="CountDownTimer__Digit">0</div>
                        </div>
                        <div class="CountDownTimer__Type">@LocView.getLocalization("Seconds")</div>
                    </div>
                </div>
            </div>
            <div class="QuizActionBlock">
                @if (Model.DisplayAlreadyAcceptedBlock)
                {
                    <div class="QuizActionBlock__TextBlock">
                        @LocView.getLocalization("Quiz_AlreadyInGame_1")
                        <br />
                        @LocView.getLocalization("Quiz_AlreadyInGame_2")
                    </div>
                }
                @if (Model.DisplayParticipateButton)
                {
                    <a href="@Url.Action("QuizCodeWaitStartParticipate", new { quizCode = Model.QuizCode })"
                       class="basicButton basicButton--save">@LocView.getLocalization("Quiz_Participate")</a>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    countdownStart(@Model.RemainingTime);
</script>