﻿@model WaveAccess.MyQuiz.WebUI.Models.SessionModels

@section SubMenuSection
{
    @using (Html.BeginForm(ViewBag.ControllersActionName != null ? (string)ViewBag.ControllersActionName : "All", "Session", FormMethod.Get, new { id = "companiesSearch" }))
    {   
        
        <span class="toogleFilterBtn">Search</span>
        <div class="filters-container clearfix">
            <div class="filters left">
                <div class="upper-filters-line clearfix">
                    <div class="filter-textbox-container">
                        @Html.TextBoxFor(m => m.Filters.SessionName, new { placeholder = "Session name" })
                    </div>
                    <div class="filter-selectlist-container editor-field field-multiselect" style="position:relative; width:75%;">
                        @Html.MultiSelectListFor(m => m.Filters.SelectedIds,Model.Filters.SelectListCategories)
                    </div>
                </div>
            </div>
            <div class="search-button-container right">
                <button class="search-button" type="submit">Search</button>
            </div>
            <span class="closeFilterBtn">Hide search</span>
        </div>        
    }
}
<div id="company-list" class="centered">
    @{
        DateTime date=DateTime.MinValue;
        foreach (var company in Model.Sessions)
    {
            if(!date.Equals(company.Date)){
        <div style="  color: #00bcf2;font-size: 45px;line-height: 45px;margin-right: 13px;margin: 0 13px 20px 13px;">@company.Date.ToString("d MMM yy")</div>
                date = company.Date;
    }
        @Html.DisplayFor(m => company, "SessionListItem")
    }
    }
    @if (!Model.Sessions.Any())
    {
        <h3>@LocView.getLocalization("No_entries_found")</h3> 
    }
</div>
@*<div id="company-list-loader" class="centered" style="display: none; text-align: center">Loading ...</div>
<div class="company-list-see-more-button-container centered">
    <button type="button" onclick="Controls.onSeeMoreClick(this, '@SecureToken.Action("SessionItems")', '#company-list', '#company-list-loader', filters)">See more</button>
</div>*@



@section Scripts {
    <script type="text/javascript">
        function AddToPlanner() {
            var $this = $(this);
            var sessionId = $this.attr('sessionId');
            var inplanner = !!$this.attr('inplanner');
            $.post("/Session/Details/" + sessionId, function (data) {
                $this.text(inplanner ? 'Add To Planner' : 'Remove from Planner');
                if (inplanner)
                    $this.removeAttr('inplanner');
                else
                    $this.attr('inplanner', 'inplanner');
            });
        }
        function placeholderIsSupported() {
            var test = document.createElement('input');
            return ('placeholder' in test);
        }

        ;

        var filters = null;

        $(function () {
            filters = $('#companiesSearch').serialize().replace(/__selectList/g, '.Id');
            if (placeholderIsSupported()) {
                $(".filter-textbox-title-container").hide();
                $('.search-button-container button').css('marginTop', 0);
            }
            var parentt = $('.filter-selectlist-container');
            parentt.prepend($('button', parentt));
            parentt.prepend($('input', parentt));
            $('.toogleFilterBtn').click(function () {
                $('.filters-container').stop().slideToggle('fast');
                if ($(this).text() == "Hide search")
                    $(this).text("Search")
                else
                    $(this).text("Hide search");
            });
            $('.closeFilterBtn').click(function () {
                $('.filters-container').slideUp('fast');
                $('.toogleFilterBtn').text("Search");
            });
        });

    </script>

    @if (ViewBag.HideShowMoreButton != null && ViewBag.HideShowMoreButton)
    {
        <script type="text/javascript">
            $(function () {
                $(".company-list-see-more-button-container").hide();
            });
        </script>
    }

}