﻿@model WaveAccess.MyQuiz.Model.CustomAnswer
@using WaveAccess.MyQuiz.WebUI.Helpers

@{ 
    Layout = null;
}

<div class="convergence-goals-container" style="border: 0px; clear: both;">

    <div class="header answers" style="padding:0px; border:0px;">
        <div class="toggleButton">
            <div class="entity-item-remove-button" onclick="return removeButtonClick(this)">
                <a href="#" style="display:none;"></a>
            </div>
        </div>
    </div>

    <div class="body">

        <div class="two-columns-medium">
            <div class="left-column-medium">
                @Html.UniqueHiddenIndexer()
                @Html.HiddenFor(model => model.Id)
                <div class="editor-field editor-field-answer-text">
                    @Html.TextAreaFor(model => model.Text)
                    @Html.ValidationMessageFor(model => model.Text, "")
                </div>

            </div>
            <div class="right-column-medium">
                <div class="editor-field  editor-field-points-field">
                    @Html.EditorFor(model => model.Points, new {style = "" })
                    @Html.ValidationMessageFor(model => model.Points, "")
                </div>
            </div>
        </div>
    </div>
</div>
