﻿@model WaveAccess.MyQuiz.Model.CustomAnswer
@using WaveAccess.MyQuiz.WebUI.Helpers

@{
    Layout = null;
}

<div class="convergence-goals-container" style="border: 0px; clear: both;">

    <div class="header answers" style="padding:0px; border:0px;">
        <div class="toggleButton">
            <div class="entity-item-remove-button" onclick="return removeButtonClick(this)">
                <a href="#" style="display:none;"></a>
            </div>
        </div>
    </div>

    <div class="body">

        <div class="two-columns-medium">
            <div class="left-column-medium">
                @Html.UniqueHiddenIndexer()
                @Html.HiddenFor(model => model.Id)
                <div class="editor-field editor-field-answer-text">
                    @Html.TextAreaFor(model => model.Text)
                    @Html.ValidationMessageFor(model => model.Text, "")
                </div>

            </div>
            <div class="right-column-medium">
                <div class="editor-label editor-label checkbox-switch">
                    <label class="switch">
                        @Html.CheckBoxFor(model => model.IsCorrect, new { id = "isCorrect" + (Model.Id == 0 ? "0" + ViewBag.id : Model.Id.ToString())})
                        <div class="slider round" data-checked-yes="@LocView.getLocalization("Yes")" data-checked-no="@LocView.getLocalization("No")"></div>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>