﻿@model WaveAccess.MyQuiz.Model.Session

@{
    var backSign = (string)ViewBag.BackSign;
    var backAction = (string)ViewBag.BackAction;
 }

    <div class="company">        
        @Html.DisplayForModel()         
    </div>
        
    <div class="navigation-buttons centered">
        <div class="navigation-buttons-left"></div>
        <div class="navigation-buttons-center"></div>
        <div class="navigation-buttons-right"></div>                
    </div>

@section SubMenuSection
{
    @if(!string.IsNullOrWhiteSpace(backAction)){
        <div class="company-back-to-list-container">@Html.ActionLink(backSign, backAction, "Session")</div>    
    }
}

@section FooterSection
{
    @if(!string.IsNullOrWhiteSpace(backAction)){
        <div class="company-back-to-list-container centered noBorder">@Html.ActionLink(backSign, backAction, "Session")</div>    
    }
}