﻿@model IEnumerable<WaveAccess.MyQuiz.Model.CustomQuestion>
@{
    Layout = null;
}
<div style="display:none;">
    <svg style="" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="30px" height="30px" viewBox="0 0 113.39 113.391" enable-background="new 0 0 113.39 113.391"
         xml:space="preserve">
    <g>
    <path d="M78.789,57.901h-0.014v-0.988c0-3.92-3.178-7.098-7.098-7.098s-7.099,3.178-7.099,7.098v-7.808
    c0-3.92-3.178-7.098-7.098-7.098s-7.099,3.178-7.099,7.098v-7.098c0-3.919-3.414-7.098-7.334-7.098s-7.317,3.415-7.317,7.334
    l-0.017-22.95c0-3.92-3.178-7.099-7.098-7.099c-3.92,0-7.098,3.179-7.098,7.099v46.019c0,0-7.262-21.807-17.479-16.611
    c-3.572,1.816-5.066,6.127-3.291,9.72l13.208,26.729c0,0,8.164,16.045,22.401,16.045h18.928c13.066,0,23.518-10.593,23.518-23.659
    L78.789,57.901z" />

    <g id="move_x5F_vertical">
    <g>
    <polygon points="102.419,67.666 102.419,84.123 113.39,84.123 96.934,100.578 80.477,84.123 91.448,84.123 91.448,67.666" />
    <polygon points="91.448,45.724 91.448,29.267 80.477,29.267 96.934,12.811 113.39,29.267 102.419,29.267 102.419,45.724" />
                </g>
            </g>
        </g>
    </svg>
</div>
@using (Html.BeginForm((string)ViewBag.PostFormToAction, "CustomQuestion", FormMethod.Post, new { id = "questionsForm", enctype = "multipart/form-data", @class = "display-none" }))
{
    @Html.ValidationSummary(true)
    <div class="entities-list-container">
        <ul class="entities-list" id="sortable" style="position: relative;">
            @Html.EditorFor(model => model)
        </ul>
        <div class="entities-list-loader" style="display: none;">
            <div id="circleG">
                <div id="circleG_1" class="circleG"></div>
                <div id="circleG_2" class="circleG"></div>
                <div id="circleG_3" class="circleG"></div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    function onAddEntitiesClick(secondsLocalization) {
        var uniqueKey = +(new Date());

        Controls.onAddEntitiesClick(this, '@Url.Action("Blank", "CustomQuestion")?fix=' + uniqueKey, '@Html.NameFor(model=>model)', null, function () {
            var $data = $(this);
            var noteLabel = $data.find('.note-label').first();
            var noteField = noteLabel.parents('.subentities-list-add-note').find('textarea').first();
            noteLabel.click(function () {
                Controls.onNoteLabelClick(noteField);
            });
            $('[name="AnswersContainer"] .entity-item-remove-button', this).hide();
            Controls.validateAnswers(this);
            $('#sortable').append(this);
            $(".datepicker input", this).datepicker();
        }, secondsLocalization);
    }
</script>
