﻿@model WaveAccess.MyQuiz.Model.CustomQuestion

@{
string postfixId = ViewData.TemplateInfo.HtmlFieldPrefix.Replace('[', '_').Replace(']', '_').Replace('.', '_');
}
<div class="Promo two-columns-big" style="padding-bottom:20px;">
    <div class="left-column-big">
    </div>
    <div class="Promo__TextBlock right-column-big">
        <div class="enable-winner-places-for-quiz">
            <div class="editor-label">
                <label>@LocView.getLocalization("Quiz_Promo_Question_Settings")</label>
            </div>
            <div class="editor-field radios">
                <input type="radio" class="radio"
                       id="radio-promo-question-yes-@postfixId"
                       name="@Html.NameFor(m=>m.PromoEnabled)" value="true"
                       checked="@Model.PromoEnabled.Equals(true)"
                       onchange="Controls.onChangeYesNoRadioValue('radio-promo-question-yes-@postfixId', 'radio-promo-question-no-@postfixId', 'PromoBlock__@postfixId')" />
                <label for="radio-promo-question-yes-@postfixId">@LocView.getLocalization("Yes")</label>

                <input type="radio" class="radio"
                       id="radio-promo-question-no-@postfixId"
                       name="@Html.NameFor(m=>m.PromoEnabled)" value="false"
                       checked="@Model.PromoEnabled.Equals(false)"
                       onchange="Controls.onChangeYesNoRadioValue('radio-promo-question-yes-@postfixId', 'radio-promo-question-no-@postfixId', 'PromoBlock__@postfixId')" />
                <label for="radio-promo-question-no-@postfixId">@LocView.getLocalization("No")</label>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div id="PromoBlock__@postfixId" class="Promo two-columns-big @(Model.PromoEnabled ? "" : "hide")">
    <div class="Promo__ImageBlock left-column-big">
        <div class="editor-field Promo__DropzoneField">
            @Html.EditorFor(model => model.PromoImage, "ImagePromoQuestion", new { QuestionId = Model.Id })
        </div>
        <div class="error-block-container">
            <div class="error-block">
                <div id="lblFileSizeError" class="relative file-size-error">@LocView.getLocalization("File_size_error")</div>
                <div id="lblFileTypeError" class="relative file-type-error">@LocView.getLocalization("File_type_error")</div>
                <div id="lblFileRacyError" class="relative file-racy-error">@LocView.getLocalization("Not_Allowed_Content")</div>
            </div>
        </div>
    </div>
    <div class="Promo__TextBlock Promo__TextBlock--question right-column-big">
        @{
            string elementId = "PromoText_" + System.Guid.NewGuid();
        }
        <div id="@(elementId)__Quill" data-quill-editor-for="@elementId">
            @Html.Raw(Model.PromoText)
        </div>
        @Html.HiddenFor(m => m.PromoText, new { id = elementId, data_quill_html = true })
        <div class="error-block-container">
            <div class="error-block">
                <div class="hidden div__ErrorMessageBox">@LocView.getLocalization("RequiredField")</div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
