﻿@import "variables";
@import "bootstrap";
@import "../icons/mq.scss";
@import "elements/menu/menu.scss";
@import "elements/uploadImage/cropImageModal.scss";
@import "elements/spinner/spinner.scss";
@import "../../node_modules/cropperjs/dist/cropper";

html{
	font-size:16px;
}

b {
    font-weight: $font_weight_bold;
}

.pointer {
    cursor:pointer;
}

.row-equal {  
    display: flex;

    &-center-vertical { 
        align-items:center;
    }
}

.grow-width {
    width:100%;
}

.align-middle {
    display: inline-block;
    vertical-align: middle;
}

.btn {
    padding:$btn-padding;
}

.btn-lg {
    padding:$btn-padding-lg;
}
.btn-sm {
    padding:$btn-padding-sm;
}
.btn-xs {
    padding:$btn-padding-xs;
}

.btn-primary {
    background-color: #90a7d6;
    transition: background-color .2s ease;

    &:focus, &:hover {
        background-color: #5b6ec3;
    }
}

.input-validation-error{
    border: 2px solid #d78686;
}

.container {
    &.container--promo {
        @media (max-width: 1280px) {
            width:100%;
        }
        @media (min-width: 1281px) {
            width:1260px;
        }
    }
}

.text {
    &--center {
        text-align: center;
    }

    &--left {
        text-align: right;
    }

    &--right {
        text-align: right;
    }

    &--small {
        font-size: 14 * $px !important;
    }
}

.modal {
    padding-right: 0 !important;

    & > .modal-dialog {
        @media (max-width: $screen-xs-max) {
            margin: 0;
        }

        & > .modal-content {
            @media (max-width: $screen-xs-max) {
                min-height: 100vh;
                border: none;
                border-radius: 0;
                box-shadow: none;
            }

            & > .modal-header {
                padding: 20 * $px 40 * $px;

                @media (max-width: $screen-xs-max) {
                    border: none;
                }

                & > h4 {
                    @media (max-width: $screen-xs-max) {
                        font-size: 24 * $px;
                        margin-top: 20 * $px;
                        text-align: center;
                    }
                }

                & .close {
                    opacity: 1;
                    font-size: 16 * $px;
                    font-weight: $font_weight_bold;
                    margin-top: 5 * $px;
                }
            }

            & > .modal-body {
                padding: 40 * $px;
            }

            & > .modal-footer {
                padding: 20 * $px 40 * $px;

                @media (max-width: $screen-xs-max) {
                    border: none;
                    padding-left: 50 * $px;
                    padding-right: 50 * $px;
                }
            }
        }
    }
}
/*
#topMenu {
	@media (max-width: $screen-hideMenu-max) {
		height: 0px !important;
	}
}*/

.block-element-mobile {
    @media (max-width: $screen-sm-min) {
        display: block !important;
    }
}