﻿@using System.Configuration
@using WaveAccess.MyQuiz.Services.Azure.Enums
@using WaveAccess.MyQuiz.WebUI.app.core.elements.menu
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	@{
		if (string.IsNullOrEmpty(ViewBag.Title))
		{
			ViewBag.Title = "MyQuiz";
		}
	}
	<title>@ViewBag.Title</title>
	<link type="image/x-icon" href="@Html.UrlCdn("~/favicon.ico")" rel="shortcut icon" />
	<link type="image/png" href="@Html.UrlCdn("~/favicon-16x16.png")" sizes="16x16" rel="icon" />
	<link type="image/png" href="@Html.UrlCdn("~/favicon-32x32.png")" sizes="32x32" rel="icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	@RenderSection("metaInfo", false)


	@Html.Partial("Analytics/AnalyticsView")
	@RenderSection("analytics", false)

	@Styles.Render("~/Content/css_new/core")
	
	@RenderSection("css", false)

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800" rel="stylesheet" />


    @Scripts.Render("~/bundles/js_new/core")
	
	@RenderSection("js", required: false)
    <script type="text/javascript">
        if (imageUrlHelper) {
            imageUrlHelper.profilePhotoContainerName = '@ContainerType.UserPhotos';
            imageUrlHelper.profilePhotoSize = '@ConfigurationManager.AppSettings["ProfilePhotoSize"]';
            imageUrlHelper.profilePhotoMaxWidth = '@ConfigurationManager.AppSettings["ProfilePhotoMaxWidth"]';
        }
    </script>
</head>
<body>
	@Html.Partial("~/app/core/elements/spinner/spinner.cshtml")
	<div class="layout">
		@if (IsSectionDefined("menu"))
		{
			@RenderSection("menu")
		}
		else
		{
			@Html.Partial("~/app/core/elements/menu/menu.cshtml", new MenuViewModel { IsOwner = ViewBag.IsOwner ?? false, IsHomePage = ViewBag.IsHomePage ?? false })
		}
		@RenderBody()
	</div>
</body>
</html>