﻿@{
    Layout = "~/app/panel/auth/core/authLayout.cshtml";
}
@using WaveAccess.MyQuiz.WebUI.app.panel.auth.register;
@using WaveAccess.MyQuiz.WebUI.app.panel.auth.register.introduce;
@model BaseRegisterViewModel
@section js{
    <script type="text/javascript">
        introduceModule.Init();

        $(function () {
            $('#registrationForm .trim-input').change(function () {
                $(this).val($.trim($(this).val()));
            });

            $('#registrationForm .trim-input').bind('paste', function (e) {
                e.stopPropagation();
                e.preventDefault();
                var text = e.originalEvent.clipboardData.getData('text');
                $(this).val($.trim(text));
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            var photoElement = $('.SignProcess__UploadImage');
            uploadImageModule.Init(photoElement, new uploadToStorageStrategy(
                '@Html.Raw(Model.ImageUrlParameters.ContainerUrl)',
                '@Html.Raw(Model.ImageUrlParameters.SecureToken)',
                '@Html.Raw(Model.ImageUrlParameters.StorageName)',
                '@Model.StorageImageId', $('#photo-image'), $('#isDownloadedToStorage')), null, $('#isPhotoChanged'));
        });
    </script>
}
@Html.Partial("~/app/core/elements/uploadImage/cropImageModal.cshtml")

<div class="SignProcess__HeaderBlock">
    <div class="SignProcess__MainHeader">@introduce.SignUpForm__MainHeader</div>
    <div class="SignProcess__SubHeader">
        <div>@Html.Raw(introduce.SignUpForm__SubHeader)</div>
    </div>
</div>
<div class="SignProcess__FormBlock IntroduceForm IntroduceForm--@Model.ClassPostfix">
    <div class="IntroduceForm__MainBlock">
    @if (Model.AuthTypes.IsEmailAuthTypeAvailable || Model.AuthTypes.IsSocialNetworkAuthAvailable)
    {
    <div class="SignProcess__SocialButtonsBlock IntroduceForm__SocialButtonsBlock--@Model.ClassPostfix">
        @{
            ViewBag.AuthButtonDisplayType = "classic";
        }
        @Html.Partial("~/app/panel/elements/authButtons/authButtonsForm_forIntroduce.cshtml", Model)
    </div>
    }
    @if ((Model.AuthTypes.IsEmailAuthTypeAvailable || Model.AuthTypes.IsSocialNetworkAuthAvailable) && Model.AuthTypes.IsTempUserTypeAvailable)
    {
    <div class="SignProcess__BetweenWords IntroduceForm__BetweenWords">
        @if (Model.ClassPostfix == "org")
        {
            @introduce.OrJustUseSocial
        }
        else
        {
            @introduce.OrJustUpload
        }
    </div>
    }
        
    @if (Model.AuthTypes.IsTempUserTypeAvailable)
    {
        <div class="IntroduceForm__SignUpForm--@Model.ClassPostfix">
        @using (Html.BeginForm(null, null, Model.GetQueryParams(), FormMethod.Post, new { id = "registrationForm" }))
        {
            @Html.Partial("~/app/panel/auth/register/classic/signup_form.cshtml")
            <button class="btn btn-primary SignProcess__Button" type="submit">@introduce.Join</button>
        }
        </div>
    }
    </div>
</div>
