﻿@import "../../../variables";

.IntroduceForm {
    &--org {
        & .IntroduceForm__MainBlock {

            @media (max-width: $screen-xs-max) {
                position: relative;
                padding-top: 20 * $px;
            }
        }

        & .SignUpForm__UploadImageBlock {
            margin-bottom: 40 * $px;
            text-align: center;


            @media (max-width: $screen-xs-max) {
                top: -65 * $px;
                position: absolute;
                width: 100%;
            }
        }
    }

    &__MainBlock {
        display: flex;
        flex-flow: column;
    }

    &__SocialButtonsBlock {
        &--org {
            order: 3;
        }

        &--ru {
            order: 1;
        }
    }

    &__BetweenWords {
        order: 2;
    }

    &__SignUpForm {
        &--org {
            order: 1;
        }

        &--ru {
            order: 3;
        }
    }
}