﻿@import "../../variables";

.InputCheckbox {
    position: relative;
    & > label {
        font-size: 16 * $px;
        font-weight: normal;
    }
}

.InputCheckbox {
    & > label {
        position: relative;
        cursor: pointer;
        padding: 0;
        vertical-align: text-top;
        margin-bottom: 0;
        margin-top: 1 * $px;

        &:before {
            content: '';
            display: inline-block;
            width: 18 * $px;
            height: 18 * $px;
            border: solid 1px #e7e8e9;
            border-radius: 4px;
            margin-right: 9 * $px;
            vertical-align: bottom;
            transition: border-color .4s ease;
        }
    }

    & > input {
        width: 0px;
        height: 0px;
        display: none;
        /*&:hover + input + label:before {
            transition: border-color .2s ease;
            border-color: #5264AE;
        }
        // Box focus
        &:focus + input + label:before {
            transition: border-color .4s ease;
            border-color: #5264AE;
        }*/
        // Box checked
        &:checked {
            & + input + label:before {
                color: #90A7D6;
                font-size: 13 * $px;
                font-family: "mq" !important;
                font-style: normal !important;
                font-weight: normal !important;
                font-variant: normal !important;
                text-transform: none !important;
                speak: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                content: '\42';
                padding-top: 1 * $px;
                padding-left: 1 * $px;
            }
        }
        // Disabled state label.
        &:disabled + input + label {
            color: #b8b8b8;
            cursor: auto;

            &:before {
                box-shadow: none;
                background: #ddd;
            }
        }
    }
}