﻿@import "../../variables";

.InputText {
    position: relative;
    margin-top: 22 * $px;
    margin-bottom: 30 * $px;
    display: inline-block;
    width: 100%;

    & > input {
        font-size: 16 * $px;
        padding: 10 * $px 5 * $px 5 * $px 5 * $px;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #E7E8E9;

        &.input-validation-error {
            border-bottom: 1px solid #c65252;
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            transform: translate(0, 0, 0);

            & ~ line,
            & ~ label,
            & ~ span.field-validation-error {
                animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
                transform: translate(0, 0);
            }

            & ~ line:before,
            & ~ line:after {
                background: #c65252;
            }
        }

        &:focus {
            outline: none;
        }
        /*
        animated version is disabled for now due to issues
        &:focus ~ label {
            top: -20px;
            font-size: 16 * $px;
            color: #666;
        }*/
        &:focus ~ line:before,
        &:focus ~ line:after {
            width: 50%;
        }

        &[data-val-required] ~ label:after,
        &[data-val-requiredif] ~ label:after {
            content: '*';
            color: #c65252;
        }
    }

    & > label {
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5 * $px;
        top: -20 * $px;
        font-size: 16 * $px;
        color: #666;
        /*
        animated version is disabled for now due to issues
        color: #999;
        top: 10 * $px;
        font-size: 16 * $px;*/
        transition: 0.2s ease all;
    }
    & > span {
        display:inline-block;
    }
    & > line {
        position: relative;
        display: block;

        &:before,
        &:after {
            content: '';
            height: 1px;
            width: 0;
            bottom: 0;
            position: absolute;
            background: #5b6ec3;
            transition: 0.2s ease all;
        }

        &:before {
            left: 50%;
        }

        &:after {
            right: 50%;
        }
    }

    & > .field-validation-error {
        color: #c65252;
        font-size: 12 * $px;
        line-height: 1 * $px;
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate(-1px, 0);
    }

    20%, 80% {
        transform: translate(2px, 0);
    }

    30%, 50%, 70% {
        transform: translate(-4px, 0);
    }

    40%, 60% {
        transform: translate(4px, 0);
    }
}