﻿@model WaveAccess.MyQuiz.WebUI.app.game.elements.imageBlock.ImageBlock
<div id="@Model.Id" class="imageBlock" src="@Model.Src" media-type="@Model.MediaType" thumbnail-src="@Model.ThumbnailSrc" video-autoplay="@Model.VideoAutoPlay.ToString()" language="@LocView.Leng" wa-id="@Model.ImageTestId"><div></div></div>