﻿@import "../../variables.scss";

.imageBlock {
    text-align:center;
    width: 100%;
    min-height:1px;//fix for IE11 mobile

    & > div {
        bottom:0;
        @media (max-width: $screen-xs-max) {
            border:none;
            border-top-left-radius:$border_default_radius;
            border-top-right-radius:$border_default_radius;
        }
        & > img {
            max-width:100%;
            width:100%;
            max-height:100%;
            height:auto;
            border:$border_default;
            object-fit:cover;
            @media (max-width: $screen-xs-max) {
                border:none;
                border-top-left-radius:$border_default_radius;
                border-top-right-radius:$border_default_radius;
            }
        }
        & >div.frameContainer
        {
            position:relative;
            padding-bottom:56.25%;
            padding-top:30px;
            height:0px;
            overflow:hidden;

            & > iframe {
                  position:absolute;
                  top:0;
                  left:0;
                  width:100%;
                  height:100%;
                  border:0px;
            }
        }
    }
}