﻿@import "../../variables.scss";
.headerText {
    font-size: $headerText_font_size;
    vertical-align:middle;
    padding-top:$headerText_padding_top;
    line-height: $headerText_line_height;
    @media (max-width: $screen-xs-max) {
        padding-top:unset;
        font-size: $headerText_font_size_xs;
        line-height: unset;
    }

    &__SiteName {
        display:inline-block;
        text-transform: uppercase;
        @media (max-width: $screen-xs-max) {
            display:none;
        }

        &--xs {
            display:inline-block;
            text-transform: uppercase;
            margin-right:$headerText__SiteName_margin_right_xs;
            @media (min-width: $screen-sm-min) {
                display:none;
            }
        }
    }

    &__Arrow {
        font-size:$headerText__Arrow_font_size;
        line-height:$headerText__Arrow_line_height;
    }
}

.gameMain {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;

    &__Text {
        display: flex;
        font-weight: $font_weight_bold;
    }

    &__QuizCode {
        display: flex;
        flex-grow: 1;
        padding-top: 20*$px;
        align-items: center;
    }

    &__Users {
        display: flex;
        align-items: center;
        min-height: $gameMain__Users_min_height;

        & > a {
            padding: $gameMain__Users_padding;
            text-decoration: none;
            margin-top: -3px;
        }

        & > a:hover {
            text-decoration: none;
        }

        .icon-edit {
            vertical-align: bottom;
            color: #333333;
            text-decoration: none;
        }

        .icon-edit:hover {
            color: #5b6ec3;
            text-decoration: none;
        }
    }

    &__UsersCount {
        font-weight: $font_weight_bold;
    }
}

    .gameDetails {
        min-height: 1px; //fix for IE11 mobile
        &__ImageCol {
            padding-top: 7*$px;
        }

        &__TextCol {
            padding-top: $gameInfo__Theme_margin_top;

            @media (max-width: $screen-xs-max) {
                border-left: none;
                border-right: none;
                border-bottom: none;
                border-top: solid 1px #eee;
                background-color: $infoBlock_background_color;
                padding-left: $margin_default_xs;
                padding-right: $margin_default_xs;
                padding-bottom: $margin_default_xs;
            }

            & > .gameDetails__YoutubeInfoMsg {
                height: 65*$px;
                line-height: 65 *$px;
                vertical-align: middle;
                font-size: 14*$px;
                background-color: #f8f9ff; //
                color: #5b6ec3;
                border: solid 1*$px #e1e5f4;
                border-radius: 5 *$px;
                margin-bottom: 10 * $px;
                font-weight: bold;

                & > img {
                    padding: 0 15*$px;
                    display: inline-block;
                }

                & > span {
                    vertical-align: middle;
                    display: inline-block;
                    font-size: 14*$px;
                    max-width: 60%;
                    line-height: 14*$px;
                }

                & > .gameDetails__CloseBlock {
                    display: inline-block;
                    font-size: 12 * $px;
                    opacity: 0.5;
                    color: #5b6ec3;
                    margin-right: 7 * $px;
                    padding: 0;
                    float: right;
                    margin-top: 27*$px;
                    width: auto;
                }

                & > .gameDetails__CloseBlock:hover {
                    opacity: 1;
                    color: #5b6ec3;
                    cursor: pointer;
                }
            }

            &.YoutubeInfoMsg.Mobile > div {
                background-color: #fff;
                border: 0;
                margin-bottom: 0px;

                & > span {
                    max-width: 55%;
                }

                & > img {
                    padding-bottom: 0;
                    padding-top: 0;
                    height: 29*$px;
                }

                & > .gameDetails__CloseBlock {
                    margin-right: 0*$px;
                }
            }

            &.YoutubeInfoMsg.Desktop {
                @media (max-width: $screen-xs-max) {
                    display: none;
                }
            }
        }

        &__Theme {
            margin-bottom: $gameInfo__Theme_margin_bottom;
            font-size: $gameInfo__Theme_font_size;
            font-weight: $font_weight_bold;
        }

        &__Description {
            margin-bottom: 20*$px;
        }

        &__Author {
            text-transform: uppercase;
            font-size: $gameDetails__Author_font_size;
        }

        &__StartTime {
            margin-bottom: $margin_default;
        }
    }

    .time-layout {
        text-align: center;

        .time-header-layout {
            display: inline-flex;
            width: 100%;
            padding-top: 17*$px;

            .left-line-layout,
            .header-line-layout,
            .right-line-layout {
                align-self: center;

                .line {
                    height: 2px;
                    width: 70%;
                    background-color: #f3f3f4;
                }
            }

            .left-line-layout,
            .right-line-layout {
                flex: 0.9;
            }

            .header-line-layout {
                flex: 1.2;
                white-space: nowrap;
            }

            .left-line-layout > .line {
                float: left;
            }

            .right-line-layout > .line {
                float: right;
            }

            .header-line-layout > div {
                font-weight: 600;
                font-family: "Open Sans";
            }

            .time-header-layout {
                font-family: "Open Sans";
                font-size: 16px;
                vertical-align: central;
                width: 100%;
            }
        }

        .time-clock-layout {
            display: flex;
            margin-top: 20*$px;

            .time-clock-element-layout {
                flex: 0.9;

                .value {
                    font: {
                        weight: 500;
                        size: 24px;
                    }

                    color: #333333;
                }

                .title {
                    font-size: 12px;
                    color: #959494;
                    margin-top: 7*$px;
                    margin-bottom: 20*$px;
                }
            }

            .vertical-line {
                flex: 0.05;
                align-self: center;
            }

            .vertical-line > div {
                height: 38*$px;
                background-color: #ccccd3;
                width: 1px;
                overflow: visible;
            }
        }
    }

    .loaderContainer {
        height: 70*$px;
        font-family: Open Sans;

        &__loader {
            height: 20*$px;
            width: 250* $px;
            position: relative;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    .loader--dot {
        animation-name: loader;
        animation-timing-function: ease-in-out;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        height: 20*$px;
        width: 20*$px;
        border-radius: 100%;
        background-color: black;
        position: absolute;
        border: 2px solid white;
    }

    .loader--dot:first-child {
        background-color: #90a7d6;
        animation-delay: 0.5s;
    }

    .loader--dot:nth-child(2) {
        background-color: #a6b9de;
        animation-delay: 0.4s;
    }

    .loader--dot:nth-child(3) {
        background-color: #b7c6e4;
        animation-delay: 0.3s;
    }

    .loader--dot:nth-child(4) {
        background-color: #cdd7ed;
        animation-delay: 0.2s;
    }

    .loader--dot:nth-child(5) {
        background-color: #d9e1f1;
        animation-delay: 0.1s;
    }

    .loader--dot:nth-child(6) {
        background-color: #e3e9f5;
        animation-delay: 0s;
    }

    .loader--text {
        position: relative;
        font-size: 14* $px;
        font-weight: 500;
        top: 200%;
        left: 20 * $px;
        right: 0;
        width: 100%;
        margin: auto;
    }

    .loader--text:after {
        content: "";
        animation-name: loading-text;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }

    @keyframes loader {
        15% {
            transform: translateX(0);
        }

        45% {
            transform: translateX(230* $px);
        }

        65% {
            transform: translateX(230* $px);
        }

        95% {
            transform: translateX(0);
        }
    }

    @keyframes loading-text {
        0% {
            content: "";
        }

        25% {
            content: ".";
        }

        50% {
            content: "..";
        }

        75% {
            content: "...";
        }
    }

    .gameActions {
        display: flex;
        flex-flow: row nowrap;
        margin-top: $margin_default;

        @media (max-width: $screen-xs-max) {
            margin-top: $margin_default_small;
        }

        &__StartGameCol {
            display: flex;
            flex-grow: 4;
            margin-right: $margin_default;

            & > .btn {
                width: 100%;
            }

            @media (max-width: $screen-xs-max) {
                margin-right: unset;
            }
        }

        &__StopGameCol {
            display: flex;
            flex-grow: 3;

            & > .btn {
                width: 100%;
            }

            @media (max-width: $screen-xs-max) {
                display: none;
            }
        }
    }

    .gameRules {
        font-size: 15 * $px;

        &__Header {
            margin-bottom: $margin_default_md;
            font-weight: $font_weight_bold;
        }

        &__ListItem {
            margin-bottom: $margin_default_md;
            margin-left: $gameRules__ListItem_margin_left;
        }
    }

.connectedUsersMobile {
    &__Count {
        font-size: $connectedUsersMobile__Count_font_size;
        margin-left: $connectedUsersMobile__Count_margin_left;
        font-weight: $font_weight_bold;
    }

    .user-moderation{
        text-decoration: none;
        margin-top: -3px;
    }

    .icon-edit {
        color: #333;
        vertical-align: baseline;
        text-decoration: none;
    }

    .icon-edit:hover {
        color: #5b6ec3;
        text-decoration: none;
    }
}

    .infoBlockPlayer {
        padding-top: 0 !important;
    }

    .promoBlockWait {
        min-height: 1px; //fix for IE11 mobile
        @media (max-width: $screen-xs-max) {
            margin-top: 30 * $px;
        }

        &__Image {

            & > img {
                width: 100%;

                @media (max-width: $screen-xs-max) {
                    min-width: unset;
                    object-fit: cover;
                    border-top-left-radius: 0.25rem;
                    border-top-right-radius: 0.25rem;
                }
            }

            .amp-default-skin {
                @media (min-width: $screen-xs-max) {
                    min-width: 100px;
                }
            }

            .amp-default-skin .vjs-error-display > div::before {
                @media (min-width: $screen-xs-max) {
                    display: none;
                    top: 0;
                    right: 0;
                }
            }

            .amp-default-skin .vjs-error-display > div {
                @media (min-width: $screen-xs-max) {
                    left: 10%;
                    font-size: 10px;
                }
            }
        }

        &__Notification {
            display: none;
            margin-top: 20 * $px;
            padding-top: 20 * $px;
            padding-left: 10 * $px;
            padding-right: 10 * $px;
            font-size: 15 * $px;
            border-top: $border_default;

            @media (max-width: $screen-xs-max) {
                margin-top: $margin_default_xs;
                border: $border_default;
                border-radius: $border_default_radius;
                background-color: $infoBlock_background_color;
                padding: $margin_default_xs;
            }
        }

        &__Text {
            word-wrap: break-word;
            padding-top: 20 * $px;
            padding-left: 10 * $px;
            padding-right: 10 * $px;
            font-size: 15 * $px;

            & p {
                margin: 0 * $px;
            }

            @media (max-width: $screen-xs-max) {
                border-left: $border_default;
                border-right: $border_default;
                border-bottom: $border_default;
                border-bottom-left-radius: $border_default_radius;
                border-bottom-right-radius: $border_default_radius;
                background-color: $infoBlock_background_color;
                padding-left: $margin_default_xs;
                padding-right: $margin_default_xs;
                padding-bottom: $margin_default_xs;
            }
        }
    }