﻿@using WaveAccess.MyQuiz.Common.Enums
@using WaveAccess.MyQuiz.WebUI.app.game.stages.wait;
@using WaveAccess.MyQuiz.WebUI.app.game;

@model WaveAccess.MyQuiz.WebUI.Models.GameViewModel

<div id="stage__Wait" class="layout__Content" style="display:none;">
    <div class="layout__Header@(Model.IsOwner ? "" : "_player")">
    @if (Model.IsOwner)
    {
        <div class="headerText content text-center">
            <div class="headerText__SiteName">@Model.SiteUrl</div>
            <div class="headerText__SiteName--xs">@Model.SiteUrl&nbsp;<span class="icon-arrow-right-t1 headerText__Arrow"></span>&nbsp;@Model.Quiz.Code</div>
        </div>
    }
    </div>

    <div class="layout__StickyContainer">
        @if (Model.IsOwner)
        {
            <div class="stickyContent connectedUsersMobile">
                    <span>@wait.ConnectedUsersCount</span>
                    <span>&nbsp;</span>
                    <span id="usersCountMobile" class="connectedUsersMobile__Count">0</span>
                    <span>&nbsp;&nbsp;</span>
                    <a href="@Url.Action("Moderation", "Game", new {hostId = Model.HostId})"
                       target="_blank" title="@wait.ModerationUsers" class ="user-moderation">
                        <span class="icon-edit"></span>
                    </a>
                <a data-chat-open="chat1"
                   class="chatIcon chatIcon--mobile stickyContent__ChatIcon"></a>
            </div>
        }
        else
        {
        <div class="stickyContent">
            <a data-chat-open="chat1"
               class="chatIcon chatIcon--mobile stickyContent__ChatIcon"></a>
        </div>
        }
        <div class="gameDetails__TextCol YoutubeInfoMsg hidden Mobile">
            <div class="gameDetails__YoutubeInfoMsg">
                <img src="@Html.UrlCdn("~/app/images/game/playVideoMob.png")" />
                <span>
                    @wait.WatchVideo
                </span>
                <span class="icon-close gameDetails__CloseBlock" onclick="$('.YoutubeInfoMsg').addClass('hidden');$('.hiddenWhenYoutubeMsgVisible').show()"></span>
            </div>
        </div>
        @if (!Model.IsOwner)
        {
        <div data-chat-notifications="true"></div>
        }
    </div>

    <div class="layout__Body container @(Model.IsPromoEnabledForPlan && Model.Quiz.PromoEnabledWait ? "container-promo" : "")">
        <div class="bodyLayout">
            @if (!Model.IsOwner)
            {
                <div class="chatNotificationsBoxDesktop chatNotificationsBoxDesktop--wait"
                     data-chat-notifications="true">
                </div>
            }
            @if (Model.IsPromoEnabledForPlan && Model.Quiz.PromoEnabledWait)
            {
                <div class="bodyLayout__LeftCol">
                    <div class="infoBlock">
                        <div class="promoBlockWait">
                            <div class="blockForCart"
                                 data-cart-fly-to-selector=".topMenuItem--bookmarks, .burger"
                                 data-cart-selector=".topMenuItem--bookmarks"
                                 data-filled-cart-class="filled"
                                 data-on-click-show-element-selector=".topMenuItem--bookmarks, .linkToBookmarks"
                                 data-notification-selector=".promoBlockWait__Notification">
                                @if (Model.Quiz.PromoImageWait != null)
                                {
                                    <div class="promoBlockWait__Image">
                                        @if (Model.Quiz.PromoImageWait.MediaType == MediaType.VideoSelfHosted.ToString())
                                        {
                                            if (!String.IsNullOrWhiteSpace(Model.Quiz.PromoImageWait.URL))
                                            {
                                                <video class="azuremediaplayer amp-default-skin amp-big-play-centered" language="@LocView.Leng"
                                                       storedSrc="@Model.Quiz.PromoImageWait.URL" thumbnailSrc="@Model.Quiz.PromoImageWait.ThumbnailUrl"
                                                       storedAutoPlay="@Model.Quiz.PromoImageWait.VideoAutoPlay.ToString()">
                                                </video>
                                            }
                                            else
                                            {
                                                <img src="@Html.UrlCdn("~/app/images/home/video_processing_" + LocView.Leng + "_square.png")" />
                                            }
                                        }
                                        else
                                        {
                                            <img src="@Url.StorageImage(Model.Quiz.PromoImageWait, "800")"/>
                                        }

                                    </div>
                                }
                                <div class="promoBlockWait__Text">@Html.Raw(Model.Quiz.PromoTextWait)</div>
                            </div>
                            <div class="promoBlockWait__Notification">@wait.Promo__LinksCollectionNotification</div>
                        </div>
                    </div>
                </div>
            }
            <div class="bodyLayout__CenterCol">
                <div class="infoBlock @(Model.IsPromoEnabledForPlan && Model.Quiz.PromoEnabledWait ? "infoBlock--centerPromo" : "infoBlock--center") @(Model.IsOwner ? "" : "infoBlockPlayer")">
                    <div class="gameDetails">
                        @if (!Model.IsOwner)
                        {
                            <div class="time-layout">
                                <div class="time-header-layout">
                                    <div class="left-line-layout">
                                        <div class="line"></div>
                                    </div>
                                    <div class="header-line-layout">
                                        <div>
                                            @LocView.getLocalization("Quiz_Code_Time_Before_Start")
                                        </div>
                                    </div>
                                    <div class="right-line-layout">
                                        <div class="line"></div>
                                    </div>
                                </div>
                                <div class="time-clock-layout">
                                    <div class="time-clock-element-layout">
                                        <div class="value" time-clock-element-type="days">@Model.Quiz.RemainingTime.Days</div>
                                        <div class="title">@LocView.getLocalization("Days")</div>
                                    </div>
                                    <div class="vertical-line">
                                        <div></div>
                                    </div>
                                    <div class="time-clock-element-layout">
                                        <div class="value" time-clock-element-type="hours">@Model.Quiz.RemainingTime.Hours</div>
                                        <div class="title">@LocView.getLocalization("Hours")</div>
                                    </div>
                                    <div class="vertical-line">
                                        <div></div>
                                    </div>
                                    <div class="time-clock-element-layout">
                                        <div class="value" time-clock-element-type="minutes">@Model.Quiz.RemainingTime.Minutes</div>
                                        <div class="title">@LocView.getLocalization("Minutes")</div>
                                    </div>
                                    <div class="vertical-line">
                                        <div></div>
                                    </div>
                                    <div class="time-clock-element-layout">
                                        <div class="value" time-clock-element-type="seconds">@Model.Quiz.RemainingTime.Seconds</div>
                                        <div class="title">@LocView.getLocalization("Seconds")</div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="gameDetails__TextCol YoutubeInfoMsg hidden Desktop">
                            <div class="gameDetails__YoutubeInfoMsg">
                                <img src="@Html.UrlCdn("~/app/images/game/playVideoDesktop.png")"/>
                                <span>
                                    @wait.WatchVideo
                                </span>
                                <span class="icon-close gameDetails__CloseBlock" onclick="$('.YoutubeInfoMsg').addClass('hidden');$('.hiddenWhenYoutubeMsgVisible').show()"></span>
                            </div>
                        </div>
                        @if (Model.Quiz.Image != null)
                        {
                            <div class="gameDetails__ImageCol">
                                @Html.Partial(
                                         "~/app/game/elements/imageBlock/imageBlock.cshtml",
                                         new WaveAccess.MyQuiz.WebUI.app.game.elements.imageBlock.ImageBlock
                                         {
                                             Id = "gameDetails__ImageBlock",
                                             ImageTestId = "quizImage",
                                             Src = Url.StorageImage(Model.Quiz.Image, "800"),
                                             MediaType = Model.Quiz.Image.MediaType,
                                             ThumbnailSrc = Model.Quiz.Image.ThumbnailUrl,
                                             VideoAutoPlay = Model.Quiz.Image.VideoAutoPlay.HasValue ? Model.Quiz.Image.VideoAutoPlay.Value : false

                                    }
                                    )
                            </div>
                        }
                        <div class="gameDetails__TextCol">
                            <div class="gameDetails__Theme" wa-id="quizTheme">@Model.Quiz.Theme</div>
                            <div class="gameDetails__Description" wa-id="quizDescription">
                                @Html.Raw(!string.IsNullOrEmpty(Model.Quiz.Description) ? Model.Quiz.Description.Replace("\r\n", "<br/>") : "")
                            </div>
                            @if (Model.IsAutoStartEnabled)
                            {
                                <div id="gameDetails__StartTime" class="gameDetails__StartTime">
                                    @wait.GameStartTime @Model.Quiz.StTime GMT @Model.Quiz.TimeZone
                                </div>
                            }
                            @if (Model.Quiz.OriginalQuizExist)
                            {
                                <div class="gameDetails__Author">
                                    @wait.Author @Model.Quiz.OriginalQuizAuthorName
                                </div>
                            }
                        </div>
                    </div>
                    @if (Model.IsOwner)
                    {
                        <div class="gameActions">
                            <div class="gameActions__StartGameCol">
                                <a id="gameActions__StartGame"
                                   wa-id="quizStartButton"
                                   class="btn btn-primary"
                                   @Html.Raw(Model.IsAutoStartEnabled ? @"style=""display:none;""" : "")>@wait.StartGame</a>
                                <a id="gameActions__SwitchToManualMode"
                                   wa-id="quizSwitchToManualModeButton"
                                   class="btn btn-primary"
                                   @Html.Raw(Model.IsAutoStartEnabled ? "" : @"style=""display:none;""")>@wait.SwitchToManualMode</a>
                            </div>
                            <div class="gameActions__StopGameCol">
                                <a id="gameActions__StopGame"
                                   wa-id="quizExitButton_WaitStage"
                                   class="btn btn-default">
                                    @wait.Exit
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="bodyLayout__RightCol">
                <div class="infoBlock infoBlock--right infoBlock--rightTop">
                    <div class="gameMain">
                        <div class="gameMain__Text">@wait.GameCode</div>
                        <div class="gameMain__QuizCode">
                            <div class="quizCode">
                                @Model.Quiz.Code
                            </div>
                        </div>
                        <div class="gameMain__Users">
                            @if (Model.IsOwner)
                            {
                                <span>@wait.ConnectedUsersCount</span>
                                <span>&nbsp;</span>
                                <span id="usersCount" class="gameMain__UsersCount">0</span>
                                <span>&nbsp;</span>
                                <a href="@Url.Action("Moderation", "Game", new { hostId = Model.HostId })"
                                   wa-id="usersModerateButton"
                                   class=""
                                   target="_blank" title="@wait.ModerationUsers">
                                    <span class="icon-edit"></span>
                                </a>
                            }
                        </div>
                    </div>
                </div>
                <div class="infoBlock infoBlock--right infoBlock--rules">
                    <div class="gameRules">
                        <div class="gameRules__Header">@wait.GameRules</div>
                        <ol>
                            <li class="gameRules__ListItem">
                                @wait.Rule1
                                <ul>
                                    <li>@wait.Rule1Description1</li>
                                    <li>@wait.Rule1Description2</li>
                                </ul>
                            </li>
                            <li class="gameRules__ListItem">
                                @wait.Rule2
                                @if (Model.Quiz.CustomPoints.HasValue && !Model.Quiz.CustomPoints.Value)
                                {
                                    <ul>
                                        <li>@wait.Rule2Description1</li>
                                    </ul>
                                }
                            </li>
                            <li class="gameRules__ListItem">@wait.Rule3</li>
                        </ol>
                    </div>
                    @if (Model.NodeLocation == "US")
                    {
                    <div class="poweredByAzure">@game.PoweredByAzure</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>