﻿@model WaveAccess.EventGame.Services.AnswerHistoryModel
@{
    Layout = null;
    var userAnswerCssStyle = Model.WasItCorrectAnswer ? "correct" : "wrong";
}

<ol class="pastQuestions">
    @foreach (var q in Model.PastQuestions)
    {
        <li class="pastQuestion">@Html.ActionLink(q.Question, "Question", new { Id = q.Id })</li>         
    }
        <li class="currentQuestion"><div id="TimeLeft"></div></li>  

    @foreach (var q in Model.NextQuestions)
    {
        <li class="nextQuestion">@Html.ActionLink(q.Question, "Question", new { Id = q.Id })</li>         
    }         
</ol>

<div id="top-players-container">
    <div id="top-player-leaders">
        @Html.DisplayFor(m => m.Leaders)
    </div>
    <div id="top-player-beyond-leaders">
        @Html.DisplayFor(m => m.BeyondOfLeaders, "TopPlayersItemShortItems")        
    </div>
    <div id="top-players-loader" style="display:none;">Loading...</div>
    <div id="top-players-show-more-button-container" style="display:none;">
        <button id="showMorePlayers" type="button">@LocView.getLocalization("Show_more")</button>
    </div>

</div>
<div id="question-info-container">
    <div id="question-info-question"><h1>@Model.Question</h1></div>
    <div id="question-info-correct-answer-label">Correct answer</div>
    @if(Model.CorrectAnswer != null){
        <div id="question-info-correct-answer-value">@Model.CorrectAnswer.Answer</div>
    }
    @if(Model.UserAnswer != null){
        <div id="question-info-user-@userAnswerCssStyle-answer-label">You answered</div>
        <div id="question-info-user-@userAnswerCssStyle-answer-value">@Model.UserAnswer.Answer</div>
    }
    <div id="question-info-user-gained-score">You got <div id="question-info-user-gained-score-value">@Model.PointsGained</div> points</div>
</div>


@section Scripts {
    <script type="text/javascript">
        $(function () {
            return;
            window.timer = new CountdownTimer("#TimeLeft", @Model.State.TimeLeft, function(){
                location = "@Url.Action("CurrentQuestion")";
            });
        });
    </script>
}
