﻿@using WaveAccess.MyQuiz.WebUI.Controllers
@model WaveAccess.MyQuiz.WebUI.Models.ArchiveViewModel

<div class="verivalLine" style="padding:25px 10px 25px 0;">
    <table>
        <tr>
            <td style="text-align: center;vertical-align: top;padding-top: 5px;min-width: 121px;" class="desktop">
                @Html.Raw(LocView.getDateLocalization(Model.Date))
            </td>
            <td class="quizCircleContainer">
                <div class="quizCircle">_</div>
            </td>
            @{
                var startTime = Model.Date.Date.Add(Model.StartTime).ToUniversalTime();
                var endTime = Model.EndTime.Ticks > 0 ? Model.Date.Date.Add(Model.EndTime).ToUniversalTime() : startTime;
            }
            <td class="desktop time" style="min-width: 100px;text-align: center; color: #cfd4fc;">
                <div class="time-diapason-nowrap">
                    <span utc-datetime-value="@startTime.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss'.'fff'Z'")"></span> -
                    <span utc-datetime-value="@endTime.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss'.'fff'Z'")"></span>
                </div>
            </td>
            <td class="ThemeBlock" style="width: 100%;">
                <div class="mobile" style="color:#CED5FE;">
                    <div style="color:#EFA923;font-size:110%;">@Html.Raw(LocView.getDateLocalization(Model.Date, null, true))</div>
                    <div style="font-size:90%;padding:10px 0; color: #cfd4fc;">
                        <span utc-datetime-value="@startTime.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss'.'fff'Z'")"></span> -
                        <span utc-datetime-value="@endTime.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss'.'fff'Z'")"></span>
                    </div>
                </div>
                @Model.GameTitle
            </td>
            <td class="desktop" style="vertical-align: top; width: 334px;">
                <div style="width: 334px;text-align:right;">
                    <a href="/Archive/Game/@Model.Id"
                       class="basicButton basicButton--small basicButton--rightSpace basicButton--save">
                        @LocView.getLocalization("Show_archive")
                    </a>
                    @Html.HiddenFor(t => @Model.Id)
                    @if (Model.IsOwner)
                    {
                        <div class="dropDownButton">
                            <a class="dropDownButton__button dropDownButton__button--settings dropDownButton__button--small" onclick="Controls.onShowDropDownMenu(this)">
                                <span class="icon-settings"></span>
                                <span class="icon-caret-down"></span>
                            </a>
                            <ul class="dropDownButton__menu dropDownButton__menu--hidden">
                                <li class="dropDownButton__menuItem">
                                    <div class="dropDownButton__menuHeader report--xls">
                                        @LocView.getLocalization("QuizReport") 
                                    </div>
                                </li>
                                <li class="dropDownButton__menuItem">
                                    <a class="dropDownButton__menuLink" href="#" onclick="createArchiveReport($(this), '@ReportOption.Csv','@Url.Action("CreateReport", "Report")'); return false;">
                                        <span class="dropDownButton__menuIcon icon-export"></span> @LocView.getLocalization("Choose_Archive_Type") @LocView.getLocalization("csv")
                                    </a>
                                </li>
                                <li class="dropDownButton__menuItem">
                                    <a class="dropDownButton__menuLink report--xls" href="#" onclick="createArchiveReport($(this), '@ReportOption.Excel','@Url.Action("CreateReport", "Report")'); return false;">
                                        <span class="dropDownButton__menuIcon icon-export"></span> @LocView.getLocalization("Choose_Archive_Type") @LocView.getLocalization("xls")
                                    </a>
                                </li>
                                @if (ViewBag.IsPromoEnabled)
                                {
                                <li class="dropDownButton__menuItem">
                                    <div class="dropDownButton__menuHeader report--xls">
                                        @LocView.getLocalization("PromoReport")
                                    </div>
                                </li>
                                <li class="dropDownButton__menuItem">
                                    <a class="dropDownButton__menuLink" href="#" onclick="createArchiveReport($(this), '@ReportOption.Csv','@Url.Action("CreatePromoUrlClicksReport", "Report")'); return false;">
                                        <span class="dropDownButton__menuIcon icon-export"></span> @LocView.getLocalization("Choose_Archive_Type") @LocView.getLocalization("csv")
                                    </a>
                                </li>
                                <li class="dropDownButton__menuItem">
                                    <a class="dropDownButton__menuLink report--xls" href="#" onclick="createArchiveReport($(this), '@ReportOption.Excel','@Url.Action("CreatePromoUrlClicksReport", "Report")'); return false;">
                                        <span class="dropDownButton__menuIcon icon-export"></span> @LocView.getLocalization("Choose_Archive_Type") @LocView.getLocalization("xls")
                                    </a>
                                </li>
                                }
                                <li>
                                    <hr />
                                </li>
                                <li class="dropDownButton__menuItem">
                                    <a class="dropDownButton__menuLink" href="/Archive/Delete/@Model.Id"
                                       onclick="$(this).parent().parent().parent().parent().parent().addClass('confirm'); return false;">
                                        <span class="dropDownButton__menuIcon icon-delete-item"></span> @LocView.getLocalization("Delete")
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <div style="min-width:68px;display:inline-block;"></div>
                    }
                </div>
            </td>

            <td class="desktop" style="width:334px;vertical-align: top;" id="confirm-delete">
                <div style="position:relative;width:334px;text-align:right;">
                    <div class="gridTimeLine__errorMessageBox">@LocView.getLocalization("confirm_delete_archive")</div>
                    <a href="/Archive/Delete/@Model.Id"
                       id="confirm-delete-button"
                       onclick="return deleteArchive($(this));"
                       class="basicButton basicButton--small basicButton--delete basicButton--confirmDelete  basicButton--rightSpace">
                        @LocView.getLocalization("delete")
                    </a>
                    <a href="#"
                       onclick="$(this).parents('tr:first').find('.confirm').removeClass('confirm'); return false;"
                       class="basicButton basicButton--small basicButton--cancel basicButton--cancelDelete">
                        @LocView.getLocalization("cancel")
                    </a>
                </div>
            </td>
        </tr>
    </table>
    <div style="height: 38px; margin-top: 18px;padding-left: 40px;" class="mobile">

        <a href="/Archive/Game/@Model.Id"
           class="basicButton basicButton--xs basicButton--save">
            @LocView.getLocalization("Show_archive")
        </a>

        @if (Model.IsOwner)
        {
            <a href="#"
               lectureid="@Model.LectureId"
               onclick="$(this).parent().addClass('choose'); return false;"
               class="iconButton iconButton--xs iconButton--default">
                <span class="icon-export"></span>
            </a>
            <a href="/Archive/Delete/@Model.Id"
               onclick="$(this).parent().addClass('confirm');return false;"
               class="iconButton iconButton--xs iconButton--default">
                <span class="icon-delete-item"></span> 
            </a>
        }
    </div>

    <div style="height:38px;padding-top:10px;" id="confirm-delete" class="mobile">
        <div style="color:#FE9191; margin: 10px 0px;">@LocView.getLocalization("confirm_delete_archive")</div>
        <a href="/Archive/Delete/@Model.Id"
           id="confirm-delete-button"
           onclick="return deleteArchive($(this));"
           class="basicButton basicButton--xs basicButton--delete">
            @LocView.getLocalization("delete")
        </a>
        <a href="#" onclick="$(this).parent().parent().find('.confirm').removeClass('confirm'); return false;"
           class="basicButton basicButton--xs basicButton--cancel">
            @LocView.getLocalization("cancel")
        </a>
    </div>

    <div style="height:38px;padding-top:10px;" id="choose-report-type" class="mobile">
        <div class="export-to">@LocView.getLocalization("Choose_Archive_Type")</div>
        <a class="choose-report-type-csv" onclick="return createArchiveReport($(this), '@ReportOption.Csv','@Url.Action("CreateReport", "Report")')">
            <div class="downloadReport ">
                <span>@LocView.getLocalization("csv")</span>
                <div class="cssload-container">
                    <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
                </div>
            </div>
        </a>
        <a class="choose-report-type-excel" onclick="return createArchiveReport($(this), '@ReportOption.Excel','@Url.Action("CreateReport", "Report")');">
            <div class="downloadReport ">
                <span>@LocView.getLocalization("xls")</span>

                <div class="cssload-container">
                    <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
                </div>
            </div>
        </a>
    </div>

</div>