﻿@using WaveAccess.EventGame.Common.Entities
@model WaveAccess.MyQuiz.Model.Attender

<div class="leaderboard-individual-item-container">
    <div class="leaderboard-individual-item-left-block">
        <div class="leaderboard-individual-item-photo-container">
            @Html.DisplayFor(m => m.Photo)
        </div>
        <div>
            @switch (Model.UserAchievement)
            {
                case UserAchievement.BusinessGuru:
                    {
                <div class="status yellowStar">Business<br />
                    Guru</div> break;
                    }
                case UserAchievement.NetworkingMonster:
                    {
                <div class="status blueStar">Networking<br />
                    Monster</div> break;
                    }
                case UserAchievement.IndustryExpert:
                    {
                <div class="status greenStar">Industry<br />
                    Expert</div> break;
                    }
            }
        </div>
    </div>
    <div class="leaderboard-individual-item-center-block">
        <div class="leaderboard-individual-item-name">
            
                @if (AuthHelper.IsAdmin)
                {
                    <div class="company-list-item-title-company-name" >
                        <a href="/Account/UserProfile/@Model.UserProfileId" style="float: right;font-size: 20px;">@LocView.getLocalization("Edit")</a>
                    </div>
                }
            
            <a href="/Session/SpeakerDetails/@Model.UserProfileId" onclick="  ">@Model.UiName</a>
        </div>

        @if (!string.IsNullOrWhiteSpace(Model.Country))
        {
            <div class="leaderboard-individual-item-country">
                <div class="label-header">
                    <h4>@LocView.getLocalization("Country")</h4>
                </div>
                <div class="value">@Model.Country</div>
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(Model.JobTitle))
        {
            <div class="leaderboard-individual-item-job">
                <div class="label-header">
                    <h4>@LocView.getLocalization("Job")</h4>
                </div>
                <div class="value">@Model.JobTitle</div>
            </div>
        }
        @if (Model.Company != null)
        {            
            <div class="leaderboard-individual-item-company-container">
                <div class="label-header">
                    <h4>@LocView.getLocalization("Company")</h4>
                </div>
                <div class="company-value">
                    @Html.ActionLink(string.IsNullOrWhiteSpace(Model.Company.Name) ? "Company" : Model.Company.Name, "Details", new { controller = "Company", id = Model.Company.Id })
                    @if ((Model.Company.IsExhibitor.HasValue && Model.Company.IsExhibitor.Value) && (Model.Company.Booth.HasValue && Model.Company.Booth.Value > 0))
                    {
                        <div class="leaderboard-individual-item-company-booth">(@LocView.getLocalization("Booth") #@Model.Company.Booth)</div>
                    }
                </div>
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            <div class="leaderboard-individual-item-country">
                <div class="label-header">
                    <h4>@LocView.getLocalization("Description")</h4>
                </div>
                <div class="value">@Model.Description</div>
            </div>
        }
        <div class="leaderboard-individual-item-verticals-list-container">
            @if (Model.Verticals.Count() > 0)
            {
                <div class="leaderboard-individual-item-goals-verticals-container">
                    <div class="label-header">
                        <h4>@LocView.getLocalization("Verticals")</h4>
                    </div>
                    <ul class="leaderboard-individual-item-verticals-list">
                        @foreach (var v in Model.Verticals)
                        { 
                            <li class="leaderboard-individual-item-verticals-list-item">@v.Name</li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
    <div class="leaderboard-individual-item-right-block">
        @if (Model.Goals.Count() > 0)
        {
            <div class="leaderboard-individual-item-goals-list-container">
                <div class="label-header">
                    <h4>@LocView.getLocalization("Convergence_goals")</h4>
                </div>
                <ul class="leaderboard-individual-item-goals-list">
                    @foreach (var g in Model.Goals)
                    { 
                        <li class="leaderboard-individual-item-goals-list-item">@g.Name</li>
                    }
                </ul>
            </div>
        }
    </div>
</div>
