﻿@model WaveAccess.MyQuiz.WebUI.Models.InformationMessageViewModel
    
<div class="verivalLine" style="padding:25px 15px 25px 0;">
    <table>
        <tr>
            <td style="text-align: left; vertical-align: top; padding-top: 5px; min-width: 200px; line-height: 20px;" class="desktop">
                @{
                    @Html.Raw(LocView.getDateLocalization(Model.StartDateUtc, string.Empty, true)) 
                    <span data-date-utc>@Model.StTime</span> <br />

                    if (Model.EndDateUtc != null)
                    {
                        @Html.Raw(LocView.getDateLocalization((DateTime)Model.EndDateUtc, string.Empty, true))
                        <span data-date-utc>@Model.EdTime</span>
                    }
                }
            </td>
            <td class="quizCircleContainer">
                <div class="quizCircle">_</div>
            </td>
            <td class="ThemeBlock" style="width: 100%;">
                <div class="mobile" style="color:#CED5FE;">
                    <div style="color:#EFA923;font-size:110%;">@Html.Raw(LocView.getDateLocalization(Model.StartDateUtc, null, true))</div>
                </div>
                @Model.Message
            </td>
            <td class="desktop" style="vertical-align: top; width: 334px;">
                <div class="buttonContainer" style="width: 334px;text-align:right;">
                    @Html.HiddenFor(t => @Model.Id)
                    <a href="/Information/Edit/@Model.Id"
                       class="iconButton iconButton--default iconButton--inTable basicButton--rightSpace">
                        <span class="icon-edit-pencil"></span>
                    </a>
                    <a href="/Information/Delete/@Model.Id"
                       onclick="$(this).parent().parent().addClass('confirm');return false;"
                       class="iconButton iconButton--default iconButton--inTable">
                        <span class="icon-delete-item"></span>
                    </a>
                </div>
            </td>
            <td class="desktop" style="width:334px;" id="confirm-delete">
                <div style="width:334px;position:relative;text-align:right;">
                    <div class="gridTimeLine__errorMessageBox">@LocView.getLocalization("confirm_Delete_Banner")</div>
                    <a href="/Information/Delete/@Model.Id"
                       id="confirm-delete-button"
                       onclick="return deleteBanner($(this))"
                       class="basicButton basicButton--small basicButton--delete basicButton--confirmDelete  basicButton--rightSpace">
                        @LocView.getLocalization("delete")
                    </a>
                    <a href="#"
                       onclick="$(this).parents('tr:first').find('.confirm').removeClass('confirm'); return false;"
                       class="basicButton basicButton--small basicButton--cancel basicButton--cancelDelete">
                        @LocView.getLocalization("cancel")
                    </a>

                </div>

            </td>
        </tr>
    </table>

    <div style="height: 38px; margin-top: 18px;" class="mobile">
        <a href="/Information/Edit/@Model.Id"
           class="iconButton iconButton--xs iconButton--default">
            <span class="icon-edit-pencil"></span>
        </a>
        <a href="/Lectures/Delete/@Model.Id"
           onclick="$(this).parent().addClass('confirm');return false;"
           class="iconButton iconButton--xs iconButton--default">
            <span class="icon-delete-item"></span> 
        </a>
    </div>
    <div style="height:38px;padding-top:10px;" id="confirm-delete" class="mobile">
        <div style="color:#FE9191;    margin: 10px 0px;">@LocView.getLocalization("confirm_Delete_Banner")</div>
        <a href="/Lectures/Delete/@Model.Id"
           id="confirm-delete-button"
           onclick="return deleteBanner($(this))"
           class="basicButton basicButton--xs basicButton--delete">
            @LocView.getLocalization("delete")
        </a>
        <a href="#"
           onclick="$(this).parent().parent().find('.confirm').removeClass('confirm'); return false;"
           class="basicButton basicButton--xs basicButton--cancel">
            @LocView.getLocalization("cancel")
        </a>

    </div>
</div>
