﻿@model WaveAccess.MyQuiz.Model.Image
@using WaveAccess.MyQuiz.WebUI.Helpers

@if(Model != null){
    <div class="the-photo" style="background-image:url(@Url.StorageImage(Model, (ViewData["size"] ?? "500").ToString()))"></div>
} else {

    <div class="the-photo" style="background-image:url('/Images/no-user-photo.png')"></div>
}
