﻿@model WaveAccess.MyQuiz.Model.Image
@using WaveAccess.MyQuiz.WebUI.Helpers
@using WaveAccess.MyQuiz.WebUI.Models

@if (Model != null && Model.MediaType == WaveAccess.MyQuiz.Common.Enums.MediaType.Video.ToString())
{
    <div class="QuizInfo__ImageBlock">
        <div class='frameContainer'>
            <iframe src='@Url.YoutubeVideo(Model, new YouTubePlayerParam(){AutoPlay = 0})' allowfullscreen='allowfullscreen' mozallowfullscreen='mozallowfullscreen' msallowfullscreen='msallowfullscreen'
                    oallowfullscreen='oallowfullscreen' webkitallowfullscreen='webkitallowfullscreen' frameBorder='0'></iframe>
        </div>
    </div>
}
else if (Model != null && Model.MediaType == WaveAccess.MyQuiz.Common.Enums.MediaType.VideoSelfHosted.ToString())
{
    if (!String.IsNullOrWhiteSpace(Model.URL))
    {
        <div class="QuizInfo__ImageBlock">
            <div class='frameContainer'>
                <video class="azuremediaplayer amp-default-skin amp-big-play-centered"
                       data-setup='{ 
                                    "techOrder": ["azureHtml5JS", "flashSS", "html5FairPlayHLS", "silverlightSS", "html5"],
                                    "logo": { "enabled": false },
                                    "inactivityTimeout": "2e3",
                                    "nativeControlsForTouch": false, 
                                    "width": "100%", 
                                    "height": "100%", 
                                    "controls": true, 
                                    "autoplay": false,
                                    "language": "@LocView.Leng",
                                    "poster": "@Model.ThumbnailUrl"
                                }'>
                    <source src="@Model.URL" type="application/vnd.ms-sstr+xml"/>
                </video>
            </div>
        </div>
    }
    else
    {
        <div class="logo-container">
            <div class="the-photo">
                <img onload="imageLoaded.call(this)" src='@Html.UrlCdn("~/app/images/home/video_processing_" + LocView.Leng + ".png")' />
            </div>
        </div>        
    }
}
else
{
    <div class="logo-container">
        <div class="the-photo">
            <img onload="imageLoaded.call(this)" src="@Url.StorageImage(Model, "500", "/Images/quiz-default.jpg")" />
        </div>
    </div>
}
