﻿@model WaveAccess.MyQuiz.Model.Image
@using WaveAccess.MyQuiz.WebUI.Helpers


@if (Model != null && !Model.IsEmpty)
{
    <div class="images-container image-container">
        <a href="@Url.StorageImage(Model, "169")" class="colorbox">
            <div class="the-logo" style="background-image:url(@Url.StorageImage(Model, "169"))"></div>
        </a>
    </div>
}

<script>
    $(function() {
        $("a.colorbox").colorbox({ width: "90%", height: "90%" });
    });
</script>




