﻿@model WaveAccess.MyQuiz.Model.Image
@using WaveAccess.MyQuiz.WebUI.Helpers

    @if(Model != null && !Model.IsEmpty){
        <div class="screenshot-container"><div class="the-photo" style="background-image:url(@Url.StorageImage(Model, "500"))"></div></div>
    } else {
        <div class="screenshot-container no-image">@LocView.getLocalization("no_image")</div>
    }




