﻿@model WaveAccess.MyQuiz.Model.Image
@using WaveAccess.MyQuiz.WebUI.Helpers

@{ 
    bool isEmpty = WaveAccess.MyQuiz.Model.Image.IsEmptyOrNull(Model);
    string imagePath = isEmpty ? null : Path.Combine(ViewBag.UploadsRootPath, Model.InternalPath);
}
    @if (!isEmpty)
    {
        <div class="company-list-item-logo-container"><div class="the-photo" style="background-image:url(@Url.StorageImage(Model, "500"))"></div>    </div>
    } else {
        <div class="company-list-item-logo-container no-image">@LocView.getLocalization("no_image")</div>
    }


