﻿@model WaveAccess.MyQuiz.Model.Image
@using WaveAccess.MyQuiz.WebUI.Helpers
@{ 
    bool isEmpty = WaveAccess.MyQuiz.Model.Image.IsEmptyOrNull(Model);
}
    @if (!isEmpty)
    {
        <div class="logo-container"><div class="the-photo" style="background-image:url(@Url.StorageImage(Model, "500"))"></div></div>
    } else {
        <div class="logo-container no-image">@LocView.getLocalization("no_image")</div>
    }


