﻿@model WaveAccess.MyQuiz.Model.Image
@using WaveAccess.MyQuiz.WebUI.Helpers

@*@{
    string imagePath = Model == null ? null : Path.Combine(ViewBag.UploadsRootPath, Model.InternalPath);
}*@

<div class="the-photo">
    <img onload="imageLoaded.call(this)" src="@Url.StorageImage(Model, "500", "/Images/quiz-default.jpg")" />
    
</div>


@*Debug: @ViewBag.UploadsRootPath*@