﻿@using System.Linq
@using WaveAccess.EventGame.Common.Entities
@using WaveAccess.EventGame.Services
@model WaveAccess.EventGame.Services.LeaderboardIndividualItem

@*            <div  style=" height:100px; position:relative;  "> 
                <span style="    position: absolute;
    top: 59px;
    font-size: 57px;
    color: white;
    
    right: 100%">@Model.Place</span>
              
                   
           <div  class="photo-container">
                    @Html.DisplayFor(m => Model.Photo)
                    <div class="leaderboard-individual-item-score">@Model.Score</div>
               
                 </div>
                
                <div   class="top-5-name">
                
                    <div >
                    </div>
                    <span>@Model.UiName<br /><span style="text-transform:none">@Model.Company.Name</span></span>
            </div> 
                  
                </div>*@
@functions {
    public string GetActiveClass()
    {
        if (Model.Place==1)
        {
            return "first";
        }
        if (Model.Place < 4)
            return "second";
        return "";
    }
}
<div class="leaderboardItem">
    <table class="@GetActiveClass()" style=" table-layout:fixed;display:table; font-weight:bold;width:100%;">
        <tr>
            <td>
                @Model.Place
            </td>
            <td>
                <div  class="photo-container">
                    @Html.DisplayFor(m => Model.Photo, new {size = "81"})
                    <div class="leaderboard-individual-item-score">@Model.Score</div>
                </div>
            </td>
            <td style="overflow:hidden;text-overflow:ellipsis;text-transform:none">
                @Model.UiName
                @if (Model.IsYou){
                    <span style="color:#FAAF32">
                        (@LocView.getLocalization("you"))
                    </span>
                }
                <br />
                <span style="">@Model.Company.Name </span>
                <div>
                </div>
            </td>
        </tr>
    </table>
</div>
<script>
    $('#top-list table tr td:first-child').each(function() {
        var score = $(this).text().trim();
        if (score.length > 2) {
            $('#top-list table tr td:first-child').addClass('max-width');
        }
    });
</script>      