﻿@model WaveAccess.EventGame.Services.LeaderboardItem
   
<div class="leaderboardItem">
    <div class="place">@Html.DisplayFor(model => model.Place) </div> 
    <div class="userInfoBlock">
        <div class="userProfilePhoto"><img src="@Model.PhotoUrl" /></div>    
        <div class="userProfileLink">@Html.ActionLink(Model.FullName, "Details", "UserProfile")</div>
    </div>
    <div class="companyBlock"> 
        <div class="job">@Html.LabelFor(model => model.JobTitle, new { @class = "label" }) @Model.JobTitle </div>       
        <div class="company">@Html.LabelFor(model => model.Company, new { @class = "label" }) @Html.ActionLink(Model.Company, "Details", "Company")</div>       
        <div class="goalsLabel">@Html.LabelFor(model => model.Goal, new { @class = "label" })</div>
        <div class="goalsText">@Model.Goal</div>
    </div>
</div>