﻿@using System.Globalization
@using WaveAccess.MyQuiz.Common
@using WaveAccess.MyQuiz.Core
@using WaveAccess.MyQuiz.Model
@model WaveAccess.MyQuiz.Model.Lecture


@{
	var buttonTextCode = "Start_quiz";
	var buttonTextCodeMobile = "Start_quiz_mobile";
	if (ViewBag.IsStartedQuize != null && ViewBag.IsStartedQuize == true)
	{
		buttonTextCode = "Stop";
		buttonTextCodeMobile = "Stop";
	}
	else if (Model.Type == QuizType.Survey)
	{
		buttonTextCode = "Start_survey";
	}

    bool canPlay = Model.CustomQuestions.Any(m => m.Approved) || (ViewBag.IsStartedQuize != null && ViewBag.IsStartedQuize == true);
    var currentLocalizationTitle = ViewBag.Lang;
    var host = ServiceLocator.Instance.Get<IGameRepository>().GetHostRepositoryByQuizCode(Model.Code, new HostDataReadOptions(HostDataReadMode.LocalFields));
    var isStartedAndNotCompleted = host != null && !host.IsCompleted();
    var isAwaiting = host != null && host.IsAwaiting();

	var timeFormat = CultureInfo.CurrentCulture.DateTimeFormat.ShortTimePattern;
}
<div class="gridTimeLine_row">
	<div class="gridTimeLine__col gridTimeLine__colDate text--center">
		@Html.Raw(LocView.getDateLocalization(Model.StartDateTime))
	</div>
	<div class="gridTimeLine__col gridTimeLine__colCircle">
		<div class="gridTimeLine_circle">
			@if (isStartedAndNotCompleted)
			{
				if (isAwaiting)
				{
					<div class="gridTimeLine_circleInner gridTimeLine_circleInner-animation gridTimeLine_circleInner--awaiting"></div>
				}
				else
				{
					<div class="gridTimeLine_circleInner gridTimeLine_circleInner-animation gridTimeLine_circleInner--inPlay"></div>
				}
			}
			else
			{
				<div class="gridTimeLine_circleInner gridTimeLine_circleInner--static"></div>
			}
		</div>
	</div>
	<div class="gridTimeLine__col gridTimeLine__colData gridTimeLine__col--w100percent">
		<div class="gridData">
			<div class="gridData__row">
				<div class="gridData__col gridData__colTime gridData__colTime--@CultureInfo.CurrentCulture.Name gridData__col--padding text--important text--center webkit-text-size-adjust-100">
					<span class="dateTime_date">@Html.Raw(LocView.getDateLocalization(Model.StartDateTime, null, true))</span>
					<span class="dateTime_splitter">|</span>
					<span class="icon-clock"></span>
					<span class="dateTime_time">@Model.StartDateTime.ToString(timeFormat)</span>
				</div>
				<div class="gridData__col gridData__col--padding desktop">
					<span class="quizCodeLabel">@Model.Code</span>
				</div>
				@if (AuthHelper.IsAdmin)
				{
					<div class="gridData__col lecturesGridData__colOwner gridData__col--padding text--ellipsis text--important">
						@Model.UserProfile.Email
					</div>
				}
				<div class="gridData__col gridData__col--w100percent gridData__col--padding lecturesGridData__colTheme text--ellipsis">
					<span class="quizCodeLabel mobile">@Model.Code</span>
					@Model.Theme
					@if (Model.ShareId.HasValue)
					{
						<text>(<span class="icon-users tooltip-dark" title="@LocView.getLocalization("Users_Added_Quiz")"></span> @Model.InstalledCount)</text>
					}
				</div>
				<div class="gridData__col gridData__colButtons">
					<div class="gridData__buttonsBlock">
						<span errorType="noQuestionsError"
						      class="gridData__errorMessageBox gridData__errorMessageBox--hidden gridData__errorMessageBox--border">
							@LocView.getLocalization("Please_Approve_Any_Questions")</span>
						@Html.HiddenFor(t => Model.Id, new {id = "QuizId"})
						@Html.HiddenFor(t => t.IsQuizWinnerCodeEnabled, new {id = "IsQuizWinnerCodeEnabled"})
						<input type="hidden" id="currentLanguageTitle" value="@currentLocalizationTitle" />

						@if (AuthHelper.IsRegisteredUser)
						{
							if (isStartedAndNotCompleted)
							{
								if (isAwaiting)
								{
									<a id="startquiz"
									   href="@Url.Action("Show", "HostInstance", new { hostId = host.HostId})"
									   class="basicButton basicButton--small basicButton--rightSpace basicButton--startQuiz basicButton--start">
										<span class="desktop">@LocView.getLocalization("Awaiting_status")</span>
										<span class="mobile">@LocView.getLocalization("Awaiting_status_mobile")</span>
									</a>
								}
								else
								{
									<a id="startquiz"
									   href="@Url.Action("Show", "HostInstance", new { hostId = host.HostId })"
									   class="basicButton basicButton--small basicButton--rightSpace basicButton--startQuiz basicButton--start">
										<span class="desktop">@LocView.getLocalization("Manage_quiz")</span>
										<span class="mobile">@LocView.getLocalization("Manage")</span>
									</a>
								}
							}
							else
							{
								<a id="startquiz"
                                   onclick="onStartQuizInitClick(@Model.Id, @(canPlay.ToString().ToLower()), this)"
								   class="basicButton basicButton--small basicButton--rightSpace basicButton--startQuiz @(canPlay ? "basicButton--start" : "basicButton--inactive")">
									<span class="desktop">@LocView.getLocalization(buttonTextCode)</span>
									<span class="mobile">@LocView.getLocalization(buttonTextCodeMobile)</span>
								</a>
							}

							<a class="basicButton basicButton--small basicButton--rightSpace basicButton--editQuiz" href="/Lectures/Edit/@Model.Id"></a>

							<a id="inviteToTheQuiz" class="basicButton basicButton--small basicButton--rightSpace basicButton--inviteToQuiz" onclick="showInviteQuizModal(@Model.Id);return false;"></a>
						}
						<div class="dropDownButton">
							<a class="dropDownButton__button dropDownButton__button--settings dropDownButton__button--small" onclick="Controls.onShowDropDownMenu(this);">
								<span class="icon-settings"></span>
								<span class="icon-caret-down"></span>
							</a>
							<ul class="dropDownButton__menu dropDownButton__menu--hidden" data-is-admin-view="@AuthHelper.IsAdmin.ToString().ToLower()">
								@if (AuthHelper.IsAdmin)
								{
									<li class="dropDownButton__menuItem">
										<a class="dropDownButton__menuLink" href="/Lectures/Edit/@Model.Id">
											<span class="dropDownButton__menuIcon icon-edit-pencil"></span> @LocView.getLocalization("Edit")
										</a>
									</li>
								}
								<li class="dropDownButton__menuItem">
									<a href="#" class="dropDownButton__menuLink" onclick="showShareQuizModal(@Model.Id);return false;">
										<span class="dropDownButton__menuIcon icon-share-quiz"></span> @LocView.getLocalization("Share")
									</a>
								</li>

								@if (AuthHelper.IsAdmin)
								{
									var useEnglishOnly = ViewBag.UseEnglishOnly == true;

									<li class="dropDownButton__menuItem">
										<a class="dropDownButton__menuLink" href="/Lectures/Export/@Model.Id">
											<span class="dropDownButton__menuIcon icon-export"></span> @LocView.getLocalization("Export")
										</a>
									</li>
									<li>
										<hr />
									</li>

									if (!useEnglishOnly)
									{
										<li class="dropDownButton__menuItem">
											<a class="dropDownButton__menuLink" href="@Url.Action("CreateFromQuiz", "Template", new {id = Model.Id, language = "ru"})">
												<span class="dropDownButton__menuIcon icon-add-to-catalogue"></span> @LocView.getLocalization("CreateTemplate_Rus")
											</a>
										</li>
									}
									<li class="dropDownButton__menuItem">
										<a class="dropDownButton__menuLink" href="@Url.Action("CreateFromQuiz", "Template", new {id = Model.Id, language = "en"})">
											<span class="dropDownButton__menuIcon icon-add-to-catalogue"></span> @LocView.getLocalization("CreateTemplate_Eng")
										</a>
									</li>
									<li>
										<hr />
									</li>

									
									var announcement = Model.Announcements.FirstOrDefault();
									var prize = announcement != null ? announcement.Prize : string.Empty;
									

									if (!useEnglishOnly)
									{
										<li class="dropDownButton__menuItem">
											<a class="dropDownButton__menuLink announcement__action" data-action="create" data-prize="@prize" href="@Url.Action("CreateOrUpdate", "Announcement", new {quizId = Model.Id, language = "ru"})">
												<span class="dropDownButton__menuIcon icon-add-to-catalogue"></span> @LocView.getLocalization("CreateAnnouncement_Rus")
											</a>
										</li>
									}

									<li class="dropDownButton__menuItem">
										<a class="dropDownButton__menuLink announcement__action" data-action="create" data-prize="@prize" href="@Url.Action("CreateOrUpdate", "Announcement", new {quizId = Model.Id, language = "en"})">
											<span class="dropDownButton__menuIcon icon-add-to-catalogue"></span> @LocView.getLocalization("CreateAnnouncement_Eng")
										</a>
									</li>
								}
								<li>
									<hr />
								</li>
								<li class="dropDownButton__menuItem">
									<a class="dropDownButton__menuLink" href="/Lectures/Delete/@Model.Id"
									   onclick="showInlineConfirmation(this);return false;">
										<span class="dropDownButton__menuIcon icon-delete-item"></span> @LocView.getLocalization("Delete")
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="gridData__col gridData__colConfirm gridData__col--hidden">
					<div class="gridData__confirmBlock">
						<div class="gridData__errorMessageBox gridData__errorMessageBox--visible">@LocView.getLocalization("confirm_delete")</div>
						<a href="/Lectures/Delete/@Model.Id" data-quiz-id="@Model.Id"
						   onclick="return deleteQuiz(this)"
						   class="basicButton basicButton--small basicButton--delete basicButton--confirmDelete  basicButton--rightSpace">
							@LocView.getLocalization("delete")
						</a>
						<a href="#"
						   onclick="hideInlineConfirmation(this);return false;"
						   class="basicButton basicButton--small basicButton--cancel basicButton--cancelDelete">
							@LocView.getLocalization("cancel")
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>