﻿@model WaveAccess.MyQuiz.Model.ProductFeature
@using WaveAccess.MyQuiz.WebUI.Helpers
<div class="subentity-list-item">
        <div class="header">       
            <div class="toggleButton" onclick="return Controls.onToggleContainerButton(this)">
                <div class="toggleButton-title">
                    @Html.DisplayFor(model => model.ShortDescription)
                </div>
                <div class="toggleButton-button">
                    <a href="#">close</a>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="display-label">
                @LocView.getLocalization("Short_description");
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.ShortDescription)
            </div>

            <div class="display-label">
                @LocView.getLocalization("Long_description")
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.LongDescription)
            </div> 
        </div>
</div>
