﻿@using WaveAccess.MyQuiz.Core
@model WaveAccess.MyQuiz.WebUI.Models.QuestionModel
@helper WriteLetter(int index)
{
    @((char)('A' + index))
}

<div class="questions-count-container centered">
    <div class="time-left"></div>
    <div class="questions-count">
        @LocView.getLocalization("Question") @Model.Question.Number
        <span>@LocView.getLocalization("of")  @Model.QuestionsCount</span>
    </div>
    <div id="questionText" class="question-text prelined">@Model.Question.Text</div>
</div>
@if (ViewBag.IsArchive==true ) { 
<div class="prelined" style="color: #8DCDEB;padding-top: 16px;margin-bottom: 36px;font-weight: bold;clear:both;font-size: 24px;">@Model.Question.Text</div>
}
@if (Model.Question.Image != null)
{
<div class="current-game-body clearfix">
 @Html.DisplayFor(m => m.Question.Image, "ImageMobile")
</div>
}
<input type="hidden" name="hostId" id="hostId" value="@Model.HostId" />
<input type="hidden" name="questionId" id="questionId" value="@Model.Question.Id" />
@Html.Hidden("IsSingleChoise", Model.Question.IsSingleChoise, new { id = "isSingleChoise" })
<div id="question-info-container" @Html.Raw(Model.Question.Image == null ? " style=\"width:100%\"" : "")>
    <div id="question-info-container-answers-container">
        @Html.Hidden("RestingTime", (bool)ViewBag.RestingTime)
        <ul>
            @for (var i = 0; i < Model.Question.Answers.Count; i++)
            {
                var answer = Model.Question.Answers[i];

                string id = string.Format("AnswerIds_{0}_", i);
                <li class="clearfix posrel">
                    <input type="checkbox" id="@id" name="AnswerIds" value="@answer.Id"
                           @(Model.AnswerIds.Contains(answer.Id) ?
                                 "checked=\"checked\"" : ""
                                 )
                           @(ViewBag.IsAnswered || ViewBag.RestingTime ?
                                 "disabled=\"disabled\"" : ""
                                 )/>
                    <label for="@id" class="posrel @(ViewBag.RestingTime ? (answer.IsCorrect ? "is-correct" : (!Model.AnswerIds.Contains(answer.Id) ? "disabled" : "is-wrong")) : "")">
                        <div style="position: absolute; left: 10px; top: 46%; height: 30px;">
                            <div id="number-answer" style="position: absolute; border: 3px solid #5896B0; color: #D0D1D6; font-size: 22px; border-radius: 46px; height: 30px; width: 30px;line-height: 30px; font-size: 18px; font-weight: bold; text-align: center; left: 3px; top: -50%;">@WriteLetter(i)</div>

                        </div>
                        @if (ViewBag.RestingTime && Model.AnswerIds.Contains(answer.Id))
                        {
                            <div style="position: absolute; right: 30px; top: 50%; height: 20px;">
                                <div id="number-answer" style="position: absolute; height: 100%; width: 20px;line-height: 44px; text-align: center; left: 3px; top: -50%; background-size: cover; background-image: url(/Images/@(answer.IsCorrect ? "correct" : "wrong")-answer-icon.png)"></div>
                            </div>
                        }
                        <span class="absCheck"></span>
                        <div class="posrel answerSecondCol">
                            <div class="posrel">
                                <div class="answerThirdCol">
                                    <p class="inline-block">
                                        @answer.Text
                                    </p>
                                </div>
                            </div>
                        </div>
                    </label>

                </li>
            }
        </ul>
    </div>
</div>
