﻿@using WaveAccess.MyQuiz.Core
@model WaveAccess.MyQuiz.WebUI.Models.QuestionModel
@helper WriteLetter(int index)
{
    @((char)('A' + index))
}

@if (Model.Question.Image != null)
{
    <div id="mobile-photo" class="current-game-body clearfix">
        <div class="Photobg">
            @Html.DisplayFor(m => m.Question.Image, "ImageStartGame")
        </div>
    </div>
}
<input type="hidden" name="hostId" id="hostId" value="@Model.HostId" />
<div id="question-info-container">
    <div id="question-info-container-answers-container">
        @Html.Hidden("RestingTime", (bool)ViewBag.RestingTime)
        @for (var i = 0; i < Model.Question.Answers.Count; i++)
        {
            <input type="hidden" name="AnswerIds.Index" value="@i"/>
        }
        <ul>
            @for (var i = 0; i < Model.Question.Answers.Count; i++)
            {
                var answer = Model.Question.Answers[i];

                string id = string.Format("AnswerIds_{0}_", i);
                string name = string.Format("AnswerIds[{0}]", i);
                <li class="clearfix posrel">
                    <input type="checkbox" id="@id" name="@name" value="@answer.Id" disabled="disabled"/>
                    <label for="@id" class="posrel @(ViewBag.RestingTime && answer.IsCorrect ? "is-correct" :  "")">
                        <div style="position: absolute; left: 10px; top: 46%; height: 30px;">
                            <div id="number-answer" style="position: absolute; border: 3px solid #5896B0; color: #D0D1D6; font-size: 22px; border-radius: 46px; height: 30px; width: 30px;
                                                                                                                                           line-height: 30px; font-size: 18px; font-weight: bold; text-align: center; left: 3px; top: -50%;">@WriteLetter(i)</div>

                        </div>
                        <span class="absCheck"></span>
                        <div class="posrel answerSecondCol">
                            <div class="posrel">
                                <div class="answerThirdCol">
                                    <p class="inline-block">
                                        @answer.Text
                                    </p>
                                </div>
                            </div>
                        </div>
                    </label>

                </li>
            }
        </ul>

    </div>
</div>

@Html.HiddenFor(m => m.Question.Id)
@if (Model.Question.Image != null)
{
    <div id="desktop-photo" class="current-game-body clearfix">
        <div class="Photobg">
            @Html.DisplayFor(m => m.Question.Image, "ImageStartGame")
        </div>
    </div>
}
