﻿@model WaveAccess.MyQuiz.Model.Session

<div class="company-list-item-container clearfix user-sessions" style="margin:0px;">
    <div class="left-column" style="text-align:center;font-size: 20px;width:25%;">
        <div style="margin:10px 0;"><span>@Model.Date.ToString(@"dd/MM/yyyy")</span></div>
        <span style="margin:10px 0;">@Model.StartTime.ToString(@"hh\:mm")</span> -
        <span style="margin:10px 0;">@Model.EndTime.ToString(@"hh\:mm")</span>
        @if(!string.IsNullOrEmpty(Model.Place)){
        <div style="margin:10px 0;"><span style="  background: url(/Content/themes/base/images/Place.png) no-repeat 0 6px;
  background-size: 20px 20px;
  padding: 0 0 0 20px;">@Model.Place</span></div>
        }
    </div>
    <div class="right-column" style="width:75%;">
        <div class="company-list-item-title-container">
            <div class="company-list-item-title-company-name-container">
                <div class="company-list-item-title-company-name" > 
                    @if (AuthHelper.IsAdmin)
                {
                    <div class="company-list-item-title-company-name" style="float: right;font-size: 20px;">
                        <a href="/Company/Edit/@Model.CompanyId" style="float: right;font-size: 20px;">@LocView.getLocalization("Edit")</a>
                    </div>
                }
                    @Html.ActionLink(Model.Name, "Details", new { Controller = "Session", Model.Id }, new {style="font-size:35px;line-height:35px;" })
                </div>
            </div>
        </div>
        @if(Model.Speakers.Any())
        {
        <div class="company-list-item-verticals-container" style="padding-top: 6px;">
            <h4>@LocView.getLocalization("Speakers")</h4>
            <ul class="company-list-item-verticals-list">
                @foreach (var vertical in Model.Speakers)
                {
                    <li class="company-list-item-verticals-list-item">@vertical.FullName</li>
                }                    
            </ul>
        </div>
        }

         @if(Model.Categories.Any())
        {
        <div class="company-list-item-verticals-container">
            <h4>@LocView.getLocalization("Categories")</h4>
            <ul class="company-list-item-verticals-list">
                @foreach (var vertical in Model.Categories)
                {
                    <li class="company-list-item-verticals-list-item">@vertical.Name</li>
                }                    
            </ul>
        </div>
        }
        
    </div>
</div>
