﻿@model WaveAccess.MyQuiz.Model.Session

<div class="company-list-item-container clearfix">
    <div class="left-column" style="text-align:center;font-size: 30px;">
        <div style="margin:0 0 15px 0">
            <span>@Model.StartTime.ToString(@"hh\:mm")</span> -
            <span>@Model.EndTime.ToString(@"hh\:mm")</span>
        </div>
        @if (!string.IsNullOrEmpty(Model.Place))
        {
            <div style="margin: 15px 0;">
                <span style="  background: url(/Content/themes/base/images/Place.png) no-repeat 0 6px;
            background-size: 32px 32px;
            padding: 0 0 0 27px;">@Model.Place</span>
        </div>
        }
        <button style="padding: 12px 0px;
  margin: 0px;
  font-weight: bold;
  background: #00bcf2;
  width: 125px;
  color: white;
  border: 0px;" sessionid="@Model.Id" inplanner="@Model.PlannerUsers.Any(u=>u.UserId==ViewBag.UserId)" onclick="AddToPlanner.call(this)">
            @LocView.getLocalization(Model.PlannerUsers.Any(u => u.UserId == ViewBag.UserId) ? "Remove_from_Planner" : "Add_to_Planner")
</button>
</div>
<div class="right-column">
    <div class="company-list-item-title-container" style="margin-bottom: 30px;">
        <div class="company-list-item-title-company-name-container">
            <div class="company-list-item-title-company-name">
                @if (AuthHelper.IsAdmin)
                {
                    <div class="company-list-item-title-company-name" style="float: right;font-size: 20px;">
                        <a href="/Company/Edit/@Model.CompanyId?currentItem=Sessions" style="float: right;font-size: 20px;">Edit</a>
                    </div>
                }
                @Html.ActionLink(Model.Name, "Details", new { Controller = "Session", Model.Id })
            </div>
        </div>
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.ShortDescription))
    {
        <div class="company-list-item-title-container" style="padding-top: 6px;">
            <h4>@LocView.getLocalization("Description")</h4>

            <span class="company-list-item-verticals-list-item">@Model.ShortDescription</span>
        </div>
    }
    @if (Model.Speakers.Any())
    {
        <div class="company-list-item-verticals-container" style="padding-top: 6px;">
            <h4>@LocView.getLocalization("Speakers")</h4>
            <ul class="company-list-item-verticals-list">
                @foreach (var vertical in Model.Speakers)
                {
                    <li class="company-list-item-verticals-list-item">@vertical.FullName</li>
                }
            </ul>
        </div>
    }

    @if (Model.Categories.Any())
    {
        <div class="company-list-item-title-container" style="padding-top: 6px;">
            <h4>@LocView.getLocalization("Categories")</h4>
            <ul class="company-list-item-verticals-list">
                @foreach (var vertical in Model.Categories)
                {
                    <li class="company-list-item-verticals-list-item">@vertical.Name</li>
                }
            </ul>
        </div>
    }

</div>
</div>