﻿@model WaveAccess.MyQuiz.Model.Session
@using (Html.BeginForm("Details", "Session", new { id = Model.Id }, FormMethod.Post))
{
<div class="company-details-container centered clearfix">
    <div class="left-column sessionTimeBlock" style="padding: 40px 0px 0px 0px;" >
        <div>@Model.Date.ToShortDateString()</div>
        <div>
            <span>@Model.StartTime.ToString(@"hh\:mm")</span> - 
            <span>@Model.EndTime.ToString(@"hh\:mm")</span>
        </div>
        <div>
            <span class="placeBlock">@Model.Place</span>
        </div>
        <button style="  padding: 12px 0px;
            margin: 0px;
            font-weight: bold;
            background: #00bcf2;
            width: 125px;
            color: white;
            border: 0px;" onclick="AddToPlanner.call(this)"sessionId="@Model.Id" inplanner="@ViewBag.Participant">@(ViewBag.Participant==true?LocView.getLocalization("Remove_from_Planner"):LocView.getLocalization("Add_to_Planner"))  </button>
    </div>
    <div class="right-column">
        <div class="company-list-item-title-container">
            <div class="company-list-item-title-company-name-container">
                <div class="company-list-item-title-company-name">
                    @if (AuthHelper.IsAdmin)
                {
                    <div class="company-list-item-title-company-name" style="float: right;font-size: 20px;">
                        <a href="/Company/Edit/@Model.Company.Id" style="float: right;font-size: 20px;">@LocView.getLocalization("Edit")</a>
                    </div>
                }

                    <div class="company-details-header-company-name">@Model.Name</div>
                </div>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(Model.Description) || !string.IsNullOrEmpty(Model.ShortDescription))
        {
         <div class="company-details-about-company-title" style="margin-top:30px">
            <h3>@LocView.getLocalization("Description")</h3>
        </div>
        <div class="company-details-about-company-profile-container" style="  margin-bottom: 20px;">@Html.Raw(string.IsNullOrEmpty(Model.Description)?Model.ShortDescription: Model.Description)</div>
        }
        @if (Model.Speakers.Any())
        {
        <div class="company-list-item-products-list-container">
            <div class="company-list-item-products-list-header"><h3>@LocView.getLocalization("Speakers")</h3></div>
            @foreach (var prod in Model.Speakers)
            {
                @Html.DisplayFor(m => prod, "SpeakerListItem") 
            }
        </div>
        }
         @if(Model.Categories.Any())
        {
        <div class="company-list-item-verticals-container">
            <h4>@LocView.getLocalization("Categories")</h4>
            <ul class="company-list-item-verticals-list">
                @foreach (var category in Model.Categories)
                {
                    <li class="company-list-item-verticals-list-item">@category.Name</li>
                }                    
            </ul>
        </div>
        }
         @if(Model.PlannerUsers.Any())
        {
        <div class="company-list-item-verticals-container">
            <h4>@LocView.getLocalization("Participant")</h4>
            <ul class="company-list-item-verticals-list">
                @foreach (var vertical in Model.PlannerUsers)
                {
                    <li class="company-list-item-verticals-list-item">@vertical.FullName</li>
                }                    
            </ul>
        </div>
        }
    </div>
</div>
}@section Scripts {
    <script type="text/javascript">
function AddToPlanner() {
            var $this = $(this);
            var sessionId = $this.attr('sessionId');
            var inplanner = !!$this.attr('inplanner');
            $.post("/Session/Details/" + sessionId, function (data) {
                $this.text(inplanner ? '@LocView.getLocalization("Add_To_Planner")' : '@LocView.getLocalization("Remove_from_Planner")');
            });
}
        </script>
    }