﻿@model WaveAccess.MyQuiz.Model.UserProfile    
@using WaveAccess.MyQuiz.WebUI.Helpers
<div class="product-item-container clearfix">
    <div class="product-logo-container left">
        @Html.DisplayFor(m => m.Photo)
    </div>
    <div class="product-info-container">
        <div class="product-info-title-container"><span>@Html.ActionLink(Model.FullName, "SpeakerDetails", new { Controller="Session", Id=Model.UserId })</span></div>
        <div class="product-info-title-container">@Model.JobTitle at @Model.Company.Name</div>
    </div>
</div>     
         
