﻿@using WaveAccess.MyQuiz.WebUI.HelpersCode
@model WaveAccess.MyQuiz.Core.IHostInstanceData
@{
    var quiz = Model.Quiz;
    var owner = Model.Owner;

}
<div class="verivalLine started-quiz-description" style="padding:25px 15px 25px 0;">
    <table>
        <tr>
            <td style="text-align: center;vertical-align: top;padding-top: 5px;min-width: 121px;" class="desktop">
                @Html.Raw(LocView.getDateLocalization(quiz.StartDateTime))
            </td>
            <td class="quizCircleContainer">
                <div class="quizCircle">_</div>
            </td>
            <td class="desktop time" style="min-width: 100px; text-align: center; color: #cfd4fc;">
                <span>@quiz.StartDateTime.ToString("HH:mm")</span> - <span>@quiz.EndDateTime.ToString("HH:mm")</span>
            </td>
            @if (AuthHelper.IsAdmin)
            {
                <td class="desktop owner" style="width: 200px;max-width: 250px;text-align: left; color: #cfd4fc;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                    <span>@owner.UserName</span>
                </td>
            }
            <td class="ThemeBlock" style="width: 100%;">
                <div class="mobile" style="color:#CED5FE;">
                    <div style="color:#EFA923;font-size:110%;">@Html.Raw(LocView.getDateLocalization(quiz.StartDateTime, null, true))</div>
                    <div style="font-size:90%;padding:10px 0; color: #cfd4fc;">
                        <span>@quiz.StartDateTime.ToString("HH:mm")</span> - <span>@quiz.EndDateTime.ToString("HH:mm")</span>
                    </div>
                    <div class="state-mobile">@LocView.getLocalization(LectureHelper.TranslateHostState(Model.State))</div>
                </div>
                @quiz.Theme
            </td>
            <td class="desktop">@LocView.getLocalization(LectureHelper.TranslateHostState(Model.State))</td>
            <td class="desktop" style="vertical-align: top; width: 334px;">
                <div class="buttonContainer" style="width: 334px;text-align:right;">
                    <a hostid="@Model.HostId" 
                       stopquiz="true"
                       href="#"
                       class="basicButton basicButton--small basicButton--save basicButton--rightSpace">
                        @LocView.getLocalization("Stop")
                    </a>
                    @Html.HiddenFor(t => @quiz.Id)

                    <div class="dropDownButton">
                        <a class="dropDownButton__button dropDownButton__button--settings dropDownButton__button--small" onclick="Controls.onShowDropDownMenu(this)">
                            <span class="icon-settings"></span>
                            <span class="icon-caret-down"></span>
                        </a>
                        <ul class="dropDownButton__menu dropDownButton__menu--hidden">
                            <li class="dropDownButton__menuItem">
                                <a class="dropDownButton__menuLink" href="/Lectures/Edit/@quiz.Id">
                                    <span class="dropDownButton__menuIcon icon-edit-pencil"></span> @LocView.getLocalization("Edit")
                                </a>
                            </li>
                            <li class="dropDownButton__menuItem">
                                <a class="dropDownButton__menuLink" href="#"
                                   onclick="$(this).parent().parent().parent().parent().parent().addClass('confirm'); return false;">
                                    <span class="dropDownButton__menuIcon icon-delete-item"></span> @LocView.getLocalization("Delete")
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
            <td class="desktop" style="width:334px;" id="confirm-delete">
                <div style="width:334px;position:relative;text-align:right;">
                    <div class="gridTimeLine__errorMessageBox">@LocView.getLocalization("confirm_delete")</div>
                    <a href="/Lectures/Delete/@quiz.Id"
                       id="confirm-delete-button"
                       onclick="return deleteQuiz($(this))"
                       class="basicButton basicButton--small basicButton--delete basicButton--confirmDelete  basicButton--rightSpace">
                        @LocView.getLocalization("delete")
                    </a>
                    <a href="#"
                       onclick="$(this).parents('tr:first').find('.confirm').removeClass('confirm'); return false;"
                       class="basicButton basicButton--small basicButton--cancel basicButton--cancelDelete">
                        @LocView.getLocalization("cancel")
                    </a>

                </div>

            </td>
        </tr>
    </table>
    <div style="height: 38px; margin-top: 18px;" class="mobile">
        <a hostid="@Model.GetHostId()" 
           stopquiz="true"
           href="#"
           class="basicButton basicButton--xs basicButton--save">
            @LocView.getLocalization("Stop")
        </a>
        <a href="/Lectures/Edit/@quiz.Id"
           class="iconButton iconButton--xs iconButton--default">
            <span class="icon-edit-pencil"></span>
        </a>
        <a href="/Lectures/Delete/@quiz.Id"
           onclick="$(this).parent().addClass('confirm');return false;"
           class="iconButton iconButton--xs iconButton--default">
            <span class="icon-delete-item"></span> 
        </a>
    </div>
    <span style="display: none;">@LocView.getLocalization("Please_Approve_Any_Questions")</span>
    <div style="height:38px;padding-top:10px;" id="confirm-delete" class="mobile">
        <div style="color:#FE9191;    margin: 10px 0px;">@LocView.getLocalization("confirm_delete")</div>
        <a href="/Lectures/Delete/@quiz.Id"
           id="confirm-delete-button"
           onclick="return deleteQuiz($(this))"
           class="basicButton basicButton--xs basicButton--delete">
            @LocView.getLocalization("delete")
        </a>
        <a href="#"
           onclick="$(this).parent().parent().find('.confirm').removeClass('confirm'); return false;"
           class="basicButton basicButton--xs basicButton--cancel">
            @LocView.getLocalization("cancel")
        </a>

    </div>
</div>
