﻿@model WaveAccess.MyQuiz.WebUI.TestimonialViewModel


<div class="gridTimeLine_row" testimonial-list-item>
    <div class="gridTimeLine__col gridTimeLine__colDate text--center">

    </div>
    <div class="gridTimeLine__col gridTimeLine__colCircle">
        <div class="gridTimeLine_circle">
            <div class="gridTimeLine_circleInner gridTimeLine_circleInner--static"></div>
        </div>
    </div>
    <div class="gridTimeLine__col gridTimeLine__colData gridTimeLine__col--w100percent">
        <div class="gridData">
            <div class="gridData__row">
                <div class="gridData__col gridData__colTime gridData__col--padding text--important text--center">
                    @Model.UserName
                </div>

                <div class="gridData__col gridData__col--w100percent gridData__col--padding testimonialGridData__colTheme text--ellipsis">
                    @Model.Text
                </div>

                <div class="gridData__col lecturesGridData__colOwner gridData__col--padding text--ellipsis text--important">
                    @Model.Language
                </div>

                <div class="gridData__col gridData__colButtons">
                    <div class="gridData__buttonsBlock">
                        
                        <a class="iconButton iconButton--default iconButton--inTable basicButton--rightSpace" data-testimonial-id="@Model.Id" action-testimonial-edit>
                            <span class="icon-edit-pencil"></span>
                        </a>

                        <a class="iconButton iconButton--default iconButton--inTable" action-testimonial-delete>
                            <span class="icon-delete-item"></span>
                        </a>

                    </div>
                </div>
                <div class="gridData__col gridData__colConfirm gridData__col--hidden">
                    <div class="gridData__confirmBlock">

                        <div class="gridData__errorMessageBox gridData__errorMessageBox--visible">@LocView.getLocalization("confirm_delete_testimonial")</div>

                        <a data-testimonial-id="@Model.Id" class="basicButton basicButton--small basicButton--delete basicButton--confirmDelete  basicButton--rightSpace" action-testimonial-delete-confirm>
                            @LocView.getLocalization("delete")
                        </a>

                        <a class="basicButton basicButton--small basicButton--cancel basicButton--cancelDelete" action-testimonial-delete-cancel>
                            @LocView.getLocalization("cancel")
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>