﻿@model WaveAccess.MyQuiz.Model.ProductFeature

<div class="togling-item-container">
    <div class="togling-item-header">
        <div class="togling-item-title colapsed" onclick="return Controls.onToglingItemClick(this)">@Html.Raw(Model.ShortDescription)</div>
    </div>
    <div class="togling-item-content" style="display:none">@Html.Raw(Model.LongDescription)</div>
</div>