﻿@model WaveAccess.MyQuiz.Model.ConvergenceGoal

<div class="togling-item-container">
    <div class="togling-item-header">
        <div class="togling-item-title colapsed" onclick="return Controls.onToglingItemClick(this)">@Model.Type.Name</div>
    </div>
    <div class="togling-item-content" style="display:none">@Html.Raw(Model.Description)</div>
</div>

