﻿@model WaveAccess.EventGame.Services.TopPlayersItem

<div class="top-player-item">
    <div class="top-player-item-place">@Model.Place</div>
    <div class="top-player-item-score-container">
        <div class="top-player-item-score-container-score-label">@LocView.getLocalization("Points")</div>
        <div class="top-player-item-score-container-score-value">+@Model.Score</div>
    </div>
    <div class="top-player-item-name-photo-container">
        <div class="top-player-item-name-photo-container-photo">@Html.DisplayFor(m => m.Photo)</div>
        <div class="top-player-item-name-photo-container-name">
            <div class="top-player-item-name-photo-container-name-username">@Model.Name</div>
            <div class="top-player-item-name-photo-container-name-companyname">@Model.Company</div>
        </div>
    </div>
</div>