﻿@model IEnumerable<WaveAccess.EventGame.Services.TopPlayersItem>
@foreach(var modelItem in Model){
    <div class="top-player-item-short">
        <div class="top-player-item-short-name">  
            <div class="top-player-item-short-container-name">
                <div class="top-player-item-short-container-name-username">@modelItem.Name</div>
                <div class="top-player-item-short-container-name-companyname">@modelItem.Company</div>
            </div>
        </div>
    </div>
}