﻿@model WaveAccess.MyQuiz.Core.TopScore
@functions {
    public string GetActiveClass()
    {
        if (Model.Position == 1)
        {
            return "first";
        }
        if (Model.Position < 4)
            return "second";
        return "";
    }
}
<div class="leaderboardItem">
    <table class="@GetActiveClass()" style="table-layout:fixed;display:table; font-weight:bold;width:100%;">
        <tr>
            <td>
                @Model.Position
            </td>
            <td>
                <div class="photo-container">
                    @Html.DisplayFor(m => Model.User.Image, new {size = "81"})
                    <div class="leaderboard-individual-item-score">@Model.User.Score</div>
                </div>
            </td>
            <td style="overflow:hidden;text-overflow:ellipsis;text-transform:none">
                @Model.User.DisplayName
                @if (Model.IsCurrentUser)
                {
                    <span style="color:#FAAF32">
                        (@LocView.getLocalization("you"))
                    </span>
                }
                <br />
                <span style="">@Model.User.CompanyName</span>
                <div>
                </div>
            </td>
        </tr>
    </table>
</div>
<script>
    $('#top-list table tr td:first-child').each(function() {
        var score = $(this).text().trim();
        if (score.length > 2) {
            $('#top-list table tr td:first-child').addClass('max-width');
        }
    });
</script>      