﻿@model WaveAccess.MyQuiz.WebUI.Models.UserViewModel
<div class="verivalLine" style="padding:25px 15px;">
    <table>
        <tr>
            <td style="text-align: left;vertical-align:middle;min-width: 200px;" class="desktop">
                <div style="max-width:200px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;" title="@Model.FullName">
                    @(string.IsNullOrEmpty(Model.FirstName) ? Model.Nickname : Model.FirstName + " " + Model.LastName)
                    </div>
            </td>
            <td class="desktop time" style="min-width: 300px;text-align: left;color: #cfd4fc;vertical-align: middle;width: 50%;padding: 0 20px;text-overflow: ellipsis;white-space: nowrap;max-width: 70px;overflow: hidden;">
                <div style="max-width:300px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;" title="@Model.Email">
                @Model.Email
                    </div>
            </td>
            <td class="ThemeBlock" style="width: 50%;vertical-align:middle;">
                <div class="mobile" style="line-height: 25px;padding-bottom: 5px;">@Model.FullName
                    <br />
                    @Model.Email
                </div>
                @Model.CompanyName

            </td>
            <td class="desktop" style="vertical-align: top; width: 334px;">
                <div class="buttonContainer" style="width: 334px;text-align:right;">
                    <span style="display: none;">@LocView.getLocalization("Please_Approve_Any_Questions")</span>
                    @Html.HiddenFor(t=>@Model.Id)
                    <a href="@Url.Action("UserProfile", "Account", new { id = Model.Id })"
                       class="iconButton iconButton--default iconButton--inTable basicButton--rightSpace">
                        <span class="icon-edit-pencil"></span>
                    </a>
                    <a href="@Url.Action("Delete", "Account", new { id = Model.Id })"
                       onclick="$(this).parent().parent().addClass('confirm');return false;"
                       class="iconButton iconButton--default iconButton--inTable">
                        <span class="icon-delete-item"></span>
                    </a>
                </div>
            </td>
            <td class="desktop" style="width:334px;" id="confirm-delete">
                <div style="width:334px;position:relative;text-align:right;">
                    <div class="gridTimeLine__errorMessageBox">@LocView.getLocalization("confirm_delete_user")</div>
                    <a href="@Url.Action("Delete", "Account", new { id = Model.Id })"
                       id="confirm-delete-button"
                       class="basicButton basicButton--small basicButton--delete basicButton--confirmDelete  basicButton--rightSpace"
                       onclick="return deleteUser($(this))">
                        @LocView.getLocalization("delete")
                    </a>
                    <a href="#"
                       onclick="$(this).parents('tr:first').find('.confirm').removeClass('confirm');return false"
                       class="basicButton basicButton--small basicButton--cancel basicButton--cancelDelete">
                        @LocView.getLocalization("cancel")
                    </a>

                </div>

            </td>
        </tr>
    </table>
    <div style="height: 38px; margin-top: 18px; padding-left: 17px;" class="mobile">
        <a href="@Url.Action("UserProfile", "Account", new { id = Model.Id })"
           class="iconButton iconButton--xs iconButton--default">
            <span class="icon-edit-pencil"></span>
        </a>
        <a href="@Url.Action("Delete", "Account", new { id = Model.Id })" onclick="$(this).parent().addClass('confirm');return false;"
           class="iconButton iconButton--xs iconButton--default">
            <span class="icon-delete-item"></span>
        </a>
    </div>
    <span style="display: none;">@LocView.getLocalization("Please_Approve_Any_Questions")</span>
    <div style="height:38px;padding-top:10px; padding-left: 15px; padding-bottom: 8px;" id="confirm-delete" class="mobile">
        <div style="color:#FE9191;    margin: 10px 0px;">@LocView.getLocalization("confirm_delete_user")</div>
        <a href="@Url.Action("Delete", "Account", new { id = Model.Id })"
           id="confirm-delete-button"
           onclick="return deleteUser($(this))"
           class="basicButton basicButton--xs basicButton--delete">
            @LocView.getLocalization("delete")
        </a>
        <a href="#"
           onclick="$(this).parent().parent().find('.confirm').removeClass('confirm');return false"
           class="basicButton basicButton--xs basicButton--cancel">
            @LocView.getLocalization("cancel")
        </a>

    </div>
</div>
