﻿@using WaveAccess.EventGame.Common
@model WaveAccess.EventGame.Services.UserAnswerItem
@{
    Layout = null;
}

<div class="question-history-info-item-container">
    <div class="question-history-info-item-header">
        <div class="question-history-info-item-header-upper">
            <div class="question-history-info-item-header-upper-left @(Model.MarkAsСhosen ? "markQuestion" : "")" data-question-group="numbers" data-question-number="@Model.QuestionNumberInGame">
                <h3>Question @Model.QuestionNumberInGame
                    <span>out of @Model.QuestionQuantityInGame</span></h3>
            </div>
            <div class="question-history-info-item-header-upper-right">
                <div class="question-history-info-item-answers-count"><span class="value">@Model.AnswersQuantity</span><span class="label">@LocView.getLocalization("answers")</span></div>
                <div class="question-history-info-item-correctanswers-count"><span class="value">@Model.CorrectAnswersQuantity</span><span class="label">@LocView.getLocalization("correct")</span></div>
            </div>
        </div>
        <div class="question-history-info-item-header-lower">@Model.Question.Question</div>
        @if (Model.Question.Photo != null)
        {
            @Html.DisplayFor(m => m.Question.Photo)
        }
    </div>

    <div class="question-history-info-item-body">
        <h3>@LocView.getLocalization("Correct_answers"): </h3>
        <div class="question-history-info-item-correct-answers-list-container">
            <ul>
                @foreach (var a in Model.Question.CorrectAnswers)
                {
                    <li class="answer">
                        <div class="posrel">
                        <span class="correct-answer-icon absIcon"></span>
                            <div class="answerSecondCol posrel">
                                <div class="posrel">
                                    @if (a.CompanyLogo != null)
                                    {
                                        <div class="answerItemLogo">
                                            @Html.DisplayFor(m => a.CompanyLogo)
                                        </div>
                                    }
                                    <div class="answerThirdCol">

                                        @if (a.EntityType == AnswerTemplateConstants.ConvergenceContacts)
                                        {
                                            @Html.ActionLink((string.IsNullOrWhiteSpace(a.Answer) ? "Attenders" : a.Answer), "Attenders", "Company", null, new { style = "color: blue;text-decoration: underline;" })
                                        }
                                        else if ((a.EntityType == AnswerTemplateConstants.Company) || (a.EntityType == AnswerTemplateConstants.Companies))
                                        {
                                            @Html.ActionLink(a.Answer, "Details", new { controller = "Company", id = a.ContextId }, new { style = "color: blue;text-decoration: underline;" })
                                        }
                                        else if (a.EntityType == AnswerTemplateConstants.CompProduct)
                                        {
                                            @Html.ActionLink(a.Answer, "Details", new { Controller = "Product", Id = a.ContextId }, new { style = "color: blue;text-decoration: underline;" })
                                        }
                                        else
                                        {
                                            @a.Answer
                                        }
                                        @if (a.Booth.HasValue)
                                        {
                                            <span class="divider">@LocView.getLocalization("Booth")</span>
                                            <b>@a.Booth.Value</b>
                                        }
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="question-history-info-item-user-answers-list-container">
            <h3>@LocView.getLocalization("You_answered"):</h3>
            <ul>
                @*foreach (var a in Model.UserAnswers) Model.Question.Answers.Where(x => Model.UserAnswers.Select(select => select.Id).Contains(x.Id))*@
                @foreach (var a in Model.UserAnswers)
                {
                    string answerCssClass = a.IsCorrect ? "correct-answer-icon" : "wrong-answer-icon";
                    <li class="answer">
                        <span class="@answerCssClass"></span>@a.Answer
                        @if (a.Booth.HasValue)
                        {  <span class="divider">Booth</span> <b>@a.Booth.Value</b> }
                    </li>

                }
            </ul>
        </div>
    </div>

    <div class="question-history-info-item-footer">
        <div class="question-history-info-gained-score-container">
            <span class="label">@LocView.getLocalization("You_got")</span>
            <span class="score-container">@Model.Score</span>
            <span class="label">@LocView.getLocalization("points")</span>
        </div>
    </div>
</div>
