﻿@model WaveAccess.MyQuiz.Core.User
<div class="verivalLine" style="padding:25px 15px;">
    <table style="table-layout: fixed;">
        <tr>
            <td style="text-align: left;vertical-align:middle;width: 100px; min-width:100px;" class="">
                @Html.DisplayFor(m=>Model.Image)
            </td>
            <td style="text-align: left;vertical-align:middle;min-width: 200px;" class="desktop">
                <div style="max-width:200px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; line-height:25px;" title="@Model.DisplayName">
                    @Model.DisplayName
                    </div>
            </td>
            <td class="desktop time" style="min-width: 300px;text-align: left;color: #cfd4fc;vertical-align: middle;width: 50%;padding: 0 20px;text-overflow: ellipsis;white-space: nowrap;max-width: 70px;overflow: hidden;">
                <div style="max-width:300px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:25px;" title="@Model.UserName">
                @Model.UserName
                </div>
            </td>
            <td class="ThemeBlock mobile" style=";vertical-align:middle;max-width: none;">
                <div class="mobile" style="line-height: 25px;padding-bottom: 5px;white-space: normal;word-wrap: break-word;">@Model.DisplayName
                    <br />
                    @Model.UserName
                </div>
                @Model.CompanyName
                
            </td>
            <td class="desktop" style="vertical-align: middle; width: 334px;">
                <div style="width: 334px; text-align:right;">
                    <a href="@Url.Action("UserProfile", "Account", new { id = Model.UserId })" 
                       class="iconButton iconButton--default iconButton--inTable basicButton--rightSpace">
                        <span class="icon-edit-pencil"></span>
                    </a>
                    <a href="#"
                       onclick="$(this).parent().parent().addClass('confirm');return false;"
                       class="iconButton iconButton--default iconButton--inTable">
                        <span class="icon-ban"></span>
                    </a>
                </div>
            </td>
            <td class="desktop" style="vertical-align: middle;width:334px;" id="confirm-delete">
                <div style="width:334px;position:relative;text-align:right;">
                    <div class="gridTimeLine__errorMessageBox">@LocView.getLocalization("confirm_ban_user")</div>
                    <a href="#"
                       id="confirm-delete-button"
                       data-user-id="@Model.UserId" 
                       onclick="return deleteUser($(this));"
                       class="basicButton basicButton--small basicButton--delete basicButton--confirmDelete basicButton--rightSpace">
                        @LocView.getLocalization("Ban_User")
                    </a>
                    <a href="#"
                       onclick="$(this).parents('tr:first').find('.confirm').removeClass('confirm');return false"
                       class="basicButton basicButton--small basicButton--cancel basicButton--cancelDelete">
                        @LocView.getLocalization("cancel")
                    </a>

                </div>

            </td>
        </tr>
    </table>
    <div style="height: 38px; margin-top: 18px; padding-left: 17px;" class="mobile">
        <a style="float: left;" href="@Url.Action("UserProfile", "Account", new { id = Model.UserId })">
            <div class="quizButton editQuiz"></div>
        </a>
        <a style="height:25px;float: left; margin-left: 19px;" href="#" onclick="$(this).parent().addClass('confirm');return false;">
            <div class="quizButton deleteQuiz"></div>
        </a>
    </div>
    <span style="display: none;">@LocView.getLocalization("Please_Approve_Any_Questions")</span>
    <div style="height:38px;padding-top:10px; padding-left: 15px; padding-bottom: 8px;" id="confirm-delete" class="mobile">
        <div style="color:#FE9191; margin: 10px 0px;">@LocView.getLocalization("confirm_ban_user")</div>
        <a href="#" class="basicButton basicButton--small basicButton--delete basicButton--confirmDelete basicButton--rightSpace" id="confirm-delete-button" data-user-id="@Model.UserId" onclick="return deleteUser($(this))">
            @LocView.getLocalization("Ban_User")
        </a>
        <a href="#" class="basicButton basicButton--small basicButton--cancel basicButton--cancelDelete" onclick="$(this).parent().parent().find('.confirm').removeClass('confirm');return false">
            @LocView.getLocalization("cancel")
        </a>

    </div>
</div>
