﻿@using System.Text.RegularExpressions
@using WaveAccess.MyQuiz.WebUI.Helpers
@model string


@if (string.IsNullOrWhiteSpace(Model)) {
    <div>
        @LocView.getLocalization("No_Video") 
    </div>
}
else {
    string urlId = string.Empty;
    if (Model.InvariantContains("youtube.com") && Model.InvariantContains("watch?v=")) {
        //string[] separator = { "watch?v=" };
        //urlId = Model.Split(separator, StringSplitOptions.RemoveEmptyEntries)[1];
        Uri uri = new Uri(Model);
        urlId = HttpUtility.ParseQueryString(uri.Query).Get("v");
    }
    if (string.IsNullOrWhiteSpace(urlId)) {
        //TODO
        return;
    }

    int width = 430;
    int height = 270;

    if (ViewData["width"] != null && ViewData["height"] != null) {
        width = (int) ViewData["width"];
        height = (int)ViewData["height"];
    }

    <div>
        <iframe src="//www.youtube.com/embed/@urlId" style="width:@(width)px;height:@(height)px;" frameborder="0" allowfullscreen></iframe>    
    </div>
}