﻿@using WaveAccess.MyQuiz.WebUI.app.core.elements.menu;
@model WaveAccess.MyQuiz.WebUI.app.panel.bookmark.backend.models.BookmarkViewModel

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@LocView.getLocalization("Bookmarks")</title>
    <link type="image/x-icon" href="@Html.UrlCdn("~/favicon.ico")" rel="shortcut icon" />
    <link type="image/png" href="@Html.UrlCdn("~/favicon-16x16.png")" sizes="16x16" rel="icon" />
    <link type="image/png" href="@Html.UrlCdn("~/favicon-32x32.png")" sizes="32x32" rel="icon" />
    @Html.Partial("Analytics/AnalyticsView")
    @Styles.Render("~/Content/css_new/core")
    @Styles.Render("~/Content/css_new/game")

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800" rel="stylesheet" />

    @Scripts.Render("~/bundles/js_new/core")
</head>
<body>
    <div class="layout">
        @Html.Partial("~/app/core/elements/menu/menu.cshtml", new MenuViewModel { IsHomePage = false, IsOwner = false })
        <div class="layout__Header bookmark__MobileHeader">
            <div class="headerText content text-center">
                <div class="headerText__SiteName">@LocView.getLocalization("Bookmarks")</div>
                <div class="headerText__SiteName--xs">@LocView.getLocalization("Bookmarks")</div>
            </div>
        </div>
        @foreach (var promo in Model.Promos)
        {
        <div class="infoBlock infoBlock--promo infoBlock--bookmarkPromo">
            <div class="closeBtn__container">
                <span class="icon-close" onclick="var ct = this; $.get('@Url.Action("CloseBookmark","Bookmark", new { blockHTMLhash = promo.BlockHTMLHash})').done(function () { $(ct).parents('.infoBlock').remove(); })">&nbsp;</span>
            </div>
            <div class="promoQuestion">
                @Html.Raw(promo.HTML)
                <div class="spaceForCloseBtn"> &nbsp;</div>
            </div>
        </div>
        }
    </div>
</body>
</html>
