﻿@using PagedList.Mvc
@model WaveAccess.MyQuiz.WebUI.Models.UsersModel

@Html.AntiForgeryToken()
@Html.ValidationSummary()
<link href="~/Content/lecture.css" rel="stylesheet" />
<style>
    .verivalLine, #lecture-list {
        background-image: none !important;
    }

        .verivalLine table tr td.desktop span.weekDay {
            color: #e0dede;
        }

        .verivalLine table tr td.time span {
            color: #cfd4fc;
        }

    #startquiz {
        display: none;
    }


    #lecture-list .verivalLine:nth-child(1) {
        padding: 40px 0 !important;
    }
</style>
<script>
    function onSearchChange() {
        $('.closeButton').parent().addClass('search').removeClass('close');
    }
</script>
<t>
    <div id="lecture-list" class="centered">
        <div class="searchPanel">
            <div>
                <form onsubmit="return searchValidate()">
                    <table>
                        <tr>
                            <td class="countContainer desktop">
                                <div>@Model.UsersCount</div>
                            </td>
                            <td class="desktop" style="color: white; vertical-align: middle; width: 0px; width: 1px; padding-right: 24px;"></td>
                            <td>
                                <input onkeydown="onSearchChange()" onkeypress="onSearchChange()" class="text-box single-line" id="search" name="search" type="text" value="@Model.Search">
                            </td>
                            <td class="desktop @(string.IsNullOrEmpty(Model.Search) ? "search" : "close")" style="vertical-align: middle; width: 1px; padding-left: 9px;">
                                <div class="closeButton" onclick="$('input#search').val(''); $(this).parents('form')[0].submit();"></div>
                                <div class="searchButton" onclick="searchSubmit($(this).parents('form')[0]);"></div>
                            </td>

                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="countContainer mobile">
            <div style="float:left;width:auto;padding: 0px 5px;">@Model.UsersCount</div>
            <span>

            </span>

        </div>

        @{
            foreach (var lecture in Model.Users)
            {
                @Html.DisplayFor(l => lecture, "UsersListItem_new")
            }
        }
        <div class="paginator centered">
            @Html.PagedListPager(Model.Users, page => Url.Action("AllUsers", new { usersPage = page, Search = Model.Search }), new PagedListRenderOptions() { MaximumPageNumbersToDisplay = 7 })
        </div>
    </div>
</t>

@section Scripts{
    <script type="text/javascript">
        function searchSubmit(form) {
            if (form && searchValidate()) {
                form.submit();
            }
        }

        function searchValidate() {
            if ($('input#search') && !!jQuery.trim($('input#search').val())) {
                return true;
            }

            return false;
        }

        function deleteUser($this) {
            var $entityCount = $('.countContainer div');
            var searchString = $('#search').val();
            var id = $this.closest('.verivalLine').find('#lecture_Id').val();
            $.ajax({
                url: "/Account/DeleteUserProfile/",
                data: { id: id, searchString: searchString },
                success: function (result) {
                    if (result.success) {
                        $this.closest('.verivalLine').remove();
                        $entityCount.text(result.usersCount);
                        SetUserCountLocalization();
                    } else
                        console.log(result.message);
                },
                error: function () { }
            });

            return false;
        }

        function SetUserCountLocalization() {
            $('.countContainer div')
                .each(function () {
                    var $this = $(this);
                    var titleDesktopContainer = $this.parent().next('td');
                    var titleMobileContainer = $this.next('span');
                    var iCount;
                    var count = $this.text() % 100;
                    if (count >= 11 && count <= 19) {
                        titleDesktopContainer.text('');
                        titleMobileContainer.text('');
                        titleDesktopContainer.append("@LocView.getLocalization("Users")");
                        titleMobileContainer.append("@LocView.getLocalization("Users")");
                    } else {
                        iCount = count % 10;
                        switch (iCount) {
                        case (0):
                            titleDesktopContainer.text('');
                            titleMobileContainer.text('');
                            titleDesktopContainer.append("@LocView.getLocalization("Users")");
                            titleMobileContainer.append("@LocView.getLocalization("Users")");
                            break;
                        case (1):
                            titleDesktopContainer.text('');
                            titleMobileContainer.text('');
                            titleDesktopContainer.append("@LocView.getLocalization("User")");
                            titleMobileContainer.append("@LocView.getLocalization("User")");
                            break;
                        case (2):
                        case (3):
                        case (4):
                            titleDesktopContainer.text('');
                            titleMobileContainer.text('');
                            titleDesktopContainer.append("@LocView.getLocalization("Many_Users")");
                            titleMobileContainer.append("@LocView.getLocalization("Many_Users")");
                            break;
                        default:
                            titleDesktopContainer.text('');
                            titleMobileContainer.text('');
                            titleDesktopContainer.append("@LocView.getLocalization("Users")");
                            titleMobileContainer.append("@LocView.getLocalization("Users")");
                            break;
                        }
                    }
                });
        }

        $(document).ready(function () {
            SetUserCountLocalization();
        });

        function ShowError(element) {
            $(element).parent().children('span').fadeIn('fast').addClass('start-quiz-error');
            $(element).parent().next('span').fadeIn('fast').addClass('start-quiz-error');
            $(element).removeAttr('href');
        };
    </script>
}