﻿@model WaveAccess.MyQuiz.WebUI.Models.ApplicationSettingsViewModel
@{
    var isRecaptchaEnabled = Model != null && (bool)Model.IsRecaptchaEnabled;
}

<style>
    .editor-field input.text-box, .editor-field textarea {
        width: 100%;
    }

    .editor-field textarea {
        resize: vertical;
        min-height: 100px;
    }

    .basicButton--stretch {
        width: 20%;
    }

    .settings--row {
        width: 60%;
        margin-left: 20px;
    }

        .settings--row:first-child {
            margin-top: 20px;
        }

    .settings--row select {
        text-align: left;
        border: 0px;
        color: #F6F7F8;
        background-color: rgba(0, 0, 0, 0.18);
        border-radius: 4px;
        border: 1px solid rgba(195, 197, 200, 0.18);
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        padding: 10px 10px 10px 20px;
        font-size: 100%;
    }
    .settings--row select {
        -webkit-appearance: none;
        background-image: url('/Content/themes/base/images/triangle.png');
        background-position:right 10px center;
        background-repeat:no-repeat;
    }
    .settings--row select > option {
        background-color: rgba(55, 74, 95, 0.63);
    }
</style>

@using (Html.BeginForm("ApplicationSettings", "Admin", FormMethod.Post))
{
    <div class="centered" style="display: block; vertical-align: bottom">
        <div class="settings--row">
            <div class="editor-label">
                @Html.LabelFor(m => m.IsRecaptchaEnabled)
            </div>
            <div class="editor-field">
                <div class="editor-field radios">
                    <input type="radio" class="radio" id="radio-recaptcha-yes" name="@Html.NameFor(m=>m.IsRecaptchaEnabled)" value="true" checked="@isRecaptchaEnabled.Equals(true)" onchange="Controls.OnCheckCustomSettingsValue()" />
                    <label for="radio-recaptcha-yes">@LocView.getLocalization("Yes")</label>

                    <input type="radio" class="radio" id="radio-recaptcha-no" name="@Html.NameFor(m=>m.IsRecaptchaEnabled)" value="false" checked="@isRecaptchaEnabled.Equals(false)" onchange="Controls.OnCheckCustomSettingsValue()" />
                    <label for="radio-recaptcha-no">@LocView.getLocalization("No")</label>
                </div>
            </div>
        </div>

        <div class="settings--row">
            <div class="editor-label">
                @Html.LabelFor(m => m.RecaptchaKey)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.RecaptchaKey)
            </div>
        </div>

        <div class="settings--row">
            <div class="editor-label">
                @Html.LabelFor(m => m.RecaptchaSecret)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.RecaptchaSecret)
            </div>
        </div>

        <div class="settings--row">
            <div class="editor-label">
                @Html.LabelFor(m => m.FacebookAppId)
                <span class="info-icon tooltip-dark-interactive" title="@LocView.getLocalization("AppSettingsInfoForClientIdAndClientSecretChange")">></span>
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.FacebookAppId)
            </div>
        </div>

        <div class="settings--row">
            <div class="editor-label">
                @Html.LabelFor(m => m.FacebookAppSecret)
                <span class="info-icon tooltip-dark-interactive" title="@LocView.getLocalization("AppSettingsInfoForClientIdAndClientSecretChange")">></span>
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.FacebookAppSecret)
            </div>
        </div>

        <div class="settings--row">
            <div class="editor-label">
                @Html.LabelFor(m => m.VkontakteAppId)
                <span class="info-icon tooltip-dark-interactive" title="@LocView.getLocalization("AppSettingsInfoForClientIdAndClientSecretChange")">></span>
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.VkontakteAppId)
            </div>
        </div>

        <div class="settings--row">
            <div class="editor-label">
                @Html.LabelFor(m => m.VkontakteAppSecret)
                <span class="info-icon tooltip-dark-interactive" title="@LocView.getLocalization("AppSettingsInfoForClientIdAndClientSecretChange")">></span>
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.VkontakteAppSecret)
            </div>
        </div>

        <div class="settings--row">
            <div class="editor-label">
                @Html.LabelFor(m => m.GoogleAppId)
                <span class="info-icon tooltip-dark-interactive" title="@LocView.getLocalization("AppSettingsInfoForClientIdAndClientSecretChange")">></span>
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.GoogleAppId)
            </div>
        </div>

        <div class="settings--row">
            <div class="editor-label">
                @Html.LabelFor(m => m.GoogleAppSecret)
                <span class="info-icon tooltip-dark-interactive" title="@LocView.getLocalization("AppSettingsInfoForClientIdAndClientSecretChange")">></span>
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.GoogleAppSecret)
            </div>
        </div>

        <div class="settings--row">
            <div class="editor-label">
                @Html.LabelFor(m => m.OcpApimSubscriptionKey)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.OcpApimSubscriptionKey)
            </div>
        </div>
        
        <div class="settings--row">
            <div class="editor-label">
                @Html.LabelFor(m => m.ContentModeratorUrl)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.ContentModeratorUrl)
            </div>
        </div>

        <div class="settings--row">
            <div class="editor-label">
                @Html.LabelFor(m => m.SiteName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.SiteName)
            </div>
        </div>

        <div class="settings--row">
            <div class="editor-label">
                @Html.LabelFor(m => m.SiteUrl)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.SiteUrl)
            </div>
        </div>

        <div class="settings--row">
            <div class="editor-label">
                @Html.LabelFor(m => m.Localization)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.Localization)
            </div>
        </div>

        <div class="settings--row">
            <div class="editor-label">
                @Html.LabelFor(m => m.DefaultMaxAnswersCount)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.DefaultMaxAnswersCount)
            </div>
        </div>

        <div class="settings--row">
            <div class="editor-label">
                @Html.LabelFor(m => m.ShowLanguageMenu)
            </div>
            <div class="editor-field">
                <div class="editor-field radios">
                    <input type="radio" class="radio" id="radio-showLanguageMenu-yes" name="@Html.NameFor(m=>m.ShowLanguageMenu)" value="true" checked="@Model.ShowLanguageMenu.Equals(true)" onchange="Controls.OnCheckCustomSettingsValue()" />
                    <label for="radio-showLanguageMenu-yes">@LocView.getLocalization("Yes")</label>

                    <input type="radio" class="radio" id="radio-showLanguageMenu-no" name="@Html.NameFor(m=>m.ShowLanguageMenu)" value="false" checked="@Model.ShowLanguageMenu.Equals(false)" onchange="Controls.OnCheckCustomSettingsValue()" />
                    <label for="radio-showLanguageMenu-no">@LocView.getLocalization("No")</label>
                </div>
            </div>
        </div>

        <div class="settings--row">
            <div class="editor-label">
                @Html.LabelFor(m => m.NodeLocation)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.NodeLocation)
            </div>
        </div>

        <div class="settings--row">
            <div class="editor-label">
                @Html.LabelFor(m => m.EmailService_FromAddress)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.EmailService_FromAddress)
            </div>
        </div>

        <div class="settings--row">
            <div class="editor-label">
                @Html.LabelFor(m => m.EmailService_SMTPHost)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.EmailService_SMTPHost)
            </div>
        </div>

        <div class="settings--row">
            <div class="editor-label">
                @Html.LabelFor(m => m.EmailService_SMTPPort)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.EmailService_SMTPPort)
            </div>
        </div>

        <div class="settings--row">
            <div class="editor-label">
                @Html.LabelFor(m => m.EmailService_SMTPLogin)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.EmailService_SMTPLogin)
            </div>
        </div>

        <div class="settings--row">
            <div class="editor-label">
                @Html.LabelFor(m => m.EmailService_SMTPPassword)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.EmailService_SMTPPassword)
            </div>
        </div>

        <div class="settings--row">
            <div class="editor-label">
                @Html.LabelFor(m => m.AnalyticsData)
            </div>
            <div class="editor-field sign-in-form-line">
                @Html.TextAreaFor(m => m.AnalyticsData)
            </div>
        </div>

        <div class="settings--row">
            <div class="editor-label">
                @Html.LabelFor(m => m.EmailService_SendGridAPIkey)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.EmailService_SendGridAPIkey)
            </div>
        </div>

        <div class="settings--row">
            <div class="editor-label">
                @Html.LabelFor(m => m.EmailService_SMTPAgent)
            </div>
            <div class="editor-field sign-in-form-line">
                @Html.EnumDropDownListFor(x => x.EmailService_SMTPAgent)
            </div>
        </div>

        <div class="settings--row">
            <div class="editor-label">
                @Html.LabelFor(m => m.PixabayAPIkey)
            </div>
            <div class="editor-field sign-in-form-line">
                @Html.EditorFor(x => x.PixabayAPIkey)
            </div>
        </div>

        <div class="settings--row">
            <div class="editor-label">
                @Html.LabelFor(m => m.PixabayURL)
            </div>
            <div class="editor-field sign-in-form-line">
                @Html.EditorFor(x => x.PixabayURL)
            </div>
        </div>

        <div class="settings--row">
            <div class="editor-label">
                @Html.LabelFor(m => m.DefaultCountdownTimeOnQuizStart)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.DefaultCountdownTimeOnQuizStart)
            </div>
        </div>

        <div class="settings--row">
            <div class="editor-label">
                @Html.LabelFor(m => m.CPAExchangeEnabled)
            </div>
            <div class="editor-field">
                <div class="editor-field radios">
                    <input type="radio" class="radio" id="radio-cpaExchangeEnabled-yes" name="@Html.NameFor(m=>m.CPAExchangeEnabled)" value="true" checked="@Model.CPAExchangeEnabled.Equals(true)" onchange="Controls.OnCheckCustomSettingsValue()" />
                    <label for="radio-cpaExchangeEnabled-yes">@LocView.getLocalization("Yes")</label>

                    <input type="radio" class="radio" id="radio-cpaExchangeEnabled-no" name="@Html.NameFor(m=>m.CPAExchangeEnabled)" value="false" checked="@Model.CPAExchangeEnabled.Equals(false)" onchange="Controls.OnCheckCustomSettingsValue()" />
                    <label for="radio-cpaExchangeEnabled-no">@LocView.getLocalization("No")</label>
                </div>
            </div>
        </div>

        <div class="settings--row">
            <input type="submit" id="saveButton" value="@LocView.getLocalization("AppSettingsSave")" class="basicButton basicButton--save basicButton--stretch right" />
        </div>
    </div>
}