﻿@{

    Layout = null;
}
<ul id="sub-menu">
    @*<li class="sub-menu-link-item">
            @if(ViewBag.DictionaryType=="Services"){
            <span class="sub-menu-current-item-wrapper">@LocView.getLocalization("Service_Types")</span>
            }
            else{
            <a href="/Admin/Dictionary/Services">@LocView.getLocalization("Service_Types")</a>
            }
        </li>
        <li class="sub-menu-link-item">
            @if(ViewBag.DictionaryType=="Verticals"){
            <span class="sub-menu-current-item-wrapper">@LocView.getLocalization("Verticals")</span>
            }
            else{
            <a href="/Admin/Dictionary/Verticals">@LocView.getLocalization("Verticals")</a>
            }
        </li>
        <li class="sub-menu-link-item">
            @if(ViewBag.DictionaryType=="ConvergenceGoalType"){
            <span class="sub-menu-current-item-wrapper">@LocView.getLocalization("Goal_Types")</span>
            }
            else{
            <a href="/Admin/Dictionary/ConvergenceGoalType">@LocView.getLocalization("Goal_Types")</a>
            }

        </li>
            <li class="sub-menu-link-item">
                @if(ViewBag.DictionaryType=="SolvedProblemTypes"){
                <span class="sub-menu-current-item-wrapper">@LocView.getLocalization("Solved_Problems")</span>
                }
                else{
                <a href="/Admin/Dictionary/SolvedProblemTypes">@LocView.getLocalization("Solved_Problems")</a>
                }

            </li>*@


    <li class="sub-menu-link-item">
        @if (ViewBag.DictionaryType == "Countries")
        {
            <span class="sub-menu-current-item-wrapper">@LocView.getLocalization("Countries")</span>
        }
        else
        {
            <a href="/Admin/Dictionary/Countries">@LocView.getLocalization("Countries")</a>
        }

    </li>

    @*<li class="sub-menu-link-item">
        @if (ViewBag.DictionaryType == "Categories")
        {
            <span class="sub-menu-current-item-wrapper">@LocView.getLocalization("Categories")</span>
        }
        else
        {
            <a href="/Admin/Dictionary/Categories">@LocView.getLocalization("Categories")</a>
        }

    </li>
    <li class="sub-menu-link-item">
        @if (ViewBag.DictionaryType == "questions")
        {
            <span class="sub-menu-current-item-wrapper">@LocView.getLocalization("questions")</span>
        }
        else
        {
            <a href="/Admin/Dictionary/Questions">@LocView.getLocalization("questions")</a>
        }

    </li>
    <li class="sub-menu-link-item">
        @if (ViewBag.DictionaryType == "Generate")
        {
            <span class="sub-menu-current-item-wrapper">@LocView.getLocalization("Generate")</span>
        }
        else
        {
            <a href="/Admin/Generate">@LocView.getLocalization("Generate")</a>
        }

    </li>*@
</ul>


