﻿@model WaveAccess.MyQuiz.WebUI.Models.DictionaryItem[]
@using WaveAccess.MyQuiz.Model
@using WaveAccess.MyQuiz.WebUI.Helpers

@{
    ViewBag.Title = "";
}
@section SubMenuSection
{
    @Html.Partial("DictionaryMenu")
}
<div class="wrapper dictionary">
    <table style="width:100%">
        <tr actionType="@ViewBag.DictionaryType" style="border-bottom: 1px solid #dddddd">
            <!--<td></td>-->
            <td style="  padding: 10px;"><textarea  style="width: 100%;resize: vertical;"></textarea>
            </td>
            <td style="vertical-align:middle; padding:10px;width:190px;text-align:center;">
                <div>
                <button id="add" onclick="createButton.call(this)">@LocView.getLocalization("Add")</button>
                    </div>
            </td>
        </tr>
        
    @for (var i = 0; i < Model.Count(); i++)
    {
        <tr actionType="@Model[i].Type" id="@Model[i].Id" >
        <td style="vertical-align:middle" class="nameContainer">
            
        
            <div style="  padding:0px 10px;">
                <div class="value" >@Model[i].Name
                    @if (Model[i].Items != null && Model[i].Items.Any())
                    {
                    <ul style="margin:5px 20px !important;list-style: circle !important;" >
                        @foreach (var item in Model[i].Items)
                        {
                            <li>
                                @item.Text
                            </li>
                        }
                    </ul>
                    }
                </div>
                <textarea  style="width: 100%;resize: vertical;">@Model[i].Name</textarea>
            </div>
        </td>
        <td style="vertical-align:middle; padding:10px;width:195px;text-align:center;" class="actions">
            <div class="notEdit">
                <button onclick="ItemClick.call(this)">@LocView.getLocalization("Edit_button")</button>
                <button onclick="deleteButton.call(this)" style="">@LocView.getLocalization("Delete")</button>
            </div>
            <div class="edit">
                <button onclick="saveButton.call(this)" style="" >@LocView.getLocalization("Save")</button>
                <button onclick="ItemClick.call(this)" style="" >@LocView.getLocalization("Cancel")</button>
            </div>
        </td>

     </tr>
    }
    </table>
    @if (!Model.Any())
    {
        <h3>@LocView.getLocalization("No_entries_found")</h3>
    }
</div>
<div id="company-list-loader" class="centered" style="display:none;text-align: center">Loading ...</div>




@section Scripts {
    <script type="text/javascript">
            function saveButton() {
                var tr = $(this).parents('tr:first');
                var value = $('textarea', tr).val();
                tr.removeClass('edit');
                $('.value', tr).text(value);
                $.ajax({
                    url: '/admin/DictionaryUpdata',
                    type: 'post',
                    data: { Id: tr.attr('id'), Name: value, Type: tr.attr('actionType') },
                    success: function (result) {
                    }
                });
            }
            function deleteButton() {
                var tr = $(this).parents('tr:first');
                var value = $('textarea', tr).val();
                tr.remove();
                $.ajax({
                    url: '/admin/DictionaryRemove',
                    type: 'post',
                    data: { Id: tr.attr('id'), Name: value, Type: tr.attr('actionType') },
                    success: function (result) {
                    }
                });
            }
            function createButton() {
            
                var tr = $(this).parents('tr:first');
                var value = $('textarea', tr).val();
                if (value == '') return;
                $('textarea', tr).val('');
                $.ajax({
                    url: '/admin/DictionaryCreate',
                    type: 'post',
                    data: { Id: 0, Name: value, Type: tr.attr('actionType') },
                    success: function (result) {
                        if (result) {
                            window.location.reload();
                        }
                    }
                });
            }
            var ItemClick = function () {
                var tr = $(this).parents('tr:first');
                if (tr.hasClass('edit')) {
                    tr.removeClass('edit');
                }
                else {
                    tr.addClass('edit');
                }
            };
            function placeholderIsSupported() {
                var test = document.createElement('input');
                return ('placeholder' in test);
            };

            var filters = null;

            $(function () {
                filters = $('#attendersSearch').serialize().replace(/__selectList/g, '.Id');
                if (placeholderIsSupported()) {
                    $(".filter-textbox-title-container").hide();
                    $('.search-button-container button').css('marginTop', 0);
                }

                $('.toogleFilterBtn').click(function () {
                    $('.filters-container').stop().slideToggle('fast');
                    if ($(this).text() == "Hide search")
                        $(this).text("Search")
                    else
                        $(this).text("Hide search");
                });
                $('.closeFilterBtn').click(function () {
                    $('.filters-container').slideUp('fast');
                    $('.toogleFilterBtn').text("Search");
                });
            });
    </script>

    @if (ViewBag.HideShowMoreButton != null && ViewBag.HideShowMoreButton)
    {
        <script type="text/javascript">
            $(function () {
                $(".company-list-see-more-button-container").hide();
            });
        </script>
    }

}