﻿@model WaveAccess.MyQuiz.WebUI.Models.DictionaryItem[]
@using WaveAccess.MyQuiz.Model
@using WaveAccess.MyQuiz.WebUI.Helpers

@{
    ViewBag.Title = "";
}

@section SubMenuSection
{
    @Html.Partial("DictionaryMenu")
}

<div class="wrapper dictionary">
    <table style="width:100%">
    @{
        var cuttemtLectureId = 0;
        var index = 1;
      }
    @for (var i = 0; i < Model.Count(); i++)
    {
        if (Model[i].Lecture.Id != cuttemtLectureId)
        {
            <tr class="companyName" id="@Model[i].Id">
                <td colspan="2">
                    <div >@Model[i].Lecture.Theme</div>
                    <div>@(cuttemtLectureId == 0 ? @LocView.getLocalization("Show_question") : "")</div>
                </td>
            </tr>
            cuttemtLectureId = Model[i].Lecture.Id;
            index = 0;
        }
        index++;
            <tr id="@Model[i].Id" >
                <td style="vertical-align:middle" class="nameContainer">
                    <div>
                        <div class="question" style="" >@LocView.getLocalization("Question") @index: @Model[i].Name
                            <div class="checkbox" >
                            @Html.CheckBoxFor(model => Model[i].Approved.Value,new {onchange="Approved.call(this)",id="IsShowEmailForOtherUsers"+Model[i].Id})
                            @Html.Label(" ", new { @for = "IsShowEmailForOtherUsers" +Model[i].Id})
                            </div>
                        </div>
                        <div class="left-column-big">
                            <div class="" style="width:200px;display: inline-block;">
                                @Html.DisplayFor(model => model[i].Image, "ImageCompanyListLogo")
                            </div>
                            <ul class="Answers" >
                                <li style="margin-bottom:15px;">@LocView.getLocalization("Answers"):</li>
                                @foreach (var item in Model[i].Items)
                                {
                                    <li>
                                        @if(item.IsCorrect){
                                            <span>✓</span>
                                        }
                                        @item.Text
                                    </li>
                                }
                            </ul>
                        
                        </div>
                    </div>
                </td>
            </tr>
    }
        </table>
    @if (!Model.Any())
    {
        <h3>@LocView.getLocalization("No_entries_found")</h3>
    }
</div>
<div id="company-list-loader" class="centered" style="display:none;text-align: center">Loading ...</div>




@section Scripts {
    @if (ViewBag.HideShowMoreButton != null && ViewBag.HideShowMoreButton)
    {
        <script type="text/javascript">
            $(function () {
                $(".company-list-see-more-button-container").hide();
            });
        </script>
    }

}