﻿@model WaveAccess.MyQuiz.WebUI.Models.StartedQuizModel


<link href="~/Content/lecture.css" rel="stylesheet" />
<style>
    .verivalLine table tr td.desktop span.weekDay {
        color: #e0dede;
    }

    .verivalLine table tr td.time span {
        color: #cfd4fc;
    }
</style>
<script>
    function onSearchChange() {
        $('.closeButton').parent().addClass('search').removeClass('close');
    }
</script>
<form>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div id="lecture-list" class="centered">
        <div class="countContainer mobile">
            <div style="float:left">@Model.HostInstances.Count</div>
            <span>

            </span>
        </div>

        @{
            foreach (var hostInstance in Model.HostInstances)
            {
                @Html.DisplayFor(m => hostInstance, "StartedQuizItem")
            }
        }
    </div>
</form>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            function deleteQuiz($this) {
                var $entityCount = $('.countContainer div');
                var searchString = $('#search').val();
                var id = $this.closest('.verivalLine').find('#lecture_Id').val();
                $.ajax({
                    url: '/Lectures/DeleteQuiz',
                    data: { id: id, searchString: searchString, stopQuiz: false, __RequestVerificationToken: this.form["__RequestVerificationToken"].value },
                    success: function (result) {
                        if (result.success) {
                            $this.closest('.verivalLine').remove();
                            $entityCount.text(result.quizCount);
                        } else
                            console.log(result.message);
                    },
                    error: function () { }
                });

                return false;
            }

            $('a[stopquiz]').on('click',
                function() {
                    var $this = $(this);
                    var hostId = $this.attr('hostid');
                    $.ajax("/Admin/StopQuiz?hostId=" + hostId)
                        .done(function() {
                            $this.closest('.verivalLine').remove();
                        })
                        .fail(function() {
                        });

                    return false;
                });
        });

        function ShowError(element) {
            $(element).parent().children('span').fadeIn('fast').addClass('start-quiz-error');
            $(element).parent().next('span').fadeIn('fast').addClass('start-quiz-error');
            $(element).removeAttr('href');
        };
    </script>
}