﻿@import "variables.scss";
@import "../shared/announcements.scss";
@import "../shared/partners.scss";

html {
    font-size: $html_font_size;

    @media (min-width: $screen-xs-min) and (max-height: 800px) {
        font-size: 14px;
    }

    @media (min-width: $screen-xs-min) and (max-height: 600px) {
        font-size: 12px;
    }
}

body {
    background-color: #5B6EC3;
}

.layout {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

body.home {
    background-color: #f0f2f4;
}

a {
    cursor: pointer;
}

.ConnectBlock {
    display: flex;
    height: 110 * $px;
    background-color: #F8F9FA;

    @media (max-width: $screen-xs-max) {
        background-image: url('/app/images/home/main_bg_top_xs.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 91vh;
        min-height: 500 * $px;
    }


    &__Form {
        display: flex;
        margin-bottom: 0;
        flex-grow: 1;
    }
}

.MoreInfoLayout {
    display: flex;
    flex-direction: column;

    #MoreInfo {
        order: 2;
    }
}

.TopBlock {
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    height: 911 * $px;
    background-color: #5B6EC3;

    @media (max-width: $screen-xs-max) {
        height: auto;
        background-image: none !important;
        background-color: #fff;
    }

    &--en {
        background-image: url('/app/images/home/main_bg_top_en.png');
    }

    &--ru {
        background-image: url('/app/images/home/main_bg_top_ru.png');
    }
}

.ContentBlock {
    background-color: #fff;
    padding-bottom: 60 * $px;
    order: 3;
}

.BottomBlock {
    display: flex;
    background-image: url('/app/images/home/main_bg_bottom.png');
    background-color: #5B6EC3;
    background-position: center;
    background-repeat: no-repeat;
    height: 575 * $px;
    align-items: center;
    text-align: center;

    @media (max-width: $screen-xs-max) {
        height: 378 * $px;
        background-image: url('/app/images/home/main_bg_bottom_xs.png');
        background-size: cover;
    }


    &__Content {
        padding: 0 300 * $px;

        @media (max-width: $screen-xs-max) {
            padding: 0 20 * $px;
        }

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            padding: 0 150 * $px;
        }
    }

    &__Text {
        font-size: 30px;
        color: #fff;
        margin-bottom: 20 * $px;

        @media (max-width: $screen-xs-max) {
            font-size: 22px;
        }
    }

    &__Button {
        min-width: 326 * $px;
        height: 46 * $px;
        line-height: 42 * $px;
        font-size: 18 * $px;
        text-align: center;
        border: solid 1px #A6D472;
        border-radius: 3 * $px;
        background-color: #A6D472;
        color: #fff;
        display: inline-block;
        text-decoration: none !important;

        @media (max-width: $screen-xs-max) {
            min-width: 0;
            width: 100%;
        }


        &:hover, &:active, &:visited {
            color: #fff;
            text-decoration: none !important;
            border-color: #98C168;
            background-color: #98C168;
        }
    }
}

.Connect {
    display: flex;
    justify-content: center;

    @media (min-width: $screen-sm-min) and (max-width:810px) {
        justify-content: flex-start;
    }

    &__Row {
        display: flex;
        flex-flow: row;
        align-items: center;
        position: relative;

        @media (max-width: $screen-xs-max) {
            flex-flow: column;
        }
    }

    &__Icon {
        display: flex;
        align-items: center;

        @media (max-width: $screen-xs-max) {
            align-items: center;
            justify-content: center;
            margin-top: 112 * $px;
        }

        @media (max-height: 650px) and (max-width: $screen-xs-max) {
            margin-top: 50 * $px;
        }

        @media (min-width: $screen-sm-min) and (max-width: $screen-hideMenu-max) {
            display: none;
        }
    }

    &__Text {
        display: flex;
        font-size: 20 * $px;
        margin-left: 10 * $px;
        margin-right: 10 * $px;

        @media (max-width: $screen-xs-max) {
            font-size: 24 * $px;
            margin-top: 30 * $px;
            color: #fff;
            justify-content: center;
            text-align: center;
        }
    }

    &__InputBlock {
        display: flex;
        padding-right: 11 * $px;
        position: relative;

        @media (max-width: $screen-xs-max) {
            margin-top: 20 * $px;
            padding-right: 0;
            width: 100%;
        }
    }

    &__ButtonBlock {
        display: flex;
        margin-right: 20 * $px;

        @media (max-width: $screen-xs-max) {
            width: 100%;
            margin-top: 20 * $px;
            margin-right: 0;
        }
    }

    &__CodeInput {
        appearance: none;
        width: 256 * $px;
        height: 46 * $px;
        font-size: 20 * $px;
        text-align: center;
        border: solid 1px #EBEBEB;
        border-radius: 3 * $px;

        @media (max-width: $screen-xs-max) {
            display: block;
            width: 100%;
            font-size: 18 * $px;
            height: 60 * $px;
        }

        @media (min-width: $screen-sm-min) and (max-width:$screen-hideMenu-max) {
            width: 170 * $px;
        }
    }

    &__CodeInput::placeholder {
        color: #f0f0f0;
    }

    &__JoinButton {
        min-width: 256 * $px;
        height: 46 * $px;
        text-align: center;
        border: solid 1px #A6D472;
        border-radius: 3 * $px;
        background-color: #A6D472;
        color: #fff;
        font-size: 18 * $px;

        @media (max-width: $screen-xs-max) {
            display: block;
            width: 100%;
            border: solid 2px #FFF;
            background-color: transparent;
            color: #fff;
            height: 60 * $px;
            margin-right: 0;
        }

        @media (min-width: $screen-sm-min) and (max-width:$screen-hideMenu-max) {
            min-width: 170 * $px;
        }
    }

    &__ValidationMessage {
        position: absolute;
        right: 0;
        bottom: -53 * $px;
        white-space: nowrap;

        @media (max-width: $screen-xs-max) {
            bottom: 74 * $px;
        }

        & > .validation-summary-errors {
            position: relative;
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            background: #c65252;
            position: relative;
            padding: 11px;

            & > ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }
        }

        & > .validation-summary-errors:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 40px;
            right: 7px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 13px 13px 13px;
            border-color: transparent transparent #c65252 transparent;

            @media (max-width: $screen-xs-max) {
                bottom: -26px;
                border-width: 13px 8px;
                border-color: #c65252 transparent transparent transparent;
            }
        }
    }

    &__HowToPlayBlock {
        font-size: 18 * $px;
        white-space: nowrap;

        @media (max-width: $screen-xs-max) {
            & > a {
                color: #fff;
                text-decoration: underline;
            }

            margin-top: 45 * $px;
        }
    }

    &__MoreInfoBlock {
        display: none;
        font-size: 14 * $px;
        position: absolute;
        bottom: 20 * $px;
        left: 0;
        right: 0;
        text-align: center;

        & > a {
            color: #fff;
        }

        @media (max-width: $screen-xs-max) {
            margin-top: 150 * $px;
            display: block;
        }
    }
}

.Invitation {
    margin-top: 162 * $px;

    @media (max-width: $screen-xs-max) {
        margin-top: 25 * $px;
        text-align: center;
    }

    &__LogoBlock {
        margin-bottom: 32 * $px;

        @media (max-width: $screen-xs-max) {
            display: none;
        }
    }


    &__HeaderBlock {
        font-size: 36 * $px;
        margin-bottom: 48 * $px;
        color: #fff;
        max-width: 40%;

        @media (max-width: $screen-xs-max) {
            margin-bottom: 24 * $px;
            font-size: 24 * $px;
            color: #000;
            max-width: none;
        }
    }

    &__Button {
        height: 60 * $px;
        line-height: 48 * $px;
        text-align: center;
        border: solid 4px #FFF;
        border-radius: 3 * $px;
        background-color: transparent;
        color: #fff;
        display: inline-block;
        text-decoration: none !important;
        font-size: 18px;

        &--register {
            min-width: 326 * $px;
            margin-right: 20 * $px;

            @media (max-width: $screen-xs-max) {
                margin-bottom: 10 * $px;
                margin-right: 0 * $px;
            }
        }

        &--login {
            min-width: 126 * $px;
        }


        @media (max-width: $screen-xs-max) {
            display: block;
            height: 46 * $px;
            line-height: 44 * $px;
            border: solid 1px #A6D472;
            border-radius: 3 * $px;
            background-color: #A6D472;
            color: #fff;
            min-width: 0;
            width: 100%;
        }

        &:hover, &:active, &:visited {
            color: #fff;
            text-decoration: none !important;

            @media (max-width: $screen-xs-max) {
                border-color: #98C168;
                background-color: #98C168;
            }
        }
    }
}


.DemoBlock {
    display: flex;
    align-items: center;
    padding: 130 * $px 145 * $px;
    justify-content:center;

    @media (max-width: $screen-sm-max) {
        padding: 130 * $px 45 * $px;
    }

    @media (max-width: $screen-xs-max) {
        padding: 30 * $px 10 * $px 10 * $px 10 * $px;
    }

    &--LeftImage {
        flex-flow: row;

        & > .DemoBlock__Image {
            margin-right: 85 * $px;
        }


        @media (max-width: $screen-xs-max) {
            flex-flow: column;

            & > .DemoBlock__Image {
                margin-right: 0 * $px;
            }
        }
    }

    &--RightImage {
        flex-flow: row-reverse;

        & > .DemoBlock__Image {
            margin-left: 85 * $px;
        }


        @media (max-width: $screen-xs-max) {
            flex-flow: column;

            & > .DemoBlock__Image {
                margin-left: 0 * $px;
            }
        }
    }

    &__Image {
        @media (min-width: $screen-sm-min) and (max-width:$screen-hideMenu-max) {
            text-align:center;
            width: calc(50% - 45px);

            & > img {
                width: 100%;
                max-width: 100%;
            }
        }

        @media (max-width: $screen-xs-max) {
            text-align:center;
            align-items: center;

            & > img {
                width: 50%;
                width: 50vw;
            }
        }
    }

    &__Content {
        max-width: 100%;

        @media (min-width: $screen-sm-min) and (max-width:$screen-hideMenu-max) {
            width: calc(50% - 45px);
        }
    }
}

.TextInfo {
    margin-top: 40 * $px;
    margin-bottom: 40 * $px;

    @media (max-width: $screen-xs-max) {
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__Header {
        line-height: 1;
        font-size: 36 * $px;
        margin-bottom: 20 * $px;

        @media (max-width: $screen-xs-max) {
            font-size: 20 * $px;
            margin-top: 20 * $px;
            margin-bottom: 25 * $px;
        }
    }

    &__Body {
        line-height: 1.5;
        font-size: 18px;

        @media (max-width: $screen-xs-max) {
            font-size: 16 * $px;
            margin-bottom: 20 * $px;
        }
    }

    &__Action {
        margin-top: 20 * $px;
    }

    &__Button {
        min-width: 320 * $px;
        height: 46 * $px;
        line-height: 42 * $px;
        font-size: 18 * $px;
        border: solid 1px #A6D472;
        border-radius: 3 * $px;
        background-color: #A6D472;
        color: #fff;
        display: inline-block;
        text-decoration: none !important;
        text-align: center;

        @media (max-width: $screen-xs-max) {
            min-width: 0;
            width: 100%;
        }

        &:hover, &:active, &:visited {
            color: #fff;
            text-decoration: none !important;
            border-color: #98C168;
            background-color: #98C168;
        }
    }
}

.GrayBlock {
    background: #f7f8f9;
}

.WhiteBlock {
    background: #fff;
}

.LineBlock {
    border-bottom: 1px solid #e7e7e7;
}

.HowItWorks {
    display: flex;
    flex-flow: column;
    margin-bottom: 200 * $px;

    @media (max-width: $screen-xs-max) {
        margin-left: 10 * $px;
        margin-right: 10 * $px;
        margin-bottom: 100 * $px;
    }

    &__Header {
        display: flex;
        font-size: 36 * $px;
        justify-content: center;
        margin-top: 60 * $px;
        margin-bottom: 65 * $px;

        @media (max-width: $screen-xs-max) {
            font-size: 24 * $px;
            margin-top: 25 * $px;
            margin-bottom: 30 * $px;
        }
    }

    &__Row {
        display: flex;
        flex-flow: row;


        @media (max-width: $screen-sm-max) {
            flex-flow: column;
        }
    }

    &__Image {
        display: flex;
        margin-right: 40 * $px;
        align-items: center;

        @media (min-width: $screen-md-min) {
            width: 762px;
        }

        @media (max-width: $screen-sm-max) {
            display: block;
            margin-right: 0 * $px;

            & > img {
                max-width: 100%;
                display: block;
                margin: 0 auto;
            }
        }
    }

    &__Content {
        display: flex;
        flex-direction: column;

        @media (min-width: $screen-md-min) {
            width: calc(100% - 802px);
        }
    }
}

.HowToStep {
    margin: 20 * $px 0;

    @media (max-width: $screen-xs-max) {
        margin: 15 * $px 0;
    }

    &__Header {
        text-transform: uppercase;
        color: #C0C0C0;
        margin-bottom: 5 * $px;
    }
}

.TestimonialsBlock {
    background-color: #f7f8f9;
    display: flex;
    flex-flow: column;

    .container {
        @media (max-width: $screen-xs-max) {
            width: calc(100% - 15px);
        }
    }

    &__Header {
        display: flex;
        font-size: 36 * $px;
        justify-content: center;
        margin-top: 95 * $px;
        margin-bottom: 55 * $px;
        text-align: center;

        @media (max-width: $screen-xs-max) {
            margin: 0;
            font-size: 20 * $px;
            padding-bottom: 20 * $px;
        }
    }

    &__Content {
        margin-bottom: 110 * $px;
        padding: 0 * $px 145 * $px;

        @media (max-width: $screen-md-max) {
            padding: 0 * $px 50 * $px;
        }

        @media (max-width: $screen-xs-max) {
            margin-top: 95 * $px;
            padding: 0 * $px;
        }
    }
}

.TestimonialCarousel {
    display: flex;
    flex-flow: column;

    &__TopPart {
        align-items: center;
        display: flex;
    }

    &__Window {
        display:flex;
        flex-grow:1;
    }

    &__BottomPart {
        margin-top: 60 * $px;
        position: relative;
        bottom: auto;
        left: auto;
        width: auto;
        margin-left: 0;
        padding-left: 0;
        list-style: none;

        @media (max-width: $screen-xs-max) {
            margin-top: -30 * $px;
        }
    }

    &__Indicator {
        cursor: pointer;
        display: inline-block;
        width: 14 * $px;
        height: 14 * $px;
        border-radius: 14 * $px;
        background-color: #E6EDF3;
    }

    &__Indicator.active {
        background-color: #90A6D4;
        width: 15 * $px;
        height: 15 * $px;
        border-radius: 15 * $px;
    }

    &__Navigate {
        & > a,
        & > a:hover, & > a:active, & > a:visited {
            font-size: 26px;
            color: #A6A6A6;
            text-decoration: none !important;
        }
    }
}

.Testimonial {
    display: flex;
    flex-flow: column;
    min-height: 370 * $px;
    background-color: white;
    box-shadow: 0px 3px 6px #F0F0F0;
    border-radius: 3 * $px;
    margin-left: 35 * $px;
    margin-right: 35 * $px;
    padding: 90 * $px 68 * $px 80 * $px 68 * $px;

    @media (max-width: $screen-xs-max) {
        margin-left: 15 * $px;
        margin-right: 15 * $px;
        padding: 25 * $px 10 * $px;
        background-color: none;
        box-shadow: none;
        border-radius: 0;
    }



    @media (max-width: 900px) {
        min-height: 430 * $px;
    }

    @media (max-width: $screen-xs-max) {
        min-height: 0;
    }

    &__Comment {
        margin-bottom: 15 * $px;
        font-size: 18 * $px;

        @media (max-width: $screen-xs-max) {
            order: 2;
            text-align: center;
            font-size: 14 * $px;
        }
    }

    &__Customer {
        @media (max-width: $screen-xs-max) {
            order: 1;
            text-align: center;
        }
    }

    &__CustomerName {
        font-size: 22 * $px;
        margin-bottom: 10 * $px;

        @media (max-width: $screen-xs-max) {
            font-size: 18 * $px;
            margin-bottom: 20 * $px;
        }
    }

    &__CustomerPosition {
        font-size: 16 * $px;
        text-transform: uppercase;

        @media (max-width: $screen-xs-max) {
            padding-bottom: 20 * $px;
            margin-bottom: 20 * $px;
            border-bottom: solid 1px #EBEBEB;
            font-size: 14 * $px;
        }
    }

    &__Quot {
        font-size: 20 * $px;

        @media (max-width: $screen-xs-max) {
            font-size: 20 * $px;
        }
    }
}

.FooterBlock {
    min-height: 90 * $px;
    display: flex;
    flex-flow: row;
    align-items: center;
    color: #64686e;

    @media (max-width: $screen-hideMenu-max) {
        margin-top: 20 * $px;
        margin-bottom: 20 * $px;
        flex-flow: column;
        font-size: 14 * $px;
    }

    & > div {
        display: flex;
        flex-grow: 1;
        justify-content: center;

        @media (max-width: $screen-xs-max) {
            margin-top: 10 * $px;
            margin-bottom: 10 * $px;
        }
    }
}

.HowToPlayModal {
    & > .modal-dialog {
        & > .modal-content {
            & > .modal-footer {
                & > button {
                    @media (max-width: $screen-xs-max) {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.HowToPlayStep {
    margin-bottom: 50 * $px;

    &__Header {
        text-transform: uppercase;
        color: #7984C9;
        margin-bottom: 10 * $px;
    }


    &__Image {
        text-align: center;
        margin-top: 20 * $px;
        margin-bottom: 20 * $px;

        & > img {
            max-width: 133 * $px;
        }
    }
}