﻿@using home = WaveAccess.MyQuiz.WebUI.app.landings.home.ru.home;
@using WaveAccess.MyQuiz.WebUI.app.landings.home;
@using WaveAccess.MyQuiz.WebUI.app.core.elements.menu;
@model HomeViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@home.Head_Title</title>
    <link type="image/x-icon" href="@Html.UrlCdn("~/favicon.ico")" rel="shortcut icon" />
    <link type="image/png" href="@Html.UrlCdn("~/favicon-16x16.png")" sizes="16x16" rel="icon" />
    <link type="image/png" href="@Html.UrlCdn("~/favicon-32x32.png")" sizes="32x32" rel="icon" />
    <meta name="description" content="@home.Head_Description" />
    <meta name="keywords" content="@home.Head_Keywords" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta itemprop="name" content="@home.Head_Title">
    <meta itemprop="description" content="@home.Head_Description">
    <meta itemprop="image" content="@Url.Content("~/app/images/home/social_share_" + LocView.Leng + ".png")">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="@home.Head_Title">
    <meta name="twitter:description" content="@home.Head_Description">
    <meta name="twitter:image:src" content="@Url.Content("~/app/images/home/social_share_" + LocView.Leng + ".png")">
    @*<meta name="twitter:site" content="@publisher_handle">*@
    @*<meta name="twitter:creator" content="@author_handle">*@

    <meta property="og:title" content="@home.Head_Title" />
    <meta property="og:description" content="@home.Head_Description" />
    <meta property="og:image" content="@Url.Content("~/app/images/home/social_share_" + LocView.Leng + ".png")" />
    @*<meta property="og:site_name" content="Site Name, i.e. Moz" />*@
    @*<meta property="og:type" content="article" />*@
    @*<meta property="og:url" content="http://www.example.com/" />*@
    @*<meta property="article:published_time" content="2013-09-17T05:59:00+01:00" />*@
    @*<meta property="article:modified_time" content="2013-09-16T19:08:47+01:00" />*@
    @*<meta property="article:section" content="Article Section" />*@
    @*<meta property="article:tag" content="Article Tag" />*@
    @*<meta property="fb:admins" content="Facebook numberic ID" />*@

    @Html.Partial("Analytics/AnalyticsView")
    @Styles.Render("~/Content/css_new/core")
    @Styles.Render("~/Content/css_new/landings/home/ru")
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800" rel="stylesheet" />
    <script src="https://www.youtube.com/iframe_api"></script>
    @Styles.Render("~/Content/plugins/amp")
    @Scripts.Render("~/bundles/plugins/amp")
    @Scripts.Render("~/bundles/js_new/core")
    @Scripts.Render("~/bundles/js_new/landings/home/ru")
    <script type="text/javascript">
        var announcementMobileActiveIndex = parseInt('@Model.AnnouncementMobileActiveIndex');
    </script>
</head>
<body class="home">
    @if (ShowInformationMessages)
    {
        @Html.Action("Messages", "Information")
    }
    <div class="layout">
        @Html.Partial("~/app/core/elements/menu/menu.cshtml", new MenuViewModel { IsOwner = false, IsHomePage = true })
        <div id="HowToPlayModal" class="HowToPlayModal modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span class="icon-close"></span></button>
                        <h4 class="modal-title">@home.HowToPlay__Header</h4>
                    </div>
                    <div class="modal-body">
                        <div class="HowToPlayStep">
                            <div class="HowToPlayStep__Header">
                                @home.HowToPlay__Step1__Header
                            </div>
                            <div class="HowToPlayStep__Body">
                                <div>@home.HowToPlay__Step1__Text</div>
                                <div class="HowToPlayStep__Image">
                                    <img src="@Html.UrlCdn("~/app/images/home/demo_howtoPlay1_" + LocView.Leng + ".png")" />
                                </div>
                            </div>
                        </div>
                        <div class="HowToPlayStep">
                            <div class="HowToPlayStep__Header">
                                @home.HowToPlay__Step2__Header
                            </div>
                            <div class="HowToPlayStep__Body">
                                <div>@home.HowToPlay__Step2__Text</div>
                                <div class="HowToPlayStep__Image">
                                    <img src="@Html.UrlCdn("~/app/images/home/demo_howtoPlay2_" + LocView.Leng + ".png")" />
                                </div>
                            </div>
                        </div>
                        <div class="HowToPlayStep">
                            <div class="HowToPlayStep__Header">
                                @home.HowToPlay__Step3__Header
                            </div>
                            <div class="HowToPlayStep__Body">
                                <div>@home.HowToPlay__Step3__Text</div>
                                <div class="HowToPlayStep__Image">
                                    <img src="@Html.UrlCdn("~/app/images/home/demo_howtoPlay3_" + LocView.Leng + ".png")" />
                                </div>
                                <div>&bull;&nbsp;@home.HowToPlay__Step3__Text1</div>
                                <div>&bull;&nbsp;@home.HowToPlay__Step3__Text2</div>
                            </div>
                        </div>
                        <div class="HowToPlayStep">
                            <div class="HowToPlayStep__Header">
                                @home.HowToPlay__Step4__Header
                            </div>
                            <div class="HowToPlayStep__Body">
                                <div>@home.HowToPlay__Step4__Text</div>
                                <div class="HowToPlayStep__Image">
                                    <img src="@Html.UrlCdn("~/app/images/home/demo_howtoPlay4_" + LocView.Leng + ".png")" />
                                </div>
                                <div>&bull;&nbsp;@home.HowToPlay__Step4__Text1</div>
                            </div>
                        </div>
                        <div class="HowToPlayStep">
                            <div class="HowToPlayStep__Header">
                                @home.HowToPlay__Step5__Header
                            </div>
                            <div class="HowToPlayStep__Body">
                                <div>@Html.Raw(Model.HowToPlay__Step5__Text)</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">@home.Close</button>
                    </div>
                </div>
            </div>
        </div>
    <div class="ConnectBlock">
        <form method="post" class="ConnectBlock__Form">
            <div class="Connect container">
                <div class="Connect__Row">
                    <div class="Connect__Icon">
                        <img src="@Html.UrlCdn("~/app/images/home/icon_pencil.png")" class="hidden-xs" width="46px" />
                        <img src="@Html.UrlCdn("~/app/images/logo/logo-mobile.png")" class="visible-xs" width="50%" />
                    </div>
                    <div class="Connect__Text">@home.EnterCodeForm__Text:</div>
                    <div class="Connect__InputBlock">
                        <div class="Connect__ValidationMessage">@Html.ValidationSummary()</div>
                        <input name="quizCode" type="text" class="Connect__CodeInput" placeholder="123456" />
                    </div>
                    <div class="Connect__ButtonBlock">
                        <button class="Connect__JoinButton" type="submit">@home.EnterCodeForm__Join</button>
                    </div>
                    <div class="Connect__HowToPlayBlock">
                        <a data-target="#HowToPlayModal" data-toggle="modal">@home.HowToPlay</a>
                    </div>
                    <div class="Connect__MoreInfoBlock">
                        <a href="#MoreInfo">@home.MoreInfo <span class="icon-squared-arrow-down"></span></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="MoreInfoLayout">
        <div id="MoreInfo" class="TopBlock TopBlock--@(LocView.Leng)">
            <div class="container">
                <div class="Invitation">
                    <div class="Invitation__LogoBlock">
                        <img src="@Html.UrlCdn("~/app/images/logo/logo-desktop.png")" />
                    </div>
                    <div class="Invitation__HeaderBlock">@home.Header__Main</div>
                    <div class="Invitation__ButtonBlock">
                        <a href="@Url.Action("Register", "Account")" class="Invitation__Button Invitation__Button--register">@home.Header__Registration</a>
                        <a href="@Url.Action("Login", "Account")" class="Invitation__Button Invitation__Button--login">@home.Header__Login</a>
                    </div>
                </div>
            </div>
        </div>
        @{ Html.RenderPartial("~/app/landings/home/shared/announcements.cshtml", Model.QuizAnnouncementViewModels);}
    </div>
        
        <div class="WhiteBlock">
            <div class="container">
                <div class="DemoBlock DemoBlock--LeftImage">
                    <div class="DemoBlock__Image">
                        <img src="@Html.UrlCdn("~/app/images/home/demo_game_" + LocView.Leng + ".png")" />
                    </div>
                    <div class="DemoBlock__Content">
                        <div class="TextInfo">
                            <div class="TextInfo__Header">
                                @home.DemoLeader__Header1
                            </div>
                            <div class="TextInfo__Body">
                                @home.DemoLeader__Text1
                            </div>
                        </div>
                        <div class="TextInfo">
                            <div class="TextInfo__Header">
                                @home.DemoLeader__Header2
                            </div>
                            <div class="TextInfo__Body">
                                @home.DemoLeader__Text2
                                <div class="TextInfo__Action">
                                    <a href="@Url.Action("Create", "Lectures")" class="TextInfo__Button">@home.Demo__CreateQuiz</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="GrayBlock">
        <div class="container">
            <div class="DemoBlock DemoBlock--RightImage">
                <div class="DemoBlock__Image">
                    <img src="@Html.UrlCdn("~/app/images/home/demo_leader_" + LocView.Leng + ".png")" />
                </div>
                <div class="DemoBlock__Content">
                    <div class="TextInfo">
                        <div class="TextInfo__Header">
                            @home.DemoGame__Header1
                        </div>
                        <div class="TextInfo__Body">
                            @home.DemoGame__Text1
                        </div>
                    </div>
                    <div class="TextInfo">
                        <div class="TextInfo__Header">
                            @home.DemoGame__Header2
                        </div>
                        <div class="TextInfo__Body">
                            @home.DemoGame__Text2
                            <div class="TextInfo__Action">
                                <a href="@Url.Action("Create", "Lectures")" class="TextInfo__Button">@home.Demo__TryItForFree</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="WhiteBlock LineBlock">
        <div class="container">
            @{Html.RenderPartial("~/app/landings/home/shared/partners.cshtml"); }
        </div>
    </div>
    <div class="WhiteBlock">
        <div class="container">
            <div id="HowToPlay" class="HowItWorks">
                <div class="HowItWorks__Header">
                    @home.HowItWorks__Header
                </div>
                <div class="HowItWorks__Row">
                    <div class="HowItWorks__Image">
                        <img src="@Html.UrlCdn("~/app/images/home/demo_howItWorks_" + LocView.Leng + ".png")" />
                    </div>
                    <div class="HowItWorks__Content">
                        <div class="HowToStep">
                            <div class="HowToStep__Header">
                                @home.HowItWorks__Step1__Header
                            </div>
                            <div class="HowToStep__Text">
                                <a href="@Url.Action("Register", "Account")">@home.HowItWorks__Step1__Start__Text</a> @string.Format(home.HowItWorks__Step1__End__Text, Model.SiteUrl)
                            </div>
                        </div>
                        <div class="HowToStep">
                            <div class="HowToStep__Header">
                                @home.HowItWorks__Step2__Header
                            </div>
                            <div class="HowToStep__Text">
                                @home.HowItWorks__Step2__Text
                            </div>
                        </div>
                        <div class="HowToStep">
                            <div class="HowToStep__Header">
                                @home.HowItWorks__Step3__Header
                            </div>
                            <div class="HowToStep__Text">
                                @string.Format(home.HowItWorks__Step3__Text, Model.SiteUrl)
                            </div>
                        </div>
                        <div class="HowToStep">
                            <div class="HowToStep__Header">
                                @home.HowItWorks__Step4__Header
                            </div>
                            <div class="HowToStep__Text">
                                @home.HowItWorks__Step4__Text
                            </div>
                        </div>
                        <div class="HowToStep">
                            <div class="HowToStep__Header">
                                @home.HowItWorks__Step5__Header
                            </div>
                            <div class="HowToStep__Text">
                                @home.HowItWorks__Step5__Text
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        @if (Model.TestimonialViewModel.Count > 0)
        {
            <div class="TestimonialsBlock">
                @{Html.RenderPartial("~/app/landings/home/shared/testimonials.cshtml", Model.TestimonialViewModel);}
            </div>   
        }
        <div class="BottomBlock">
            <div class="BottomBlock__Content container">
                <div class="BottomBlock__Text">
                    @home.QuizCatalog__Text
                </div>
                <div>
                    <a href="@Url.Action("Index", "CatalogOfQuizzes")" class="BottomBlock__Button">
                        @home.QuizCatalog__Add
                    </a>
                </div>
            </div>
        </div>
        <div class="FooterBlock container">
            <div class="FooterBlock__CopyRight">
                @DateTime.Now.Year &copy; <a href="@LocView.getLocalization("WaveAccessSite")" target="_blank" style="margin-left: 5px;">WaveAccess</a>
            </div>
            <div class="FooterBlock__Policy">
                @Html.ActionLink(home.Footer_PrivacyPolicy, "PrivacyPolicy", new { Controller = "Home" }, new { target = "_blank" })
            </div>
            @if (!string.IsNullOrEmpty(home.Footer_UserAgreement))
            {
            <div class="FooterBlock__UserAgreement">
                @Html.ActionLink(home.Footer_UserAgreement, "UserAgreement", new { Controller = "Home" }, new { target = "_blank" })
            </div>
            }
            <div class="FooterBlock__Email">
                <a href="mailto:@LocView.getLocalization("EmailSupport")">@LocView.getLocalization("EmailSupport")</a>
            </div>
            <div class="FooterBlock__Phone">
                @Model.CompanyPhone
            </div>
            <div class="FooterBlock__SocialNetworks">
                @*<a href="https://www.facebook.com/myquizzz" style="margin-right:10px;" target="_blank">
                    <img src="@Html.UrlCdn("~/app/images/home/icon_facebook.png")" width="36px" />
                </a>*@
                <a href="https://t.me/myquizz" style="margin-right:10px;" target="_blank">
                    <img src="@Html.UrlCdn("~/app/images/home/icon-telegram.png")" width="36px" />
                </a>
                @if (Model.DisplayVK)
                {
                <a href="https://vk.com/myquizz" target="_blank">
                    <img src="@Html.UrlCdn("~/app/images/home/icon_vk.png")" width="36px" />
                </a>
                }
            </div>
        </div>
    </div>
</body>
</html>
