﻿span.field-validation-error {
    right: 3px;
}
    #login-form-container .sign-in-form .field-validation-error {
        /*top: 0px;*/
        background-color: #E6E9EE;
        color: #2C4358;
        /*border-radius: 5px;*/
        top: -3px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

.sign-in-form form {
    padding: 10px 40px;
}

#login-form-container .sign-in-form .input-validation-error {
    color: #DA5F63;
    border: 1px solid #F6F7F8 !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    top: -3px;
}


.sign-in-form-line {
}

#login-form-container .sign-in-form {
    padding: 10px 0px 0px 0px;
}

#login-form-container .sign-in-form-footer {
    color: white;
    background-size: cover;
    background-image: url(/Images/Footer.png);
    padding: 40px 0;
    clear: both;
}

#login-form-container .sign-in-form-footer a {
    margin-left: 10px;
    color: white;
    background-color: #3289BC;
    border-radius: 30px;
    padding: 10px 20px;
    display: inline-block;
    margin: 10px;
}



#login-form-container .sign-in-form-footer div {
    margin: 20px;
}

#login-form-container .sign-in-form label {
    color: #F6F7F8;
    float: left;
    margin-bottom: 3px;
    padding: 0 8px 0 0;
}

body .text-box.single-line {
    width: 100%;
}

#login-form-container .sign-in-form input {
    text-align: center;
    border: 0px;
    color: #F6F7F8;
    background-color: rgba(0, 0, 0, 0.18);
    height: 5px !important;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#sub-menu-container {
    display: none;
}

.sign-in-form h3 {
    padding: 35px 0px !important;
}



#body {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 60px;
    width: 100%;
}

#password-generated-message-container {
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 35px;
}

#password-generated-message-container:empty {
    display: none;
}

.validation-summary-errors {
    padding-bottom: 20px;
}