﻿@media screen and (max-width:767px){
    .gridData__row .testimonialGridData__colTheme {
        max-width: 230px;
    }

    #createButtonContainer .inlineTextButton {
        padding: 0px 40px;
    }
}
