﻿html, html body {
    background-image: none !important;
    background-color: #F0F2F4 !important;
}

header, footer #footer-container {
    background-color: #737D9C;
}

.Layout {
    overflow:hidden;
}

.Layout__Header {
    background-image: url('/Images/CatalogOfQuizzes/Header_Image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #8888AA;
}

.Layout__HeaderMask {
    height: 760px;
    text-align: center;
}

.HeaderText {
    margin-top: 40px;
    text-align: center;
    display: inline-block;
    max-width: 1240px;
    padding: 0 20px;
}

.HeaderText__Caption {
    font-size: 56px;
    color: white;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 95px;
}

.HeaderText__Description {
    margin-top: 0px;
    font-size: 22px;
    line-height: 30px;
    color: white;
    white-space: pre-line;
}

.Header__LinkToCatalog {
    display: none;
    height: 46px;
    background-image: url('/Images/CatalogOfQuizzes/Header_Arrow_Down.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 30px;
}

.Layout__Body {
    margin: 30px auto 30px auto;
    max-width: 1200px;
}


.Layout__QuizListRow {
    display: flex;
}

.PublicQuizBox {
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 480px;
    background-color: #fff;
    border: 1px solid #E8EAEC;
    border-radius: 4px;
    margin: 30px 15px 30px 15px;
    box-shadow: rgba(194, 195, 196, 0.40) 0px 2px;
}

.PublicQuizBox__Image {
    height: 245px;
    background-color: #FBFDFC;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
    .PublicQuizBox__Image div.frameContainer > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 245px;
        border: 0px;
    }

.PublicQuizBox__Title {
    margin: 30px 30px 0 30px;
    color: #435C90;
    font-size: 16px;
    font-weight: bold;
}

.PublicQuizBox__Description {
    margin: 20px 30px 90px 30px;
    line-height: 20px;
}

.PublicQuizBox__Actions {
    margin: 0px 30px 30px 30px;
    position: absolute;
    text-align:right;
    bottom: 0;
    right: 0;
    left: 0;
    white-space:nowrap;
}

.PublicQuizBox__Counter {
    display:inline-block;
    color:#AAA9A9;
    padding:8px 12px;
    border: solid 1px #AAA9A9;
    float:left;
    border-radius:20px;
    cursor:default;
    margin-top:7px;
}

.CopyButton__Text--mobile {
    display:none;
}
.CopyButton__Text--desktop {
    display:initial;
}

@media (max-width: 768px) {
    .Layout__Header {
    }

    .Layout__QuizListRow {
        display: block;
        margin-right: 30px;
    }

    .Layout__HeaderMask {
        height: 500px;
    }

    .HeaderText {
        /*margin-top:50px;*/
        margin-top: 25px;
    }

    .HeaderText__Caption {
        /*font-size:20px;*/
        font-size: 240%;
        line-height: 45px;
    }

    .HeaderText__Description {
        margin-top: 0px;
        font-size: 16px;
    }

    .Header__LinkToCatalog {
        display: block;
        background-size: 45px;
    }

    .PublicQuizBox__Description {
        margin: 20px 30px 90px 30px;
        line-height: 20px;
    }

    .PublicQuizBox__Actions {
        margin: 30px 30px 20px 30px;
    }
    .CopyButton__Text--mobile {
        display:initial;
    }
    .CopyButton__Text--desktop {
        display:none;
    }
}
