﻿.quiz__authorBlock {
    padding-bottom:15px;
    background-color: white;
    white-space:nowrap;
}

.author__image {
    width:40px;
    height:40px;
    display:inline-block;
    border-radius:20px;
    background-image:url('/Images/no-user-photo.png');
    background-size:cover;
    vertical-align:middle;
}

.author__name {
    font-size:14px;
    display:inline-block;
    margin-left:18px
}

.quiz__imageBlock {
    background-color:white;
    text-align:center;
}

.quiz__image {
    border:0px;
    max-height:200px;
    max-width: 100%;
    height: auto;
}

.quiz__title {
    padding:15px 0px 5px 0px;
    color:#3c6498;
    line-height:20px;
}

.quiz__description {
}


.installQuizModal__table {
    max-width:500px;
}

.installQuizModal__buttonPlaceholder {
    width: 150px;
    padding: 0 5px;
    box-sizing: border-box;
    display:inline-block;
}

@media (max-width: 768px) {
    .installQuizModal__buttonPlaceholder {
        width: 50%;
        float: left;
    }
}