﻿sup {
    vertical-align: super;
    font-size: smaller;
}

b {
    font-weight: bold;
}


.mainContentLayout {
    margin: 10px auto;
}

.hidden {
    display: none !important;
}


.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix {
    clear: both;
}

.text--ellipsis {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}

body .lecturesGridData__colTheme.text--ellipsis {
    white-space: normal !important;
    line-height: normal;
}

.text--important {
    color: #cfd4fc !important;
}

.text--center {
    text-align: center;
    line-height: normal;
}

.breadcrumb {
    display: block;
    height: auto;
    padding-top: 12px;
    margin-bottom: -30px;
    z-index: 1;
    font-size: 95%;
}

.breadcrumb__linkItem {
    padding-left: 15px;
    cursor: pointer;
    color: #efa923;
    text-decoration: underline;
}

.breadcrumb__textItem {
    color: #FFFFFF;
}

.textField {
    border: 1px solid #b7b7b7;
    padding: 0px 20px;
    font-size: 16px;
    width: 100%;
    color: #B3B6BE;
    background-color: rgba(0, 0, 0, 0.18);
    height: 42px;
    border-radius: 4px;
}



    .textField::-moz-placeholder {
        color: #B3B6BE;
    }

    .textField::-webkit-input-placeholder {
        color: #B3B6BE;
    }

    .textField::-ms-input-placeholder {
        color: #B3B6BE;
    }

.basicButton {
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    line-height: 44px;
    border: 0;
    padding: 0 20px;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-image: none !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    white-space: nowrap;
    box-sizing: border-box;
    vertical-align: top;
}

.basicButton--small {
    font-size: 14px;
    line-height: 40px;
}

.basicButton--xs {
    font-size: 13px;
    line-height: 24px;
    padding: 0 12px;
}

.basicButton--add {
    background-color: #b7ca88;
}

.basicButton--save,
.basicButton--loader,
.basicButton--start {
    background-color: #90A7D6;
}

.basicButton--delete {
    background-color: #C65252;
}

.basicButton--cancel {
    background-color: #9EA5B5;
}

.basicButton--inactive {
    background-color: #9EA5B5;
}

.basicButton--rightSpace {
    margin-right: 10px;
}

.basicButton--bottomSpace {
    margin-bottom: 10px;
}

.basicButton--stretch {
    width: 100%;
}

.basicButton--center {
    text-align: center;
}

.basicButton--facebook {
    background-color: #3c5a96;
}

.basicButton--vkontakte {
    background-color: #608BC7;
}

.basicButton--confirmDelete,
.basicButton--cancelDelete {
    min-width: 100px;
    text-align: center;
}

#external-login-btn-microsoft,
#external-login-btn-facebook,
#external-login-btn-vkontakte {
    width: 100%;
    height: 45px;
    font-size: 15px;
    cursor: pointer;
    background: #6e86bb;
}

.iconButton {
    border: 1px solid rgba(255, 255, 255, 0.36);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border-radius: 2px;
    line-height: 30px;
    padding: 0 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

.iconButton--xs {
    line-height: 24px;
    font-size: 13px;
    padding: 0 10px;
}

.iconButton--inTable {
    margin-top: 5px;
    margin-bottom: 5px;
}

.iconButton--default {
    background-color: #9EA5B5;
}

.inlineTextButton {
    cursor: pointer;
    display: inline-block;
    line-height: 42px;
    border-radius: 42px;
    padding: 0px 50px;
    color: white;
}

.inlineTextButton--add {
    background-color: #B7CA88;
}

.inlineTextButton--import {
    background-color: #A4ACD0;
}

.inlineTextButton--rightJoin {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.inlineTextButton--leftJoin {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.dropDownButton {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.dropDownButton__button {
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    line-height: 44px;
    border: 0;
    padding: 0 15px;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-image: none !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.dropDownButton__button--settings {
    background-color: #9EA5B5;
}

.dropDownButton__button--small {
    line-height: 40px;
}

.dropDownButton__menu {
    position: absolute;
    right: 0px;
    margin-top: 3px !important;
    background: #fff;
    border-radius: 2px;
    text-align: left;
    display: none;
    z-index: 1;
    white-space: nowrap;
    min-width: 130px;
}

.dropDownButton__menuItem {
    display: block;
}

    .dropDownButton__menuItem.hide {
        display: none;
    }
.dropDownButton__menuHeader {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 10px 20px 10px 20px;
    height: 20px;
    line-height: 14px;
    text-align: left;
    font-weight: bold;
}
.dropDownButton__menuLink {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 10px 20px 10px 20px;
    height: 20px;
    line-height: 14px;
    text-align: left;
}

.dropDownButton__menuIcon {
    padding-right: 8px;
}

.dropDownButton__menuLink:hover {
    color: #6ea6f6;
}

select.dropDown {
    text-align: center;
    border: 0px;
    color: #F6F7F8;
    background-color: rgba(0, 0, 0, 0.18);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    padding: 10px 10px 10px 20px;
    font-size: 100%;
    -webkit-appearance: none;
    /*background-image: url('/Content/themes/base/images/triangle.png');*/
    background-position: right 10px center;
    background-repeat: no-repeat;
    font-family: Open Sans, sans-serif;
}

    select.dropDown > option {
        font-family: Verdana,Arial,sans-serif;
        font-size: 18px;
        background-color: #FFF;
        color: #4b546a;
    }

        select.dropDown > option:hover {
            background-color: #737D9C;
        }

select.dropDown--md {
    height: 35px;
    padding: 5px 5px 5px 20px;
    font-size: 16px;
}

select.dropDown--mdTime {
    height: 35px;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    -moz-appearance: none;
}

select.dropDown--mdTime::-ms-expand {
    display:none;
}

.select2-container.select2-container--customMD,
.select2-container.select2-container--customDD {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: initial;
    width: 100%;
}

    .select2-container.select2-container--customMD .select2-selection--single,
    .select2-container.select2-container--customDD .select2-selection--single {
        text-align: center;
        color: #F6F7F8;
        background-color: rgba(0, 0, 0, 0.18);
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 35px;
        padding: 10px 20px 10px 10px;
        font-size: 100%;
        background-position: right 10px center;
        background-repeat: no-repeat;
        font-family: Open Sans, sans-serif;
        width: 100%;
    }
    .select2-container.select2-container--customDD .select2-selection--single {
        background-image: url('/Content/themes/base/images/triangle.png');
    }

        .select2-container.select2-container--customMD .select2-selection--single .select2-selection__rendered,
        .select2-container.select2-container--customDD .select2-selection--single .select2-selection__rendered {
            display: initial;
            padding: 0px;
        }

.select2-container--customMD .select2-results > .select2-results__options,
.select2-container--customDD .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
}

#select2-TimeZoneName-container {
    display: block;
}

/*.select2-container--default .select2-search--inline .select2-search__field {
    width: auto !important;
}*/

.select2-container--customMD .select2-dropdown,
.select2-container--customDD .select2-dropdown {
    font-family: Verdana,Arial,sans-serif;
    font-size: 18px;
    background-color: #fff;
    color: #4b546a;
    min-width: 35%;
}

.select2-container--customMD .select2-results__option,
.select2-container--customDD .select2-results__option {
    padding: 9px 6px;
    line-height: 25px;
}




    .select2-container--customMD .select2-results__option.select2-results__option--highlighted,
    .select2-container--customDD .select2-results__option.select2-results__option--highlighted {
        background-color: #737D9C;
        color: #fff;
    }

.modal {
    position: fixed;
    width: 100%;
    top: 0px;
    bottom: 0px;
    z-index: 1000;
    background: rgba(0,0,0,0.5);
}

.modal--close {
    display: none;
}

.modal__table {
    height: 100%;
    margin: auto;
    max-width: 50%;
    display: table;
    table-layout: fixed;
}

.croppQuizModal__table {
    max-width: 90%;
}

.modal__tableRow {
    display: table-row;
}

.modal__tableCell {
    display: table-cell;
    vertical-align: middle;
}

.modal__header {
    background-color: #909ab7;
    border-radius: 6px 6px 0 0;
    height: 50px;
    color: white;
    line-height: 50px;
    padding: 0px 15px 0 15px;
    position: relative;
}

.modal__closeCross {
    position: absolute;
    padding: 25px 12px;
    background-color: aliceblue;
    right: 15px;
    top: 0px;
    background: url(/Images/cancel-cross.png) no-repeat center center;
    background-size: 16px;
    cursor: pointer;
}

.modal__body {
    background-color: white;
    padding: 15px;
    line-height: 25px;
}

.modal__footer {
    background-color: white;
    border-radius: 0 0 6px 6px;
    padding: 15px;
    text-align: right;
    padding-top: 10px;
}

.mediaSelectorModal .modal__table {
    margin-left:auto !important;
    margin-right:auto !important;
}

.mediaSelectorModal .modal__tableCell {
    min-width:800px;
    max-width: 800px;
    vertical-align:middle !important;
}

.mediaSelectorModal .modal__body.modal__body__header {
    background-color:white;
    text-align:center;
    cursor:pointer;
}

    .mediaSelectorModal .modal__body.modal__body__header div {
        opacity:0.7;
    }

.mediaSelectorModal .modal__body {
    background-color:#f0f2f4;
}
.mediaSelectorModal .modal__footer {
    background-color:#f0f2f4;
}

.mediaSelectorModal .modal__body__header.row {
    margin:0;
    padding-top:0;
    padding-bottom:0;
}

.mediaSelectorModal .modal__body__header .col-md-3,
.mediaSelectorModal .modal__body__header .col-sm-3,
.mediaSelectorModal .modal__body__header .col-xs-3,
.mediaSelectorModal .modal__body__header .col-md-4,
.mediaSelectorModal .modal__body__header .col-sm-4,
.mediaSelectorModal .modal__body__header .col-xs-4,
.mediaSelectorModal .modal__body__header .col-md-6,
.mediaSelectorModal .modal__body__header .col-sm-6,
.mediaSelectorModal .modal__body__header .col-xs-6 {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

.mediaSelectorModal .modal__body.modal__body__header .selectedTab {
    border-bottom:solid 3px  #90a7d6;
    opacity:1;
}

.mediaSelectorModal .row.imgDropzone:hover, .row.videoDropzone:hover {
    cursor: pointer;
    opacity: 1;
}

.mediaSelectorAMSVideoPreview a {
    color: #5360ac;
    text-decoration: underline !important;
}

.mediaSelectorAMSVideoPreview .row.mediaSelectorAMSVideoAMPViewPanelBtns {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.mediaSelectorAMSVideoPreview a:hover {
    text-decoration: underline !important;
    cursor: pointer;
}

.mediaSelectorModal .row.imgDropzone, .mediaSelectorModal .row.dropzoneMsg {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    color: #99а1a7;
    text-align: center;
}

.mediaSelectorAMSVideoUploadingMsg, .mediaSelectorAMSVideoEncodingMsg {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    font-size: 14px;
    color: #99а1a7;
    text-align: center;
}

.mediaSelectorModal .mediaSelectorAMSVideoUploading .row .col-md-12,
.mediaSelectorModal .mediaSelectorAMSVideoUploading .row .col-md-11,
.mediaSelectorModal .mediaSelectorAMSVideoUploading .row .col-md-1,
.mediaSelectorModal .mediaSelectorAMSVideoUploading .row .col-sm-12,
.mediaSelectorModal .mediaSelectorAMSVideoUploading .row .col-sm-11,
.mediaSelectorModal .mediaSelectorAMSVideoUploading .row .col-sm-1,
.mediaSelectorModal .mediaSelectorAMSVideoUploading .row .col-xs-12,
.mediaSelectorModal .mediaSelectorAMSVideoUploading .row .col-xs-11,
.mediaSelectorModal .mediaSelectorAMSVideoUploading .row .col-xs-1,
.mediaSelectorModal .mediaSelectorAMSVideoPreview .row .col-md-12,
.mediaSelectorModal .mediaSelectorAMSVideoPreview .row .col-sm-12,
.mediaSelectorModal .mediaSelectorAMSVideoPreview .row .col-xs-12{
    padding-left: inherit;
    padding-right: inherit;
}

.mediaSelectorModal .mediaSelectorAMSVideoBody {
    overflow-x: hidden;
}

.mediaSelectorModal .mediaSelectorAMSVideoBody .row.videoDropzone {
    text-align: center;
}

.mediaSelectorModal .mediaSelectorAMSVideoBody .row.videoDropzoneRequirements {
    padding-top: 15px;
    max-width: 95%;
}

.mediaSelectorModal .mediaSelectorAMSVideoBody .row.videoDropzoneRequirements ul {
    list-style: disc inside !important;
}

.mediaSelectorModal .mediaSelectorAMSVideoBody .mediaSelectorAMSVideoUploadingProgressBar {
    background-color: white;
    border: 2px dashed #e7e8e9;
    /*padding-left: 5px;
    padding-right: 5px;*/
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mediaSelectorAMSVideoUploadingProgressBar .vertical-center {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.mediaSelectorAMSVideoUploadingProgressBarFileName {
    font-size: 12px;
    text-align: left;
}

.mediaSelectorAMSVideoUploadingProgressBarBytesSent {
    font-size: 10px;
    line-height: 1.8;
    text-align: left;
    color: #99a1a7;
}

.mediaSelectorAMSVideoUploadingProgressBarCancel {
    text-align: center;
    font-size: 26px;
    cursor: pointer;
}


.mediaSelectorModal .mediaSelectorAMSVideoBody .mediaSelectorAMSVideoUploadingProgress,
.mediaSelectorModal .mediaSelectorAMSVideoBody .mediaSelectorAMSVideoEncodingProgress {
    background-color: white;
    border: 2px solid #e7e8e9;
}

.mediaSelectorModal .row.imgDropzone .col-md-12, .mediaSelectorModal .row.imgDropzone .col-sm-12, .mediaSelectorModal .row.imgDropzone .col-xs-12,
.row.videoDropzone .col-md-12, .mediaSelectorModal .row.videoDropzone .col-sm-12, .mediaSelectorModal .row.videoDropzone .col-xs-1 {
    background-color: white;
    border: 2px dashed #e7e8e9;
    padding-left: 0px;
    padding-right: 0px;
}

.mediaSelectorModal .row.imgDropzone .row.dropzoneMsg .col-md-12, .mediaSelectorModal .row.imgDropzone .row.dropzoneMsg .col-sm-12, .mediaSelectorModal .row.imgDropzone .row.dropzoneMsg .col-xs-12, 
    .row.videoDropzone .row.dropzoneMsg .col-md-12, .mediaSelectorModal .row.videoDropzone .row.dropzoneMsg .col-sm-12, .mediaSelectorModal .row.videoDropzone .row.dropzoneMsg .col-xs-12{
    border:0px;
    padding:20px 0;
}


.mediaSelectorModal .row.imgDropzone img, .row.videoDropzone img{
    padding:40px 0;
    margin:0 auto;
    display: block;
}

.mediaSelectorModal .row.imgDropzone .mediaSelectorCropper img{
    width:100%;
}
.mediaSelectorModal .croppQuizModal__buttonPlaceholder a {
    margin-right:10px;
}

.mediaSelectorAMSVideoUploadingProgressBarProgressLine {
    background-color: #5360ac;
    height: 5px;
    width: 0;
    border-radius: 2.5px;
}

.mediaSelectorModal .row {
    margin-left: 0px;
    margin-right: 0px;
}
.mediaSelectorModal .pixabaySearch .pixabaySearchInputWrapper {
    padding-right:60px;
}
.mediaSelectorModal .pixabaySearch .pixabaySearchInputWrapper input {
    width:100%;
    border:0px;
    padding-left:10px;
    height:42px;
}
.mediaSelectorModal .row.pixabaySearch {
    min-height:42px;
}
.mediaSelectorModal .pixabayInfo {
    margin-top:20px;
    color:#666666;
    font-size:10px;
    line-height:14px;
    max-width:500px;
}
.mediaSelectorModal .modal__body[tab-id="mediaSelectorPixabayImagesTab"] {
    overflow:hidden;
}
.mediaSelectorModal .pixabaySearchResult {
    margin-top:30px;
    overflow:hidden;
}

.mediaSelectorModal .pixabaySearchResult .pixabaySearchResultHeader{
    margin-bottom:20px;
    font-size:13px;
    color:#666666;
}

.mediaSelectorModal .pixabaySearchResult .pixabaySearchResultHeader img{
    float:right;
}

.mediaSelectorModal .pixabaySearchResult .col-md-4, .mediaSelectorModal .pixabaySearchResult .col-sm-6, .mediaSelectorModal .pixabaySearchResult .col-xs-12 {
    padding-left:0px;
    padding-right:0px;
}
    .mediaSelectorModal .pixabaySearchResult .pixabaySearchResultImages {
        overflow-y:auto;
    }


    @media (min-width: 570px) and (max-width: 767px) {
        .mediaSelectorModal .pixabaySearchResult .pixabaySearchResultImages {
            max-height:40vh;
        }
    }

    @media (max-width: 570px) {
        .mediaSelectorModal .pixabaySearchResult .pixabaySearchResultImages {
            max-height:30vh;
        }
    }

@media (min-width: 767px) {
    .mediaSelectorModal .pixabaySearchResult .pixabaySearchResultImages {
        max-height:50vh;
    }
}

.mediaSelectorModal .pixabaySearchResult .pixabaySearchResultImages img{
    width:98%;
}

.mediaSelectorModal .pixabaySearch a.btn-search {
    background-color: #90a7d6;
    width: 50px;
    height: 42px;
    display: inline-block;
    vertical-align: top;
    color:white;
    margin-left:10px;
    font-size:20px;
    float:right;
    border-radius:0.25em;
}
    .mediaSelectorModal .pixabaySearch a.btn-search span{
        padding-left:16px;
        margin-top:9px;
        display:inline-block;
    }

.mediaSelectorModal .pixabaySearch .pixabaySearchResultFooter {
    margin-top:20px;
    font-size:14px;
}

.mediaSelectorModal .pixabaySearch .pixabaySearchResultFooter .btn-search-prev-page {
    color:#666666;
    text-align:right;
    cursor:pointer;
}

.mediaSelectorModal .pixabaySearch .pixabaySearchResultFooter .btn-search-next-page {
    color:#90a7d6;
    cursor:pointer;
}

.mediaSelectorModal .pixabaySearch .pixabaySearchResultFooter .btn-search-prev-page:hover,  .mediaSelectorModal .pixabaySearch .pixabaySearchResultFooter .btn-search-next-page:hover{
    color:#587bc1;
}

.mediaSelectorModal .pixabaySearch .pixabayImgResult {
    cursor:pointer;
}

.mediaSelectorModal .mediaSelectorYoutubeBody input, 
.mediaSelectorModal .mediaSelectorAMSVideoPreview input {
    width: 100%;
    height: 42px;
    border: 0px;
    padding-left: 10px;
}

.mediaSelectorModal .mediaSelectorYoutubeBody div {
    padding-left: 0px;
    padding-right: 0px;
}
.mediaSelectorModal .mediaSelectorYoutubeBody .row {
    margin-top: 10px;
}


.mediaSelectorModal .mediaSelectorYoutubeBody .youtubeVideoPreview {
    background-color:white;
    border-width: 2px;
    border-style: dashed;
    border-color: rgb(231, 232, 233);
    border-image: initial;
}

    .mediaSelectorModal .mediaSelectorYoutubeBody .youtubeVideoPreview img {
        margin: 0 auto;
        display: block;
    }

@media (min-width: 767px)  {
  .mediaSelectorModal .mediaSelectorYoutubeBody .youtubeVideoPreview img {
        padding: 4em 40px;
    }
}

@media (max-width: 767px) {
    .mediaSelectorModal .mediaSelectorYoutubeBody .youtubeVideoPreview img {
        padding: 1em 40px;
    }
}

    .mediaSelectorModal .mediaSelectorYoutubeBody .youtubeVideoPreview div {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
    }

    .mediaSelectorModal .mediaSelectorYoutubeBody .youtubeVideoPreview iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.mediaSelectorModal .mediaSelectorYoutubeBody iframe {
    width:100%;
    height:auto;
}

.mediaSelectorModal .mediaSelectorYoutubeBody .youTubeAttributes input[type=checkbox],
.mediaSelectorModal .mediaSelectorAMSVideoPreview .mediaSelectorAMSVideoPreviewAttributes input[type=checkbox] {
    position: absolute;
    left: -99999px;
}

.mediaSelectorModal .mediaSelectorYoutubeBody .youTubeAttributes input[type=checkbox]:not(:checked) ~ label:after,
.mediaSelectorModal .mediaSelectorAMSVideoPreview .mediaSelectorAMSVideoPreviewAttributes input[type=checkbox]:not(:checked) ~ label:after {
        opacity: 0;
    transform: scale(0);
}

.mediaSelectorModal .mediaSelectorYoutubeBody .youTubeAttributes label,
.mediaSelectorModal .mediaSelectorAMSVideoPreview .mediaSelectorAMSVideoPreviewAttributes label {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
    margin: 10px;
    font-size: 14px;
    color: #333;
}

.mediaSelectorModal .mediaSelectorYoutubeBody .youTubePeriod label {
    vertical-align: middle;
    margin: 10px;
    font-size: 14px;
    color: #333;
    text-align: center;
    padding: 0;
}

.mediaSelectorModal .mediaSelectorYoutubeBody .youTubePeriod input {
    padding-left: 0 !important;
}

.mediaSelectorModal .mediaSelectorYoutubeBody .youTubeAttributes label:before,
.mediaSelectorModal .mediaSelectorAMSVideoPreview .mediaSelectorAMSVideoPreviewAttributes label:before {
    top: 0;
    width: 24px !important;
    height: 24px !important;
    margin-top: 0;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    background-color: white;
    border: 1px solid #999999;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #e7e8e9;
    border-radius: 4px;
    margin-top: 10px;
}

.mediaSelectorModal .mediaSelectorYoutubeBody .youTubeAttributes label:after, 
.mediaSelectorModal .mediaSelectorAMSVideoPreview .mediaSelectorAMSVideoPreviewAttributes label:after{
    right: 4%;
    top: 0;
    width: 22px !important;
    height: 22px !important;
    margin-left: 5px;
    margin-top: 10px;
    content: '✔\fe0e';
    display: block;
    position: absolute;
    left: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    color:#90a7d6;
}

.mediaSelectorModal .row.mediaSelectorError {
    text-align: center;
    background: #f4dcdc;
    margin-bottom: 10px;
    padding: 10px;
    border: solid #f4dcdc 1px;
    border-radius: 0.25em;
    color: #c65252;
    font-size: 14px;
}
.mediaSelectorModal .row.mediaSelectorError div.col-md-12.col-xs-12.col-sm-12.errorText {
    border:0px;
    background: #f4dcdc;
    padding:0;
}

 .mediaSelectorModal .cropperContainer{
     overflow-y:auto !important;
    }

.preventBodyScroll {
    overflow: hidden;
    position:relative;
}

.mediaSelectorModal .modal__table {
    min-width:300px !important;
}

.mediaSelectorModal .cropperContainer {
    text-align:center;
}

.mediaSelectorModal .cropperContainer > div {
    display:inline-block;
    overflow: hidden;
    padding: 3px;
}
 
.mediaSelectorModal .cropperContainer > div >img {
    display:inline-block;
    height:auto;
    width:auto;
    max-width:80vw !important;
}

.mediaSelectorModal .cropperContainer img {
    display: block;
    height: 100%;
    image-orientation: 0deg;
    max-height: none!important;
    max-width: none!important;
    min-height: 0!important;
    min-width: 0!important;
    width: 100%;
}

@media (min-height: 800px) {
    .mediaSelectorModal .cropperContainer >div > img {
       max-height:75vh !important;
       width:auto !important;
    }
}

@media (min-height: 600px) and (max-height: 800px) {
    .mediaSelectorModal .cropperContainer >div > img {
       max-height:55vh !important;
       width:auto !important;
    }
}

@media (min-height: 400px) and (max-height: 600px) {
    .mediaSelectorModal .cropperContainer >div > img {
       max-height:50vh !important;
       width:auto !important;
    }
}

@media (max-height: 400px) {
    .mediaSelectorModal .cropperContainer >div > img {
       max-height:37vh !important;
       width:auto !important;
    }
}

ul.cssload-bokeh {
    margin:0 auto !important;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

.dropzone {
    cursor:pointer;
}



.preventClickBlock, .videoContainer, .videoFrame, .videoEncodingProgress {
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.videoEncodingProgress {
    background-color: white;
    color: #fff;
    text-align: center;
}

.videoEncodingProgress p {
    position: absolute;
    top: 40%;
    width: 100%;
    font-size: 15px;
    color: #333333
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.shareButton {
    display: inline-block;
    width: 46px;
    height: 46px;
    line-height: 46px;
    border-radius: 23px;
    text-align: center;
    color: #fff;
    vertical-align: middle;
}

.shareButton--vk {
    font-size: 25px;
    background-color: #6d89c3;
}

.shareButton--facebook {
    font-size: 20px;
    background-color: #5869a7;
}

.shareButton--twitter {
    font-size: 20px;
    background-color: #71adfc;
}

.shareButton--instagram {
    font-size: 20px;
    background-color: #d46963;
}

.copyLinkField__link {
    border: 1px solid #D5D6D8;
    border-radius: 4px;
    line-height: 27px;
    color: #000;
    padding: 3px 35px 3px 3px;
    vertical-align: central;
    box-sizing: border-box;
    word-wrap: break-word;
}

.copyLinkField__copy {
    position: absolute;
    top: 5px;
    right: 10px;
    display: inline-block;
    color: #333;
    font-size: 18px;
    cursor: pointer;
}

.copyLinkField__copyResult {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: -30px;
    display: inline-block;
    font-size: 12px;
    color: #333;
    font-size: 12px;
    background-color: #909ab7;
    border-radius: 5px;
    padding: 2px 10px;
    color: white;
    display: none;
}

.gridTimeLineStart {
    display: inline-block;
    border: 0;
    padding: 70px 0 70px 121px;
    background-image: url(/Content/themes/base/images/shape.png);
    background-position: 140px 51px;
    background-repeat: no-repeat;
    background-size: 2px 100%;
}

.gridTimeLineStart__createButton {
    cursor: pointer;
    background-image: url('/Content/themes/base/images/create_quiz_circle.png');
    height: 40px;
    width: 40px;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 40px;
    color: transparent;
    margin-right: 5px;
}

.gridTimeLine {
    display: table;
    background-image: url(/Content/themes/base/images/shape.png);
    background-position: 140px 0px;
    background-repeat: no-repeat;
    background-size: 2px 100%;
    margin: 0 10px 0 0;
}

.gridTimeLine_row {
    display: table-row;
}

.gridTimeLine__col {
    display: table-cell;
    color: white;
    vertical-align: middle;
}

.gridTimeLine__col--w100percent {
    width: 100%;
}

.gridTimeLine__colDate {
    min-width: 121px;
}

.gridTimeLine_circle {
    height: 32px;
    width: 32px;
    background-color:rgba(255, 255, 255, 0.3);
    border-radius:50%;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-right: 10px;
    margin-left:4px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.gridTimeLine_circleInner {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.gridTimeLine_circleInner--static {
    background-color: #FFAB00;
    box-shadow: #FFAB00 0 0 2px;
}

.gridTimeLine_circleInner-animation {
    width: 20px;
    height: 20px;
    animation-duration: 0.5s;
    animation-name: inPlaySignal;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.gridTimeLine_circleInner--inPlay {
    background-color: orangered;
    box-shadow: orangered 0 0 2px;
}

.gridTimeLine_circleInner--awaiting {
    background-color: green;
    box-shadow: green 0 0 2px;
}

@keyframes inPlaySignal {
    from {
        width: 6px;
        height: 6px;
    }

    to {
        width: 20px;
        height:20px;
    }
}


.gridData {
    display: table;
    padding: 25px 0 25px 0;
    width: 100%;
}

.gridData__row {
    display: table-row;
}

.gridData__col {
    display: table-cell;
    vertical-align: middle;
}

.gridData__col--hidden {
    display: none !important;
}

.gridData__col--padding {
    padding-right: 20px;
}


.gridData__col--w100percent {
    width: 100%;
}

.gridData__colTime {
    white-space:nowrap;
    text-align:center;
    font-weight:bold;
    line-height:100% !important;
}

.gridData__colTime--en {
    min-width: 80px;
}
.gridData__colTime--ru {
    min-width: 60px;
}

.gridData__colButtons {
    width: 334px;
}

.gridData__buttonsBlock {
    width: 357px;
    text-align: right;
    position: relative;
    white-space: nowrap;
}

.gridData__colConfirm {
    width: 355px;
}

.gridData__confirmBlock {
    width: 355px;
    position: relative;
    text-align: right;
}

.gridData__errorMessageBox,
.gridTimeLine__errorMessageBox {
    color: #FE9191;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-bottom: 46px;
}

.gridData__errorMessageBox--hidden {
    display: none;
}

.gridData__errorMessageBox--border {
    color: #FE9191 !important;
    border: 1px solid #FE9191;
    padding: 5px 10px;
}

.date_weekDay {
    color: #e0dede;
}


.dateTime_date {
    display: none;
    font-weight: bold;
}

.dateTime_splitter {
    display: none;
    font-weight: 300;
}

.searchBlock {
    background-image: url('/Content/themes/base/images/main_rectangle.png');
    padding: 12px;
}

.searchBlock__table {
    display: table;
    position: relative;
    width: 100%;
    color: white;
}

.searchBlock__input {
    text-align: left;
    border: 0px;
    color: #F6F7F8;
    background-color: rgba(0, 0, 0, 0.18);
    border-radius: 4px;
    border: 1px solid rgba(195, 197, 200, 0.18);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 10px 10px 10px 20px;
    font-size: 100%;
}

.searchBlock__closeButton {
    width: 58px;
    height: 34px;
    border: 1px solid rgba(255, 255, 255, 0.16);
    background-image: url('/Content/themes/base/images/lecture_close.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #9EA5B5;
    cursor: pointer;
}

.searchBlock__searchButton {
    width: 58px;
    height: 34px;
    border: 1px solid rgba(255, 255, 255, 0.16);
    background-image: url('/Content/themes/base/images/search_icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #9EA5B5;
    cursor: pointer;
    background-size: 20px;
}

.mainContentLayout .gridTimeLine_row:nth-last-child(-n+4) .dropDownButton__menu {
    bottom: 0;
    margin-bottom: 45px !important;
}
.mainContentLayout .gridTimeLine_row:nth-child(-n+4) .dropDownButton__menu {
    bottom: auto !important;
    margin-bottom: 0px !important;
}

#croppQuizModal .modal__body,
#croppAvatarModal .modal__body {
    max-width: 100%; 
    max-height: 100vh;
}

#croppQuizModal #quiz-image,
#croppAvatarModal #quiz-image {
    max-width: 100%; 
    max-height: 80vh;
}

.div__ErrorMessageBox {
    margin-top:1em;
    float: none;
    padding: 6px 0;
    text-align:center;
    margin-bottom: 10px;
    color: #ff6666;
    border: 1px solid #ff6666;
    padding:0.2em;
}

#cropper-loader {
    position: relative;
    width: 55px;
    display: inline-block;
    display: -o-inline-block;
    display: -ms-inline-block;
    display: -webkit-inline-block;
    display: -moz-inline-block;
    transform: translate(-30%, 15%);
    -o-transform: translate(-30%, 15%);
    -ms-transform: translate(-30%, 15%);
    -webkit-transform: translate(-30%, 15%);
    -moz-transform: translate(-30%, 15%);
}

    #cropper-loader .cropper-circle:nth-child(1),
    #cropper-loader .cropper-circle:nth-child(3) {
        background: #f2b736;
    }

    #cropper-loader .cropper-circle:nth-child(2),
    #cropper-loader .cropper-circle:nth-child(4) {
        background: #499255;
    }

    #cropper-loader .cropper-circle {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: -15px;
        width: 19px;
        height: 19px;
        border-radius: 50%;
        transform: translateX(0) rotate(50deg) scale(0);
        -o-transform: translateX(0) rotate(50deg) scale(0);
        -ms-transform: translateX(0) rotate(50deg) scale(0);
        -webkit-transform: translateX(0) rotate(50deg) scale(0);
        -moz-transform: translateX(0) rotate(50deg) scale(0);
        animation: cropperload-circles 4600ms linear infinite;
        -o-animation: cropperload-circles 4600ms linear infinite;
        -ms-animation: cropperload-circles 4600ms linear infinite;
        -webkit-animation: cropperload-circles 4600ms linear infinite;
        -moz-animation: cropperload-circles 4600ms linear infinite;
    }

    #cropper-loader .cropper-circle:nth-child(1) {
        animation-delay: -1150ms;
        -o-animation-delay: -1150ms;
        -ms-animation-delay: -1150ms;
        -webkit-animation-delay: -1150ms;
        -moz-animation-delay: -1150ms;
    }

    #cropper-loader .cropper-circle:nth-child(2) {
        animation-delay: -2300ms;
        -o-animation-delay: -2300ms;
        -ms-animation-delay: -2300ms;
        -webkit-animation-delay: -2300ms;
        -moz-animation-delay: -2300ms;
    }

    #cropper-loader .cropper-circle:nth-child(3) {
        animation-delay: -3450ms;
        -o-animation-delay: -3450ms;
        -ms-animation-delay: -3450ms;
        -webkit-animation-delay: -3450ms;
        -moz-animation-delay: -3450ms;
    }

    #cropper-loader .cropper-circle:nth-child(4) {
        animation-delay: -4600ms;
        -o-animation-delay: -4600ms;
        -ms-animation-delay: -4600ms;
        -webkit-animation-delay: -4600ms;
        -moz-animation-delay: -4600ms;
    }

@keyframes cropperload-circles {
    50% {
        transform: translateX(35px) rotate(-45deg) scale(1);
    }

    100% {
        transform: translateX(75px) rotate(-45deg) scale(0);
    }
}

@-o-keyframes cropperload-circles {
    50% {
        -o-transform: translateX(35px) rotate(-45deg) scale(1);
    }

    100% {
        -o-transform: translateX(75px) rotate(-45deg) scale(0);
    }
}

@-ms-keyframes cropperload-circles {
    50% {
        -ms-transform: translateX(35px) rotate(-45deg) scale(1);
    }

    100% {
        -ms-transform: translateX(75px) rotate(-45deg) scale(0);
    }
}

@-webkit-keyframes cropperload-circles {
    50% {
        -webkit-transform: translateX(35px) rotate(-45deg) scale(1);
    }

    100% {
        -webkit-transform: translateX(75px) rotate(-45deg) scale(0);
    }
}

@-moz-keyframes cropperload-circles {
    50% {
        -moz-transform: translateX(35px) rotate(-45deg) scale(1);
    }

    100% {
        -moz-transform: translateX(75px) rotate(-45deg) scale(0);
    }
}

#croppAvatarModal .modal__body a {
    display: inline-block;
}

#croppAvatarModal .modal__footer a.disabled {
    pointer-events: none;
    cursor: default;
}

@media screen and (max-width:767px ) {
    .gridTimeLineStart {
        background-position: 19px 0px;
        padding: 20px 0 30px 0;
    }

    .gridTimeLine__colDate {
        display: none;
    }

    .gridTimeLine {
        background-position: 19px 0px;
    }

    .gridTimeLine__colCircle {
        padding-top: 13px;
        vertical-align: top;
    }

    .gridData {
        display: block;
        padding: 18px 0 0 0;
    }

    .gridData__row {
        display: block;
    }

    .gridData__col {
        display: block;
        text-align: left;
        padding: 0px 0px 20px 0px;
    }

    .gridData__col--padding {
        padding-right: 0px;
    }

    .gridData__colButtons {
        padding-top: 20px;
        width: auto;
    }

    .gridData__buttonsBlock {
        width: auto;
        text-align: left;
    }

    .gridData__colConfirm {
        padding-top: 20px;
        width: auto;
    }

    .gridData__confirmBlock {
        width: auto;
        text-align: left;
    }

    .gridData__errorMessageBox,
    .gridTimeLine__errorMessageBox {
        bottom: 0px;
        left: 0px;
        margin-bottom: 50px;
    }

    .searchBlock {
        background: none;
        padding: 0px;
    }

    .searchBlock__input {
        height: 30px;
        background-image: url('/Content/themes/base/images/search_icon_mobile.png');
        background-repeat: no-repeat;
        background-size: 17px;
        background-position: 12px 6px;
        text-indent: 15px;
    }

    .dateTime_date {
        display: initial;
    }

    .dateTime_splitter {
        display: initial;
    }

    .shareQuizModal__table .modal__tableCell {
        vertical-align: middle;
    }

    .modal__table {
        width: 90% !important;
        margin: 10px auto;
        min-width: initial !important;
        max-width: initial;
    }

    .modal__tableCell {
        vertical-align: top;
    }

    .modal__body {
        overflow: auto;
    }

    .inlineButton {
        height: 25px;
        width: 40px;
        border: none;
        background-size: 12px 13px;
        line-height: 24px;
        margin-top: 0;
    }

    .mainContentLayout {
        margin: 10px 10px 60px 10px;
    }

    .dropDownButton__button {
        padding: 0px 10px;
    }

    .dropDownButton__menu[data-is-admin-view="true"] {
        right: -178px;
    }

    .croppQuizModal__table,
    .croppAvatarModal__table {
        max-width:550px;
        min-width:550px;
    }

    .croppQuizModal__buttonPlaceholder,
    .croppAvatarModal__buttonPlaceholder {
        white-space:nowrap;
        display: inline-block;
        text-align: right;
        width: 100%;
    }

        .croppQuizModal__buttonPlaceholder .btn--cropp-submit,
        .croppQuizModal__buttonPlaceholder .btn--cropp-cancel,
        .croppQuizModal__buttonPlaceholder .btn--cropp-browse,
        .croppAvatarModal__buttonPlaceholder .btn--cropp-cancel,
        .croppAvatarModal__buttonPlaceholder .btn--cropp-submit,
        .croppAvatarModal__buttonPlaceholder .btn--cropp-browse {
            padding: 5px 15px;
            display: inline-block;
        }

    #croppQuizModal .modal__footer {
        padding-top: 0;
    }
}

@media screen and (max-width: 767px)and (orientation: landscape) {
    .modal__body {
        max-height: 55vh;
    }
}

@media screen and (max-width: 767px)and (orientation: portrait) {
    
    #croppAvatarModal .modal__body {
        max-height: 100vh;
    }

    .modal__body {
        max-height: 55vh;
    }
}

#quizPrizeModal .modal__table {
    min-width:550px;
}

.quiz__imageBlock div.frameContainer {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.quiz__imageBlock div.frameContainer iframe,
.QuizInfo__ImageBlock .frameContainer .azuremediaplayer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.TimeSelector {
}

.TimeSelector__Elements {
    display: flex;
    flex-flow: row;
}

.TimeSelector__Item {
    display: flex;
    align-items: center;
}
.TimeSelector__Item--ampm {
    margin-left:8px;
}

.TimeSelector__Divider {
    padding-left:3px;
    padding-right:3px;
}
.webkit-text-size-adjust-100 {
    -webkit-text-size-adjust:100%;
}


.spinnerFloatingBarsG {
    position: relative;
    width: 60px;
    height: 75px;
    margin: 5% auto;
    
}

.spinnerFloatingBarsG .blockG {
    position: absolute;
    background-color: rgb(255,255,255);
    width: 10px;
    height: 23px;
    border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
    -ms-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    transform: scale(0.4);
    -o-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    animation-name: fadeG;
    -o-animation-name: fadeG;
    -ms-animation-name: fadeG;
    -webkit-animation-name: fadeG;
    -moz-animation-name: fadeG;
    animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    -ms-animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
}

.spinnerFloatingBarsG #rotateG_01 {
    left: 0;
    top: 27px;
    animation-delay: 0.45s;
    -o-animation-delay: 0.45s;
    -ms-animation-delay: 0.45s;
    -webkit-animation-delay: 0.45s;
    -moz-animation-delay: 0.45s;
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}

.spinnerFloatingBarsG #rotateG_02 {
    left: 8px;
    top: 10px;
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

.spinnerFloatingBarsG #rotateG_03 {
    left: 25px;
    top: 3px;
    animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

.spinnerFloatingBarsG #rotateG_04 {
    right: 8px;
    top: 10px;
    animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

.spinnerFloatingBarsG #rotateG_05 {
    right: 0;
    top: 27px;
    animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    -ms-animation-delay: 1.05s;
    -webkit-animation-delay: 1.05s;
    -moz-animation-delay: 1.05s;
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

.spinnerFloatingBarsG #rotateG_06 {
    right: 8px;
    bottom: 7px;
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
}

.spinnerFloatingBarsG #rotateG_07 {
    bottom: 0;
    left: 25px;
    animation-delay: 1.35s;
    -o-animation-delay: 1.35s;
    -ms-animation-delay: 1.35s;
    -webkit-animation-delay: 1.35s;
    -moz-animation-delay: 1.35s;
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

.spinnerFloatingBarsG #rotateG_08 {
    left: 8px;
    bottom: 7px;
    animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
}


@keyframes fadeG {
    0% {
        background-color: rgb(0,0,0);
    }

    100% {
        background-color: rgb(255,255,255);
    }
}

@-o-keyframes fadeG {
    0% {
        background-color: rgb(0,0,0);
    }

    100% {
        background-color: rgb(255,255,255);
    }
}

@-ms-keyframes fadeG {
    0% {
        background-color: rgb(0,0,0);
    }

    100% {
        background-color: rgb(255,255,255);
    }
}

@-webkit-keyframes fadeG {
    0% {
        background-color: rgb(0,0,0);
    }

    100% {
        background-color: rgb(255,255,255);
    }
}

@-moz-keyframes fadeG {
    0% {
        background-color: rgb(0,0,0);
    }

    100% {
        background-color: rgb(255,255,255);
    }
}