﻿.question-dialog {
    width: 420px !important;
}

.question-dialog .ui-button {
    width: 100px !important;
    height: 33px !important;
}

.question-dialog .ui-button .ui-button-text {
    display: inline;
}