﻿table.mobile-game {
    display: none;
}

#question-info-container-answers-container input[type="checkbox"]:checked + label #number-answer,
#question-info-container-answers-container input[type="checkbox"] + label.is-correct,
#question-info-container-answers-container input[type="checkbox"] + label.is-correct #number-answer {
    border-color: rgba(255, 255, 255, 0.72) !important;
}

.is-correct {
    background-color: #87C97F !important;
}

.is-wrong {
    background-color: #C65252 !important;
}

.disabled {
    opacity: 0.4;
}

#question-info-container li {
    color: white;
    margin-bottom: 0px;
    padding: 5px 10px;
    background-size: cover;
}

    #question-info-container li label {
        background-color: rgba(0, 0, 0, 0.13);
        border-radius: 5px;
        border: 3px solid;
        border-color: transparent;
        width: 100%;
        min-height: 55px;
    }

    #question-info-container li:last-child {
        margin-bottom: 0px;
    }

    #question-info-container li .posrel.answerSecondCol {
        padding: 8px 8px 8px 60px;
        font-size: 24px !important;
    }

.absCheck {
    display: none !important;
}

.answeredUser:first-child {
    display: block;
}

.answeredUser {
    display: block;
    clear: left;
    position: relative;
}

    .answeredUser .answered-user-photo-container {
        top: -23px;
        position: relative;
        width: 130px;
        height: 143px;
        background-size: cover;
        background-image: url('/Images/Participant Photo.png');
        float: left;
        z-index: 100;
    }

        .answeredUser .answered-user-photo-container .the-photo {
            width: auto;
            height: auto;
            border: none;
            position: absolute;
        }

    .answeredUser .user-name-container {
        float: left;
        width: 220px;
        height: 90px;
        text-align: center;
    }

        .answeredUser .user-name-container .title {
            margin-top: 10px;
            color: #5FA7B9;
        }

        .answeredUser .user-name-container .user-name {
            margin-top: 10px;
            text-transform: uppercase;
            color: #DEE7E9;
        }

.black-line .centered {
    position: relative;
    min-height: 90px;
}

.topPlayersContainer {
    /*height:244px;*/
}

.black-line {
    position: relative;
    background: url('/Images/Question BG.png') !important;
    display: table;
    width: 100%;
    padding: 0px;
}

.top-line {
    height: 81px;
    color: #D7D9DA;
}

    .top-line .logo {
        height: 100%;
        width: 81px;
        float: left;
    }

    .top-line .theme {
        height: 100%;
        float: left;
        line-height: 81px;
        max-width: 27%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .top-line .go-to {
        height: 100%;
        float: left;
        line-height: 81px;
        margin-left: 20px;
    }

    .top-line .game-code {
        height: 100%;
        float: left;
        line-height: 81px;
        color: #A8CFE4;
        margin-left: 20px;
    }

    .top-line .exit {
        height: 54px;
        width: 54px;
        float: right;
        line-height: 81px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url(/Images/exit-start.png);
        margin-top: 15px;
        margin-right: 15px;
        cursor: pointer;
    }
    .top-line .moderation {
        height: 54px;
        width: 54px;
        float: right;
        line-height: 81px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url(/Images/moderation-icon.png);
        margin-top: 15px;
        margin-right: 15px;
        cursor: pointer;
    }
    .top-line .start {
        height: 54px;
        width: 54px;
        float: right;
        line-height: 81px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url(/Images/StartGame.png);
        margin-top: 15px;
        margin-right: 15px;
        cursor: pointer;
    }

    .top-line .questions-count {
        height: 100%;
        float: right;
        line-height: 81px;
        margin-left: 20px;
    }

.wrapper {
    border: 0;
    padding: 0px;
    max-width: 1200px;
}

.current-game {
    max-width: 1200px !important;
}

#currentQuestion-info-container {
    display: table;
    width: 100%;
}

.current-game-body {
    display: table-cell;
    vertical-align: top;
    width: 50%;
}

.Individuals-top-list-item {
    width: 100% !important;
}

.leaderboard-individual-item-container, .leaderboard-individual-item-center-block {
    display: block !important;
}

.current-game-body .the-photo {
    margin: 0px;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    top: 10px;
    width: auto !important;
    height: auto !important;
}

.photo-container {
    position: relative;
    width: 165px;
    height: 165px;
    background-size: cover;
    background-image: url('/Images/Leader BG.png');
}

    .photo-container .leaderboard-individual-item-score {
        width: 64px;
        height: 64px;
        padding: 0px;
        line-height: 64px;
        color: #4C6F9A;
        background-size: cover;
        font-weight: bold;
        background: url('/Images/Leaderboard score BG.png');
        position: absolute;
        right: -16px;
        bottom: 12px;
    }

    .photo-container .the-photo {
        width: 122px;
        height: 122px;
        border: none;
        position: absolute;
        left: 22px;
        top: 22px;
    }

.Individuals-top-list-container table {
    width: 100%;
}

    .Individuals-top-list-container table .top-5-name {
        text-transform: uppercase;
        font-weight: bold;
        color: #DEE7E9;
    }

.current-game-body .Photobg {
    border-radius: 10px;
    background-size: cover;
    background-image: url('/Images/Question Picture BG.png');
    width: 70%;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0px;
    float: right;
}

#currentQuestion-info-container #question-info-container {
    display: table-cell;
    vertical-align: top;
    padding: 0px;
}

#question-info-container li {
    color: white;
    margin-bottom: 15px;
    padding: 5px 10px;
    /*background-image:url("/Images/Answer BG.png");*/
}

    #question-info-container li:last-child {
        margin-bottom: 0px;
    }

    #question-info-container li label {
        min-height: 44px;
    }

    #question-info-container li .posrel.answerSecondCol {
        padding: 8px 8px 8px 60px;
        font-size: 24px !important;
    }

    #question-info-container li img {
        vertical-align: middle;
    }

.centered .timer {
    padding: 0px;
}

.Individuals-top-list-title-container h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #DEE7E9;
}

.homepage {
    padding: 50px 0px !important;
}

    .homepage.homepage-question, .current-game-body.clearfix {
        background: transparent !important;
    }

.timer .the-time {
    font-size: 40px !important;
    line-height: 110px;
    text-align: center;
    position: absolute;
    left: 0px;
    top: -10px;
    width: 110px;
    height: 110px;
    padding: 0px !important;
    color: #505C6C !important;
    display: table-cell !important;
    vertical-align: middle;
    background: url('/Images/ReportIcon.png') center center no-repeat !important;
}

.timer {
    height: 100%;
    display: table;
}

html, body {
    height: 100%;
    background-size: cover;
    background-image: url(/Images/BG.png);
    font-weight: bold;
    overflow: hidden;
}

.the-time-text {
    width: auto !important;
    padding-left: 150px;
    height: 100%;
    display: table-cell !important;
    vertical-align: middle;
}

.black-line .timer h4 {
    font-size: 25px;
    padding: 32px 0 10px 0;
    color: white;
    font-weight: bold;
    min-width: 360px;
}
.black-line .timer h2 {
    color: white;
}


.black-line .timer h4.with-author {
    padding-top:20px;
}


.leaderboard-individual-item-score {
    float: right;
}

.logo .the-photo {
    border-radius: 0px;
    border: none;
    width: 56px;
    height: 56px;
    margin: 15px;
}

.answer-user-container {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 90px;
    width: 350px;
}

.homepage.homepage-question > div {
    max-width: 90%;
    height: 100%;
    padding: 0px;
}

    .homepage.homepage-question > div > div {
        width: 100%;
    }

    .homepage.homepage-question, .homepage.homepage-question > div > div {
        height: 100%;
    }

table table td {
    overflow: hidden;
    color: white;
    font-size: 25px;
    /*width: 50%;*/
    width: 45%;
    line-height: 33px;
}

table table .the-photo {
    height: auto;
    width: auto;
    margin: auto;
    /*padding: 10px;
    background-image: url('/Images/Question Picture BG.png');
    background-size: 100% 100%;
    border-radius: 6px;*/
    border: none;
    padding-right: 20px;
}

#tblStartGame .footer-url {
    background: url(/Images/go-to.png)0px 10px no-repeat; /*text-transform: uppercase;*/
    line-height: 90px;
    height: 100px;
    vertical-align: middle;
    display: inline-block;
    color: white;
    padding: 0 10px 0 113px;
    font-size: 65px;
    font-weight: bold;
}

#tblStartGame .footer-game-code {
    color: white;
    line-height: 90px;
    font-size: 50px;
    background-size: 100% 100%;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    display: inline-block;
    background-image: url(/Images/Code1Bar.png);
}

#tblStartGame .powered-by {
    color: #5FA7B9;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

#tblStartGame .quiz-back {
    display: none;
}

#tblStartGame .quiz-start {
    display: none;
}

footer {
    display: none !important;
}

#warningWrapSpeaker {
    position: relative;
    top: 35px;
    text-align: center;
}

#warningWrap {
    position: relative;
    top: 15px;
    z-index: 1;
}

#connectionSpeed {
    background: #cd6368;
    color: #FFFFFF;
    padding: 20px 35px 20px 80px;
    border-radius: 15px;
    display: none;
    z-index: 1;
    background-image: url('/Images/internet-notification.png');
    background-repeat: no-repeat;
    background-size: 45px;
    background-position: 10px center;
    margin: 0 auto;
    width: auto;
}

#connectionOffline {
    background: #cd6368;
    color: #FFFFFF;
    padding: 20px 35px 20px 80px;
    border-radius: 15px;
    display: none;
    z-index: 1;
    background-image: url('/Images/internet-notification.png');
    background-repeat: no-repeat;
    background-size: 45px;
    background-position: 10px center;
    margin: 0 auto;
    width: auto;
}

.show {
    display: inline-block !important;
}

.hide {
    display: none;
}

#lnkShowMore {
    text-decoration: underline;
    padding-left: 5px;
}

    #lnkShowMore:hover {
        text-decoration: underline;
        cursor: pointer;
    }

#connectionSpeedDescriptionWrap {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

#connectionSpeedDescription {
    position: absolute;
    width: 35%;
    height: 60%;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

    #connectionSpeedDescription #descriptionImage {
        height: 60%;
        width: 100%;
        background-image: url('/Images/Popup-Header-New.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

        #connectionSpeedDescription #descriptionImage #wifi-icon {
            display: block;
            background-image: url('/Images/wifiicon.png');
            background-repeat: no-repeat;
            background-size: 58px;
            background-position: center 160px;
            width: 100%;
            height: 100%;
        }

        #connectionSpeedDescription #descriptionImage #close-icon {
            background-image: url('/Images/cross.png');
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            float: right;
            margin: 20px;
        }

            #connectionSpeedDescription #descriptionImage #close-icon:hover {
                cursor: pointer;
            }

    #connectionSpeedDescription #descriptionText {
        height: auto;
        width: 100%;
        background: #FFFFFF;
        text-align: center;
        font-size: 18px;
        padding-bottom: 30px;
    }

        #connectionSpeedDescription #descriptionText p {
            margin: 0 auto;
            padding: 30px;
            line-height: 25px;
            font-weight: normal;
        }

        #connectionSpeedDescription #descriptionText input {
            background: #6887b6;
            padding: 10px 50px;
            color: #FFFFFF;
            border: 0;
            border-radius: 5px;
            font-size: 18px;
        }

.show-popup {
    opacity: 1 !important;
    z-index: 3 !important;
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.hideContent {
    opacity: 0;
    transition: all .2s ease-in-out;
}

.blur-filter {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

.top-line h1 {
    position: absolute;
    top: 35px;
    left: 25px;
}
    
@media screen and (min-width: 768px) and (max-height: 800px) {
    html {
        zoom: 0.75;
        -ms-zoom: 0.75;
        -webkit-zoom: 0.75;

    }
}