﻿.prizePlaceSendEmail__Block {
    margin:20px 20px 0px 20px;
    color: #DDDFE5;
    text-align: center;
    line-height: 24px;
    font-weight: normal;
    font-size: 16px;


}

.prizePlaceSendEmail__Form {
    margin-top:40px;
}

.prizePlaceSendEmail__Field {
    width:100%;
    max-width:400px;
    margin-bottom:20px;
    display:inline-block;
    text-align:left;
}

.prizePlaceSendEmail__Field > span.field-validation-error {
    display:inline-block;
    position:initial;
}
.prizePlaceSendEmail__SuccessResult {
    display:inline-block;
    border:solid 1px #fff;
    border-radius:4px;
    color:white;
    padding:22px 66px 22px 22px;
    position:relative;
    text-align:left;
    margin-bottom: 20px;
}

.successResult__SuccessSign {
    padding-right:22px;
}

.successResult__CloseButton {
    top:22px;
    right:22px;
    position:absolute;
        color:#fff;
}

@media screen and (max-width:767px) {
    .prizePlaceSendEmail__SuccessResult {
        padding:11px 33px 11px 11px;
        position:relative;
    }

    .successResult__SuccessSign {
        padding-right:11px;
    }

    .successResult__CloseButton {
        top:11px;
        right:11px;
        position:absolute;
        font-size:12px;
    }
}