﻿.top-list table {
    display: table !important;
}

body .leader-container {
    padding-left: 0px;
    margin-left: 10px;
    display: inline-block;
    width: 100%;
}

body .photo-container .the-photo {
    width: auto;
    height: auto;
    border: none;
    position: absolute;
    left: 15%;
    top: 15%;
    right: 15%;
    bottom: 15%;
}

#top-list {
    width: 100%;
    color: white;
    padding-top: 20px;
}

    #top-list .separator {
        background-color: rgba(145,152,183,0.52);
        height: 60px;
    }

    #top-list #left-container {
        width: 50%;
    }

    #top-list > div {
        float: left;
        width: 50%;
    }

    #top-list table {
        width: 100%;
        position: relative;
    }

        #top-list table tr {
            height: 60px;
        }

            #top-list table tr td:first-child {
                font-size: 40px;
                text-align: right !important;
                text-align: center;
                color: white;
                width: 60px;
                padding-right: 10px;
                vertical-align: middle;
            }

            #top-list table tr .max-width {
                width: 70px !important;
            }

            #top-list table tr td:last-child {
                vertical-align: middle;
                text-align: center;
                padding-right: 25px;
                text-transform: uppercase;
            }

            #top-list table tr td:not(:first-child):not(:last-child) {
                width: 120px;
                position: relative;
            }

            #top-list table tr td .photo-container {
                position: absolute;
                width: 105px;
                height: 105px;
                left: 0px;
                top: -20px;
            }

        #top-list table.first tr td .photo-container {
            background-position: 2px 2px;
            background-image: url(/Images/first-place-photo-frame.png);
        }

        #top-list table.second tr td .photo-container {
            background-image: url(/Images/second-place-photo-frame.png);
        }

        #top-list table tr td:last-child > div {
            height: 70%;
            width: auto !important;
            position: absolute;
            right: 20px;
            left: 100px;
            top: 14%;
            border-radius: 4px;
            background: rgba(0, 0, 0, 0.14);
            border: 1px solid rgba(255, 255, 255, 0.3);
        }

        #top-list table.first tr td:last-child > div {
            background: rgba(0, 0, 0, 0.14);
            border: 1px solid #FAAF32;
        }

        #top-list table.second tr td:last-child > div {
            background: rgba(0, 0, 0, 0.14);
            border: 1px solid #F7F7F8;
        }

#profile-widget-profile-link {
    background-color: #354A5E;
}

body {
    font-weight: bold;
}

.photo-container {
    position: relative;
    z-index: 10;
    width: 130px;
    height: 130px;
    background-size: cover;
    background-image: url('/Images/Leader BG.png');
}

    .photo-container .leaderboard-individual-item-score {
        width: 50px;
        height: 50px;
        padding: 0px;
        line-height: 50px;
        color: #4C6F9A;
        background-size: 100% 100%;
        font-weight: bold;
        background-image: url('/Images/Leaderboard score BG.png');
        position: absolute;
        right: -16px;
        bottom: 12px !important;
        top: auto !important;
        background-color: transparent;
    }

    .photo-container .the-photo {
        width: 100px;
        height: 100px;
        border: none;
        position: absolute;
        left: 16px;
        top: 16px;
    }

.Individuals-top-list-container {
    display: table;
}

.Individuals-top-list-title-container h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #DEE7E9;
}