﻿#top-menu-container {
    display: none;
}

#menu-container ul #login-text a {
    padding: 0 15px;
}

#menu-container a {
    color: #ffffff;
}

#menu-container {
    color: white;
    font-size: 100%;
    height: 60px;
}

    #menu-container ul {
        text-align: left;
    }

    #menu-container li {
        font-weight: bold;
        cursor: pointer;
        display: inline-block;
        /*padding: 0 50px 0 50px;*/
        vertical-align: middle;
        line-height: 60px;
        height: 60px;
    }

    #menu-container #user-count {
        padding: 0 10px 0 15px;
    }

    #menu-container ul #home a {
        background-image: url('/Images/menu-icons/24/main-not-selected.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position-x: center;
    }

    #menu-container ul #home.active a {
        background-image: url('/Images/menu-icons/24/main.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position-x: center;
    }

    #menu-container ul #current-question a {
        background-image: url('/Images/menu-icons/24/game-not-selected.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position-x: center;
    }

    #menu-container ul #current-question.active a {
        background-image: url('/Images/menu-icons/24/game.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position-x: center;
    }


    #menu-container ul #current-question-owner a {
        background-image: url('/Content/themes/base/images/started-game-inactive.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position-x: center;
    }

    #menu-container ul #current-question-owner.active a {
        background-image: url('/Content/themes/base/images/started-game.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position-x: center;
    }


    #menu-container ul #leaderboard a {
        background-image: url('/Images/menu-icons/24/leaderboard-not-selected.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position-x: center;
    }

    #menu-container ul #leaderboard.active a {
        background-image: url('/Images/menu-icons/24/leaderboard.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position-x: center;
    }

    #menu-container ul #lectures a {
        background-image: url('/Images/menu-icons/24/my-quiz-not-selected.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position-x: center;
    }

    #menu-container ul #lectures.active a {
        background-image: url('/Images/menu-icons/24/my-quiz.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position-x: center;
    }

    #menu-container ul #archive a {
        background-image: url('/Images/menu-icons/24/archive-not-selected.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position-x: center;
    }

    #menu-container ul #archive.active a {
        background-image: url('/Images/menu-icons/24/archive.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position-x: center;
    }

    #menu-container ul #profile a {
        background-image: url('/Images/menu-icons/24/my-profile-not-selected.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position-x: center;
    }

    #menu-container ul #profile.active a {
        background-image: url('/Images/menu-icons/24/my-profile.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position-x: center;
    }

    #menu-container ul #game-profile a {
        background-image: url('/Images/menu-icons/24/my-profile-not-selected.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position-x: center;
    }

    #menu-container ul #game-profile.active a {
        background-image: url('/Images/menu-icons/24/my-profile.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position-x: center;
    }

    #menu-container li.active {
        background-image: url('/Images/menu-icons/selected-page-bg.png');
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: cover;
    }

    #menu-container li a {
        color: #9ea5bd;
        font-weight: normal;
        display: block;
        box-sizing: border-box;
        background-position: center 10px;
        background-repeat: no-repeat;
        transition: .2s;
        font-weight: normal;
    }

    #menu-container li.active a {
        /*color: #DDA736;*/
        color: #FFFFFF;
    }

#profile {
    /*float: right;*/
}

#logoutForm a {
    padding-top: 45px;
    vertical-align: -webkit-baseline-middle !important;
    vertical-align: middle;
}

#menu-container ul #adminUsers a {
    background-image: url('/Content/themes/base/images/admin-users.png');
    background-repeat: no-repeat;
    padding: 15px;
    background-position-x: center;
}

#menu-container ul #adminUsers.active a {
}

#menu-container ul #adminQuizes a {
    background-image: url('/Content/themes/base/images/admin-quizzes.png');
    background-repeat: no-repeat;
    padding: 15px;
    background-position-x: center;
}

#menu-container ul #adminQuizes.active a {
}

#menu-container ul #adminStartedQuizes a {
    background-image: url('/Content/themes/base/images/admin-started-quizzes.png');
    background-repeat: no-repeat;
    padding: 15px;
    background-position-x: center;
}

#menu-container ul #adminStartedQuizes.active a {
}

#menu-container ul #catalogOfQuizzes a {
        background-image: url('/Images/menu-icons/24/catalog-of-quizzes-not-selected.png');
        background-repeat: no-repeat;
        padding: 15px;
        padding-left: 10px;
        background-position-x: center;
    }

    #menu-container ul #catalogOfQuizzes.active a {
        background-image: url('/Images/menu-icons/24/catalog-of-quizzes.png');
        background-repeat: no-repeat;
        padding: 15px;
        padding-left: 10px;
        background-position-x: center;
    }