﻿#desktop-timer.black-line .centered {
    position: relative;
    min-height: 90px;
}

.black-line {
    position: relative;
    background: url('/Images/Question BG.png');
    display: table;
    width: 100%;
    padding: 0px;
}

    .black-line .timer h4 {
        font-size: 25px;
        padding: 32px 0 32px 0;
        color: white;
        font-weight: 300;
        min-width: 200px;
        text-align: left;
    }

.timer .the-time {
    font-size: 40px !important;
    line-height: 110px;
    text-align: center;
    position: absolute;
    left: 0px;
    top: -10px;
    width: 110px;
    height: 110px;
    padding: 0px !important;
    color: #505C6C !important;
    display: table-cell !important;
    vertical-align: middle;
    background: url('/Images/Timer.png') center center no-repeat !important;
}

.timer {
    height: 100%;
    display: table;
}

.the-time-text {
    padding-left: 110px;
    width: auto !important;
    height: 100%;
    display: table-cell !important;
    vertical-align: middle;
}

#sub-menu-container {
    display: none;
}

#mobile-timer {
    background: url("/Images/progress-bar-bg.png") !important;
}

    #mobile-timer .centered {
        height: 30px;
        width: 100%;
    }

    #mobile-timer .timer {
        width: 100%;
    }

#time-left-progress-container {
    width: 50%;
    height: 100%;
}

#mobile-timer #time-left-progress-bar {
    background-image: url("/Images/progress-bar-shape-transparent.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    width: 80%;
    height: 100%;
    position: relative;
}

#mobile-timer .the-time {
    background: none !important;
}

#progressBar {
    width: 400px;
    height: 22px;
    border: 1px solid #111;
    background-color: #292929;
}

    #progressBar div {
        height: 100%;
        color: #fff;
        text-align: right;
        line-height: 22px; /* same as #progressBar height if we want text middle aligned */
        width: 0;
        background-color: #0099ff;
    }

#time-left-progress-bar .blue-loader {
    background: rgba(250,250,250,1) !important;
    background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(8,90,190,0.5) 100%) !important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,250,250,1)), color-stop(100%, rgba(8,90,190,0.5))) !important;
    background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(8,90,190,0.5) 100%) !important;
    background: -o-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(8,90,190,0.5) 100%) !important;
    background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(8,90,190,0.5) 100%) !important;
    background: linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgba(8,90,190,0.5) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#085abe', GradientType=0 ) !important;
    width: 0%;
    height: 6px;
    position: absolute;
    margin-top: 12px;
    /*margin-left: 6px;*/
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 1px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 1px 0px rgba(255,255,255,1);
}

#time-left-progress-bar .yellow-loader {
    background: rgba(245,246,177,1) !important;
    background: -moz-linear-gradient(top, rgba(245,246,177,1) 0%, rgba(239,167,35,1) 100%) !important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,246,177,1)), color-stop(100%, rgba(239,167,35,1))) !important;
    background: -webkit-linear-gradient(top, rgba(245,246,177,1) 0%, rgba(239,167,35,1) 100%) !important;
    background: -o-linear-gradient(top, rgba(245,246,177,1) 0%, rgba(239,167,35,1) 100%) !important;
    background: -ms-linear-gradient(top, rgba(245,246,177,1) 0%, rgba(239,167,35,1) 100%) !important;
    background: linear-gradient(to bottom, rgba(245,246,177,1) 0%, rgba(239,167,35,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6b1', endColorstr='#efa723', GradientType=0 ) !important;
    width: 0%;
    height: 6px;
    position: absolute;
    margin-top: 12px;
    /*margin-left: 6px;*/
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 1px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 1px 0px rgba(255,255,255,1);
}

#mobile-timer {
    display: none;
}

    #mobile-timer .timer .the-time {
        font-size: 11px !important;
        line-height: 50px;
        text-align: right;
        position: absolute;
        left: -5px;
        right: 0;
        top: -10px;
        width: 100%;
        padding: 0px !important;
        color: #b9c1d7 !important;
        display: table-cell !important;
        vertical-align: middle;
        height: 44px;
    }

        #mobile-timer .timer .the-time i {
            color: #b9c1d7 !important;
            font-size: 10px !important;
        }

#mobile-time-left {
    width: 50%;
}

#mobile-time-left span {
    font-size: 11px !important;
    line-height: 50px;
    text-align: left;
    position: absolute;
    right: 0;
    top: -10px;
    padding: 0px !important;
    color: #b9c1d7 !important;
    display: table-cell !important;
    vertical-align: middle;
    margin-right: 25px;
}

#mobile-time-left span i {
    margin-left: 40px;
    margin-top: 10px;
    font-size: 11px !important;
}