﻿#profile-widget-profile-link
{
    background-color: #354A5E;
}
.homepage
{
    padding-bottom:10px;
}
.time-left
{
    float:left;
    color:#8DCDEB;
    margin-top:10px;
    margin-bottom:10px;
    font-weight: bold;
}
.questions-count
{
    float:right;
    color:#8DCDEB;
    margin-top:10px;
    margin-bottom:10px;
    font-weight: bold;
}
.questions-count-container
{
    max-width: 1120px !important;
}
#question-info-container
{
    width:50%;
    float:left;
    padding:0px;
    font-weight: bold;
    margin-bottom: 94px;
}
body .current-game-body
{
    width: 40%;
    float: right;
    clear: left;
    height:253px;
    padding:0px !important;
    height: auto;
}
    .current-game-body .Photobg
    {
        border-radius: 10px;
        background-size: cover;
        width: 100%;
        height: auto;
    }
    .current-game-body .the-photo
    {
        margin: auto;
        position:relative;
        padding-bottom:20px;
        padding-right:20px;
    }
#question-info-container li
{
    color: white;
    margin-bottom: 0px;
    padding: 3px 3px 3px 0px;
    background-size: cover;
       
}
    #question-info-container li label
    {
        background-color: rgba(0, 0, 0, 0.13);
        border-radius: 5px;
        border: 3px solid;
        border-color: transparent;
        width: 100%;
        min-height: 55px;
    }
    #question-info-container li:last-child
    {
        margin-bottom: 0px;
    }

    #question-info-container li .posrel.answerSecondCol
    {
        padding: 13px 25px 13px 60px;
        font-size: 24px !important;
        max-width: 97%;
    }
.absCheck
{
    display:none !important;
}
.homepage.homepage-question, .current-game-body.clearfix
{
    background: transparent !important;
    padding: 35px 0 35px 0;
}
.homepage.homepage-question
{
    padding:0px 15px;
}
body
{
    background-size: cover;
    background-image: url(/Images/BG.png);
    font-weight: bold;
}

#question-info-container-answers-container input[type="checkbox"]:checked + label
{
    background-color:#468DAE;
    border-color:rgba(255, 255, 255, 0.72);
}
#answer-button.active
{
    opacity: 1;
    /*background-image: url(/Images/answer-button-pushed.png);*/
}
#question-info-container-answers-container input[type="checkbox"]:checked + label #number-answer,
#question-info-container-answers-container input[type="checkbox"] + label.is-correct,
#question-info-container-answers-container input[type="checkbox"] + label.is-correct #number-answer
{
    border-color:rgba(255, 255, 255, 0.72) !important;
}
.is-correct
{
    background-color:#87C97F !important;
}
.is-wrong
{
    background-color:#C65252 !important;
}
.disabled
{
    opacity:0.4;
}
.leader-container
{
    position:relative;
    display: table-cell;
    padding: 20px 25px;
    vertical-align: top;
}
.leader-container>div
{
    position:relative;
    display:table-row;
    height:130px;
    width:260px;
        
}
.top-5-name > div
{
    height: 50%;
    width: 70% !important;
    position: absolute;
    right: 20px;
    top: 25%;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.14);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.top-5-name
{
    padding: 0px 10px;
    height:100%;
    display: table-cell;
    vertical-align: middle;
    /*text-transform: uppercase;*/
    font-weight: bold;
    color: #DEE7E9;
    text-align: center;
    width: 165px;
    word-wrap: break-word;
}
.photo-container
{
    position: relative;
    z-index: 10;
    width:130px;
    height:130px;
    background-size:cover;
    background-image: url('/Images/Leader BG.png');
}
    .photo-container .leaderboard-individual-item-score
    {
        width: 50px;
        height: 50px;
        padding: 0px;
        line-height: 50px;
        color: #4C6F9A;
        background-size: 100% 100%;
        font-weight: bold;
        background-image: url('/Images/Leaderboard score BG.png');
        background-color:transparent;
        position: absolute;
        right: -16px;
        bottom: 12px !important;
        top:auto !important;
    }
    .photo-container .the-photo
    {
        width: 100px;
        height: 100px;
        border: none;
        position: absolute;
        left: 16px;
        top: 16px;
    }
.Individuals-top-list-container
{
    display:table;
}
.Individuals-top-list-title-container h3
{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #DEE7E9;
}