﻿body {
    background-image: url('/Images/game-bg.png');
}
.answer-user-container:not(:empty) ~ .centered .timer {
    padding-right: 350px;
}

#question-info-container-answers-container input[type="checkbox"]:checked + label #number-answer,
#question-info-container-answers-container input[type="checkbox"] + label.is-correct,
#question-info-container-answers-container input[type="checkbox"] + label.is-correct #number-answer {
    border-color: rgba(255, 255, 255, 0.72) !important;
}

.is-correct {
    background-color: #87C97F !important;
}

.is-wrong {
    background-color: #C65252 !important;
}

.disabled {
    opacity: 0.4;
}

#question-info-container li {
    color: white;
    margin-bottom: 0px;
    padding: 5px 10px;
    background-size: cover;
}

    #question-info-container li:last-child {
        margin-bottom: 0px;
    }

    #question-info-container li img {
        vertical-align: middle;
    }

    #question-info-container li label {
        background-color: rgba(0, 0, 0, 0.13);
        border-radius: 5px;
        border: 3px solid;
        border-color: transparent;
        width: 100%;
        min-height: 44px;
        pointer-events: none;
    }

    #question-info-container li:last-child {
        margin-bottom: 0px;
    }

    #question-info-container li .posrel.answerSecondCol {
        padding: 8px 8px 8px 60px;
        font-size: 24px !important;
    }

.absCheck {
    display: none !important;
}

.answeredUser:first-child {
    display: block;
}

.answeredUser {
    display: block;
    clear: left;
    /*position:relative;*/
    position: absolute;
}

    .answeredUser .answered-user-photo-container {
        top: -23px;
        position: relative;
        width: 130px;
        height: 143px;
        background-size: cover;
        background-image: url('/Images/Participant Photo.png');
        float: left;
        z-index: 100;
    }

        .answeredUser .answered-user-photo-container .the-photo {
            width: 82px;
            height: 82px;
            border: none;
            position: absolute;
            left: 24px;
            top: 23px;
        }

    .answeredUser .user-name-container {
        float: left;
        width: 220px;
        height: 90px;
        text-align: center;
    }

        .answeredUser .user-name-container .title {
            margin-top: 10px;
            color: #5FA7B9;
        }

        .answeredUser .user-name-container .user-name {
            margin-top: 10px;
            /*text-transform: uppercase;*/
            color: #DEE7E9;
        }

#desktop-timer.black-line .centered {
    position: relative;
    min-height: 90px;
}

.topPlayersContainer {
    /*height:244px;*/
}

.black-line {
    position: relative;
    background: url('/Images/Question BG.png');
    display: table;
    width: 100%;
    padding: 0px;
}

.top-line {
    height: 81px;
    color: #D7D9DA;
}

    .top-line .logo {
        height: 100%;
        width: 81px;
        float: left;
    }

    .top-line .theme {
        height: 100%;
        float: left;
        line-height: 81px;
        max-width: 27%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .top-line .go-to {
        height: 100%;
        float: left;
        line-height: 81px;
        margin-left: 20px;
    }

    .top-line .game-code {
        height: 100%;
        float: left;
        line-height: 81px;
        color: #A8CFE4;
        margin-left: 20px;
    }

    .top-line .exit {
        height: 54px;
        width: 54px;
        float: right;
        line-height: 81px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url(/Images/exit-start.png);
        margin-top: 15px;
        margin-right: 15px;
        cursor: pointer;
    }

    .top-line .questions-count {
        height: 100%;
        float: right;
        line-height: 81px;
        margin-left: 20px;
        margin-right: 10px;
    }

.wrapper {
    border: 0;
    padding: 0px;
    max-width: 1200px;
    min-height: 250px;
}

.current-game {
    max-width: 1200px !important;
}

#currentQuestion-info-container {
    display: table;
    width: 100%;
}

.current-game-body {
    display: table-cell;
    vertical-align: top;
    width: 50%;
}

.Individuals-top-list-item {
    width: 100% !important;
}

.leaderboard-individual-item-container, .leaderboard-individual-item-center-block {
    display: block !important;
}

.current-game-body .the-photo {
    margin: 0px;
    margin: auto;
    padding-right: 20px;
}

.photo-container {
    position: relative;
    width: 165px;
    height: 165px;
    background-size: cover;
    background-image: url('/Images/Leader BG.png');
}

    .photo-container .leaderboard-individual-item-score {
        width: 64px;
        height: 64px;
        padding: 0px;
        line-height: 64px;
        color: #4C6F9A;
        background-size: cover;
        font-weight: bold;
        background: url('/Images/Leaderboard score BG.png');
        position: absolute;
        right: -16px;
        bottom: 12px;
    }

    .photo-container .the-photo {
        width: 122px;
        height: 122px;
        border: none;
        position: absolute;
        left: 22px;
        top: 22px;
    }

.Individuals-top-list-container table {
    width: 100%;
}

    .Individuals-top-list-container table .top-5-name {
        text-transform: uppercase;
        font-weight: bold;
        color: #DEE7E9;
    }

.current-game-body .Photobg {
    width: 90%;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0px;
    float: right;
}

#currentQuestion-info-container #question-info-container {
    display: table-cell;
    vertical-align: top;
    padding: 0px;
}


.centered .timer {
    padding: 0px;
}

.Individuals-top-list-title-container h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #DEE7E9;
}

.homepage.homepage-question, .current-game-body.clearfix {
    background: transparent !important;
    padding: 23px 0;
}

.timer .the-time {
    font-size: 40px !important;
    line-height: 110px;
    text-align: center;
    position: absolute;
    left: 0px;
    top: -10px;
    width: 110px;
    height: 110px;
    padding: 0px !important;
    color: #505C6C !important;
    display: table-cell !important;
    vertical-align: middle;
    background: url('/Images/Timer.png') center center no-repeat !important;
    background-size: 100%;
}

.timer {
    height: 100%;
    display: table;
}

body {
    min-height: 100%;
    background-image: url(/Images/BG.png);
    background-size: cover;
}

.the-time-text {
    width: auto !important;
    padding-left: 150px;
    height: 100%;
    display: table-cell !important;
    vertical-align: middle;
}

.black-line .timer h4 {
    font-size: 25px;
    padding: 32px 0 32px 0;
    color: white;
    font-weight: 300;
    min-width: 360px;
}

.leaderboard-individual-item-score {
    float: right;
}

.logo .the-photo {
    border-radius: 0px;
    border: none;
    width: 56px;
    height: 56px;
    margin: 15px;
}

.answer-user-container {
    position: absolute;
    right: 0px;
    top: 81px;
    height: 90px;
    width: 350px;
}

#mobile-photo {
    display: none;
}

#desktop-photo {
    display: table-cell;
}

@media screen and (min-width: 768px) and (max-height: 800px) {
    html {
        zoom: 0.75;
        -ms-zoom: 0.75;
        -webkit-zoom: 0.75;

    }
}