﻿.basicButton--startQuiz {
    min-width:157px;
    text-align:center;
    padding: 0 15px;
}

.basicButton--inviteToQuiz{
    height: 42px;
    width: 42px;
}

.basicButton--editQuiz {
    height: 42px;
    width: 42px;
}

.basicButton--inviteToQuiz {
    background-color: #9EA5B5;
    background-image: url('/Content/themes/base/images/quiz-invite-ico.png') !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}

.basicButton--editQuiz {
    background-color: #9EA5B5;
    background-image: url('/Content/themes/base/images/edit_pencil.png') !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}

.lecturesGridData__colOwner {
    width: 200px;
    max-width: 250px;
}

.lecturesGridData__colTheme,
.testimonialGridData__colTheme {
    min-width: 70px;
    max-width: 350px;
}

@media screen and (max-width: 767px) {

    .lecturesGridData__colTheme {
        line-height: 30px !important;
    }

    .lecturesGridData__colTheme > .quizCodeLabel {
        margin-right: 10px;
    }

        .lecturesGridData__colTheme > .quizCodeLabel.mobile {
            display: inline;
        }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {

    .lecturesGridData__colTheme,
    .testimonialGridData__colTheme {
        min-width: 20px;
        max-width: 60px;
    }
}

.shareQuizModal__table, 
.inviteQuizModal__table,
.croppQuizModal__table
{
    max-width:550px;
    min-width:550px;
}

.testimonialModal__table {
    max-width:750px;
    min-width:750px;
}

.shareQuizModal__linkText,
.inviteQuizModal__linkText {
    padding:15px 0px 5px 0px;
    color:#3c6498;
    line-height:20px;
}

.shareQuizModal__linkBlock,
.inviteQuizModal__linkBlock {
    position:relative;
}


.shareQuizModal__shareBlock, 
.inviteQuizModal__inviteButtonPlaceholder,
.croppQuizModal__buttonPlaceholder {
    text-align:center;
    margin-top:44px;
    white-space:nowrap;
}

.shareQuizModal__shareButtonPlaceholder, 
.inviteQuizModal__inviteButtonPlaceholder,
.croppQuizModal__buttonPlaceholder {
    display: inline-block;
    text-align: center;
    width: 25%;
    max-width: 70px;
}

@media screen and (max-width:767px ) {
    .basicButton--startQuiz {
        min-width:100px;
    }

    .basicButton--rightSpace {
        margin-right: 6px;
    }
}

.quizCodeLabel {
    padding: 5px 5px;
    background-color: #8B90AE;
    border-radius: 4px;
    font-weight: 600;
}

.shareQuizModal__table .navigation-buttons {
    margin: 0;
}

.shareQuizModal__table .navigation-buttons input {
    width: 100px;
    margin: 10px;
    padding: 0;
    font-size: 14px;
    font-family: Open Sans, sans-serif;
    cursor: pointer;
}

.shareQuizModal__table .navigation-buttons .navigation-buttons-ok {
    background: #789acc;
    margin-right: 0;
}

.shareQuizModal__table .navigation-buttons .navigation-buttons-cancel {
    background: #8f9ebc;
}
