﻿.Layout {
    padding:40px 15px;
}


.plansList {
    display:table;
    width:100%;
    margin-bottom:40px
}

.plansList__header {
    display:table-row;
}

.plansList__row {
    display:table-row;
}

.plansList__space {
    height:10px;
}

.plansList__cell {
    display:table-cell;
    padding:25px 15px;
    vertical-align:middle;
}

.plansList__cell--center {
    text-align:center;
}

.plansList__cell--right {
    text-align:right;
}

.plansList__cell--header {
    background-color: rgba(255, 255, 255, 0.36);
    font-size:18px;
    font-weight:bold;
    color:#fff;
}

.plansList__cell--body {
    background-color: rgba(255, 255, 255, 0.2);
    font-size:16px;
    font-weight:bold;
    color:#fff;
}

.plansList__cell--plan-name {
    color:#C6D5F5;
}

.plansList__cell--right-border {
    border-right:1px solid rgba(255, 255, 255, 0.5)
}

.plansList__inlineTitle {
    display:none;
}


@media (max-width: 768px) {
    .plansList{
        display:block;
    }

    .plansList__header {
        display:none;
    }

    .plansList__row {
        display:block;
    }

    .plansList__cell {
        display:block;
        padding:5px 15px;
        border:0px;
    }

    .plansList__cell--action-buttons {
        text-align:left;
    }

    .plansList__cell--max-players {
        text-align:left;
    }
    .plansList__cell--promoEnabled {
        text-align:left;
    }

    .plansList__inlineTitle {
        display:inline;
    }
}