﻿.plansEditLayout {
    padding:70px 15px;
}



.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input[type="checkbox"] {
    opacity: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.18);
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 27px;
        width: 27px;
        left: 2px;
        bottom: 4px;
        background-color: rgba(255, 255, 255, 0.5);
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:after {
        content: attr(data-checked-no);
        position: absolute;
        top: 8px;
        right: 18px;
        font-family: inherit;
        font-size: 100%;
        font-weight: 500;
    }

    

input[type=checkbox]:checked ~ .slider {
    background-color: rgba(255, 255, 255, 0.3);
}

input[type=checkbox]:focus ~ .slider {
    box-shadow: 0 0 1px #2196F3;
}

input[type=checkbox]:checked ~ .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #cbde9d;
    left: 22px;
}

input[type=checkbox]:checked ~ .slider:after {
    content: attr(data-checked-yes);
    position: absolute;
    top: 8px;
    left: 15px;
    font-family: inherit;
    font-size: 100%;
    font-weight: 500;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

    .slider.round:before {
        border-radius: 50%;
    }

.checkbox-switch {
    border: 0;
    top: 5px;
}

.plansEditLayout__col {
}



@media (max-width: 768px) {
}
