﻿#body {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 60px;
    width: 100%;
}

.Layout {
    display: table;
    width: 100%;
    height: 100%;
}

.Layout_row {
    display: table-row;
}

.Layout_cell {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.QuizConnect__NotificationText {
    font-size: 22px;
    line-height: 40px;
    color: white;
    padding: 0 5px;
}

.CountDownTimer {
    white-space: nowrap;
    padding: 20px 0px 40px 0px;
}


.CountDownTimer__Block {
    display: inline-block;
    vertical-align: top;
}

.CountDownTimer__Splitter {
    display: inline-block;
    font-size: 52px;
    color: #E1DEDE;
    padding-top: 10px;
}

.CountDownTimer__Digit {
    display: inline-block;
    font-size: 52px;
    color: #4A5168;
    background-color: #fff;
    padding: 14px;
    border-radius: 5px;
}

    .CountDownTimer__Digit:not(:last-child) {
        margin-right:4px;
    }

.CountDownTimer__Type {
    color: #E1DEDE;
    text-align: center;
    padding-top: 14px;
    font-size: 12px;
}

.QuizInfo {
    max-width: 620px;
    clear: both;
    display: inline-block;
}

.QuizInfo__ImageBlock {
    display: inline-block;
    float: left;
    padding-bottom: 30px;
}


.QuizInfo__TextBlock {
    display: inline-block;
    text-align: left;
    float: right;
    max-width: 380px;
    padding: 0px 20px 30px 20px;
}

.QuizInfo__Image {
    border: 0px;
    max-height: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 5px;
}

.QuizInfo__Theme {
    color: #fff;
    font-size: 22px;
    padding-bottom: 20px;
}

.QuizInfo__Description {
    color: #fff;
    line-height: 20px;
}

.QuizActionBlock {
    padding-top: 40px;
    padding-bottom: 40px;
}

.QuizActionBlock__TextBlock {
    color: #fff;
    font-size: 20px;
    padding: 20px;
}

.QuizActionBlock__ImageBlock {
}

.QuizInfo__ImageBlock div.frameContainer iframe{
    max-width:200px;
}

@media screen and (max-width: 767px) {
    body #body {
        position: inherit;
    }

    .CountDownTimer__Splitter {
        font-size: 26px;
    }

    .CountDownTimer__Digit {
        font-size: 26px;
        padding: 7px;
    }

    .CountDownTimer__Type {
        text-align: center;
        padding-top: 7px;
        font-size: 12px;
    }

    .QuizInfo {
        text-align: center;
        padding-top: 20px;
    }

    .QuizInfo__ImageBlock {
        display: block;
        float: none;
        text-align: center;
    }


    .QuizInfo__TextBlock {
        display: block;
        float: none;
        text-align: center;
        padding: 0px 0px 30px 0px;
    }

    .QuizActionBlock {
        padding-top:0;
    }

    .QuizInfo__ImageBlock div.frameContainer iframe{
        max-width:initial !important;
    }
}
