﻿.progress {
        width: 225px;
    }

    #login-form-container .sign-in-form-footer {
        color: white;
    }

        #login-form-container .sign-in-form-footer a {
            color: #62BAEE;
            height: 100%;
            padding: 0;
        }

        

        #login-form-container .sign-in-form-footer div {
            margin: 20px;
        }

    .logo-container .the-logo {
        margin-left: 30px;
        height: 130px !important;
        width: 130px !important;
        border-radius: 150px;
        background-size: cover;
    }

    #sub-menu-container {
        display: none;
    }

    .logo-container {
        height: 130px;
    }

    .file-input-wrap > div {
        color: #F6F7F8;
        font-size: 20px;
        background-image: url('/Images/pencil-ico.png');
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: left;
        cursor: pointer;
        display: inline-block;
        padding-left: 25px;
        padding-bottom: 2px;
    }

    .sign-in-form-line a {
        font-size: 15px;
        background-color: #3289BC;
        height: auto;
        clear: both;
        border-radius: 4px;
        border: 1px solid #ffffff;
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 11px;
        color: #FFFFFF;
        display: block;
    }

    .sign-in-form-footer a {
        font-size: 15px;
        background-color: transparent;
        background-image: url('/Images/change-passwod-bg.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        clear: both;
        border-radius: 4px;
        border: 1px solid #ffffff;
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 11px;
        color: #FFFFFF !important;
        display: block;
        width: 45%;
        font-size: 20px;
        text-indent: 20px;
        text-align: center;
    }

    .key {
        background-image: url('/Images/key-tool-ico.png');
        background-repeat: no-repeat;
        position: relative;
        padding-top: 0px;
        width: 20px;
        height: 20px;
        margin: 11px 0px -3px -10px;
        display: inline-block;
    }

    #login-form-container .sign-in-form .field-validation-error {
        position: relative;
        text-align: left;
        margin-bottom: 5px;
        top: -5px;
    }

    .sign-in-form form {
        padding: 10px 40px;
    }

    #login-form-container .sign-in-form .input-validation-error {
        color: #DA5F63;
        border: 1px solid #DA5F63 !important;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        top: -3px;
    }

    #Register ~ form {
        padding: 0px 25px;
    }

    #login-form-container .sign-in-form {
        background-color: transparent;
        padding: 25px 0px 0px 0px;
        width: 61%;
        min-width: 377px;
    }

    .sign-in-form-footer {
        color: white;
        padding: 10px 0;
        clear: both;
        text-align: center;
    }

    .sign-in-form-footer div {
        margin: 20px;
    }

    #login-form-container .sign-in-form label {
        color: #F6F7F8;
        float: left;
        margin-bottom: 3px;
        padding: 0 8px 0 0;
    }

    #login-form-container .sign-in-form input,
    #login-form-container .sign-in-form select {
        text-align: left;
        border: 0px;
        color: #F6F7F8;
        background-color: rgba(0, 0, 0, 0.18);
        border-radius: 4px;
        border: 1px solid rgba(195, 197, 200, 0.18);
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        padding: 10px 10px 10px 20px;
        font-size: 100%;
    }
    #login-form-container .sign-in-form select {
        -webkit-appearance: none;
        background-image: url('/Content/themes/base/images/triangle.png');
        background-position:right 10px center;
        background-repeat:no-repeat;
    }
    #login-form-container .sign-in-form select > option {
        background-color: rgba(55, 74, 95, 0.63);
    }

    #sub-menu-container {
        display: none;
    }


    .register-menu {
        color: white;
        background-color: #3289BC;
        -ms-border-radius: 4px;
        border-radius: 4px;
        display: none;
        position: absolute;
        right: 0;
        bottom: 110%;
        min-width: 150px;
        width: 100%;
        z-index: 1000;
    }

    .activated .register-menu {
        display: inline-block;
    }

    .register-menu li a {
        padding: 0 20px !important;
    }

    #btnRegister {
        margin-left: 10px;
        color: white;
        background-color: #3289BC;
        border-radius: 30px;
        padding: 10px 20px;
        display: inline-block;
        margin: 10px;
        position: relative;
        cursor: pointer;
    }

    .or {
        margin-top: -12px;
    }

    .mobile {
        display: none;
    }

    body, html {
        width: 100%;
    }

        html body {
            display: table;
        }

        
    header {
        display: table-row;
    }

    section {
        color: #F6F7F8;
    }

    header {
        height: 60px;
        position: absolute;
        width: 100%;
    }

        header div {
            background-color: transparent;
        }

    #rightPanel {
        vertical-align: middle;
        width: 50%;
        display: table-cell;
    }

        #rightPanel form:not(#Register) {
            position: relative;
        }

            #rightPanel form:not(#Register) div {
                position: absolute;
                left: 25px;
                right: 25px;
                bottom: 100%;
                height: auto !important;
                z-index: 1000;
            }

    #leftPanel {
        width: 35%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: 30px;
    }

        #leftPanel > div > span {
            font-size: 15px;
        }

        #leftPanel .mobile {
            display: block;
        }

    .LoginButton {
        margin-top: 40px;
        cursor: pointer;
    }

    .tow-collumn-left, .tow-collumn-right {
        width: 48%;
    }

    .tow-collumn-left {
        float: left;
    }

    .tow-collumn-right {
        float: right;
    }

    #mobile-profile {
        display: none;
    }

    .sign-in-form-footer table {
        width: 100%;
        height: 100%;
    }

    .product-container {
        border: none;
    }

    .profile-container {
        width: 100%;
        display: block;
        position: absolute;
        top: 60px;
        margin-top: 0px;
        bottom: 0px;
        overflow-x: auto;
    }


    .left-column {
        width: 40% !important;
        padding-top: 115px !important;
    }

    .right-column {
        width: 60%;
    }

    .file-input-wrap {
        text-align: right;
        clear: both;
        padding: 0;
        padding-top: 10px;
    }

    .logo-container {
        float: right;
        margin-right: 50px;
    }

    .profile-container > div {
        display: table;
        height: 100%;
        width: 100%;
        position: relative;
    }

    .profile-container .breadcrumb {
        display: block;
        height: auto;
        padding-top: 12px;
        margin-bottom: -30px;
        z-index: 1;
    }

    #body > form:not(:first-child) {
        width: 100%;
        height: 100%;
    }

    #login-form-container .sign-in-form input:disabled {
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.5);
    }