﻿@model WaveAccess.MyQuiz.WebUI.Models.TopScoresViewModel
@{
    @functions{

        string HelloMessage(int position)
        {
            var user = Model.CurrentUser;
            var result = string.Empty;
            if (user != null)
            {
                var userPosition = 0;
                if (user.Score <= 100)
                {
                    userPosition = 1;
                }
                else if (user.Score >= 155)
                {
                    userPosition = 3;
                }
                else
                {
                    userPosition = 2;
                }
                if (position == userPosition)
                {
                    switch (position)
                    {
                        case 1:
                            {
                                result = "GreenResult";
                                break;
                            };
                        case 2:
                            {
                                result = "OrangeResult";
                                break;
                            };
                        default:
                            {
                                result = "RedResult";
                                break;
                            };
                    }

                }
                else {
                    result = "EmtyResult";
                }
            }
            return result;
        }
    }
    <style>
        .EmtyResult > div {
            opacity:0.3;
        }
        .GreenResult  div {
            background: #a5bd76;
            color: white;
        }

        .OrangeResult div {
            background: #c59864;
            color: white;
        }

        .RedResult  div {
            background: #ab685d;
            color: white;
        }
        body #top-list {
            padding-top: 0px;
                }

        body .Individuals-top-list-title-container h3 {
            margin: 15px 0px;
            padding: 0px;
        }

        .leader-board-item {
            position: relative;
            display: table;
            width: 100%;
            border-radius: 4px;
            border: 1px solid #ddd;
            background-color: rgba(255, 255, 255, 0.1);
        }
        li:first-child .leader-board-item {
            background-color: rgba(255, 255, 255, 0.2);
        }
            .leader-board-item > div {
                vertical-align: middle;
                font-size: 24px;
                font-family: 'Open Sans', sans-serif !important;
                line-height: 120%;
            }

        .leftcolumn {
            border-right: 1px solid #ddd;
            text-align: center;
            width: 125px;
            display: table-cell;
            font-weight: bold;
            padding: 20px 0px;
        }

        .rightcolumn {
            display: table-cell;
            padding: 20px;
        }

        #top-list ul {
            padding: 0px 10px;
        }

            #top-list ul li:first-child {
                padding-bottom: 6px;
            }

            #top-list ul li {
                padding-top: 14px;
            }

        .green-text {
            color: #abd273;
        }

        .orange-text {
            color: #f9ae5d;
        }

        .red-text {
            color: #f06c4f;
        }
    </style>
    <div class="Individuals-top-list-title-container centered desktop">
        @if (Model.CurrentUser!=null)
        {
            <h3>@LocView.getLocalization("YouScore-title"): @Model.CurrentUser.Score</h3>
        }
        else
        {
            <h3>@LocView.getLocalization("leaderboard-title")</h3>
        }
        </div>
    <div id="top-list" class="Individuals-top-list-container centered">
        <ul>
            <li >
                <div class="leader-board-item" style="">
                    <div class="leftcolumn">
                        @LocView.getLocalization("ППН")
                    </div>
                    <div class="rightcolumn">
                        @LocView.getLocalization("stress-levels")
                    </div>

                </div>
            </li>
            <li class="@HelloMessage(1)">
                <div class="leader-board-item" style="">
                    <div class="leftcolumn green-text">
                        @Html.Raw(LocView.getLocalization("&le; 100"))
                    </div>
                    <div class="rightcolumn">
                        @LocView.getLocalization("stress-levels-1")
                    </div>

                </div>
            </li >
            <li class="@HelloMessage(2)">
                <div class="leader-board-item" style="">
                    <div class="leftcolumn orange-text">
                        @Html.Raw(LocView.getLocalization("100 - 154"))
                    </div>
                    <div class="rightcolumn">
                        @LocView.getLocalization("stress-levels-2")
                    </div>

                </div>
            </li>

            <li class="@HelloMessage(3)">
                <div class="leader-board-item" style="">
                    <div class="leftcolumn red-text">
                        @Html.Raw(LocView.getLocalization("&ge; 155"))
                    </div>
                    <div class="rightcolumn">
                        @LocView.getLocalization("stress-levels-3")
                    </div>

                </div>
            </li>

        </ul>
    </div>

}
