﻿@model WaveAccess.MyQuiz.WebUI.Models.TopScoresViewModel

@if (Model.Quiz != null)
{
<div class="top-line" style="height:81px;">
    <div class="logo">@Html.DisplayFor(m => Model.Quiz.Image, "ImageQuiz")</div>
    <div class="theme">@Model.Quiz.Theme</div>
    <div class="exit" onclick="window.location.replace('/Lectures')"></div>
</div>
}
@if (Model.QuizType == WaveAccess.MyQuiz.Model.QuizType.Survey)
{
    @Html.Partial("GamePartials/PartialLeadersBoardListSurvey", Model)
}
else if (Model.Scores.Count > 0)
{
    <div class="Individuals-top-list-title-container centered">
        <h3>@LocView.getLocalization("Top_Players")</h3>
    </div>
    var mm = Model.Scores.Count <= 5 ? "25%" : "0";
    <div id="top-list" class="Individuals-top-list-container centered">
        <div style="margin-left:@mm">
            @for (var i = 0; i < 5; i++)
            {
                bool isEmptyCell = Model.Scores.Count <= i;
                <div class="@(isEmptyCell ? "desktop" : "")">
                    <div style="height: 62px;width:100%;background-color:rgba(105,110,133,0.32);">
                        @if (!isEmptyCell)
                        {
                            @Html.DisplayFor(m => Model.Scores[i])
                        }
                    </div>
                    <div class="separator"></div>
                </div>
            }
        </div>
        @if (Model.Scores.Count > 5)
        {
            <div>
                @for (var i = 5; i < 10; i++)
                {
                    bool isEmptyCell = Model.Scores.Count <= i;
                    <div class="@(isEmptyCell ? "desktop" : "")">
                        <div style="height: 62px;width:100%;background-color:rgba(105,110,133,0.32);">
                            @if (!isEmptyCell)
                            {
                                @Html.DisplayFor(m => Model.Scores[i])
                            }
                        </div>
                        <div class="separator"></div>
                    </div>
                }
            </div>
        }
    </div>

}
else
{
    <h3 class="Individuals-top-list-title-container centered">@LocView.getLocalization("Leaders_have_not_been_determined")</h3>
}