﻿@model WaveAccess.MyQuiz.WebUI.Models.QuizWinnerCodeCongratulationsViewModel
@{
    Model.Email = AuthHelper.GetCurrentUserEmail().Result;

}
<div class="prizePlaceSendEmail__Block">
    <div id="prizePlaceSendEmail__Info">
        <div>
            @Html.Raw(
            String.Format(
                LocView.getLocalization("WinnerCode_Congratulations"),
                Model.Position,
                LocView.getNumberSuffixForPlace(Model.Position)
            )
        )
        </div>
        <div>@Html.Raw(String.Format(LocView.getLocalization("WinnerCode_ToGetPrize"), Model.WinnerCode))</div>
        <div>@LocView.getLocalization("WinnerCode_OrSendToEmail")</div>
        <form id="prizePlaceSendEmail__Form" class="prizePlaceSendEmail__Form">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.WinnerCode)
            @Html.HiddenFor(m => m.Position)
            @Html.HiddenFor(m=>m.ArchiveId)
            <div class="prizePlaceSendEmail__Field">
                @Html.TextBoxFor(m => m.Email, new { @class = "textField", placeholder = "Email" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <a href="#" id="prizePlaceSendEmail__Button" class="basicButton basicButton--save basicButton--small">@LocView.getLocalization("send")</a>
        </form>
    </div>
    <div id="prizePlaceSendEmail__SuccessResult" class="prizePlaceSendEmail__SuccessResult" style="display:none;">
        <div><span class="icon-success successResult__SuccessSign"></span>
        @LocView.getLocalization("WinnerCode_SuccessSendToEmail")
        <a id="successResult__CloseButton" href="#" class="icon-close successResult__CloseButton"></a>
    </div>
</div>
