﻿@using PagedList.Mvc
@model WaveAccess.MyQuiz.WebUI.QuizTemplateListViewModel
@section styles {
<link href="~/Content/lecture.css" rel="stylesheet" />
<style>
    .verivalLine, #lecture-list {
        background-image: none !important;
    }

        .verivalLine table tr td.time span {
            color: #cfd4fc;
        }

    #startquiz {
        display: none;
    }

    #lecture-list .verivalLine:nth-child(1) {
        padding: 40px 0 !important;
    }
</style>
}

<div id="form" class="centered" onsubmit="return searchValidate()">
    <div id="lecture-list">
        <div class="searchPanel">
            <div>
                <form>
                    <table>
                        <tr>
                            <td class="countContainer desktop">
                                <div>@Model.QuizTemplates.Count</div>
                            </td>
                            <td class="desktop" style="color: white; vertical-align: middle; width: 0px; width: 1px; padding-right: 24px;"></td>
                            <td>
                                <input onkeydown="onSearchChange()" onkeypress="onSearchChange()" class="text-box single-line" id="search" name="search" type="text" value="@Model.Search">
                            </td>
                            <td class="desktop @(string.IsNullOrEmpty(Model.Search) ? "search" : "close")" style="vertical-align: middle; width: 1px; padding-left: 9px;">
                                <div class="closeButton" onclick="$('input#search').val(''); $(this).parents('form')[0].submit();"></div>
                                <div class="searchButton" onclick="searchSubmit($(this).parents('form')[0]);"></div>
                            </td>

                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="countContainer mobile">
            <div style="float:left;width:auto;padding: 0px 5px;">@Model.QuizTemplates.Count</div>
            <span>

            </span>
        </div>

        @foreach (var quizTemplate in Model.QuizTemplates)
        {
            <div class="verivalLine" style="padding:25px 15px;">
                <table>
                    <tr>
                        <td style="text-align: left;vertical-align:middle;min-width: 200px;" class="desktop">
                            <div style="max-width:200px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;" title="@quizTemplate.Theme">
                                @quizTemplate.Theme
                            </div>
                        </td>
                        <td class="ThemeBlock" style="width:100%;vertical-align:middle;">
                            <div class="mobile" style="line-height: 25px;padding-bottom: 5px;">@quizTemplate.Theme</div>
                            @quizTemplate.Description
                        </td>
                        
                        <td class="ThemeBlock" style="width:100%;vertical-align:middle;">
                            @LocView.getLocalization(quizTemplate.Language.ToString())
                        </td>

                        <td class="desktop" style="vertical-align: top; width: 334px;">
                            <div class="buttonContainer" style="width: 334px;text-align:right;">
                                <a href="@Url.Action("Delete", "Template", new { id = quizTemplate.Id })"
                                   onclick="$(this).parent().parent().addClass('confirm');return false;"
                                   class="iconButton iconButton--default iconButton--inTable">
                                    <span class="icon-delete-item"></span>
                                </a>
                            </div>
                        </td>
                        <td class="desktop" style="width:334px;" id="confirm-delete">
                            <div style="position:relative;width:334px;text-align:right;">
                                <div class="gridTimeLine__errorMessageBox">@LocView.getLocalization("confirm_delete_template")</div>
                                <a
                                    href="@Url.Action("Delete", "Template", new { id = quizTemplate.Id})"
                                    id="confirm-delete-button"
                                    class="basicButton basicButton--small basicButton--delete basicButton--confirmDelete  basicButton--rightSpace">
                                    @LocView.getLocalization("delete")
                                </a><a href="#"
                                       onclick="$(this).parents('tr:first').find('.confirm').removeClass('confirm');return false"
                                       class="basicButton basicButton--small basicButton--cancel basicButton--cancelDelete">
                                    @LocView.getLocalization("cancel")
                                </a>

                            </div>

                        </td>
                    </tr>
                </table>
                <div style="height: 38px; margin-top: 18px; padding-left: 17px;" class="mobile">
                    <a href="@Url.Action("Delete", "Template", new { id = quizTemplate.Id })"
                       onclick="$(this).parent().addClass('confirm');return false;"
                       class="iconButton iconButton--xs iconButton--default">
                        <span class="icon-delete-item"></span> 
                    </a>
                </div>
                <span style="display: none;">@LocView.getLocalization("Please_Approve_Any_Questions")</span>
                <div style="height:38px;padding-top:10px; padding-left: 15px; padding-bottom: 8px;" id="confirm-delete" class="mobile">
                    <div style="color:#FE9191;    margin: 10px 0px;">@LocView.getLocalization("confirm_delete_template")</div>
                    <a href="@Url.Action("Delete", "Template", new { id = quizTemplate.Id })"
                       id="confirm-delete-button"
                       class="basicButton basicButton--xs basicButton--delete">
                        @LocView.getLocalization("delete")
                    </a>
                    <a href="#" onclick="$(this).parent().parent().find('.confirm').removeClass('confirm');return false"
                       class="basicButton basicButton--xs basicButton--cancel">
                        @LocView.getLocalization("cancel")
                    </a>

                </div>
            </div>
        }
        <div class="paginator centered">
            @Html.PagedListPager(Model.QuizTemplatesPagedList, page => Url.Action("List", new { page = page, Search = Model.Search }), new PagedListRenderOptions() { MaximumPageNumbersToDisplay = 7 })
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        function searchSubmit(form) {
            if (form && searchValidate()) {
                form.submit();
            }
        }

        function searchValidate() {
            if ($('input#search') && !!jQuery.trim($('input#search').val())) {
                return true;
            }

            return false;
        }
    </script>
}