﻿@using System.Globalization
@using WaveAccess.EventGame.Common.CodeHelpers
@using WaveAccess.MyQuiz.Common.Enums
@using WaveAccess.MyQuiz.WebUI.Models
@model WaveAccess.MyQuiz.WebUI.Models.QuizCodeWaitStartViewModel

@{
    Layout = "~/app/core/layout.cshtml";
}

@Styles.Render("~/Content/plugins/amp")
@Scripts.Render("~/bundles/plugins/amp")

@section css
{
    @Styles.Render("~/Content/css_new/gameLanding")
}

@{
    var method = AuthHelper.IsAuthenticated ? "post" : "get";
    var url = AuthHelper.IsAuthenticated ? Url.Action("QuizCode", "Game") : Url.Action("IntroduceYourself", "Account");
}
@if (AuthHelper.IsAuthenticated)
{
    <form id="redirectToConnectForm"
          method="post"
          action="@Url.Action("QuizCode", "Game")"
          class="hidden">
        <input type="hidden" name="quizCode" value="@Model.QuizCode" />
    </form>
}
else
{
    <form id="redirectToConnectForm"
          method="get"
          action="@Url.Action("IntroduceYourself", "Account")"
          class="hidden">
        <input type="hidden" name="quizCode" value="@Model.QuizCode" />
    </form>
}
<form method="@method" action="@url">
    <div class="main-layout">
        <div class="site-name">@Model.SiteName.ToUpper()</div>
        <div class="main-block-layout">
            <div class="start-time-block">
                @if (Model.RemainingTime.TotalSeconds > 0)
                {
                    <div class="header">
                        @LocView.getLocalization("Quiz_Starts")
                    </div>
                    @*<div class="date-time">
                            <div class="date icon-calendar-icon">

                                @{
                                    var dateValues = @Model.UtcStartDateTime.ToString("d MMMM", new CultureInfo(Localization.Current.Leng)).Split(' ');
                                    var day = dateValues[0];
                                    var month = dateValues[1];
                                }
                                <span class="day">@day</span>
                                <span class="month">@month</span>
                            </div>
                            <div class="time icon-clock-2">
                                <span class="hour">@Model.UtcStartDateTime.ToString("HH")</span>
                                <div><span class="delimeter">:</span></div>
                                <span class="minute">@Model.UtcStartDateTime.ToString("mm")</span>
                            </div>
                            <div class="time-zone">GMT @Model.TimeZone.Offset</div>
                        </div>*@
                    <div class="date-time start-time" start-date-data="@Model.UtcStartDateTime.ToString("s")" locale-data="@Localization.Current.Leng.ToLowerInvariant()">
                        <div class="date icon-calendar-icon">
                            <span class="day"></span>
                            <span class="month"></span>
                        </div>
                        <div class="time icon-clock-2">
                            <span class="hour"></span>
                            <div><span class="delimeter">:</span></div>
                            <span class="minute"></span>
                            <span class="hour_am_pm"></span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="wait-open-registration">
                        <span>@LocView.getLocalization("Quiz_Code_Not_Started")</span>
                    </div>
                }
                @if (Model.DisplayParticipateButton)
                {
                    <a href="@Url.Action("QuizCodeWaitStartParticipate", new {quizCode = Model.QuizCode})"
                       class="btn btn-primary">
                        @LocView.getLocalization("Quiz_Participate")
                    </a>
                }
                @if (Model.DisplayAlreadyAcceptedBlock)
                {
                    <div class="already-accepted">
                        <div class="registered-header icon-success">@LocView.getLocalization("Quiz_AlreadyInGame_1")</div>
                        <div class="registered-text">
                            @LocView.getLocalization("Quiz_AlreadyInGame_2")
                        </div>
                    </div>
                }

            </div>
            <div class="main-block-layout-mobile">
                @if (Model.Image != null)
                {
                    if (Model.Image.MediaType == MediaType.Video.ToString())
                    {
                        <div class="preview-video-layout">
                            <div class="frame-container">
                                <iframe src='@Url.YoutubeVideo(Model.Image, new YouTubePlayerParam(){AutoPlay = 0})'
                                        allowfullscreen='allowfullscreen'
                                        mozallowfullscreen='mozallowfullscreen'
                                        msallowfullscreen='msallowfullscreen'
                                        oallowfullscreen='oallowfullscreen'
                                        webkitallowfullscreen='webkitallowfullscreen'
                                        frameBorder='0'></iframe>
                            </div>
                        </div>
                    }
                    else if (Model.Image.MediaType == MediaType.VideoSelfHosted.ToString())
                    {
                        if (!String.IsNullOrWhiteSpace(Model.Image.URL))
                        {
                            <div class="preview-video-layout">
                                <div class="frame-container">
                                    <video class="azuremediaplayer amp-default-skin amp-big-play-centered"
                                           data-setup='{
	                                            "techOrder": ["azureHtml5JS", "flashSS", "html5FairPlayHLS", "silverlightSS", "html5"],
	                                            "logo": { "enabled": false },
	                                            "inactivityTimeout": "2e3",
	                                            "nativeControlsForTouch": false,
	                                            "fluid": true,
	                                            "controls": true,
	                                            "autoplay": @(Model.Image.VideoAutoPlay != null ? Model.Image.VideoAutoPlay.ToString().ToLower() : false.ToString()),
	                                            "language": "@LocView.Leng",
	                                            "poster": "@Model.Image.ThumbnailUrl"
	                                        }'>
                                        <source src="@Model.Image.URL" type="application/vnd.ms-sstr+xml"/>
                                    </video>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="preview-image-layout">
                                <img class="preview-image" src='@Html.UrlCdn("~/app/images/home/video_processing_" + LocView.Leng + ".png")' />
                            </div>                            
                        }
                    }

                    else
                    {
                        <div class="preview-image-layout">
                            <img class="preview-image" src="@Url.StorageImage(Model.Image, "800")" />
                        </div>
                    }
                }
                <div class="info-layout">
                    <div class="description-layout">
                        <div class="title">@Model.Theme</div>
                        <div class="description">@Html.Raw(Model.Description)</div>
                    </div>
                   @if (Model.IsQuizWinnerCodeEnabled)
                   {
                    <div class="prize-layout">
                        <div class="prizeIcon">
                            <span class="icon-prize"></span>
                        </div>
                        <div class="prizeName">@LocView.getLocalization("Prize"): @Model.Prize</div>
                    </div>
                   }
                    <div class="time-layout">
                        @if (Model.RemainingTime.TotalSeconds > 0)
                        {
                            <div class="time-header-layout">
                                <div class="left-line-layout">
                                    <div class="line"></div>
                                </div>
                                <div class="header-line-layout">
                                    <div>
                                        @LocView.getLocalization("Quiz_Code_Time_Before_Start")
                                    </div>
                                </div>
                                <div class="right-line-layout">
                                    <div class="line"></div>
                                </div>
                            </div>
                            <div class="time-clock-layout">
                                <div class="time-clock-element-layout">
                                    <div class="value" time-clock-element-type="days">@Model.RemainingTime.Days</div>
                                    <div class="title">@LocView.getLocalization("Days")</div>
                                </div>
                                <div class="vertical-line">
                                    <div></div>
                                </div>
                                <div class="time-clock-element-layout">
                                    <div class="value" time-clock-element-type="hours">@Model.RemainingTime.Hours</div>
                                    <div class="title">@LocView.getLocalization("Hours")</div>
                                </div>
                                <div class="vertical-line">
                                    <div></div>
                                </div>
                                <div class="time-clock-element-layout">
                                    <div class="value" time-clock-element-type="minutes">@Model.RemainingTime.Minutes</div>
                                    <div class="title">@LocView.getLocalization("Minutes")</div>
                                </div>
                                <div class="vertical-line">
                                    <div></div>
                                </div>
                                <div class="time-clock-element-layout">
                                    <div class="value" time-clock-element-type="seconds">@Model.RemainingTime.Seconds</div>
                                    <div class="title">@LocView.getLocalization("Seconds")</div>
                                </div>
                            </div>


                        }
                        else
                        {
                            <div class="wait-open-registration">
                                <span>@LocView.getLocalization("Quiz_Code_Not_Started")</span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" name="quizCode" value="@Model.QuizCode" />
</form>

@section js
{
    <script type="text/javascript">
        var global_QuizCodeWaitStartCheck_url =
            '@Url.Action("QuizCodeWaitStartCheck", "Game", new {quizCode = Model.QuizCode})';
    </script>
    @Scripts.Render("~/Content/quizcode/waitstart/js")
}