﻿@import "variables";

#menu-container ul li a{
	font-size:14px !important;
}
.main-layout {
    width: 100%;
    height: 350px;
    overflow: visible;
    background-color: #5c6bc0 !important;
    text-align: center;
    padding-top: 30px;

    font: {
        family: Open Sans;
        size: 16px;
    }

    .site-name {
        font-size: 3rem;
        color: #fff;
        padding: 20px 0px 20px 0;
        display: none;
    }

    .main-block-layout {
        margin: auto auto 30px auto;
        max-width: $screen-sm-min;
        background-color: #fff;
        border-radius: 0.5%;

        .start-time-block {
            padding: 40px 0;

            .header {
                font-size: 16px;
            }

            .date-time {
                margin: 44px 0 40px 0;

                .date, .time, .time-zone {
                    display: inline-block;
                    line-height: 36px;
                    margin-right: 10px;
                }

                .time-zone {
                    font: {
                        size: 14px;
                        family: 'Open Sans';
                        weight: 500;
                    }

                    color: #959494;
                }

                .date::before, .time::before {
                    margin-right: 10px;
                    font-size: 16px;
                    color: #5b6ec3;
                }

                .date .day,
                .time .hour,
                .time .minute {
                    font: {
                        size: 36px;
                        family: 'Open Sans';
                        weight: 500;
                    }
                }

                .date .month,
                .time .delimeter {
                    font: {
                        size: 18px;
                        family: 'Open Sans';
                    }
                }

                .time div {
                    display: inline-block;
                    height: 36px;
                    vertical-align: super;
                }
            }

            .btn {
                height: 46px;
                border-color: #81c784;
                background-color: #81c784;
                font-size: 15px;
            }

            .already-accepted {
                margin-top: 50px;

                .registered-header {
                    font: {
                        family: 'Open Sans';
                        size: 15px;
                        weight: 700;
                    }
                }

                .registered-text {
                    font: {
                        family: 'Open Sans';
                        size: 15px;
                        style: italic;
                    }

                    margin-top: 5px;
                }

                .registered-header:before {
                    color: #4caf50;
                    padding-right: 10px;
                    font-size: 18px;
                    vertical-align: middle;
                }
            }
        }

        .preview-image-layout {
            img {
                width: 100%;
                padding: 0 70px;
            }
        }


        .preview-video-layout {
            padding: 0 70px;

            .frame-container {
                position: relative;
                padding-bottom: 56.25%;
                text-align: center;
                width: 100%;
                height: 100%;

                iframe, .azuremediaplayer {
                    top: 0;
                    left: 0;
                    border: 0;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .info-layout {
            padding: 40px 70px;

            .description-layout {
                width: 100%;
                text-align: left;

                .title {
                    font: {
                        weight: bold;
                        size: 18px;
                    }
                }

                .description {
                    font-size: 14px;
                    white-space: pre-line;
                }

                .title,
                .description {
                    margin-bottom: 20px 0;
                }
            }

            .prize-layout {
                padding-top: 15 * $px;
                border-top: solid 1px #E1E1E1;
                display: flex;
                flex-flow: row;

                .prizeIcon {
                    padding-right: 10 * $px;

                    .icon-prize {
                        color: #63bd6f;
                    }
                }
            }

            .time-layout {
                .time-header-layout {
                    display: inline-flex;
                    width: 100%;
                    padding-top: 70px;

                    .left-line-layout,
                    .header-line-layout,
                    .right-line-layout {
                        align-self: center;

                        .line {
                            height: 2px;
                            width: 70%;
                            background-color: #f3f3f4;
                        }
                    }

                    .left-line-layout,
                    .right-line-layout {
                        flex: 0.9;
                    }

                    .header-line-layout {
                        flex: 1.2;
                        white-space: nowrap;
                    }

                    .left-line-layout > .line {
                        float: left;
                    }

                    .right-line-layout > .line {
                        float: right;
                    }

                    .header-line-layout > div {
                        font-weight: 600;
                        font-family: "Open Sans";
                    }

                    .time-header-layout {
                        font-family: "Open Sans";
                        font-size: 16px;
                        vertical-align: central;
                        width: 100%;
                    }
                }

                .time-clock-layout {
                    display: flex;
                    margin-top: 50px;

                    .time-clock-element-layout {
                        flex: 0.9;

                        .value {
                            font: {
                                weight: 500;
                                size: 24px;
                            }

                            color: #333333;
                        }

                        .title {
                            font-size: 12px;
                            color: #959494;
                            margin-top: 10px;
                        }
                    }

                    .vertical-line {
                        flex: 0.05;
                        align-self: center;
                    }

                    .vertical-line > div {
                        height: 38px;
                        background-color: #ccccd3;
                        width: 1px;
                        overflow: visible;
                    }
                }

                .basicButton {
                    margin-top: 50px;
                }

                .wait-open-registration {
                    margin-top: 70px;

                    padding: {
                        top: 70px;
                        bottom: 30px;
                    }

                    border-top: 2px solid #f3f3f4;
                    font-weight: 600;
                }
            }
        }
    }
}

@media(max-width: $screen-sm-min) {
    .mobile.page-title > div {
        display: none !important;
    }

    .main-block-layout-mobile {
        width: 90%;
        margin: 0px auto 0px auto;
        background-color: #fff;
        padding-bottom: 40px;
    }

    .main-layout {
        height: 0;
        padding-top:0;

        .site-name {
            position: absolute;
            font-size: 2rem;
            padding-top: 10px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            top: 0;
            display:inherit;
        }

        .main-block-layout {
            background-color: #F0F2F4;
            width: 100% !important;

            .start-time-block {
                padding: 20px 0 30px 0;
                background-color: #fff;

                .already-accepted {
                    margin: 0px;
                }

                .date-time {
                    margin: 30px 0;

                    .date,
                    .time,
                    .time-zone {
                        line-height: 24px;
                    }

                    .time .delimeter {
                        line-height: 24px;
                    }

                    .date .day, .time .hour, .time .minute {
                        font: {
                            size: 24px;
                            family: 'Open Sans';
                            weight: 500;
                        }
                    }

                    .date .month {
                        font: {
                            size: 18px;
                            family: 'Open Sans';
                            weight:300;
                        }
                    }

                    .time div {
                        display: inline-block;
                        height: 24px;
                        vertical-align: top;
                    }
                }
            }

            .preview {
                &-image-layout img,
                &-video-layout {
                    padding: 0 !important;
                }
            }

            .info-layout {
                padding: 30px 30px !important;
            }
        }
    }
}

@media (max-width: $screen-hideMenu-max) {
    #topMenu {
        height: 60px;
    }
}