﻿@using WaveAccess.EventGame.Common.CodeHelpers
@using WaveAccess.MyQuiz.WebUI.app.core.elements.menu
@using WaveAccess.MyQuiz.WebUI.app.game.elements.chatBlock
@using WaveAccess.MyQuiz.WebUI.app.game.stages.leaders
@using WaveAccess.MyQuiz.WebUI.app.game.stages.questions
@using WaveAccess.MyQuiz.WebUI.app.game.stages.wait
@model WaveAccess.MyQuiz.WebUI.Models.GameViewModel

@{
    ViewBag.Title = LocView.getLocalization("Brand_Name");
    Layout = "~/app/core/layout.cshtml";
}

@Styles.Render("~/Content/plugins/amp")
@Scripts.Render("~/bundles/plugins/amp")

@section menu
{
    @Html.Partial("~/app/core/elements/menu/menu.cshtml", new MenuViewModel { IsHomePage = false, IsOwner = Model.IsOwner })
}

@section metaInfo{
    @if (!Model.IsOwner && Model.Quiz.TrackersEnabled && Model.Quiz.QuizTrackers != null && Model.Quiz.QuizTrackers.Count > 0)
    {
        @Html.Partial("~/app/game/elements/trackers/trackers.cshtml", Model.Quiz.QuizTrackers)
    }
}

@section css{
    @Styles.Render("~/Content/css_new/game")
}

@section js{
	@Scripts.Render("~/bundles/push")
	<script type="text/javascript">
        var global_hostId = '@Model.HostId';
        var global_quizCode = '@Model.Quiz.Code';
	    var global_userId = '@AuthHelper.CurrentUserId';
	    var global_Lang = '@Localization.Current.Leng';
	    var global_TimeFormat = '@Localization.Current.getMomentJsTimeFormat()';
	    var global_Localization = {
	        suffixesForPlaces: {
	            first: '@leaders.PlaceSuffix_First',
	            second: '@leaders.PlaceSuffix_Second',
	            third: '@leaders.PlaceSuffix_Third',
	            other: '@leaders.PlaceSuffix_Other'
	        },
	        wordsForPoints: {
	            nominativ: '@leaders.Score_1',
	            genetiv: '@leaders.Score_2_4',
	            plural: '@leaders.Score_5_0'
	        },
	        you: '@leaders.You',
	        alreadyAnswered: '@questions.AlreadyAnswered.ToUpper()',
	        alreadyAnsweredLowercase: '@questions.AlreadyAnswered',
	        linksCollectionNotification: '@wait.Promo__LinksCollectionNotification',
	        waitingMessage:'@Localization.Current.getLocalization("Quiz_Waiting_Message_Before_Start")'
	    };

	    quiz_push_messages.init({
	        messages: {
	            "OnGameStart": {
	                "title": "@Localization.Current.getLocalization("Push_OnGameStart_Title")",
	                "body": "@Localization.Current.getLocalization("Push_OnGameStart_Body")"
	            },
	            "OnNewGameQuestion": {
	                "title": "@Localization.Current.getLocalization("Push_OnNewGameQuestion_Title")",
	                "body": "@Localization.Current.getLocalization("Push_OnNewGameQuestion_Body")"
	            },
	            "OnGameEnd": {
	                "title": "@Localization.Current.getLocalization("Push_OnGameEnd_Title")",
	                "body": "@Localization.Current.getLocalization("Push_OnGameEnd_Body")"
	            },
	        }
	    });
	</script>
    <script type="text/javascript">
        $(document).ready(function () {
            gameCoreModule.isPaused = @Model.IsPaused.ToString().ToLower();
            gameCoreModule.isOwner = @Model.IsOwner.ToString().ToLower();
        });
    </script>
    @if (Model.Quiz != null && Model.Quiz.IsYoutubeLiveVideoEnabled)
    {
        <script src="https://www.youtube.com/iframe_api"></script>
        <script type="text/javascript">
            var player;
            $(document).ready(function () {
                var liveVideoTemplate = '\
<div id="liveVideo" class="liveVideo">\
<div class="liveVideo__Frame">\
    <iframe id="ytplayer" src="@Model.Quiz.YoutubeLiveVideoURL" frameborder="0" allow="autoplay; encrypted-media;"></iframe>\
</div>\
<div class="liveVideo__Icon"></div>\
</div>';
                $liveVideo = $(liveVideoTemplate);
                $("#topMenu").append($liveVideo);
                setPositionInMenuForLiveVideo();

                setYouTubeIframeAPIReady();
            });

            $(window).resize(function () {
                setPositionInMenuForLiveVideo();
            });

            function setPositionInMenuForLiveVideo() {
                if ($("#topMenu__Items").is(":visible")) {
                    var positionLeft = ($('#topMenu__Items > div:last').offset().left - 110);
                    $('#liveVideo').css('left', positionLeft + 'px');
                }
                else {
                    $('#liveVideo').css('left', '');
                }
            }

            function setYouTubeIframeAPIReady() {
                player = new YT.Player('ytplayer', {
                    events: {
                        'onReady': onPlayerReady
                    }
                });
            }

            function onPlayerReady(event) {
                var player = event.target;
                var clickHandler = ('click' in document.documentElement ? "click" : "touchstart tap");
                $(document).on(clickHandler, '.liveVideo__Frame', function() {
                    playerPlayVideo(player);
                });	  
            }

            function playerPlayVideo(player) {
                if(!player) return;
                if(player.getPlayerState() == 1){
                    player.pauseVideo();	
                }
                else{
                    player.playVideo();
                } 
            }
        </script>
    }
	@if (!Model.IsOwner && Model.IsPaused)
	{
		<script type="text/javascript">
		    $(document).ready(function() {
		        alertBoxModule.gamePausedShow();
		    });
		</script>
	}
	@if (Model.IsOwner)
	{
		<script type="text/javascript">
		    $(document).ready(function() {
		        $(function() {
		            $('#gameStateLine_StopGame').click(function() {
		                gameCoreModule.stop();
		            });
		        });

		        function switchPauseState(isPaused) {
		            if (isPaused) {
		                $('.play-button').show();
		                $('.pause-button').hide();
		            } else {
		                $('.play-button').hide();
		                $('.pause-button').show();
		            }
		        };

		        switchPauseState(gameCoreModule.isPaused);

		        function onMouseEnter() {
		            if (!gameCoreModule.isPaused) {
		                $('.countDownTimer__pause-layer.icon-pause-button').css('display', 'flex');
		                $('.countDownTimer__Seconds').css('color', 'rgba(166, 166, 166, 0.5)');
		            }
		        };

		        function onMouseLeave() {
		            if (!gameCoreModule.isPaused) {
		                $('.countDownTimer__pause-layer.icon-pause-button').css('display', 'none');
		                $('.countDownTimer__Seconds').css('color', 'rgb(0, 0, 0)');
		            }
		        };

		        function addHoverHandler(item) {
		            item
		                .mouseenter(onMouseEnter)
		                .mouseleave(onMouseLeave);
		        };

		        addHoverHandler($('#btnPause'));

//				if (gameCoreModule.isPaused) {
//					$('.pause-button').hide();
//				} else {
//					$('.play-button').show();
//				}

		        function onPauseClick() {
		            gameCoreModule.changePauseState();
		            if (gameCoreModule.isPaused) {
		                gameCoreModule.resume();
		            } else {
		                gameCoreModule.pause();
		            }
		            switchPauseState(gameCoreModule.isPaused);
		        };

		        $('.countDownTimer__pause-layer.icon-play-button').click(onPauseClick);

		        $('#btnPause').click(onPauseClick);
		        $('.countDownTimer__pause-layer-mobile .icon-play-button-background').click(onPauseClick);
		        $('.countDownTimer__pause-layer-mobile .icon-pause-background').click(onPauseClick);
		    });
		</script>
	}
	<script src="/signalr/hubs"></script>
	@(Model.IsOwner ? Scripts.Render("~/bundles/js_new/gameOwner") : Scripts.Render("~/bundles/js_new/gamePlayer"))
}

        @Html.Partial(
        "~/app/game/elements/chatBlock/chatBlock.cshtml",
        new WaveAccess.MyQuiz.WebUI.app.game.elements.chatBlock.ChatBlock
        {
        Id = "chatElement",
        Owner = Model.Owner,
        IsSendEnabled = Model.IsOwner,
        IsOwner = Model.IsOwner
        }
        )

        <div data-chat-open="chat1"
             class="chatIcon chatIcon--desktop"></div>

        @Html.Partial("~/app/game/elements/alertsBox/alertsBox.cshtml", Model)
        @Html.Partial("~/app/game/stages/connect/connect.cshtml")
        @Html.Partial("~/app/game/stages/wait/wait.cshtml")
        @Html.Partial("~/app/game/stages/countdown/countdown.cshtml")
        @Html.Partial("~/app/game/stages/questions/questions.cshtml")
        @Html.Partial("~/app/game/stages/leaders/leaders.cshtml", Model)
