﻿@import "variables";
@import "elements/alertsBox/alertsBox.scss";
@import "elements/countDownTimer/countDownTimer.scss";
@import "stages/connect/connect.scss";
@import "stages/wait/wait.scss";
@import "stages/questions/questions.scss";
@import "stages/leaders/leaders.scss";
@import "elements/imageBlock/imageBlock";
@import "elements/chatBlock/chatBlock";

html {
    font-size: $html-font-size;
    @media (min-width: $screen-xs-min) and (max-height: 800px)  {
        font-size: 12px;
    }
    @media (min-width: $screen-xs-min) and (max-width: 1023px)  {
        font-size: 12px;
    }
}

body {
    height:100%;
}

a {
    cursor:pointer;
}



.layout {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    flex-grow: 1;

    &__Content {
        display: flex;
        flex-flow: column;
        flex-grow: 1;
        min-height: 1px; //fix for IE11 mobile
        &--leaders {
            @media (max-width: $screen-xs-max) {
                background-color: #fff;
            }
        }
    }

    &__Header {
        height: $layout__Header_height;
        background: $layout__Header_background;
        overflow: auto;
        color: $layout__Header_color;

        @media (max-width: $screen-xs-max) {
            height: $layout__Header_height_xs;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__Header_player {
        height: $layout__Header_player_height;
        background: $layout__Header_background;
        overflow: auto;
        color: $layout__Header_color;

        @media (max-width: $screen-xs-max) {
            height: $layout__Header_height_xs;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__StickyContainer {
        display: none;
        box-shadow: $layout__StickyContainer_box_shadow;

        @media (max-width: $screen-xs-max) {
            position: relative;
            position: sticky;
            display: block;
            top: 0;
            z-index: 3;
            background-color: $layout__StickyContainer_background_color_xs;
        }
    }

    &__Body {
        margin-top: $layout__Body_margin_top;
        margin-bottom: $layout__Body_margin_bottom;
        display: flex;
        flex-grow: 1;
        flex-flow: column;
        min-height: 1px; //fix for IE11 mobile
        @media (max-width: $screen-xs-max) {
            margin-top: $layout__Body_margin_top_xs;
            width: 100%;
        }

        &.layout__Body--question {
            margin-top: $layout__Body_margin_top - $gameStateLine_height - $margin_default_small;

            @media (max-width: $screen-xs-max) {
                margin-top: $layout__Body_margin_top_xs;
                margin-bottom: 0;
            }
        }

        &.layout__Body--leaders {
            margin-top: $layout__Body_margin_top_xs;

            @media (max-width: $screen-xs-max) {
                padding: 0;
                margin: 0;
            }
        }
    }
}

.headerText {
    @media (max-width: $screen-xs-max) {
        padding-top:0;
        font-size: $headerText_font_size_xs;
        line-height:normal;
        font-weight:$font_weight_bold;
    }

}

.stickyContent {
    height:$layout__StickyContainer_height;
    font-size:$layout__StickyContainer_font_size;
    text-transform: uppercase;
    display:flex;
    align-items:center;
    justify-content:center;
    white-space:nowrap;

    &__ChatIcon {
        position: absolute;
        right: 15 * $px;
        top:18 * $px;

        @media (max-width: 380px) {            
            margin-left:10px;
        }
    }
}

.quizCode {
    letter-spacing: 16px;
    font-size: 42px;
    text-align: center;
    width: 100%;
    display: inline-table;

    @media (max-width: $screen-md-max) {
        letter-spacing:12px;
        font-size:36px;
    }
}

.bodyLayout {
    display: flex;
    position:relative;
    flex-flow: row nowrap;
    flex-grow: 0;
    min-height: 1px; //fix for IE11 mobile
    min-height: 50%;

    &--stretchFullHeight {
        flex-grow: 1;
    }

    @media (max-width: $screen-xs-max) {
        flex-flow: column;
    }

    &__LeftCol {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        flex-grow: 1;
        flex-basis: $bodyLayout__Col__FlexBasis;
        margin-right: $margin_default;
        min-height: 1px; //fix for IE11 mobile
        max-width: 200 * $px;

        @media (max-width: $screen-xs-max) {
            flex-grow: 1;
            flex-basis: auto;
            margin-right: 0;
            order: 2;
            max-width: 100%;
        }
    }

    &__CenterCol {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        flex-grow: 3;
        flex-basis: $bodyLayout__Col__FlexBasis;
        margin-right: $margin_default;
        min-height: 1px; //fix for IE11 mobile
        @media (max-width: $screen-xs-max) {
            flex-grow: 1;
            flex-basis: auto;
            margin-right: 0;
            order: 1;
            margin-bottom: 25 * $px;
        }
    }

    &__RightCol {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        flex-grow: 1;
        flex-basis: $bodyLayout__Col__FlexBasis;
        max-width: 339 * $px;
        min-width: 339 * $px;
        width: 339 * $px;

        @media (max-width: $screen-xs-max) {
            flex-grow: 1;
            flex-basis: auto;
            margin-right: 0;
            order: 3;
            max-width: 100%;
            min-width: 100%;
            width: 100%;
        }
    }
}

.infoBlock {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    position: relative;
    border: $border_default;
    border-radius: $border_default_radius;
    background-color: $infoBlock_background_color;
    min-height: 1px; //fix for IE11 mobile
    margin-bottom:10 * $px;
    @media (max-width: $screen-xs-max) {
        border: none;
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0);
        flex-grow: 0;
    }

    &--center {
        padding: $infoBlock__centerBlock_padding;

        @media (max-width: $screen-md-max) {
            padding: $infoBlock__centerBlock_padding_md;
        }

        @media (max-width: $screen-xs-max) {
            padding: 0;
        }


        @media (min-width: $screen-sm-min) and (max-height: $screen-xs-vertical-min) {
            padding: $infoBlock__centerBlock_padding_vertical_xxs;
        }

        @media (min-width: $screen-sm-min) and (min-height: $screen-xs-vertical-min) and (max-height: $screen-xs-vertical-max) {
            padding: $infoBlock__centerBlock_padding_vertical_xs;
        }

        @media (min-width: $screen-sm-min) and (min-height: $screen-sm-vertical-min) and (max-height: $screen-sm-vertical-max) {
            padding: $infoBlock__centerBlock_padding_vertical_sm;
        }

        @media (min-width: $screen-sm-min) and (min-height: $screen-md-vertical-min) and (max-height: $screen-md-vertical-max) {
            padding: $infoBlock__centerBlock_padding_vertical_md;
        }
    }

    &--centerPromo {
        padding: $infoBlock__centerPromoBlock_padding;

        @media (max-width: $screen-md-max) {
            padding: $infoBlock__centerPromoBlock_padding_md;
        }

        @media (max-width: $screen-xs-max) {
            padding: 0;
        }


        @media (min-width: $screen-sm-min) and (max-height: $screen-xs-vertical-min) {
            padding: $infoBlock__centerBlock_padding_vertical_xxs-promo;
        }

        @media (min-width: $screen-sm-min) and (min-height: $screen-xs-vertical-min) and (max-height: $screen-xs-vertical-max) {
            padding: $infoBlock__centerBlock_padding_vertical_xs-promo;
        }

        @media (min-width: $screen-sm-min) and (min-height: $screen-sm-vertical-min) and (max-height: $screen-sm-vertical-max) {
            padding: $infoBlock__centerBlock_padding_vertical_sm-promo;
        }

        @media (min-width: $screen-sm-min) and (min-height: $screen-md-vertical-min) and (max-height: $screen-md-vertical-max) {
            padding: $infoBlock__centerBlock_padding_vertical_md-promo;
        }
    }

    &--promo {
        margin-top: 10 * $px;
        border: 0 * $px;
        padding: 10 * $px;
        flex-grow: 0;

        @media (max-width: $screen-xs-max) {
            background-color: $infoBlock_background_color;
            border-radius: $border_default_radius;
        }
    }

    &--right {
        padding: $infoBlock__rightBlock_padding;

        @media (max-width: $screen-md-max) {
            padding: $infoBlock__rightBlock_padding_md;
        }

        @media (max-width: $screen-xs-max) {
            padding: 0;
            margin-bottom:0;
        }
    }

    &--rules {
        padding: $infoBlock__rightBlock_padding;

        @media (max-width: $screen-xs-max) {
            margin-top: $margin_default;
            border: $border_default;
            border-radius: $border_default_radius;
            background-color: $infoBlock_background_color;
        }
    }

    &--rightTop {
        flex-grow: 0;
        height: $infoBlock__rightTop_height;
        margin-bottom: $margin_default;

        @media (max-width: $screen-xs-max) {
            display: none;
        }
    }

    & > .poweredByAzure {
        position: absolute;
        bottom: $infoBlock__rightBlock_paddingX;
        color: darkgray;
        z-index:100;
    }

    & div.closeBtn__container{
        position:absolute;
        width:100%;
        z-index:75;
    }

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
        & div.closeBtn__container{
            top:5*$px;
            }
    }

    & div.closeBtn__container > span{
        float:right;
        padding-right: 20 * $px;
        color:#a6a6a6;
    }

    & div.closeBtn__container > span:hover{
        cursor:pointer;
    }

    &--bookmarkPromo{
        word-break:break-word;
        @media (max-width: $screen-xs-max) {
        margin-left:3vw !important; 
        margin-right:3vw !important;
        }

        @media (min-width: $screen-xs-max) {
        margin-left:15vw !important; 
        margin-right:15vw !important;
        }
    }

    &--bookmarkPromo > div div{
        z-index:200;
        border:0px;
    }

    &--bookmarkPromo div.spaceForCloseBtn{
        padding-left:17 * $px;
        z-index:50;
    }

    &--bookmarkPromo div img{
        max-width: 100*$px !important;
        width: auto;
    }
    &--bookmarkPromo .promoBlockWait__Text{
        padding-top:0;
    }
}


.liveVideo {
    position: absolute;
    top: 10 * $px;
    left: 10 * $px;

    &__Frame {
        width: 40 * $px !important;
        height: 40 * $px !important;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
         border-top-left-radius: 50%;
         border-top-right-radius: 50%;
         border-bottom-left-radius: 50%;
         border-bottom-right-radius: 50%;
        overflow: hidden !important;
        cursor: pointer;

        & > iframe {
            width: 40 * $px !important;
            height: 40 * $px !important;
            pointer-events: none;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
        }
    }

    &__Icon {
        position: absolute;
        left: -35 * $px;
        top: 12 * $px;
        width: 36 * $px;
        height: 16 * $px;
        background-image: url('/app/images/game/live/live.png');
        background-size: cover;
        z-index: 10;
        border-radius: 2px;
        background-position:center;

        @media (max-width: $screen-hideMenu-min) {
            top: 40 * $px;
            left: 4 * $px;
            height: 31 * $px;
            height: 14 * $px;
        }
    }
}

.frameContainer {
    .azuremediaplayer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}