﻿$relative_size_divider: 16;
$html_font_size: ($relative_size_divider) * 1px;
$px: (1 / $relative_size_divider) * 1rem;


$font_weight_bold: 600;
$margin_default: (30 / $relative_size_divider) * 1rem;
$margin_default_md: (20 / $relative_size_divider) * 1rem;
$margin_default_md_text: (14 / $relative_size_divider) * 1rem;
$margin_default_small: (12 / $relative_size_divider) * 1rem;
$margin_default_small_text: (8 / $relative_size_divider) * 1rem;
$margin_default_xs: (12 / $relative_size_divider) * 1rem;
$margin_default_xs_text: (8 / $relative_size_divider) * 1rem;
$margin_default_xxs: (5 / $relative_size_divider) * 1rem;

$border_default: solid 1px #DDDEE2;
$border_default_radius: (4 / $relative_size_divider) * 1rem;


$layout__Header_height: (316 / $relative_size_divider) * 1rem;
$layout__Header_player_height: (278 / $relative_size_divider) * 1rem;
$layout__Header_height_xs: (60 / $relative_size_divider) * 1rem;
$layout__Header_background: #445084;
$layout__Header_background__leaders: url('/app/images/leaderboard/header__background.png') no-repeat center #354461;
$layout__Header_background__leaders_xs: url('/app/images/leaderboard/header__background_xs.png') no-repeat top   #354461;
$layout__Header_color: #fff;

$layout__Body_margin_top:(-218 / $relative_size_divider) * 1rem;
$layout__Body_margin_top_xs:(10 / $relative_size_divider) * 1rem;
$layout__Body_margin_bottom:(20 / $relative_size_divider) * 1rem;


$layout__StickyContainer_font_size:(16 / $relative_size_divider) * 1rem;
$layout__StickyContainer_box_shadow: rgba(223, 225, 227, 0.7) 0px 2px 1px;
$layout__StickyContainer_background_color_xs:#fff;
$layout__StickyContainer_height:(50 / $relative_size_divider) * 1rem;


$bodyLayout__Col__FlexBasis:(300 / $relative_size_divider) * 1rem;

$headerText_font_size: (48 / $relative_size_divider) * 1rem;
$headerText_font_size_xs: (20 / $relative_size_divider) * 1rem;
$headerText_line_height: (48 / $relative_size_divider) * 1rem;
$headerText_padding_top: (26 / $relative_size_divider) * 1rem;
$headerText__Arrow_font_size: (16 / $relative_size_divider) * 1rem;
$headerText__Arrow_line_height: (24 / $relative_size_divider) * 1rem;
$headerText__SiteName_margin_right_xs: (20 / $relative_size_divider) * 1rem;
$headerText__QuizName_padding_horizontal: (50 / $relative_size_divider) * 1rem;

$quizCode_font_size: (50 / $relative_size_divider) * 1rem;
$quizCode_color: #404040;
$quizCode_Char_bgcolor: #fff;
$quizCode_Char_padding_x: (12 / $relative_size_divider) * 1rem;
$quizCode_Char_padding_y: (4 / $relative_size_divider) * 1rem;


$infoBlock_background_color: #fff;
$infoBlock__rightTop_height: (202 / $relative_size_divider) * 1rem;
$infoBlock__centerPromoBlock_padding:(25 / $relative_size_divider) * 1rem (25 / $relative_size_divider) * 1rem;
$infoBlock__centerPromoBlock_padding_md:(25 / $relative_size_divider) * 1rem (25 / $relative_size_divider) * 1rem;
$infoBlock__centerBlock_padding: (40 / $relative_size_divider) * 1rem (80 / $relative_size_divider) * 1rem;
$infoBlock__centerBlock_padding_vertical_xxs: (40 / $relative_size_divider) * 1rem (340 / $relative_size_divider) * 1rem;
$infoBlock__centerBlock_padding_vertical_xs: (40 / $relative_size_divider) * 1rem (280 / $relative_size_divider) * 1rem;
$infoBlock__centerBlock_padding_vertical_sm: (40 / $relative_size_divider) * 1rem (140 / $relative_size_divider) * 1rem;
$infoBlock__centerBlock_padding_vertical_md: (40 / $relative_size_divider) * 1rem (100 / $relative_size_divider) * 1rem;
$infoBlock__centerBlock_padding_vertical_xxs-promo: (40 / $relative_size_divider) * 1rem (240 / $relative_size_divider) * 1rem;
$infoBlock__centerBlock_padding_vertical_xs-promo: (40 / $relative_size_divider) * 1rem (180 / $relative_size_divider) * 1rem;
$infoBlock__centerBlock_padding_vertical_sm-promo: (40 / $relative_size_divider) * 1rem (100 / $relative_size_divider) * 1rem;
$infoBlock__centerBlock_padding_vertical_md-promo: (40 / $relative_size_divider) * 1rem (50 / $relative_size_divider) * 1rem;
$infoBlock__centerBlock_padding_md:(40 / $relative_size_divider) * 1rem (80 / $relative_size_divider) * 1rem;
$infoBlock__rightBlock_paddingX: (17 / $relative_size_divider) * 1rem;
$infoBlock__rightBlock_paddingY: (39 / $relative_size_divider) * 1rem;
$infoBlock__rightBlock_paddingY_md: (19 / $relative_size_divider) * 1rem;
$infoBlock__rightBlock_padding: $infoBlock__rightBlock_paddingX $infoBlock__rightBlock_paddingY $infoBlock__rightBlock_paddingX $infoBlock__rightBlock_paddingY;
$infoBlock__rightBlock_padding_md: $infoBlock__rightBlock_paddingX $infoBlock__rightBlock_paddingY_md $infoBlock__rightBlock_paddingY $infoBlock__rightBlock_paddingY;


$gameInfo__Theme_margin_top:(20 / $relative_size_divider) * 1rem;
$gameInfo__Theme_margin_bottom:(10 / $relative_size_divider) * 1rem;
$gameInfo__Theme_font_size:(20 / $relative_size_divider) * 1rem;

$questionDetails__Theme_margin_top:(30 / $relative_size_divider) * 1rem;
$questionDetails__Theme_margin_top_xs:(15 / $relative_size_divider) * 1rem;

$gameInfo__Line_color:#000;
$gameInfo__Line_width:(160 / $relative_size_divider) * 1rem;

$gameStateLine_height:(46 / $relative_size_divider) * 1rem;

$gameMain__Users_min_height: (30 / $relative_size_divider) * 1rem;
$gameMain__Users_padding: 0.25rem 0.5rem;


$gameDetails__Author_font_size: (12 / $relative_size_divider) * 1rem;

$gameRules__ListItem_margin_left: -(20 / $relative_size_divider) * 1rem;

$connectedUsersMobile__Count_font_size:(18 / $relative_size_divider) * 1rem;
$connectedUsersMobile__Count_margin_left:(7 / $relative_size_divider) * 1rem;


$questionDetails__Text_font_size:(20 / $relative_size_divider) * 1rem;
$questionDetails__Text_font_size_xs:(18 / $relative_size_divider) * 1rem;
$questionDetails__Text_margin_bottom:(30 / $relative_size_divider) * 1rem;
$questionDetails__Progress_font_size_xs:(14 / $relative_size_divider) * 1rem;

$answerButton__bg:#fff;
$answerButton__bg_correct: #58CC58;
$answerButton__bg_wrong: #F97762;
$answerButton__bg_checked: #DAE5FC;
$answerButton__bg_selected: #DAE5FC;
$answerButton__font_color_correct: #fff;
$answerButton__font_color_wrong: #fff;
$answerButton__border_hover: #90A7D6;
$answerButton__LeftLine_border_left:(4 / $relative_size_divider) * 1rem solid $answerButton__border_hover;
$answerButton__LeftLine_border_radius:(2 / $relative_size_divider) * 1rem;

$answerButton__Text_padding_top:(12 / $relative_size_divider) * 1rem;
$answerButton__Text_padding_bottom:$answerButton__Text_padding_top;
$answerButton__Text_padding_right:(36 / $relative_size_divider) * 1rem;
$answerButton__Text_padding_left:$answerButton__Text_padding_right / 2;
$answerButton__Text_padding: $answerButton__Text_padding_top $answerButton__Text_padding_right $answerButton__Text_padding_bottom $answerButton__Text_padding_left;
$answerButton__Text_padding_top_xs:(16 / $relative_size_divider) * 1rem;
$answerButton__Text_padding_bottom_xs:$answerButton__Text_padding_top_xs;
$answerButton__Text_padding_right_xs:(36 / $relative_size_divider) * 1rem;
$answerButton__Text_padding_left_xs:$answerButton__Text_padding_right_xs / 2;
$answerButton__Text_padding_xs: $answerButton__Text_padding_top_xs $answerButton__Text_padding_right_xs $answerButton__Text_padding_bottom_xs $answerButton__Text_padding_left_xs;
$answerButton__Text_margin_bottom_xs:(15 / $relative_size_divider) * 1rem;
$answerButton__Icon_top:(12 / $relative_size_divider) * 1rem;
$answerButton__Icon_right:(18 / $relative_size_divider) * 1rem;
$answerButton__Icon_top_xs:(17 / $relative_size_divider) * 1rem;


$answersState__UsersRow_min_height: (61 / $relative_size_divider) * 1rem; 
$answersState__User_second_margin_left: (40 / $relative_size_divider) * 1rem; 
$answersState__User_third_margin_left: (70 / $relative_size_divider) * 1rem;


$answersState__userPhoto_size:(60 / $relative_size_divider) * 1rem;
$answersState__userPhoto_border:(1 / $relative_size_divider) * 1rem solid #dddee2;
$answersState__userPhoto_bg:#dddee2;
$answersState__userName_margin_left:#dddee2;


$leaderInfo__font_size_xs: (14 / $relative_size_divider) * 1rem;
$leaderInfo__bg_color_xs: #fff;
$leaderInfo__Foto_size:(60 / $relative_size_divider) * 1rem;
$leaderInfo__Foto_size_xs:(50 / $relative_size_divider) * 1rem;
$leaderInfo__Foto_border:(1 / $relative_size_divider) * 1rem solid #dddee2;
$leaderInfo__Foto_bg:#dddee2;

$leaderInfo__Score_shift:-(10 / $relative_size_divider) * 1rem;
$leaderInfo__Score_shift_xs:-(8 / $relative_size_divider) * 1rem;
$leaderInfo__Score_size:(36 / $relative_size_divider) * 1rem;
$leaderInfo__Score_border:(1 / $relative_size_divider) * 1rem solid #dddee2;
$leaderInfo__Score_bg:#F0F2F4;
$leaderInfo__Name_margin_left:(15 / $relative_size_divider) * 1rem;

$timeInfoMobile__Seconds_font_size: (18 / $relative_size_divider) * 1rem;
$timeInfoMobile__Seconds_margin_left: (7 / $relative_size_divider) * 1rem;

//==Animation Variables
$global-animation-time: .3s;
$global-animation-easing: ease-in-out;
$global-perspective: 1300px;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs: 480px;
$screen-xs-vertical: 400px;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min: $screen-xs;
$screen-xs-vertical-min: $screen-xs-vertical;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone: $screen-xs-min;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm: 768px;
$screen-sm-vertical: 700px;
$screen-sm-min: $screen-sm;
$screen-sm-vertical-min: $screen-sm-vertical;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet: $screen-sm-min;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md: 992px;
$screen-md-vertical: 900px;
$screen-md-min: $screen-md;
$screen-md-vertical-min: $screen-md-vertical;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop: $screen-md-min;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg: 1200px;
$screen-lg-vertical: 1200px;
$screen-lg-min: $screen-lg;
$screen-lg-vertical-min: $screen-lg-vertical;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop: $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

$screen-xs-vertical-max: ($screen-sm-vertical-min - 1);
$screen-sm-vertical-max: ($screen-md-vertical-min - 1);
$screen-md-vertical-max: ($screen-lg-vertical-min - 1);

$screen-hideMenu: 1061px;
$screen-hideMenu-min: $screen-hideMenu;
$screen-hideMenu-max: ($screen-hideMenu-min - 1);


