﻿@using PagedList.Mvc
@model WaveAccess.MyQuiz.WebUI.Models.InformationModel

@Html.AntiForgeryToken()
@Html.ValidationSummary()

<link href="~/Content/lecture.css" rel="stylesheet" />
<style>
    .verivalLine table tr td.desktop span[data-date-utc] {
        color: #e0dede;
        padding-left: 10px;
    }

    .verivalLine table tr td.time span {
        color: #cfd4fc;
    }
</style>

<script>
    function onSearchChange() {
        $('.closeButton').parent().addClass('search').removeClass('close');
    }
</script>

<form id="form" onsubmit="return searchValidate()">
    <div id="banner-list" class="centered">
        <div class="searchPanel">
            <div>
                <table>
                    <tr>
                        <td class="countContainer desktop">
                            <div>@Model.MessageList.Count()</div>
                        </td>
                        <td class="desktop" style="color:white;vertical-align:middle;width:0px;width: 1px;padding-right: 24px;"></td>
                        <td>
                            <input onkeydown="onSearchChange()" onkeypress="onSearchChange()" class="text-box single-line" id="search" name="search" type="text" value="@Model.Search">
                        </td>
                        <td class="desktop @(string.IsNullOrEmpty(Model.Search)?"search":"close")" style="vertical-align:middle; width:1px;padding-left:9px;">
                            <div class="closeButton" onclick="$('input#search').val(''); $(this).parents('form')[0].submit();"></div>
                            <div class="searchButton" onclick="searchSubmit($(this).parents('form')[0]);"></div>
                        </td>

                    </tr>
                </table>
            </div>
        </div>
        <div class="countContainer mobile">
            <div style="float:left">@Model.MessageList.Count()</div>
            <span>

            </span>

        </div>
        <div class="createButtonContainer banner" onclick="location.href = '/Information/Edit'">
            <a href="/Information/Edit" class="createButtonIcon">_</a>
            <a href="/Information/Edit" style="cursor: pointer; display: inline-block; background-color: #A4ACD0; line-height: 32px; border-radius: 32px; padding: 0px 12px; color: white;">
                @LocView.getLocalization("Create_new_banner")
            </a>
        </div>

        @{
            DateTime date = DateTime.MinValue;

            foreach (var banner in Model.Messages)
            {
                @Html.DisplayFor(l => banner, "BannerListItem")
            }
        }

    </div>
</form>

@section Scripts{
    <script type="text/javascript">
        function searchSubmit(form) {
            if (form && searchValidate()) {
                form.submit();
            }
        }

        function searchValidate() {
            if ($('input#search') && !!jQuery.trim($('input#search').val())) {
                return true;
            }

            return false;
        }

        function deleteBanner($this) {
            var $entityCount = $('.countContainer div');
            var searchString = $('#search').val();
            var id = $this.closest('.verivalLine').find('#banner_Id').val();
            $.ajax({
                url: '@Url.Action("DeleteBanner")',
                data: { id: id, searchString: searchString },
                success: function (result) {
                    if (result.success) {
                        $this.closest('.verivalLine').remove();
                        $entityCount.text(result.bannersCount);
                        SetBannersCountLocalization();
                    } else
                        console.log(result.message);
                },
                error: function(e) {
                    console.log(e);
                }
            });

            return false;
        }

        function SetBannersCountLocalization() {
            $('.countContainer div').each(function () {
                var $this = $(this);
                var titleDesktopContainer = $this.parent().next('td');
                var titleMobileContainer = $this.next('span');
                var iCount;
                var count = $this.text() % 100;
                if (count >= 11 && count <= 19) {
                    titleDesktopContainer.text('');
                    titleMobileContainer.text('');
                    titleDesktopContainer.append("@LocView.getLocalization("Banners")");
                    titleMobileContainer.append("@LocView.getLocalization("Banners")");
                } else {
                    iCount = count % 10;
                    switch (iCount) {
                        case (0):
                            titleDesktopContainer.text('');
                            titleMobileContainer.text('');
                            titleDesktopContainer.append("@LocView.getLocalization("Banners")");
                            titleMobileContainer.append("@LocView.getLocalization("Banners")");
                            break;
                        case (1):
                            titleDesktopContainer.text('');
                            titleMobileContainer.text('');
                            titleDesktopContainer.append("@LocView.getLocalization("Banner")");
                            titleMobileContainer.append("@LocView.getLocalization("Banner")");
                            break;
                        case (2):
                        case (3):
                        case (4):
                            titleDesktopContainer.text('');
                            titleMobileContainer.text('');
                            titleDesktopContainer.append("@LocView.getLocalization("Many_Banners")");
                            titleMobileContainer.append("@LocView.getLocalization("Many_Banners")");
                            break;
                        default:
                            titleDesktopContainer.text('');
                            titleMobileContainer.text('');
                            titleDesktopContainer.append("@LocView.getLocalization("Banners")");
                            titleMobileContainer.append("@LocView.getLocalization("Banners")");
                            break;
                    }
                }
            });
        }

        $(document).ready(function () {

            SetBannersCountLocalization();

            $(function () {
                $('[data-date-utc]').each(function () {
                    var $this = $(this);
                    var utc = moment.utc($this.text());
                    if (utc.isValid()) {
                        var localDate = utc.local().format("HH:mm");
                        $this.text(localDate);
                    }
                });
            });

        });

        function ShowError(element) {
            $(element).parent().children('span').fadeIn('fast').addClass('start-quiz-error');
            $(element).parent().next('span').fadeIn('fast').addClass('start-quiz-error');
            $(element).removeAttr('href');
        };
    </script>
}


<div class="paginator centered">
    @if (Model.Messages.PageCount > 1)
    {
        @Html.PagedListPager(Model.Messages, page => Url.Action("All", new { page }), new PagedListRenderOptions { MaximumPageNumbersToDisplay = 7 })
    }
</div>