﻿
@model WaveAccess.MyQuiz.WebUI.Models.InformationMessageViewModel

<link href="~/Content/ion.calendar.css" rel="stylesheet" />
<link href="~/Content/jquery.ptTimeSelect.css" rel="stylesheet" />
<link href="~/Content/responsive-pickers.css" rel="stylesheet" />
@Html.HiddenFor(model => model.Id, new { id = "bannerId" })

@using (Html.BeginForm("Edit", "Information", FormMethod.Post, new { id = "bannerForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Hidden("returnUrl")

    <input type="hidden" id="timezoneOffset" name="timezoneOffset" value="0" />
    <div class="breadcrumb centered">
        <a onclick="location.href='@Url.Action("All", "Information" )'">@LocView.getLocalization("Banner_List")</a> <span> ❯ @LocView.getLocalization("Edit_Banner")</span>
    </div>

    <div id="banner-container" class="centered">
        <div class="editor-subsection">

            <div class="editor-label editor-label-required">@Html.LabelFor(model => model.RussianMessage)</div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.RussianMessage, new { rows = 3 })
                @Html.ValidationMessageFor(model => model.RussianMessage)
            </div>

        </div>
        
        <div class="editor-subsection">

            <div class="editor-label editor-label-required">@Html.LabelFor(model => model.EnglishMessage)</div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.EnglishMessage, new { rows = 3 })
                @Html.ValidationMessageFor(model => model.EnglishMessage)
            </div>

        </div>

        <div class="pickers-block">
            <p class="banner-display">@LocView.getLocalization("Display_Banner")</p>

            <div class="editor-subsection time" style="text-align: left;">
                <div class="datepicker start-date">
                    <div class="editor-label editor-label-required">
                        @Html.LabelFor(model => model.StartDateUtc)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.StDate)
                        @Html.ValidationMessageFor(model => model.StDate)
                    </div>
                </div>
                <div class="timepicker">

                    <div class="editor-label editor-label-required">
                        @Html.LabelFor(model => model.StartTime)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.StTime)
                        @Html.ValidationMessageFor(model => model.StTime)
                    </div>
                </div>
            </div>

            <div class="editor-subsection time" style="text-align: right">
                <div class="datepicker">
                    <div class="editor-label editor-label-required">
                        @Html.LabelFor(model => model.EndDateUtc)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.EdDate)
                        @Html.ValidationMessageFor(model => model.EdDate)
                    </div>
                </div>
                <div class="timepicker end-time">

                    <div class="editor-label editor-label-required">
                        @Html.LabelFor(model => model.EndTime)
                    </div>
                    <div class="editor-field">

                        @Html.EditorFor(model => model.EdTime)
                        @Html.ValidationMessageFor(model => model.EdTime)
                    </div>
                </div>
            </div>
        </div>

        <div id="btn-block">
            <button class="basicButton basicButton--save" type="submit">@LocView.getLocalization("save")</button>
            <span>&nbsp;</span>
            <input type="button"
                   value="@LocView.getLocalization("cancel")"
                   onclick="location.href='@Url.Action("All", "Information" )'"
                   class="basicButton basicButton--cancel" />
            @if (Model != null && Model.Id > 0)
            {
                <span>&nbsp;</span>
                <button type="button"
                        class="basicButton basicButton--delete"
                        data-action-del>
                    @LocView.getLocalization("delete")</button>
            }

        </div>
    </div>
}
@section Scripts{
    <script src="@Html.UrlCdn("~/Scripts/jquery.timepicker.min.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dotdotdot")
    <script src="@Html.UrlCdn("~/Scripts/jquery.ptTimeSelect.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#timezoneOffset').val(moment().utcOffset());
            var language = "@LocView.Leng.ToString()";
            $.validator.defaults.ignore = "";

            $(".datepicker input").attr("readonly", "readonly");
            $(".timepicker input").attr("readonly", "readonly");

            $(".datepicker input")
                .ionDatePicker({
                    lang: language,
                    sundayFirst: false,
                    format: "MM.DD.YYYY"
                });

            var delay = 30;
            $(".timepicker input")
                .timepicker({
                    timeFormat: 'HH:mm',
                    minTime: '9:00',
                    maxTime: '23:00',
                    'dynamic': false,
                    // items in the dropdown are separated by at interval minutes
                    interval: delay
                });

            $('#EdTime').click(function () {
                if ($(window).width() <= 768) {
                    $('body .ui-timepicker-container').css('top', '370px');
                }
            });

            $('#StDate').click(function () {
                if ($(window).width() <= 768) {
                    $('body #ic__datepicker-1').css('top', '68px !important');
                }
            });

            $('#EdDate').click(function () {
                if ($(window).width() <= 768) {
                    $('body #ic__datepicker-2').css('top', '255px !important');
                }
            });

            Controls.OnCheckCustomSettingsValue();
        });
    </script>
}

<script type="text/javascript">
    $(function () {
        $('#timezoneOffset').val(moment().utcOffset());

        var $formDatetime = $(".timepicker input");

        $formDatetime.each(function () {
            var $this = $(this);
            var utc = moment.utc($this.val());
            if (utc.isValid()) {
                var localDate = utc.local().format("HH:mm");
                $this.val(localDate);
            }
        });

        $('[data-action-del]').on('click', function () {
            $.post('@Url.Action("Delete", "Information")', {
                'id': $('#bannerId').val(),
                '__RequestVerificationToken': this.form["__RequestVerificationToken"].value
            }, function (result) {
                if (result.success) {
                    location.href = '@Url.Action("All", "Information")';
                } else
                    console.log(result.message);
            });
        });
    });

</script>