﻿@using WaveAccess.MyQuiz.Model
@using WaveAccess.MyQuiz.WebUI.Models
@model IEnumerable<InformationMessageViewModel>
@{
    var messages = (Model ?? new List<InformationMessageViewModel>()).ToArray();
}
<style>
    .info-wrapper {
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        z-index: 9999;
        background: #964d4d;
        text-align: center;
    }
    .info-row {
        display: none;
        margin: 5px;
        padding: 5px;
        border-radius: 5px;
        color: #fff;
        font-size: 1rem !important;
    }
    
    .info-row .close {
        cursor: pointer;
        background: #ffffff;
        color: #000;
        height: 35px;
        width: 95px;
        padding: 5px;
        margin: 0;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        font-size: 1rem !important;
        font-weight:normal;
    }
    .info-row-cell {
        display: table-cell;
        vertical-align: middle;
    }

    .info-row-cell button{
        opacity:1;
    }
        .info-row-cell button:hover {
            opacity:1;
        }

    .info-message {
        white-space:pre-line;
    }
</style>
@if (messages.Any())
{
    <div class="info-wrapper">
        @foreach (var message in messages)
        {
            var expires = message.EndDateUtc.HasValue
                ? message.EndDateUtc.Value.ToString("u")
                : "";
            <div class="info-row" data-info-message="@message.Id">
                <div class="info-row-table">
                    <div class="info-row-cell" style="width: 100%">
                        <span class="info-message">@Html.Raw(message.Message)</span>
                    </div>
                    <div class="info-row-cell">
                        <button class="close" data-expires="@expires">@LocView.getLocalization("Close")</button>
                    </div>
                </div>
            </div>
        }
    </div>
}

<script>
    $(function () {
        var getCookieName = function(id) {
            return '@InformationMessageModel.CookieNamePrefix' + id;
        };
        var showMessages = function() {
            var mIds = [@string.Join(",", messages.Select(x => x.Id.ToString()))];
            $(mIds).each(function() {
                var messageId = this;
                var c = $.cookie(getCookieName(messageId));
                if (!c) {
                    $('[data-info-message=' + messageId + ']').fadeIn();
                }
            });
        };

        showMessages();

        $('.info-wrapper').on('click', '[data-info-message] .close', function() {
            var $this = $(this);
            var $message = $this.closest('[data-info-message]');
            var messageId = $message.attr('data-info-message');
            var d = (new Date).toISOString();
            var expiresAttr = $this.attr('data-expires');
            var expires = !!expiresAttr ? new Date(expiresAttr) : 365;
            $message.fadeOut(function() {
                $.cookie(getCookieName(messageId), d, { path: '/', expires: expires });
            });
        });
    });
</script>