﻿@model WaveAccess.MyQuiz.WebUI.Models.TopScoresViewModel
<script>
    function imageLoaded() {
        resize.call(this,true);
        $(this).addClass('loaded');
    }
    $(window).off('resize');
    $(window).resize(function () {
        resize(false);
    });
    var clientW = 0;
    function resize(element) {
        if (!element) {
            if ($(window).width() != clientW) {
                clientW = $(window).width();
                $('.the-photo img.loaded').each(function () {
                    resize.call(this, true);
                });
            }
        } else {
            var $this = $(this);
            var oHeight = this.naturalHeight;
            var oWidth = this.naturalWidth;
            $this.hide();
            //$this.parents('.current-game-body').css('min-height', '250px');
            setTimeout(function () {
                var pHeight = $this.parents('.current-game-body').height();
                var pWidth = $('.current-game-body.clearfix:first').width();
                //$this.parents('.current-game-body').css('min-height', null);
                var hm = pHeight / oHeight;
                var wm = pWidth / oWidth;
                var m = wm > hm ? hm : wm;
                $this.parent().css({ height: oHeight * m - 20 + 'px ', width: oWidth * m - 20 + 'px' });
                $this.show();
            });

        }
    }
    $(function () {
        var deferredDocumentRady = $.Deferred();
        var deferredAjaxComlete = $.Deferred();
        var data = null;
        $(document).ready(function () { deferredDocumentRady.resolve(); });
        $.ajax({
            url: '/Archive/ArchiveStatistic/@ViewBag.Id ',
            success: function (result) {
                data = result;
                deferredAjaxComlete.resolve();
            }
        });

        $.when(deferredAjaxComlete.promise(), deferredDocumentRady.promise())
            .done(function () {
                if (data.showStatistic) {
                    for (var i = 0; i < data.result.length; i++) {
                        var item = data.result[i];
                        var li = $('ul').children('li').children('input[value="' + item.id + '"]').parent().addClass('precent');
                        li.children('label').css({ display: 'table', 'table-layout': 'fixed' }).append('<div class="CountAndPercent">' + item.count + ' <br/>(' + item.percent + '%)</div>');
                    }
                };
            });
    });
</script>
<style type="text/css">
    html
    {
        padding-bottom:20px;
    }
    .CountAndPercent
    {
        display: table-cell;
        width: 80px;
        vertical-align: middle;
        text-align: center;
        border-left:2px solid;
        font-size:80%;
        color:white;
    }
   
    #question-info-container li.precent label:not(.is-correct) .CountAndPercent
    {
        border-color:rgb(154,160,184)
    }
    #question-info-container li.precent .posrel.answerSecondCol
    {
        display: table-cell;
        padding: 13px 13px 13px 60px;
        vertical-align:middle;
    }
        #question-info-container li.precent .posrel.answerSecondCol p
        {
            display:block;
        }
    .homepage
    {
        padding-bottom:10px;
    }
    .wrapper
    {
        border:none;
    }
    body .questions-count-container .questions-count
    {
        float:right;
        position:relative;
        color:#8DCDEB !important;
        margin-top:10px !important;
        margin-bottom:10px;
        font-weight: bold;
        clear:both;
        right: 0;
        font-size: 13px;
    }
    .questions-count-container
    {
        max-width: 1120px !important;
    }
    #question-info-container
    {
        width:50%;
        float:left;
        padding:0px;
        font-weight: bold;
    }
    .current-game-body
    {
        width: 40%;
        float: right;
        clear: left;
        height:253px;
    }
        .current-game-body .Photobg
        {
            border-radius: 10px;
            background-size: cover;
            background-image: url('/Images/Question Picture BG.png');
            width: 100%;
            height: 100%;
            position: absolute;
            right: 0px;
            top: 0px;
            margin: 0px;
            float: right;
        }
        .current-game-body .the-photo
        {
            margin: 0px;
            position: relative;
            margin:auto;
            padding-right: 20px;
        }
    #question-info-container li
    {
        color: white;
        margin-bottom: 0px;
        padding: 3px 3px 3px 0px;
        background-size: cover;
       
    }
        #question-info-container li label
        {
            background-color: rgba(0, 0, 0, 0.13);
            border-radius: 5px;
            border: 3px solid;
            border-color: transparent;
            width: 100%;
            min-height: 55px;
        }
        #question-info-container li:last-child
        {
            margin-bottom: 0px;
        }

        #question-info-container li .posrel.answerSecondCol
        {
            padding: 13px 35px 13px 60px;
            font-size: 24px !important;
        }
    .absCheck
    {
        display:none !important;
    }
    .homepage.homepage-question, .current-game-body.clearfix
    {
        background: transparent !important;
        padding: 0px;
    }
    .homepage.homepage-question
    {
        padding:0px 15px;
    }
     body
    {
        font-weight: bold;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #question-info-container-answers-container input[type="checkbox"]:checked + label
    {
        background-color:#468DAE;
       border-color:rgba(255, 255, 255, 0.72);
    }
    #answer-button.active
    {
        opacity: 1;
        /*background-image: url(/Images/answer-button-pushed.png);*/
    }
    #question-info-container-answers-container input[type="checkbox"]:checked + label #number-answer,
    #question-info-container-answers-container input[type="checkbox"] + label.is-correct,
    #question-info-container-answers-container input[type="checkbox"] + label.is-correct #number-answer
    {
       border-color:rgba(255, 255, 255, 0.72) !important;
    }
    .is-correct
    {
        background-color:#87C97F !important;
    }
    .is-wrong
    {
        background-color:#C65252 !important;
    }
    .disabled
    {
        opacity:0.4;
    }
    .leader-container
    {
        position:relative;
        display: table-cell;
        padding: 20px 25px;
        vertical-align: top;
    }
    .leader-container>div
    {
        position:relative;
        display:table-row;
        height:130px;
        width:260px;
        
    }
    .top-5-name > div
    {
        height: 50%;
        width: 70% !important;
        position: absolute;
        right: 20px;
        top: 25%;
        border-radius: 4px;
        background: rgba(0, 0, 0, 0.14);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
    .top-5-name
    {
        padding: 0px 10px;
        height:100%;
        display: table-cell;
        vertical-align: middle;
        /*text-transform: uppercase;*/
        font-weight: bold;
        color: #DEE7E9;
        text-align: center;
        width: 165px;
        word-wrap: break-word;
    }
    .photo-container
    {
        position: relative;
        z-index: 10;
        width:130px;
        height:130px;
        background-size:cover;
        background-image: url('/Images/Leader BG.png');
    }
        .photo-container .leaderboard-individual-item-score
        {
            width: 50px;
            height: 50px;
            padding: 0px;
            line-height: 50px;
            color: #4C6F9A;
            background-size: 100% 100%;
            font-weight: bold;
            background-image: url('/Images/Leaderboard score BG.png');
            background-color:transparent;
            position: absolute;
            right: -16px;
            bottom: 12px !important;
            top:auto !important;
        }
        .photo-container .the-photo
        {
            width: 100px;
            height: 100px;
            border: none;
            position: absolute;
            left: 16px;
            top: 16px;
        }
    .Individuals-top-list-container,
    .User-Answers-Are-Processed
    {
        display:table;
    }
    .Individuals-top-list-title-container h3,
    .User-Answers-Are-Processed h3
    {
        padding-top: 30px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        color: #DEE7E9;
    }

    .question-text {
        display: none !important;
    }
</style>
<link href="~/Content/responsive-v2.css" rel="stylesheet" />
@section styles {
    @Styles.Render("~/Content/leaderboard/owner/css")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/archive/leaderboard/js")
}
@if (Model.QuizType == WaveAccess.MyQuiz.Model.QuizType.Survey)
{
    @Html.Partial("../Game/GamePartials/PartialLeadersBoardListSurvey", Model)
}
else
{
    @Html.Partial("../Game/GamePartials/PartialLeadersBoardList")
}

@if (Model.UserAnswersAreProcessed)
{
    @Html.Action("History", new { Id = ViewBag.Id })
}
else
{
    <div class="User-Answers-Are-Processed centered">
        <h3>@LocView.getLocalization("UserAnswersAreProcessed")</h3>
    </div>
}