﻿@using WaveAccess.EventGame.Services
@using WaveAccess.MyQuiz.WebUI
@model List<WaveAccess.MyQuiz.WebUI.Controllers.QuestionInfoHistory>
@{
    Layout = null;
}
@Styles.Render("~/Content/plugins/amp")
@Scripts.Render("~/bundles/plugins/amp")

<link href="~/Content/responsive-v2.css" rel="stylesheet" />
<div class="homepage homepage-question tap-highlight-transparent">
    <div class="centered">
        <div class="wrapper">
            <div class="current-game">
                @foreach(var i in Model){
                    { ViewBag.AnswersIds = i.AnswersIds; }
                    <div id="currentQuestion-info-container">
                       @Html.DisplayFor(m => i)
                    </div>
                }
            </div>
        </div>

    </div>

</div>




