﻿@model List<WaveAccess.MyQuiz.Model.Archive>

@Html.AntiForgeryToken()
@Html.ValidationSummary()

<style>
    
</style>

<div id="company-list" class="centered">
    @{
        DateTime date = DateTime.MinValue;

        foreach (var lecture in Model)
        {
            <div style="color: #62BAEE; font-size: 45px; line-height: 45px; margin-right: 13px; margin: 0 13px 20px 13px;">@lecture.Date.ToString("d MMM yy")</div>
            date = lecture.Date;

            @Html.DisplayFor(l => lecture, "ArchiveListItem")
        }
    }
    @if (!Model.Any())
    {
        <h3 style="text-align: center;">@LocView.getLocalization("No_entries_found")</h3>
    }

</div>