﻿@using PagedList
@using PagedList.Mvc
@using WaveAccess.MyQuiz.Model
@using WaveAccess.MyQuiz.WebUI.Controllers
@model WaveAccess.MyQuiz.WebUI.Models.ArchiveModel

@Html.AntiForgeryToken()
@Html.ValidationSummary()
<link href="~/Content/lecture.css" rel="stylesheet" />

<style>
    .verivalLine table tr td.desktop span.weekDay {
        color: #e0dede;
    }

    .verivalLine table tr td.time span {
        color: #cfd4fc;
    }
</style>
<i class="ajaxLoader"></i>
<div id="circleG">
    <div id="circleG_1" class="circleG"></div>
    <div id="circleG_2" class="circleG"></div>
    <div id="circleG_3" class="circleG"></div>
</div>
<form id="form" onsubmit="return searchValidate()">
    <div id="lecture-list" class="centered archive">
        <div class="searchPanel">
            <div>
                <table>
                    <tr>
                        <td class="countContainer desktop">
                            <div>@Model.ArchiveList.Count</div>
                        </td>
                        <td class="desktop" style="color: white; vertical-align: middle; width: 0px; width: 1px; padding-right: 24px;"></td>
                        <td>
                            <input onkeypress="onSearchChange()"
                                   class="text-box single-line"
                                   id="@Html.IdFor(m => m.Search)"
                                   name="@Html.NameFor(m => m.Search)"
                                   type="text"
                                   value="@Model.Search"/>
                        </td>
                        <td class="desktop @(string.IsNullOrEmpty(Model.Search) ? "search" : "close")" style="vertical-align: middle; width: 1px; padding-left: 9px;">
                            <div class="closeButton" onclick="$('input#@Html.IdFor(m => m.Search)').val(''); $(this).parents('form')[0].submit();"></div>
                            <div class="searchButton" onclick="searchSubmit($(this).parents('form')[0]);"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="countContainer mobile">
            <div style="float: left">@Model.ArchiveList.Count</div>
            <span>

            </span>

        </div>
        @{
            foreach (var archive in Model.Archives)
            {
                @Html.DisplayFor(l => archive, "ArchiveListItem_new")
            }
        }

        <div class="paginator centered">
            @if (Model.Archives.PageCount > 1)
            {
                @Html.PagedListPager(Model.Archives, page => Url.Action("Index", new { archivePage = page }), new PagedListRenderOptions() { MaximumPageNumbersToDisplay = 7 })
            }
        </div>
    </div>
</form>

@section Scripts{
    <script type="text/javascript">
        function onSearchChange() {
            $('.closeButton').parent().addClass('search').removeClass('close');
        };

        function searchSubmit(form) {
            if (form && searchValidate()) {
                form.submit();
            }
        }

        function searchValidate() {
            var search = $('input#@Html.IdFor(m => m.Search)').val();
            $('input#@Html.IdFor(m => m.Search)').val(jQuery.trim(search));

            if ($('input#@Html.IdFor(m => m.Search)') && !! $('input#@Html.IdFor(m => m.Search)').val()) {
                return true;
            }

            return false;
        }

        function deleteArchive($this) {
            var $entityCount = $('.countContainer div');
            var searchString = $('#@Html.IdFor(m => m.Search)').val();
            var id = $this.closest('.verivalLine').find('#archive_Id').val();
            $.ajax({
                url: '/Archive/DeleteArchive',
                data: { id: id, searchString: searchString },
                success: function (result) {
                    if (result.success) {
                        $this.closest('.verivalLine').remove();
                        $entityCount.text(result.archivesCount);
                        SetArchiveCountLocalization();
                    } else
                        console.log(result.message);
                },
                error: function () { }
            });

            return false;
        };

        function createArchiveReport($this, reportOption, reportURL) {
            var encoding = '';
            if (!!navigator.platform && /iPad|iPhone|iPod/.test(navigator.platform) || navigator.language === 'en-US') {
                encoding = "utf-8";
            } else {
                encoding = "windows-1251";
            }

            var id = $this.closest('.verivalLine').find('#archive_Id').val();
            $.ajax({
                url: reportURL,
                data: { id: id, encoding: encoding, reportOption: reportOption },
                ajaxBeforeSend: showDownloadReportButtonLoader($this),
                success: function (data) {
                    window.location = '/Report/GetReport?id=' + id + "&reportOption=" + reportOption;
                    console.log("Report created successfully");
                    hideDownloadReportButtonLoader($this);
                    hideChoosingType($this);
                },
                error: function (error) {
                    console.error('Smth was wrong ' + error.d);
                }
            });
        }

        function getArchiveReport(id, option) {
            $.ajax({
                url: '/Report/GetReport',
                method: 'GET',
                dataType: 'binary',
                data: { id: id, reportOption: option },
                success: function (result) {
                    window.location = result;
                    console.log("Get success");
                },
                error: function (error) {
                    console.log("Get failed " + error.responseText);
                }
            });
        }

        function hideChoosingType($this) {
            $this.parents().find('.choose').removeClass('choose');
        }

        function SetArchiveCountLocalization() {
            $('.countContainer div').each(function () {
                var $this = $(this);
                var titleDesktopContainer = $this.parent().next('td');
                var titleMobileContainer = $this.next('span');
                var iCount;
                var count = $this.text() % 100;
                if (count >= 5 && count <= 19) {
                    titleDesktopContainer.text('');
                    titleMobileContainer.text('');
                    titleDesktopContainer.append("@LocView.getLocalization("Many_Archives")");
                    titleMobileContainer.append("@LocView.getLocalization("Many_Archives")");
                } else {
                    iCount = count % 10;
                    switch (iCount) {
                        case (0):
                            titleDesktopContainer.text('');
                            titleMobileContainer.text('');
                            titleDesktopContainer.append("@LocView.getLocalization("Many_Archives")");
                            titleMobileContainer.append("@LocView.getLocalization("Many_Archives")");
                            break;
                        case (1):
                            titleDesktopContainer.text('');
                            titleMobileContainer.text('');
                            titleDesktopContainer.append("@LocView.getLocalization("Archive")");
                            titleMobileContainer.append("@LocView.getLocalization("Archive")");
                            break;
                        case (2):
                        case (3):
                        case (4):
                            titleDesktopContainer.text('');
                            titleMobileContainer.text('');
                            titleDesktopContainer.append("@LocView.getLocalization("Archives")");
                            titleMobileContainer.append("@LocView.getLocalization("Archives")");
                            break;
                        default:
                            titleDesktopContainer.text('');
                            titleMobileContainer.text('');
                            titleDesktopContainer.append("@LocView.getLocalization("Many_Archives")");
                            titleMobileContainer.append("@LocView.getLocalization("Many_Archives")");
                            break;
                    }
                }
            });
        }

        function hideXlsButtonForIos() {
            var isiPad = /ipad/i.test(navigator.userAgent.toLowerCase());
            var isiPhone = /iphone/i.test(navigator.userAgent.toLowerCase());
            var isiPod = /ipod/i.test(navigator.userAgent.toLowerCase());
            var isWindowsPhone = /windows phone|iemobile|WPDesktop/i.test(navigator.userAgent.toLowerCase());

            if ((isiPod || isiPhone) && !isWindowsPhone) {
                $('.choose-report-type-excel').addClass('hide');
            } else if (isiPad) {
                $('.report--xls').parent('.dropDownButton__menuItem').addClass('hide');
            }
        }

        function showDownloadReportButtonLoader(button) {
            $(button).children('.downloadReport').children('span').addClass('hide');
            $(button).children('.downloadReport').children('.cssload-container').addClass('show');
        }

        function hideDownloadReportButtonLoader(button) {
            $(button).children('.downloadReport').children('span').removeClass('hide');
            $(button).children('.downloadReport').children('.cssload-container').removeClass('show');
        }

        function convertToLocalTime() {
            var format = new String();
            var locale = "@LocView.Leng.ToString()".toLowerCase();
            switch (locale) {
                case "ru":
                case "ru-ru":
                    format = 'HH:mm';
                    break;
                default:
                    format = 'hh:mm A'
            }
            console.log(format);
            $('span[utc-datetime-value]').each(function (index, element) {
                var span = $(this);
                var utcTimeString = span.attr('utc-datetime-value');
                var localTime = moment.utc(utcTimeString).local();
                span.text(localTime.locale(locale).format(format));
            });
        };

        $(document).ready(function () {
            SetArchiveCountLocalization();
            hideXlsButtonForIos();
            convertToLocalTime();
        });

        $(document).ajaxStart(function () {
            $(".ajaxLoader").show();
            $('#circleG').show();
        }).ajaxStop(function () {
            $(".ajaxLoader").hide();
            $('#circleG').hide();
        });

    </script>
}