﻿@import "../../variables.scss";



.layout {
    &__Header.layout__Header--leaders {
        background: $layout__Header_background__leaders;

        @media (max-width: $screen-xs-max) {
            background: $layout__Header_background;
        }
    }
}

.bodyLayout {
    &.bodyLayout--leaders {
        flex-flow: column;
    }
}

.leaderResults {
    position: relative;

    @media (max-width: $screen-xs-max) {
        padding: 0;
        margin: 0;
    }

    &__Container {
        position: relative;
    }

    &__Data {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        @media (max-width: $screen-xs-max) {
            position: initial;
            bottom: auto;
            left: auto;
            right: auto;
        }
    }
}

.resultHeader {
    display: flex;
    width: 100%;
    position: relative;
    height: 238 * $px;

    @media (max-width: $screen-xs-max) {
        background: $layout__Header_background__leaders_xs;
        background-size: 100%;
    }


    &__Content {
        display: flex;
        flex-direction: column;

        @media (min-width: $screen-sm-min) {
            position: absolute;
            right: 0;
            width: 55%;
        }

        @media (max-width: $screen-xs-max) {
            flex-grow: 1;
        }
    }

    &__Text {
        display: flex;
        justify-content: center;
        font-size: 30 * $px;
        font-weight: $font_weight_bold;
        letter-spacing: 5 * $px;
        color: #fff;
        white-space: nowrap;
        margin-bottom: $margin_default_md;
        text-transform: uppercase;

        @media (max-width: $screen-xs-max) {
            display: none;
        }
    }

    &__Result {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;

        @media (max-width: $screen-xs-max) {
            flex-grow: 1;
        }
    }

    &__ExitBlock {
        position: absolute;
        bottom: 40 * $px;
        right: 0;

        @media (max-width: $screen-xs-max) {
            display: none;
        }
    }
}

.prizeHeader {
    width: 100%;
    position: relative;
    min-height: 238 * $px;
    top: -80 *$px;

    @media (max-width: $screen-xs-max) {
        background: $layout__Header_background__leaders_xs;
        background-size: cover;
        top:0;
    }


    &__Content {
        color: #fff;

        @media (min-width: $screen-sm-min) {
            position: absolute;
            left: 43%;
            max-width: 420 * $px;
        }

        @media (min-width: $screen-md-min) {
            position: absolute;
            left: 55%;
            max-width: 420 * $px;
        }

        @media (max-width: $screen-xs-max) {
            flex-grow: 1;
        }
    }
}

.prizeSendEmail {
    @media (max-width: $screen-xs-max) {
        text-align: center;
        padding: 30 * $px 15 * $px;
    }

    &__Header {
        color: #FBC64A;
        font-weight: bold;
        margin-bottom: $margin_default_md_text;

        @media (max-width: $screen-xs-max) {
            font-size: 20 * $px;
        }
    }

    &__Text {
        margin-bottom: 5 * $px;

        @media (max-width: $screen-xs-max) {
            text-align: center;
        }
    }

    &__Speaker--Contacts {
        line-height: 20px;

        & .icon-phone-receiver {

            &:before {
                padding-right: 5px;
                font-size: 12px;
                position: relative;
                top: 0;
            }
        }

        & .icon-close-envelope {
            margin-left: 10px;

            &:before {
                padding-right: 5px;
                font-size: 13px;
                position: relative;
                top: 2px;

                @media (max-width: $screen-xs-max) {
                    top:2px !important;
                }

                @media (max-width: $screen-md-max) {
                    top: 0px;
                }
            }
        }

        @media (max-width: $screen-xs-max) {
            text-align: center;
        }
    }

    &__Form {
        margin-top: $margin_default_md;
    }

    &__SuccessResult {
        position: relative;
    }

    &__SuccessResultHeader {
        color: #FBC64A;
        font-weight: bold;
        margin-top: 40 * $px;
        margin-bottom: $margin_default_md_text;

        @media (max-width: $screen-xs-max) {
            font-size: 18 * $px;
        }
    }

    &__SuccessResultIcon {
        color: #FBC64A;
        position: absolute;
        top: -7 * $px;
        left: -50 * $px;
        font-size: 30 * $px;

        @media (max-width: $screen-xs-max) {
            display: none;
        }

        &--xs {
            display: none;

            @media (max-width: $screen-xs-max) {
                display: inline;
            }
        }
    }

    &__EmailInput {
        width: 280 * $px !important;

        @media (max-width: $screen-xs-max) {
            width: 100% !important;
        }
    }

    &__SendButton {
        @media (max-width: $screen-xs-max) {
            margin-top: 10 * $px;
            width: 100% !important;
        }
    }
}


    .yourResult {
        display: flex;
        flex-flow: row nowrap;

        @media (max-width: $screen-xs-max) {
            flex-flow: column;
        }

        &__FotoCol {
            display: flex;
            margin-right: $margin_default_md;

            @media (max-width: $screen-xs-max) {
                margin-bottom: 15 * $px;
                margin-right: 0;
                justify-content: center;
            }
        }

        &__Foto {
            display: inline-block;
            width: 80 * $px;
            height: 80 * $px;
            border-radius: 80 * $px;
            border: 8 * $px solid #647188;
            background-color: #dddee2;
            background-size: cover;

            @media (max-width: $screen-xs-max) {
                width: 85 * $px;
                height: 85 * $px;
                border-radius: 85 * $px;
            }
        }

        &__InfoCol {
            display: flex;
            flex-grow: 1;
            align-items: center;
        }

        &__Info {
            display: flex;
            flex-flow: column;
        }


        &__Name {
            display: flex;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            min-width: 0;
            font-weight: $font_weight_bold;
            font-size: 18 * $px;
        }

        &__PositionRow {
            display: flex;
            flex-flow: row nowrap;
            margin-top: 10 * $px;
            margin-bottom:10*$px;
        }

        &__PlaceCol {
            display: flex;
            flex-flow: row nowrap;
            padding-right: $margin_default_small;
            align-items: baseline;
        }

        &__Place {
            font-size: 30 * $px;
            vertical-align: bottom;
            font-weight: $font_weight_bold;

            @media (max-width: $screen-xs-max) {
                font-size: 22 * $px;
            }
        }

        &__PlaceText {
            font-size: 16 * $px;
        }

        &__SeparatorCol {
            display: flex;
            background-color: #fff;
            width: 1 * $px;
            height: 30 * $px;
            margin-top: 5 * $px;

            @media (max-width: $screen-xs-max) {
                height: 22 * $px;
            }
        }

        &__ScoreCol {
            display: flex;
            flex-flow: row nowrap;
            padding-left: $margin_default_small;
            align-items: baseline;
        }

        &__Score {
            font-size: 30 * $px;
            font-weight: $font_weight_bold;

            @media (max-width: $screen-xs-max) {
                font-size: 22 * $px;
            }
        }

        &__ScoreText {
            font-size: 16 * $px;
        }
    }

    .leaderBoardLayout {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        flex-flow: column;
        position:relative;

        @media (max-width: $screen-xs-max) {
            flex-grow: 0;
        }
    }

    .leaderBoard {
        border: $border_default;
        border-radius: $border_default_radius;
        display: flex;
        flex-grow: 1;
        flex-flow: column;
        background-color: #fff;
        padding: 20 * $px 20 * $px;

        @media (max-width: $screen-xs-max) {
            border: none;
            border-radius: 0;
            background-color: rgba(0,0,0,0);
            padding: 0;
        }

        &__NoLeaders {
            display: none;
            font-size: 40 * $px;
            text-align: center;

            @media (max-width: $screen-xs-max) {
                margin-top: 30 * $px;
                font-size: 16 * $px;
            }
        }


        &__List {
            display: flex;
            flex-grow: 1;
            flex-flow: row;

            @media (max-width: $screen-md-min) {
                flex-flow: column !important;
            }
        }

        &__LeftCol {
            display: flex;
            flex-flow: column;
            flex-grow: 1;
            flex-basis: 0;
            padding-right: 20 * $px;

            @media (max-width: $screen-md-min) {
                padding-right: 0;
                flex-grow: 1;
                flex-basis: auto;
            }
        }

        &__RightCol {
            display: flex;
            flex-flow: column;
            flex-grow: 1;
            flex-basis: 0;
            padding-left: 20 * $px;
            border-left: solid #F3F3F4 1 * $px;

            @media (max-width: $screen-md-min) {
                padding-left: 0;
                border-left: 0;
                flex-grow: 1;
                flex-basis: auto;
            }
        }
    }

    .leaderPositionInfo {
        border-bottom: solid #F3F3F4 1 * $px;
        padding-bottom: 10 * $px;
        margin-top: 10 * $px;
        margin-left: 20 * $px;
        margin-right: 20 * $px;

        @media (max-width: $screen-xs-max) {
            padding-bottom: 0;
            margin-top: 0;
            margin-left: 0;
            margin-right: 0;
            background-color: #fff;
        }


        &__PositionRow {
            display: flex;
            flex-flow: row nowrap;
            padding: 10 * $px 10 * $px 10 * $px 31 * $px;
            margin-left: -20 * $px;
            margin-right: -20 * $px;

            @media (max-width: $screen-xs-max) {
                margin-left: 0;
                margin-right: 0;
                padding: 15 * $px;
            }
        }

        &__PositionCol {
            display: flex;
            align-items: center;
            min-width: 40 * $px;

            @media (max-width: $screen-xs-max) {
                min-width: 25 * $px;
            }
        }

        &__Position {
            display: flex;
            font-size: 24 * $px;
            font-weight: $font_weight_bold;

            @media (max-width: $screen-xs-max) {
                font-size: 18 * $px;
            }
        }

        &__FotoCol {
            display: flex;
            align-items: center;
            margin-right: 20 * $px;
        }

        &__Foto {
            display: inline-block;
            border: 1 * $px solid #dddee2;
            background-color: #dddee2;
            width: 60 * $px;
            height: 60 * $px;
            border-radius: 60 * $px;
            background-size: cover;

            @media (max-width: $screen-xs-max) {
                width: 50 * $px;
                height: 50 * $px;
                border-radius: 50 * $px;
            }
        }

        &__NameCol {
            display: flex;
            flex-grow: 1;
            align-items: center;
            position: relative;

            @media (max-width: $screen-xs-max) {
                margin-right: 15 * $px;
            }
        }



        &__Name {
            font-size: 18 * $px;
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            line-height: 60 * $px;
            min-width: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            @media (max-width: $screen-xs-max) {
                font-size: 14 * $px;
                line-height: 49 * $px;
            }
        }

        &__BadgeCol {
            display: none;

            @media (max-width: $screen-xs-max) {
                display: flex;
                align-items: center;
                margin-right: 15 * $px;
            }
        }

        &__Badge {
            font-size: 20 * $px;
        }

        &__ScoreCol {
            display: flex;
            align-items: center;
        }

        &__Score {
            display: inline-block;
            background-color: #F3F4F4;
            min-width: 50 * $px;
            border-radius: 25 * $px;
            line-height: 30 * $px;
            text-align: center;
            font-weight: $font_weight_bold;
            font-size: 20 * $px;

            @media (max-width: $screen-xs-max) {
                font-size: 16 * $px;
            }
        }
    }

    .leaderBoard__LeftCol {
        @media (min-width: $screen-sm-min) {
            & > .leaderPositionInfo:nth-of-type(1) {
                & > .leaderPositionInfo__PositionRow {
                    background-color: #FDD67C;
                    border-radius: $border_default_radius;
                    box-shadow: #E2E2E2 0 * $px 5 * $px 6 * $px;

                    .leaderPositionInfo__Score {
                        background-color: #FEEFCB;
                    }
                }
            }

            & > .leaderPositionInfo:nth-of-type(2) {

                & > .leaderPositionInfo__PositionRow {
                    border-radius: $border_default_radius;
                    box-shadow: #E2E2E2 0 * $px 5 * $px 6 * $px;
                    background-color: #F3F3F4;

                    .leaderPositionInfo__Score {
                        background-color: #FDFDFD;
                    }
                }
            }

            & > .leaderPositionInfo:nth-of-type(3) {
                & > .leaderPositionInfo__PositionRow {
                    border-radius: $border_default_radius;
                    box-shadow: #E2E2E2 0 * $px 5 * $px 6 * $px;
                    background-color: #F8F8F8;

                    .leaderPositionInfo__Score {
                        background-color: #FEFEFE;
                    }
                }
            }
        }

        @media (max-width: $screen-xs-max) {
            & > .leaderPositionInfo:nth-of-type(1) {
                .leaderPositionInfo__Badge {
                    color: #FDD67C;
                }

                .leaderPositionInfo__Badge:before {
                    content: "\44";
                }
            }

            & > .leaderPositionInfo:nth-of-type(2) {
                .leaderPositionInfo__Badge {
                    color: #CED2D4;
                }

                .leaderPositionInfo__Badge:before {
                    content: "\44";
                }
            }

            & > .leaderPositionInfo:nth-of-type(3) {
                .leaderPositionInfo__Badge {
                    color: #C9A47B;
                }

                .leaderPositionInfo__Badge:before {
                    content: "\44";
                }
            }
        }
    }

    .promoLeaders {
        margin-top: 10 * $px;
        background-color: $infoBlock_background_color;
        border-radius: $border_default_radius;

        &__Block {
            display: flex;
            padding: 20 * $px;
        }

        &__Image {
            padding-right: 20 * $px;

            & > img {
                max-width: 100 * $px;
                border-radius: 0.25rem;
            }
        }

        &__Text {
            font-size: 15 * $px;

            & > p {
                margin: 0;
            }
        }

        &__Notification {
            display: none;
            color: #666;
            border-bottom: 1px solid #E7E8E9;
            padding: 20 * $px;
        }
    }
    .linkToBookmarks{
        display:none;
        &  img{
            vertical-align: middle;
            display: inline-block;
            margin-top:10*$px;
        }
        & a{
            vertical-align: middle;
            display: inline-block;
            color:white;
            text-decoration:underline;
            margin-top:10*$px;
        }
    }