﻿@using WaveAccess.MyQuiz.Common.Enums
@using WaveAccess.EventGame.Common.CodeHelpers
@using WaveAccess.MyQuiz.WebUI.app.game.stages.leaders;
@using WaveAccess.MyQuiz.WebUI.app.game.stages.wait;

@model WaveAccess.MyQuiz.WebUI.Models.GameViewModel

<div id="stage__Leaders" class="layout__Content layout__Content--leaders" style="display:none;">
    <div class="layout__Header layout__Header--leaders ">
        <div class="headerText visible-xs">@leaders.LeaderBoard</div>
    </div>
    <div class="leaderResults container">
        <div class="leaderResults__Container">
            <div class="leaderResults__Data">
                @if (Model.IsOwner)
                {
                    <div class="resultHeader hidden-xs">
                        <div class="resultHeader__Content">
                            <div class="resultHeader__Text">@leaders.LeaderBoard</div>
                        </div>
                        <div class="resultHeader__ExitBlock">
                            <a href="@Url.Action("Index", "Lectures")" class="btn btn-transparentWhite">@leaders.ToQuizzesList</a>
                        </div>
                    </div>
                }
                else
                {
                    <div id="resultHeader" class="resultHeader" style="display:none;">
                        <div class="resultHeader__Content">
                            <div class="resultHeader__Text">@leaders.YourResult</div>
                            <div class="resultHeader__Result">
                                <div>
                                    <div class="yourResult">
                                        <div class="yourResult__FotoCol">
                                            <div id="yourResult__Foto" class="yourResult__Foto"></div>
                                        </div>
                                        <div class="yourResult__InfoCol">
                                            <div class="yourResult__Info">
                                                <div id="yourResult__Name" class="yourResult__Name">

                                                </div>
                                                <div id="yourResult__PlaceScore" class="yourResult__PositionRow">
                                                    <div class="yourResult__PlaceCol">
                                                        <span id="yourResult__Place"
                                                              wa-id="yourResult__Place"
                                                              class="yourResult__Place"></span>&nbsp;
                                                        <span class="yourResult__PlaceText">@leaders.Place</span>
                                                    </div>
                                                    <div class="yourResult__SeparatorCol">
                                                    </div>
                                                    <div class="yourResult__ScoreCol">
                                                        <span id="yourResult__Score"
                                                              wa-id="yourResult__Score"
                                                              class="yourResult__Score"></span>&nbsp;
                                                        <span id="yourResult__ScoreText" class="yourResult__ScoreText"></span>
                                                    </div>
                                                </div>
                                                <div id="yourResult__Not__Answer" class="yourResult__PositionRow" style="display:none;">
                                                    @Localization.Current.getLocalization("YourResult_Not_Answer")
                                                </div>
                                                <div class="linkToBookmarks" style="display:none">
                                                    <img src="@Html.UrlCdn("~/app/images/leaderboard/Star.png")" /> <a href="@Url.Action("Index","Bookmark")">@leaders.SelectedBookmarks</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="prizeHeader" class="prizeHeader" style="display:none;">
                        <div class="prizeHeader__Content">
                            <div class="prizeSendEmail">
                                <div id="prizeSendEmail__Info">
                                    <div class="prizeSendEmail__Header">
                                        <span>@leaders.WinnerCode_Congratulations_0</span>
                                        <br class="visible-xs" />
                                        <span>@leaders.WinnerCode_Congratulations_1</span>
                                        <b id="prizeSendEmail__Place"></b><sup id="prizeSendEmail__PlaceSuffix"></sup>
                                        <span>@leaders.WinnerCode_Congratulations_2</span>
                                    </div>
                                    <div class="prizeSendEmail__Text">
                                        <span>@leaders.WinnerCode_ToGetPrize</span>
                                        <b id="prizeSendEmail__WinnerCode"></b>
                                    </div>

                                    <div class="prizeSendEmail__Speaker--Contacts">
                                        <span>@leaders.Speaker_Contact_Info</span>
                                        <div class="form-inline">
                                            <b id="speaker__ContactsPhone" class="icon-phone-receiver">@Model.ContactPhone</b>
                                            <b id="speaker__ContactsEmail" class="icon-close-envelope">@Model.ContactEmail</b>
                                        </div>
                                    </div>

                                    <div class="prizeSendEmail__Text">
                                        <span>@leaders.WinnerCode_OrSendToEmail</span>
                                    </div>
                                    <div class="prizeSendEmail__Form">
                                        <div class="form-inline">
                                            <input id="prizeSendEmail__EmailInput" type="text" class="form-control input-sm prizeSendEmail__EmailInput" />
                                            <button id="prizeSendEmail__SendButton" type="button" class="btn btn-primary btn-sm prizeSendEmail__SendButton">@leaders.Send</button>
                                        </div>
                                    </div>
                                    <div class="prizeSendEmail__Text linkToBookmarks">
                                        <img src="@Html.UrlCdn("~/app/images/leaderboard/Star.png")" /> <a href="@Url.Action("Index","Bookmark")">@leaders.SelectedBookmarks</a>
                                    </div>
                                </div>
                                <div id="prizeSendEmail__SuccessResult" class="prizeSendEmail__SuccessResult" style="display:none;">
                                    <div class="icon-success prizeSendEmail__SuccessResultIcon"></div>
                                    <div class="prizeSendEmail__SuccessResultHeader">
                                        <span class="icon-success prizeSendEmail__SuccessResultIcon--xs"></span>
                                        @leaders.WinnerCode_SuccessSendToEmailHeader
                                    </div>
                                    <div class="prizeSendEmail__SuccessResultText">
                                        @leaders.WinnerCode_SuccessSendToEmail
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="layout__StickyContainer">
        @if (Model.IsOwner)
        {
            <div class="stickyContent connectedUsersMobile">
                <a data-chat-open="chat1"
                   class="chatIcon chatIcon--mobile stickyContent__ChatIcon"></a>
            </div>
        }
        else
        {
            <div class="stickyContent">
                <a data-chat-open="chat1"
                   class="chatIcon chatIcon--mobile stickyContent__ChatIcon"></a>
            </div>
        }
        @if (!Model.IsOwner)
        {
            <div data-chat-notifications="true"></div>
        }
    </div>
    <div class="layout__Body layout__Body--leaders container">
        <div class="bodyLayout bodyLayout--leaders bodyLayout--stretchFullHeight">


            <div class="leaderBoardLayout">
                @if (!Model.IsOwner)
                {
                    <div class="chatNotificationsBoxDesktop chatNotificationsBoxDesktop--leaders"
                         data-chat-notifications="true">
                    </div>
                }
                <div class="leaderBoard">
                    <div id="leaderBoard__NoLeaders" class="leaderBoard__NoLeaders">@leaders.NoLeaders</div>
                    <div id="leaderBoard__List" class="leaderBoard__List">
                        <div id="leaderBoard__LeftCol" class="leaderBoard__LeftCol"></div>
                        <div id="leaderBoard__RightCol" class="leaderBoard__RightCol"></div>
                    </div>
                </div>
                @if (Model.IsPromoEnabledForPlan && Model.Quiz.PromoEnabledLeaders)
                {
                    <div class="promoLeaders">
                        <div class="promoLeaders__Notification">@wait.Promo__LinksCollectionNotification</div>
                        <div class="promoLeaders__Block blockForCart"
                             data-cart-fly-to-selector=".topMenuItem--bookmarks, .burger"
                             data-cart-selector=".topMenuItem--bookmarks"
                             data-filled-cart-class="filled"
                             data-on-click-show-element-selector=".topMenuItem--bookmarks, .linkToBookmarks"
                             data-notification-selector=".promoLeaders__Notification">
                            @if (Model.Quiz.PromoImageLeaders != null)
                            {
                                <div class="promoLeaders__Image">
                                    @if (Model.Quiz.PromoImageLeaders.MediaType == MediaType.VideoSelfHosted.ToString())
                                    {
                                        if (!String.IsNullOrWhiteSpace(Model.Quiz.PromoImageLeaders.URL))
                                        {
                                            <video class="azuremediaplayer amp-default-skin amp-big-play-centered" language="@LocView.Leng"
                                                   storedSrc="@Model.Quiz.PromoImageLeaders.URL" thumbnailSrc="@Model.Quiz.PromoImageLeaders.ThumbnailUrl"
                                                   storedAutoPlay="@Model.Quiz.PromoImageLeaders.VideoAutoPlay.ToString()"></video>
                                        }
                                        else
                                        {
                                            <img src="@Html.UrlCdn("~/app/images/home/video_processing_" + LocView.Leng + "_square.png")" />                                            
                                        }
                                    }
                                    else
                                    {
                                        <img src="@Url.StorageImage(Model.Quiz.PromoImageLeaders, "169")"/>
                                    }
                                    
                                </div>
                            }
                            <div class="promoLeaders__Text">@Html.Raw(Model.Quiz.PromoTextLeaders)</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>