﻿@using WaveAccess.MyQuiz.WebUI.app.core.elements.uploadImage
@{
    Layout = null;
}
<div id="cropImageModal"
     class="cropImageModal modal fade"
     data-backdrop="static"
     data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span class="icon-close"></span>
                </button>
                <h4 class="modal-title cropImageModal__HeaderText" id="myModalLabel">@cropImageModal.ModifyImage</h4>
            </div>
            <div class="modal-body cropImageModal__BodyBlock">
                <div class="cropImageModal__CropperBlock">
                    <div id="cropImageModal__Cropper" class="cropImageModal__Cropper"></div>
                </div>
                <div class="cropImageModal__ButtonsBlock">
                    <div class="cropImageModal__ButtonBlock">
                        <a id="cropImageModal__ButtonRotateRight"
                           class="cropImageModal__Button cropImageModal__Button-rotate icon-rotate-image"
                           title="@cropImageModal.Button__RotateRight"></a>
                    </div>
                    <div class="cropImageModal__ButtonBlock">
                        <a id="cropImageModal__ButtonDelete"
                           class="cropImageModal__Button cropImageModal__Button--delete icon-delete"
                           title="@cropImageModal.Button__Delete"></a>
                    </div>
                    <div class="cropImageModal__ButtonBlock">
                        <a id="cropImageModal__ButtonUpload"
                           class="cropImageModal__Button cropImageModal__Button--upload icon-upload"
                           title="@cropImageModal.Button__Upload"></a>
                    </div>
                </div>
                <div class="cropImageModal__ErrorsBlock">
                    <div id="cropImageModal__ErrorModeration"
                         style="display:none;"
                         class="alert alert-danger">@cropImageModal.Error__Moderation</div>
                        <div id="cropImageModal__ErrorUnknown"
                             style="display:none;"
                             class="alert alert-danger">@cropImageModal.Error__Unknown</div>
                        <div id="cropImageModal__ErrorUnsupportedMimeType"
                             style="display:none;"
                             class="alert alert-danger">@cropImageModal.Error__UnsupportedMimeType</div>
                        </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-default"
                        data-dismiss="modal">@cropImageModal.Button__Cancel</button>
                <button id="cropImageModal__ButtonReady"
                        type="button"
                        class="btn btn-primary">@cropImageModal.Button__Ready</button>
            </div>
        </div>
    </div>
</div>