﻿@import "../../variables.scss";

.cropImageModal {
    &__HeaderText {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__BodyBlock {
        @media (max-width: $screen-xs-max) {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
    }

    &__CropperBlock {
        text-align: center;
    }

    &__Cropper {
        display: inline-block;

        &--circle {
            .cropper-view-box {
                border-radius: 50%;
                outline: none;
                //border: 1px solid rgba(51, 153, 255, 0.75);
            }

            .cropper-face {
                border-radius: 50%;
            }
        }

        &--rectangle {
            .cropper-view-box {
            }

            .cropper-face {
            }
        }

        & > img {
            max-width: 100%;
            max-height: 53vh;
            width: auto;
            height: auto;

            @media (max-width: $screen-xs-max) {
                max-height: 43vh;
            }
        }
    }

    &__ButtonsBlock {
        display: flex;
        flex-flow: row;
        justify-content: center;
        margin-top: 30 * $px;
    }

    &__ButtonBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 30*$px;
        margin-right: 30*$px;
    }

    &__Button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 44 * $px;
        height: 44 * $px;
        text-decoration: none;
        color: #000;
        font-size: 24 * $px;
        box-shadow: #d1d1d1 0 0 15px;
        cursor: pointer;


        @media (max-width: $screen-xs-max) {
            width: 50 * $px;
            height: 50 * $px;
            font-size: 26 * $px;
        }

        &--upload {
            font-size: 18px;

            @media (max-width: $screen-xs-max) {
                font-size: 20 * $px;
            }
        }

        &:hover {
            text-decoration: none;
            color: #000;
        }


        &:focus, &:hover {
            transform: scale(1.1, 1.1);
            transition: transform .2s ease;
        }
    }

    &__ErrorsBlock {
        margin-top: 30 * $px;

        & > .alert {
            margin-bottom: 0;
        }
    }
}
