﻿@{
    Layout = "~/app/panel/auth/core/authLayout.cshtml";
}
@using WaveAccess.MyQuiz.WebUI.app.panel.auth.register;
@using WaveAccess.MyQuiz.WebUI.app.panel.auth.register.extraInfo;
@model BaseRegisterViewModel
@section js{
    <script type="text/javascript">
        extraInfoModule.Init();
    </script>
    
    <script>
        $(document).ready(function() {
            var photoElement = $('.SignProcess__UploadImage');
            uploadImageModule.Init(photoElement, new uploadToStorageStrategy(
                '@Html.Raw(Model.ImageUrlParameters.ContainerUrl)',
                '@Html.Raw(Model.ImageUrlParameters.SecureToken)',
                '@Html.Raw(Model.ImageUrlParameters.StorageName)',
                '@Model.StorageImageId', $('#photo-image'), $('#isDownloadedToStorage')), null, $('#isPhotoChanged'));
        });
    </script>
}
@Html.Partial("~/app/core/elements/uploadImage/cropImageModal.cshtml")

<div class="SignProcess__HeaderBlock">
    <div class="SignProcess__MainHeader">@extraInfo.SignUpForm__MainHeader</div>
    <div class="SignProcess__SubHeader"></div>
</div>
<div class="SignProcess__FormBlock SignUpForm">
    <div class="SignUpForm__MainBlock">
    @using (Html.BeginForm(null, null, Model.GetQueryParams(), FormMethod.Post, new { id = "registrationForm" }))
    {
        @Html.Partial("~/app/panel/auth/register/classic/signup_form.cshtml")
        <button class="btn btn-primary SignProcess__Button" type="submit">@extraInfo.Join</button>
    }
    </div>
</div>
