﻿@import "../../../variables";

.IntroduceForm {
    & .authButtonsFormSplitter {
        margin-top: 20 * $px;
    }

    & .SignUpForm__MainBlock {

        @media (max-width: $screen-xs-max) {
            position: relative;
            padding-top: 20 * $px;
        }
    }

    & .SignUpForm__UploadImageBlock {
        margin-bottom: 40 * $px;
        text-align: center;
    }
}