﻿@model WaveAccess.MyQuiz.WebUI.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <link rel="stylesheet" href="~/Content/main/common.css" />
    <table style="width:100%;height:100%;">
        <tr>
            <td style="vertical-align:middle;">
                <div id="login-form-container" class="centered" style="max-width: 280px; color:white;padding: 10px 40px;">
                    @if (@ViewBag.Message != null)
                    {
                        <div id="password-generated-message-container">@ViewBag.Message</div>
                    }
                    else
                    {
                            @Html.HiddenFor(m => m.UserName)
                        <div class="editor-label">
                            @Html.LabelFor(m => m.OldPassword)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(m=>m.OldPassword)
                            @Html.ValidationMessageFor(m=>m.OldPassword)
                        </div>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.NewPassword)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.NewPassword)
                                @Html.ValidationMessageFor(model => model.NewPassword)
                            </div>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.ConfirmPassword)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.ConfirmPassword)
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                            </div>
                            <button class="basicButton basicButton--save" type="submit" value="">@LocView.getLocalization("Send")</button>
                        
                    }
                </div>
            </td>
        </tr>
    </table>
}
