﻿@using Microsoft.Owin.Security
@{
    var externalLogins = HttpContext.Current.GetOwinContext().Authentication.GetExternalAuthenticationTypes().OrderBy(p => p.AuthenticationType);
}

    @functions{
        public string getlogo(string provider)
        {
            if (provider.Equals("VKontakte"))
                return "vkontakte-logo.png";
            else
                return "facebook-icon.png";
        }
    }
    @if (externalLogins.Count() != 0)
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl, quizCode = ViewBag.quizCode, allowFullName = ViewBag.AllowFullName, userId = ViewBag.UserId }, FormMethod.Post, new { @class = "mobile" }))
        {
            <input type="hidden" name="isGamer" value="false" />

            @Html.AntiForgeryToken()

            foreach (AuthenticationDescription p in externalLogins)
            {
                if (ViewBag.AllowedUserProviders == null || (ViewBag.AllowedUserProviders as List<string>).Contains(p.AuthenticationType))
                {
                    <div style="position:relative;left:0px;right:0px;">
                        <button class="basicButton basicButton--save basicButton--stretch basicButton--bottomSpace basicButton--@(p.AuthenticationType.ToLower())"
                                type="submit"
                                name="provider"
                                value="@p.AuthenticationType"
                                title="@LocView.getLocalization("account.login_with") @p.Caption">
                            @LocView.getLocalization("account.login_with")
                            @p.Caption
                        </button>
                    </div>
                }
            }
        }
    }

