﻿@model WaveAccess.MyQuiz.WebUI.Models.ChanagePasswordModel

@section styles{
    @Styles.Render("~/Content/account/ChangePassword")
<link rel="stylesheet" href="~/Content/main/common.css" />
}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

<table style="width: 100%; height: 100%;">
    <tr>
        <td style="vertical-align: middle;">
            <div id="login-form-container" class="centered" style="max-width: 280px; color: white; padding: 10px 40px;">
                @if (@ViewBag.Message != null)
                {
                    <div id="password-generated-message-container">@ViewBag.Message</div>
                }
                else
                {
                    using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "chngPasswordForm" }))
                    {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.Hidden("returnUrl")
                    <div class="editor-label">
                        @Html.LabelFor(model => model.OldPassword)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.OldPassword)
                        @Html.ValidationMessageFor(model => model.OldPassword)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.NewPassword)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.NewPassword)
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ConfirmPassword)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.ConfirmPassword)
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                    <button style="width:100%" class="basicButton basicButton--save"  type="submit" value="" id="changePassword">@LocView.getLocalization("Send")</button>
                    }
                }
            </div>
        </td>
    </tr>
</table>

<script type="text/javascript">
    $('#changePassword').click(function () {
        Controls.refreshValidation();
        var form = $('#chngPasswordForm');
        var viewBagTrue = @((ViewBag.True != null && @ViewBag.True).ToString().ToLower());

        if (!viewBagTrue) {
            $(".input-validation-error").first().focus();
            return false;
        } else {
            return true;
        }
    });
</script>