﻿@{
    ViewBag.Title = "Login Failure";
}

<style>
    #error-form {
        display: table;
        position: absolute;
        width: 100%;
        height: 80%;
    }

    #error-container {
        display: table-cell;
        vertical-align: middle;
    }

    .error-item {
        text-align: center;
    }

    #error-text {
        position: relative;
        font-size: 30px;
        width: 50%;
        height: 50%;
        margin: 0 auto;
        background: rgba(145,152,183,0.52);;
        color: #FFFFFF;
        padding: 60px;
        border-radius: 30px;
        line-height: 50px;
    }
</style>

<div id="error-form">
    <div id="error-container">
        <div class="error-item centered clearfix">
            <div id="error-text">
                <h1>@ViewBag.Title.</h1>
                <h2>@LocView.getLocalization("ExternalLoginFailure")</h2>
            </div>
        </div>
    </div>
</div>