﻿@model WaveAccess.MyQuiz.WebUI.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = "Register";
}
<style>
    #login-form-container .sign-in-form .field-validation-error {
        /*top: 0px;*/
        background-color: #E6E9EE;
        color: #2C4358;
        /*border-radius: 5px;*/
        top: -3px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .sign-in-form form {
        padding: 10px 40px;
    }

    #login-form-container .sign-in-form .input-validation-error {
        color: #DA5F63;
        border: 1px solid #F6F7F8 !important;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        top: -3px;
    }

    html {
        height: 100%;
    }

    body {
        color: #F6F7F8;
        height: 100%;
    }

    .sign-in-form-line {
    }

    #login-form-container .sign-in-form {
        padding: 10px 0px 0px 0px;
    }

    #login-form-container .sign-in-form-footer {
        color: white;
        background-size: cover;
        background-image: url(/Images/Footer.png);
        padding: 40px 0;
        clear: both;
    }

        #login-form-container .sign-in-form-footer a {
            margin-left: 10px;
            color: white;
            background-color: #3289BC;
            border-radius: 30px;
            padding: 10px 20px;
            display: inline-block;
            margin: 10px;
        }



    #login-form-container .sign-in-form-footer div {
        margin: 20px;
    }

    #login-form-container .sign-in-form label {
        color: #F6F7F8;
        float: left;
        margin-bottom: 3px;
        padding: 0 8px 0 0;
    }

    body .text-box.single-line {
        width: 97%;
    }

    body input {
        text-align: center;
        border: 0px;
        color: #F6F7F8;
        background-color: rgba(0, 0, 0, 0.18);
        height: 40px !important;
        padding: 0px !important;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

    #sub-menu-container {
        display: none;
    }

    .sign-in-form h3 {
        padding: 35px 0px !important;
    }



    #body {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 38px;
        width: 100%;
    }

    .associate-account-form-item span.field-validation-error {
        top: 0;
        position: relative;
    }

    .left.associate-account-form-item {
        width: 100%;
        text-align: left;
    }

    .associate-account-form-item input[type="text"] {
        width: 100%;
    }
</style>
@section styles{
    <link href="~/Content/responsive-v2.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/main/common.css" />
}

<div class="centered clearfix associate-account-form">
    <h3>@string.Format(LocView.getLocalization("Associate_your_account"), ViewBag.ProviderDisplayName)</h3>


    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl, allowFullName = ViewBag.AllowFullName }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.LastName)
        @Html.HiddenFor(m => m.FirstName)
        @Html.HiddenFor(m => m.IsGamer)
        @Html.HiddenFor(m => m.Photo)
        @Html.HiddenFor(m => m.QuizCode)
        @Html.HiddenFor(m => m.UserId)

        <p>
            @if (Model.ShowEmail && !Model.AllowFullName)
            {
                @Html.Raw(string.Format(LocView.getLocalization("Associate_your_account_descr_NicknameAndEmail"), "<strong>" + ViewBag.ProviderDisplayName + "</strong>"))
            }
            else if (Model.ShowEmail && Model.AllowFullName)
            {
                @Html.Raw(string.Format(LocView.getLocalization("Associate_your_account_descr_EmailOnly"), "<strong>" + ViewBag.ProviderDisplayName + "</strong>"))
            }
            else if (!Model.ShowEmail && !Model.AllowFullName)
            {
                @Html.Raw(string.Format(LocView.getLocalization("Associate_your_account_descr_NicknameOnly"), "<strong>" + ViewBag.ProviderDisplayName + "</strong>"))
            }
        </p>
        <div class="associate-account-form-wrap">
            <div class="clearfix">
                @if (Model.ShowEmail)
                {
                    <div class="left associate-account-form-item" style="line-height: 40px;">
                        @LocView.getLocalization("Email")
                    </div>
                    <div class="left associate-account-form-item" style="color: black;">
                        @Html.TextBoxFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                }
                else
                {
                    @Html.HiddenFor(m => m.Email)
                }

                @if (!Model.AllowFullName)
                {
                    <div class="left associate-account-form-item" style="line-height: 40px;">
                        @LocView.getLocalization("RequiredNickname")
                    </div>
                    <div class="left associate-account-form-item" style="color: black;">
                        @Html.TextBoxFor(m => m.Nickname)
                        @Html.ValidationMessageFor(m => m.Nickname)
                    </div>   
                }
            </div>
            <div class="associate-account-form-item" id="btnSubmit" style="padding-top: 20px;">
                @Html.HiddenFor(m => m.ExternalLoginData)
                <button style="width:100%" class="basicButton basicButton--save" type="submit">@LocView.getLocalization("account.register")</button>
            </div>
        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
