﻿@model WaveAccess.MyQuiz.WebUI.Models.ForgetPasswordModel

<style>
    #login-form-container .sign-in-form .field-validation-error {
        /*top: 0px;*/
        background-color: #E6E9EE;
        color: #2C4358;
        /*border-radius: 5px;*/
        top: -3px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .sign-in-form form {
        padding: 10px 40px;
    }

    #login-form-container .sign-in-form .input-validation-error {
        color: #DA5F63;
        border: 1px solid #F6F7F8 !important;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        top: -3px;
    }

    .sign-in-form-line {
    }

    #login-form-container .sign-in-form {
        padding: 10px 0px 0px 0px;
    }

    #login-form-container .sign-in-form-footer {
        color: white;
        background-size: cover;
        background-image: url(/Images/Footer.png);
        padding: 40px 0;
        clear: both;
    }

        #login-form-container .sign-in-form-footer a {
            margin-left: 10px;
            color: white;
            background-color: #3289BC;
            border-radius: 30px;
            padding: 10px 20px;
            display: inline-block;
            margin: 10px;
        }

    

        

    #login-form-container .sign-in-form-footer div {
        margin: 20px;
    }

    #login-form-container .sign-in-form label {
        color: #F6F7F8;
        float: left;
        margin-bottom: 3px;
        padding: 0 8px 0 0;
    }

    body .text-box.single-line {
        width: 97%;
    }

    #login-form-container .sign-in-form input {
        text-align: center;
        border: 0px;
        color: #F6F7F8;
        background-color: rgba(0, 0, 0, 0.18);
        height: 5px !important;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

    #sub-menu-container {
        display: none;
    }

    .sign-in-form h3 {
        padding: 35px 0px !important;
    }

   

    #body {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 38px;
        width: 100%;
    }

    #login-form-container .editor-field input.text-box {
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        padding: 10px;
        font-size: 100%;
    }
</style>
<link rel="stylesheet" href="~/Content/main/common.css" />
<table style="width: 100%; height: 100%;" id="tblForgotPassword">
    <tr>
        <td style="vertical-align: middle;">
            <div id="forgotPasswordDescr" class="centered" style="text-align: center; max-width: 670px;">
                <span style="font-size: 24px; color: #efa923; display: block;margin-bottom: 40px;">@LocView.getLocalization("forgot_password")</span>
                <p style="color: #babcc7; text-align: center; margin-bottom: 40px; line-height: 20px; font-size: 18px;">
                    @LocView.getLocalization("forget_password_text")
                </p>
            </div>
            <div id="login-form-container" class="centered" style="max-width: 280px; color: white; padding: 10px 40px;">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    <div class="editor-label" style="text-align: left; color: #fefefe;">
                        @LocView.getLocalization("email")
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>

                    <button style="width:100%" class="basicButton basicButton--save" type="submit">@LocView.getLocalization("Reset_password")</button>
                }
            </div>
        </td>
    </tr>
</table>