﻿@model WaveAccess.MyQuiz.WebUI.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<link rel="stylesheet" href="~/Content/main/common.css" />
<table class="login-page">
    <colgroup class="mobile-hidden">
        <col style="width: 45.5%;" />
        <col style="width: 54.5%;" />
    </colgroup>
    <tr>
        <td id="leftPanel" class="desktop">
            <span style="position: absolute; top: 80px; font-size: 12px; color: #39485E; left: 20px;">
                <a href="/" style="color: #39485E;">@LocView.getLocalization("main_Page")</a> &raquo; <span style="color: white;">@LocView.getLocalization("account.sign_in")</span>
            </span>
            <div style="margin: auto;">
                @LocView.getLocalization("Have_Not_Account_Yet")
            </div>
            <div style="margin: auto; width: 350px;">
                @if (ViewBag.AllowedUserProviders == null || (ViewBag.AllowedUserProviders as List<string>).Contains(WaveAccess.MyQuiz.WebUI.Enums.LocalUserProviders.MyQuizAccount.ToString()))
                {
                    <div style="position: relative; margin-top: 30px;">
                        <button onclick="location.href='@Url.Action("Register", "Account" , new {ReturnUrl=ViewBag.ReturnUrl, quizCode = ViewBag.quizCode})'"
                                class="basicButton basicButton--save basicButton--stretch"
                                style="position:relative;margin-top:30px;">
                            @LocView.getLocalization("account.register.with.email")
                        </button>
                    </div>
                }
                @if(ViewBag.AllowedUserProviders == null ||
                    ((ViewBag.AllowedUserProviders as List<string>).Count>1 && (ViewBag.AllowedUserProviders as List<string>).Contains(WaveAccess.MyQuiz.WebUI.Enums.LocalUserProviders.MyQuizAccount.ToString())))
                {
                    <span>@LocView.getLocalization("or")</span>
                }
                <div style="margin-top:15px;">
                    @Html.Partial("_ExternalLoginsListPartial")
                </div>
            </div>
            
        </td>
        <td id="rightPanel">
        @if (ViewBag.AllowedUserProviders == null || (ViewBag.AllowedUserProviders as List<string>).Contains(WaveAccess.MyQuiz.WebUI.Enums.LocalUserProviders.MyQuizAccount.ToString()))
        {
                Html.RenderPartial("_LoginPopup", Model, ViewData);
        }
        </td>
    </tr>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    var buttonsSignIn = $('button.LoginButton').click(function () {
        buttonsSignIn.removeClass('active');
        $(this).addClass('active');
        $('input[name="provider"]').val($(this).val());
        return false;
    });

    $('button.LoginButton ~ .dropdown-menu li').click(function () {
        window.location.replace('/account/' + $(this).attr('name'))
    });

    $(document.body).click(function () {
        buttonsSignIn.removeClass('active');
    });
</script>
