﻿@using WaveAccess.EventGame.Common.Entities
@using WaveAccess.EventGame.Services
@model WaveAccess.MyQuiz.WebUI.Models.ProfileWidgetModel
@{
    Layout = null;

}

@if (Model != null)
{
    
    <div>@LocView.getLocalization("My_Score")  @Model.Score</div>
}
<script>
    $(function () {
        var logoutForm = $("#logoutForm");
        if (!logoutForm.is(":visible")) {
            logoutForm.show();
        }
    });
</script>
