﻿@using System.Configuration
@using WaveAccess.MyQuiz.Services.Azure.Enums
@model WaveAccess.MyQuiz.WebUI.Models.UserViewModel

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dotdotdot")
    @Scripts.Render("~/bundles/plugins/cropp")
    @Scripts.Render("~/bundles/plugins/imageStorageUploader")
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="/Content/main/userprofile.css" />
    <link rel="stylesheet" type="text/css" href="/Content/main/userprofile.responsive.css" />
}

@using (Html.BeginForm("UserProfile", "Account", new { returnUrl = ViewBag.returnUrl}, FormMethod.Post, new { @class="userProfile" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
}

<script type="text/javascript">
//    function uploadToAzure(fileInput) {
//        var file = fileInput.files[0];
//        var reader = new FileReader();
//        reader.onload = function(event) {
//            $.ajax({
//                    url: '@Html.Raw(ViewBag.CloudStorageUrl)',
//                    type: 'PUT',
//                    headers: {
//                        'x-ms-blob-type': 'BlockBlob'
//                    },
//                    data: event.target.result
//                }).done(function(result) {
//                })
//                .fail(function(error) {
//                });
//        }
//        reader.readAsDataURL(file);
//    }

    $(document).ready(
        function () {
            if (imageUrlHelper) {
                imageUrlHelper.profilePhotoContainerName = '@ContainerType.UserPhotos';
                imageUrlHelper.profilePhotoSize = '@ConfigurationManager.AppSettings["ProfilePhotoSize"]';
                imageUrlHelper.profilePhotoMaxWidth = '@ConfigurationManager.AppSettings["ProfilePhotoMaxWidth"]';
            }
            $('.the-logo').imageStorageUploader($('#photo-id'), $('#is-photo-downloaded'), $('#is-photo-changed'), new uploadToStorageStrategy(
                '@Html.Raw(ViewBag.ImageUrlParameters.ContainerUrl)',
                '@Html.Raw(ViewBag.ImageUrlParameters.SecureToken)',
                '@Html.Raw(ViewBag.ImageUrlParameters.StorageName)',
                '@Model.Photo.StorageId'));
            $('form.userProfile').submit(function () {
                var self = this;
                $.ajax({
                    url: $(self).attr('action'),
                    type: 'POST',
                    data: $(self).serialize(),
                    success: function (result) {
                        if (result.success) {
                            $('#is-photo-changed').val(false);
                            $('#result-message').removeClass('error').addClass('success').animate({ 'opacity': '1' }).text('@LocView.getLocalization("Saving_Success")');
                            setTimeout(function () {
                                $('#result-message').animate({ 'opacity': '0' }).removeClass('success');
                            }, 6000);
                            if (result.user) {
                                $('#FirstName').val(result.user.FirstName);
                                $('#LastName').val(result.user.LastName);
                                $('#Nickname').val(result.user.Nickname);
                            }
                            if (result.imageStorageParameters) {
                                $('.the-logo').imageStorageUploader($('#photo-id'), $('#is-photo-downloaded'), $('#is-photo-changed'), new uploadToStorageStrategy(
                                    result.imageStorageParameters.ContainerUrl,
                                    result.imageStorageParameters.SecureToken,
                                    result.imageStorageParameters.StorageName,
                                    result.storageImageId));
                                $('#image-storage-id').val(result.storageImageId);
                                $('#storage-account-name').val(result.imageStorageParameters.StorageName);
                            }
                        } else {
                            if (result.indexOf("<!DOCTYPE html>") != -1) {
                                $(self).html($(result).find("form.userProfile").html());
                            };
                        };
                    },
                    error: function () {
                        $('#result-message').removeClass('success').addClass('error').animate({ 'opacity': '1' }).text('@LocView.getLocalization("Saving_failed")');
                        setTimeout(function () {
                            $('#result-message').animate({ 'opacity': '0' }).removeClass('error');
                        }, 6000);
                    }
                });

                return false;
            });
        });
</script>
