﻿@using System.Configuration

<script type="text/javascript">
    $(function () {
        $("#footer-container").addClass("footer-bottom");
    });

    $(document).ready(function () {
        Controls.onShowFooter();

        $(window).resize(function () {
            Controls.onShowFooter();
        });
    });
</script>
<footer>
    <div id="footer-container">
        <div class="centered">
            <div class="copyright">&copy; <a href="http://www.wave-access.com/">WaveAccess</a> - @DateTime.Now.Year</div>
            <div class="privacy-policy">

                @LocView.getLocalization("MeetWith")

                @if (!string.IsNullOrEmpty(LocView.getLocalization("MeetUserTerms")))
                {
                    @Html.ActionLink(LocView.getLocalization("MeetUserTerms"), "UserAgreement", new { Controller = "Home" }, new { target = "_blank" })
                    @LocView.getLocalization("And")
                }

                @Html.ActionLink(LocView.getLocalization("MeetPrivacyPolicy"), "PrivacyPolicy", new { Controller = "Home" }, new { target = "_blank" })

            </div>
        </div>
    </div>
</footer>