﻿@using WaveAccess.MyQuiz.WebUI.Helpers

<div class="mobile page-title" style="position: absolute;">

    <div style="color: #FFFFFF;font-size: 20px;display: block;margin-top: 20px;text-align: center;text-overflow: ellipsis;white-space: nowrap;max-width: 100%;overflow: hidden;line-height: 60px;margin: 0 50px 0 20px;">
        @ViewBag.PageTitle
    </div>
</div>

<div class="circle"></div>
<div style="background-color: #3b4477; width: 100%;height: 60px;">
    <div id="menu-container" class="centered">
        <ul>
            @if (AuthHelper.IsAuthenticated)
            {
                if (AuthHelper.IsAdmin)
                {
                    <li id="adminUsers" class="@GetActiveClass(Url.Action("", "allUsers"))">
                        @Html.ActionLink(LocView.getLocalization("allUsers"), "allUsers", "Admin")
                    </li>
                    <li id="adminQuizes" class="@GetActiveClass(Url.Action("", "AllQuiz"))">
                        @Html.ActionLink(LocView.getLocalization("AllQuiz"), "AllQuiz", "Admin")
                    </li>
                    <li id="adminStartedQuizes" class="@GetActiveClass(Url.Action("", "StartedQuiz"))">
                        @Html.ActionLink(LocView.getLocalization("StartedQuiz"), "StartedQuiz", "Admin")
                    </li>
                    <li id="adminBanners" class="@GetActiveClass(Url.Action("All", "Information"))">
                        @Html.ActionLink(LocView.getLocalization("Banner"), "All", "Information")
                    </li>
                    <li id="adminPlans" class="@GetActiveClass(Url.Action("List", "Plan"))">
                        @Html.ActionLink(LocView.getLocalization("Plans"), "List", "Plan")
                    </li>
                    <li id="adminTemplates" class="@GetActiveClass(Url.Action("List", "Template"))">
                        @Html.ActionLink(LocView.getLocalization("Templates"), "List", "Template")
                    </li>

                    <li id="adminAnnouncements" class="@GetActiveClass(Url.Action("List", "Announcement"))">
                        @Html.ActionLink(LocView.getLocalization("Announcements"), "List", "Announcement")
                    </li>

                    <li id="adminTestimonials" class="@GetActiveClass(Url.Action("List", "Testimonial"))">
                        @Html.ActionLink(LocView.getLocalization("Testimonials_Menu_Item"), "List", "Testimonial")
                    </li>

                    <li id="adminAppSettings" class="@GetActiveClass(Url.Action("ApplicationSettings", "Admin"))">
                        @Html.ActionLink(LocView.getLocalization("Settings"), "ApplicationSettings", "Admin")
                    </li>

                    <li style="float: right; padding: 0; line-height: 1;" id="logout">
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            <a style="display: inline-block !important;" wa-id="mainMenu__Logout" href="javascript:document.getElementById('logoutForm').submit()">@LocView.getLocalization("Logout")</a>
                        }
                    </li>
                }
                else if ((Request.RawUrl.InvariantContainsUi("CurrentQuestion")))
                {
                    <li id="home" class="@GetActiveClass(Url.Action("", "Index"))">
                        <a href="/">@LocView.getLocalization("main_page")</a>
                    </li>
                    <li style="float: right; padding: 0; line-height: 1;" id="logout">
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            <a style="display: inline-block !important;" wa-id="mainMenu__Logout" href="javascript:document.getElementById('logoutForm').submit()">@LocView.getLocalization("Logout")</a>
                        }
                    </li>
                }
                else
                {
                    //if (AuthHelper.IsTempUser)
                    //{
                        <li id="home" class="@GetActiveClass(Url.Action("", "Index"))">
                            <a href="/">@LocView.getLocalization("main_page")</a>
                        </li>
                    //}
                    <li id="current-question" class="@GetActiveClass(Url.Action("CurrentQuestion", "Game" ))@GetActiveClass(Url.Action("QuizCode", "Game" )) @GetActiveClass(Url.Action("Wait", "Game" ))">
                        @Html.ActionLink(LocView.getLocalization("Game"), "QuizCode", "Game")
                    </li>

                    if (AuthHelper.IsRegisteredUser)
                    {
                        <li id="current-question-owner" class="@GetActiveClass(Url.Action("CurrentQuestionOwner", "Game" )) @GetActiveClass(Url.Action("WaitPlayers", "Game" ))">
                            @Html.ActionLink(LocView.getLocalization("GameOwner"), "CurrentQuestionOwner", "Game")
                        </li>
                    }

                    if (AuthHelper.IsRegisteredUser)
                    {
                        <li id="lectures" class="@GetActiveClass(Url.Action("Index", "Lectures"))">
                            @Html.ActionLink(LocView.getLocalization("Lectures"), "Index", "Lectures")
                        </li>
                    }

                    <li id="archive" class="@GetActiveClass(Url.Action("", "Archive"))">
                        @Html.ActionLink(LocView.getLocalization("Archive"), "", "Archive")
                    </li>
                    <li id="profile" class="@GetActiveClass(Url.Action("UserProfile", "Account"))">
                        @Html.ActionLink(LocView.getLocalization("My_profile"), "UserProfile", new { controller = "Account" }, new { @class = "left" })
                    </li>
                    <li id="catalogOfQuizzes" class="@GetActiveClass(Url.Action("Index", "CatalogOfQuizzes"))">
                        <a href="@Url.Action("Index", "CatalogOfQuizzes")">@LocView.getLocalization("CatalogOfQuizzes")</a>
                    </li>
                    if (ViewBag.HaveOpenBookmarks!=null && ViewBag.HaveOpenBookmarks) {
                        <li id="bookmarks" class="@GetActiveClass(Url.Action("Index", "Bookmarks")) @(ViewBag.HaveNotViewedBookmarks!=null && ViewBag.HaveNotViewedBookmarks ? "filled" : "")">
                            <a href="@Url.Action("Index", "Bookmark")"><div>&nbsp;</div><span class="icon-bookmark-star-link"></span> @LocView.getLocalization("Bookmarks")</a>
                        </li>
                    }
                    <li style="float: right; padding: 0; line-height: 1;" id="logout">
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            <a style="display: inline-block !important;" wa-id="mainMenu__Logout" href="javascript:document.getElementById('logoutForm').submit()">@LocView.getLocalization("Logout")</a>
                        }
                    </li>
                }
            }
            else
            {
                <li id="home" class="@GetActiveClass(Url.Action("CurrentQuestion", "Game"))@GetActiveClass(Url.Action("Login", "Account"))@GetActiveClass(Url.Action("Register", "Account"))">
                    <a href="/">@LocView.getLocalization("main_page")</a>
                </li>
                <li id="catalogOfQuizzes" class="@GetActiveClass(Url.Action("Index", "CatalogOfQuizzes"))">
                    <a href="@Url.Action("Index", "CatalogOfQuizzes")">@LocView.getLocalization("CatalogOfQuizzes")</a>
                </li>
                <li id="LogIn">
                    @Html.ActionLink(LocView.getLocalization("Login"), "Login", new { Controller = "Account" }, new { @class = "loginLink" })
                </li>
            }
            @if (LocView.languageMenuIsVisible())
            {
                <li id="language">
                    @if (Request.Cookies["lang"] != null)
                {
                        <a class="lang desktop" onclick="Controls.onShowLanguageMenu(this)" wa-id="languageMenuItem__ButtonDesktop">@Request.Cookies["lang"].Value</a>
                        <span class="icon-globe-mobile"></span>
                        <span class="mobile">@LocView.getLocalization("Language")</span>
                            <a class="lang mobile" onclick="Controls.onShowLanguageMenu(this)" wa-id="languageMenuItem__ButtonMobile">@GetActiveLanguage(Request.Cookies["lang"].Value)</a>
                    }
                    else
                    {
                        <a class="lang desktop" onclick="Controls.onShowLanguageMenu(this)" wa-id="languageMenuItem__ButtonDesktop">@LocView.Leng</a>
                        <span class="icon-globe-mobile"></span>
                        <span class="mobile">@LocView.getLocalization("Language")</span>
                            <a class="lang mobile" onclick="Controls.onShowLanguageMenu(this)" wa-id="languageMenuItem__ButtonMobile">@GetActiveLanguage(LocView.Leng)</a>
                    }

                    <ul class="dropdown-menu disabled" id="localization">
                        <li>
                            <a onclick="Controls.onChangeLocalization('ru')">Русский</a>
                        </li>
                        <li>
                            <a onclick="Controls.onChangeLocalization('en')">English</a>
                        </li>
                    </ul>
                </li>
            }
        </ul>

        <div class="burger">
            <div class="x"></div>
            <div class="y"></div>
            <div class="z"></div>
        </div>
    </div>
</div>

@Styles.Render("~/Content/header/css")
@Scripts.Render("~/bundles/pages/header")

@functions {
    public string GetActiveClass(string urlAction)
    {
        if ((Request.RawUrl.InvariantContainsUi(urlAction)))
        {
            return "active";
        }
        return "";
    }

    public string GetActiveLanguage(string cookieLang)
    {
        string lang = string.Empty;
        lang = cookieLang.Equals("en") ? "EN" : "RU";

        return lang;
    }

    public string GetPageTitle(string title)
    {
        string currPageTitle = string.Empty;
        return currPageTitle;
    }
}


