﻿@using System.Configuration
@using WaveAccess.MyQuiz.WebUI.Helpers

<div class="mobile page-title" style="position: absolute;">
    <span>
        @ViewBag.PageTitle
    </span>
</div>
<div class="circle"></div>
<div style="background-color: rgba(55, 74, 95, 1); width: 100%;height: 60px;">
    <div id="menu-container" class="centered">
        <ul>
            @if (Html.IsAuthenticated())
            {
                if (AuthHelper.IsAdmin)
                {
                    <li id="adminUsers" class="@GetActiveClass(Url.Action("", "allUsers"))">
                        @Html.ActionLink(LocView.getLocalization("allUsers"), "allUsers", "Admin")
                    </li>
                    <li id="adminQuizes" class="@GetActiveClass(Url.Action("", "AllQuiz"))">
                        @Html.ActionLink(LocView.getLocalization("AllQuiz"), "AllQuiz", "Admin")
                    </li>
                    <li id="adminStartedQuizes" class="@GetActiveClass(Url.Action("", "StartedQuiz"))">
                        @Html.ActionLink(LocView.getLocalization("StartedQuiz"), "StartedQuiz", "Admin")
                    </li>
                    <li id="adminBanners" class="@GetActiveClass(Url.Action("All", "Information"))">
                        @Html.ActionLink(LocView.getLocalization("Banner"), "All", "Information")
                    </li>
                    <li id="adminPlans" class="@GetActiveClass(Url.Action("List", "Plan"))">
                        @Html.ActionLink(LocView.getLocalization("Plans"), "List", "Plan")
                    </li>
                    <li style="float: right; padding: 0; line-height: 1;" id="logout">
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            <a style="display: inline-block !important;" wa-id="mainMenu__Logout" href="javascript:document.getElementById('logoutForm').submit()">@LocView.getLocalization("Logout")</a>
                        }
                    </li>
                }
                else
                    if ((Request.RawUrl.InvariantContainsUi("CurrentQuestion")))
                {
                    <li style="float: right; padding: 0; line-height: 1;" id="logout">
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            <a style="display: inline-block !important;" wa-id="mainMenu__Logout" href="javascript:document.getElementById('logoutForm').submit()">@LocView.getLocalization("Logout")</a>
                        }
                    </li>

                    if (LocView.languageMenuIsVisible())
                    {
                        <li id="language">
                            @if (Request.Cookies["lang"] != null)
                            {
                                <a class="lang desktop" onclick="Controls.onShowLanguageMenu(this)" wa-id="languageMenuItem__ButtonDesktop">@Request.Cookies["lang"].Value</a>
                                <span class="mobile">@LocView.getLocalization("Language")</span>
                                <a class="lang mobile" onclick="Controls.onShowLanguageMenu(this)" wa-id="languageMenuItem__ButtonMobile">@GetActiveLanguage(Request.Cookies["lang"].Value)</a>
                            }
                            else
                            {
                                <a class="lang desktop" onclick="Controls.onShowLanguageMenu(this)" wa-id="languageMenuItem__ButtonDesktop">@LocView.Leng</a>
                                <span class="mobile">@LocView.getLocalization("Language")</span>
                                <a class="lang mobile" onclick="Controls.onShowLanguageMenu(this)" wa-id="languageMenuItem__ButtonMobile">@GetActiveLanguage(LocView.Leng)</a>
                            }

                            <ul class="dropdown-menu disabled" id="localization">
                                <li>
                                    <a onclick="Controls.onChangeLocalization('ru')">Русский</a>
                                </li>
                                <li>
                                    <a onclick="Controls.onChangeLocalization('en')">English</a>
                                </li>
                            </ul>
                        </li>
                    }
                }
                else
                {
                    <li id="home" class="@GetActiveClass(Url.Action(" ", "Index"))">
                        <a href="/">@LocView.getLocalization("main_page")</a>
                    </li>
                    <li id="current-question" class="@GetActiveClass(Url.Action("CurrentQuestion", "Game"))@GetActiveClass(Url.Action("QuizCode", "Game")) @GetActiveClass(Url.Action("Wait", "Game"))">
                        @Html.ActionLink(LocView.getLocalization("Game"), "QuizCode", "Game")
                    </li>
                    if (AuthHelper.IsRegisteredUser)
                    {
                        <li id="current-question-owner" class="@GetActiveClass(Url.Action("CurrentQuestionOwner", "Game")) @GetActiveClass(Url.Action("WaitPlayers", "Game"))">
                            @Html.ActionLink(LocView.getLocalization("GameOwner"), "CurrentQuestionOwner", "Game")
                        </li>
                    }

                    if (AuthHelper.IsRegisteredUser)
                    {
                        <li id="lectures" class="@GetActiveClass(Url.Action("Index", "Lectures"))">
                            @Html.ActionLink(LocView.getLocalization("Lectures"), "Index", "Lectures")
                        </li>
                    }

                    <li id="archive" class="@GetActiveClass(Url.Action("", "Archive"))">
                        @Html.ActionLink(LocView.getLocalization("Archive"), "", "Archive")
                    </li>
                    <li id="profile" class="@GetActiveClass(Url.Action("UserProfile", "Account"))">
                        @Html.ActionLink(LocView.getLocalization("My_profile"), "UserProfile", new { controller = "Account" }, new { @class = "left" })
                    </li>
                        <li id="catalogOfQuizzes" class="@GetActiveClass(Url.Action("Index", "CatalogOfQuizzes"))@GetActiveClass(Url.Action("Index", "CatalogOfQuizzes"))@GetActiveClass(Url.Action("Index", "CatalogOfQuizzes"))">
                            <a href="@Url.Action("Index", "CatalogOfQuizzes")">@LocView.getLocalization("CatalogOfQuizzes")</a>
                        </li>
                        <li style="float: right; padding: 0; line-height: 1;" id="logout">
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                <a style="display: inline-block !important;" wa-id="mainMenu__Logout" href="javascript:document.getElementById('logoutForm').submit()">@LocView.getLocalization("Logout")</a>
                            }
                        </li>
                        if (LocView.languageMenuIsVisible())
                        {
                            <li id="language">
                                @if (Request.Cookies["lang"] != null)
                                {
                                    <a class="lang desktop" onclick="Controls.onShowLanguageMenu(this)" wa-id="languageMenuItem__ButtonDesktop">@Request.Cookies["lang"].Value</a>
                                    <span class="mobile">@LocView.getLocalization("Language")</span>
                                <a class="lang mobile" onclick="Controls.onShowLanguageMenu(this)" wa-id="languageMenuItem__ButtonMobile">@GetActiveLanguage(Request.Cookies["lang"].Value)</a>
                                }
                                else
                                {
                                    <a class="lang desktop" onclick="Controls.onShowLanguageMenu(this)" wa-id="languageMenuItem__ButtonDesktop">@LocView.Leng</a>
                                    <span class="mobile">@LocView.getLocalization("Language")</span>
                                    <a class="lang mobile" onclick="Controls.onShowLanguageMenu(this)" wa-id="languageMenuItem__ButtonMobile">@GetActiveLanguage(LocView.Leng)</a>
                                }

                                <ul class="dropdown-menu disabled" id="localization">
                                    <li>
                                        <a onclick="Controls.onChangeLocalization('ru')">Русский</a>
                                    </li>
                                    <li>
                                        <a onclick="Controls.onChangeLocalization('en')">English</a>
                                    </li>
                                </ul>
                            </li>
                        }

                }
            }
            else
            {
                <li id="home" class="@GetActiveClass(Url.Action(" ", "Index"))">
                    <a href="/">@LocView.getLocalization("main_page")</a>
                </li>
                <li id="catalogOfQuizzes" class="@GetActiveClass(Url.Action("Index", "CatalogOfQuizzes"))@GetActiveClass(Url.Action("Index", "CatalogOfQuizzes"))@GetActiveClass(Url.Action("Index", "CatalogOfQuizzes"))">
                    <a href="@Url.Action("Index", "CatalogOfQuizzes")">@LocView.getLocalization("CatalogOfQuizzes")</a>
                </li>
                <li id="LogIn">
                    @Html.ActionLink(LocView.getLocalization("Login"), "Login", new { Controller = "Account" }, new { @class = "loginLink" })
                </li>
                if (LocView.languageMenuIsVisible())
                {
                    <li id="language">
                        @if (Request.Cookies["lang"] != null)
                        {
                            <a class="lang desktop" onclick="Controls.onShowLanguageMenu(this)" wa-id="languageMenuItem__ButtonDesktop">@Request.Cookies["lang"].Value</a>
                            <span class="mobile">@LocView.getLocalization("Language")</span>
                            <a class="lang mobile" onclick="Controls.onShowLanguageMenu(this)" wa-id="languageMenuItem__ButtonMobile">@GetActiveLanguage(Request.Cookies["lang"].Value)</a>
                        }
                        else
                        {
                            <a class="lang desktop" onclick="Controls.onShowLanguageMenu(this)" wa-id="languageMenuItem__ButtonDesktop">@LocView.Leng</a>
                            <span class="mobile">@LocView.getLocalization("Language")</span>
                            <a class="lang mobile" onclick="Controls.onShowLanguageMenu(this)" wa-id="languageMenuItem__ButtonMobile">@GetActiveLanguage(LocView.Leng)</a>
                        }

                        <ul class="dropdown-menu disabled" id="localization">
                            <li>
                                <a onclick="Controls.onChangeLocalization('ru')">Русский</a>
                            </li>
                            <li>
                                <a onclick="Controls.onChangeLocalization('en')">English</a>
                            </li>
                        </ul>
                    </li>
                }
            }
        </ul>

        <div class="burger">
            <div class="x"></div>
            <div class="y"></div>
            <div class="z"></div>
        </div>
    </div>
</div>
<style>
    #top-menu-container {
        display: none;
    }

    #menu-container ul #login-text a {
        padding: 0 15px;
        color: #FFFFFF !important;
    }

    #menu-container ul #login {
        float: right;
    }

        #menu-container ul #login a {
            color: #FFFFFF;
        }

    #menu-container a {
        color: #ffffff;
        text-decoration: none;
    }

    #menu-container {
        color: white;
        font-size: 100%;
        height: 60px;
    }

        #menu-container ul {
            text-align: left;
        }

        #menu-container li {
            font-weight: bold;
            cursor: pointer;
            display: inline-block;
            /*padding: 0 50px 0 50px;*/
            vertical-align: middle;
            line-height: 60px;
            height: 60px;
        }

        #menu-container #user-count {
            padding: 0 10px 0 15px;
        }

        #menu-container ul #home a {
            background-image: url('/Images/menu-icons/24/main-not-selected.png');
            background-repeat: no-repeat;
            padding: 15px;
            background-position-x: center;
        }

        #menu-container ul #home.active a {
            background-image: url('/Images/menu-icons/24/main.png');
            background-repeat: no-repeat;
            padding: 15px;
            background-position-x: center;
        }

        #menu-container ul #current-question a {
            background-image: url('/Images/menu-icons/24/game-not-selected.png');
            background-repeat: no-repeat;
            padding: 15px;
            background-position-x: center;
        }

        #menu-container ul #current-question.active a {
            background-image: url('/Images/menu-icons/24/game.png');
            background-repeat: no-repeat;
            padding: 15px;
            background-position-x: center;
        }


        #menu-container ul #current-question-owner a {
            background-image: url('/Content/themes/base/images/started-game-inactive.png');
            background-repeat: no-repeat;
            padding: 15px;
            background-position-x: center;
        }

        #menu-container ul #current-question-owner.active a {
            background-image: url('/Content/themes/base/images/started-game.png');
            background-repeat: no-repeat;
            padding: 15px;
            background-position-x: center;
        }


        #menu-container ul #leaderboard a {
            background-image: url('/Images/menu-icons/24/leaderboard-not-selected.png');
            background-repeat: no-repeat;
            padding: 15px;
            background-position-x: center;
        }

        #menu-container ul #leaderboard.active a {
            background-image: url('/Images/menu-icons/24/leaderboard.png');
            background-repeat: no-repeat;
            padding: 15px;
            background-position-x: center;
        }

        #menu-container ul #lectures a {
            background-image: url('/Images/menu-icons/24/my-quiz-not-selected.png');
            background-repeat: no-repeat;
            padding: 15px;
            background-position-x: center;
        }

        #menu-container ul #lectures.active a {
            background-image: url('/Images/menu-icons/24/my-quiz.png');
            background-repeat: no-repeat;
            padding: 15px;
            background-position-x: center;
        }

        #menu-container ul #archive a {
            background-image: url('/Images/menu-icons/24/archive-not-selected.png');
            background-repeat: no-repeat;
            padding: 15px;
            background-position-x: center;
        }

        #menu-container ul #archive.active a {
            background-image: url('/Images/menu-icons/24/archive.png');
            background-repeat: no-repeat;
            padding: 15px;
            background-position-x: center;
        }

        #menu-container ul #profile a {
            background-image: url('/Images/menu-icons/24/my-profile-not-selected.png');
            background-repeat: no-repeat;
            padding: 15px;
            background-position-x: center;
        }

        #menu-container ul #profile.active a {
            background-image: url('/Images/menu-icons/24/my-profile.png');
            background-repeat: no-repeat;
            padding: 15px;
            background-position-x: center;
        }

        #menu-container ul #game-profile a {
            background-image: url('/Images/menu-icons/24/my-profile-not-selected.png');
            background-repeat: no-repeat;
            padding: 15px;
            background-position-x: center;
        }

        #menu-container ul #game-profile.active a {
            background-image: url('/Images/menu-icons/24/my-profile.png');
            background-repeat: no-repeat;
            padding: 15px;
            background-position-x: center;
        }

        #menu-container ul #catalogOfQuizzes a {
            background-image: url('/Images/menu-icons/24/catalog-of-quizzes-not-selected.png');
            background-repeat: no-repeat;
            padding: 15px;
            padding-left: 10px;
            background-position-x: center;
        }

        #menu-container ul #catalogOfQuizzes.active a {
            background-image: url('/Images/menu-icons/24/catalog-of-quizzes.png');
            background-repeat: no-repeat;
            padding: 15px;
            background-position-x: center;
        }


        #menu-container li.active {
            background-image: url('/Images/menu-icons/selected-page-bg.png');
            background-repeat: no-repeat;
            background-position: 100% 100%;
            background-size: cover;
        }

        #menu-container li a {
            color: #9ea5bd;
            font-weight: normal;
            display: block;
            box-sizing: border-box;
            background-position: center 10px;
            background-repeat: no-repeat;
            transition: .2s;
            font-weight: normal;
        }

        #menu-container li.active a {
            /*color: #DDA736;*/
            color: #FFFFFF;
        }

    #profile {
        /*float: right;*/
    }

    #logoutForm a {
        padding-top: 25px;
        vertical-align: -webkit-baseline-middle !important;
        vertical-align: middle;
        color: #FFFFFF !important;
    }

    #menu-container ul #adminUsers a {
        background-image: url('/Content/themes/base/images/admin-users.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position-x: center;
    }

    #menu-container ul #adminUsers.active a {
    }

    #menu-container ul #adminQuizes a {
        background-image: url('/Content/themes/base/images/admin-quizzes.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position-x: center;
    }

    #menu-container ul #adminQuizes.active a {
    }

    #menu-container ul #adminStartedQuizes a {
        background-image: url('/Content/themes/base/images/admin-started-quizzes.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position-x: center;
    }

    #menu-container ul #adminStartedQuizes.active a {
    }
</style>

@functions {
    public string GetActiveClass(string urlAction)
    {
        if ((Request.RawUrl.InvariantContainsUi(urlAction)))
        {
            return "active";
        }
        return "";
    }

    public string GetActiveLanguage(string cookieLang)
    {
        string lang = string.Empty;
        lang = cookieLang.Equals("en") ? "English" : "Русский";

        return lang;
    }

    public string GetPageTitle(string title)
    {
        string currPageTitle = string.Empty;
        return currPageTitle;
    }
}


