﻿@{
    Layout = null;
}
<div id="fullScreenSpinner" class="fullScreenSpinner" style="display:none;">
    <div id="cssload-pgloading">
        <div class="cssload-loadingwrap">
            <ul class="cssload-bokeh">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>