﻿@using WaveAccess.MyQuiz.WebUI.Models
@model WaveAccess.MyQuiz.WebUI.QuizTemplateListViewModel
@section styles {
    @Styles.Render("~/Content/CatalogOfQuizzes/List/css")
}

@section Scripts {
    @Scripts.Render("~/Content/CatalogOfQuizzes/List/js")
}

@Styles.Render("~/Content/plugins/amp")
@Scripts.Render("~/bundles/plugins/amp")

@if (ShowInformationMessages)
{
    @Html.Action("Messages", "Information")
}
<div id="form" class="Layout">
    <div class="Layout__Header">
        <div class="Layout__HeaderMask">
            <div class="HeaderText">
                <div class="HeaderText__Caption">@LocView.getLocalization("CatalogOfQuizzes_HeaderText_Caption") <span class="HeaderText__ProductName">@LocView.getLocalization("Brand_Name")</span></div>
                <div class="HeaderText__Description">@LocView.getLocalization("CatalogOfQuizzes_HeaderText_Description")</div>
            </div>
            <a href="#CatalogOfQuizzes" class="Header__LinkToCatalog"></a>
        </div>
    </div>
    <div class="Layout__Body">
        <a name="CatalogOfQuizzes"></a>
        @for (var i = 0; i < Model.QuizTemplates.Count; i = i + 2)
        {
        <div class="Layout__QuizListRow">
            @for (var j = 0; j < 2 && i + j < Model.QuizTemplates.Count; j++)
            {
            var quizTemplate = Model.QuizTemplates[i + j];
            <div class="PublicQuizBox">
                @if (quizTemplate.Image != null)
                {
                    if (quizTemplate.Image.MediaType == WaveAccess.MyQuiz.Common.Enums.MediaType.Video.ToString())
                    {
                        <div class="PublicQuizBox__Image">
                            <div class='frameContainer'>
                                <iframe src='@Url.YoutubeVideo(quizTemplate.Image, new YouTubePlayerParam(){AutoPlay = 0})' allowfullscreen='allowfullscreen' mozallowfullscreen='mozallowfullscreen' msallowfullscreen='msallowfullscreen'
                                        oallowfullscreen='oallowfullscreen' webkitallowfullscreen='webkitallowfullscreen' frameBorder='0'></iframe>
                            </div>
                        </div>
                    }
                    else if (quizTemplate.Image.MediaType == WaveAccess.MyQuiz.Common.Enums.MediaType.VideoSelfHosted.ToString())
                    {
                        if (!String.IsNullOrWhiteSpace(quizTemplate.Image.URL))
                        {
                            <div class="PublicQuizBox__Image">
                                <video class="azuremediaplayer amp-default-skin amp-big-play-centered"
                                       data-setup='{
                                    "techOrder": ["azureHtml5JS", "flashSS", "html5FairPlayHLS", "silverlightSS", "html5"],
                                    "logo": { "enabled": false },
                                    "inactivityTimeout": "2e3",
                                    "nativeControlsForTouch": false, 
                                    @*"fluid": true,*@ 
                                    "width": "100%",
                                    "height": "100%",
                                    "controls": true, 
                                    "autoplay": false,
                                    "language": "@LocView.Leng",
                                    "poster": "@quizTemplate.Image.ThumbnailUrl"
                                    }'>
                                    <source src="@quizTemplate.Image.URL" type="application/vnd.ms-sstr+xml"/>
                                </video>
                            </div>
                        }
                        else
                        {
                            <div class="PublicQuizBox__Image" style="background-image:url('@Html.UrlCdn("~/app/images/home/video_processing_" + LocView.Leng + ".png")');"></div>                            
                        }
                    }
                    else
                    {
                        <div class="PublicQuizBox__Image" style="background-image:url('@Url.StorageImage(quizTemplate.Image, "500")');"></div>
                    }
                }
                <div class="PublicQuizBox__Title">@quizTemplate.Theme</div>
                <div class="PublicQuizBox__Description">@quizTemplate.Description</div>
                <div class="PublicQuizBox__Actions clearfix">
                    <span class="PublicQuizBox__Counter tooltip-white" title="@LocView.getLocalization("Users_Added_Quiz")">
                        <span class="icon-users"></span>
                        @quizTemplate.InstalledCount
                    </span>
                    <a href="@Url.Action("CopyToMyQuiz", new { id = quizTemplate.Id })"
                       class="basicButton basicButton--save PublicQuizBox__CopyButton">
                        <span class="CopyButton__Text--mobile">@LocView.getLocalization("add")</span>
                        <span class="CopyButton__Text--desktop">@LocView.getLocalization("CatalogOfQuizzes_Button_Add")</span>
                    </a>
                </div>
            </div>
            }
        </div>
        }
    </div>
</div>