﻿@using WaveAccess.MyQuiz.WebUI.Models
@model WaveAccess.MyQuiz.WebUI.QuizShareViewModel

@Styles.Render("~/Content/plugins/amp")
@Scripts.Render("~/bundles/plugins/amp")

@section styles {
    @Styles.Render("~/Content/CatalogOfQuizzes/Share/css")
}

@section Scripts {
    @Scripts.Render("~/Content/CatalogOfQuizzes/Share/js")
}


@{
    var shareImageUrl = Model.SiteUrl + "/Images/ShareQuiz/Default_Image.jpg ";
    if (Model.Image != null)
    {
        shareImageUrl = Url.StorageImage(Model.Image, "500", shareImageUrl);
    }


}

@section metaInfo {
    <!-- Place this data between the <head> tags of your website -->
    <title>@Model.Theme</title>
    <meta name="description" content="@Model.Description" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="@Model.Theme">
    <meta itemprop="description" content="@Model.Description">
    <meta itemprop="image" content="@shareImageUrl">

    <!-- Twitter Card data -->
    <meta name="twitter:title" content="@Model.Theme">
    <meta name="twitter:description" content="@Model.Description">
    <meta name="twitter:image:src" content="@shareImageUrl">

    <!-- Open Graph data -->
    <meta property="og:title" content="@Model.Theme" />
    <meta property="og:description" content="@Model.Description" />
    <meta property="og:image" content="@shareImageUrl" />
    <meta property="og:site_name" content="@LocView.getLocalization("Brand_Name")" />
}


<div id="installQuizModal" class="modal">
    <div class="modal__table installQuizModal__table">
        <div class="modal__tableRow">
            <div class="modal__tableCell">
                <div class="modal__header">
                    <span>@LocView.getLocalization("Install_Quiz_Modal_Title")</span>
                </div>
                <div class="modal__body">
                    @if (Model.Author != null)
                    {
                        <div class="quiz__authorBlock">
                            <div class="author__image"
                                 @Html.Raw(Model.Author != null && Model.Author.Photo != null ? "style=\"background-image:url('" + Url.StorageImage(Model.Author.Photo, "81") + "')\"" : "")></div>
                            <div class="author__name">@(!Model.AllowFullName ? Model.Author.Nickname : Model.Author.FirstName + " " + Model.Author.LastName)</div>
                        </div>
                    }
                    @if (Model.Image != null)
                    {
                        if (Model.Image.MediaType == WaveAccess.MyQuiz.Common.Enums.MediaType.Video.ToString())
                        {
                            <div class="quiz__imageBlock">
                                <div class='frameContainer'>
                                    <iframe src='@Url.YoutubeVideo(Model.Image, new YouTubePlayerParam(){AutoPlay = 0})' allowfullscreen='allowfullscreen' mozallowfullscreen='mozallowfullscreen' msallowfullscreen='msallowfullscreen'
                                            oallowfullscreen='oallowfullscreen' webkitallowfullscreen='webkitallowfullscreen' frameBorder='0'></iframe>
                                </div>
                            </div>
                        }
                        else if (Model.Image.MediaType == WaveAccess.MyQuiz.Common.Enums.MediaType.VideoSelfHosted.ToString())
                        {
                            if (!String.IsNullOrWhiteSpace(Model.Image.URL))
                            {
                                <div class="quiz__imageBlock">
                                    <div class='frameContainer'>
                                        <video class="azuremediaplayer amp-default-skin amp-big-play-centered"
                                               data-setup='{
                                            "techOrder": ["azureHtml5JS", "flashSS", "html5FairPlayHLS", "silverlightSS", "html5"],
                                            "logo": { "enabled": false },
                                            "inactivityTimeout": "2e3",
                                            "nativeControlsForTouch": false,
                                            "fluid": true,
                                            "controls": true,
                                            "autoplay": @(Model.Image.VideoAutoPlay != null ? Model.Image.VideoAutoPlay.ToString().ToLower() : false.ToString()),
                                            "language": "@LocView.Leng",
                                            "poster": "@Model.Image.ThumbnailUrl"
                                        }'>
                                            <source src="@Model.Image.URL" type="application/vnd.ms-sstr+xml"/>
                                        </video>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="quiz__imageBlock">
                                    <img class="quiz__image" src='@Html.UrlCdn("~/app/images/home/video_processing_" + LocView.Leng + ".png")' />
                                </div>                                
                            }
                        }
                        else
                        {
                            <div class="quiz__imageBlock">
                                <img class="quiz__image"
                                     src="@Url.StorageImage(Model.Image, "500")" />
                            </div>
                        }
                    }
                    <div class="quiz__title">@Model.Theme</div>
                    <div class="quiz__description">@Model.Description</div>
                </div>
                <div class="modal__footer clearfix">
                    <div class="installQuizModal__buttonPlaceholder">
                        <a href="@Url.Action("Index", "Home")"
                           class="basicButton basicButton--cancel basicButton--center basicButton--stretch">@LocView.getLocalization("Cancel")</a>
                    </div>
                    <div class="installQuizModal__buttonPlaceholder">
                        <a id="installQuizModal__button" href="@Url.Action("CopySharedToMyQuiz", "CatalogOfQuizzes", new { id = Model.ShareId })"
                           class="basicButton basicButton--save basicButton--center basicButton--stretch">@LocView.getLocalization("Add")</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document.body).addClass('fixed');
</script>