﻿@using Microsoft.Owin.Security
@model WaveAccess.MyQuiz.WebUI.Models.SimpleRegisterModel
@{
    var externalLogins = HttpContext.Current.GetOwinContext().Authentication.GetExternalAuthenticationTypes().OrderBy(p => p.AuthenticationType);
    var startButtonCode = "Play_" + (ViewBag.QuizType == WaveAccess.MyQuiz.Model.QuizType.Survey ? "Survey" : "Quiz");
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dotdotdot")
    @Scripts.Render("~/bundles/plugins/CanvasResize")
    @Scripts.Render("~/bundles/plugins/cropp")
}

@section styles
{
    @Styles.Render("~/Content/plugins/cropp")
}
<style>
    body, html {
        min-height: 100%;
        width: 100%;
    }

        html body {
            display: table;
        }

    header, #body {
        display: table-row;
    }

    header {
        height: 60px;
    }

    #body {
        height: 100%;
    }

    .register-page_form-inner .sign-in-form-line.logo-container {
        text-align: center;
    }

    .register-page_form-inner .btnRotate {
        height: auto !important;
        position: relative;
        width: 120px;
    }

    .sign-in-form-line > span.additional-info {
        color: #FFFFFF;
        font-weight: 500;
        display: block;
        margin-top: 10px;
        line-height: 20px;
    }

    .file-input-wrap p {
        display: block;
        width: 245px;
        margin: 0 auto;
    }

        .file-input-wrap p span {
            display: block;
            padding: 2px 0;
            width: 0;
            background: #7da7d9;
            text-align: center;
            color: #FFFFFF;
        }

    .image-loading {
        color: #ffffff;
        text-align: center;
    }

    footer {
        display: none;
    }

    #footer-container .privacy-policy {
        display: none;
    }

    .privacy-policy {
        position: relative;
        text-align: center;
        padding: 25px 0 0 0;
        color: #FFFFFF;
    }

        .privacy-policy a {
            color: #F6F7F8;
            text-decoration: underline;
            line-height: 20px;
        }

    #lblFileSizeError.enabled,
    #lblFileTypeError.enabled,
    #lblFileRacyError.enabled {
        position: relative;
    }

    .cssload-container {
        width: auto;
        margin-top: 0;
    }

        .cssload-container.introduce .cssload-loading {
            height: auto;
            width: 100%;
            position: absolute;
            text-align: center;
            transform: translateY(-500px);
            margin-top: 50%;
            z-index: 1;
        }

            .cssload-container.introduce .cssload-loading i {
                width: 25px;
                height: 25px;
            }
</style>

<div id="popup-wrap"></div>

<div class="cssload-container introduce">
    <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
</div>

<div id="croppAvatarModal" class="modal modal--close">
    <div class="modal__table croppAvatarModal__table">
        <div class="modal__tableRow">
            <div class="modal__tableCell">
                <div class="modal__header">
                    <span>@LocView.getLocalization("Crop_the_image")</span>
                    <span class="modal__closeCross" onclick="return hideCroppAvatarModal();"></span>
                </div>
                <div class="modal__body">
                    <div>
                        <img id="quiz-image" src="" alt="Quiz image" style="max-width: 100%;">
                    </div>
                    <span style="display: none" id="cropBoxData"></span>
                </div>
                <div class="modal__footer clearfix">
                    <div class="croppAvatarModal__buttonPlaceholder">
                        <a class="btn btn--cropp-submit" onclick="Controls.onSaveCroppedAvatar();" id="btnCropp">
                            <span>@LocView.getLocalization("Cropp_Done")</span>
                            <b id="cropper-loader" style="display: none">
                                <i class="cropper-circle"></i>
                                <i class="cropper-circle"></i>
                                <i class="cropper-circle"></i>
                                <i class="cropper-circle"></i>
                            </b>
                        </a>
                        <a class="btn btn--cropp-cancel" onclick="return hideCroppAvatarModal();" id="btnCancel">@LocView.getLocalization("Cancel")</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="register-page">
    <div class="register-page-inner">



        <span style="position: absolute; top: 80px; font-size: 12px; color: #fff; left: 20px; letter-spacing: 2px;" class="mobile-hidden">
            <a href="/" style="color: #fff;">@LocView.getLocalization("main_Page")</a> &raquo; <span>@LocView.getLocalization("account.sign_in")</span>
        </span>
        <div class="register-page_form">

            <h1>@LocView.getLocalization("IntroduceYourselfWith")</h1>
            <div class="register-page_form-inner">
                @if (!ViewBag.IsAuthenticated)
                {
                    if (externalLogins.Count() != 0)
                    {
                        @functions{

                            public string getlogo(string provider)
                            {
                                if (provider.Equals("VKontakte"))
                                    return "vkontakte-logo.png";
                                else
                                    return "facebook-icon.png";
                            }

                        }
                        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl, quizCode = Model.QuizCode, allowFullName = Model.AllowFullName }, FormMethod.Post))
                        {
                            <input type="hidden" name="isGamer" value="true" />
                            <input type="hidden" name="player" value="true" />
                            @Html.AntiForgeryToken()

                            foreach (AuthenticationDescription p in externalLogins)
                            {
                                if (ViewBag.AllowedUserProviders == null || (ViewBag.AllowedUserProviders as List<string>).Contains(p.AuthenticationType))
                                {
                                    <div class="sign-in-form-line">
                                        <button class="basicButton basicButton--save basicButton--stretch basicButton--bottomSpace basicButton--@(p.AuthenticationType.ToLower())"
                                                type="submit"
                                                name="provider"
                                                value="@p.AuthenticationType"
                                                disabled=@ViewBag.IsAuthenticated.Equals(true)
                                                title="@LocView.getLocalization("account.login_with") @p.Caption">
                                            @p.Caption
                                        </button>
                                    </div>
                                }
                            }
                        }
                    }

                    if (ViewBag.AllowedUserProviders == null || (ViewBag.AllowedUserProviders as List<string>).Contains(WaveAccess.MyQuiz.WebUI.Enums.LocalUserProviders.MyQuizAccount.ToString()))
                    {
                        <div class="sign-in-form-line">
                            <button type="submit"
                                    onclick="location.href = '@Url.Action("Login", "Account", new { quizCode = Model.QuizCode })'"
                                    class="basicButton basicButton--save basicButton--stretch basicButton--bottomSpace"
                                    value="MyQuizAccount"
                                    disabled=@ViewBag.IsAuthenticated.Equals(true)>
                                @LocView.getLocalization("MyQuizAccount")
                            </button>
                        </div>
                    }
                }
                @using (Html.BeginForm("IntroduceYourself", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "QuickRegistrationForm" }))
                {
                    @Html.HiddenFor(m => m.QuizCode)
                    @Html.HiddenFor(m => m.AllowFullName)
                    @Html.AntiForgeryToken()
                    <input type="hidden" value="@(Model.Image != null ? Model.Image.Id : 0)"
                           name="@Html.NameFor(m => m.Image.Id)"
                           id="@Html.IdFor(m => m.Image.Id)" />
                        @Html.HiddenFor(m => m.Image.InternalPath, new { data_val_id = "ImageInternalPathValue" })
                        @Html.HiddenFor(m => m.Image.CroppedInternalPath, new { data_val_id = "ImageCroppedInternalPathValue" })
                        @Html.HiddenFor(m => m.Image.DisplayName, new { data_val_id = "ImageDisplayNameValue" })
                        @Html.HiddenFor(m => m.Image.URL, new { @class = "url_input" })
                        @Html.HiddenFor(m => m.Image.MediaType, new { @class = "mediaType_input" })
                    if (ViewBag.AllowedUserProviders == null || (ViewBag.AllowedUserProviders as List<string>).Contains(WaveAccess.MyQuiz.WebUI.Enums.LocalUserProviders.TempUser.ToString()))
                    {
                        if (!ViewBag.IsAuthenticated &&
                            (ViewBag.AllowedUserProviders == null || (ViewBag.AllowedUserProviders as List<string>).Count > 1))
                        {
                            <div class="or-divider">
                                <span>@LocView.getLocalization("orfilltheform")</span>
                            </div>
                        }
                    <div class="sign-in-form-line logo-container">
                        @Html.EditorFor(m => m.Image, "IntroduceImageLogo", new { useForIntroduceYourselfPage = true })
                    </div>
                    <div class="error-block-container">
                        <div class="error-block">
                            <span id="lblFileSizeError" class="file-size-error">@LocView.getLocalization("File_size_error")</span>
                            <span id="lblFileRacyError" class="file-racy-error">@LocView.getLocalization("Not_Allowed_Content")</span>
                        </div>
                    </div>

                        if (Model.AllowFullName)
                        {
                            <div class="sign-in-form-line">
                                @Html.LabelFor(m => m.FirstName)
                                @Html.TextBoxFor(m => m.FirstName, "", new { @class = "required", data_val_required = LocView.getLocalization("RequiredField") })
                                @Html.ValidationMessageFor(model => model.FirstName)
                            </div>
                            <div class="sign-in-form-line">
                                @Html.LabelFor(m => m.LastName)
                                @Html.TextBoxFor(m => m.LastName, "", new { @class = "required", data_val_required = LocView.getLocalization("RequiredField") })
                                @Html.ValidationMessageFor(model => model.LastName)
                            </div>
                        }
                        else
                        {
                            <div class="sign-in-form-line">
                                @Html.LabelFor(m => m.Nickname)
                                @Html.TextBoxFor(m => m.Nickname, "", new { @class = "required", data_val_required = LocView.getLocalization("RequiredField") })
                                @Html.ValidationMessageFor(model => model.Nickname)
                            </div>
                        }

                    <div class="sign-in-form-line customCheck" style="padding: 15px 0 25px 0;">
                        @Html.CheckBoxFor(m => m.RememberMe, new { style = "padding: 10px;float: left;margin-top: -5px;" })
                        @Html.LabelFor(m => m.RememberMe, new { style = "font-size: 100%;padding:0 0 0 20px;line-height: 15px;" })
                    </div>
                    <div class="sign-in-form-line">
                        <button tabindex="1"
                                id="register"
                                name="userAction"
                                value="register"
                                class="basicButton basicButton--save basicButton--stretch">
                            @LocView.getLocalization(startButtonCode)
                        </button>
                        
                    </div>

                    <div class="sign-in-form-line">
                        <div class="privacy-policy">
                            @LocView.getLocalization("MeetTerms")
                    
                            @if (!string.IsNullOrEmpty(LocView.getLocalization("MeetUserTerms")))
                            {
                                @Html.ActionLink(LocView.getLocalization("MeetUserTerms"), "UserAgreement", new { Controller = "Home" }, new { target = "_blank" })
                                @LocView.getLocalization("And")   
                            }

                            @Html.ActionLink(LocView.getLocalization("MeetPrivacyPolicy"), "PrivacyPolicy", new { Controller = "Home" }, new { target = "_blank" })
                            @LocView.getLocalization("Site")
                        </div>
                    </div>
                }
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function hideCroppAvatarModal() {
        $('#croppAvatarModal').toggleClass('modal--close');
        $(document.body).removeClass('fixed');

        resetCropper();

        return false;
    }

    function resetCropper() {
        $('#quiz-image')[0].cropper.destroy();
    }

</script>