﻿@using WaveAccess.MyQuiz.WebUI.Helpers
@using WaveAccess.MyQuiz.WebUI.app.core.elements.menu;
@model MenuViewModel 

<div id="topMenu" class="topMenu layout__Menu@(Model.IsOwner ? " topMenu--mobileOnly" : "")">
    <div id="topMenu__Items" class="topMenu__Items">
        @if (AuthHelper.IsAdmin)
        {
            @Html.Partial("~/app/core/elements/menu/menu.user.admin.cshtml")
        }
        else if (AuthHelper.IsRegisteredUser)
        {
            @Html.Partial("~/app/core/elements/menu/menu.user.registered.cshtml")
        }
        else if (AuthHelper.IsTempUser)
        {
            @Html.Partial("~/app/core/elements/menu/menu.user.temp.cshtml")
        }
        else
        {
            @Html.Partial("~/app/core/elements/menu/menu.user.none.cshtml")
        }
    </div>
    <div id="burger" class="burger">
        <div class="burger__Stick burger__Stick--x @(Model.IsHomePage ? "burger__Stick--homePage" : "")"></div>
        <div class="burger__Stick burger__Stick--y @(Model.IsHomePage ? "burger__Stick--homePage" : "")"></div>
        <div class="burger__Stick burger__Stick--z @(Model.IsHomePage ? "burger__Stick--homePage" : "")"></div>
    </div>
    <div id="burger__Circle" class="burger__Circle"></div>
</div>