﻿<div>
    @Html.ActionLink(LocView.getLocalization("allUsers"), "allUsers", "Admin")
</div>
<div>
    @Html.ActionLink(LocView.getLocalization("AllQuiz"), "AllQuiz", "Admin")
</div>
<div>
    @Html.ActionLink(LocView.getLocalization("StartedQuiz"), "StartedQuiz", "Admin")
</div>
<div>
    @Html.ActionLink(LocView.getLocalization("Banner"), "All", "Information")
</div>
<div>
    @Html.ActionLink(LocView.getLocalization("Plans"), "List", "Plan")
</div>
<div>
    @Html.ActionLink(LocView.getLocalization("Templates"), "List", "Template")
</div>
<div>
    @Html.ActionLink(LocView.getLocalization("Testimonials"), "List", "Testimonial")
</div>
<div>
    @Html.ActionLink(LocView.getLocalization("Settings"), "ApplicationSettings", "Admin")
</div>
@Html.Partial("~/app/core/elements/menu/menu.logout.cshtml")
@Html.Partial("~/app/core/elements/menu/menu.lang.cshtml")
