﻿@if (LocView.languageMenuIsVisible())
{
<div class="topMenuItem topMenuItem--lang languageMenuItem icon-globe-mobile">
    <div class="languageMenuItem__Text">@LocView.getLocalization("Language")</div>
    <div class="languageMenuItem__Dropdown dropdown">
        <a class="languageMenuItem__ButtonDesktop dropdown-toggle" data-toggle="dropdown" wa-id="languageMenuItem__ButtonDesktop">
            @GetActiveLanguage(LocView.Leng, "EN", "RU")
            <span class="icon-caret-down"></span>
        </a>
        <a class="languageMenuItem__ButtonMobile btn btn-default dropdown-toggle" data-toggle="dropdown" wa-id="languageMenuItem__ButtonMobile">
            @GetActiveLanguage(LocView.Leng, "EN", "RU")
            <span class="icon-caret-down"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <a id="menuLang__RU">Русский</a>
            </li>
            <li>
                <a id="menuLang__EN">English</a>
            </li>
        </ul>
    </div>
</div>
}


@functions {
    public string GetActiveLanguage(string cookieLang, string en, string ru)
    {
        string lang = string.Empty;
        lang = cookieLang.Equals("en") ? en : ru;

        return lang;
    }

}