﻿@import "../../variables.scss";

.topMenu {
    position: static;
    background-color: #3b4477;
    height: 60 * $px;
    display: flex;

    @media (max-width: $screen-hideMenu-max) {
        height: 0;
    }

    &--mobileOnly {
        display: none;

        @media (max-width: $screen-hideMenu-max) {
            display: block;
        }
    }

    &__Items {
        display: block;
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;

        @media (min-width: $screen-hideMenu-max) {
            display: block !important;
        }

        @media (max-width: $screen-hideMenu-max) {
            display: none;
            position: absolute;
            right: 0 * $px;
            top: 43 * $px;
            width: 100vw;
            padding-left: 32 * $px;
            padding-right: 15 * $px;
        }
    }

    @media (max-width: $screen-hideMenu-max) {
        &--open {
            overflow: auto;
            position: relative;
            height: 100vh !important;
            z-index: 1000;
        }
    }

    @media (min-width: $screen-hideMenu-min) {
        width: 100%;
    }

    @media (max-width: $screen-hideMenu-max) {
        top: 0;
        right: 0;
    }
}


    .topMenuItemBorder {
        display: inline-block;
        list-style-type: none;
        float: right;
        margin-right: 23 * $px;

        @media (max-width: $screen-hideMenu-max) {
            float: none;
            display: block;
            margin-left: -15 * $px;
            padding-left: 15 * $px;
            margin-right: -15 * $px;
            padding-right: 15 * $px;
            margin-top: 7 * $px;
            padding-top: 5 * $px;
            padding-bottom: 5 * $px;
            border-top: 1px solid #767CA0;
            border-bottom: 1px solid #767CA0;

            &--logout {
                padding-left: 10 * $px;
            }
        }
    }

    .topMenuItem {
        display: inline-block;
        list-style-type: none;
        background-repeat: no-repeat;
        background-position: center 10 * $px;

        @media (max-width: $screen-hideMenu-max) {
            display: block;
            background-position: left;
            background-size: 25 * $px;
            line-height: 60 * $px;
            padding-left: 30 * $px;
            margin-left: 5 * $px;
        }

        &.active > a {
            color: rgba(255,255,255, 1);
        }

        & > a {
            display: block;
            color: rgba(255,255,255, 0.5);
            font-size: 15 * $px;
            height: 60 * $px;
            padding-top: 35 * $px;
            padding-left: 15 * $px;
            padding-right: 15 * $px;
            text-decoration: none;

            @media (max-width: $screen-hideMenu-max) {
                padding-top: 1 * $px;
                color: #fff;
                font-size: 17 * $px;
            }
        }

        & > a.shifted {
            padding-left: 10 * $px;

            @media (max-width: $screen-hideMenu-max) {
                padding-left: 15 * $px;
            }
        }


        @media (min-width: $screen-hideMenu-min) {
            &--home {
                background-image: url('/Images/menu-icons/24/main-not-selected.png');
                background-size: 26 * $px 24 * $px;

                &.active {
                    background-image: url('/Images/menu-icons/24/main.png');
                }
            }

            &--game {
                background-image: url('/Images/menu-icons/24/game-not-selected.png');
                background-size: 24 * $px 24 * $px;

                &.active {
                    background-image: url('/Images/menu-icons/24/game.png');
                }
            }

            &--gameOwner {
                background-image: url('/Content/themes/base/images/started-game-inactive.png');
                background-size: 25 * $px 24 * $px;

                &.active {
                    background-image: url('/Content/themes/base/images/started-game.png');
                }
            }

            &--leaders {
                background-image: url('/Images/menu-icons/24/leaderboard-not-selected.png');
                background-size: 24 * $px 24 * $px;

                &.active {
                    background-image: url('/Images/menu-icons/24/leaderboard.png');
                }
            }

            &--lectures {
                background-image: url('/Images/menu-icons/24/my-quiz-not-selected.png');
                background-size: 28 * $px 24 * $px;

                &.active {
                    background-image: url('/Images/menu-icons/24/my-quiz.png');
                }
            }

            &--archive {
                background-image: url('/Images/menu-icons/24/archive-not-selected.png');
                background-size: 28 * $px 24 * $px;

                &.active {
                    background-image: url('/Images/menu-icons/24/archive.png');
                }
            }

            &--profile {
                background-image: url('/Images/menu-icons/24/my-profile-not-selected.png');
                background-size: 22 * $px 22 * $px;

                &.active {
                    background-image: url('/Images/menu-icons/24/my-profile.png');
                }
            }

            &--catalog {
                background-image: url('/Images/menu-icons/24/catalog-of-quizzes-not-selected.png');
                background-size: 24 * $px 24 * $px;

                &.active {
                    background-image: url('/Images/menu-icons/24/catalog-of-quizzes.png');
                }
            }

            &--bookmarks a {
                padding-top: 0;
                text-align: center;
            }

            &--bookmarks span {
                font-size: 24* $px;
                display: block;
                height: 22* $px;
                margin-bottom: 7* $px;
            }

            &--bookmarks a > div {
                width: 15 *$px;
                height: 15*$px;
                background-color: #f96c52;
                display: none;
                position: absolute;
                border-radius: 50%;
                margin-left: 30*$px;
                display: none;
            }

            &--bookmarks.filled a > div {
                display: block;
            }

            &--login {
                float: right;

                & > a {
                    padding: 0;
                    padding-top: 20 * $px;
                    color: #fff;
                }
            }

            &--logout {
                float: right;

                & > a {
                    padding: 0;
                    padding-top: 20 * $px;
                    color: #fff;
                }
            }

            &--lang {
                float: right;
                margin-right: 23 * $px;

                & > div {
                    padding: 0;
                    padding-top: 20 * $px;
                }

                & > div > a {
                    color: #fff;
                    text-decoration: none;
                    cursor: pointer;
                }

                & > .languageMenuItem__Text {
                    display: none;
                }

                & .languageMenuItem__ButtonMobile {
                    display: none;
                }
            }
        }

        @media (max-width: $screen-hideMenu-max) {
            &--home {
                background-image: url('/Content/themes/base/images/home-mob.png');
            }

            &--game {
                background-image: url('/Content/themes/base/images/game-mob.png');
            }

            &--gameOwner {
                background-image: url('/Content/themes/base/images/started-game.png');
            }

            &--leaders {
                background-image: url('/Content/themes/base/images/leaderboard-mob.png');
            }

            &--lectures {
                background-image: url('/Content/themes/base/images/my-quizzes-mob.png');
            }

            &--archive {
                background-image: url('/Content/themes/base/images/archive-mob.png');
            }

            &--profile {
                background-image: url('/Content/themes/base/images/user-mob.png');
            }

            &--catalog {
                background-image: url('/Content/themes/base/images/catalog-of-quizzes-mob.png');
            }

            &--logout {
                background-image: url('/Content/themes/base/images/logout-mob.png');
                padding-left: 35 * $px;
            }

            &--login {
                background-image: url('/Content/themes/base/images/login-mob.png');
            }

            &--lang {
                color: #fff;
                margin-top: 10 * $px;
                font-size: 17 * $px;
                padding-left: 0px;
                float: left;

                & > .languageMenuItem__Text {
                    display: inline-block;
                    padding-left: 15 * $px;
                    padding-right: 20 * $px;
                }

                & .languageMenuItem__ButtonDesktop {
                    display: none;
                }

                & .languageMenuItem__Dropdown {
                    display: inline-block;

                    & .dropdown-menu {
                        @media (max-width: $screen-hideMenu-max) {
                            top: auto;
                            bottom: 100%;
                            margin-bottom: 2px;
                        }
                    }
                }

                & .languageMenuItem__ButtonMobile {
                    background-color: transparent !important;
                    color: #fff !important;
                    border-color: #fff !important;
                    padding-top: 10 * $px;
                    padding-bottom: 10 * $px;
                    line-height: 17 * $px;
                }
            }

            &--bookmarks {
                padding-left: 0;
            }

            &--bookmarks a {
                padding-left: 0 !important;
            }

            &--bookmarks a span {
                font-size: 24*$px;
                padding-right: 15 * $px
            }

            &--bookmarks a > div {
                width: 15 *$px;
                height: 15*$px;
                background-color: #f96c52;
                display: none;
                position: absolute;
                border-radius: 50%;
                margin-left: 15*$px;
                margin-top: 15*$px;
                display: none;
            }

            &--bookmarks.filled a > div {
                display: block;
            }
        }
    }

    .burger {
        height: 30 * $px;
        width: 50 * $px;
        position: absolute;
        top: -10 * $px;
        right: 0 * $px;
        cursor: pointer;
        padding-left: 10 * $px;
        padding-right: 30 * $px;
        padding-bottom: 66 * $px;
        box-sizing: border-box;
        display: none;
        z-index: 1003;

        @media (max-width: $screen-hideMenu-max) {
            display: block;
        }

        &__Stick {
            height: 3 * $px;
            width: 26 * $px;
            position: absolute;
            margin: auto;
            top: 0 * $px;
            bottom: 0 * $px;
            background: #fff;
            border-radius: 2 * $px;
            -webkit-transition: all 200ms ease-out;
            -moz-transition: all 200ms ease-out;
            -ms-transition: all 200ms ease-out;
            -o-transition: all 200ms ease-out;
            transition: all 200ms ease-out;

            &--homePage {
                @media (min-width: $screen-sm-min) and (max-width:$screen-hideMenu-max) {
                    background: #333;
                }
            }
        }

        &__Stick--y {
            top: 18 * $px;
        }

        &__Stick--z {
            top: 37 * $px;
        }

        &__Stick--collapse {
            top: 20 * $px;
            background: #FFFFFF;
            -webkit-transition: all 70ms ease-out;
            -moz-transition: all 70ms ease-out;
            -ms-transition: all 70ms ease-out;
            -o-transition: all 70ms ease-out;
            transition: all 70ms ease-out;
        }


        &__Stick--rotate30 {
            -ms-transform: rotate(30deg);
            -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
            -webkit-transition: all 50ms ease-out;
            -moz-transition: all 50ms ease-out;
            -ms-transition: all 50ms ease-out;
            -o-transition: all 50ms ease-out;
            transition: all 50ms ease-out;
        }

        &__Stick--rotate150 {
            -ms-transform: rotate(150deg);
            -webkit-transform: rotate(150deg);
            transform: rotate(150deg);
            -webkit-transition: all 50ms ease-out;
            -moz-transition: all 50ms ease-out;
            -ms-transition: all 50ms ease-out;
            -o-transition: all 50ms ease-out;
            transition: all 50ms ease-out;
        }

        &__Stick--rotate45 {
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transition: all 100ms ease-out;
            -moz-transition: all 100ms ease-out;
            -ms-transition: all 100ms ease-out;
            -o-transition: all 100ms ease-out;
            transition: all 100ms ease-out;
        }

        &__Stick--rotate135 {
            -ms-transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
            -webkit-transition: all 100ms ease-out;
            -moz-transition: all 100ms ease-out;
            -ms-transition: all 100ms ease-out;
            -o-transition: all 100ms ease-out;
            transition: all 100ms ease-out;
        }

        &__Circle {
            border-radius: 50%;
            width: 0px;
            height: 0px;
            position: absolute;
            top: 35px;
            right: 36px;
            background: #3b4477;
            opacity: 1;
            -webkit-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -moz-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -ms-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -o-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);

            &--expand {
                width: 1400px;
                height: 1555px;
                top: -566px;
                right: -566px;
                position: fixed;
                -webkit-transition: all 1000ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
                -moz-transition: all 1000ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
                -ms-transition: all 1000ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
                -o-transition: all 1000ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
                transition: all 1000ms cubic-bezier(0.000, 0.995, 0.990, 1.000);

                @media (min-width: $screen-sm-min) {
                    width: 2100px;
                    height: 2055px;
                    top: -560px;
                    right: -525px;
                }
            }
        }
    }

    .bookmark__MobileHeader {
        max-height: 5.75rem !important;
    }

    @media (min-width: $screen-hideMenu-max) {
        .bookmark__MobileHeader {
            display: none;
            max-height: 3.75rem !important;
        }
    }