﻿<div class="topMenuItemBorder topMenuItemBorder--logout">
    <div class="topMenuItem topMenuItem--logout">
        @Html.ActionLink(LocView.getLocalization("Logout"), "LogOff", "Account", null, new { wa_id = "mainMenu__Logout" })
    </div>
</div>
