﻿@using WaveAccess.MyQuiz.WebUI.HelpersCode

<div class="topMenuItem topMenuItem--home @Html.IsMenuItemSelected(actions: "Index", controllers: "Home")">
    <a href="/">@LocView.getLocalization("main_page")</a>
</div>
<div class="topMenuItem topMenuItem--game @Html.IsMenuItemSelected(actions: "QuizCode", controllers: "Game") @Html.IsMenuItemSelected(actions: "Play", controllers: "HostInstance")">
    @Html.ActionLink(LocView.getLocalization("Game"), "QuizCode", "Game")
</div>
<div class="topMenuItem topMenuItem--archive @Html.IsMenuItemSelected(actions: "Index", controllers: "Archive")">
    @Html.ActionLink(LocView.getLocalization("Archive"), "", "Archive")
</div>
<div class="topMenuItem topMenuItem--profile @Html.IsMenuItemSelected(actions: "UserProfile", controllers: "Account")">
    @Html.ActionLink(LocView.getLocalization("My_profile"), "UserProfile", new { controller = "Account" }, new { @class = "left" })
</div>
<div class="topMenuItem topMenuItem--catalog @Html.IsMenuItemSelected(actions: "Index", controllers: "CatalogOfQuizzes")">
    <a href="@Url.Action("Index", "CatalogOfQuizzes")" class="shifted">@LocView.getLocalization("CatalogOfQuizzes")</a>
</div>
<div class="topMenuItem topMenuItem--bookmarks @Html.IsMenuItemSelected(actions: "Index", controllers: "Bookmark") @(ViewBag.HaveNotViewedBookmarks!=null && ViewBag.HaveNotViewedBookmarks ? "filled" : "")"  style="@(ViewBag.HaveOpenBookmarks!=null && ViewBag.HaveOpenBookmarks?"":"display:none")">
    <a href="@Url.Action("Index", "Bookmark")" class="shifted"><div>&nbsp;</div> <span class="icon-bookmark-star-link"></span> @LocView.getLocalization("Bookmarks")</a>
</div>
@Html.Partial("~/app/core/elements/menu/menu.logout.cshtml")
@Html.Partial("~/app/core/elements/menu/menu.lang.cshtml")
