﻿@using WaveAccess.MyQuiz.WebUI.HelpersCode

<div class="topMenuItem topMenuItem--home @Html.IsMenuItemSelected(actions: "Index", controllers: "Home")">
    <a href="/">@LocView.getLocalization("main_page")</a>
</div>
<div class="topMenuItem topMenuItem--catalog @Html.IsMenuItemSelected(actions: "Index", controllers: "CatalogOfQuizzes")">
    <a href="@Url.Action("Index", "CatalogOfQuizzes")" class="shifted">@LocView.getLocalization("CatalogOfQuizzes")</a>
</div>
@Html.Partial("~/app/core/elements/menu/menu.login.cshtml")
@Html.Partial("~/app/core/elements/menu/menu.lang.cshtml")
