﻿<!DOCTYPE html>
<html lang="">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- ===========================
	THEME INFO
	=========================== -->
	<meta name="description" content="SantaGo is another free Bootstrap HTML Christmas sales and affiliate page template built and distributed by EvenFly Team as a small Cristmas gift under Creative Commons 3.0 license.">
	<meta name="keywords" content="Christmas Template, Free Christmas Landing Page, Christmas Affiliate Landing Page, Free Christmas Sales Page Template">
	<meta name="author" content="Mamun Srizon">

	<!-- ===========================
	SITE TITLE
	=========================== -->
	<title>Выиграй приз</title>

	<!-- ===========================
	FAVICONS
	=========================== -->
	<link rel="icon" href="~/app/images/newYear/favicon.png">
	<link rel="apple-touch-icon" sizes="144x144" href="~/app/images/newYear/apple-touch-icon-ipad-retina.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="~/app/images/newYear/apple-touch-icon-iphone-retina.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="~/app/images/newYear/apple-touch-icon-ipad.png" />
	<link rel="apple-touch-icon" sizes="57x57" href="~/app/images/newYear/apple-touch-icon-iphone.png" />

	<!-- ===========================
	STYLESHEETS
	=========================== -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
	@Styles.Render("~/Content/css_new/landings/newYear")

	<!-- ===========================
	FONTS
	=========================== -->
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,900,600|Pacifico' rel='stylesheet' type='text/css'>

	<!-- ===========================
	GOOGLE ANALYTICS (Optional)
	=========================== -->
	<!-- #NOTE: Replace this line with your analytics code -->
	<!--ANALYTICS END-->
	<!--[if IE]>
		<script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
@{ var registerLink = Url.Action("QuizCodeWaitStartParticipate", "Game", new {QuizCode = 2018});}
<body>
	<!-- ===========================
	HERO SECTION
	=========================== -->
	<div id="hero">
		<div class="redoverlay">
			<div class="container">
				<div class="row">
					<div class="herotext">
						<h2 class="wow zoomInDown" data-wow-duration="3s">Выиграй приз</h2>
						<h1 class="wow flipInY">В НОВОГОДНЕЙ ВИКТОРИНЕ</h1>
						<a class="btn btn-reverse wow zoomIn" href="@registerLink">
							<h3>ПРОЙДИ РЕГИСТРАЦИЮ СЕГОДНЯ</h3>
						</a><!--#NOTE: texts inside the OPTIONAL tag above would be hidden on smaller mobile screens -->
						<p class="wow fadeInUp" data-wow-duration="2s">ЕЖЕДНЕВНО С <span class="date-big">26</span> ПО <span class="date-big">29</span> ДЕКАБРЯ В <span style="font-weight: bold;" class="date-big">19:00</span> (по московскому времени)</p>
						<img class="bigbell wow tada infinite" data-wow-duration="30s" src="@Html.UrlCdn("~/app/images/newYear/bell.png")" alt="">
					</div>
					<div class="santa wow bounceInDown" data-wow-duration="2s">
						<img src="@Html.UrlCdn("~/app/images/newYear/santa.png")" alt="">
					</div>
				</div>
			</div>
		</div>
	</div><!--HERO SECTION END-->
	<!-- ===========================
	OVERVIEW SECTION
	=========================== -->
	<div id="overview" class="container">
		<!--SECTIONHEAD START-->
		<div class="sectionhead">
			<h2>Что такое MyQuiz</h2>
			<p>Это игра, в которой ты отвечаешь на вопросы и выигрываешь подарки. Вот такие:</p>
			<hr>
		</div><!--SECTIONHEAD END-->
		<!--OVERVIEW ITEMS-->
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-3">
				<img src="@Html.UrlCdn("~/app/images/newYear/1 present.png")" alt="">
				<h4 style="white-space: nowrap">Подсвечники</h4>
                <h5 class="date">26 декабря в 19:00</h5>
			</div><!--ITEM END-->
			<div class="col-sm-6 col-md-6 col-lg-3">
				<img src="@Html.UrlCdn("~/app/images/newYear/2 present.png")" alt="">
				<h4 style="white-space: nowrap">Килограмм шоколада</h4>
                <h5 class="date">27 декабря в 19:00</h5>
			</div><!--ITEM END-->
			<div class="col-sm-6 col-md-6 col-lg-3">
				<img src="@Html.UrlCdn("~/app/images/newYear/3 present.png")" alt="">
				<h4 style="white-space: nowrap">Светящаяся гирлянда</h4>
                <h5 class="date">28 декабря в 19:00</h5>
			</div><!--ITEM END-->
			<div class="col-sm-6 col-md-6 col-lg-3">
				<img src="@Html.UrlCdn("~/app/images/newYear/4 present.png")" alt="">
				<h4 style="white-space: nowrap">Звезда с подсветкой</h4>
                <h5 class="date">29 декабря в 19:00</h5>
			</div><!--ITEM END-->
		</div><!--OVERVIEW ITEMS END-->
	</div><!--OVERVIEW SECTION END-->
	<!-- ===========================
	CALL-TO-ACTION SECTION
	=========================== -->
	<div class="calltoaction">
		<div class="lightoverlay">
			<div class="container">
				<div class="col-md-4">
					<img src="@Html.UrlCdn("~/app/images/newYear/tree.gif")" alt="">
				</div><!--CALL-TO-ACTION IMAGE END-->
				<div class="sectionhead content col-md-8">
					<h2>Викторина MyQuiz - весело, познавательно и бесплатно!</h2>
					<p style="font-size: 18px;">
						Дорогие друзья! 
						Целых полторы тысячи человек успели поиграть в наш квиз за этот год. Мы провели более 180 игр и услышали много положительных отзывов. Мы так рады, что хотим всех вас отблагодарить - праздничными играми и чудесными подарками. 
						Играйте и приглашайте друзей. Это здорово, честное слово ;)
					</p>
					<p style="float: right;" class="right">Команда MyQuiz</p>
				</div><!--CALL-TO-ACTION CONTENT END-->
			</div><!--CALL-TO-ACTION CONTAINER END-->
		</div><!--CALL-TO-ACTION OVERLAY END-->
	</div><!--CALL-TO-ACTION END-->
	<!-- ===========================
	PRODUCTS SECTION
	=========================== -->
	<div id="products" class="container">
		<!--SECTIONHEAD START-->
		<div class="sectionhead text-center">
			<h2>Как правильно играть в MyQuiz?</h2>
			<p>Квиз - это викторина, в которой ты соревнуешься с другими игроками. Все отвечают на вопросы одновременно. Кто ответит быстрее и правильнее - тот победил</p>
			<hr>
		</div><!--SECTIONHEAD END-->
		<!--FEATURED PRODUCT START-->
		
		<hr><!--SEPARETOR LINE-->
		<!--SMALL ITEM 1ST ROW START-->
		<div class="col-md-6">
			<!--SMALL ITEM 1 START-->
			<div class="step">
				<!--SMALL PRODUCT IMAGE START-->
				<div class="col-md-4 text-center">
					<!--<div class="step-number">1</div>-->
					<img src="@Html.UrlCdn("~/app/images/newYear/number 1.png")" />
					<!--DISCOUNT TAG-->
				</div><!--PRODUCT IMAGE END-->
				<!--SMALL PRODUCT DESCRIPTION START-->
				<div class="col-md-8">
					<h4>Регистрируйся в игре</h4>
					<p>После регистрации ты получишь письмо и ссылку на викторину. Игра начнется по расписанию.</p>
				</div><!--SMALL PRODUCT DESCRIPTION END-->
			</div><!--SMALL ITEM 1 END-->
			<!--SMALL ITEM 2 START-->
			<div class="step">
				<!--SMALL PRODUCT IMAGE START-->
				<div class="col-md-4 text-center">
					<img src="@Html.UrlCdn("~/app/images/newYear/number 2.png")" />
					<!--DISCOUNT TAG-->
				</div><!--PRODUCT IMAGE END-->
				<!--SMALL PRODUCT DESCRIPTION START-->
				<div class="col-md-8">
					<h4>Дождись часа викторины</h4>
					<p>Приходи к началу игры. Ровно в 19:00 по Московскому времени ведущий начнет викторину. Не опоздай к началу :)</p>
				</div><!--SMALL PRODUCT DESCRIPTION END-->
			</div><!--SMALL ITEM 3 END-->
			<div class="step">
				<!--SMALL PRODUCT IMAGE START-->
				<div class="col-md-4 text-center">
					<img src="@Html.UrlCdn("~/app/images/newYear/number 3.png")" />
					<!--DISCOUNT TAG-->
				</div><!--PRODUCT IMAGE END-->
				<!--SMALL PRODUCT DESCRIPTION START-->
				<div class="col-md-8">
					<h4><a href="">Отвечай на вопросы </a></h4>
					<p>Выбери нужный ответ и сразу кликни на  “Ответить”. Когда закончится отведенное время, все игроки увидят, какой ответ был правильным.</p>
				</div><!--SMALL PRODUCT DESCRIPTION END-->
			</div><!--SMALL ITEM 3 END-->

		</div><!--SMALL ITEM 1ST ROW END-->
		<!--SMALL ITEM 2ND ROW START-->
	
		<div class="col-md-6">
			<!--SMALL ITEM 3 START-->
			<div class="step">
				<!--SMALL PRODUCT IMAGE START-->
				<div class="col-md-4 text-center">
					<img src="@Html.UrlCdn("~/app/images/newYear/number 4.png")" />
				</div><!--PRODUCT IMAGE END-->
				<!--SMALL PRODUCT DESCRIPTION START-->
				<div class="col-md-8">
					<h4>Следи за списком лидеров</h4>
					<p>Следи за списком десяти лучших игроков. По мере того, как все отвечают на вопросы, он будет меняться: кто-то вырвется вперед! </p>
				</div><!--SMALL PRODUCT DESCRIPTION END-->
			</div><!--SMALL ITEM 2 END-->
			<!--SMALL ITEM 4 START-->
			<div class="step">
				<!--SMALL PRODUCT IMAGE START-->
				<div class="col-md-4 text-center">
					<img src="@Html.UrlCdn("~/app/images/newYear/number 5.png")" />
				</div><!--PRODUCT IMAGE END-->
				<!--SMALL PRODUCT DESCRIPTION START-->
				<div class="col-md-8">
					<h4>Обходи соперников</h4>
					<p>Победит тот, кто ответил на все вопросы быстрее и правильнее других. Чтобы система бысрее засчитала выбор, сразу кликай на “Ответить”! </p>
				</div><!--SMALL PRODUCT DESCRIPTION END-->
			</div><!--SMALL ITEM 4 END-->
			<div class="step">
				<!--SMALL PRODUCT IMAGE START-->
				<div class="col-md-4 text-center">
					<img src="@Html.UrlCdn("~/app/images/newYear/number 6.png")" />
				</div><!--PRODUCT IMAGE END-->
				<!--SMALL PRODUCT DESCRIPTION START-->
				<div class="col-md-8">
					<h4>Получай призы</h4>
					<p>В конце победитель увидит кодовое слово. Сообщи нам его через Vk, Fb или e-mail. Подарок мы отправим на твой адрес, с бесплатной доставкой. </p>
				</div><!--SMALL PRODUCT DESCRIPTION END-->
			</div><!--SMALL ITEM 6 END-->
		</div><!--SMALL ITEM 2ND ROW END-->
		
		
			<!--SMALL ITEM 3 START-->
			
			<!--SMALL ITEM 4 START-->
			

	</div><!--PRODUCTS SECTION END-->
	<!-- ===========================
	SUBSCRIBE SECTION
	=========================== -->
	<div id="subscribe">
		<div class="darkoverlay">
			<div class="container text-center">
				<img class="santaicon wow tada infinite" data-wow-duration="20s" src="@Html.UrlCdn("~/app/images/newYear/santa-sm.png")" alt="">
				<div class="sectionhead">
					<h2>Играй <span class="highlight">сколько угодно</span> раз</h2>
					<p>Проиграл? Не беда!  Игры проходят ежедневно с <span class="white-text">26</span> по <span class="white-text">29</span> декабря в <span class="white-text">19:00</span> по Московскому времени. Каждый день - новые вопросы и новые призы!</p>
				</div><!--SECTIONHEAD END-->
				<!--MAILCHIMP FORM START-->
				<div class="mailchimp">
						<!-- #NOTE: Replace this with your Mailchimp action URL -->
						<a type="submit" value="Зарегистрируйтесь сейчас" name="subscribe" id="mc-embedded-subscribe" class="btn btn-inverse" href="@registerLink">Зарегистрируйтесь сейчас</a>

						
						
						
						

					
				</div>
			</div><!--SUBSCRIBE CONTAINER END-->
		</div><!--OVERLAY END-->
	</div><!--SUBSCRIBE SECTION END-->
	<!-- ===========================
	FOOTER
	=========================== -->
	<footer class="container text-center">
		<h2 class="logo">MyQuiz</h2>
		<img class="santacap" src="@Html.UrlCdn("~/app/images/newYear/santa_cap.png")" alt="">
		<P>Another free Bootstrap Landing page temlate from <a href="http://evenfly.com">EvenFly</a> released under <a href="https://creativecommons.org/licenses/by/3.0/">CC 3.0</a> license.</P>
		<hr>
	</footer><!--FOOTER END-->
	<!-- ===========================
	SOCIAL ICONS
	=========================== -->
	
<script>
	(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date(); a = s.createElement(o),
			m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
	})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

	ga('create', 'UA-84536537-2', 'auto');
	ga('send', 'pageview');
</script>

    @Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/landings/newYearLandingScripts")
	<script type="text/javascript">
        new WOW().init();
        $(function () {
            $.cookie('user.timezone.id', moment.tz.guess(), { path: '/' });
        });
    </script>
</body>
</html>
