﻿@{
    Layout = "~/app/panel/auth/core/authLayout.cshtml";
}
@using WaveAccess.MyQuiz.WebUI.app.panel.auth.core;
@using WaveAccess.MyQuiz.WebUI.app.panel.auth.forgotPassword;
@model ForgotPasswordViewModel

<div class="SignProcess">
    <div class="SignProcess__HeaderBlock">
        <div class="SignProcess__MainHeader">@forgotPasswordConfirm.AuthForm__MainHeader</div>
        <div class="SignProcess__SubHeader">@Html.Raw(forgotPasswordConfirm.AuthForm__SubHeader)</div>
    </div>
    <div class="SignProcess__FormBlock">
        <div class="text--center">@forgotPasswordConfirm.Message__LinkWasSentTo @Model.Email</div>


        @Html.Partial("~/app/panel/auth/core/switchToSignInBlock.cshtml", Model)
    </div>
</div>
