﻿@{
    Layout = "~/app/panel/auth/core/authLayout.cshtml";
}
@using WaveAccess.MyQuiz.WebUI.app.panel.auth.core;
@using WaveAccess.MyQuiz.WebUI.app.panel.auth.forgotPassword;
@model ForgotPasswordViewModel

<div class="SignProcess__HeaderBlock">
    <div class="SignProcess__MainHeader">@forgotPassword.AuthForm__MainHeader</div>
    <div class="SignProcess__SubHeader">@Html.Raw(forgotPassword.AuthForm__SubHeader)</div>
</div>
<div class="SignProcess__FormBlock">
    @using (Html.BeginForm())
    {
    @Html.HiddenFor(m => m.QuizCode)
    @Html.HiddenFor(m => m.ReturnUrl)
    @Html.HiddenFor(m => m.ParticipateRequest)
    <div class="InputText">
        @Html.TextBoxFor(m => m.Email)
        @Html.LabelFor(m => m.Email)
        <line></line>
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <button class="btn btn-primary SignProcess__Button" type="submit">@forgotPassword.RequestLink</button>
    }

    @Html.Partial("~/app/panel/auth/core/switchToSignInBlock.cshtml", Model)
</div>
