﻿@{
    Layout = "~/app/panel/auth/core/authLayout.cshtml";
}
@using WaveAccess.MyQuiz.WebUI.app.panel.auth.core;
@using WaveAccess.MyQuiz.WebUI.app.panel.auth.forgotPassword;
@model RestorePasswordViewModel

<div class="SignProcess__HeaderBlock">
    <div class="SignProcess__MainHeader">@restorePassword.AuthForm__MainHeader</div>
    <div class="SignProcess__SubHeader">@Html.Raw(restorePassword.AuthForm__SubHeader)</div>
</div>
<div class="SignProcess__FormBlock">
    @if (Model.IsTokenExpired)
    {
        <div class="alert alert-danger">@restorePassword.TokenIsExpired</div>
    }
    @using (Html.BeginForm())
    {
    @Html.HiddenFor(m => m.QuizCode)
    @Html.HiddenFor(m => m.ReturnUrl)
    @Html.HiddenFor(m => m.ParticipateRequest)
    <div class="InputText">
        @Html.PasswordFor(m => m.NewPassword)
        @Html.LabelFor(m => m.NewPassword)
        <line></line>
        @Html.ValidationMessageFor(m => m.NewPassword)
    </div>
    <div class="InputText">
        @Html.PasswordFor(m => m.ConfirmPassword)
        @Html.LabelFor(m => m.ConfirmPassword)
        <line></line>
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>
    <button class="btn btn-primary SignProcess__Button" type="submit">@restorePassword.Change</button>
    }

</div>
