﻿@model WaveAccess.MyQuiz.Model.Lecture

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Lecture</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Theme)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Theme)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UserProfile.UserName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserProfile.UserName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Image.DisplayName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Image.DisplayName)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
