﻿@using System.Configuration
@using WaveAccess.MyQuiz.Services.Azure.Enums
@model WaveAccess.MyQuiz.WebUI.Models.QuizViewModel

@{
    string supportedVideoFormatNames = String.Join(", ", Model.SupportedVideoFormats==null? new string[] { }: Model.SupportedVideoFormats.Select(x => x.Name).ToArray());
    string supportedVideoFormatExts = String.Join(",", Model.SupportedVideoFormats==null ? new string[] { } : Model.SupportedVideoFormats.Select(x => x.Extension).ToArray());
    string amsProcessingServiceURL = ConfigurationManager.AppSettings["AMSProcessingServiceURL"];
}


@section afterMeta{
    <link href="~/app/dist/css/lecture.min.css" rel="stylesheet" />
}

@section styles
{
    <style>
        .ql-snow .ql-tooltip[data-mode=link]::before {
            content: "@LocView.getLocalization("quillEnterUrl")" !important;
        }

        .ql-snow .ql-tooltip::before {
            content: "@LocView.getLocalization("quillVisitUrl")" !important;
        }

        .ql-snow .ql-tooltip.ql-editing a.ql-action::after {
            content: "@LocView.getLocalization("quillSave")" !important;
        }

        .ql-snow .ql-tooltip a.ql-action::after {
            content: "@LocView.getLocalization("quillEdit")" !important;
        }

        .ql-snow .ql-tooltip a.ql-remove::before {
            content: "@LocView.getLocalization("quillRemove")" !important;
        }

        .ql-tooltip{
            z-index: 99999;
        }
    </style>
}

@Styles.Render("~/Content/dropzonescss")
@Styles.Render("~/Content/plugins/cropp")
@Styles.Render("~/Content/plugins/quill")
@Styles.Render("~/Content/plugins/amp")
@Scripts.Render("~/bundles/plugins/amp")


@Html.Partial("~/app/core/elements/spinner/spinner.cshtml")


<div id="popup-wrap"></div>
<table id="tblAlert">
    <tr>
        <td>
            <div class="infoPopup" style="position: relative;">
                <p class="info-title">
                    @LocView.getLocalization("Warning_Refresh_Message_Title")
                    <img src="/Images/cancel-cross.png" alt="close" />
                </p>
                <p class="info-text">
                    @LocView.getLocalization("Warning_Refresh_Message1")<br />
                    @LocView.getLocalization("Warning_Refresh_Message2")<br />
                </p>
                <p class="navigation-buttons">
                    <input type="button" class="navigation-button-right navigation-buttons-cancel" value="@LocView.getLocalization("Cancel")" id="btnCancelLeave" />
                    <input type="button" class="navigation-button-right navigation-buttons-ok" value="@LocView.getLocalization("Ok")" id="btnConfirmLeave" />
                </p>
            </div>
        </td>
    </tr>
</table>

<div id="croppQuizModal" class="modal modal--close">
    <div class="modal__table croppQuizModal__table">
        <div class="modal__tableRow">
            <div class="modal__tableCell">
                <div class="modal__header">
                    <span>@LocView.getLocalization("Crop_the_image")</span>
                    <span class="modal__closeCross" onclick="return Controls.onCancelCropp();"></span>
                </div>
                <div class="modal__body" style="text-align: center;">
                    <div style="display: inline-block;">
                        <img id="quiz-image" src="" alt="Quiz image">
                    </div>
                </div>
                <div class="modal__footer clearfix">
                    <div class="croppQuizModal__buttonPlaceholder">
                        <input type="file" id="quiz-image--second-input" name="quiz-image--second-input" style="display: none;"
                               onchange="Controls.onQuizImageSelected(this, null, 'ImageMobileInput', false, '@LocView.getLocalization("Uploading")',
                               '@LocView.getLocalization("drop_image_here")')" class="image-uploader-input ignore_validation" />
                        <a class="btn btn--cropp-submit" onclick="Controls.onUploadNewImageUsingdropzone();" id="btnBrowse">@LocView.getLocalization("Browse")</a>
                        <a class="btn btn--cropp-submit" onclick="Controls.onSaveCroppedImage();" id="btnCropp">
                            <span>@LocView.getLocalization("Cropp_Done")</span>
                            <b id="cropper-loader" style="display: none">
                                <i class="cropper-circle"></i>
                                <i class="cropper-circle"></i>
                                <i class="cropper-circle"></i>
                                <i class="cropper-circle"></i>
                            </b>
                        </a>
                        <a class="btn btn--cropp-cancel" onclick="return Controls.onCancelCropp();" id="btnCancel">@LocView.getLocalization("Cancel")</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<span class="mobile back-btn" onclick="window.history.back();"></span>
<div>

    @using (Html.BeginForm("Edit", "Lectures", FormMethod.Post, new { id = "lectureEditForm", name = "QuizForm", ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.Hidden("returnUrl")
        @Html.Hidden("storageToken", (object)ViewBag.ImageUrlParameters.SecureToken, new { id = "storageToken" })
        @Html.Hidden("storageUrl", (object)Html.Raw(ViewBag.ImageUrlParameters.ContainerUrl), new { id = "storageUrl" })
        @Html.Hidden("storageAccountName", (object)ViewBag.ImageUrlParameters.StorageName, new { id = "storageAccountName" })


        <input type="hidden" id="data-input-changed" value="false" />
        <div>
            @Html.EditorForModel()
        </div>
        <input type="hidden" value="@ViewData["LectureId"]" id="QuizIdViewData" />
    }

    @{
        Html.RenderAction("EditorForm", "CustomQuestion", new { id = Model.Id, type = Model.Type });
    }
</div>

<div class="centered" style="background: none; border: 0;">
    <div class="navigation-buttons">
        <div class="navigation-buttons-left">
            <input id="addButton" onclick="onAddEntitiesClick.call(this, '@LocView.getLocalization("Seconds")')" class="navigation-button-right" style="display: none;" type="button" value="@LocView.getLocalization("Add_Question")" />
            <input id="nextButton" class="navigation-button-right" type="button" value="@LocView.getLocalization("Next")" />
        </div>
        <div class="navigation-buttons-right">
            <input id="saveButton" class="navigation-button-right" type="submit" value="@LocView.getLocalization("Save")" />
            <input id="cancelButton" class="navigation-button-right navigation-buttons-cancel" type="button" value="@LocView.getLocalization("Cancel")" />
        </div>
    </div>
</div>
<link href="~/Content/ion.calendar.css" rel="stylesheet" />
<link href="~/Content/jquery.ptTimeSelect.css" rel="stylesheet" />
<link href="~/Content/responsive-v2.css" rel="stylesheet" />
@Styles.Render("~/Content/select2")


@section Scripts {
    <script src="@Html.UrlCdn("~/Scripts/jquery.timepicker.min.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/dotdotdot")
    @Scripts.Render("~/bundles/dropzonescripts")
    @Scripts.Render("~/bundles/plugins/cropp")
    @Scripts.Render("~/bundles/plugins/quill")
    @Scripts.Render("~/bundles/plugins/inputmask")
    @Scripts.Render("~/bundles/plugins/mediaSelector")
    @Scripts.Render("~/bundles/plugins/imageStorageUploader")

    <script src="@Html.UrlCdn("~/Scripts/jquery.ptTimeSelect.js")"></script>
    <script src="@Html.UrlCdn("~/Scripts/Pages/ConditionalValidation.js")"></script>
    <script src="/Scripts/sortable.js"></script>
    <script src="/Scripts/autosize.min.js"></script>
    <script src="/Scripts/jquery.autosize.min.js"></script>
    <script src="@Html.UrlCdn("~/Scripts/main/utils.js")"></script>
    <script type="text/javascript">
        var spinnerModule = (
            function(spinnerModule) {
                spinnerModule.Show = function() {
                    $('#fullScreenSpinner').show();
                };

                spinnerModule.Hide = function() {
                    $('#fullScreenSpinner').hide();
                };

                return spinnerModule;
            }(spinnerModule || {})
        );
    </script>
    <script type="text/javascript">
        var global_maxAnswersCount = @((AuthHelper.GetCurrentUser().Result).MaxAnswersCount);
        var $inputs;

        $(document).ready(function() {
            if (imageUrlHelper) {
                imageUrlHelper.profilePhotoContainerName = '@ContainerType.UserPhotos';
                imageUrlHelper.profilePhotoSize = '@ConfigurationManager.AppSettings["ProfilePhotoSize"]';
                imageUrlHelper.profilePhotoMaxWidth = '@ConfigurationManager.AppSettings["ProfilePhotoMaxWidth"]';
                imageUrlHelper.quizImageSizes = [@ConfigurationManager.AppSettings["QuizImageSizes"]];
            }
            mediaSelectorCommon.settings = new Object();
            mediaSelectorCommon.settings.storageUrl = $('#storageUrl').val();
            mediaSelectorCommon.settings.storageToken = $('#storageToken').val();
            mediaSelectorCommon.settings.storageAccountName = $('#storageAccountName').val();
            $('.note-label').each(function() {
                var noteLabel = $(this);
                var noteField = noteLabel.parents('.subentities-list-add-note').find('textarea').first();
                noteLabel.click(function() {
                    Controls.onNoteLabelClick(noteField);
                });
            });
            $('#@Html.IdFor(m => m.TimeZoneName)').on('change',
                function() {
                    $('#@Html.IdFor(m => m.TimeZone)').val($(this).find('option:selected').attr('offset'));
                });

            @if (Model.Id == 0 || Model.TimeZoneName == null)
            {
                <text>
                    var timeZone = GlobalUtils.getCurrentTimeZone();
                    $('#@Html.IdFor(m => m.TimeZone)').val(timeZone.timeZoneOffset);
                    $('#@Html.IdFor(m => m.TimeZoneName)').val(timeZone.timeZoneName);
                </text>
            }
            else
            {
                <text>
                    $('#@Html.IdFor(m => m.TimeZoneName)').val("@Model.TimeZoneName");
                </text>
            }

            $('#@(Html.IdFor(m => m.TimeZoneName))').select2({
                theme: 'customMD',
                minimumResultsForSearch: -1,
                width: 'resolve'
            });

            var timeInputs = $('input[timeinput="true"]');


            //Controls.onInitMultipleDropzones();
            Controls.onInitTimeInputsDuplcates(timeInputs, '@LocView.getLocalization("Seconds")');

            setTimeout(function() {
                $('textarea').each(function() {
                    autosize(this);
                });
            });

            initRemoveButtonsQuestionsForm();

            var sortable = new Sortable($("#sortable")[0],
                {
                    group: "name",
                    animation: 0,
                    handle: ".Drag-Icon",
                    draggable: "li",
                    ghostClass: "sort-placeholder",
                    dragClass: "ui-sortable-helper",
                    forceFallback: true,
                    fallbackOffset: {
                        x: 0,
                        y: 0
                    },
                    onStart: function(evt) {

                    },
                    onChoose: function(/**Event*/evt) {
                        $(evt.item).removeClass('ui-sortable-helper');
                        $('#sortable li').addClass('close');
                        var offset = $(evt.item).offset();
                        this.options.fallbackOffset.y = this._lastY - offset.top - 20;
                    },
                    onEnd: function(evt) {
                        $('.ui-sortable-helper').removeClass('ui-sortable-helper');
                        var useElement = evt.item.getElementsByTagName("use")[0];
                        if (useElement.href && useElement.href.baseVal) {
                            useElement.href.baseVal = useElement.href.baseVal;
                        }
                    }
                });

            $('#language #localization a').removeAttr('onClick');
            $.validator.defaults.ignore = "";

            $(".datepicker input").attr("readonly", "readonly");
            $(".timepicker input").attr("readonly", "readonly");

            $(".datepicker input").ionDatePicker({
                lang: "@Model.Language",
                sundayFirst: @Model.IsSundayFirst.ToString().ToLower(),
                format: "@Model.DateFormatForCalendar",
                years: "@DateTime.UtcNow.AddDays(-1).Year-@DateTime.UtcNow.AddYears(10).Year",
            });

            $('.TimeSelector').each(function() {
                var $timeHidden = $(this).find('input[type="hidden"]');
                var $hoursSelect = $(this).find('select[data-type="timeSelector-hours"]');
                var $minutesSelect = $(this).find('select[data-type="timeSelector-minutes"]');
                var $ampmSelect = $(this).find('select[data-type="timeSelector-ampm"]');

                $hoursSelect.on('change', timeSelectorChanged);
                $minutesSelect.on('change', timeSelectorChanged);
                $ampmSelect.on('change', timeSelectorChanged);

                function timeSelectorChanged() {
                    var time = $hoursSelect.val() + ':' + $minutesSelect.val();
                    if ($ampmSelect.length > 0) {
                        time = time + ' ' + $ampmSelect.val();
                    }

                    $timeHidden.val(time);
                    console.log(time);
                }

            });

            Controls.OnCheckCustomSettingsValue();
            Controls.onCheckWinnerCodeValue();

            $('[data-quill-editor-for]').each(function() {
                initQuill($(this));
            });
        });

        function initRemoveButtonsQuestionsForm() {
            var form = $('#questionsForm');
            if (form != null) {
                var questionContainers = $('[name="QuestionContainer"]', form);
                for (var i = 0; i < questionContainers.length; i++) {
                    if ($('[name="AnswersContainer"] textarea', questionContainers[i]).length === 5) {
                        $('[name="AnswersContainer"] button', questionContainers[i]).hide();
                    }
                    var removeButtons = $('[name="AnswersContainer"] .entity-item-remove-button', questionContainers[i]);
                    for (var j = 0; j < removeButtons.length, j < 2; j++) {
                        $(removeButtons[j]).hide();
                    }
                }
            };
        };

        function checkForm(form, isOnStep) {
            var result = true;
            var quizType = $('#Type').val();

            if (quizType == 'Survey') {
                result = checkAnswerPoints(form);
            } else {
                result =
                    checkboxValid(form) &&
                    minimalAnswersCount(form) &&
                    maximumCorrectAnswers(form) &&
                    validateNoteBlock(form);
            }

            result = result &&
                descriptionValid() &&
                userProviderSelectionValid() &&
                promoBlocksAreValid(form) &&
                Controls.OnCustomSettingsValidate(form, isOnStep) &&
                Controls.OnWinnerCodeValidate() &&
                Controls.OnYoutubeLiveUrlValidate() &&
                Controls.OnQuizTrackerCodeValidate() &&
                Controls.OnQuizRequirementsValidate();
            return result;
        };

        function validateNoteBlock(form) {
            var isNotesCorrect = true;
            if (form.attr('id') === 'questionsForm') {
                $('.subentities-list-add-note').each(function() {
                    var noteContainer = $(this);
                    var checkbox = noteContainer.find('input[type=checkbox]').first();
                    var textArea = noteContainer.find('textarea').first();
                    if (checkbox.attr('checked') === 'checked' && textArea.val().length === 0) {
                        if (isNotesCorrect) {
                            textArea.focus();
                            $('html, body').animate({
                                scrollTop: noteContainer.offset().top
                            });
                        }
                        isNotesCorrect = false;
                        var error = $('.field-validation-valid[data-valmsg-for="' + textArea.attr('name') + '"]');
                        if (error != undefined) {
                            error.removeClass('field-validation-valid')
                                .addClass('custom-validation-error');
                        }
                    }
                });
            }
            return isNotesCorrect;
        };

        function userProviderSelectionValid() {
            if ('@Model.AllowLimitUserProviders' !== 'True' || $("#radio-user-provider-no:checked").length) {
                return true;
            }
            if (!$(".lectureProviders").find("input:checkbox:checked").length) {
                $(".lectureProviders").find(".div__ErrorMessageBox").removeClass("hidden");
                return false;
            }
            $(".lectureProviders").find(".div__ErrorMessageBox").addClass("hidden");
            return true;
        }

        function descriptionValid() {
            var maxLength = 800;
            var quill = Quill.find($("#Description__Quill")[0]);
            var text = quill.getText();
            if (text.length > maxLength) {
                $("#Description__Quill").parent(".quill-editor").addClass("error-quill");
                var errorMessage = $("#desc-error-quill-message").text().replace('{1}', maxLength);
                $("#desc-error-quill-message").text(errorMessage);
                $("#desc-error-quill-message").removeClass("hidden");
                quill.focus();
                return false;
            }
            $("#Description__Quill").parent(".quill-editor").removeClass("error-quill");
            $("#desc-error-quill-message").addClass("hidden");
            return true;
        }

        function promoBlocksAreValid(form) {
            if ('@Model.IsPromoEnabled' !== 'True') {
                return true;
            }

            var validationResult = true;
            $.each($(form).find(".Promo:not(.hide)").find("div[data-quill-editor-for]"),
                function(index, item) {
                    var jqueryItem = $(item);
                    if (!jqueryItem ||
                            !jqueryItem.data("quill-editor-for") ||
                            !$('#' + jqueryItem.data('quill-editor-for')).val() ||
                            !$("<div/>").html($('#' + jqueryItem.data('quill-editor-for')).val())
                            .text() //check that not only empty tags
                    ) {
                        jqueryItem.parent().find(".div__ErrorMessageBox").removeClass("hidden");
                        jqueryItem.children('.ql-editor').css('outline', 0).attr('tabindex', -1).focus();
                        $('html, body').animate({
                            scrollTop: jqueryItem.parent().find(".div__ErrorMessageBox").offset().top
                        });
                        validationResult = false;
                    } else {
                        jqueryItem.parent().find(".div__ErrorMessageBox").addClass("hidden");
                    }

                });
            return validationResult;
        }

        function checkboxValid(form) {

            if (form != null && form.attr('id') === 'questionsForm') {
                var questionContainers = $('[name="QuestionContainer"]', form);

                for (var i = 0; i < questionContainers.length; i++) {
                    if (!$('[name="AnswersContainer"] input[type="checkbox"]:checked', questionContainers[i]).length) {
                        $('[name="ErrorBlockCheckbox"]', questionContainers[i]).show()
                            .addClass('custom-validation-error');
                        $('#ErrorsBlock', questionContainers[i]).show();
                        //$('textarea', questionContainers[i]).first().focus();
                        $('[name="ErrorBlockCheckbox"]').focus();
                        $('html, body').animate({ scrollTop: $('[name="ErrorBlockCheckbox"]').offset().top }, 'slow');
                        return false;
                    } else {
                        $('[name="ErrorBlockCheckbox"]', questionContainers[i]).hide()
                            .removeClass('custom-validation-error');
                    }
                }
            }
            return true;
        };

        function minimalAnswersCount(form) {
            if (form != null && form.attr('id') === 'questionsForm') {
                var qContainers = $('[name="QuestionContainer"]', form);
                for (var i = 0; i < qContainers.length; i++) {
                    if ($('[name="AnswersContainer"] textarea', qContainers[i]).length < 2) {
                        $('#ErrorsBlock', qContainers[i]).show();
                        $('[name="ErrorBlockAnswers"]', qContainers[i]).show().addClass('custom-validation-error');
                        //$('textarea', qContainers[i]).first().focus();
                        $('[name="ErrorBlockAnswers"]').focus();
                        $('html, body').animate({ scrollTop: $('[name="ErrorBlockAnswers"]').offset().top }, 'slow');
                        return false;
                    } else {
                        $('[name="ErrorBlockAnswers"]', qContainers[i]).hide().removeClass('custom-validation-error');
                    }
                }
            }
            return true;
        };

        function maximumCorrectAnswers(form) {
            if (form != null && form.attr('id') === 'questionsForm') {
                var questionContainer = $('[name="QuestionContainer"]', form);
                for (var i = 0; i < questionContainer.length; i++) {
                    if ($('[name="AnswersContainer"] input[type="checkbox"]:not(:checked)', questionContainer[i])
                        .length <
                        1) {
                        $('#ErrorsBlock', questionContainer[i]).show();
                        $('[name="ErrorMaximumAnswers"]', questionContainer[i]).show()
                            .addClass('custom-validation-error');
                        //$('textarea', questionContainer[i]).first().focus();
                        $('[name="ErrorMaximumAnswers"]').focus();
                        $('html, body').animate({ scrollTop: $('[name="ErrorMaximumAnswers"]').offset().top }, 'slow');
                        return false;
                    } else {
                        $('[name="ErrorMaximumAnswers"]', questionContainer[i]).hide()
                            .removeClass('custom-validation-error');
                    }
                }
            }
            return true;
        };

        function checkAnswerPoints(form) {
            if (form != null && form.attr('id') === 'questionsForm') {
                var qContainers = $('[name="QuestionContainer"]', form);
            }
            return true;
        };

        $(document).on('change','input[type="checkbox"]',function() {
            var questionContainer = $(this).parents('[name="QuestionContainer"]');
            Controls.validateAnswers(questionContainer);
        });

        var SubMenu = function(container) {
            var self = this;
            self.items = [];
            self.container = $(container);
            self.current = null;

            self.MakeCurrent = function(item) {
                if (!self.current || page.isFormsValid(true)) {
                    $(self.items).each(function(ind, el) {
                        el.SetState((typeof item != 'string' && el === item) ||
                            (typeof item == 'string' && el.title === item));
                        if ((typeof item != 'string' && el === item) ||
                            (typeof item == 'string' && el.title === item)) {
                            self.current = el;
                            if (ind + 1 === self.items.length) {
                                $("#nextButton").css('display', 'none');
                                $("#addButton").css('display', 'block');
                            } else {
                                $("#nextButton").css('display', 'block');
                                $("#addButton").css('display', 'none');
                            }
                        }
                    });
                } else {
                    $(".input-validation-error").first().focus();

                    $(".input-validation-error").each(function() {
                        var body = $(this).parents('.body');
                        var header = $(this).parents('.body').prev('.header');

                        if (!body.is(':visible')) {
                            Controls.onToggleContainerButton(header.find('.toggleButton-button')[0],
                                '[' + header.find('[name="Index"]').val() + '].Text');
                        }
                    });

                    $('.custom-validation-error')
                        .each(function() {
                            var body = $(this).parents('.body');
                            var header = $(this).parents('.body').prev('.header');

                            if (!body.is(':visible')) {
                                Controls.onToggleContainerButton(header.find('.toggleButton-button')[0],
                                    '[' + header.find('[name="Index"]').val() + '].Text');
                            }
                        });
                }
            };

            self.SetCurrent = function(item) {
                $(self.items).each(function(ind, el) {
                    el.SetState((typeof item != 'string' && el === item) ||
                        (typeof item == 'string' && el.title === item));
                    if ((typeof item != 'string' && el === item) || (typeof item == 'string' && el.title === item)) {
                        self.current = el;
                        if (ind + 1 === self.items.length) {
                            $("#nextButton").css('display', 'none');
                            $("#addButton").css('display', 'block');
                        } else {
                            $("#nextButton").css('display', 'block');
                            $("#addButton").css('display', 'none');
                        }
                    }
                });
            };

            self.Render = function() {
                $(self.items).each(function(ind, el) {
                    el.Render(self.container);
                });
            };

            self.AddItem = function(item) {
                item.subMenu = self;
                self.items.push(item);
                if (item.isCurrent) {
                    self.current = item;
                }
            };

            self.ShowNext = function() {
                var currPassedFlag = false;
                var current = null;
                var next = null;
                $(self.items).each(function(ind, el) {
                    if (el.isCurrent) {
                        currPassedFlag = true;
                        current = el;
                    } else if (currPassedFlag) {
                        self.MakeCurrent(el);
                        return false;
                    }
                });
            };
        };

        var SubMenuItem = function(form, title, isCurrent) {
            var self = this;
            self.form = form;
            self.title = title;
            self.isCurrent = isCurrent;
            self.subMenu = null;
            self.li = $('<li class="sub-menu-link-item"></li>');
            self.currentItem = $('<span class="sub-menu-current-item-wrapper">' + title + '</span>');
            self.currentItemMobile = $('<span class="sub-menu-current-item-wrapper mobile"></span>');

            var currentTitle = self.title === "@LocView.getLocalization("Lecture_Info")" ? "QuizInfo" : "Questions";
            var currentTitleForMobile = self.title === "@LocView.getLocalization("Lecture_Info")"
                ? "@LocView.getLocalization("Lecture_Info_Mob")"
                : "@LocView.getLocalization("Questions")";

            self.li.attr('data-title', currentTitle);
            self.currentItem.attr('data-title', currentTitle);
            self.currentItemMobile.attr('data-title', currentTitle + "-Mob");
            self.currentItemMobile.append(currentTitleForMobile);

            self.OnClick = function() {

                var title = null;
                if (self.title === "@LocView.getLocalization("Lecture_Info")" ||
                    self.title === "@LocView.getLocalization("Lecture_Info_Mob")") {
                    title = page.forms.generalInfo.selector;
                } else {
                    title = page.forms.questions.selector;
                }

                $.cookie('CurrentTab', title, { expires: 1, path: '/Lectures/Edit' });
                self.subMenu.MakeCurrent(self);
                if (self.title === "@LocView.getLocalization("questions")") {
                    setTimeout(function() {
                        Controls.onShowFooter();
                    });
                }
            };

            self.Render = function(container) {
                self.li.append(self.currentItem);
                self.li.append(self.currentItemMobile);

                self.currentItem.click(function(e) {
                    self.OnClick();
                    e.stopPropagation();
                });

                self.currentItemMobile.click(function(e) {
                    self.OnClick();
                    e.stopPropagation();
                });

                if (self.isCurrent) {
                    self.currentItem.removeClass('not-current').addClass('current');
                    self.currentItemMobile.removeClass('not-current').addClass('current');
                    self.currentItemMobile.text(currentTitleForMobile);
                } else {
                    self.currentItem.removeClass('current').addClass('not-current');
                    self.currentItemMobile.removeClass('current').addClass('not-current');
                    self.currentItemMobile.text('');
                }

                $(container).append(self.li);
            };

            self.SetState = function(isCurrent) {
                self.isCurrent = isCurrent;
                if (self.isCurrent) {
                    if (self.title === "@LocView.getLocalization("Lecture_Info")") {
                        self.currentItemMobile.parents('li').removeClass('visited');
                        $('.navigation-buttons-left').removeClass('questions-page');
                        $('.navigation-buttons-left').next('.navigation-buttons-right').removeClass('questions-page');
                    }

                    self.currentItem.removeClass('not-current').addClass('current');
                    self.currentItemMobile.removeClass('not-current').addClass('current');
                    self.currentItemMobile.text(currentTitleForMobile);
                    $(self.li).attr('id', 'current');

                    if ($('[name~="QuestionContainer"]', self.form).length <= 0 &&
                        self.title === "@LocView.getLocalization("Questions")") {
                        var uniqueKey = +(new Date());
                        Controls.onAddEmptyEntity(this,
                            '@Url.Action("Blank", "CustomQuestion")?fix=' + uniqueKey,
                            null,
                            null,
                            function() {
                                initRemoveButtonsQuestionsForm();
                                var questionContainers = $('[name="QuestionContainer"]', $('#questionsForm'));
                                Controls.validateAnswers(questionContainers[0]);
                            },
                            '@LocView.getLocalization("Seconds")');
                    }

                    self.form.show();

                    setTimeout(function() {
                        $('textarea').each(function() {
                            autosize.update(this);
                        });
                    });

                } else {

                    if (self.title === "@LocView.getLocalization("Lecture_Info")") {
                        self.currentItemMobile.parents('li').addClass('visited');
                        $('.navigation-buttons-left').addClass('questions-page');
                        $('.navigation-buttons-left').next('.navigation-buttons-right').addClass('questions-page');
                    }

                    self.currentItem.removeClass('current').addClass('not-current');
                    self.currentItemMobile.removeClass('current').addClass('not-current');
                    self.currentItemMobile.text('');
                    $(self.li).removeAttr('id');
                    self.form.hide();
                }
            };
        };


        var page = {};

        $(function() {

            Controls.refreshValidation();

            page.forms = {
                generalInfo: $("#lectureEditForm"),
                questions: $("#questionsForm")
            };
            var parems = getQueryParams(window.location.search.substring(1));
            var currentTab = $.cookie("CurrentTab");
            var quizTabTitle = "@LocView.getLocalization("Lecture_Info")";
            var questionTabTitle = "@LocView.getLocalization("questions")";
            if (currentTab == null) {
                currentTab = "@LocView.getLocalization("Lecture_Info")";
            } else {
                if (currentTab === page.forms.generalInfo.selector) {
                    currentTab = quizTabTitle;
                } else {
                    currentTab = questionTabTitle;
                }
            }

            page.subMenu = new SubMenu("#sub-menu");
            page.subMenu.AddItem(new SubMenuItem(page.forms.generalInfo,
                "@LocView.getLocalization("Lecture_Info")",
                false));
            page.subMenu.AddItem(new SubMenuItem(page.forms.questions, "@LocView.getLocalization("questions")", false));

            setTimeout(function() {
                page.subMenu.MakeCurrent(!parems.currentItem ? currentTab : parems.currentItem);
            });

            function getQueryParams(qs) {
                qs = qs.split('+').join(' ');

                var params = {},
                    tokens,
                    re = /[?&]?([^=]+)=([^&]*)/g;

                while (tokens === re.exec(qs)) {
                    params[decodeURIComponent(tokens[1])] = decodeURIComponent(tokens[2]);
                }

                return params;
            }

            page.subMenu.Render();

            page.ajaxRequestsCounter = 0;

            $("form").not(page.forms.generalInfo).hide();

            $("#nextButton").click(function() {
                page.subMenu.ShowNext();
            });

            page.isFormsValid = function(isOnStep) {
                Controls.refreshValidation();
                for (var f in page.forms) {
                    var form = $(page.forms[f]);
                    if (!form.valid() || !checkForm(form, isOnStep)) {
                        $(".input-validation-error").first().focus();

                        if (form.attr('id') === 'questionsForm') {
                            page.subMenu.SetCurrent(page.subMenu.items[1]);
                        } else {
                            page.subMenu.SetCurrent(page.subMenu.items[0]);
                        }

                        $(".input-validation-error").each(function() {
                            if (!$(this).parents('.body').is(':visible')) {
                                var header = $(this).parents('.body').prev('.header');
                                Controls
                                    .onToggleContainerButton(header.find('.toggleButton-button')[0],
                                        '[' + header.find('[name="Index"]').val() + '].Text');
                            }
                        });

                        $('.custom-validation-error').each(function() {
                            var body = $(this).parents('.body');
                            var header = $(this).parents('.body').prev('.header');

                            if (!body.is(':visible')) {
                                Controls.onToggleContainerButton(header.find('.toggleButton-button')[0],
                                    '[' + header.find('[name="Index"]').val() + '].Text');
                            }
                        });
                        return false;
                    }
                }
                return true;
            };

            page.InitAjaxRequests = function() {
                page.ajaxRequestsCounter = 0;
            };

            page.OnAjaxRequestBegin = function() {
                if (page.ajaxRequestsCounter === 0) {
                    Controls.togglePageLocker();
                }
                page.ajaxRequestsCounter++;
            };

            page.OnAjaxRequestComplete = function() {
                page.ajaxRequestsCounter--;
                if (page.ajaxRequestsCounter <= 0) {
                    Controls.hidePageLocker();
                    @if (AuthHelper.IsAdmin)
                    {
                        <text>
                            if (document.referrer.indexOf("StartedQuiz") > -1) {
                                window.location.replace("/Admin/StartedQuiz");
                            } else {
                                window.location.replace("/Admin/AllQuiz");
                            }
                        </text>
                    }
                    else
                    {
                        <text>
                            window.location.replace("/Lectures");
                        </text>
                    }
                }
            };

            page.OnSaveQuiz = function() {
                if (page.isFormsValid(false)) {
                    var quizId = 0;

                    page.InitAjaxRequests();
                    for (var f in page.forms) {
                        var form = $(page.forms[f]);

                        Common.removeListsSuffix(form);
                        //console.log(form.attr('id'), form.serialize());

                        page.OnAjaxRequestBegin();

                        var b = form.serializeArray();
                        $(b).each(function() {
                            if (this.name.indexOf('PromoText') > -1 || this.name == 'Description') {
                                this.value = this.value
                                    .replace(/</g, '##!!$$$$')
                                    .replace(/>/g, '$$$$!!##');
                            } else {
                                this.value = this.value.replace(/<br\/?>/, '\n')
                                    .replace('<br/>', '\n')
                                    .replace(/<\/?[^>]+>/g, '');
                            }
                        });

                        if (quizId !== 0) {
                            b.push({ name: "id", value: quizId });
                        }

                        $.ajax({
                            type: "POST",
                            async: false,
                            url: form.attr("action"),
                            data: b,
                            dataType: "json",
                            timeout: 3600000,
                            success: function(data) {
                                page.OnAjaxRequestComplete();
                                if (data !== null && data !== undefined) {
                                    quizId = data.quizId;
                                    $('#Id').val(data.quizId);
                                }
                            },
                            error: function() {
                                page.OnAjaxRequestComplete();
                            }
                        });
                    }
                }

            };

            $("#saveButton").click(function() {
                if (page.ajaxRequestsCounter <= 0) {
                    page.OnSaveQuiz(false);
                }

                if ($.cookie("CurrentTab") != null) {
                    $.removeCookie("CurrentTab");
                }
            });

            $('#cancelButton').click(function() {
                if (detectedChanges()) {
                    showConfirm();
                    $('#btnConfirmLeave').click(function() {
                        Controls.togglePageLocker();
                        if (document.referrer.indexOf("AllQuiz") > -1) {
                            window.location.replace("/Admin/AllQuiz");
                        } else if (document.referrer.indexOf("StartedQuiz") > -1) {
                            window.location.replace("/Admin/StartedQuiz");
                        } else if (document.referrer.indexOf("Lectures") > -1) {
                            window.location.replace("/Lectures");
                        }
                        if ($.cookie("CurrentTab") != null) {
                            $.removeCookie("CurrentTab");
                        }
                    });
                    return false;
                } else {
                    if (document.referrer.indexOf("AllQuiz") > -1) {
                        window.location.replace("/Admin/AllQuiz");
                    } else if (document.referrer.indexOf("StartedQuiz") > -1) {
                        window.location.replace("/Admin/StartedQuiz");
                    } else if (document.referrer.indexOf("Lectures") > -1) {
                        window.location.replace("/Lectures");
                    }
                }
            });

            $('#menu-container a:not(#language a)').click(function() {
                var isBurgerOpen = detectIfBurgerOpen();
                if (detectedChanges()) {

                    if (isBurgerOpen) {
                        closeMenu();
                    }

                    showConfirm();

                    var $this = $(this);
                    var url = $this.attr('href');

                    $('#btnConfirmLeave').click(function() {
                        if (url != null) {
                            window.location.replace(url);
                        }
                        if ($.cookie("CurrentTab") != null) {
                            $.removeCookie("CurrentTab");
                        }
                    });

                    return false;
                }

                if ($.cookie("CurrentTab") != null) {
                    $.removeCookie("CurrentTab");
                }

                return true;
            });

            $('#language #localization a').click(function() {
                var $this = $(this);
                var localization = "";
                var isBurgerOpen = detectIfBurgerOpen();

                if ($this.text().toLowerCase() === 'русский') {
                    localization = "ru";
                } else {
                    localization = "en";
                }

                if (detectedChanges()) {

                    if (isBurgerOpen) {
                        closeMenu();
                    }

                    showConfirm();

                    $('#btnConfirmLeave').click(function() {
                        $this.click(Controls.onChangeLocalization(localization));
                    });

                    return false;
                }
                $this.click(Controls.onChangeLocalization(localization));
                return true;
            });

            function detectIfBurgerOpen() {
                var $openBurger = false;
                if ($('.burger').hasClass('open')) {
                    $openBurger = true;
                }
                return $openBurger;
            }

            function detectedChanges() {
                var $changed = false;

                $('textarea#autosizejs').each(function() {
                    var $element = $(this);
                    $element.val('');
                });

                var $imageChanged = $('#data-input-changed').val() === "true" ? true : false;
                $('form').each(function() {
                    var $currentInputs = $('input[type="text"], input[type="number"], textarea');
                    console.log($currentInputs);

                    if ($currentInputs.length !== $inputs.length) {
                        $changed = true;
                    }

                    $('#cancelButton').bind("DOMSubtreeModified",
                        function() {
                            $changed = true;
                        });

                    $($currentInputs).each(function() {
                        var $element = $(this);
                        if ($element.val() !== $element.prop('defaultValue')) {
                            $changed = true;
                        }
                    });

                    $(':checkbox').each(function() {
                        var $chkelement = $(this);
                        if ($chkelement.prop('checked') !== $chkelement.prop('defaultChecked')) {
                            $changed = true;
                        }
                    });

                    if ($imageChanged) {
                        $changed = true;
                    }
                });
                return $changed;
            }
        });

        function removeButtonClick(element) {
            var questionContainer = $(element).parents('[name="QuestionContainer"]');
            $('button', $(element).parents('.subentities-list-container:first')).show();
            Controls.onEntityItemRemoveButton(element, true);
            Controls.validateAnswers(questionContainer);
        }

        function addButtonClick(element, id) {
            var answerCount = $('.convergence-goals-container', $(element).parent().parent().parent()).length;
            if (answerCount < global_maxAnswersCount) {
                $($(element).parents('.product-container.entity-list-item')).children('input');
                Controls.onAddSubEntitiesClick(element,
                    '@Url.Action("AnswerBlank", "CustomQuestion")' + '?' + Date.now(), id,
                    function () {
                        var questionContainer = $(this).parents('[name="QuestionContainer"]');
                        Controls.validateAnswers(questionContainer);
                    });
                if (answerCount + 1 === global_maxAnswersCount)
                    $(element).hide();
            }
            if (answerCount >= 1) {
                $($(element).parents('.product-container.entity-list-item'))
                    .children($('[name="ErrorBlockAnswers"]').hide());
            }
        };

        function addWinnerPlace(element, prefix, maxPlacesCount) {
            Controls.onAddEmptyQuizWinnerPlace(element,
                '@Url.Action("QuizWinnerCodeBlank", "Lectures")',
                prefix,
                maxPlacesCount);
        }

        function removeWinnerPlace(element) {
            Controls.onRemoveQuizWinnerPlace(element, true);
        }

        Quill.register(PromoblockLink);

        Quill.prototype.getHtml = function() {
            return this.container.querySelector('.ql-editor').innerHTML;
        };

        function initQuill($quillElement) {
            var quill = new Quill('#' + $quillElement.attr('id'),
                {
                    theme: 'snow',
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline', 'strike', 'link'],
                            ['clean']
                        ]
                    }
                });

            var quillTempContainer = document.createElement('div');
            quill.clipboard.addMatcher('*',
                function(node, delta) {
                    for (var i = 0; i < delta.ops.length; i++) {
                        delta.ops[i].attributes = {};
                        if (delta.ops[i].insert.image != undefined) {
                            delta.ops[i].insert = '';
                        }
                    }
                    return delta;
                });

            quill.on('text-change',
                function(delta, oldDelta, source) {
                    $('#' + $quillElement.data('quill-editor-for')).val(quill.getHtml());
                });
        }

        Dropzone.autoDiscover = false;

        var timerVideoUpdate = {};

        $(document).ready(function() {
            mediaSelectorCommon.localization = {
                mainTabName: '@LocView.getLocalization("mediaSelectorMainTabName")',
                localImgProcessorHeader: '@LocView.getLocalization("mediaSelectorLocalImgProcessorHeader")',
                localImgProcessorHeaderMobile:
                    '@LocView.getLocalization("mediaSelectorLocalImgProcessorHeaderMobile")',
                dropZoneText: '@LocView.getLocalization("mediaSelectorDropZoneText")',
                pixabayProcessorHeader: '@LocView.getLocalization("mediaSelectorPixabayProcessorHeader")',
                pixabayProcessorHeaderMobile:
                    '@LocView.getLocalization("mediaSelectorPixabayProcessorHeaderMobile")',
                pixabayInfo: '', //'LocView.getLocalization("mediaSelectorPixabayInfo")',
                pixabaySearchPlaceholder: '@LocView.getLocalization("mediaSelectorPixabaySearchPlaceholder")',
                pixabaySearchFoundImages: '@LocView.getLocalization("mediaSelectorPixabaySearchFoundImages")',
                pixabaySearchBtnNextPage: '@LocView.getLocalization("mediaSelectorPixabaySearchBtnNextPage")',
                pixabaySearchBtnPrevPage: '@LocView.getLocalization("mediaSelectorPixabaySearchBtnPrevPage")',
                youtubeHeader: '@LocView.getLocalization("mediaSelectorYoutubeHeader")',
                youtubeHeaderMobile: '@LocView.getLocalization("mediaSelectorYoutubeHeaderMobile")',
                youtubeSearchPlaceholder: '@LocView.getLocalization("mediaSelectorYoutubeSearchPlaceholder")',
                btnSave: '@LocView.getLocalization("mediaSelectorBtnSave")',
                btnCancel: '@LocView.getLocalization("mediaSelectorBtnCancel")',
                btnBackToSearch: '@LocView.getLocalization("mediaSelectorBtnBackToSearch")',
                btnBrowse: '@LocView.getLocalization("mediaSelectorBtnBrowse")',
                dropzoneMaxFileSizeError: '@LocView.getLocalization("File_size_error")',
                dropzoneMaxFileTypeError: '@LocView.getLocalization("File_type_error")',
                youtubeWrongUrlError: '@LocView.getLocalization("mediaSelectorWrongYoutubeLink")',
                youtubeAutoPlayLabel: '@LocView.getLocalization("mediaSelectorYoutubeAutoPlayLabel")',
                youtubeIntervalLabel: '@LocView.getLocalization("mediaSelectorYoutubeIntervalLabel")',
                youtubeStartTimeLabel: '@LocView.getLocalization("mediaSelectorYoutubeStartLabel")',
                youtubeEndTimeLabel: '@LocView.getLocalization("mediaSelectorYoutubeEndLabel")',
                youtubeTimeIntervalErrorMsg: '@LocView.getLocalization("mediaSelectorYoutubeTimeIntervalErrorMsg")',
                amsVideoProcessorHeader: '@LocView.getLocalization("mediaSelectorAMSVideoProcessorHeader")',
                amsVideoProcessorHeaderMobile:
                    '@LocView.getLocalization("mediaSelectorAMSVideoProcessorHeaderMobile")',
                amsVideoProcessorDropZoneText:
                    '@LocView.getLocalization("mediaSelectorAMSVideoProcessorDropZoneText")',
                amsVideoProcessorDropZoneFileSizeError:
                    '@LocView.getLocalization("mediaSelectorAMSVideoProcessorDropZoneFileSizeError")',
                amsVideoProcessorSupportedFormatText:
                    '@String.Format(LocView.getLocalization("mediaSelectorAMSVideoProcessorSupportedFormatText"), supportedVideoFormatNames)',
                amsVideoProcessorMaxFileSizeText:
                    '@LocView.getLocalization("mediaSelectorAMSVideoProcessorMaxFileSizeText")',
                amsVideoProcessorRecommendedVideoLengthText:
                    '@LocView.getLocalization("mediaSelectorAMSVideoProcessorRecommendedVideoLengthText")',
                amsVideoProcessorUploadingError:
                    '@LocView.getLocalization("mediaSelectorAMSVideoProcessorUploadingErrorText")',
                amsVideoProcessorUploadingMsg:
                    '@LocView.getLocalization("mediaSelectorAMSVideoProcessorUploadingMsg")',
                amsVideoProcessorUploadingBytesSent:
                    '@LocView.getLocalization("mediaSelectorAMSVideoProcessorUploadingBytesSent")',
                amsVideoProcessorEncodingMsg:
                    '@LocView.getLocalization("mediaSelectorAMSVideoProcessorEncodingMsg")',
                amsVideoProcessorChangeVideoBtnText:
                    '@LocView.getLocalization("mediaSelectorAMSVideoProcessorChangeVideoBtnText")',
                amsVideoProcessorAutoPlayLabel:
                    '@LocView.getLocalization("mediaSelectorAMSVideoProcessorAutoPlayLabel")',
                amsVideoProcessorLectureEncodingMsg:
                    '@LocView.getLocalization("mediaSelectorAMSVideoProcessorLectureEncodingMsg")'
            };

            var timerVideoUpdateStart = function() {
                timerVideoUpdate = setInterval(function() {
                        var ids = [];
                        $('.dropzone[mediatype="VideoSelfHosted"][storedurl=""]').each(function() {
                            ids.push($(this).attr("imageId"));
                        });
                        if (ids.length === 0) {
                            return;
                        }

                        $.ajax({
                            url: '@amsProcessingServiceURL' + 'upload/video/info',
                            type: "POST",
                            data: $.param({ '': ids }, true),
                            success: function(result) {
                                $.each(result,
                                    function(index) {
                                        if (!result[index].URL) {
                                            return;
                                        }
                                        $.each($('.dropzone[mediatype="VideoSelfHosted"][storedurl=""][imageId="' +
                                                result[index].Id +
                                                '"]'),
                                            function(ind, item) {
                                                updateInputFields(item, result[index]);
                                                showItemBasedOnSettings(item);
                                            });

                                    });
                            },
                            error: function(data) {

                                console.log("timerVideoUpdate failed");
                            }
                        });

                    },
                    10000);
            }
            var rootUrl = "/Content/Uploads/";
            var getUrlWithoutGetParams = function(url) {
                var index = url.indexOf('?');
                return index == -1 ? url : url.substring(0, index);
            };
            var showImg = function(item) {
                var storageUrl = $(item).find('[data-val-id~="storage_url"]').val();
                if (storageUrl != '') {
                    $(item).parent().find('.videoContainer').addClass("hidden");
                    $(item).find('.dz-message').addClass("hidden");
                    $(item).parent().find(".toggle--popup").removeClass("hide");
                    $(item).parent().find("iframe").attr("src", "");


                    $(item).css('background-image', 'url(' + storageUrl + '?' + new Date().getTime() + ')');

                    $(item).css('background-position', 'center');
                    $(item).css('background-size', 'contain');
                }
                $(item).attr("mediaType", "@WaveAccess.MyQuiz.Common.Enums.MediaType.Image.ToString()");

                $(item).attr("imageId", "");
                $(item).attr("videoAutoPlay", "");
                $(item).attr("thumbnailUrl", "");
            };
            var showVideo = function(item) {
                $(item).css('background-image', 'none');
                $(item).find('.dz-message').addClass("hidden");
                $(item).parent().find(".toggle--popup").removeClass("hide");
                $(item).parent().find('.videoContainer').removeClass("hidden");

                $(item).parent().find('.videoFrame').attr("src", "");
                var mediaType = $(item).find(".mediaType_input").val();
                $(item).attr("mediaType", mediaType);

                $(item).attr("storedUrl", $(item).find(".url_input").val());
                $(item).attr("imageId", $(item).find('[data-val-id~="ImageIdValue"]').val());
                $(item).attr("videoAutoPlay", $(item).find('.videoAutoPlay_input').val());
                $(item).attr("thumbnailUrl", $(item).find('.thumbnailUrl_input').val());

                $(item).parent().find('.videoFrame').addClass("hidden");
                $(item).parent().find('.videoEncodingProgress').addClass("hidden");

                if (mediaType == "@WaveAccess.MyQuiz.Common.Enums.MediaType.Video.ToString()") {
                    $(item).parent().find('.videoFrame')
                        .attr("src", getUrlWithoutGetParams($(item).find(".url_input").val()));
                    $(item).parent().find('.videoFrame').removeClass("hidden");

                } else if (mediaType == "@WaveAccess.MyQuiz.Common.Enums.MediaType.VideoSelfHosted.ToString()") {
                    var storedUrl = $(item).attr("storedUrl");

                    if (storedUrl) {
                        var thumbnail = $(item).attr("thumbnailUrl");
                        $(item).css('background-image', 'none');
                        $(item).css('background-image', 'url(' + thumbnail + ')');
                        $(item).css('background-position', 'center');
                        $(item).css('background-size', 'contain');
                    } else {
                        $(item).parent().find('.videoEncodingProgress').removeClass("hidden");
                    }
                }
            }
            var showItemBasedOnSettings = function(item) {
                var mediaType = $(item).find(".mediaType_input").val();
                if (mediaType == "@WaveAccess.MyQuiz.Common.Enums.MediaType.Video.ToString()" ||
                    mediaType == "@WaveAccess.MyQuiz.Common.Enums.MediaType.VideoSelfHosted.ToString()") {
                    showVideo(item);
                } else {
                    showImg(item);
                }
            };
            var getImageInternalPath = function(url) {
                if (!url) {
                    return url;
                }
                var urlParts = url.split("/");
                return urlParts[urlParts.length - 1];
            }
            var updateInputFields = function(item, data) {
                $(item).find('[data-val-id~="ImageIdValue"]').val(data.Id);
                $(item).find('[data-val-id~="storage_url"]').val(data.fileUrl);
                $(item).find('[data-val-id~="ImageInternalPathValue"]').val(getImageInternalPath(data.InternalPath));
                $(item).find('[data-val-id~="ImageCroppedInternalPathValue"]')
                    .val(getImageInternalPath(data.CroppedInternalPath));
                $(item).find('[data-val-id~="ImageDisplayNameValue"]').val(data.DisplayName);
                $(item).find('.url_input').val(data.URL);
                if (data.mediaType) {
                    $(item).find('.mediaType_input').val(data.mediaType);
                } else {
                    $(item).find('.mediaType_input').val(data.MediaType);
                }
                $(item).find('.videoAutoPlay_input').val(data.VideoAutoPlay);
                $(item).find('.thumbnailUrl_input').val(data.ThumbnailUrl);

            };

            var customMediaSelectorInit = function(mediaSelectorInstance, processors) {
                mediaSelectorInstance.init(
                    {
                        localization: {
                            loadingPleaseWait: 'LOADING... PLEASE WAIT'
                        },
                        mediaProcessors: processors,
                        onSave: function(caller, data) {
                            if ($(caller).parents('.linkedEditorFor').length) {
                                var parentElment = $(caller).parents(".body");
                                $.each($(parentElment).find(".linkedEditorFor").find(".dropzone"),
                                    function(index, item) {
                                        updateInputFields(item, data);
                                        showItemBasedOnSettings(item);
                                    });
                            } else {
                                updateInputFields(caller, data);
                                showItemBasedOnSettings(caller);
                            }
                        }
                    });
            }

            var amsVideoProcessorSettings = {
                language: '@LocView.Leng',
                notSelectedVideoImgUrl: '/Images/imgForDropzoneVideo.png',
                getVideoInfoUrl: '@amsProcessingServiceURL' + 'upload/video/info',
                dropzoneVdeoUrl: '/images/imgForDropzoneVideo.png',
                dropzoneSettings: {
                    url: '@amsProcessingServiceURL' + 'upload/video',
                    method: "POST",
                    timeout: 600000,
                    thumbnailWidth: null,
                    thumbnailHeight: null,
                    acceptedFiles: '@supportedVideoFormatExts',
                    maxFileSize: 104857600, //100MB
                    maxFiles: 1,
                    autoProcessQueue: true
                },
                listeners: []
            }

            var processorsPromo = [
                localImgProcessor.getNew(),
                pixabayImgProcessor.getNew()
            ];

            var processorsBase = [
                localImgProcessor.getNew(),
                pixabayImgProcessor.getNew(),
                youtubeVideoProcessor.getNew()
            ];
            if ('@Model.PlanIsUploadVideoEnabled.ToString().ToLower()' == 'true') {
                processorsPromo.push(amsVideoProcessor.getNew(amsVideoProcessorSettings));
                processorsBase.push(amsVideoProcessor.getNew(amsVideoProcessorSettings));
            }

            mediaSelectorForPromo = mediaSelector.getNew();
            customMediaSelectorInit(mediaSelectorForPromo, processorsPromo);
            mediaSelectorBase = mediaSelector.getNew();
            customMediaSelectorInit(mediaSelectorBase, processorsBase);

            $.each($('.dropzone'),
                function(index, item) {
                    showItemBasedOnSettings(item);

                    if ($(item).parents(".Promo").length) {
                        mediaSelectorForPromo.bind(item);
                    } else {
                        mediaSelectorBase.bind(item);
                    };
                });

            $inputs = $('input[type="text"], input[type="number"], textarea');

            timerVideoUpdateStart();

        });
    </script>
}