﻿@using PagedList.Mvc
@using WaveAccess.MyQuiz.WebUI.HelpersCode
@model WaveAccess.MyQuiz.WebUI.Models.Lecturemodel

@Html.AntiForgeryToken()
@Html.ValidationSummary()

@section styles
{
@Styles.Render("~/Content/quiz/list")
@Styles.Render("~/Content/lectures/list")
}
<div id="shareQuizModal" class="modal modal--close">
    <div class="modal__table shareQuizModal__table">
        <div class="modal__tableRow">
            <div class="modal__tableCell">
                <div class="modal__header">
                    <span>@LocView.getLocalization("Share_Quiz_Modal_Title")</span>
                    <span class="modal__closeCross" onclick="hideShareQuizModal($(this)); return false;"></span>
                </div>
                <div class="modal__body">
                    <div>@LocView.getLocalization("Share_Quiz_Modal_Description")</div>
                    <div class="shareQuizModal__linkText">
                        @LocView.getLocalization("Share_Quiz_Modal_Link_ToShare")
                    </div>
                    <div class="shareQuizModal__linkBlock">
                        <div class="copyLinkField">
                            <div id="shareQuizModal__link"
                                 class="input--modal copyLinkField__link"></div>
                            <span id="shareQuizModal__linkCopy"
                               class="copyLinkField__copy icon icon-copy"
                               data-clipboard-target="#shareQuizModal__link"></span>
                            <div id="shareQuizModal__copyResult"
                                 class="copyLinkField__copyResult">@LocView.getLocalization("Copied")</div>
                        </div>
                    </div>
                    <div class="shareQuizModal__shareBlock">
                        <div class="shareQuizModal__shareButtonPlaceholder">
                            <a id="shareButton__faceBook"
                               href="#"
                               class="shareButton shareButton--facebook icon icon-facebook"></a>
                        </div>
                        <div class="shareQuizModal__shareButtonPlaceholder">
                            <a id="shareButton__twitter"
                               href="https://twitter.com/intent/tweet"
                               class="shareButton shareButton--twitter icon icon-twitter"></a>
                        </div>
                        @if (Model.DisplayVK)
                        {
                        <div id="shareQuizModal__shareButtonPlaceholder__Vk" class="shareQuizModal__shareButtonPlaceholder">
                            <a>
                                <span id="shareButton__vk"
                                      class="shareButton shareButton--vk icon icon-vk"></span>
                            </a>
                        </div>
                        }
                    </div>
                </div>
                <div class="modal__footer">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="inviteQuizModal" class="modal modal--close">
    <div class="modal__table shareQuizModal__table">
        <div class="modal__tableRow">
            <div class="modal__tableCell">
                <div class="modal__header">
                    <span>@LocView.getLocalization("Invite_Quiz_Modal_Title")</span>
                    <span class="modal__closeCross" onclick="hideInviteQuizModal($(this)); return false;"></span>
                </div>
                <div class="modal__body">
                    <div>@LocView.getLocalization("Invite_Quiz_Modal_Description")</div>
                    <div class="shareQuizModal__linkText">
                        @LocView.getLocalization("Invite_Quiz_Modal_Link_ToShare")
                    </div>
                    <div class="shareQuizModal__linkBlock">
                        <div class="copyLinkField">
                            <div id="inviteQuizModal__link"
                                 class="input--modal copyLinkField__link"></div>
                            <span id="inviteQuizModal__linkCopy"
                               class="copyLinkField__copy icon icon-copy"
                               data-clipboard-target="#inviteQuizModal__link"></span>
                            <div id="inviteQuizModal__copyResult"
                                 class="copyLinkField__copyResult">@LocView.getLocalization("Copied")</div>
                        </div>
                    </div>
                    <div class="shareQuizModal__shareBlock">
                        <div class="shareQuizModal__shareButtonPlaceholder">
                            <a id="inviteButton__faceBook"
                               href="#"
                               class="shareButton shareButton--facebook icon icon-facebook"></a>
                        </div>
                        <div class="shareQuizModal__shareButtonPlaceholder">
                            <a id="inviteButton__twitter"
                               href="https://twitter.com/intent/tweet"
                               class="shareButton shareButton--twitter icon icon-twitter"></a>
                        </div>
                        @if (Model.DisplayVK)
                        {
                        <div id="inviteQuizModal__inviteButtonPlaceholder__Vk" class="shareQuizModal__shareButtonPlaceholder">
                            <a>
                                <span id="inviteButton__vk"
                                      class="shareButton shareButton--vk icon icon-vk"></span></a>
                        </div>
                        }
                    </div>
                </div>
                <div class="modal__footer">
                </div>
            </div>
        </div>
    </div>
</div>


<div id="videoProcessingQuizModal" class="modal modal--close">
    <div class="modal__table shareQuizModal__table">
        <div class="modal__tableRow">
            <div class="modal__tableCell">
                <div class="modal__header">
                    <span>@LocView.getLocalization("Video_processing_Quiz_Modal_Title")</span>
                    <span class="modal__closeCross" onclick="hideVideoProcessingQuizModal($(this)); return false;"></span>
                </div>
                <div class="modal__body">
                    <div>@LocView.getLocalization("Video_processing_Quiz_Modal_Description")</div>
                </div>
                <div class="modal__footer">
                    <div class="navigation-buttons">
                        <input type="button" class="navigation-button-right navigation-buttons-ok" data-quizid="" 
                               value="@LocView.getLocalization("Video_processing_Quiz_Modal_Button_Launch")" 
                               onclick="onVideoProcessingQuizModalBtnOkClick(this)">
                        <input type="button" class="navigation-button-right navigation-buttons-cancel" 
                               value="@LocView.getLocalization("Video_processing_Quiz_Modal_Button_Cancel")" 
                               onclick="hideVideoProcessingQuizModal($(this)); return false;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("/Views/Announcement/AnnouncePrizeModalView.cshtml")

<form id="importQuizForm" method="post" action="@Url.Action("Import", "Lectures")" enctype="multipart/form-data">
    <input
        id="importQuizFileInput"
        name="importQuizFile"
        type="file"
        style="display:none;"
        accept=".quiz"
        onchange="importQuizFormSubmit()" />
</form>

<form id="form" onsubmit="return searchValidate()">
    <div class="mainContentLayout centered">
        <div class="searchBlock">
            <div>
                <table class="searchBlock__table">
                    <tr>
                        <td class="countContainer desktop">
                            <div>@Model.Lectures.TotalItemCount</div>
                        </td>
                        <td class="desktop" style="color:white;vertical-align:middle;width:0px;width: 1px;padding-right: 24px;"></td>
                        <td>
                            <input onkeydown="onSearchChange()"
                                   onkeypress="onSearchChange()"
                                   class="searchBlock__input text-box single-line"
                                   id="search"
                                   name="search"
                                   type="text"
                                   value="@Model.Search">
                        </td>
                        <td class="desktop @(string.IsNullOrEmpty(Model.Search)?"search":"close")"
                            style="vertical-align:middle; width:1px;padding-left:9px;">
                            <div class="searchBlock__closeButton closeButton"
                                 onclick="$('input#search').val(''); $(this).parents('form')[0].submit();"></div>
                            <div class="searchBlock__searchButton searchButton"
                                 onclick="searchSubmit($(this).parents('form')[0]);"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="countContainer mobile" style="padding-bottom:20px;">
            <div style="float:left">@Model.Lectures.TotalItemCount</div>
            <span></span>
        </div>
        <div class="gridTimeLineStart">
            @if (AuthHelper.IsAdmin)
            {
                <a href="#" class="gridTimeLineStart__createButton" style="background-image:none">_</a>
            <a href="#"
               class="inlineTextButton inlineTextButton--import"
               onclick="$('#importQuizFileInput').click(); return false;">
                @LocView.getLocalization("Import_new_quize")
            </a>
            }
            else
            {
                <a href="/Lectures/Create" class="gridTimeLineStart__createButton">_</a>
            <a href="/Lectures/Create" class="inlineTextButton inlineTextButton--add">
                @LocView.getLocalization("Create_new_quize")
            </a>
            }
        </div>
        <div class="gridTimeLine @(AuthHelper.IsAdmin?"gridTimeLine--admin": "gridTimeLine--speaker")">
            @foreach (var lecture in Model.Lectures)
            {
            @Html.DisplayFor(l => lecture, "LectureListItem_new")
            }
        </div>

        @if (AuthHelper.IsAdmin)
        {
        <div class="paginator centered">
            @Html.PagedListPager(Model.Lectures, page => Url.Action("AllQuiz", new { lecturePage = page, Search = Model.Search }), new PagedListRenderOptions() { MaximumPageNumbersToDisplay = 7 })
        </div>
        }
    </div>
</form>

@section Scripts{
    <script type="text/javascript" src="https://vk.com/js/api/share.js?93" charset="windows-1251"></script>
    <script type="text/javascript">
        var global_shareQuizUrl = "@Model.SiteUrl@Url.Action("Share", "CatalogOfQuizzes")/";
        var global_inviteQuizUrl = "@Model.SiteUrl@Url.Action("Invite", "Game")/";
        var global_facebookAppId = "@Model.FacebookAppId";
        var global_localization_Quizzes = "@LocView.getLocalization("Quizzes")";
        var global_localization_Quiz = "@LocView.getLocalization("Quiz")";
        var global_localization_Many_Quizzes = "@LocView.getLocalization("Many_Quizzes")";

        function searchSubmit(form) {
            if (form && searchValidate()) {
                form.submit();
            }
        }

        function searchValidate() {
            if ($('input#search') && !!jQuery.trim($('input#search').val())) {
                return true;
            }

            return false;
        }
    </script>
    @Scripts.Render("~/Content/quiz/list/js")

    
}