﻿@model WaveAccess.MyQuiz.Model.Lecture

@{
    ViewBag.Title = "Enter Quiz Code";
}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dotdotdot")
}

<link rel="stylesheet" href="~/Content/responsive-v2.css"/>

@using( Html.BeginForm("LectureCode", "Lectures", FormMethod.Post)){
<h3 style="color: white; width: 50%; margin: 0 auto; margin-top: 18%; text-align: center" class="mus300">@LocView.getLocalization("Enter_Code")</h3>

<div style="text-align: center; margin-top: 20px;" class="editor-field">
    <div class="editor-field">
        @Html.EditorFor(model => model.Code)
        @Html.ValidationMessageFor(model => model.Code, "")
        <button type="submit" id="FindLecture" name="FindLecture" value="@LocView.getLocalization("Lets_play")" style="padding: 10px 20px 10px 20px; background: #00bcf2; color: #ffffff; border: 0;">@LocView.getLocalization("Lets_play")</button>
    </div>
</div>
}

<style>
    input {
        height: 30px;
        width: 200px;
        margin-right: 30px;
        font-size: 18px;
    }

    body {
        background-image: url('../../Content/themes/base/images/bg.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: black;
    }
</style>