﻿@model WaveAccess.MyQuiz.WebUI.Models.QuizViewModel
<div class="Promo two-columns-big">
    <div class="Promo__TextBlock right-column-big">
        <div>
            <div class="editor-label">
                <label>@LocView.getLocalization("Quiz_Promo_Wait_Settings") <span class="info-icon tooltip-dark-interactive" data-tooltip-content="#tooltip_promo_enabled_wait_info">></span>
                    <div class="hidden">
                        <div id="tooltip_promo_enabled_wait_info">
                            <div>@LocView.getLocalization("Promo_Enabled_Wait_Info")</div>
                        </div>
                    </div>
                </label>
            </div>
            <div class="editor-field radios">
                <input type="radio" class="radio"
                       id="radio-promo-wait-yes" name="@Html.NameFor(m=>m.PromoEnabledWait)"
                       value="true" checked="@Model.PromoEnabledWait.Equals(true)"
                       onchange="Controls.onChangeYesNoRadioValue('radio-promo-wait-yes', 'radio-promo-wait-no', 'PromoBlock__@Html.NameFor(m=>m.PromoEnabledWait)')" />
                <label for="radio-promo-wait-yes">@LocView.getLocalization("Yes")</label>

                <input type="radio" class="radio"
                       id="radio-promo-wait-no" name="@Html.NameFor(m=>m.PromoEnabledWait)"
                       value="false" checked="@Model.PromoEnabledWait.Equals(false)"
                       onchange="Controls.onChangeYesNoRadioValue('radio-promo-wait-yes', 'radio-promo-wait-no', 'PromoBlock__@Html.NameFor(m=>m.PromoEnabledWait)')" />
                <label for="radio-promo-wait-no">@LocView.getLocalization("No")</label>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div id="PromoBlock__@Html.NameFor(m=>m.PromoEnabledWait)" class="Promo Promo_EndBlock two-columns-big @(Model.PromoEnabledWait ? "" : "hide")">
    <div class="Promo__ImageBlock left-column-big">
        <div class="editor-field Promo__DropzoneField">
            @Html.EditorFor(model => model.PromoImageWait, "ImagePromoQuiz")
        </div>
        <div class="error-block-container">
            <div class="error-block">
                <div id="lblFileSizeError" class="file-size-error">@LocView.getLocalization("File_size_error")</div>
                <div id="lblFileTypeError" class="file-type-error">@LocView.getLocalization("File_type_error")</div>
                <div id="lblFileRacyError" class="file-racy-error">@LocView.getLocalization("Not_Allowed_Content")</div>
            </div>
        </div>
    </div>
    <div class="Promo__TextBlock Promo__TextBlock--quiz right-column-big">
        <div id="@(Html.IdFor(m => m.PromoTextWait))__Quill" data-quill-editor-for="@Html.IdFor(m => m.PromoTextWait)">
            @Html.Raw(Model.PromoTextWait)
        </div>
        @Html.HiddenFor(m => m.PromoTextWait, new { data_quill_html = true })
        <div class="error-block-container">
            <div class="error-block">
                <div class="hidden div__ErrorMessageBox">@LocView.getLocalization("RequiredField")</div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="Promo two-columns-big">
    <div class="Promo__TextBlock right-column-big">
        <div>
            <div class="editor-label">
                <label>@LocView.getLocalization("Quiz_Promo_Leaders_Settings") <span class="info-icon tooltip-dark-interactive" data-tooltip-content="#tooltip_promo_enabled_leaders_info">></span>
                    <div class="hidden">
                        <div id="tooltip_promo_enabled_leaders_info">
                            <div>@LocView.getLocalization("Promo_Enabled_Leaders_Info")</div>
                        </div>
                    </div>
                </label>
            </div>
            <div class="editor-field radios">
                <input type="radio" class="radio"
                       id="radio-promo-leaders-yes" name="@Html.NameFor(m=>m.PromoEnabledLeaders)"
                       value="true" checked="@Model.PromoEnabledLeaders.Equals(true)"
                       onchange="Controls.onChangeYesNoRadioValue('radio-promo-leaders-yes', 'radio-promo-leaders-no', 'PromoBlock__@Html.NameFor(m=>m.PromoEnabledLeaders)')" />
                <label for="radio-promo-leaders-yes">@LocView.getLocalization("Yes")</label>

                <input type="radio" class="radio"
                       id="radio-promo-leaders-no" name="@Html.NameFor(m=>m.PromoEnabledLeaders)"
                       value="false" checked="@Model.PromoEnabledLeaders.Equals(false)"
                       onchange="Controls.onChangeYesNoRadioValue('radio-promo-leaders-yes', 'radio-promo-leaders-no', 'PromoBlock__@Html.NameFor(m=>m.PromoEnabledLeaders)')" />
                <label for="radio-promo-leaders-no">@LocView.getLocalization("No")</label>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div id="PromoBlock__@Html.NameFor(m=>m.PromoEnabledLeaders)" class="Promo Promo_EndBlock two-columns-big  @(Model.PromoEnabledLeaders ? "" : "hide")">
    <div class="Promo__ImageBlock left-column-big">
        <div class="editor-field Promo__DropzoneField">
            @Html.EditorFor(model => model.PromoImageLeaders, "ImagePromoQuiz")
        </div>
        <div class="error-block-container">
            <div class="error-block">
                <div id="lblFileSizeError" class="file-size-error">@LocView.getLocalization("File_size_error")</div>
                <div id="lblFileTypeError" class="file-type-error">@LocView.getLocalization("File_type_error")</div>
                <div id="lblFileRacyError" class="file-racy-error">@LocView.getLocalization("Not_Allowed_Content")</div>
            </div>
        </div>
    </div>
    <div class="Promo__TextBlock Promo__TextBlock--quiz right-column-big">
        <div id="@(Html.IdFor(m => m.PromoTextLeaders))__Quill" data-quill-editor-for="@Html.IdFor(m => m.PromoTextLeaders)">
            @Html.Raw(Model.PromoTextLeaders)
        </div>
        @Html.HiddenFor(m => m.PromoTextLeaders, new { data_quill_html = true })
        <div class="error-block-container">
            <div class="error-block">
                <div class="hidden div__ErrorMessageBox">@LocView.getLocalization("RequiredField")</div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="Promo QuizTrackers two-columns-big">
    <div class="left-column-big"></div>
    <div class="right-column-big">
        <div class="two-columns-medium">
            <div class="one-column QuizTrackers__Switch">
                <div>
                    <div class="editor-label">
                        <label>@LocView.getLocalization("Quiz_Promo_Tracker_Settings") <span class="info-icon tooltip-dark-interactive" data-tooltip-content="#tooltip_trackers_enabled_info">></span>
                            <div class="hidden">
                                <div id="tooltip_trackers_enabled_info">
                                    <div>@LocView.getLocalization("Trackers_Enabled_Info")</div>
                                </div>
                            </div>
                        </label>
                    </div>
                    <div class="editor-field radios">
                        <input type="radio" class="radio"
                               id="radio-trackers-yes" name="@Html.NameFor(m=>m.TrackersEnabled)"
                               value="true" checked="@Model.TrackersEnabled.Equals(true)"
                               onchange="Controls.onChangeYesNoRadioValue('radio-trackers-yes', 'radio-trackers-no', 'QuizTrackers__Block')" />
                        <label for="radio-trackers-yes">@LocView.getLocalization("Yes")</label>

                        <input type="radio" class="radio"
                               id="radio-trackers-no" name="@Html.NameFor(m=>m.TrackersEnabled)"
                               value="false" checked="@Model.TrackersEnabled.Equals(false)"
                               onchange="Controls.onChangeYesNoRadioValue('radio-trackers-yes', 'radio-trackers-no', 'QuizTrackers__Block')" />
                        <label for="radio-trackers-no">@LocView.getLocalization("No")</label>
                    </div>
                </div>
            </div>
            <div id="QuizTrackers__Block" class="one-column quiz-trackers--container @(Model.TrackersEnabled ? "" : "hide")">
                <div class="QuizTrackers__Header QuizTrackers__Row">
                    <div class="small-block--trackerType">
                        <div class="editor-label editor-label-required">
                            <label>@LocView.getLocalization("TrackerType")</label>
                        </div>
                    </div>
                    <div class="small-block--trackerCode">
                        <div class="editor-label editor-label-required">
                            <label>@LocView.getLocalization("TrackerCode")</label>
                        </div>
                    </div>
                </div>
                <div id="QuizTrackers__List" class="QuizTrackers__List">

                </div>
                <div class="subentities-list-addbutton-container">
                    <a href="#" id="trackerAddLink">@LocView.getLocalization("Tracker_Add")</a>
                </div>
            </div>
        </div>
        <script id="QuizTrackers__Template" type="text/ng-template">
            <div class="QuizTrackers__Row">
                <div class="toggleButton--remove-button %%HIDE%%">
                    <div class="entity-item-remove-button">
                        <a href="#"></a>
                    </div>
                </div>
                <div class="small-block--trackerType">
                    <div class="editor-field">
                        <input id="@Html.IdFor(m => Model.QuizTrackers)_%%NUMBER%%__Id"
                               name="@(Html.NameFor(m => Model.QuizTrackers))[%%NUMBER%%].Id"
                               type="hidden" />
                        <input id="@Html.IdFor(m => Model.QuizTrackers)_%%NUMBER%%__IsDeleted"
                               name="@(Html.NameFor(m => Model.QuizTrackers))[%%NUMBER%%].IsDeleted"
                               type="hidden" value="False" defaultValue="False" />
                        <span class="field-validation-valid">@LocView.getLocalization("RequiredField")</span>
                        <select id="@Html.IdFor(m => Model.QuizTrackers)_%%NUMBER%%__Type"
                                name="@(Html.NameFor(m => Model.QuizTrackers))[%%NUMBER%%].Type"
                                style="width:100%;">
                            @if (ViewBag.DisplayVK) {<option value="@WaveAccess.MyQuiz.Model.TrackerType.VK">VK</option>}
                            <option value="@WaveAccess.MyQuiz.Model.TrackerType.Facebook">Facebook</option>
                            @if (ViewBag.DisplayYandex) {<option value="@WaveAccess.MyQuiz.Model.TrackerType.Yandex">Yandex</option>}
                            <option value="@WaveAccess.MyQuiz.Model.TrackerType.Google">Google</option>
                        </select>
                        <span class="field-validation-valid"
                              data-valmsg-for="@(Html.NameFor(m => Model.QuizTrackers))[%%NUMBER%%].Type"
                              data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="small-block--trackerCode">
                    <div class="editor-field">
                        <input id="@Html.IdFor(m => Model.QuizTrackers)_%%NUMBER%%__Code"
                               name="@(Html.NameFor(m => Model.QuizTrackers))[%%NUMBER%%].Code"
                               type="text"
                               class="text-box single-line"/>
                        <span class="field-validation-valid">@LocView.getLocalization("RequiredField")</span>
                        <span class="field-validation-valid"
                              data-valmsg-for="@(Html.NameFor(m => Model.QuizTrackers))[%%NUMBER%%].Code"
                              data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/javascript">

            function addNewQuizTrackerRow(id, type, code, hideRemoveButton) {
                var number = $('#QuizTrackers__List > div').length;
                var newTrackerHtml = $('#QuizTrackers__Template').html();
                newTrackerHtml = newTrackerHtml.replace(new RegExp('%%NUMBER%%', 'g'), number);

                newTrackerHtml = hideRemoveButton ? newTrackerHtml.replace(new RegExp('%%HIDE%%', 'g'), "hide") : newTrackerHtml.replace(new RegExp('%%HIDE%%', 'g'), "");

                var $newTracker = $(newTrackerHtml);

                $newTracker.find('input[id$="Id"]').val(id);
                $newTracker.find('input[id$="Code"]').val(code).prop('defaultValue', code);
                $newTracker.find('select[id$="Type"]>option[value="' + type + '"]').attr('selected', true);
                $newTracker.find('select').select2({
                    theme: 'customDD',
                    minimumResultsForSearch: -1,
                    width: 'resolve'
                });
                $('#QuizTrackers__List').append($newTracker);

                $newTracker.find('.entity-item-remove-button').click(function() {
                    var $elementToDelete = $('#QuizTrackers__List > div:eq(' + number + ')');
                    $elementToDelete.find('input[id$="IsDeleted"]').val('True');
                    $elementToDelete.hide();
                    return false;
                });

            }

            $('#trackerAddLink').click(function(){
                addNewQuizTrackerRow(0, null, '',false);
                return false;
            });
            @if (Model.QuizTrackers != null && Model.QuizTrackers.Count > 0)
            {
                <text>
                    addNewQuizTrackerRow(@Model.QuizTrackers[0].Id, '@Model.QuizTrackers[0].Type', '@Model.QuizTrackers[0].Code',true);
                </text>

                foreach (var quizTracker in Model.QuizTrackers.Skip(1))
                {
                    <text>
                    addNewQuizTrackerRow(@quizTracker.Id, '@quizTracker.Type', '@quizTracker.Code',false);
                    </text>
                }
            }
            else
            {
                <text>
                   addNewQuizTrackerRow(0, null, '', true);
                </text>
            }

        </script>


    </div>
    <div class="clearfix"></div>
</div>

