﻿@model WaveAccess.MyQuiz.WebUI.Models.QuizViewModel
<div class="UserProvider two-columns-big">
    <div class="UserProvider__TextBlock right-column-big">
        <div>
            <div class="editor-label">
                <label>@LocView.getLocalization("Quiz_UserProvider_Settings") <span class="info-icon tooltip-dark-interactive" data-tooltip-content="#tooltip_userProvider_info">></span>
                    
                    <div class="hidden">
                        <div id="tooltip_userProvider_info">
                            <div>@LocView.getLocalization("UserProvider_Info")</div>
                        </div>
                    </div>

                </label>
            </div>
            <div class="editor-field radios">
                <input type="radio" class="radio"
                       id="radio-user-provider-yes" name="@Html.NameFor(m=>m.UserProvidersAreLimited)"
                       value="true" checked="@Model.UserProvidersAreLimited.Equals(true)"
                       onchange="Controls.onChangeYesNoRadioValue('radio-user-provider-yes', 'radio-user-provider-no', 'UserProviderBlock__@Html.NameFor(m=>m.UserProvidersAreLimited)')" />
                <label for="radio-user-provider-yes">@LocView.getLocalization("Yes")</label>

                <input type="radio" class="radio"
                       id="radio-user-provider-no" name="@Html.NameFor(m=>m.UserProvidersAreLimited)"
                       value="false" checked="@Model.UserProvidersAreLimited.Equals(false)"
                       onchange="Controls.onChangeYesNoRadioValue('radio-user-provider-yes', 'radio-user-provider-no', 'UserProviderBlock__@Html.NameFor(m=>m.UserProvidersAreLimited)')" />
                <label for="radio-user-provider-no">@LocView.getLocalization("No")</label>
            </div>
        </div>
    </div>
</div>
<div id="UserProviderBlock__@Html.NameFor(m=>m.UserProvidersAreLimited)" class="two-columns-big @(Model.UserProvidersAreLimited ? "" : "hide")">
    @foreach (KeyValuePair<string, WaveAccess.MyQuiz.WebUI.Models.UserProviderViewModel> key in Model.UserProviderSelection)
    {
        <div class="left-column-big">
        </div>
        <div class="right-column-big lectureProviders">
            <div class="two-columns-medium">
                <div class="left-column-medium">
                    <div class="editor-label">
                        <label>@LocView.getLocalization(key.Key)</label>
                    </div>
                </div>
                <div class="right-column-medium">
                    <div class="editor-label editor-label checkbox-switch">
                        <label class="switch">
                            <input type="checkbox"
                                   checked="@key.Value.IsSelected"
                                   name="@Html.NameFor(m => m.UserProviderSelection[key.Key].IsSelected)"
                                   id="@Html.IdFor(m => m.UserProviderSelection[key.Key].IsSelected)"
                                   onchange="providerSelectionChanged('@(Html.IdFor(m => m.UserProviderSelection[key.Key].IsEmailRequiredForTempUser))__Area')"
                                   value="true" />
                            <div class="slider round"
                                 data-checked-yes="@LocView.getLocalization("Yes")"
                                 data-checked-no="@LocView.getLocalization("No")"></div>
                        </label>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        if (key.Key=="VKontakte")
        {
            Model.QuizRequirementsCurrentProvider = key.Key;
            <div id="@Html.IdFor(m => m.UserProviderSelection[key.Key].IsSelected)_block" class="@(Model.UserProviderSelection[key.Key].IsSelected ? "" : "hide")">
                @{ Html.RenderPartial("QuizRequirements", Model); }
            </div>
        }
        if (key.Value.IsSupportRequestEmail)
        {
            <div class="left-column-big">
            </div>
            <div id="@(Html.IdFor(m => m.UserProviderSelection[key.Key].IsEmailRequiredForTempUser))__Area" class="right-column-big lectureProviders" @Html.Raw(Model.UserProviderSelection[key.Key].IsSelected ? "" : "style=\"visibility:hidden;margin-bottom: 20px;\"" )>
                <div class="two-columns-medium">
                    <div class="left-column-medium">
                        <div class="editor-label">
                            <div class="checkbox checkbox--left">
                                @Html.CheckBoxFor(m => m.UserProviderSelection[key.Key].IsEmailRequiredForTempUser)
                                @Html.LabelFor(m => m.UserProviderSelection[key.Key].IsEmailRequiredForTempUser, LocView.getLocalization("Request_Email_Address"))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    <div class="left-column-big">
    </div>
    <div class="right-column-big lectureProviders">
        <div class="error-block-container">
            <div class="error-block">
                <div class="hidden div__ErrorMessageBox">@LocView.getLocalization("UserProviderSelection_Error")</div>
            </div>
        </div>
    </div>
</div>
