﻿@model WaveAccess.MyQuiz.WebUI.Models.QuizViewModel

<div class="left-column-big">
</div>
<div class="right-column-big lectureProviders">
    <div class="Requirements__Header QuizRequirements__Row">
            <div id="quizRequirementsHeader" class="editor-label @(!Model.QuizRequirements.Any() ? "" : "hide")">
                <label>Ссылка на группу,в которой должен состоять участник:</label>
            </div>
    </div>
    <div id="Requirements__List"></div>
    <div class="subentities-list-addbutton-container quizRequirements-add">
        <a href="#" id="requirementAddLink">@LocView.getLocalization("Quiz_RequirementsGroup_Add")</a>
    </div>
</div>
<script id="QuizRequirements__Template" type="text/ng-template">
    <div class="QuizRequirements__Row">
        <div class="toggleButton--remove-button">
            <div class="entity-item-remove-button quizRequirements-remove-button">
                <a href="#"></a>
            </div>
        </div>
        <div class="small-block--quizRequirements">
            <div class="editor-field">
                <input id="@Html.IdFor(m => Model.QuizRequirements)_%%NUMBER%%__Id"
                       name="@(Html.NameFor(m => Model.QuizRequirements))[%%NUMBER%%].Id"
                       type="hidden" />
                <input id="@Html.IdFor(m => Model.QuizRequirements)_%%NUMBER%%__IsDeleted"
                       name="@(Html.NameFor(m => Model.QuizRequirements))[%%NUMBER%%].IsDeleted"
                       type="hidden" value="False" defaultValue="False" />
                <input id="@Html.IdFor(m => Model.QuizRequirements)_%%NUMBER%%__Provider"
                       name="@(Html.NameFor(m => Model.QuizRequirements))[%%NUMBER%%].Provider"
                       type="hidden" defaultValue="@Model.QuizRequirementsCurrentProvider"/>
                <span class="field-validation-valid" style="top: 40px;">@LocView.getLocalization("LinkError")</span>
                <input id="@Html.IdFor(m => Model.QuizRequirements)_%%NUMBER%%__Value"
                        name="@(Html.NameFor(m => Model.QuizRequirements))[%%NUMBER%%].Value"
                        type="text"
                        class="text-box single-line requirement-link" />
                <span class="field-validation-valid" data-valmsg-for="@(Html.NameFor(m => Model.QuizRequirements))[%%NUMBER%%].Value" data-valmsg-replace="true"></span>
            </div>
        </div>
    </div>
</script>
<script type="text/javascript">
    function addNewRequirementRow(id, value) {
        var number = $('#Requirements__List > div').length;
        var newTrackerHtml = $('#QuizRequirements__Template').html();
        newTrackerHtml = newTrackerHtml.replace(new RegExp('%%NUMBER%%', 'g'), number);
        var $newTracker = $(newTrackerHtml);

        $newTracker.find('input[id$="Id"]').val(id);
        $newTracker.find('input[id$="Value"]').val(value);
        $newTracker.find('input[id$="Provider"]').val('@Model.QuizRequirementsCurrentProvider');
        $('#Requirements__List').append($newTracker);

        $newTracker.find('.entity-item-remove-button').click(function () {
            var $elementToDelete = $('#Requirements__List > div:eq(' + number + ')');
            $elementToDelete.find('input[id$="IsDeleted"]').val('True');
            $elementToDelete.hide();
            if (isEmptyRequirements()) {
                $('#quizRequirementsHeader').hide();
                $('#requirementAddLink').text('@LocView.getLocalization("Quiz_RequirementsGroup_Add")');
            }
            return false;
        });

    }

    function isEmptyRequirements() {
        return !$('#Requirements__List > div').find('input[id$="IsDeleted"]')
            .filter(function() { return this.value == 'False' }).length;
    }

    $('#requirementAddLink').click(function () {
        addNewRequirementRow(0, '');
        $('#quizRequirementsHeader').show();
        $('#requirementAddLink').text('@LocView.getLocalization("Quiz_Group_Add")');
        return false;
    });

    @if (Model.QuizRequirements.Any())
    {
        foreach (var requirement in Model.QuizRequirements)
        {
            <text>
                addNewRequirementRow(@requirement.Id, '@requirement.Value');
            </text>
        }
        <text>
            $('#quizRequirementsHeader').show();
            $('#requirementAddLink').text('@LocView.getLocalization("Quiz_Group_Add")');
        </text>
    }
</script>