﻿@model WaveAccess.MyQuiz.WebUI.Models.QuizViewModel
<div class="YoutubeLiveStreaming two-columns-big">
    <div class="YoutubeLiveStreaming__TextBlock right-column-big">
        <div>
            <div class="editor-label">
                <label>@LocView.getLocalization("Quiz_YoutubeLiveStreaming_Settings") </label>
            </div>
            <div class="editor-field radios">
                <input type="radio" class="radio"
                       id="radio-youtube-yes" name="@Html.NameFor(m=>m.IsYoutubeLiveVideoEnabled)"
                       value="true" checked="@Model.IsYoutubeLiveVideoEnabled.Equals(true)"
                       onchange="Controls.onChangeYesNoRadioValue('radio-youtube-yes', 'radio-youtube-no', 'YoutubeLiveStreamingBlock')" />
                <label for="radio-youtube-yes">@LocView.getLocalization("Yes")</label>

                <input type="radio" class="radio"
                       id="radio-youtube-no" name="@Html.NameFor(m=>m.IsYoutubeLiveVideoEnabled)"
                       value="false" checked="@Model.IsYoutubeLiveVideoEnabled.Equals(false)"
                       onchange="Controls.onChangeYesNoRadioValue('radio-youtube-yes', 'radio-youtube-no', 'YoutubeLiveStreamingBlock')" />
                <label for="radio-youtube-no">@LocView.getLocalization("No")</label>
            </div>
        </div>
    </div>
</div>

<div id="YoutubeLiveStreamingBlock" class="two-columns-big @(Model.IsYoutubeLiveVideoEnabled ? "" : "hide")">
    <div class="left-column-big">
    </div>
    <div class="right-column-big">
        <div class="left-column-big-65 small-block--code">
            <div class="editor-label editor-label-required">
                <label>@LocView.getLocalization("YoutubeLiveVideoURL")</label>
            </div>
            <div class="editor-field">
                <span class="field-validation-valid">@LocView.getLocalization("YoutubeLiveVideoUrlError")</span>
                @Html.TextBoxFor(model => model.YoutubeLiveVideoURL, new { type = "text", maxlength = 512, @class = "text-box single-line", id = "YoutubeLiveVideoURL", timeinput = "false" })
                @Html.ValidationMessageFor(model => model.YoutubeLiveVideoURL)
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
