﻿@model WaveAccess.MyQuiz.WebUI.app.game.elements.countDownTimer.CountDownTimer
@{ 
    double rem = (double)1 / (double)16;
    double width = 126 * rem;
    double height = 126 * rem;

    if (Model.Type == "xxl")
    {
        width = 288 * rem;
        height = 288 * rem;

    }

    string widthStr = width.ToString(System.Globalization.CultureInfo.InvariantCulture);
    string heightStr = height.ToString(System.Globalization.CultureInfo.InvariantCulture);
}
<div id="@Model.Id"
     class="countDownTimer countDownTimer--@Model.Type">
	<div class="countDownTimer__Clock">
		<svg xmlns="http://www.w3.org/2000/svg" width="@(widthStr)em" height="@(heightStr)em">
			<g>
				<circle class="countDownTimer__Circle--bg"></circle>
				<circle class="countDownTimer__Circle--active"></circle>
				<circle class="countDownTimer__Circle--mask"></circle>
			</g>
		</svg>
	</div>
	<div class="countDownTimer__Seconds"
	     wa-id="@(Model.Id)__Seconds"></div>
</div>

