﻿@import "../../variables.scss";

.countDownTimer {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	position: relative;

	&__Clock {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__Seconds,
	&__pause-layer {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	&__pause-layer.icon-pause-button,
	&__pause-layer.icon-play-button {
		font-size: 30px;
		display: none;
	}

	&__pause-layer.icon-pause-button {
		color: #a6a6a6;
	}

	&__pause-layer.icon-play-button {
		color: #a7d269;
	}

	&__pause-layer.icon-play-button::before {
		cursor: pointer;
	}

	&__Circle {
		&--bg {
			stroke: #F3F3F4;
			fill: none;
		}

		&--mask {
			stroke: #fff;
			fill: none;
		}

		&--active {
			fill: none;
		}

		&--color1 {
			stroke: #a7d269;
		}

		&--color2 {
			stroke: #90a7d6;
		}
	}

	&--default {
		.countDownTimer__Seconds {
			font-size: 50 * $px;
		}
	}

	&--xxl {
		.countDownTimer__Seconds {
			font-size: 120 * $px;
		}
	}
}

.countDownTimerMobile {
    position:absolute;
    bottom:0;
    height:8 * $px;

    &--color1 {
        background-color: #a7d269;
    }
    &--color2 {
        background-color: #90a7d6;
    }
}

