﻿@import "../../variables.scss";

.alertsBox {
    position:fixed;
    z-index:9999;
    top:20 * $px;
    width:100%;
}


.alertItem {
    display:none;

    &__Header {
        line-height:26 * $px;
    }
    &__Icon {
        font-size:26 * $px;
    }

    &__Details {
        display:none;
        margin-top:$margin_default_md;
    }
    

    &__More {
        cursor:pointer;
    }

    &__Close {
        font-size:1rem;
        line-height:1.3;
        padding-left:10px;
    }
}

div#gamePause .close{
    line-height:1.625rem;
    margin-top:2px;
}

.ui-disable-layer {
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	background-color: rgba(250,250,250,0.7);
	display:none;
}