﻿@using WaveAccess.MyQuiz.WebUI.app.game.elements.alertsBox;

<div id="alertsBox" class="alertsBox container">
	<div id="connectionLostAlert" class="alert alert-danger alertItem" role="alert">
	    <div class="alertItem__Header">
            <a class="close icon-close alertItem__Close"></a>
	        <span class="icon-wifi alertItem__Icon"></span>
	        <span>@alertsBox.InternetConnectionLost_Text</span>
	        <a class="alertItem__More">@alertsBox.InternetConnectionLost_More</a>
	    </div>
		<div class="alertItem__Details">@alertsBox.InternetConnectionLost_Details</div>
	</div>
	<div id="connectionSlowAlert" class="alert alert-warning alertItem" role="alert">
	    <div class="alertItem__Header">
            <a class="close icon-close alertItem__Close"></a>
	        <span class="icon-wifi alertItem__Icon"></span>
	        <span>@alertsBox.InternetConnectionSlow_Text</span>
	        <a class="alertItem__More">@alertsBox.InternetConnectionSlow_More</a>
	    </div>
		<div class="alertItem__Details">@alertsBox.InternetConnectionSlow_Details</div>
	</div>
	<div id="gamePause" class="alert alert-warning alertItem" role="alert">
	    <div class="alertItem__Header">
            <a class="close icon-close alertItem__Close"></a>
	        <span class="icon-pause alertItem__Icon"></span>
	        <span>@alertsBox.GamePaused</span>
	    </div>
	</div>
</div>

<div  class="ui-disable-layer"></div>