﻿@using System.Configuration
@using WaveAccess.MyQuiz.WebUI.Helpers

@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    ViewBag.Title = LocView.getLocalization("Brand_Name");
}

<head>
    <title>@ViewBag.Title</title>
    @*<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">*@
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no shrink-to-fit=no">
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin,cyrillic" rel="stylesheet" type="text/css" />
    <link href="/Content/general.css" type="text/css" rel="stylesheet" />
    <link href="/Content/general-responsive.css" type="text/css" rel="stylesheet" />
    @* <link href="/Content/Site-v1.css" type="text/css" rel="stylesheet" />*@
    <script src="/Scripts/jquery-1.8.3.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.cookie.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.bxslider.min.js" type="text/javascript"></script>
    <script src="/Scripts/Pages/controls.js"></script>
    <script src="/Scripts/site.js" type="text/javascript"></script>

    <script>
        function joinGame() {
            Controls.onCkeckDeviceModel();
            var form = $(this).parent()[0];
            form.submit();
            return false;
        }

        $(document).ready(function () {
            $('#quizCode').keypress(function (e) {
                if (e.which === 13) {
                    Controls.onCkeckDeviceModel();
                }
            });
        });
    </script>
	<style>

		 .centered {
			 margin: 0 auto;
			 max-width: 1200px;
		 }

		input {
			color: #010101;
		}

		input:-ms-input-placeholder {
			color: gray;
		}

		html body {
			border-bottom: 0;
			background-color: transparent;
			background-image: none !important;
			line-height: 1;
			overflow-x: hidden;
			overflow-y: auto;
			font-family: 'Open Sans', sans-serif !important;
			font-weight: 400;
			font-size: 15px;
			line-height: 1;
		}

		ul li > form > a {
			padding-right: 10px;
		}

		#language {
			position: relative;
		}

		#language .dropdown-menu {
			position: absolute;
			right: 0px;
		}

		.feedback .social-carousel-wrapper .bx-prev, .feedback .social-carousel-wrapper .bx-next {
			background-image: url(../images/carousel-arrows2.png);
		}

		input[type=number]::-webkit-inner-spin-button,
		input[type=number]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		input[type=number] {
			-moz-appearance: textfield;
		}
	</style>
</head>

<body>
    @Html.Action("Messages", "Information")

    <header>
        @Html.Partial("Partials/IndexHeader")
    </header>
    <div id="wrapper">
        <section class="intro-section" style="padding-bottom:1px;">
            <div class="content-wrapper text-center">
                <h1>@LocView.getLocalization("Brand_Name")</h1>
                <h1 id="connectionSpeed"></h1>
                <p>@LocView.getLocalization("index_slogan")</p>
                <div class="intro-section-buttons">
                    <form method="post">
                        @Html.ValidationSummary()

                        <input id="quizCode" name="quizCode" value="@ViewBag.Code" type="number" placeholder="@LocView.getLocalization("EnterAGameCode")" />
                        @Html.ActionLink(LocView.getLocalization("index_join_game"), "QuizCode", new { Controller = "Game" }, new { @onclick = "return joinGame.call(this);", @class = "yellowBtnSkin" })
                    </form>
                    <div class="intro-section-buttons-or">
                        <span>@LocView.getLocalization("or")</span>
                    </div>
                    @Html.ActionLink(LocView.getLocalization("index_create_quiz"), "Create", new { Controller = "Lectures" }, new { @class = "violetBtnSkin" })
                    @Html.ActionLink(LocView.getLocalization("index_run_your_quiz"), "Index", new { Controller = "Lectures" }, new { @class = "pinkBtnSkin" })
                </div>
                <div class="intro-setion-learn-more">
                    @LocView.getLocalization("index_learn_more")
                </div>
            </div>
        </section>
        <section class="hiw-section">
            <div class="content-wrapper">
                <h2>@LocView.getLocalization("index_how_it_works")</h2>
                <div class="hiw-wrapper clearfix text-center">
                    <div class="hiw-item">
                        <div class="hiw-item-img">
                            <img src="@LocView.getLocalization("index_how_it_works_img1")" alt="" />
                        </div>
                        <strong>@LocView.getLocalization("index_creating_game_title")</strong>
                        <p>@LocView.getLocalization("index_creating_game_description")</p>
                    </div>
                    <div class="hiw-item">
                        <div class="hiw-item-img">
                            <img src="@LocView.getLocalization("index_how_it_works_img2")" alt="" />
                        </div>
                        <strong>@LocView.getLocalization("index_processing_title")</strong>
                        <p>@LocView.getLocalization("index_processing_description")</p>
                    </div>
                    <div class="hiw-item">
                        <div class="hiw-item-img">
                            <img src="@LocView.getLocalization("index_how_it_works_img3")" alt="" />
                        </div>
                        <strong>@LocView.getLocalization("index_registration_title")</strong>
                        <p>@LocView.getLocalization("index_registration_description")</p>
                    </div>
                    <div class="hiw-item">
                        <div class="hiw-item-img">
                            <img src="@LocView.getLocalization("index_how_it_works_img4")" alt="" />
                        </div>
                        <strong>@LocView.getLocalization("index_launch_title")</strong>
                        <p>@LocView.getLocalization("index_launch_description")</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="advantages-section">
            <div class="content-wrapper">
                <h2>@LocView.getLocalization("index_content_title")</h2>
                <div class="clearfix">
                    <div class="col-md-6 text-center padding-bottom-40">
                        <img class="responsive-img" src="/Images/advantage-img.jpg" alt="" />
                    </div>
                    <div class="col-md-6 padding-bottom-40">
                        <ul class="markeredList">
                            <li>
                                <p>@LocView.getLocalization("index_content_li1")</p>
                            </li>
                            <li>
                                <p>@LocView.getLocalization("index_content_li2")</p>
                            </li>
                            <li>
                                <p>@LocView.getLocalization("index_content_li3")</p>
                            </li>
                            <li>
                                <p>@LocView.getLocalization("index_content_li4")</p>
                            </li>
                        </ul>
                        <p>
                            <em>@LocView.getLocalization("index_content_li_after")</em>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="social-section">
            <div class="content-wrapper text-center">
                <h3 class="color-white">@LocView.getLocalization("index_social_title")</h3>
                <div class="social-carousel-wrapper">
                    <ul class="social-carousel">
                        <li>
                            <img class="responsive-img" src="@LocView.getLocalization("index_social_img1")" alt="" />
                        </li>
                        <li>
                            <img class="responsive-img" src="@LocView.getLocalization("index_social_img2")" alt="" />
                        </li>
                        <li>
                            <img class="responsive-img" src="@LocView.getLocalization("index_social_img3")" alt="" />
                        </li>
                        <li>
                            <img class="responsive-img" src="@LocView.getLocalization("index_social_img4")" alt="" />
                        </li>
                        <li>
                            <img class="responsive-img" src="@LocView.getLocalization("index_social_img5")" alt="" />
                        </li>
                        <li>
                            <img class="responsive-img" src="@LocView.getLocalization("index_social_img6")" alt="" />
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="rules-section">
            <div class="content-wrapper">
                <h3>@LocView.getLocalization("index_rules_title")</h3>
                <div class="clearfix">
                    <div class="rules-wrapper text-center">
                        <div class="rules-item col-sm-3">
                            <img src="/Images/rules-icon-1.png" width="115" height="80" alt="" />
                            <strong>@LocView.getLocalization("index_rules_item1_title")</strong>
                            <p>@LocView.getLocalization("index_rules_item1")</p>
                        </div>
                        <div class="rules-item col-sm-3">
                            <img src="/Images/rules-icon-2.png" width="100" height="80" alt="" />
                            <strong>@LocView.getLocalization("index_rules_item2_title")</strong>
                            <p>@LocView.getLocalization("index_rules_item2")</p>
                        </div>
                        <div class="rules-item col-sm-3">
                            <img src="/Images/rules-icon-3.png" width="80" height="80" alt="" />
                            <strong>@LocView.getLocalization("index_rules_item3_title")</strong>
                            <p>@LocView.getLocalization("index_rules_item3")</p>
                        </div>
                        <div class="rules-item col-sm-3">
                            <img src="/Images/rules-icon-4.png" width="66" height="80" alt="" />
                            <strong>@LocView.getLocalization("index_rules_item4_title")</strong>
                            <p>@LocView.getLocalization("index_rules_item4")</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="REVIEWS" class="social-section feedback" style="background-color:white">
            <div class="content-wrapper text-center">
                <h3 style="color:#687192;">@LocView.getLocalization("Feedback_Title")</h3>
                <div class="feedback-social-carousel-wrapper">
                    <ul class="feedback-social-carousel">
                        <li>
                            <div class="comment-item">
                                <div class="user-name">
                                    <h3>@LocView.getLocalization("EvgenyVoronin")</h3>
                                </div>
                                <div class="user-position">
                                    <p>@LocView.getLocalization("VoroninPosition")</p>
                                </div>
                                <div class="user-place-of-work">
                                    <a>@LocView.getLocalization("VoroninWork")</a>
                                </div>
                                <span class="carousel-delimiter"></span>
                                <div class="user-comment">
                                    <p>@LocView.getLocalization("VoroninComment")</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="comment-item">
                                <div class="user-name">
                                    <h3>@LocView.getLocalization("IvanKozyarskiy")</h3>
                                </div>
                                <div class="user-position">
                                    <p>@LocView.getLocalization("KozyarskiyPosition")</p>
                                </div>
                                <div class="user-place-of-work">
                                    <a>@LocView.getLocalization("KozyarskiyWork")</a>
                                </div>
                                <span class="carousel-delimiter"></span>
                                <div class="user-comment">
                                    <p>@LocView.getLocalization("KozyarskiyComment")</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="comment-item">
                                <div class="user-name">
                                    <h3>@LocView.getLocalization("DaryaNemova")</h3>
                                </div>
                                <div class="user-position">
                                    <p>@LocView.getLocalization("NemovaPosition")</p>
                                </div>
                                <div class="user-place-of-work">
                                    <a>@LocView.getLocalization("NemovaWork")</a>
                                </div>
                                <span class="carousel-delimiter"></span>
                                <div class="user-comment">
                                    <p>@LocView.getLocalization("NemovaComment")</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="comment-item">
                                <div class="user-name">
                                    <h3>@LocView.getLocalization("EkaterinaOkhmatovskaya")</h3>
                                </div>
                                <div class="user-position">
                                    <p>@LocView.getLocalization("OkhmatovskayaPosition")</p>
                                </div>
                                <div class="user-place-of-work">
                                    <a>@LocView.getLocalization("OkhmatovskayaWork")</a>
                                </div>
                                <span class="carousel-delimiter"></span>
                                <div class="user-comment">
                                    <p>@LocView.getLocalization("OkhmatovskayaComment")</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="create-game-section" style="background:#eee;">
            <div class="content-wrapper text-center">
                <h3>@LocView.getLocalization("index_create_game_title")</h3>
                <p>@LocView.getLocalization("index_create_game_description")</p>
                @Html.ActionLink(LocView.getLocalization("index_create_game"), "Create", new { Controller = "Lectures" }, new { @class = "yellowBtnSkin text-uppercase" })
            </div>
        </section>
        <footer class="footer" style="background:#434d67">
            <div class="content-wrapper">
                <p style="color:white;">
                    @LocView.getLocalization("index_footer_support") <a href="mailto:hello@myquiz.org">hello@myquiz.org</a><br />
                    @LocView.getLocalization("index_footer_partnership") +7 (812) 407-23-50<br />
                    @Html.ActionLink(LocView.getLocalization("privacypolicy"), "PrivacyPolicy", "Home") <br />
                    @DateTime.Now.Year &copy; <a href="http://www.wave-access.com/">WaveAccess</a>
                </p>
            </div>
        </footer>
    </div>
    @functions {

        public string GetActiveLanguage(string cookieLang)
        {
            string lang = string.Empty;
            lang = cookieLang.Equals("en") ? "English" : "Русский";

            return lang;
        }

    }
</body>