﻿@{
    ViewBag.Title = "Privacy Policy";
}

<div id="privacy" class="centered">
    <h3>@LocView.getLocalization("PrivacyPolicyTitle")</h3>
    <h5>@LocView.getLocalization("PrivacyPolicyLastUpdated")</h5>

    <p>@string.Format(LocView.getLocalization("PrivacyPolicyIntroductionParagraph_1"), ViewBag.SiteUrl)</p>
    <p>@string.Format(@LocView.getLocalization("PrivacyPolicyIntroductionParagraph_2"), ViewBag.SiteUrl)</p>
    <p>@string.Format(@LocView.getLocalization("PrivacyPolicyIntroductionParagraph_3"), ViewBag.SiteUrl)</p>
    <p>@string.Format(@LocView.getLocalization("PrivacyPolicyIntroductionParagraph_4"), ViewBag.SiteUrl)</p>
    <p>@LocView.getLocalization("PrivacyPolicyIntroductionParagraph_5")</p>
    <p>@LocView.getLocalization("PrivacyPolicyIntroductionParagraph_6")</p>
    <p>@LocView.getLocalization(string.Format("PrivacyPolicyIntroductionParagraph_7_{0}", ViewBag.NodeLocation))</p>
    <p>@LocView.getLocalization(string.Format("PrivacyPolicyIntroductionParagraph_8_{0}", ViewBag.NodeLocation))</p>

    <h4>@LocView.getLocalization("PrivacyPolicyPersonalInfo")</h4>
    <p>@LocView.getLocalization("PrivacyPolicyPersonalInfoParagraph_1")</p>
    <p>@LocView.getLocalization("PrivacyPolicyPersonalInfoParagraph_2")</p>

    <h4>@LocView.getLocalization("PrivacyPolicyInGeneralTitle")</h4>
    <p>@string.Format(LocView.getLocalization("PrivacyPolicyInGeneralParagraph_1"), ViewBag.SiteUrl)</p>
    <p>@LocView.getLocalization("PrivacyPolicyInGeneralParagraph_2")</p>
    <p>@LocView.getLocalization("PrivacyPolicyInGeneralParagraph_3")</p>

    <h4>@LocView.getLocalization("PrivacyPolicyPersonalInfoReasonsTitle")</h4>
    <p>@LocView.getLocalization("PrivacyPolicyPersonalInfoReasonsParagraph_1")</p>
    <p>@LocView.getLocalization("PrivacyPolicyPersonalInfoReasonsList_2")</p>

    <div>
        <ul>
            <li>@LocView.getLocalization("PrivacyPolicyPersonalInfoReasonsList_2_item_1")</li>
            <li>@LocView.getLocalization("PrivacyPolicyPersonalInfoReasonsList_2_item_2")</li>
            <li>@LocView.getLocalization("PrivacyPolicyPersonalInfoReasonsList_2_item_3")</li>
        </ul>
    </div>

    <p>@LocView.getLocalization("PrivacyPolicyPersonalInfoReasonsParagraph_3")</p>
    <p>@LocView.getLocalization("PrivacyPolicyPersonalInfoReasonsParagraph_4")</p>

    <h4>@LocView.getLocalization("PrivacyPolicyPersonalInfoProtectionTitle")</h4>
    <p>@LocView.getLocalization("PrivacyPolicyPersonalInfoProtectionParagraph_1")</p>
    <p>@LocView.getLocalization("PrivacyPolicyPersonalInfoProtectionParagraph_2")</p>
    <p>@LocView.getLocalization("PrivacyPolicyPersonalInfoProtectionList_2")</p>

    <div>
        <ul>
            <li>@LocView.getLocalization("PrivacyPolicyPersonalInfoProtectionList_2_item_1")</li>
            <li>@LocView.getLocalization("PrivacyPolicyPersonalInfoProtectionList_2_item_2")</li>
            <li>@LocView.getLocalization("PrivacyPolicyPersonalInfoProtectionList_2_item_3")</li>
        </ul>
    </div>

    <p>@LocView.getLocalization("PrivacyPolicyPersonalInfoProtectionParagraph_3")</p>
    <p>@LocView.getLocalization("PrivacyPolicyPersonalInfoProtectionParagraph_4")</p>
    @if (ViewBag.NodeLocation == "RU")
    {
        <p>@LocView.getLocalization("PrivacyPolicyPersonalInfoProtectionParagraph_5")</p>
    }

    @{
        var childrensTitle = LocView.getLocalization("PrivacyPolicyChildrensTitle");
        var childrensText = LocView.getLocalization("PrivacyPolicyChildrensParagraph_1");
    }
    @if (!string.IsNullOrEmpty(childrensTitle) && !string.IsNullOrEmpty(childrensText))
    {
        <h4>@childrensTitle</h4>
        <p>@childrensText</p>
    }
    
    @if (ViewBag.NodeLocation == "RU")
    {
        <h4>@LocView.getLocalization("PrivacyPolicyProcessingPersonalDataTitle")</h4>
        <p>@LocView.getLocalization("PrivacyPolicyProcessingPersonalDataList_1")</p>
        <div>
            <ul>
                <li>@LocView.getLocalization("PrivacyPolicyProcessingPersonalDataList_1_item_1")</li>
                <li>@LocView.getLocalization("PrivacyPolicyProcessingPersonalDataList_1_item_2")</li>
                <li>@LocView.getLocalization("PrivacyPolicyProcessingPersonalDataList_1_item_3")</li>
                <li>@LocView.getLocalization("PrivacyPolicyProcessingPersonalDataList_1_item_4")</li>
                <li>@LocView.getLocalization("PrivacyPolicyProcessingPersonalDataList_1_item_5")</li>
                <li>@LocView.getLocalization("PrivacyPolicyProcessingPersonalDataList_1_item_6")</li>
                <li>@LocView.getLocalization("PrivacyPolicyProcessingPersonalDataList_1_item_7")</li>
            </ul>
        </div>
        <p>@LocView.getLocalization("PrivacyPolicyProcessingPersonalDataList_2")</p>
        <div>
            <ul>
                <li>@LocView.getLocalization("PrivacyPolicyProcessingPersonalDataList_2_item_1")</li>
                <li>@LocView.getLocalization("PrivacyPolicyProcessingPersonalDataList_2_item_2")</li>
                <li>@LocView.getLocalization("PrivacyPolicyProcessingPersonalDataList_2_item_3")</li>
                <li>@LocView.getLocalization("PrivacyPolicyProcessingPersonalDataList_2_item_4")</li>
                <li>@LocView.getLocalization("PrivacyPolicyProcessingPersonalDataList_2_item_5")</li>
                <li>@LocView.getLocalization("PrivacyPolicyProcessingPersonalDataList_2_item_6")</li>
                <li>@LocView.getLocalization("PrivacyPolicyProcessingPersonalDataList_2_item_7")</li>
                <li>@LocView.getLocalization("PrivacyPolicyProcessingPersonalDataList_2_item_8")</li>
                <li>@LocView.getLocalization("PrivacyPolicyProcessingPersonalDataList_2_item_9")</li>
                <li>@LocView.getLocalization("PrivacyPolicyProcessingPersonalDataList_2_item_10")</li>
            </ul>
        </div>
    }

    <h4>@LocView.getLocalization("PrivacyPolicyPersonalInfoModifyAndRemovalTitle")</h4>
    <p>@string.Format(LocView.getLocalization("PrivacyPolicyPersonalInfoModifyAndRemovalParagraph_1"), ViewBag.SiteUrl)</p>
    <p>@LocView.getLocalization("PrivacyPolicyPersonalInfoModifyAndRemovalParagraph_2")</p>
    <p>@LocView.getLocalization("PrivacyPolicyPersonalInfoModifyAndRemovalParagraph_3")</p>

    <h4>@LocView.getLocalization("PrivacyPolicyContactsTitle")</h4>
    <p>@LocView.getLocalization(string.Format("PrivacyPolicyContactsParagraph_1_{0}", ViewBag.NodeLocation))</p>
    <p>@LocView.getLocalization(string.Format("PrivacyPolicyContactsParagraph_2_{0}", ViewBag.NodeLocation))</p>
    <p>@LocView.getLocalization(string.Format("PrivacyPolicyContactsParagraph_3_{0}", ViewBag.NodeLocation))</p>
    <p>@LocView.getLocalization(string.Format("PrivacyPolicyContactsParagraph_4_{0}", ViewBag.NodeLocation))</p>
    <p>
        @LocView.getLocalization("PrivacyPolicyContactsParagraph_5")

        <a href="mailto:@LocView.getLocalization(string.Format("PrivacyPolicyContactsParagraph_5_1_{0}", ViewBag.NodeLocation))">
            @LocView.getLocalization(string.Format("PrivacyPolicyContactsParagraph_5_1_{0}", ViewBag.NodeLocation))
        </a>
    </p>
    <p>
        <a href="http://@LocView.getLocalization(string.Format("PrivacyPolicyContactsParagraph_6_{0}", ViewBag.NodeLocation))" target="_blank">
            @LocView.getLocalization(string.Format("PrivacyPolicyContactsParagraph_6_{0}", ViewBag.NodeLocation))</a>
    </p>

</div>
