﻿@{
    ViewBag.Title = "User Terms";
}

<div id="user-terms" class="centered">
    <h3>@LocView.getLocalization("UserTermsTitle")</h3>

    <p>@string.Format(LocView.getLocalization("UserTermsIntroductionParagraph_1"), ViewBag.SiteUrl)</p>
    <p>@LocView.getLocalization("UserTermsIntroductionParagraph_2")</p>
    <p>@LocView.getLocalization("UserTermsIntroductionParagraph_3")</p>
    <p>@LocView.getLocalization("UserTermsIntroductionParagraph_4")</p>
    <p>@string.Format(LocView.getLocalization("UserTermsIntroductionParagraph_5"), ViewBag.SiteUrl)</p>

    <h4>@LocView.getLocalization("UserTermsAboutSiteTitle")</h4>

    <p>@LocView.getLocalization("UserTermsAboutSiteParagraph_1")</p>
    <p>@LocView.getLocalization("UserTermsAboutSiteParagraph_2")</p>
    <p>@LocView.getLocalization("UserTermsAboutSiteParagraph_3")</p>
    <p>@LocView.getLocalization("UserTermsAboutSiteParagraph_4")</p>
    <p>@LocView.getLocalization("UserTermsAboutSiteParagraph_5")</p>
    <p>@LocView.getLocalization("UserTermsAboutSiteParagraph_6")</p>
    <p>@LocView.getLocalization("UserTermsAboutSiteParagraph_7")</p>

    <h4>@LocView.getLocalization("UserTermsUsageTitle")</h4>

    <p>@LocView.getLocalization("UserTermsUsageParagraph_1")</p>
    <p>@LocView.getLocalization("UserTermsUsageParagraph_2")</p>
    <p>@LocView.getLocalization("UserTermsUsageParagraph_3")</p>
    <p>@LocView.getLocalization("UserTermsUsageParagraph_4")</p>
    <p>@LocView.getLocalization("UserTermsUsageParagraph_5")</p>
    <p>@LocView.getLocalization("UserTermsUsageParagraph_6")</p>
    <p>@LocView.getLocalization("UserTermsUsageParagraph_7")</p>
    <p>@LocView.getLocalization("UserTermsUsageParagraph_8")</p>
    <p>@LocView.getLocalization("UserTermsUsageParagraph_9")</p>
    <p>@LocView.getLocalization("UserTermsUsageParagraph_10")</p>
    <p>@LocView.getLocalization("UserTermsUsageList_5")</p>

    <div>
        <ul>
            <li>@LocView.getLocalization("UserTermsUsageList_5_item_1")</li>
            <li>@LocView.getLocalization("UserTermsUsageList_5_item_2")</li>
        </ul>
    </div>

    <p>@LocView.getLocalization("UserTermsUsageParagraph_6_1")</p>
    <p>@LocView.getLocalization("UserTermsUsageParagraph_7_1")</p>
    <p>@LocView.getLocalization("UserTermsUsageParagraph_8_1")</p>
    <p>@LocView.getLocalization("UserTermsUsageParagraph_9_1")</p>
    <p>@LocView.getLocalization("UserTermsUsageParagraph_10_1")</p>
    <p>@LocView.getLocalization("UserTermsUsageParagraph_11_1")</p>
    <p>@LocView.getLocalization("UserTermsUsageParagraph_12_1")</p>
    <p>@LocView.getLocalization("UserTermsUsageList_13")</p>
    <div>
        <ul>
            <li>@LocView.getLocalization("UserTermsUsageList_13_item_1")</li>
            <li>@LocView.getLocalization("UserTermsUsageList_13_item_2")</li>
        </ul>
    </div>
    <p>@LocView.getLocalization("UserTermsUsageParagraph_14")</p>
    <p>@LocView.getLocalization("UserTermsUsageList_15")</p>
    <div>
        <ul>
            <li>@LocView.getLocalization("UserTermsUsageList_15_item_1")</li>
        </ul>
    </div>
    <p>@LocView.getLocalization("UserTermsUsageList_16")</p>
    <div>
        <ul>
            <li>@LocView.getLocalization("UserTermsUsageList_16_item_1")</li>
            <li>@LocView.getLocalization("UserTermsUsageList_16_item_2")</li>
            <li>@LocView.getLocalization("UserTermsUsageList_16_item_3")</li>
        </ul>
    </div>
    <p>@LocView.getLocalization("UserTermsUsageParagraph_17")</p>
    <p>@LocView.getLocalization("UserTermsUsageList_18")</p>
    <div>
        <ul>
            <li>
                @LocView.getLocalization("UserTermsUsageList_18_subList_1")
                <ul>
                    <li>@LocView.getLocalization("UserTermsUsageList_18_subList_1_item_1")</li>
                    <li>@LocView.getLocalization("UserTermsUsageList_18_subList_1_item_2")</li>
                    <li>@LocView.getLocalization("UserTermsUsageList_18_subList_1_item_3")</li>
                    <li>@LocView.getLocalization("UserTermsUsageList_18_subList_1_item_4")</li>
                    <li>@LocView.getLocalization("UserTermsUsageList_18_subList_1_item_5")</li>
                    <li>@LocView.getLocalization("UserTermsUsageList_18_subList_1_item_6")</li>
                    <li>@LocView.getLocalization("UserTermsUsageList_18_subList_1_item_7")</li>
                </ul>
            </li>
            <li>
                @LocView.getLocalization("UserTermsUsageList_18_subList_2")
                <ul>
                    <li>@LocView.getLocalization("UserTermsUsageList_18_subList_2_item_1")</li>
                    <li>@LocView.getLocalization("UserTermsUsageList_18_subList_2_item_2")</li>
                    <li>@LocView.getLocalization("UserTermsUsageList_18_subList_2_item_3")</li>
                </ul>
            </li>
        </ul>
    </div>

    <h4>@LocView.getLocalization("UserTermsRightsTitle")</h4>

    <p>@LocView.getLocalization("UserTermsRightsList_1")</p>
    <div>
        <ol>
            <li>@LocView.getLocalization("UserTermsRightsList_1_item_1")</li>
            <li>@LocView.getLocalization("UserTermsRightsList_1_item_2")</li>
            <li>@LocView.getLocalization("UserTermsRightsList_1_item_3")</li>
            <li>@LocView.getLocalization("UserTermsRightsList_1_item_4")</li>
            <li>@LocView.getLocalization("UserTermsRightsList_1_item_5")</li>
            <li>@LocView.getLocalization("UserTermsRightsList_1_item_6")</li>
            <li>
                @LocView.getLocalization("UserTermsRightsList_1_subList_1")

                <ul>
                    <li>@LocView.getLocalization("UserTermsRightsList_1_subList_1_item_1")</li>
                    <li>@LocView.getLocalization("UserTermsRightsList_1_subList_1_item_2")</li>
                    <li>@LocView.getLocalization("UserTermsRightsList_1_subList_1_item_3")</li>
                    <li>@LocView.getLocalization("UserTermsRightsList_1_subList_1_item_4")</li>
                    <li>@LocView.getLocalization("UserTermsRightsList_1_subList_1_item_5")</li>
                    <li>@LocView.getLocalization("UserTermsRightsList_1_subList_1_item_6")</li>
                    <li>@LocView.getLocalization("UserTermsRightsList_1_subList_1_item_7")</li>
                    <li>@LocView.getLocalization("UserTermsRightsList_1_subList_1_item_8")</li>
                    <li>@LocView.getLocalization("UserTermsRightsList_1_subList_1_item_9")</li>
                    <li>@LocView.getLocalization("UserTermsRightsList_1_subList_1_item_10")</li>
                    <li>@LocView.getLocalization("UserTermsRightsList_1_subList_1_item_11")</li>
                    <li>@LocView.getLocalization("UserTermsRightsList_1_subList_1_item_12")</li>
                </ul>

            </li>
            <li>@LocView.getLocalization("UserTermsRightsList_1_item_8")</li>
            <li>@LocView.getLocalization("UserTermsRightsList_1_item_9")</li>
            <li>@LocView.getLocalization("UserTermsRightsList_1_item_10")</li>
        </ol>
    </div>

    <h4>@LocView.getLocalization("UserTermsOthersTitle")</h4>

    <p>@LocView.getLocalization("UserTermsOthersParagraph_1")</p>
    <p>@LocView.getLocalization("UserTermsOthersParagraph_2")</p>
    <p>@LocView.getLocalization("UserTermsOthersParagraph_3")</p>
    <p>@LocView.getLocalization("UserTermsOthersParagraph_4")</p>
    
</div>
