﻿@model WaveAccess.MyQuiz.Model.InformationMessage

<div class="editor-subsection">

    <div class="editor-label editor-label-required">@Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "" })</div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Message, new { htmlAttributes = new { @class = "text-box single-line" }, rows = 3 })
        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "" })
    </div>

</div>

<div class="editor-subsection time">

    <div class="datepicker">
        <div class="editor-label editor-label-required">@Html.LabelFor(model => model.StartDateUtc, htmlAttributes: new { @class = "" })</div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.StartDateUtc, "{0:u}", new { @class = "text-box single-line", @readonly = "true" })
            @Html.ValidationMessageFor(model => model.StartDateUtc, "", new { @class = "" })
        </div>
    </div>
    <div>
        @* Время начала *@
        <div class="editor-label editor-label-required">@Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "" })</div>
        <div class="editor-field">

            @Html.TextBoxFor(model => model.StartTime, new { @class = "text-box", @readonly = "true" })
            @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "" })
        </div>
    </div>
</div>

<div class="editor-subsection time">
    <div class="datepicker">
        <div class="editor-label">
            @Html.LabelFor(model => model.EndDateUtc, htmlAttributes: new { @class = "" })
        </div>
        <div class="editor-field">

            @Html.TextBoxFor(model => model.EndDateUtc, "{0:u}", new { @class = "text-box single-line", @readonly = "true" })
            @Html.ValidationMessageFor(model => model.EndDateUtc, "", new { @class = "" })
        </div>
    </div>
    <div>
        @* Время окончания *@
        <div class="editor-label">
            @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "" })
        </div>
        <div class="editor-field">

            @Html.TextBoxFor(model => model.EndTime, new { @class = "text-box", @readonly = "true" })
            @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "" })
        </div>
    </div>

</div>
