﻿@using System.Globalization
@using WaveAccess.MyQuiz.Model
@model WaveAccess.MyQuiz.Model.CustomQuestion
@{
	var blankAnswersCount = 2;
	var currentAnswersCount = Model.CustomAnswers.Any() ? Model.CustomAnswers.Count : blankAnswersCount;
}

<li class="product-container entity-list-item" name="QuestionContainer">
	@Html.UniqueHiddenIndexer()
	<div class="header">
		<table>
			<tr>
				<td>
					<div class="entity-item-remove-button" onclick="return Controls.onEntityItemRemoveButton(this)">
					</div>
				</td>
				<td style="cursor: pointer; vertical-align: middle;" onclick="$(this).closest('.entity-list-item').toggleClass('close');return false;">@Html.DisplayFor(model => model.Text)</td>
				<td style="cursor: pointer;" onclick="$(this).closest('.entity-list-item').toggleClass('close');return false;">
					<a href="#" class="toggleButton-button-opened"></a>
				</td>
				<td style="position: relative; width: 60px;">
					<svg width="30px" height="30px" class="Move-Icon">
						<use xlink:href="#Capa_1"></use>
					</svg>
					<div class="Drag-Icon" style="height: 81px; position: absolute; top: 0px; width: 100%;"></div>
				</td>
			</tr>
		</table>
	</div>
	<div class="body" style="position: relative;">
		@Html.HiddenFor(model => model.Id)

		<div class="two-columns-big">
			<div class="left-column-big desktop">

				<div class="editor-field  editor-field-file linkedEditorFor">
					@Html.EditorFor(model => model.Image, "ImageLogo")
				</div>

				<div class="error-block-container">
					<div class="error-block">
						<span id="lblFileSizeError" class="file-size-error">@LocView.getLocalization("File_size_error")</span>
						<span id="lblFileTypeError" class="file-type-error">@LocView.getLocalization("File_type_error")</span>
						<span id="lblFileRacyError" class="file-racy-error">@LocView.getLocalization("Not_Allowed_Content")</span>
					</div>
				</div>

			</div>
			<div class="right-column-big">
				<div class="editor-subsection">
					<div class="checkbox checkbox--strange" style="color: #ffffff; float: right;">
						@Html.CheckBoxFor(model => Model.Approved, new {id = DateTime.Now.ToString(CultureInfo.InvariantCulture) + Model.Id})
						@Html.Label(LocView.getLocalization("Show_Question"), new {id = "lblShowQuestion", @class = "desktop", style = "", @for = DateTime.Now.ToString(CultureInfo.InvariantCulture) + Model.Id})
						@Html.Label(LocView.getLocalization("Show_Question_Mob"), new {id = "lblShowQuestion", @class = "mobile", style = "", @for = DateTime.Now.ToString(CultureInfo.InvariantCulture) + Model.Id})
						<span name="delimiter">/</span>
						@Html.Label(LocView.getLocalization("Hide_Question"), new {id = "lblHideQuestion", style = "", @for = DateTime.Now.ToString(CultureInfo.InvariantCulture) + Model.Id})
					</div>

					<div class="editor-label editor-label-required" style="font-size: 20px; font-weight: 500; margin-bottom: 20px;">
						@Html.LabelFor(m => m.Text)
					</div>
					<div class="editor-field">
						@Html.TextAreaFor(model => model.Text, new {rows = 3})
						@Html.ValidationMessageFor(model => model.Text)
					</div>
				</div>
				<div class="editor-subsection" name="AnswerTitleAfter">
					<div class="editor-label editor-label-required" style="width: 100%;">
						<label style="float: left; font-size: 20px; font-weight: 500;">@LocView.getLocalization("Answers")</label>
						<label style="background: none; float: right; font-size: 20px; font-weight: 500; padding-right: 0px;">
							@if (Model.Lecture.Type == QuizType.Survey)
							{
								@LocView.getLocalization("AnswerPoints")
							}
							else
							{
								@LocView.getLocalization("Correct")
							}
						</label>
					</div>
				    <div class="subentities-list-container" name="AnswersContainer">
				        <div class="subentities-list">
				            @if (Model.CustomAnswers.Any())
				            {
				                @Html.EditorFor(model => model.CustomAnswers, new {QuizType = Model.Lecture.Type})
				            }
				            else
				            {
				                for (var i = 0; i < blankAnswersCount; i++)
				                {
				                    Html.RenderAction("AnswerBlank", "CustomQuestion", new {htmlPrefix = Html.NameFor(model => model.CustomAnswers), count = i, type = Model.Lecture.Type});
				                }
				            }
				        </div>
				        <div class="subentities-list-loader" style="display: none;">
				            <div id="circleG">
				                <div id="circleG_1" class="circleG"></div>
				                <div id="circleG_2" class="circleG"></div>
				                <div id="circleG_3" class="circleG"></div>
				            </div>
				        </div>

				        <div id="ErrorsBlock" class="body">
				            <div class="two-columns-medium">
				                <div class="left-column-medium">
				                    <div class="editor-label editor-label-required" style="display: none;" name="ErrorBlockCheckbox" tabindex="1">
				                        <span>
				                            @LocView.getLocalization("Correct_Answer_Required")
				                        </span>
				                    </div>
				                    <div class="editor-label editor-label-required" style="display: none;" name="ErrorBlockAnswers" tabindex="1">
				                        <span>
				                            @LocView.getLocalization("Minimum_Answers")
				                        </span>
				                    </div>
				                    <div class="editor-label editor-label-required" style="display: none;" name="ErrorMaximumAnswers" tabindex="1">
				                        <span>
				                            @LocView.getLocalization("Correct_Answers_Maximum")
				                        </span>
				                    </div>
				                </div>
				            </div>
				        </div>
				        <div class="subentities-list-addbutton-container">
				            <div style="position: relative; text-align: left; width: 60%;">
				                <a href="#"
				                   @Html.Raw(currentAnswersCount < Model.MaxAnswersCount ? "" : "style=\"display:none;\"")
				                   onclick="addButtonClick(this, '@Html.NameFor(model => model.CustomAnswers)');return false;">
				                    @LocView.getLocalization("Add_Answer")</a>
				            </div>
				        </div>
						
				    </div>
				    <div class="subentities-list-add-note">
				        <div class="checkbox">
				            @{ var answerNoteElementId = "CorrectAnswerNote" + Guid.NewGuid();}
				            @Html.CheckBoxFor(model => Model.IsNeedCorrectAnswerNote, new {id = answerNoteElementId })
				            <label for="@answerNoteElementId" class="note-label">@LocView.getLocalization("correctAnswerNote")</label>
				        </div>
				        @{ var visibilityEditorClass = Model.IsNeedCorrectAnswerNote ? string.Empty : "hidden"; }
				        <div class="left-column-medium">
				            <div class="editor-field">
				                @Html.TextAreaFor(a=> a.CorrectAnswerNote, new { rows = 3, questionId = Model.Id, state = visibilityEditorClass, @class = visibilityEditorClass })
				                @Html.ValidationMessageFor(model => model.CorrectAnswerNote, LocView.getLocalization("correctAnswerNoteValidationMessage"), new { name = "ErrorNoteRequired"})
				            </div>
				        </div>
				    </div>
					<div class="custom-settings-block">
						<div class="editor-label editor-label-required" style="font-size: 20px; font-weight: 500;">
							<label>@LocView.getLocalization("Questions_Custom_Settings")</label>
						</div>
						<div class="three-columns-small">

							<div class="small-block question-time-container">
								<div class="editor-label question-time-label">
									@Html.LabelFor(m => m.SecondsForAnswer)
								</div>
								<div class="editor-field question-time-field">
									<span class="field-validation-valid">@LocView.getLocalization("RequiredField")</span>
									@Html.TextBoxFor(m => m.SecondsForAnswer, new {maxlength = 4, type = "number", onchange = "Controls.OnCustomSettingsValidate($('#questionsForm'))", timeinput = "true"})
									<div class="content-for-input"></div>
									@Html.ValidationMessageFor(model => model.SecondsForAnswer)
								</div>
							</div>

							<div class="small-block question-time-container">
								<div class="editor-label question-time-label">
									@Html.LabelFor(m => m.SecondsForReview)
								</div>
								<div class="editor-field question-time-field">
									<span class="field-validation-valid">@LocView.getLocalization("RequiredField")</span>
									@Html.TextBoxFor(m => m.SecondsForReview, new {maxlength = 4, type = "number", onchange = "Controls.OnCustomSettingsValidate($('#questionsForm'))", timeinput = "true"})
									<div class="content-for-input"></div>
									@Html.ValidationMessageFor(model => model.SecondsForReview)
								</div>
							</div>

							<div class="small-block question-score-container">
								<div class="editor-label question-score-label">
									@Html.LabelFor(m => m.Score)
								</div>
								<div class="editor-field question-score-field">
									<span class="field-validation-valid">@LocView.getLocalization("RequiredField")</span>
									@Html.TextBoxFor(m => m.Score, new {type = "number", onchange = "Controls.OnCustomSettingsValidate($('#questionsForm'))"})
									@Html.ValidationMessageFor(model => model.Score)
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="image-block mobile">
					<div class="editor-field  editor-field-file linkedEditorFor">
						@Html.EditorFor(model => model.Image, "ImageLogo")
					</div>
				</div>

			</div>
		</div>


		@if (ViewBag.IsPromoEnabled)
		{
			Html.RenderPartial("PromoQuestion", Model);
		}
	</div>
</li>