﻿@model WaveAccess.MyQuiz.Model.Image
@using WaveAccess.MyQuiz.WebUI.Helpers

@{
    var oldPref = ViewData.TemplateInfo.HtmlFieldPrefix;
    var hiddenFieldName = Html.NameForModel();
    bool isEmpty = WaveAccess.MyQuiz.Model.Image.IsEmptyOrNull(Model);

}
<div class="jumbotron dropzone" id="dropzoneQuestionForm">

    <div class="dz-message" data-dz-message>
        <span>@LocView.getLocalization("Drop_Image_Here")</span>
    </div>

    <input type="hidden" value="@(Model != null ? Model.Id : -1)" name="@Html.NameFor(m => m.Id)" id="@Html.IdFor(m => m.Id)" data-val-id="ImageIdValue" />
    @Html.HiddenFor(m => m.InternalPath, new { data_val_id = "ImageInternalPathValue" })
    @Html.HiddenFor(m => m.CroppedInternalPath, new { data_val_id = "ImageCroppedInternalPathValue" })
    @Html.HiddenFor(m => m.DisplayName, new { data_val_id = "ImageDisplayNameValue" })
    @Html.HiddenFor(m => m.URL, new { @class = "url_input" })
    @Html.HiddenFor(m => m.MediaType, new { @class = "mediaType_input" })
    @Html.HiddenFor(m => m.VideoAutoPlay, new { @class = "videoAutoPlay_input" })
    @Html.HiddenFor(m => m.ThumbnailUrl, new { @class = "thumbnailUrl_input" })

    @Html.Hidden("storage-url", Model != null && Model.IsDownloadedToStorage ? Url.StorageImage(Model, "800") : string.Empty, new { data_val_id = "storage_url" })
    @Html.HiddenFor(m=> m.StorageAccountName)
    @Html.HiddenFor(m => m.StorageId)
@*    @Html.HiddenFor(m => m.IsDownloadedToStorage) *@

    <input type="hidden" name="PreviousImageInternalPathValue" data-val-id="PreviousImageInternalPathValue" id="PreviousImageInternalPathValue" />
</div>
<div class="preventClickBlock">
    <div class="videoContainer hidden">
        <iframe class="videoFrame"></iframe>
        <div class="videoEncodingProgress">
            <p>@LocView.getLocalization("mediaSelectorAMSVideoProcessorLectureEncodingMsg")</p>
        </div>
    </div>
</div>
<div class="toggle--popup hide">
    <ul>
        <li data-action="update-cropbox" onclick="$(this).parents('.editor-field').find('.dropzone').click();">@LocView.getLocalization("Update_Image_CropBox")</li>
    </ul>
</div>
@{
    ViewData.TemplateInfo.HtmlFieldPrefix = oldPref;
}

@if (Model != null && Model.Id != 0)
{
    @Html.DisplayFor(m => m)
}