﻿@model WaveAccess.MyQuiz.Model.Image
@using WaveAccess.MyQuiz.WebUI.Helpers

@{
    var oldPref = ViewData.TemplateInfo.HtmlFieldPrefix;
    var hiddenFieldName = Html.NameForModel();
    ViewData.TemplateInfo.HtmlFieldPrefix = string.Format("upload_{0}", oldPref);
    bool isEmpty = WaveAccess.MyQuiz.Model.Image.IsEmptyOrNull(Model);

}
@if (!isEmpty)
{
    <div class="images-container image-container singleImage">
        <a href="@Url.StorageImage(Model, "500")" class="colorbox">
            <div class="the-logo" style="background-image:url(@Url.StorageImage(Model, "169"))"></div>
        </a>
        
        
        @Html.HiddenFor(m => m.Id)
    </div>
}
else
{
    <div class="logo-container images-container no-image image-container singleImage">
        <div class="image-item" style="">
            <span style="line-height: 23px; position: absolute; width: 100%; left: 0px; top: 100px;">@LocView.getLocalization("no_image")</span>
        </div>
    </div>
}
<div class="file-input-wrap">
    <button type="button" onclick="$('#@Html.IdForModel()').click(); return false;">@LocView.getLocalization("Browse...")</button>
    <input type="file" style="display: none;" onchange="Controls.onImageSelected(this, 200, '@hiddenFieldName', false)" class="image-uploader-input ignore_validation" id="@Html.IdForModel()" name="@Html.NameForModel()" accept="image/*">
</div>
@{
    ViewData.TemplateInfo.HtmlFieldPrefix = oldPref;
}

@if (Model != null && Model.Id != 0)
{
    @Html.DisplayFor(m => m)
}

<script>
    $(function() {
        $("a.colorbox").colorbox({ width: "90%", height: "90%" });
    });
</script>




