﻿@model System.Collections.Generic.HashSet<WaveAccess.MyQuiz.Model.Image>
@using WaveAccess.MyQuiz.WebUI.Helpers

@{ 
     var htmlPrefix = ViewData.TemplateInfo.HtmlFieldPrefix;  
}

@if (Model == null || Model.Count() == 0)
    {
        <div class="images-container no-image image-container">
            <div class="image-item" style="">
                <span style="line-height: 23px; position: absolute; width: 100%; left: 0px; top: 100px;">@LocView.getLocalization("no_image")</span>
            </div>
        </div>        
    } else {       
        <div class="images-container image-container">
            <div class="image-item" style="display:none;">
                <span style="line-height: 23px; position: absolute; width: 100%; left: 0px; top: 100px;">@LocView.getLocalization("no_image")</span>
            </div> 
            @for (int i = 0; i < Model.Count(); i++)
            {    
                var image = Model.ElementAt(i);
                string imagePath = WaveAccess.MyQuiz.Model.Image.IsEmptyOrNull(image) ? null : Path.Combine(ViewBag.UploadsRootPath, image.PathFor(200));                
                    
                <div class="image-item" style="background-image:url(@Url.StorageImage(image, "500"))" onclick="Controls.onImageItemDelete(this)"> 
                    <span class="remove-image"></span>         
                    <input type="hidden" name="@string.Format("{0}.Index", htmlPrefix)" value="@i" />
                    <input type="hidden" name="@string.Format("{0}[{1}].Id", htmlPrefix, i)" value="@image.Id" />
                    <input type="hidden" name="@string.Format("{0}[{1}].UiIsDeleted", htmlPrefix, i)" value="false" class="is-deleted" />
                </div>            
            }
        </div>
    }
<div class="file-input-wrap">
    @{
        int unique = new Random().Next(0, 5000);
        string uniqueIdUpload = "idfileButtonActivator_" + unique;
    }
    <button type="button" onclick="$('#@uniqueIdUpload').click(); return false;">@LocView.getLocalization("Browse...")</button>
    <input type="file" id="@uniqueIdUpload" style="display: none;" onchange="Controls.onImageSelected(this, 200, '@htmlPrefix', true, @Model.Count())" class="image-uploader-input ignore_validation" accept="image/*" name="upload_@Html.NameForModel()">       
</div>





