﻿@model WaveAccess.MyQuiz.Model.Image
@using WaveAccess.MyQuiz.WebUI.Helpers

@{
    var oldPref = ViewData.TemplateInfo.HtmlFieldPrefix;
    var hiddenFieldName = Html.NameForModel();
    ViewData.TemplateInfo.HtmlFieldPrefix = string.Format("upload_{0}", oldPref);
    bool isEmpty = WaveAccess.MyQuiz.Model.Image.IsEmptyOrNull(Model);

}
@if (!isEmpty)
{
    <div onclick="$('#@Html.IdForModel()').click();return false;" style="height: 100%;">
        <div class="file-input-wrap" style="text-align: center; height: 100%;">
            <div class="logo-container image-container">
                
                <div class="cssload-container quiz--question">
                    <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
                </div>

                <div class="the-logo" style="background-image: url(@Url.StorageImage(Model, "500")); background-position: left center; display: inline-block; line-height: normal; margin-top: -20px; background-size: contain;"></div>
                <div style="text-align: center; color: #FFFFFF; font-size: 14px; width: 45%; display: inline-block; vertical-align: top; padding-top: 25px;">@LocView.getLocalization("change_image_here_mobile")</div>
            </div>
        </div>
    </div>
}
else
{
    <div class="logo-container no-image image-container">
        <div onclick="$('#@Html.IdForModel()').click();return false;">
            
            <div class="cssload-container quiz--question">
                <div class="cssload-loading"><i></i><i></i><i></i><i></i>
                </div>
            </div>

            <div id="no-image-bg" class="the-logo"></div>
            @*<div class="the-logo empty"></div>*@
            <div style="left: 0px; text-align: center; color: #FFFFFF; font-size: 14px; width: 45%; display: inline-block; vertical-align: top; padding-top: 25px;">@LocView.getLocalization("add_image_here_mobile")</div>
        </div>
    </div>
}

<input type="file" style="display: none;" onchange="Controls.onMobileImageUpload(this, null, '@hiddenFieldName', false, '@LocView.getLocalization("Uploading")', '@LocView.getLocalization("add_image_here_mobile")')" class="image-uploader-input ignore_validation" id="@Html.IdForModel()" name="@Html.NameForModel()" />

@{
    ViewData.TemplateInfo.HtmlFieldPrefix = oldPref;
}

@if (Model != null && Model.Id != 0)
{
    @Html.DisplayFor(m => m)
}



