﻿@model WaveAccess.MyQuiz.Model.Image
@using WaveAccess.MyQuiz.WebUI.Helpers

<style>
    .file-input-wrap button {
        height: 26px !important;
        padding: 0px 20px 0px 20px !important;
    }
</style>

@{
    var oldPref = ViewData.TemplateInfo.HtmlFieldPrefix;
    var hiddenFieldName = Html.NameForModel();
    ViewData.TemplateInfo.HtmlFieldPrefix = string.Format("upload_{0}", oldPref);
    bool isEmpty = WaveAccess.MyQuiz.Model.Image.IsEmptyOrNull(Model);
    string imagePath = isEmpty ? null : Path.Combine(ViewBag.UploadsRootPath, Model.PathFor(169));
}
@if (!isEmpty)
{
    <div class="photo-container image-container">
        <div class="the-photo" style="background-image: url(@Url.StorageImage(Model, "169")); margin: 0 auto;"></div>
        @Html.HiddenFor(m => m.Id)
    </div>
}
else
{
    <div class="photo-container no-image image-container">
        <div class="the-photo" style="background-image: url('../../../Images/no-user-photo.png'); height: 81px !important; width: 81px !important; border-radius: 100px; background-size: cover; border: 2px solid #ffffff; background-position: center center; padding: 0 !important">
        </div>
    </div>
}
<div class="file-input-wrap">
    <button type="button" onclick="$('#@Html.IdForModel()').click(); return false;">@LocView.getLocalization("Browse...")</button>
    <input type="file" style="display: none;" onchange="Controls.onImageSelected(this, 200, '@hiddenFieldName', false)" class="image-uploader-input ignore_validation" id="@Html.IdForModel()" name="@Html.NameForModel()" accept="image/*">

</div>


@{
    ViewData.TemplateInfo.HtmlFieldPrefix = oldPref;
}

@if (Model != null && Model.Id != 0)
{
    @Html.DisplayFor(m => m)
}





