﻿@model WaveAccess.MyQuiz.Model.Image
@using WaveAccess.MyQuiz.WebUI.Helpers

@{ 
    var oldPref = ViewData.TemplateInfo.HtmlFieldPrefix;
    ViewData.TemplateInfo.HtmlFieldPrefix = string.Format("upload_{0}", oldPref);
    string imagePath = Model == null ? null : Path.Combine(ViewBag.UploadsRootPath, Model.InternalPath);
}
    @if(Model != null){
        <div class="screenshot-container"><img src="@Url.StorageImage(Model, "500")" /></div>
    } else {
        <div class="screenshot-container no-image">no image</div>
    }
<div class="file-input-wrap">
    <input type="file" class="ignore_validation" name="@Html.NameForModel()" accept="image/*" >
    </div>
@{
    ViewData.TemplateInfo.HtmlFieldPrefix = oldPref;
}
@if(Model != null && Model.Id != 0)
{ 
    @Html.HiddenFor(m => m.Id)
    @Html.DisplayFor(m => m)
}




