﻿@model WaveAccess.MyQuiz.Model.Image

@{ 
    var oldPref = ViewData.TemplateInfo.HtmlFieldPrefix;
    ViewData.TemplateInfo.HtmlFieldPrefix = string.Format("upload_{0}", oldPref);
   }
<div class="file-input-wrap">
    <button type="button" onclick="$('#@Html.IdForModel()').click(); return false;">Browse...</button>
    <input type="file" style="display: none" class="image-uploader-input ignore_validation" id="@Html.IdForModel()" name="@Html.NameForModel()" accept="image/*" >
</div>
@{
    ViewData.TemplateInfo.HtmlFieldPrefix = oldPref;
}
@if(Model != null && Model.Id != 0)
{ 
    @Html.HiddenFor(m => m.Id)
    @Html.DisplayFor(m => m)
}




