﻿@model WaveAccess.MyQuiz.Model.Image
@using WaveAccess.MyQuiz.WebUI.Helpers

@{ 
    var oldPref = ViewData.TemplateInfo.HtmlFieldPrefix;
    var hiddenFieldName = Html.NameForModel();
    bool isEmpty = WaveAccess.MyQuiz.Model.Image.IsEmptyOrNull(Model);

    var useForIntroduceYourselfPage = (bool)(ViewData["useForIntroduceYourselfPage"] ?? false);
    
}
<div onclick="$('#@Html.IdForModel()').click(); return false;" class="logo-container image-container">
    <div class="the-logo"
         style="background-image:url('@Url.StorageImage(Model, "500", useForIntroduceYourselfPage ? "/Images/avatar.svg" : "/Images/Add Photo.png")')">
    </div>
</div>

<div class="file-input-wrap">
    <div class="imageUplodBtn" onclick="$('#@Html.IdForModel()').click(); return false;">
        <span class="imageUplodBtn-icon"></span> <!--!!!!or <span class="imageUplodBtn-icon change"></span> -- when photo is uploaded-->
        <span class="imageUplodBtn-text">@LocView.getLocalization("Profile_photo")</span>
    </div>
    <p><span></span></p>
    <input type="file" style="display: none;" onchange="Controls.OnImageUpload(this, null, '@hiddenFieldName', false, '@LocView.getLocalization("Uploading")')" class="image-uploader-input ignore_validation" id="@Html.IdForModel()" accept="image/*">
</div>
<input type="button" value="@LocView.getLocalization("RotateLeft")" onclick="Controls.onImageRotate(300, false, true)" class="btnRotate rotate-left" disabled="@isEmpty"/>
<input type="button" value="@LocView.getLocalization("RotateRight")" onclick="Controls.onImageRotate(300, true, true)" class="btnRotate rotate-right" disabled="@isEmpty" />

@if(Model != null && Model.Id != 0)
{ 
    @Html.DisplayFor(m => m)
}





