﻿@model WaveAccess.MyQuiz.Model.Lecture
@using WaveAccess.MyQuiz.WebUI.Helpers

@Html.HiddenFor(model => model.Id)

<link rel="stylesheet" href="/Content/quiz-form.css" />
<link rel="stylesheet" href="/Content/lecture.css" />

@{
    var isCustomPointsEnabled = Model != null && Model.CustomPoints != null && (bool)Model.CustomPoints;
    var isCustomTimeForAnswerEnabled = Model != null && Model.IsCustomTimeForAnswer != null && (bool)Model.IsCustomTimeForAnswer;
    var disableCustomPointsSettings = Model == null;
}

<div class="lecture-container centered">
    @Html.UniqueHiddenIndexer()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.Type)
    @Html.HiddenFor(model => model.Code)
    
    <div class="body">
        <div class="two-columns-big">
            <div class="left-column-big">
                <div class="editor-field editor-field-file linkedEditorFor">
                    @Html.EditorFor(model => model.Image, "QuizImage")
                </div>
                <div class="error-block-container">
                    <div class="error-block">
                        <span id="lblFileSizeError" class="file-size-error">@LocView.getLocalization("File_size_error")</span>
                        <span id="lblFileTypeError" class="file-type-error">@LocView.getLocalization("File_type_error")</span>
                    </div>
                </div>
            </div>
            <div class="right-column-big">
                <div class="editor-subsection">
                    <div class="editor-label editor-label-required">
                        @Html.LabelFor(m => m.Theme)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.Theme, new { rows = 2})
                        @Html.ValidationMessageFor(model => model.Theme, "")
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.Description)
                    </div>
                    <div class="editor-field editor-textarea">
                        @Html.TextAreaFor(model => model.Description, new { rows = 6})
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>

                    <div class="four-columns-small">
                        <div class="small-block">
                            <div class="editor-label editor-label-required">
                                @Html.LabelFor(m => m.CDate)
                            </div>
                            <div class="editor-field datepicker">
                                @Html.EditorFor(model => model.CDate)
                                @Html.ValidationMessageFor(model => model.CDate)
                            </div>
                        </div>
                        <div class="small-block">
                            <div class="editor-label editor-label-required">
                                @Html.LabelFor(m => m.StTime)
                            </div>
                            <div class="editor-field timepicker">
                                @Html.EditorFor(model => model.StTime)
                                @Html.ValidationMessageFor(model => model.StTime)
                            </div>
                        </div>
                        <div class="small-block">
                            <div class="editor-label editor-label-required">
                                @Html.LabelFor(m => m.EdTime)
                            </div>
                            <div class="editor-field timepicker">
                                @Html.EditorFor(model => model.EdTime)
                                @Html.ValidationMessageFor(model => model.EdTime)
                            </div>
                        </div>
                        <div class="small-block custom-points-block">
                            <div class="enable-custom-points">
                                @if (Model == null
                                    || Model.Type == WaveAccess.MyQuiz.Model.QuizType.Quiz)
                                {
                                <div class="editor-label">
                                    <label>@LocView.getLocalization("Custom_Score_Settings")</label>
                                </div>
                                <div class="editor-field radios">
                                    <input type="radio" class="radio" id="radio-points-yes" name="CustomPoints" value="true" checked="@isCustomPointsEnabled.Equals(true)" onchange="Controls.OnCheckCustomSettingsValue()" />
                                    <label for="radio-points-yes">@LocView.getLocalization("Yes")</label>

                                    <input type="radio" class="radio" id="radio-points-no" name="CustomPoints" value="false" checked="@isCustomPointsEnabled.Equals(false)" onchange="Controls.OnCheckCustomSettingsValue()" />
                                    <label for="radio-points-no">@LocView.getLocalization("No")</label>
                                </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="three-columns-small">
                        
                        <div class="small-block custom-time-block">
                            <div class="enable-custom-time-for-answer">
                                <div class="editor-label">
                                    <label>@LocView.getLocalization("Custom_Time_Settings")</label>
                                </div>
                                <div class="editor-field radios">
                                    <input type="radio" class="radio" id="radio-time-yes" name="@Html.NameFor(m=>m.IsCustomTimeForAnswer)" value="true" checked="@isCustomTimeForAnswerEnabled.Equals(true)" onchange="Controls.OnCheckCustomSettingsValue()" />
                                    <label for="radio-time-yes">@LocView.getLocalization("Yes")</label>

                                    <input type="radio" class="radio" id="radio-time-no" name="@Html.NameFor(m=>m.IsCustomTimeForAnswer)" value="false" checked="@isCustomTimeForAnswerEnabled.Equals(false)" onchange="Controls.OnCheckCustomSettingsValue()" />
                                    <label for="radio-time-no">@LocView.getLocalization("No")</label>
                                </div>
                            </div>
                        </div>
                        <div class="small-block">
                            <div class="editor-label editor-label-required">
                                @Html.LabelFor(m => m.SecondsForAnswer)
                            </div>
                            <div class="editor-field">
                                <span class="field-validation-valid">@LocView.getLocalization("RequiredField")</span>
                                @Html.EditorFor(model => model.SecondsForAnswer, new { type = "number"})
                                <div class="content-for-input"></div>
                            </div>
                        </div>
                        <div class="small-block">
                            <div class="editor-label editor-label-required">
                                @Html.LabelFor(m => m.RestingTime)
                            </div>
                            <div class="editor-field">
                                <span class="field-validation-valid">@LocView.getLocalization("RequiredField")</span>
                                @Html.EditorFor(model => model.RestingTime)
                                <div class="content-for-input"></div>
                            </div>
                        </div>
                    </div>

                    <div class="one-column-big">
                        <div class="wide-block">
                            <div class="editor-label">
                                @Html.LabelFor(m => m.Code)
                            </div>
                            <div class="editor-field code datepicker">
                                @Html.DisplayFor(m => m.Code)
                            </div>
                        </div>
                    </div>

                    <div class="image-block mobile">
                        <div class="editor-field  editor-field-file linkedEditorFor">
                            @Html.EditorFor(model => model.Image, "QuizImage")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#CDate").keypress(function (key) {
        return false;
    });

    function hideConfirm() {
        $('#popup-wrap ~ table').animate({ 'top': '-520%' }).fadeOut().unbind("click", hideConfirm);
        $('#popup-wrap ~ table').hide();
        $('#popup-wrap').hide();
    }

    function showConfirm() {
        setTimeout(function () {
            $('#popup-wrap ~ table').attr('style', 'display:table !important');
            $('#popup-wrap ~ table').show().animate({ 'top': '0%' }).click(hideConfirm);
            $('#popup-wrap').show();
            $('#btnCancelLeave').focus();
        });
    }
</script>
