﻿@model WaveAccess.MyQuiz.Model.Image
@using WaveAccess.MyQuiz.WebUI.Helpers

@{
//var hiddenFieldName = Html.NameForModel();
bool isEmpty = WaveAccess.MyQuiz.Model.Image.IsEmptyOrNull(Model);

}
<div>
    <div class="logo-container image-container">
        <img class="the-logo" onclick="$('#upload_@Html.IdForModel()').click();return false;"
             src="@(!isEmpty ? ViewBag.ImageUrl : "/Images/Add Photo.png")" />
    </div>
    <div class="file-input-wrap">
        <input type="file" style="display: none;" onchange="$('.the-logo').uploadToStorage(this);" class="image-uploader-input ignore_validation" id="upload_@Html.IdForModel()" name="upload_@Html.NameForModel()" accept="image/*">
    </div>

    <div id="rotate-buttons-container">
        <div class="EditImage" onclick="$(this).toggleClass('active')">
            @LocView.getLocalization("EditPhoto")
        </div>
        <ul>
            <li onclick="$('#upload_@Html.IdForModel()').click(); $('.EditImage').removeClass('active'); return false;">@LocView.getLocalization("ChangePhoto")</li>
            <li onclick="$('.the-logo').deleteProfilePhoto();">@LocView.getLocalization("RemovePhoto")</li>
            <li onclick="$('.the-logo').rotateImageLeft()">@LocView.getLocalization("RotateLeft")</li>
            <li onclick="$('.the-logo').rotateImageRight()">@LocView.getLocalization("RotateRight")</li>
        </ul>
        <div class="progress">
            <div class="bar" style="background: #3289bc; padding: 5px; border-radius: 5px; margin: 10px 0 0px 0; width: 0; max-width: 100%; opacity: 0;">
                <div class="percent"></div>
            </div>
        </div>

        <div id="status"></div>
    </div>
</div>
<style>
    #rotate-buttons-container {
        position: relative;
    }

        #rotate-buttons-container ul {
            background-color: white;
            color: black;
            position: absolute;
            display: none;
            width: 100%;
            z-index: 100;
        }

        #rotate-buttons-container .EditImage {
            padding: 20px;
            cursor: pointer;
        }

            #rotate-buttons-container .EditImage.active ~ ul {
                display: block;
            }

        #rotate-buttons-container ul li {
            padding: 8px;
            cursor: pointer;
        }

    .error-block-container {
        position: relative;
        float: right;
        clear: both;
    }
</style>
@if (Model != null && Model.Id != 0)
{
    @Html.DisplayFor(m => m)
}





