﻿@model WaveAccess.MyQuiz.WebUI.Models.QuizViewModel
@using System.Diagnostics
@using WaveAccess.MyQuiz.Model
@using WaveAccess.MyQuiz.WebUI.Helpers
@using WaveAccess.MyQuiz.WebUI.HelpersCode
@using WaveAccess.MyQuiz.WebUI.Models

@Html.HiddenFor(model => model.Id)


<link rel="stylesheet" href="/Content/quiz-form.css" />
<link rel="stylesheet" href="/Content/lecture.css" />

@{
    var isCustomPointsEnabled = Model != null && Model.CustomPoints != null && (bool)Model.CustomPoints;
    var isCustomTimeForAnswerEnabled = Model != null && Model.IsCustomTimeForAnswer != null && (bool)Model.IsCustomTimeForAnswer;
    var disableCustomPointsSettings = Model == null;

    var blankPlacesCount = 1;
    var maxPlacesCount = 3;
    var isQuizWinnerCodeEnabled = Model != null && (bool)Model.IsQuizWinnerCodeEnabled;
    var currentPlacesCount = Model != null && Model.QuizWinnerCodes != null ? Model.QuizWinnerCodes.Count : blankPlacesCount;
}

<div class="info-popup close" onclick="hideSettingsDescriptionPopup($(this)); return false;">
    <table>
        <tr>
            <td>
                <div class="popup-header">@LocView.getLocalization("ScoreInfoDetailsTitle")<span onclick="hideSettingsDescriptionPopup($(this)); return false;"></span></div>
                <div class="popup-body">
                    <div class="popup-body-content">
                        <h1>@LocView.getLocalization("ScoreInfoDetailsStandartSystemHead")</h1>
                        <ul>
                            <li>@LocView.getLocalization("ScoreInfoDetailsStandartSystemListItem1")</li>
                            <li>@LocView.getLocalization("ScoreInfoDetailsStandartSystemListItem2")</li>
                            <li>@LocView.getLocalization("ScoreInfoDetailsStandartSystemListItem3")</li>
                            <li>
                                @LocView.getLocalization("ScoreInfoDetailsStandartSystemListItem4")
                            </li>
                        </ul>
                        <p>
                            @LocView.getLocalization("ScoreInfoDetailsStandartSystemParagraph")
                            <strong>@LocView.getLocalization("ScoreInfoDetailsStandartSystemParagraph_Strong")</strong>
                            @LocView.getLocalization("ScoreInfoDetailsStandartSystemParagraph_Option").
                        </p>
                        <h1>@LocView.getLocalization("ScoreInfoDetailsPersonalSystemHead")</h1>
                        <ul>
                            <li>@LocView.getLocalization("ScoreInfoDetailsPersonalSystemListItem1")</li>
                            <li>@LocView.getLocalization("ScoreInfoDetailsPersonalSystemListItem2")</li>
                        </ul>
                    </div>
                </div>
                <div class="popup-body-footer">
                    <button onclick="hideSettingsDescriptionPopup($(this)); return false;">@LocView.getLocalization("close")</button>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="lecture-container centered">
    @Html.UniqueHiddenIndexer()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.Type)
    @Html.HiddenFor(model => model.Code)

    <div class="body">
        <div class="two-columns-big">
            <div class="left-column-big">
                <div class="editor-field editor-field-file linkedEditorFor">
                    @Html.EditorFor(model => model.Image, "QuizImage")
                </div>
                <div class="error-block-container">
                    <div class="error-block">
                        <span id="lblFileSizeError" class="file-size-error">@LocView.getLocalization("File_size_error")</span>
                        <span id="lblFileTypeError" class="file-type-error">@LocView.getLocalization("File_type_error")</span>
                        <span id="lblFileRacyError" class="file-racy-error">@LocView.getLocalization("Not_Allowed_Content")</span>
                    </div>
                </div>

                <div class="one-column-big quiz--code">
                    <div class="wide-block">
                        <div class="editor-label">
                            @Html.LabelFor(m => m.Code)
                        </div>
                        <div class="editor-field code datepicker">
                            @Html.DisplayFor(m => m.Code)
                        </div>
                    </div>
                </div>

            </div>
            <div class="right-column-big">
                <div class="editor-subsection">
                    <div class="editor-label editor-label-required">
                        @Html.LabelFor(m => m.Theme)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.Theme, new { rows = 2 })
                        @Html.ValidationMessageFor(model => model.Theme, "")
                    </div>
                <div class="editor-label">
                    @Html.LabelFor(m => m.Description)
                </div>
                <div class="editor-field">
                    <div class="quill-editor">
                        <div id="@(Html.IdFor(m => m.Description))__Quill" data-quill-editor-for="@Html.IdFor(m => m.Description)">
                            @Html.Raw(Model.Description)
                        </div>
                        @Html.HiddenFor(m => m.Description, new {data_quill_html = true})
                    </div>
                    <span id="desc-error-quill-message" class="field-validation-error hidden">@LocView.getLocalization("MaxSymbolsLength")</span>
                </div>
                    <div class="four-columns-small">
                        <div class="small-block small-block-date">
                            <div class="editor-label editor-label-required">
                                @Html.LabelFor(m => m.CDate)
                            </div>
                            <div class="editor-field datepicker">
                                @Html.EditorFor(model => model.CDate)
                                @Html.ValidationMessageFor(model => model.CDate)
                            </div>
                        </div>
                        <div class="small-block small-block-time">
                            <div class="editor-label editor-label-required">
                                @Html.LabelFor(m => m.StTime)
                            </div>
                            <div class="editor-field">
                                <div class="TimeSelector">
                                    @Html.HiddenFor(m => m.StTime)
                                    <div class="TimeSelector__Elements">
                                        <div class="TimeSelector__Item">
                                            <select id="@Html.IdFor(m=>m.StartTimeHour)"
                                                    name="@Html.IdFor(m=>m.StartTimeHour)"
                                                    class="dropDown dropDown--mdTime"
                                                    style="width:100%;"
                                                    data-type="timeSelector-hours">

                                                @for (var i = Model.HoursFrom; i <= Model.HoursTo; i++)
                                                {
                                                    <option value="@i" @(i == Model.StartTimeHour ? " selected" : "")>@i</option>
                                                }

                                            </select>
                                        </div>
                                        <div class="TimeSelector__Item">
                                            <div class="TimeSelector__Divider">:</div>
                                        </div>
                                        <div class="TimeSelector__Item">
                                            <select id="@Html.IdFor(m=>m.StartTimeMinutes)"
                                                    name="@Html.IdFor(m=>m.StartTimeMinutes)"
                                                    class="dropDown dropDown--mdTime"
                                                    style="width:100%;"
                                                    data-type="timeSelector-minutes">

                                                @for (var i = Model.MinutesFrom; i <= Model.MinutesTo; i++)
                                                {
                                                    <option value="@i.ToString("D2")" @(i == Model.StartTimeMinutes ? " selected" : "")>@i.ToString("D2")</option>
                                                }

                                            </select>
                                        </div>
                                        @if (Model.Is12HoursFormat)
                                        {
                                        <div class="TimeSelector__Item TimeSelector__Item--ampm">
                                            <select id="@Html.IdFor(m => m.StartTimeAMPM)"
                                                    name="@Html.IdFor(m => m.StartTimeAMPM)"
                                                    class="dropDown dropDown--mdTime"
                                                    style="width:100%;"
                                                    data-type="timeSelector-ampm">
                                                <option value="AM" @("AM" == Model.StartTimeAMPM ? " selected" : "")>AM</option>
                                                <option value="PM" @("PM" == Model.StartTimeAMPM ? " selected" : "")>PM</option>
                                            </select>
                                        </div>
                                        }
                                    </div>
                                    <div class="TimeSelector__Errors">
                                        @Html.ValidationMessageFor(model => model.StartTimeHour)
                                        @Html.ValidationMessageFor(model => model.StartTimeMinutes)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="small-block">
                            <div class="editor-label editor-label-required">
                                @Html.LabelFor(m => m.TimeZone)
                            </div>
                            <div class="editor-field timepicker">
                                <select class="dropDown dropDown--md" id="@Html.IdFor(m=>m.TimeZoneName)" name="@Html.IdFor(m=>m.TimeZoneName)" style="width:100%;">
                                    @if (Model.TimeZoneList != null)
                                    {
                                    foreach (var timezone in Model.TimeZoneList)
                                    {
                                        <option value="@timezone.Value" offset="@timezone.Offset">@timezone.Text</option>
                                    }
                                    }

                                </select>

                                @Html.HiddenFor(m => m.TimeZone)
                            </div>
                        </div>
                        <div class="small-block custom-points-block">
                            <div class="enable-custom-points">
                                <div class="editor-label">
                                    <label>
                                        @LocView.getLocalization("Auto_Start_Settings")<span class="info-icon tooltip-dark-interactive" data-tooltip-content="#tooltip_auto_start_info">></span>
                                        <div class="hidden">
                                            <div id="tooltip_auto_start_info">
                                                <div>@LocView.getLocalization("AutoStartInfo")</div>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                                <div class="editor-field radios">
                                    <input type="radio" class="radio" id="radio-auto-started-yes" name="IsAutoStarted" value="true" checked="@(Model.IsAutoStarted)" />
                                    <label for="radio-auto-started-yes">@LocView.getLocalization("Yes")</label>

                                    <input type="radio" class="radio" id="radio-auto-started-no" name="IsAutoStarted" value="false" checked="@(!Model.IsAutoStarted)" />
                                    <label for="radio-auto-started-no">@LocView.getLocalization("No")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="three-columns-small">

                        <div class="small-block custom-time-block">
                            <div class="enable-custom-time-for-answer">
                                <div class="editor-label">
                                    <label>
                                        @LocView.getLocalization("Custom_Time_Settings") <span class="info-icon tooltip-dark-interactive" data-tooltip-content="#tooltip_custom_time_info">></span>
                                        <div class="hidden">
                                            <div id="tooltip_custom_time_info">
                                                <div>@LocView.getLocalization("Is_Custom_Time_For_Answer_Info")</div>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                                <div class="editor-field radios">
                                    <input type="radio" class="radio" id="radio-time-yes" name="@Html.NameFor(m=>m.IsCustomTimeForAnswer)" value="true" checked="@isCustomTimeForAnswerEnabled.Equals(true)" onchange="Controls.OnCheckCustomSettingsValue()" />
                                    <label for="radio-time-yes">@LocView.getLocalization("Yes")</label>

                                    <input type="radio" class="radio" id="radio-time-no" name="@Html.NameFor(m=>m.IsCustomTimeForAnswer)" value="false" checked="@isCustomTimeForAnswerEnabled.Equals(false)" onchange="Controls.OnCheckCustomSettingsValue()" />
                                    <label for="radio-time-no">@LocView.getLocalization("No")</label>
                                </div>
                            </div>
                        </div>
                        <div class="small-block">
                            <div class="editor-label editor-label-required">
                                @Html.LabelFor(m => m.SecondsForAnswer)

                                <span class="info-icon tooltip-dark-interactive" data-tooltip-content="#tooltip_seconds_for_answer_info">></span>
                                <div class="hidden">
                                    <div id="tooltip_seconds_for_answer_info">
                                        <div>@LocView.getLocalization("Seconds_For_Answer_Info")</div>
                                    </div>
                                </div>

                            </div>
                            <div class="editor-field">
                                <span class="field-validation-valid">@LocView.getLocalization("RequiredField")</span>
                                @Html.TextBoxFor(model => model.SecondsForAnswer, new { type = "number", maxlength = 4, @class = "text-box single-line", timeinput = "true" })
                                <div class="content-for-input"></div>
                                @Html.ValidationMessageFor(model => model.SecondsForAnswer)
                            </div>
                        </div>
                        <div class="small-block">
                            <div class="editor-label editor-label-required">
                                @Html.LabelFor(m => m.RestingTime)

                                <span class="info-icon tooltip-dark-interactive" data-tooltip-content="#tooltip_seconds_for_review_info">></span>
                                <div class="hidden">
                                    <div id="tooltip_seconds_for_review_info">
                                        <div>@LocView.getLocalization("Seconds_For_Review_Info")</div>
                                    </div>
                                </div>

                        </div>
                        <div class="editor-field">
                            <span class="field-validation-valid">@LocView.getLocalization("RequiredField")</span>
                            @Html.TextBoxFor(model => model.RestingTime, new { type = "number", maxlength = 4, @class = "text-box single-line", timeinput = "true" })
                            <div class="content-for-input"></div>
                            @Html.ValidationMessageFor(model => model.RestingTime)
                        </div>
                    </div>
                </div>
                @if (Model.Type == QuizType.Quiz)
                {
                    <div class="one-column">
                        <div class="enable-custom-points">
                            <div class="editor-label">
                                <label>
                                    @LocView.getLocalization("Custom_Score_Settings") <span class="info-icon tooltip-dark-interactive" data-tooltip-content="#tooltip_score_info">></span>
                                    <div class="hidden">
                                        <div id="tooltip_score_info">
                                            <div>@LocView.getLocalization("ScoreInfo")</div>
                                            <div>
                                                <a href="#" class="learn-more-link">
                                                    @LocView.getLocalization("LearnMore")
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                            <div class="editor-field radios">
                                <input type="radio" class="radio" id="radio-points-yes" name="CustomPoints" value="true" checked="@isCustomPointsEnabled.Equals(true)" onchange="Controls.OnCheckCustomSettingsValue()" />
                                <label for="radio-points-yes">@LocView.getLocalization("Yes")</label>

                                <input type="radio" class="radio" id="radio-points-no" name="CustomPoints" value="false" checked="@isCustomPointsEnabled.Equals(false)" onchange="Controls.OnCheckCustomSettingsValue()" />
                                <label for="radio-points-no">@LocView.getLocalization("No")</label>
                            </div>
                        </div>
                    </div>
                    <div class="two-columns-medium">
                        <div class="one-column quiz-winners-settings--container">
                            <div class="enable-winner-places-for-quiz">
                                <div class="editor-label">
                                    <label>
                                        @LocView.getLocalization("Quiz_Winner_Prize_Settings") <span class="info-icon tooltip-dark-interactive" data-tooltip-content="#tooltip_quiz_winner_code_enabled_info">></span>
                                    <div class="hidden">
                                        <div id="tooltip_quiz_winner_code_enabled_info">
                                            <div>@LocView.getLocalization("Is_Quiz_Winner_Code_Enabled_Info")</div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                            <div class="editor-field radios">
                                <input type="radio" class="radio" id="radio-place-yes" name="@Html.NameFor(m=>m.IsQuizWinnerCodeEnabled)" value="true" checked="@isQuizWinnerCodeEnabled.Equals(true)" onchange="Controls.onCheckWinnerCodeValue()" />
                                <label for="radio-place-yes">@LocView.getLocalization("Yes")</label>

                                        <input type="radio" class="radio" id="radio-place-no" name="@Html.NameFor(m=>m.IsQuizWinnerCodeEnabled)" value="false" checked="@isQuizWinnerCodeEnabled.Equals(false)" onchange="Controls.onCheckWinnerCodeValue()" />
                                        <label for="radio-place-no">@LocView.getLocalization("No")</label>
                                    </div>
                                </div>
                            </div>

                            <div class="one-column quiz-winners-place--container">

                                <div class="editor-label editor-label-required">
                                    <label>@LocView.getLocalization("Quiz_Winners_Secret_Code")</label>
                                </div>

                                @if (Model.QuizWinnerCodes != null && Model.QuizWinnerCodes.Any())
                                {
                                    @Html.EditorFor(model => model.QuizWinnerCodes)
                                }
                                else
                                {
                                    Html.RenderAction("QuizWinnerCodeBlank", "Lectures", new { placeCount = 0, htmlPrefix = Html.NameFor(m => m.QuizWinnerCodes) });
                                }

                                <div class="quiz-speaker-contact-info">
                                    <div class="editor-label editor-label-required">
                                        <label>@LocView.getLocalization("Quiz_Speaker_Contact_Info")</label>
                                    </div>

                                    <div class="small-block--place">
                                        <p>@Html.LabelFor(m => m.ContactEmail)</p>
                                    </div>

                                    <div class="small-block--code">
                                        <div class="editor-field">
                                            <span class="field-validation-valid">@LocView.getLocalization("RequiredField")</span>
                                            @Html.TextBoxFor(model => model.ContactEmail, new { type = "text", maxlength = 256, @class = "text-box single-line", timeinput = "false" })
                                            @Html.ValidationMessageFor(model => model.ContactEmail)
                                        </div>
                                    </div>

                                    <div class="small-block--place">
                                        <p>@Html.LabelFor(m => m.ContactPhone)</p>
                                    </div>

                                    <div class="small-block--code">
                                        <div class="editor-field">
                                            <span class="field-validation-valid">@LocView.getLocalization("RequiredField")</span>
                                            @Html.TextBoxFor(model => model.ContactPhone, new { type = "tel", maxlength = 30, @class = "text-box single-line", timeinput = "false" })
                                            @Html.ValidationMessageFor(model => model.ContactPhone)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="subentities-list-addbutton-container">
                                <div>
                                    <a href="#" @Html.Raw(currentPlacesCount < maxPlacesCount ? "" : "style=\"display:none;\"") onclick="addWinnerPlace(this, '@Html.NameFor(m=>m.QuizWinnerCodes)', @maxPlacesCount); return false;">
                                        @LocView.getLocalization("Add_Prize")
                                    </a>
                                </div>
                            </div>

                        </div>
                    }

                    <div class="one-column-big mobile">
                        <div class="wide-block">
                            <div class="editor-label">
                                @Html.LabelFor(m => m.Code)
                            </div>
                            <div class="editor-field code datepicker">
                                @Html.DisplayFor(m => m.Code)
                            </div>
                        </div>
                    </div>

                    <div class="image-block mobile">
                        <div class="editor-field  editor-field-file linkedEditorFor">
                            @Html.EditorFor(model => model.Image, "QuizImage")
                        </div>
                        <div class="error-block-container">
                            <div class="error-block">
                                <span id="mobile-lblFileSizeError" class="file-size-error">@LocView.getLocalization("File_size_error")</span>
                                <span id="mobile-lblFileTypeError" class="file-type-error">@LocView.getLocalization("File_type_error")</span>
                                <span id="mobile-lblFileRacyError" class="file-racy-error">@LocView.getLocalization("Not_Allowed_Content")</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        @if (Model.IsPromoEnabled)
        {
            Html.RenderPartial("PromoQuiz", Model);
        }
        @if (Model.AllowLimitUserProviders)
        {
            Html.RenderPartial("QuizUserProviders", Model);
        }
        @if (Model.PlanYoutubeLiveStreamingEnabled)
        {
           Html.RenderPartial("QuizYoutubeLiveStreaming", Model);
        }
    </div>
</div>
<script>
    $("#CDate").keypress(function (key) {
        return false;
    });


    function hideConfirm() {
        $('#popup-wrap ~ table').animate({ 'top': '-520%' }).fadeOut().unbind("click", hideConfirm);
        $('#popup-wrap ~ table').hide();
        $('#popup-wrap').hide();
    }

    function showConfirm() {
        setTimeout(function () {
            $('#popup-wrap ~ table').attr('style', 'display:table !important');
            $('#popup-wrap ~ table').show().animate({ 'top': '0%' }).click(hideConfirm);
            $('#popup-wrap').show();
            $('#btnCancelLeave').focus();
        });
    }

    function showSettingsDescriptionPopup(element) {
        var isiPhone = /iphone/i.test(navigator.userAgent.toLowerCase());
        var isiPod = /ipod/i.test(navigator.userAgent.toLowerCase());

        if (isiPhone || isiPod) {
            $('.info-popup').find('td').addClass('ios');
        }

        $('.info-popup').removeClass('close');
        $(document.body).addClass('fixed');
        return false;
    }

    function hideSettingsDescriptionPopup(element) {
        $(element).closest('.info-popup').addClass('close');
        $(document.body).removeClass('fixed');
        return false;
    }

    $('.learn-more-link').on('click', function () {
        showSettingsDescriptionPopup($(this));
        return false;
    });

    function providerSelectionChanged(elementId) {
        var $currentElement = $(event.target);

        tempUserRegistrationChanged(elementId);
        providerQuizRequirementsChanged($currentElement);
    }

    function providerQuizRequirementsChanged(element) {
        if (element.is(':checked')) {
            $('#' + element.attr('id') + '_block').show();
        }
        else {
            $('#' + element.attr('id') + '_block').hide();
        }
    }

    function tempUserRegistrationChanged(elementId) {
        var $currentElement = $(event.target);
        var $checkboxAreaElement = $('#' + elementId);
        console.log($checkboxAreaElement);
        if ($currentElement.is(':checked')) {
            $checkboxAreaElement.css('visibility', 'visible');
        }
        else {
            $checkboxAreaElement.css('visibility', 'hidden');
        }
    }
</script>

