﻿@model WaveAccess.MyQuiz.WebUI.Models.QuizWinnerCodeViewModel

<div class="quiz-winners-place--item">
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Place)
    @if (Model.Place != 1)
    {
        <div class="toggleButton--remove-button">
            <div class="entity-item-remove-button" onclick="removeWinnerPlace(this);return false;">
                <a href="#"></a>
            </div>
        </div>
    }

    <div class="small-block--place">
        <p>@LocView.getLocalization(Model.Place.ToString()) <sup><small>@LocView.getLocalization("Sup_For_" + Model.Place)</small></sup> @LocView.getLocalization("Place").ToLower()</p>
    </div>

    <div class="small-block--code">
        <div class="editor-field">
            <span class="field-validation-valid">@LocView.getLocalization("RequiredField")</span>
            @Html.TextBoxFor(model => model.Code, new {type = "text", maxlength = 30, @class = "text-box single-line", timeinput = "false"})
            @Html.ValidationMessageFor(model => model.Code)
        </div>
    </div>
</div>