﻿@model WaveAccess.MyQuiz.Model.Image
@using WaveAccess.MyQuiz.WebUI.Helpers

@{
    var oldPref = ViewData.TemplateInfo.HtmlFieldPrefix;
    var hiddenFieldName = Html.NameForModel();
    bool isEmpty = WaveAccess.MyQuiz.Model.Image.IsEmptyOrNull(Model);

}
@if (!isEmpty)
{
    <div class="file-input-wrap" style="height: 100%;">
        <div class="logo-container image-container">
            
            <div onclick="$('#ImageMobileInput').click();return false;" style="height: 100%;">
                
                <div class="cssload-container quiz">
                    <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
                </div>

                <div class="the-logo" style="background-image: url(@Url.StorageImage(Model, "500"));"></div>
                <div class="the-logo--upload-text">
                    <div style="padding-top: 20px; left: 0px; text-align: center; color: #FFFFFF; line-height: 25px;">
                        @LocView.getLocalization("drop_image_here_mobile")
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="logo-container no-image image-container">

        <div onclick="$('#ImageMobileInput').click();return false;">
            
            <div class="cssload-container quiz">
                <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
            </div>

            <div id="no-image-bg" class="the-logo"></div>
            <div class="the-logo--upload-text">
                <div style="padding-top: 20px; left: 0px; text-align: center; color: #FFFFFF; line-height: 25px;">@LocView.getLocalization("drop_image_here_mobile")</div>
            </div>
        </div>
    </div>
}

<input type="file" style="display: none;" onchange="Controls.onQuizImageSelected(this, null, 'ImageMobileInput', false, '@LocView.getLocalization("Uploading")', '@LocView.getLocalization("drop_image_here_mobile")')" class="image-uploader-input ignore_validation" id="ImageMobileInput" name="ImageMobileInput">

@{
    ViewData.TemplateInfo.HtmlFieldPrefix = oldPref;
}

@if (Model != null && Model.Id != 0)
{
    @Html.DisplayFor(m => m)
}



