﻿@model WaveAccess.MyQuiz.Model.Image
@using WaveAccess.MyQuiz.WebUI.Helpers

@{ 
    var hiddenFieldName = Html.NameForModel();
    bool isEmpty = WaveAccess.MyQuiz.Model.Image.IsEmptyOrNull(Model);

    var useForIntroduceYourselfPage = (bool)(ViewData["useForIntroduceYourselfPage"] ?? false);
    
}
<div  onclick="$('#upload_@Html.IdForModel()').click(); return false;" class="logo-container image-container">
    <div class="the-logo"
         style="background-image: url('@Url.StorageImage(Model, "500", useForIntroduceYourselfPage ? "/Images/avatar.svg" : "/Images/Add Photo.png"))')">
    </div>
</div>
<div class="file-input-wrap">
    <div class="imageUplodBtn" onclick="$('#upload_@Html.IdForModel()').click(); return false;">
        <span class="imageUplodBtn-icon"></span>
        <span class="imageUplodBtn-text">@LocView.getLocalization("Profile_photo")</span>
    </div>

    <input type="file" style="display: none;" onchange="Controls.onImageSelectedWithProgressBar(this, null, '@hiddenFieldName', false, '@LocView.getLocalization("Uploading")')" class="image-uploader-input ignore_validation" id="upload_@Html.IdForModel()" name="upload_@Html.NameForModel()" accept="image/*">
</div>

<div class="progress">
    <div class="bar" style="background: #3289bc; padding: 5px; border-radius: 5px; margin: 10px 0 0px 0; width: 0px; max-width: 100%; opacity: 0;">
        <div class="percent"></div>
    </div>
</div>

<div id="status"></div>

<input type="button" value="@LocView.getLocalization("RotateLeft")" onclick="Controls.onImageRotate(300, false, false)" class="btnRotate rotate-left" disabled="disabled"/>
<input type="button" value="@LocView.getLocalization("RotateRight")" onclick="Controls.onImageRotate(300, true, false)" class="btnRotate rotate-right" disabled="disabled" />

@if(Model != null && Model.Id != 0)
{ 
    @Html.DisplayFor(m => m)
}