﻿@model WaveAccess.MyQuiz.Model.Session
@using WaveAccess.MyQuiz.WebUI.Helpers

<div class="convergence-goals-container">
      
        <div class="header">            
            <div class="toggleButton">
                <div class="entity-item-remove-button" onclick="return Controls.onEntityItemRemoveButton(this)">
                    <a href="#" style="display:none;"></a>
                </div>
                <div class="toggleButton-title">
                    <a title="@Html.DisplayFor(model => model.Name)">@Html.DisplayFor(model => model.Name)</a>
                </div>
                <div class="toggleButton-button" onclick="return Controls.onToggleContainerButton(this, '@Html.NameFor(model => model.Description)')">
                    <a href="#" class="toggleButton-button-opened"></a>
                </div>
            </div>
        </div>

        <div class="body">
    
            <div class="two-columns-medium">
                <div class="left-column-medium">
                    @Html.UniqueHiddenIndexer()
                    @Html.HiddenFor(model => model.Id)
                    <div class="editor-label editor-label-required">
                        @LocView.getLocalization("Name")
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name,"")
                    </div>  
                    <div class="editor-label editor-label-required">
                        @LocView.getLocalization("Start_Time")
                    </div>
                    <div class="editor-field timepicker">
                        @Html.EditorFor(model => model.CStartTime)
                        @Html.ValidationMessageFor(model => model.CStartTime)
                    </div>    
                    <div class="editor-label ">
                        @LocView.getLocalization("Description")
                    </div>
                    <div class="editor-field editor-textarea">
                        @Html.TextAreaFor(model => model.Description, new { rows = 3 })
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                    
                </div>
                <div class="right-column-medium">
                    <div class="editor-label editor-label-required">
                        @LocView.getLocalization("Date")
                    </div>
                    <div class="editor-field datepicker">
                        @Html.EditorFor(model => model.CDate)
                        @Html.ValidationMessageFor(model => model.CDate)
                    </div>    
                    <div class="editor-label editor-label-required">
                        @LocView.getLocalization("End_Time")
                    </div>
                    <div class="editor-field  timepicker">
                        @Html.EditorFor(model => model.CEndTime)
                        @Html.ValidationMessageFor(model => model.CEndTime)
                    </div>    
                    <div class="editor-label editor-label-required">
                        @LocView.getLocalization("Place")
                    </div>
                    <div class="editor-field field-select">
                        @Html.EditorFor(model => model.Place)
                        @Html.ValidationMessageFor(model => model.Place)
                    </div>    
                </div>
                

            </div>
            <div class="editor-subsection">
                <div class="left-column-medium">
                    <div class="editor-label">
                        @LocView.getLocalization("Speakers")
                    </div>
                    <div class="editor-field field-select">
                        @Html.MultiSelectListFor(model => model.Speakers, Model.SelectListSpeakers)
                        @Html.ValidationMessageFor(model => model.Speakers)
                    </div>    
                </div>
            </div>
            <div class="editor-subsection">
                <div class="left-column-medium">
                    <div class="editor-label">
                        @LocView.getLocalization("Categories")
                    </div>
                    <div class="editor-field field-select">
                        @Html.MultiSelectListFor(model => model.Categories, Model.SelectListCategoruis)
                        @Html.ValidationMessageFor(model => model.Categories)
                    </div>    
                </div>
            </div>

        </div>

    </div>
     
