﻿@model WaveAccess.MyQuiz.Model.SolvedProblem
@using WaveAccess.MyQuiz.WebUI.Helpers
<div class="subentity-list-item">
    <div class="header">            
            <div class="toggleButton">
                <div class="entity-item-remove-button" onclick="return Controls.onEntityItemRemoveButton(this)">
                    <a href="#" style="display:none;"></a>
                </div>
                <div class="toggleButton-title">
                    <a title="@Html.DisplayFor(model => model.Type.FullName)">@Html.DisplayFor(model => model.Type.FullName)</a>
                </div>
                <div class="toggleButton-button" onclick="return Controls.onToggleContainerButton(this, '@Html.NameFor(model => model.Type.FullName)')">
                    <a href="#" class="toggleButton-button-opened"></a>
                </div>
            </div>
        </div>

        <div class="body">
            @Html.UniqueHiddenIndexer()
            @Html.HiddenFor(model => model.Id)
            <div class="editor-label editor-label-required">
                @LocView.getLocalization("Short_Description")
            </div>
            <div class="editor-field editor-textarea">
                @Html.TextAreaFor(model => model.ShortDescription, new { rows=3 })
                @Html.ValidationMessageFor(model => model.ShortDescription)
            </div>

            <div class="editor-label">
                @LocView.getLocalization("Long_Description")
            </div>
            <div class="editor-field editor-textarea">
                @Html.TextAreaFor(model => model.LongDescription, new { rows=6 })
                @Html.ValidationMessageFor(model => model.LongDescription)
            </div>

            <div class="editor-label editor-label-required">
                @LocView.getLocalization("Solution")
            </div>
            <div class="editor-field editor-textarea">
                @Html.TextAreaFor(model => model.Solution, new { rows=6 })
                @Html.ValidationMessageFor(model => model.Solution)
            </div>

            <div class="editor-label">
                @LocView.getLocalization("Type")
            </div>
            <div class="editor-field field-select">
                @Html.SelectListFor(model => model.Type, Model.SelectListTypes)
                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>
</div>
     
