﻿@model WaveAccess.MyQuiz.WebUI.Models.UserViewModel

<link rel="stylesheet" href="~/Content/main/common.css" />
<div class="profile-container">
    @if (ViewBag.Moderation == true)
    {
        <div class="breadcrumb centered">
            <a onclick="history.back();" style="padding-left: 15px;cursor: pointer; color: #efa923;">@LocView.getLocalization("ModerationList") </a> <span> ❯ @LocView.getLocalization("EditProfile") @Model.FullName</span>
        </div>
    }
    <div>
        <div class="two-columns" style="display: table-cell;vertical-align: middle;">
            <div class="left-column desktop">
                @Html.HiddenFor(m => m.CanChangePassword)
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.IsGamer)
                @Html.HiddenFor(m => m.AllowFullName)
                @Html.EditorFor(m => m.Photo, "ProfilePhoto")
                @*                <input type="hidden" value="@(Model.Photo != null ? Model.Photo.Id : 0)" name="@Html.NameFor(m => m.Photo.Id)" id="@Html.IdFor(m => m.Photo.Id)" />*@
                @Html.HiddenFor(m=> m.Photo.Id, new {id = "photo-id"})
                @Html.HiddenFor(m=> m.Photo.IsDownloadedToStorage, new {id="is-photo-downloaded"})
                @Html.HiddenFor(m=> m.Photo.StorageId, new {id = "image-storage-id"})
                @Html.HiddenFor(m=> m.Photo.StorageAccountName, new {id = "storage-account-name"})
                @Html.HiddenFor(m=> m.IsPhotoChanged, new {id="is-photo-changed"})

                @Html.HiddenFor(m => m.Photo.InternalPath)
                @Html.HiddenFor(m => m.Photo.DisplayName)
                <div class="error-block-container">
                    <div class="error-block">
                        <span id="desktop-lblFileSizeError" class="file-size-error">@LocView.getLocalization("File_size_error")</span>
                        <span id="desktop-lblFileRacyError" class="file-racy-error">@LocView.getLocalization("Not_Allowed_Content")</span>
                    </div>
                </div>
            </div>
            <div class="right-column">
                <div id="login-form-container">
                    <div class="sign-in-form clearfix" style="float: left;">
                        <div class="sign-in-form-line" style="text-align: left; margin-bottom: 20px !important;">
                            <span class="mobile" onclick="window.history.back();" style="width: 20px; height: 20px; margin-right: 10px; background-image: url(/Images/back-button.png); background-size: 100% 100%; float: left; margin-top: 3px;"></span>
                            <span style="font-size: 24px; color: #efa923">@LocView.getLocalization("My_Profile")</span>
                        </div>
                        <div id="YouWillBeAbleToUpdateYourProfile" style="color: red;text-align: left;padding-bottom: 19px; display:none;">
                            @LocView.getLocalization("YouWillBeAbleToUpdateYourProfile")
                        </div>
                        @if (Model.AllowFullName)
                        {
                            <div class="sign-in-form-line">
                                @Html.LabelFor(m => m.FirstName)
                                @Html.TextBoxFor(m => m.FirstName, "", new { @class = "required", data_val_required = LocView.getLocalization("RequiredField") })
                                @Html.ValidationMessageFor(model => model.FirstName)
                            </div>
                            <div class="sign-in-form-line">
                                @Html.LabelFor(m => m.LastName)
                                @Html.TextBoxFor(m => m.LastName, "", new { @class = "required", data_val_required = LocView.getLocalization("RequiredField") })
                                @Html.ValidationMessageFor(model => model.LastName)
                            </div>
                        }

                        <div class="sign-in-form-line">
                            @Html.LabelFor(m => m.Nickname)
                            @(!Model.AllowFullName ?
                                Html.TextBoxFor(m => m.Nickname, "", new { @class = "required", data_val_required = LocView.getLocalization("RequiredField") }) : Html.TextBoxFor(m => m.Nickname, ""))
                            @Html.ValidationMessageFor(model => model.Nickname)
                        </div>
                        @if (Model.AllowFullName)
                        {
                            <div class="sign-in-form-line">
                                <label>@LocView.getLocalization("Company")</label>
                                @Html.TextBoxFor(m => m.CompanyName, "", new { data_val = "true"})
                                @Html.ValidationMessageFor(model => model.CompanyName)
                            </div>
                        }
                        @if (Model.IsGamer)
                        {
                            @Html.HiddenFor(m => m.Email)
                        }
                        else
                        {
                            <div class="sign-in-form-line">
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, "", new { disabled = "disabled" })
                                @Html.ValidationMessageFor(m => m.Email)
                                @Html.HiddenFor(m => m.Email)
                            </div>
                        }
                        @if (AuthHelper.IsAdmin)
                        {
                            <div class="sign-in-form-line">
                                @Html.LabelFor(m => m.MaxAnswersCount)
                                @Html.TextBoxFor(m => m.MaxAnswersCount)
                                @Html.ValidationMessageFor(model => model.MaxAnswersCount)
                            </div>
                            if (!Model.IsGamer)
                            {
                                <div class="sign-in-form-line">
                                    <select id="@Html.IdFor(m => m.PlanId)"
                                            name="@Html.NameFor(m => m.PlanId)">
                                        @foreach (var plan in Model.Plans)
                                        {
                                            <option value="@plan.Id" @(plan.Id == Model.PlanId ? " selected" : "")>@plan.Name</option>
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(model => model.PlanId)
                                </div>
                            }
                        }
                        <div class="sign-in-form-line logo-container" id="mobile-profile">
                            @Html.EditorFor(m => m.Photo, "ProfilePhoto")
                        </div>
                        <div class="error-block-container">
                            <div class="error-block">
                                <span id="mobile-lblFileSizeError" class="file-size-error">@LocView.getLocalization("File_size_error")</span>
                                <span id="mobile-lblFileRacyError" class="file-racy-error">@LocView.getLocalization("Not_Allowed_Content")</span>
                            </div>
                        </div>
                        <div class="sign-in-form-footer">
                            <table>
                                <tr>

                                    @if (Model.CanChangePassword)
                                    {
                                        <td style="width: 50%; vertical-align: middle; padding: 0 3px 0 0; height: 45px;">
                                            <button class="basicButton basicButton--add basicButton--stretch"
                                                    onclick="window.location='@Url.Action(AuthHelper.IsAdmin ? "SetNewPassword" : "ChangePassword", "Account", new { id = Model.Id })';return false">
                                                <span>@LocView.getLocalization("Change_password")</span>
                                            </button>
                                        </td>
                                    }
                                    <td style="width: 50%; vertical-align: middle; padding: 0; height: 45px;">
                                        <button tabindex="1"
                                                class="basicButton basicButton--save basicButton--stretch"
                                                id="saveProfile"
                                                name="userAction"
                                                value="saveProfile">
                                            @LocView.getLocalization("Save_Profile")
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <h1 id="result-message"></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            if ($('.sign-in-form-footer td').length === 1) {
                $('.sign-in-form-footer td').css('padding', '0');
            }

            $('#CompanyName').rules('add', {
                required: false
            });
        });

        //$('#saveProfile').click(function () {
        //    if ($('form:last').valid())
        //        return true;
        //    else
        //        return false;
        //});


    </script>

    @if (ViewBag.ReadOnly != null && ViewBag.ReadOnly == true)
    {
        <script>
            $('input').attr('disabled', 'disabled');
            $('#YouWillBeAbleToUpdateYourProfile').show();
            $('button').attr('disabled', 'disabled');
        </script>
    }
}
