﻿@import "../../variables.scss";
@import "../../../../node_modules/perfect-scrollbar/css/perfect-scrollbar";

.chatBlock {
    display: none;
    flex-grow: 1;
    flex-flow: column;
    font-size: 14 * $px;
    background-color: #fff;
    position: fixed;
    border: solid 1px #DEDFE2;
    border-radius: 5px;
    width: 300 * $px;
    z-index: 1005;
    right: 0px;
    bottom: 0px;

    @media(max-width: $screen-xs-max) {
        position: fixed;
        border: none;
        border-radius: initial;
        top: 0px;
        bottom: 0px;
        background: #fff;
        width: 100%;
        height: 100%;
        height: auto;
        left: 0;
    }

    &__HeaderBlock {
        background-color: #5B6EC3;
        display: flex;
        flex-grow: 0;
        padding-left: 10 * $px;
        padding-right: 10 * $px;
        min-height: 68 * $px;
        color: white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        @media(max-width: $screen-xs-max) {
            border-radius: initial;
            background-color:#fff;
            color:#383838;
        }
    }

    &__MessagesBlock {
        position: relative;
        display: flex;
        flex-flow: column;
        flex-grow: 1;
    }

    &__MessagesContainer {
        position: relative;
        overflow-x: hidden;
        padding: 10 * $px;
        height: 300 * $px;

        & > .ps__rail-x,
        & > .ps__rail-y {
            opacity: 0.6;
        }



        @media(max-width: $screen-xs-max) {
            height: auto;
        }
    }

    &__MessagesContent {
    }

    &__MessagesPlaceHolder {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url('/app/images/game/chat/empty_bg.png');
        background-position: 50%;
        background-repeat: no-repeat;
    }


    &__SendBlock {
        display: flex;
        flex-grow: 0;
        border-top: solid 1px #ECEDEE;
        max-height: 200 * $px;
        min-height: 65 * $px;
    }
}

.chatHeaderBlock {
    display: flex;
    flex-flow: row;
    align-items: center;
    flex-grow: 1;

    &__UserFoto {
        display: flex;
        width: 40 * $px;
        height: 40 * $px;
        border-radius: 50%;
        border: solid 1px #DEDFE2;
        background-color: #fff;
        background-size: cover;
        background-position: 50%;
        margin-right: 5 * $px;
    }

    &__TextBlock {
        display: flex;
        flex-grow: 1;
    }

    &__CloseBlock {
        display: flex;
        text-align: right;

        & > a {
            color: #fff;

            &:hover {
                text-decoration: none;
            }
        }

        @media(max-width: $screen-xs-max) {
            & > a {
                color: #383838;

                &:hover {
                    color: #777;
                }
            }
        }
    }
}

.chatSendBlock {
    display: flex;
    flex-flow: row;
    width: 100%;

    &__InputBlock {
        flex-grow: 1;
        position: relative;
        overflow-x: hidden;
    }

    &__ButtonBlock {
        flex-grow: 0;
        flex-flow: column;
        align-self: flex-end;
        margin-left: 5 * $px;
        margin-right: 5 * $px;
        margin-bottom: 10 * $px;
        font-size:24 * $px;

        & > a {
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__Message {
        width: 100%;
        resize: none;
        border: 0;
        padding: 10 * $px 20 * $px;
        margin-top: 1 * $px;
        margin-left: 1 * $px;
        margin-bottom: 5 * $px;
        overflow:hidden;


        &:focus {
            outline: none;
        }

        &::placeholder {
            color: #A6A6A6;
        }
    }
}

.chatMessage {
    background-color: #F3F6FD;
    border-radius: 5*$px;
    margin-bottom: 10*$px;
    padding: 10 * $px;

    &__Text {
        word-wrap: break-word;
        white-space: pre-wrap;
    }

    &__DateTime {
        font-size: 12 * $px;
        margin-top: 5 * $px;
        color: #acacac;
    }
}

.chatIcon {
    &--desktop {
        @media(max-width: $screen-xs-max) {
            display: none;
        }

        position: fixed;
        right: 10 * $px;
        bottom: 10 *$px;
        background-image: url('/app/images/game/chat/chat_icon.desktop.blue.png');
        width: 72 * $px;
        height: 72 * $px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1000;
        cursor: pointer;
        transition: ease 200ms;


        &:hover {
            transform: scale(1.2);
        }
    }

    &--mobile {
        background-image: url('/app/images/game/chat/chat_icon.mobile.v2.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 20 * $px;
        height: 18 * $px;
    }
}

.chatNotificationsBoxDesktop {
    position: absolute;
    left: 0;
    right: 0;

    @media (max-width: $screen-xs-max) {
        display:none;
    }

    &--wait {
        top: -10 * $px;
    }

    &--questions {
        top: 45 * $px;
    }

    &--leaders {
        top: -25 * $px;
    }

    &__Content {
        position: relative;
    }
}

.chatNotification {
    display: flex;
    flex-flow: row;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EDEEF3;
    padding: 10* $px;
    border-radius: 4px;
    margin-bottom: 0;

    @media(max-width: $screen-xs-max) {
        background-color: #E2E9F9;
        bottom: auto;
        border-radius: 0;
        padding: 20*$px 12 * $px 20*$px 10*$px;
        box-shadow: rgba(223, 225, 227, 0.7) 0px 2px 1px;
        font-size: 12 *$px;
    }

    &:hover {
        opacity: 1;
    }


    &__UserFotoCol {
        display: flex;
        flex-grow: 0;
        margin-right: 10*$px;
    }

    &__UserFoto {
        display: inline-block;
        width: 30 * $px;
        height: 30 * $px;
        border-radius: 50%;
        background-color: #dddee2;
        background-size: cover;
        background-position:50%;

        @media (max-width: $screen-xs-max) {
            width: 35 * $px;
            height: 35 * $px;
        }
    }

    &__TextDataCol {
        display: flex;
        flex-flow: row;
        flex-grow: 1;
        word-wrap: break-word;
        overflow: hidden;

        @media (max-width: $screen-xs-max) {
            flex-flow: column;
        }
    }

    &__UserNameCol {
        margin-right: 10*$px;
    }

    &__UserName {
        color: #5B6EC3;
        font-weight: $font_weight_bold;
    }

    &__TextCol {
    }

    &__Text {
        word-wrap: break-word;
        white-space: pre-wrap;
        overflow: hidden;
    }

    &__CloseBlock {

        & a {
            text-decoration: none;
        }
    }
}