﻿@using WaveAccess.MyQuiz.WebUI.app.game.elements.chatBlock
@model ChatBlock
@{ 
    string userPhotoUrl = Url.StorageImage(Model.Owner.Image, "81", "/app/images/userprofile/user_photo.png");
}
<div id="@Model.Id" class="chatBlock">
    <div class="chatBlock__HeaderBlock">
        <div class="chatHeaderBlock">
            <div class="chatHeaderBlock__UserFotoBlock">
                <div class="chatHeaderBlock__UserFoto"
                     style="background-image:url('@userPhotoUrl')">
                </div>
            </div>
            <div class="chatHeaderBlock__TextBlock">
                @if (Model.IsOwner)
                {
                    @chatBlock.YourMessages
                }
                else
                {
                    @Model.Owner.DisplayName
                }
            </div>
            <div class="chatHeaderBlock__CloseBlock">
                <a class="icon-close" data-chat-close="true"></a>
            </div>
        </div>
    </div>
    <div class="chatBlock__MessagesBlock">
        <div class="chatBlock__MessagesPlaceHolder" data-chat-messages-placeholder="true">
        </div>
        <div class="chatBlock__MessagesContainer" data-chat-messages-container="true">
            <div class="chatBlock__MessagesContent" data-chat-messages-content="true"></div>
        </div>
    </div>
    <div style="display:none;">
        <div class="chatMessage" data-chat-message-template="true">
            <div class="chatMessage__Text" data-chat-message-text="true"></div>
            <div class="chatMessage__DateTime" data-chat-message-datetime="true"></div>
        </div>
    </div>
    @if (Model.IsSendEnabled)
    {
        <div class="chatBlock__SendBlock">
            <div class="chatSendBlock">
                <div class="chatSendBlock__InputBlock" data-chat-input-block="true">
                    <textarea class="chatSendBlock__Message"
                              contenteditable="true"
                              placeholder="@chatBlock.MessagePlaceHolder"
                              data-chat-input="true"></textarea>
                </div>
                <div class="chatSendBlock__ButtonBlock">
                    <a class="icon-send"
                       data-chat-send="true"></a>
                </div>
            </div>
        </div>
    }
</div>