﻿body {
    background: #fff;
    color: #fff;
}
button::-moz-focus-inner,
	input[type="reset"]::-moz-focus-inner,
	input[type="button"]::-moz-focus-inner,
	input[type="submit"]::-moz-focus-inner,
	input[type="file"] > input[type="button"]::-moz-focus-inner {
		border: none;
		padding:0;
		margin:0;
	}
img {
    max-width: 100%;
    height: auto;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.anotherHeader {
    background: transparent;
}
.width33 {
    width: 33.333%;
    padding: 0 8px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.width66 {
    width:66.666%;
    padding: 0 8px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.darkBlueBg {
    background: #0399bf;
}
.lightBlueBg {
    background: #18b5ea;
}
.orangeBg {
    background: #e99a22;
}
.darkRedBg {
    background: #b11e42;
}
.greenBg {
    background: #7bb942;
}
.calibriLight {
    font-weight: 300;
}
.calibriLightItalic {
    font-style: italic;
}
.wrapper-anotherSkin {
    max-width: 1176px;
    margin: 0 auto;
    position: relative;
}
.topHeaderLine {
    height: 155px;
    padding: 0 8px;
    -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
}
.bottomHeaderLine .wrapper-anotherSkin {
    padding: 0 8px;
    -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
}
.topHeaderLine a.left {
    margin: 35px 0 0 66px;
    width: 28.4%;
}
.topHeaderLine div.right {
    margin: 46px 83px 0 0;
    width: 15.48%;
}
.bottomHeaderLine {
    margin-bottom: 17px;
    position: relative;
    height: 120px;
}
.bottomHeaderLine:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    bottom: 0;
    background: #452359;
    z-index: -1;
}
.bottomHeaderLine:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    bottom: 0;
    background: #682e7b;
    z-index: -1;
}
.bottomHeaderLine .left {
    line-height: 48px;
    font-size: 42px;
    padding:32px 0 0 66px;
    letter-spacing: -2px;
}
.bottomHeaderLine .right {
    padding:29px 71px 0 0;
    width: 35.5%;
}
.quizGameLine > div > div {
    min-height: 337px;
    -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
}
h1 {
    font-size: 49px;
    line-height: 59px;
    letter-spacing: -3px;
    padding-bottom: 15px;
}
h2 {
    font-size: 33px;
    line-height: 34px;
    letter-spacing: -2px;
}
h2 b {
    font-weight: 400;
}
.quizGameLine .darkBlueBg {
    padding: 46px 45px 0 71px;
}
.quizGameLine .width33 {
    position: relative;
}
.collapseFormBtn {
    display: block;
    background: #682e7b;
    cursor: pointer;
    position: absolute;
    right: 22px;
    top: 17px;
    width: 90px;
    height: 33px;
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
}
.collapseFormBtn:hover {
    background: #452359;
}
.withLoginForm:before {
    content: '';
    position: absolute;
    width: 115px;
    height: 117px;
    top: 50px;
    left: 50%;
    margin-left: -58px;
    background: url(themes/base/images/iconsSprite2.png) no-repeat transparent left top;
}
.collapseLoginForm {
    width: 281px;
    padding: 25px 29px 0 20px;
    height: 142px;
    background: #682e7b;
    position: absolute;
    right: 22px;
    top: 50px;
    display: none;
}
.collapseLoginForm input {
    height: 33px;
    display: block;
}
.formLine {
    padding-bottom: 11px;
    position: relative;
}
.loginLine:after {
    content: '';
    position: absolute;
    width: 33px;
    height: 33px;
    top: 0;
    right: 0;
    opacity: 0.7;
    background: url(themes/base/images/iconsSprite2.png) no-repeat transparent -119px -84px;
}
.passLine:after {
    content: '';
    position: absolute;
    width: 26px;
    height: 33px;
    top: 0;
    right: 4px;
    opacity: 0.7;
    background: url(themes/base/images/iconsSprite2.png) no-repeat transparent -185px -84px;
}
.formLine input {
    background: #fff;
    border: none;
    width: 201px;
    padding: 0 10px;
}
.collapseLoginForm input[type="submit"] {
    cursor: pointer;
    text-align: center;
    border: none;
    padding: 0;
    width: 114px;
    margin-top: -1px;
    font-size: 17px;
    line-height: 10px ;
    color: #fff;
    background: rgba(210, 193, 216, 0.4);
}
.collapseLoginForm input[type="submit"]:hover {
    background: rgba(210, 193, 216, 0.8);
}
.withLoginForm p {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    padding: 181px 0 30px 0;
}
.redBtnSkin {
    height: 66px;
    padding-top: 19px;
    width: 165px;
    background: #de043a;
    margin-left: 21px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}
.redBtnSkin.right {
    margin-right: 22px;
    margin-left: 0;
}
.redBtnSkin:hover {
    background: #b11e42;
}
.singleRedBtn {
    width: auto;
    float: none;
    display: block;
    margin: 0 21px;
    line-height: 42px;
}
.coloredShortBoxesLine > .width33 > div {
    height: 100%;
    font-size: 23px;
    line-height: 28px;
    padding: 48px 0 48px 43px;
    font-weight: 300;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.coloredShortBoxesLine {
    margin: 17px 0 50px 0;
    display: table;
    width: 100%;
}
.coloredLongBoxesLine {
    display: table;
}
.coloredShortBoxesLine > div, .coloredLongBoxesLine > div {
    display: table-cell;
    border-left: 8px solid #fff;
    border-right: 8px solid #fff;
}
.quoteLine {
    color: #535147;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    padding-bottom: 52px;
}
.coloredLongBoxesLine > div > div {
    min-height: 474px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: -1px;
    padding: 0 0 0 36px;
}
h4 {
    font-size: 24px;
    line-height: 20px;
    padding: 42px 40px 22px 0;
}
.coloredLongBoxesLine .darkRedBg h4 {
    padding: 51px 40px 42px 0;
}
.coloredLongBoxesLine p {
    padding:0 30px 19px 0;
}
.coloredLongBoxesLine span {
    display: block;
    font-size: 24px;
    line-height: 25px;
    padding:0 40px 19px 0;
}
.coloredLongBoxesLine .greenBg strong {
    font-size: 15px;
}
.textLine {
    color: #535147;
    letter-spacing: -2px;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    padding: 38px 0 59px 0;
}
.textLine span {
    font-size: 46px;
    margin-bottom: 27px;
    display: block;
}
.textLine strong {
    color: #b11e42;
    font-weight: 600;
}
.anotherFooter {
    min-height: 147px;
    padding-bottom: 10px;
    background: #452359;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
}
h5 {
    font-size: 23px;
    line-height: 28px;
    padding-top: 20px;
    padding-bottom: 18px;
}
.anotherFooter p,.anotherFooter h5 {
    padding-left: 62px;
}
.widthTextLine .width33 {
    overflow: hidden;
}
.widthTextLine > div > div {
    min-height: 337px;
    -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
}
.widthTextLine > div.greenBg {
    margin-left: 0;
}
.widthTextLine .orangeBorder, .widthTextLine .orangeBg {
    min-height: 240px;
}
.widthTextLine {
    margin-bottom: 18px;
}
.blueBorder {
    border: 1px solid #0399bf;
    padding: 84px 102px 0 63px;
    color: #0399bf;
}
.greenBorder {
    border: 1px solid #7bb942;
    padding: 54px 0 0 65px;
    color: #7bb942;
}
.widthTextLine .greenBg {
    padding-top: 42px;
}
.widthTextLine .greenBg.withQuestionIcon {
    padding-top: 90px;
}
.greenBg .columnTitle {
    margin: 0 0 13px 0;
    text-align: center;
}
.timerWrap {
    font-weight: 300;
    font-size: 72px;
    line-height: 72px;
    position: relative;
    padding:8px 0 0 0;
    text-align: center;
}
.noItalic {
    font-style: normal !important;
}
.withTimerIcon:before {
    content: '';
    position: absolute;
    width: 59px;
    height: 77px;
    top: 0;
    left: 50%;
    margin-left: -30px;
    background: url(themes/base/images/iconsSprite2.png) no-repeat transparent -185px top;
}
.withTimerIcon {
    padding-top: 96px;
    padding-left: 5px;
    padding-right: 5px;
}

.hours-segment {
    font-size: 60px;
    padding:2px 0 0 105px;
}

.hours-segment:before {
    left: 30px;
}
.greenBorder em {
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    font-style: italic;
    color: #535147;
    display: block;
    padding: 8px 0 22px 0;
}
.greenBorder p {
    font-size: 18px;
    line-height: 22px;
}
.orangeBorder {
    border: 1px solid #e99a22;
    padding: 38px 0 0 45px;
    color: #e99a22;
}
h3 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}
.widthTextLine p {
    color: #535147;
    font-weight: 300;
    font-size: 15px;
}
.blueBorder p {
    line-height: 18px;
    text-align: justify;
    padding-top: 2px;
}
.greenBorder p {
    line-height: 18px;
}
.greenBorder .withNumberList {
    padding-top: 11px;
}
.orangeBorder p {
    line-height: 18px;
}
.withNumberList p {
    position: relative;
    padding-left: 16px;
    padding-right: 10px;
}
.orangeBorder ul {
    padding-top: 9px;
}
.withNumberList span {
    top: 0;
    left: 0;
    display: block;
    position: absolute;
}
.columnTitle {
    display: block;
    font-size: 24px;
    line-height: 28px;
    font-style: italic;
    color: #fff;
    position: relative;
}
.widthTextLine .darkBlueBg {
    padding-top: 123px;
}
.darkBlueBg .columnTitle {
    padding-left:67px;
    margin: 0 0 0 60px;
}
.darkBlueBg .columnTitle:before {
    content: '';
    position: absolute;
    width: 42px;
    height: 74px;
    top: 7px;
    left: 0;
    background: url(themes/base/images/iconsSprite2.png) no-repeat transparent -117px top;
}
.widthTextLine .orangeBg {
    padding-top: 50px;
}
.orangeBg .columnTitle {
    padding-top:113px;
    text-align: center;
}
.orangeBg .columnTitle:before {
    content: '';
    position: absolute;
    width: 17px;
    height: 91px;
    top: 0;
    left: 50%;
    margin-left: -9px;
    background: url(themes/base/images/iconsSprite2.png) no-repeat transparent -160px top;
}

.greenBg.withQuestionIcon  .columnTitle {
    padding-top:93px;
    text-align: center;
}
.greenBg.withQuestionIcon  .columnTitle:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 86px;
    top: 0;
    left: 50%;
    margin-left: -20px;
    background: url(themes/base/images/iconsSprite2.png) no-repeat transparent -248px top;
}

@media screen and (max-width: 1130px) {
    .redBtnSkin {
        font-size: 16px;
        width: 124px;
    }
}

@media screen and (max-width: 950px) {
    .redBtnSkin {
        font-size: 14px;
        width: 110px;
        height: 57px;
        padding-top: 10px;
    }
    .widthTextLine .orangeBorder, .widthTextLine .orangeBg {
        min-height: 260px;
    }
    .darkBlueBg .columnTitle {
        margin-left: 40px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 900px) {
    .redBtnSkin br {
        display: none;
    }
    .redBtnSkin.left {
        margin-left: 15px;
    }
    .redBtnSkin.right {
        margin-right: 15px;
    }
     .bottomHeaderLine {
        height: 100px;
    }
    .bottomHeaderLine .left {
        line-height: 28px;
        font-size: 35px;
    }
    .timerWrap {
        font-size: 55px;
    }
}

@media screen and (max-width: 850px) {
    .redBtnSkin {
        font-size: 14px;
        width: auto;
        float: none;
        display: block;
        height: 31px;
        margin-top: 5px;
    }
    .redBtnSkin.left {
        margin-left: 15px;
        margin-right: 15px;
    }
    .redBtnSkin.right {
        margin-right: 15px;
        margin-left: 15px;
    }
}

@media screen and (max-width: 767px) {
    .redBtnSkin {
        width: 100%;
        margin: 5px 0 0 0 !important;
        float: none;
        display: block;
        height: 31px;
    }
    .greenBg.withQuestionIcon  .columnTitle br {
        display: none;
    }
    .greenBg.withQuestionIcon  .columnTitle {
        margin-bottom: 0;
    }
    .widthTextLine .orangeBorder, .widthTextLine .orangeBg {
        min-height: 0;
    }
    .width33, .width66 {
        width: 100%;
        padding: 0;
    }
    .topHeaderLine {
        height: auto;
    }
    .topHeaderLine a.left, .topHeaderLine div.right {
        margin: 10px 0 10px 0;
        width: 30%;
    }
    .topHeaderLine a.left {
        width: 40%;
    }
    .bottomHeaderLine .left {
        padding-left: 0;
        font-size: 20px;
        line-height: 20px;
        padding-top: 14px;
    }
    .bottomHeaderLine .right {
        width: 146px;
        padding: 15px 0 0 0;
    }
    .bottomHeaderLine {
        height: 50px;
        margin-bottom: 7px;
    }
    .quizGameLine .darkBlueBg {
        padding: 10px;
    }
    h1 {
        font-size: 27px;
        line-height: 27px;
        white-space: nowrap;
    }
    h2 {
        font-size: 20px;
        line-height: 20px;
    }
    .quizGameLine > div > div, .widthTextLine > div > div {
        min-height: 0;
    }
    .coloredShortBoxesLine {
        margin-bottom: 15px;
    }
    .coloredShortBoxesLine > .width33 > div {
        padding: 15px 10px;
        min-height: 0;
        font-size: 15px;
        line-height: 17px;
        margin-bottom: 5px;
    }
    .coloredShortBoxesLine > .width33 > div br, .quoteLine br {
        display: none;
    }
    .quoteLine {
        font-size: 15px;
        line-height: 17px;
        padding: 0 10px 17px 10px;
    }
    .blueBorder, .greenBorder, .orangeBorder {
        padding: 10px;
    }
    h3 {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 5px;
    }
    .widthTextLine .width33 {
        text-align: center;
    }
    .widthTextLine .darkBlueBg, .widthTextLine .orangeBg, .widthTextLine .greenBg {
        padding: 10px 0;
    }
    .columnTitle {
        font-size: 18px;
        line-height: 22px;
        display: inline-block;
    }
    .darkBlueBg .columnTitle {
        margin: 0;
        padding-left: 57px;
    }
    .darkBlueBg .columnTitle:before {
        top: -3px;
    }
    .orangeBg .columnTitle {
        padding-top: 100px;
    }
    .timerWrap {
        font-size: 62px;
    }
    .timerWrap:before {
        left: 0;
    }
    .coloredLongBoxesLine > div > div {
        padding: 0 10px;
        margin-bottom: 7px;
        min-height: 0;
    }
    h4 {
        font-size: 20px;
        line-height: 20px;
        padding: 12px 40px 5px 0;
    }
    .coloredLongBoxesLine > div > div {
        font-size: 14px;
        line-height: 18px;
    }
    .coloredLongBoxesLine .darkRedBg h4 {
        padding: 21px 40px 12px 0;
    }
    .coloredLongBoxesLine span {
        font-size: 18px;
        line-height: 19px;
    }
    .coloredLongBoxesLine p {
        padding: 0 0 9px 0;
        letter-spacing: 0;
    }
    .coloredLongBoxesLine .greenBg strong {
        white-space: pre-wrap;
    }
    .textLine {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -1px;
        padding: 8px 0 29px 0;
    }
    .textLine span {
        font-size: 30px;
        line-height: 32px;
        margin-bottom: 7px;
    }
    .anotherFooter .wrapper-anotherSkin {
        padding: 10px;
        font-size: 14px;
        line-height: 16px;
    }
    .anotherFooter p, .anotherFooter h5 {
        padding: 0 0 5px 0;
    }
    h5 {
        font-size: 18px;
        line-height: 21px;
    }
    .singleRedBtn {
        height: 30px;
        line-height: 16px;
        padding-top: 14px;
    }
    .withLoginForm {
        padding: 10px;
    }
    .withLoginForm:before {
        top: 10px;
    }
    .withLoginForm p {
        font-size: 18px;
        line-height: 22px;
        padding: 127px 0 10px 0;
    }
    .coloredShortBoxesLine > div, .coloredLongBoxesLine > div {
        display: block;
        border: none;
    }
    
}
