﻿/* This file is used only for developing purpose please clean it up(better to comment it) before doing layout task */

.the-photo {
    height: 81px;
    width: 81px;
    border-radius: 100px;
    background-size: cover;
    border: 2px solid #ffffff;
    background-position: center center;
}

.the-logo {
    height: 169px;
    width: 169px;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    /*line-height: 10;*/
}



.image-item {
    height: 200px;
    width: 200px;
    background-position: center center;
    background-repeat: no-repeat;
}
