﻿
body #top-list table.first tr td:last-child > div, body #top-list table.second tr td:last-child > div {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

body #top-list table.first tr td .photo-container, body #top-list table.second tr td .photo-container {
    background-position: 0px 0px;
    background-image: url('/Images/Leader BG.png');
}

.wrapper {
    margin: 13px auto;
    border: none;
    padding: 0px;
    max-width: 1200px;
}

body #top-list table.first tr td:last-child > div, body #top-list table.second tr td:last-child > div {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

body #top-list table.first tr td .photo-container, body #top-list table.second tr td .photo-container {
    background-position: 0px 0px;
    background-image: url('/Images/Leader BG.png');
}

button#answer-button:disabled {
    background-color: transparent !important;
    /*background-image: url(/Images/answer-button-disabled.png);*/
    opacity: 0.4;
}

button#answer-button {
    margin-top: 10px;
    background-size: 100% 100%;
    background-image: url(/Images/Normal-Answer-Button.png);
    max-width: 346px !important;
    height: 74px !important;
    clear: both;
}

body .leader-container {
    padding-left: 0px;
    margin-left: 10px;
    display: inline-block;
    width: 100%;
}

.the-photo {
    background-size: cover;
    background-position: center center;
}

#top-list {
    width: 100%;
    color: white;
    padding-top: 20px;
}

    #top-list .separator {
        background-color: rgba(145,152,183,0.52);
        height: 60px;
    }

    #top-list > div {
        float: left;
        width: 33%;
    }

    #top-list table {
        width: 33%;
        position: relative;
    }

        #top-list table tr {
            height: 60px;
        }

            #top-list table tr td:first-child {
                font-size: 40px;
                /*text-align: right;*/
                text-align: center;
                color: white;
                width: 70px;
                padding-right: 10px;
                vertical-align: middle;
            }

            #top-list table tr td:last-child {
                vertical-align: middle;
                text-align: center;
                padding-right: 10px;
            }

            #top-list table tr td:not(:first-child):not(:last-child) {
                width: 120px;
                position: relative;
            }

            #top-list table tr td .photo-container {
                position: absolute;
                width: 105px;
                height: 105px;
                left: 0px;
                top: -20px;
            }

        #top-list table.first tr td .photo-container {
            background-position: 2px 2px;
            background-image: url(/Images/first-place-photo-frame.png);
        }

        #top-list table.second tr td .photo-container {
            background-image: url(/Images/second-place-photo-frame.png);
        }

        #top-list table tr td:last-child > div {
            height: 70%;
            width: auto !important;
            /*width: 175px !important;*/
            position: absolute;
            /*right: 45px;*/
            right: 0;
            left: 100px;
            top: 14%;
            border-radius: 4px;
            background: rgba(0, 0, 0, 0.14);
            border: 1px solid rgba(255, 255, 255, 0.3);
        }

        #top-list table.first tr td:last-child > div {
            background: rgba(0, 0, 0, 0.14);
            border: 1px solid #FAAF32;
        }

        #top-list table.second tr td:last-child > div {
            background: rgba(0, 0, 0, 0.14);
            border: 1px solid #F7F7F8;
        }

table {
    margin: 47px 0px;
    display: inline-block;
    width: 33%;
}

body .photo-container .the-photo {
    width: auto;
    height: auto;
    border: none;
    position: absolute;
    left: 15%;
    top: 15%;
    right: 15%;
    bottom: 15%;
}

.infoPopup {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
    text-align: center;
    color: #fff;
    font-weight: 700;
    width: 300px;
    height: 300px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.infoPopup p {
    font-size: 30px;
    line-height: 36px;
}

.infoPopup b {
    font-size: 88px;
    line-height: 88px;
    display: block;
}

.infoPopup {
    position: fixed;
    -ms-border-radius: 15px;
    border-radius: 15px;
    color: #00bfff;
    text-align: center;
    width: 80%;
    height: 500px;
    left: 5%;
    bottom: 120%;
    background-image: url('/Images/popup_img.png');
    background-repeat: no-repeat;
    background-position: center center;
    -ms-background-size: contain;
    background-size: contain;
}

#popup-wrap ~ table {
    display: none;
    position: fixed;
    z-index: 100;
    top: -120%;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    z-index:1000;
}

    #popup-wrap ~ table td {
        vertical-align: middle;
    }

#popup-wrap {
    display: none;
    opacity: 0.8;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    background-color: #384963;
    z-index: 999;
    overflow: auto;
}

.info-title {
    padding-top: 320px;
    text-transform: uppercase;
}

.info-text {
    padding-top: 40px;
    font-size: 18px !important;
}

header .mobile.page-title {
    display: none !important;
}

header #user-count {
    display: block;
}

#choose-all-answers {
    display: none;
    position: absolute;
    width: 100%;
}

    #choose-all-answers > table {
        position: fixed;
        display: table;
        height: 100%;
        width: 100%;
        z-index: 100;
    }

        #choose-all-answers > table tr > td {
            vertical-align: middle;
            text-align: center;
        }

#ui-dialog-wrap {
    background: #FFFFFF;
    width: 50%;
    margin: 0 auto;
    border-radius: 8px;
    padding: 20px;
}



@media screen and (max-width: 767px) {
    header #menu-container ul #logout a {
        margin-left: 15px;
    }
}
