@media screen and (min-width:768px) {
    .col-sm-3 {
        float: left;
        width: 25%;
    }
}

@media screen and (min-width:992px) {
    .col-md-6 {
        float: left;
        width: 50%;
    }
}

@media screen and (max-width:767px) {
    body {
        -webkit-text-size-adjust: 100%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 26px;
        line-height: 34px;
    }

    .yellowBtnSkin,
    .create-game-section .yellowBtnSkin {
        font-size: 15px;
        padding: 0 20px;
    }

    .header {
        padding: 0 10px;
    }

    .intro-section {
        min-height: initial;
        padding-top: 39px;
    }

        .intro-section h1 {
            font-size: 36px;
            line-height: 40px;
        }

        .intro-section p,
        .create-game-section p {
            font-size: 16px;
            line-height: 20px;
        }

        .intro-section p {
            margin-top: 29px;
        }

    .intro-section-buttons a[class*="BtnSkin"], .intro-section-buttons input {
        font-size: 15px;
        margin: 20px 0;
    }

    .intro-section-buttons {
        margin-top: 10px;
    }

    .intro-setion-learn-more {
        display: block;
        padding-top: 26px;
        padding-bottom: 30px;
        color: #fefefe;
        font-size: 14px;
        line-height: 18px;
        background: url(/Images/chevron-arrow-down.svg) no-repeat transparent center bottom 13px;
        background-size: 10px auto;
    }

    .rules-item strong,
    .hiw-item strong {
        font-size: 16px;
        line-height: 18px;
        padding-top: 15px;
    }

    .rules-item p {
        padding-top: 8px;
    }

    p {
        font-size: 13px;
        line-height: 18px;
    }

    .hiw-wrapper {
        margin: 0;
        white-space: normal;
    }

    .hiw-item {
        width: 270px;
        margin: 0;
    }

        .hiw-item p {
            max-width: none;
        }

    .hiw-item-img img {
        max-width: 200px;
    }

    .rules-item {
        float: none;
        width: 270px;
        display: inline-block;
        vertical-align: top;
    }

    .create-game-section h3 {
        font-size: 20px;
        line-height: 24px;
    }

    /*Hamburger menu begin*/
    div.burger {
        height: 30px;
        width: 50px;
        position: absolute;
        top: -10px;
        right: 0px;
        cursor: pointer;
        padding-left: 10px;
        padding-right: 30px;
        padding-bottom: 66px;
    }

    div.x,
    div.y,
    div.z {
        position: absolute;
        margin: auto;
        top: 0px;
        bottom: 0px;
        background: #fff;
        border-radius: 2px;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        -ms-transition: all 200ms ease-out;
        -o-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
    }

    div.x, div.y, div.z {
        height: 3px;
        width: 26px;
    }

    div.y {
        top: 18px;
    }

    div.z {
        top: 37px;
    }

    div.collapse {
        top: 20px;
        background: #FFFFFF;
        -webkit-transition: all 70ms ease-out;
        -moz-transition: all 70ms ease-out;
        -ms-transition: all 70ms ease-out;
        -o-transition: all 70ms ease-out;
        transition: all 70ms ease-out;
    }


    div.rotate30 {
        -ms-transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
        -webkit-transition: all 50ms ease-out;
        -moz-transition: all 50ms ease-out;
        -ms-transition: all 50ms ease-out;
        -o-transition: all 50ms ease-out;
        transition: all 50ms ease-out;
    }

    div.rotate150 {
        -ms-transform: rotate(150deg);
        -webkit-transform: rotate(150deg);
        transform: rotate(150deg);
        -webkit-transition: all 50ms ease-out;
        -moz-transition: all 50ms ease-out;
        -ms-transition: all 50ms ease-out;
        -o-transition: all 50ms ease-out;
        transition: all 50ms ease-out;
    }

    div.rotate45 {
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 100ms ease-out;
        -moz-transition: all 100ms ease-out;
        -ms-transition: all 100ms ease-out;
        -o-transition: all 100ms ease-out;
        transition: all 100ms ease-out;
    }

    div.rotate135 {
        -ms-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        -webkit-transition: all 100ms ease-out;
        -moz-transition: all 100ms ease-out;
        -ms-transition: all 100ms ease-out;
        -o-transition: all 100ms ease-out;
        transition: all 100ms ease-out;
    }

    div.navbar {
        height: 73px;
        background: #385e97;
    }

    div.circle {
        border-radius: 50%;
        width: 0px;
        height: 0px;
        position: absolute;
        top: 35px;
        right: 36px;
        background: #3b4477;
        opacity: 1;
        -webkit-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -moz-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -ms-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -o-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    }

        div.circle.expand {
            width: 1400px;
            height: 1555px;
            top: -560px;
            right: -565px;
            position: fixed;
            -webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -moz-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -ms-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -o-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        }

    div#menu-container {
        height: 60px;
        width: 100%;
        top: 0px;
        left: 0px;
    }

        div#menu-container ul li {
            list-style: none;
            position: absolute;
            top: 50px;
            left: 0;
            opacity: 0;
            width: 100%;
            text-align: center;
            font-size: 0px;
            -webkit-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -moz-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -ms-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -o-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        }

            div#menu-container ul li a {
                font-size: 21px;
                color: #FFFFFF;
                text-decoration: none;
            }

        div#menu-container li.animate {
            font-size: 21px;
            opacity: 1;
            -webkit-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -moz-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -ms-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -o-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        }

            div#menu-container li.animate:nth-of-type(1) {
                top: 50px;
                /*transition-delay: 0.0s;*/
            }

            div#menu-container li.animate:nth-of-type(2) {
                top: 110px;
                /*transition-delay: 0.03s;*/
            }

            div#menu-container li.animate:nth-of-type(3) {
                top: 170px;
                /*transition-delay: 0.06s;*/
            }

            div#menu-container li.animate:nth-of-type(4) {
                top: 230px;
                /*transition-delay: 0.09s;*/
            }

            div#menu-container li.animate:nth-of-type(5) {
                top: 290px;
                /*transition-delay: 0.12s;*/
            }

            div#menu-container li.animate:nth-of-type(6) {
                top: 350px;
                /*transition-delay: 0.15s;*/
            }

            div#menu-container li.animate:nth-of-type(7) {
                top: 410px;
                /*transition-delay: 0.15s;*/
            }

            div#menu-container li.animate:nth-of-type(8) {
                top: 470px;
                /*transition-delay: 0.15s;*/
            }

            div#menu-container li.animate:nth-of-type(9) {
                top: 530px;
                /*transition-delay: 0.15s;*/
            }

            div#menu-container li.animate:nth-of-type(10) {
                top: 590px;
                /*transition-delay: 0.15s;*/
            }

        div#menu-container ul li a {
            font-size: 17px;
            color: #FFFFFF;
            text-decoration: none;
        }

    #menu-container ul li a {
        line-height: 1;
        font-weight: 500;
    }

    #menu-container ul li.active {
        background: none !important;
    }

    #menu-container #language {
        margin-right: 0;
        margin-top: 12px;
    }

    #menu-container #logoutForm {
        float: none;
    }

    #profile .left {
        float: none;
    }

    header #user-count {
        position: absolute;
        top: 5px;
    }

        header #user-count > div {
            color: #FFFFFF;
            float: left;
        }

            header #user-count > div > div {
                font-size: 15px;
                font-weight: 500;
            }

    header #menu-container ul #LogIn {
        padding-bottom: 10px !important;
        border-top: 1px solid rgba(255,255,255, 0.3);
        border-bottom: 1px solid rgba(255,255,255, 0.31);
        width: 100%;
    }
    
    header #menu-container ul #LogIn {
        float: left;
        font-size: 17px;
        width: 100%;
    }

    header #menu-container ul #home a {
        background-image: url('/Content/themes/base/images/home-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 18px;
        background-size: 25px;
    }

    header #menu-container ul #home.active a {
        background-image: url('/Content/themes/base/images/home-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 27px;
        background-size: 25px;
    }

    header #menu-container ul #current-question a {
        background-image: url('/Content/themes/base/images/game-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 18px;
        background-size: 25px;
    }

    header #menu-container ul #current-question.active a {
        background-image: url('/Content/themes/base/images/game-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 26px;
        background-size: 25px;
    }


    header #menu-container ul #current-question-owner a {
        background-image: url('/Content/themes/base/images/started-game.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 18px;
        background-size: 25px;
    }

    header #menu-container ul #current-question-owner.active a {
        background-image: url('/Content/themes/base/images/started-game.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 18px;
        background-size: 25px;
    }


    header #menu-container ul #leaderboard a {
        background-image: url('/Content/themes/base/images/leaderboard-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 18px;
        background-size: 25px;
    }

    header #menu-container ul #leaderboard.active a {
        background-image: url('/Content/themes/base/images/leaderboard-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 18px;
        background-size: 25px;
    }

    header #menu-container ul #lectures a {
        background-image: url('/Content/themes/base/images/my-quizzes-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #lectures.active a {
        background-image: url('/Content/themes/base/images/my-quizzes-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #archive a {
        background-image: url('/Content/themes/base/images/archive-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 23px;
        background-size: 25px;
    }

    header #menu-container ul #archive.active a {
        background-image: url('/Content/themes/base/images/archive-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 23px;
        background-size: 25px;
    }

    header #menu-container ul #profile a {
        background-image: url('/Content/themes/base/images/user-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left 10px;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #profile.active a {
        background-image: url('/Content/themes/base/images/user-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left 10px;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #catalogOfQuizzes a {
        background-image: url('/Content/themes/base/images/catalog-of-quizzes-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left 10px;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #catalogOfQuizzes.active a {
        background-image: url('/Content/themes/base/images/catalog-of-quizzes-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left 10px;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #game-profile a {
        background-image: url('/Content/themes/base/images/user-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left 10px;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #game-profile.active a {
        background-image: url('/Content/themes/base/images/user-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left 10px;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container #logoutForm {
        float: left;
    }

    header #menu-container ul #logout {
        padding-bottom: 10px !important;
        border-top: 1px solid rgba(255,255,255, 0.3);
        border-bottom: 1px solid rgba(255,255,255, 0.31);
    }

        header #menu-container ul #logout a {
            background-image: url('/Content/themes/base/images/logout-mob.png');
            background-repeat: no-repeat;
            padding: 15px;
            background-position: left;
            margin-left: 15px;
            background-size: 25px;
            width: 100%;
            font-size: 17px;
        }

        header #menu-container ul #logout.active a {
            background-image: url('/Content/themes/base/images/logout-mob.png');
            background-repeat: no-repeat;
            padding: 15px;
            background-position: left;
            margin-left: 15px;
            background-size: 25px;
            width: 100%;
            font-size: 17px;
        }

    header #menu-container ul #language > span {
        background-image: url('/Content/themes/base/images/settings-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 18px;
        font-weight: 400;
        background-size: 25px;
        font-size: 17px;
    }

    header #menu-container ul #language > a {
        padding: 10px 30px 10px 10px;
        border: 1px solid;
        border-radius: 3px;
        margin-top: 20px;
        margin-right: 15px;
        float: right;
        font-size: 17px;
        text-transform: none !important;
        display: block;
    }


    header #menu-container ul #adminUsers a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 27px;
        background-size: 25px;
    }

    header #menu-container ul #adminUsers.active a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 27px;
        background-size: 25px;
    }

    header #menu-container ul #adminQuizes a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminQuizes.active a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminStartedQuizes a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminStartedQuizes.active a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #LogIn a {
        background-image: url(/Content/themes/base/images/login-mob.png);
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left 10px;
        float: left;
        margin-left: 25px;
        background-size: 25px;
        background-position-y:22px;
        line-height: 41px;
    }

    header #menu-container ul #LogIn.active a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    .lang:after {
        content: '';
        width: 30px;
        height: 15px;
        background-image: url('/Content/themes/base/images/arrow_down.png');
        background-repeat: no-repeat;
        background-position: 15px 6px;
        display: inline-block;
        position: absolute;
    }

    header #menu-container ul #language .lang.desktop {
        display: none !important;
    }

    header #menu-container ul #language.active > span {
        background-image: url('/Content/themes/base/images/settings-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 40px;
        font-weight: 400;
    }

    header #menu-container ul #language .active#localization {
        width: 119px;
        height: 70px;
        position: absolute;
        top: 60px;
        right: 15px;
        margin-bottom: 10px !important;
    }

    header #menu-container ul #language .active.up#localization {
        top: -60px;
    }

    header #menu-container ul #language .active#localization li:first-child {
        top: 10px;
    }

    header #menu-container ul #language .active#localization li:last-child {
        top: 35px;
    }

        header #menu-container ul #language .active#localization li:last-child a {
            margin-left: -60px;
            line-height: 25px;
        }

    header #menu-container ul #language .active#localization li a {
        color: #666c7d;
        margin-left: -50px;
        font-size: 18px;
    }

    header #menu-container li.active {
        background-image: url('/Images/menu-icons/selected-page-bg.png');
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: cover;
    }

    header #menu-container > li {
        line-height: 100px;
    }

    ul#localization li {
        line-height: 1 !important;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
    /*Hamburger menu end*/

    header .page-title {
        position: absolute;
        height: 60px;
        text-align: center;
        width: 100%;
    }

        header .page-title > span {
            color: #FFFFFF;
            font-size: 20px;
            display: block;
            width: 100%;
            margin-top: 20px;
            text-align: center;
        }

    /*#region user's comments*/

    .comment-item {
        max-width: 100%;
    }

    .user-position {
        margin: 0;
        padding-bottom: 15px;
    }

        .user-position p {
            font-size: 14px;
            line-height: normal;
        }

    .user-place-of-work a {
        color: #00669c;
        text-decoration: none;
        font-size: 16px;
        line-height: normal;
    }

        .user-place-of-work a:hover {
            text-decoration: none;
            cursor: pointer;
        }

    .carousel-delimiter {
        margin-bottom: 10px;
    }

    .user-comment {
        padding: 0 5px;
    }

        .user-comment p {
            font-size: 16px;
            text-align: justify;
        }

    .bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
        display: inline-block;
    }

    .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
        background: #d5d6d8;
    }

    .bx-wrapper .bx-pager.bx-default-pager a {
        background: #687192;
        text-indent: -9999px;
        display: block;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        outline: 0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    .bx-default-pager {
        padding-top: 10px;
    }

    /*#endregion user's comments*/
}

@media screen and (min-width:768px) and (max-width:890px) and (orientation: portrait) {
    .hiw-item p {
        max-width: 183px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    /*Hamburger menu begin*/
    div.burger {
        height: 30px;
        width: 50px;
        position: absolute;
        top: -10px;
        right: 0px;
        cursor: pointer;
        padding-left: 10px;
        padding-right: 30px;
        padding-bottom: 66px;
    }

    div.x,
    div.y,
    div.z {
        position: absolute;
        margin: auto;
        top: 0px;
        bottom: 0px;
        background: #fff;
        border-radius: 2px;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        -ms-transition: all 200ms ease-out;
        -o-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
    }

    div.x, div.y, div.z {
        height: 3px;
        width: 26px;
    }

    div.y {
        top: 18px;
    }

    div.z {
        top: 37px;
    }

    div.collapse {
        top: 20px;
        background: #FFFFFF;
        -webkit-transition: all 70ms ease-out;
        -moz-transition: all 70ms ease-out;
        -ms-transition: all 70ms ease-out;
        -o-transition: all 70ms ease-out;
        transition: all 70ms ease-out;
    }


    div.rotate30 {
        -ms-transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
        -webkit-transition: all 50ms ease-out;
        -moz-transition: all 50ms ease-out;
        -ms-transition: all 50ms ease-out;
        -o-transition: all 50ms ease-out;
        transition: all 50ms ease-out;
    }

    div.rotate150 {
        -ms-transform: rotate(150deg);
        -webkit-transform: rotate(150deg);
        transform: rotate(150deg);
        -webkit-transition: all 50ms ease-out;
        -moz-transition: all 50ms ease-out;
        -ms-transition: all 50ms ease-out;
        -o-transition: all 50ms ease-out;
        transition: all 50ms ease-out;
    }

    div.rotate45 {
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 100ms ease-out;
        -moz-transition: all 100ms ease-out;
        -ms-transition: all 100ms ease-out;
        -o-transition: all 100ms ease-out;
        transition: all 100ms ease-out;
    }

    div.rotate135 {
        -ms-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        -webkit-transition: all 100ms ease-out;
        -moz-transition: all 100ms ease-out;
        -ms-transition: all 100ms ease-out;
        -o-transition: all 100ms ease-out;
        transition: all 100ms ease-out;
    }

    div.navbar {
        height: 73px;
        background: #385e97;
    }

    div.circle {
        border-radius: 50%;
        width: 0px;
        height: 0px;
        position: absolute;
        top: 35px;
        right: 36px;
        background: #3b4477;
        opacity: 1;
        -webkit-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -moz-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -ms-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -o-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    }

        div.circle.expand {
            width: 2100px;
            height: 2055px;
            top: -560px;
            right: -525px;
            position: fixed;
            -webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -moz-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -ms-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -o-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        }

    div#menu-container {
        height: 60px;
        width: 100%;
        top: 0px;
        left: 0px;
    }

        div#menu-container ul li {
            list-style: none;
            position: absolute;
            top: 50px;
            left: 0;
            opacity: 0;
            width: 100%;
            text-align: center;
            font-size: 0px;
            -webkit-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -moz-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -ms-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -o-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        }

            div#menu-container ul li a {
                font-size: 21px;
                color: #FFFFFF;
                text-decoration: none;
            }

        div#menu-container li.animate {
            font-size: 21px;
            opacity: 1;
            -webkit-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -moz-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -ms-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -o-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        }

            div#menu-container li.animate:nth-of-type(1) {
                top: 50px;
                transition-delay: 0.0s;
            }

            div#menu-container li.animate:nth-of-type(2) {
                top: 110px;
                transition-delay: 0.03s;
            }

            div#menu-container li.animate:nth-of-type(3) {
                top: 170px;
                transition-delay: 0.06s;
            }

            div#menu-container li.animate:nth-of-type(4) {
                top: 230px;
                transition-delay: 0.09s;
            }

            div#menu-container li.animate:nth-of-type(5) {
                top: 290px;
                transition-delay: 0.12s;
            }

            div#menu-container li.animate:nth-of-type(6) {
                top: 350px;
                transition-delay: 0.15s;
            }

            div#menu-container li.animate:nth-of-type(7) {
                top: 410px;
                transition-delay: 0.15s;
            }

            div#menu-container li.animate:nth-of-type(8) {
                top: 470px;
                transition-delay: 0.15s;
            }

            div#menu-container li.animate:nth-of-type(9) {
                top: 530px;
                transition-delay: 0.15s;
            }

            div#menu-container li.animate:nth-of-type(10) {
                top: 590px;
                transition-delay: 0.15s;
            }

        div#menu-container ul li a {
            font-size: 17px;
            color: #FFFFFF;
            text-decoration: none;
        }

    #menu-container ul li a {
        text-indent: 30px;
        line-height: 1;
        font-weight: 500;
    }

    #menu-container ul li.active {
        background: none !important;
    }

    #menu-container #language {
        margin-right: 0;
        margin-top: 12px;
    }

    #menu-container #logoutForm {
        float: none;
    }

    #profile .left {
        float: none;
    }

    header #user-count {
        position: absolute;
        top: 5px;
    }

        header #user-count > div {
            color: #FFFFFF;
            float: left;
        }

            header #user-count > div > div {
                font-size: 15px;
                font-weight: 500;
            }

    header #menu-container ul #LogIn {
        float: left;
        font-size: 17px;
        width: 128px;
    }

    header #menu-container ul #home a {
        background-image: url('/Content/themes/base/images/home-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 18px;
        background-size: 25px;
    }

    header #menu-container ul #home.active a {
        background-image: url('/Content/themes/base/images/home-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 27px;
        background-size: 25px;
    }

    header #menu-container ul #current-question a {
        background-image: url('/Content/themes/base/images/game-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 18px;
        background-size: 25px;
        text-indent: 28px;
    }

    header #menu-container ul #current-question.active a {
        background-image: url('/Content/themes/base/images/game-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 26px;
        background-size: 25px;
        text-indent: 28px;
    }


    header #menu-container ul #current-question-owner a {
        background-image: url('/Content/themes/base/images/started-game-inactive.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 18px;
        background-size: 25px;
        text-indent: 28px;
    }

    header #menu-container ul #current-question-owner.active a {
        background-image: url('/Content/themes/base/images/started-game.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 18px;
        background-size: 25px;
        text-indent: 28px;
    }


    header #menu-container ul #leaderboard a {
        background-image: url('/Content/themes/base/images/leaderboard-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 18px;
        background-size: 25px;
    }

    header #menu-container ul #leaderboard.active a {
        background-image: url('/Content/themes/base/images/leaderboard-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 18px;
        background-size: 25px;
    }

    header #menu-container ul #lectures a {
        background-image: url('/Content/themes/base/images/my-quizzes-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #lectures.active a {
        background-image: url('/Content/themes/base/images/my-quizzes-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #archive a {
        background-image: url('/Content/themes/base/images/archive-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 23px;
        background-size: 25px;
    }

    header #menu-container ul #archive.active a {
        background-image: url('/Content/themes/base/images/archive-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 23px;
        background-size: 25px;
    }

    header #menu-container ul #profile a {
        background-image: url('/Content/themes/base/images/user-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left 10px;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #profile.active a {
        background-image: url('/Content/themes/base/images/user-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left 10px;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #catalogOfQuizzes a {
        background-image: url('/Content/themes/base/images/catalog-of-quizzes-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left 10px;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #catalogOfQuizzes.active a {
        background-image: url('/Content/themes/base/images/catalog-of-quizzes-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left 10px;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #game-profile a {
        background-image: url('/Content/themes/base/images/user-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left 10px;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #game-profile.active a {
        background-image: url('/Content/themes/base/images/user-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left 10px;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container #logoutForm {
        float: left;
    }

    header #menu-container ul #logout {
        padding-bottom: 10px !important;
        border-top: 1px solid rgba(255,255,255, 0.3);
        border-bottom: 1px solid rgba(255,255,255, 0.31);
    }

        header #menu-container ul #logout a {
            background-image: url('/Content/themes/base/images/logout-mob.png');
            background-repeat: no-repeat;
            padding: 15px;
            background-position: left;
            margin-left: 15px;
            background-size: 25px;
            width: 100%;
            text-indent: 30px;
            font-size: 17px;
            line-height: 2;
        }

        header #menu-container ul #logout.active a {
            background-image: url('/Content/themes/base/images/logout-mob.png');
            background-repeat: no-repeat;
            padding: 15px;
            background-position: left;
            margin-left: 15px;
            background-size: 25px;
            width: 100%;
            text-indent: 30px;
            font-size: 17px;
        }

    header #menu-container ul #language > span {
        background-image: url('/Content/themes/base/images/settings-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 18px;
        text-indent: 35px;
        font-weight: 400;
        background-size: 25px;
        font-size: 17px;
    }

    header #menu-container ul #language > a {
        padding: 10px 30px 10px 10px;
        border: 1px solid;
        border-radius: 3px;
        margin-top: 20px;
        margin-right: 15px;
        float: right;
        font-size: 17px;
        text-transform: none !important;
        display: block;
        text-indent: 0;
    }


    header #menu-container ul #adminUsers a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 27px;
        background-size: 25px;
    }

    header #menu-container ul #adminUsers.active a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 27px;
        background-size: 25px;
    }

    header #menu-container ul #adminQuizes a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminQuizes.active a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminStartedQuizes a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminStartedQuizes.active a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #LogIn a {
        background-image: url(/Content/themes/base/images/login-mob.png);
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left 10px;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #LogIn.active a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    .lang:after {
        content: '';
        width: 30px;
        height: 15px;
        background-image: url('/Content/themes/base/images/arrow_down.png');
        background-repeat: no-repeat;
        background-position: 15px 6px;
        display: inline-block;
        position: absolute;
    }

    header #menu-container ul #language .lang.desktop {
        display: none !important;
    }

    header #menu-container ul #language.active > span {
        background-image: url('/Content/themes/base/images/settings-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 40px;
        font-weight: 400;
    }

    header #menu-container ul #language .active#localization {
        width: 119px;
        height: 70px;
        position: absolute;
        top: 60px;
        right: 15px;
        margin-bottom: 10px !important;
    }

    header #menu-container ul #language .active.up#localization {
        top: -60px;
    }

    header #menu-container ul #language .active#localization li:first-child {
        top: 10px;
    }

    header #menu-container ul #language .active#localization li:last-child {
        top: 35px;
    }

        header #menu-container ul #language .active#localization li:last-child a {
            margin-left: -60px;
            line-height: 25px;
        }

    header #menu-container ul #language .active#localization li a {
        color: #666c7d;
        margin-left: -50px;
        font-size: 18px;
    }

    header #menu-container li.active {
        background-image: url('/Images/menu-icons/selected-page-bg.png');
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: cover;
    }

    header #menu-container > li {
        line-height: 100px;
    }

    ul#localization li {
        line-height: 1 !important;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
    /*Hamburger menu end*/

    header .page-title {
        position: absolute;
        height: 60px;
        text-align: center;
        width: 100%;
    }

        header .page-title > span {
            color: #FFFFFF;
            font-size: 20px;
            display: block;
            width: 100%;
            margin-top: 20px;
            text-align: center;
        }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    body section {
        display: block !important;
    }

    #menu-container {
        width: 100%;
    }
}