﻿
/*#region General styles*/
* {
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px) and (max-height: 800px) {
    html {
        zoom: 0.95;
        -ms-zoom: 0.95;
        -webkit-zoom: 0.95;
    }
}

body {
    min-height: 100%;
    background: #fff;
    color: #010101;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    position: relative;
}

.centered {
    margin: 0 auto;
    max-width: 1200px;
}

.content-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: inherit;
    text-decoration: underline;
}

    a:hover {
        color: inherit;
        text-decoration: none;
        border: none;
        outline: none;
    }

p {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #434d67;
    font-size: 38px;
    line-height: 40px;
    text-align: center;
    margin: 0;
}

ol, ul {
    list-style: none;
}
/*#endregion General styles*/

/*#region General Classes*/
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.col-sm-3, .col-md-6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.color-white {
    color: #fff !important;
}

.responsive-img {
    max-width: 100%;
}

.yellowBtnSkin {
    color: #010101;
    font-size: 20px;
    border: none;
    line-height: 48px;
    font-weight: 600;
    letter-spacing: -.2px;
    padding: 0 20px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    background: #ffe000;
    background: -moz-linear-gradient(top, #ffe000 0%, #ffb800 100%);
    background: -webkit-linear-gradient(top, #ffe000 0%,#ffb800 100%);
    background: linear-gradient(to bottom, #ffe000 0%,#ffb800 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe000', endColorstr='#ffb800',GradientType=0 );
    -moz-box-shadow: inset 0 10px 25px rgba(255,255,255,.55), 0 2px 3px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0 10px 25px rgba(255,255,255,.55), 0 2px 3px rgba(0,0,0,.4);
    box-shadow: inset 0 10px 25px rgba(255,255,255,.55), 0 2px 3px rgba(0,0,0,.4);
    -webkit-transition: box-shadow 500ms ease;
    -moz-transition: box-shadow 500ms ease;
    -ms-transition: box-shadow 500ms ease;
    -o-transition: box-shadow 500ms ease;
    transition: box-shadow 500ms ease;
}

    .yellowBtnSkin:hover {
        text-decoration: none;
        color: #010101;
        background: linear-gradient(to bottom, #ffe000 0%,#ffb800 200%);
        -moz-box-shadow: inset 0 10px 25px rgba(255,255,255,0), 0 2px 3px rgba(0,0,0,.4);
        -webkit-box-shadow: inset 0 10px 25px rgba(255,255,255,0), 0 2px 3px rgba(0,0,0,.4);
        box-shadow: inset 0 10px 25px rgba(255,255,255,0), 0 2px 3px rgba(0,0,0,.4);
    }

    .yellowBtnSkin:active {
        text-decoration: none;
        color: #010101;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.transparentBtnSkin {
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    line-height: 46px;
    font-weight: 600;
    letter-spacing: -.2px;
    padding: 0 20px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    background: transparent;
    -webkit-transition: background 500ms ease;
    -moz-transition: background 500ms ease;
    -ms-transition: background 500ms ease;
    -o-transition: background 500ms ease;
    transition: background 500ms ease;
}

    .transparentBtnSkin:hover {
        color: #fff;
        border: 1px solid #fff;
        background: rgba(255,255,255,.2);
    }

.padding-bottom-40 {
    padding-bottom: 40px !important;
}

.violetBtnSkin {
    color: #fff;
    font-size: 20px;
    line-height: 48px;
    font-weight: 600;
    letter-spacing: -.2px;
    padding: 0 20px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    background: rgb(115,112,187);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzczNzBiYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ZjVjYTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(115,112,187,1) 0%, rgba(95,92,165,1) 100%);
    background: -webkit-linear-gradient(top, rgba(115,112,187,1) 0%,rgba(95,92,165,1) 100%);
    background: linear-gradient(to bottom, rgba(115,112,187,1) 0%,rgba(95,92,165,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7370bb', endColorstr='#5f5ca5',GradientType=0 );
    -webkit-transition: background 500ms ease;
    -moz-transition: background 500ms ease;
    -ms-transition: background 500ms ease;
    -o-transition: background 500ms ease;
    transition: background 500ms ease;
    -moz-box-shadow: inset 0 0 3px rgba(255,255,255,.26), 0 2px 3px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0 0 3px rgba(255,255,255,.26), 0 2px 3px rgba(0,0,0,.4);
    box-shadow: inset 0 0 3px rgba(255,255,255,.26), 0 2px 3px rgba(0,0,0,.4);
}

    .violetBtnSkin:hover {
        color: #fff;
        background: rgb(95,92,165);
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVmNWNhNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MzcwYmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, rgba(95,92,165,1) 0%, rgba(115,112,187,1) 100%);
        background: -webkit-linear-gradient(top, rgba(95,92,165,1) 0%,rgba(115,112,187,1) 100%);
        background: linear-gradient(to bottom, rgba(95,92,165,1) 0%,rgba(115,112,187,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f5ca5', endColorstr='#7370bb',GradientType=0 );
    }

    .violetBtnSkin:active {
        text-decoration: none;
        color: #fff;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.pinkBtnSkin {
    color: #fff;
    font-size: 20px;
    line-height: 48px;
    font-weight: 600;
    letter-spacing: -.2px;
    padding: 0 20px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    background: rgb(147,107,158);
    background: -moz-linear-gradient(top,  rgb(147,107,158) 0%, rgb(123,96,165) 100%);
    background: -webkit-linear-gradient(top,  rgb(147,107,158) 0%,rgb(123,96,165) 100%);
    background: linear-gradient(to bottom,  rgb(147,107,158) 0%,rgb(123,96,165) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#936b9e', endColorstr='#7b60a5',GradientType=0 );
    -webkit-transition: background 500ms ease;
    -moz-transition: background 500ms ease;
    -ms-transition: background 500ms ease;
    -o-transition: background 500ms ease;
    transition: background 500ms ease;
    -moz-box-shadow: inset 0 0 3px rgba(255,255,255,.26), 0 2px 3px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0 0 3px rgba(255,255,255,.26), 0 2px 3px rgba(0,0,0,.4);
    box-shadow: inset 0 0 3px rgba(255,255,255,.26), 0 2px 3px rgba(0,0,0,.4);
}

    .pinkBtnSkin:hover {
        color: #fff;
        background: rgb(123,96,165);
        background: -moz-linear-gradient(top, rgb(123,96,165) 0%, rgb(147,107,158) 100%);
        background: -webkit-linear-gradient(top, rgb(123,96,165) 0%,rgb(147,107,158) 100%);
        background: linear-gradient(to bottom, rgb(123,96,165) 0%,rgb(147,107,158) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b60a5', endColorstr='#936b9e',GradientType=0 );
    }
    .pinkBtnSkin:active {
        text-decoration: none;
        color: #fff;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
/*#endregion General Classes*/

/*#region Header*/
.header {
    background: rgba(55,74,93,.9);
    min-height: 60px;
    margin-bottom: -60px;
    position: relative;
    z-index: 5;
    padding: 0 26px;
}

.loginLink {
    height: 60px;
    float: right;
    font-size: 15px;
    line-height: 5px;
    color: #fff;
    text-decoration: none;
    padding: 30px 10px 0 10px;
}

    .loginLink:hover {
        color: #fff;
        background-color: rgba(255,255,255,.2);
    }

.lang {
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    /*margin-top: 22px;*/
    display: inline-block;
    width: auto;
    float: right;
    /*margin-right: 30px;*/
    font-size: 15px;
    font-weight: 500;
    padding: 3px 0px 0 0px;
}

#language a {
    color: #FFFFFF !important;
}

.mobile {
    display: none;
}

#menu-container li a.mobile {
    display: none;
}

.lang:hover {
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.lang:after {
    content: '';
    width: 15px;
    height: 15px;
    background-image: url('/Content/themes/base/images/arrow_down.png');
    background-repeat: no-repeat;
    background-position: center 7px;
    display: inline-block;
}

#language {
    float: right;
    margin-right: 23px;
}

    #language .lang {
        padding-left: 0px;
    }

ul#localization.disabled {
    display: none;
}

ul#localization.active {
    display: block;
}

ul#localization {
    position: relative;
    right: 0;
    top: 62px;
    background: #FFF;
    width: 200px;
    border-radius: 2px;
}


    ul#localization li {
        padding: 0 0 10px 10px;
        display: block;
        text-align: left;
        line-height: 40px;
        height: 40px;
    }

        ul#localization li a {
            text-decoration: none;
            font-weight: 500;
            color: #000 !important;
        }

            ul#localization li a:hover {
                color: #6ea6f6;
                cursor: pointer;
            }

/*#endregion Header*/

/*#region Intro Section*/
.intro-section
{
    background: url(../images/intro-section-bg.jpg) no-repeat #48556d center top;
    padding-top: 99px;
    min-height: 760px;
    background-size: auto 800px;
}

    .intro-section h1 {
        color: #fff;
        font-size: 102px;
        line-height: 104px;
    }

    .intro-section p {
        color: #fff;
        font-size: 22px;
        line-height: 32px;
        max-width: 600px;
        margin: 35px auto 0 auto;
    }

.intro-section-buttons {
    max-width: 360px;
    margin: 34px auto 0 auto;
}

    .intro-section-buttons a[class*="BtnSkin"] {
        width: 100%;
        padding: 0;
        font-size: 20px;
        margin: 30px 0;
        display: block;
    }

    .intro-section-buttons input {
        width: 100%;
        text-align: center;
        border: none;
        height: 48px;
        display: block;
        border-radius: 3px;
        color: #000;
        font-size: 20px;
        margin: 15px 0;
        -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.45);
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.45);
        box-shadow: inset 0 1px 2px rgba(0,0,0,.45);
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    }

    .intro-section-buttons .validation-summary-errors ~ input#QuizId {
        border: 2px solid #c65252;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.intro-section-buttons-or {
    line-height: 20px;
    font-size: 16px;
    color: #fefefe;
    text-align: center;
    overflow: hidden;
}

    .intro-section-buttons-or span {
        display: inline-block;
        vertical-align: middle;
        position: relative;
    }

        .intro-section-buttons-or span:before, .intro-section-buttons-or span:after {
            content: '';
            display: block;
            position: absolute;
            width: 1000px;
            top: 50%;
            border-bottom: 1px solid rgba(255,255,255,.50);
        }

        .intro-section-buttons-or span:before {
            right: 100%;
            margin-right: 23px;
        }

        .intro-section-buttons-or span:after {
            left: 100%;
            margin-left: 23px;
        }

.intro-setion-learn-more {
    display: none;
}

.intro-section-buttons .validation-summary-errors {
    position: relative;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    background: #c65252;
    position: relative;
    padding: 11px;
}

    .intro-section-buttons .validation-summary-errors:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -26px;
        right: 7px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 13px 8px;
        border-color: #c65252 transparent transparent transparent;
    }
/*#endregion Intro Section*/

/*#region How It Works Section*/
.hiw-section {
    padding: 25px 0 36px 0;
    background: #FFFFFF;
}

.hiw-wrapper {
    margin-left: -10px;
    margin-right: -10px;
    font-size: 1px;
    line-height: 0;
    white-space: nowrap;
}

.hiw-item {
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    width: 27.2%;
    margin-left: -2.95%;
    padding-top: 35px;
    position: relative;
    z-index: 5;
}

    .hiw-item:first-child {
        margin-left: 0;
    }

    .hiw-item:nth-child(2) {
        z-index: 4;
    }

    .hiw-item:nth-child(3) {
        z-index: 3;
    }

    .hiw-item:nth-child(4) {
        z-index: 2;
    }

.hiw-item-img img {
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
}

.hiw-item strong {
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #434d67;
    display: block;
    padding-top: 30px;
}

.hiw-item p {
    margin: 8px auto 0 auto;
    max-width: 210px;
}
/*#endregion How It Workd Section*/

/*#region Advantages Section */
.advantages-section {
    padding: 25px 0 0 0;
    background: #eeeeee;
}

    .advantages-section h2 {
        margin-left: auto;
        margin-right: auto;
        max-width: 675px;
        margin-bottom: 35px;
    }

.markeredList {
    margin-bottom: 20px;
}

    .markeredList li {
        position: relative;
        padding: 0 0 10px 30px;
        background: url(../images/markerIcon.png) no-repeat transparent left top;
    }
/*#endregion Advantages Sectio*/

/*#region Social Section*/
.social-section {
    background: #434d67;
    padding: 25px 0 40px 0;
}

.social-carousel-wrapper,
.feedback-social-carousel-wrapper {
    padding: 35px 20px 0 20px;
    position: relative;
}

    .social-carousel-wrapper .bx-prev, .social-carousel-wrapper .bx-next,
    .feedback-social-carousel-wrapper .bx-prev, .feedback-social-carousel-wrapper .bx-next{
        position: absolute;
        top: 50%;
        display: block;
        margin-top: -14px;
        width: 16px;
        height: 28px;
        font-size: 0;
        line-height: 0;
        background-image: url(../images/carousel-arrows.png);
        background-repeat: no-repeat;
        background-color: transparent;
    }

    .feedback-social-carousel-wrapper .bx-prev, .feedback-social-carousel-wrapper .bx-next {
        background-image: url(../images/carousel-arrows-dark.png);
    }

    .social-carousel-wrapper .bx-prev,
    .feedback-social-carousel-wrapper .bx-prev {
        left: 0;
        background-position: left top;
    }

    .social-carousel-wrapper .bx-next,
    .feedback-social-carousel-wrapper .bx-next {
        right: 0;
        background-position: right top;
    }

.social-carousel li,
.feedback-social-carousel li{
    padding: 0 5px;
}

    .social-carousel li img,
    .feedback-social-carousel li img {
        display: inline-block;
        vertical-align: top;
    }
/*#endregion Social Section*/

/*#region Rules Section*/
.rules-section {
    padding: 25px 0 40px 0;
    background: #eee;
}

.rules-item {
    padding-top: 35px;
}

    .rules-item img {
        display: block;
        margin: 0 auto;
    }

    .rules-item strong {
        display: block;
        font-weight: 700;
        color: #434d67;
        font-size: 20px;
        line-height: 22px;
        padding-top: 36px;
    }

    .rules-item p {
        color: #010101;
        padding-top: 20px;
    }
/*#endregion Rules Section*/

/*#region Create Game Section*/
.create-game-section {
    padding: 24px 0 41px 0;
    background: #FFFFFF;
}

    .create-game-section h3 {
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;
        color: #5ca73a;
    }

    .create-game-section p {
        font-size: 22px;
        line-height: 30px;
        color: #000;
        margin: 19px auto 0 auto;
        max-width: 470px;
    }

    .create-game-section .yellowBtnSkin {
        padding: 0 48px;
        margin-top: 34px;
    }
/*#endregion Create Game Section*/

/*#region user's comments*/
.comment-item {
    margin: 0 auto;
    width: 100%;
    max-width: 75%;    
}

.user-name h3 {
    color: #000000;
    font-weight: 500;
}

.user-position {
    margin: 20px 0;
}

.user-position p {
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px; 
}

.user-place-of-work a {
    color: #00669c;
    text-decoration: none;
    font-size: 20px;
}

.user-place-of-work a:hover {
    text-decoration: none;
    cursor: default;
}

.carousel-delimiter {
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
    background-image: url("/Images/social-carousel-user-item-delimiter.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px 0;
    
}

.user-comment p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}


.feedback .bx-viewport {
    height: auto;
    min-height: 50%;
}

.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #d5d6d8;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #687192;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.bx-default-pager {
    padding-top: 10px;
}

/*#endregion user's comments*/

/*#region Footer*/
.footer {
    background: #eeeeee;
    padding: 20px 0;
}

    .footer p {
        font-size: 14px;
        color: #344b53;
    }
/*#endregion Footer*/
