﻿/*New Styles begin*/
body .ui-corner-all {
    margin: 0px !important;
    border-radius: 0;
}

body .ui-timepicker-container {
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #f0f2f4;
    border-radius: 0;
}

body .ui-timepicker {
    box-sizing: content-box;
    display: block;
    height: 205px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: center;
}

body .ui-timepicker-viewport {
    box-sizing: content-box;
    display: block;
    height: 205px;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
}

body .ui-timepicker-standard {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    background-color: #f0f2f4;
    border: 0;
    color: #222;
    margin: 0;
    padding: 0;
}

    body .ui-timepicker-standard a {
        border: 1px solid transparent;
        color: #4b546a;
        display: block;
        padding: .2em 0;
        text-decoration: none;
        border-radius: 0;
    }

    body .ui-timepicker-standard .ui-state-hover {
        background: #747998;
        font-weight: 400;
        color: #FFFFFF;
        border: 0;
        padding: .2em 0;
    }

    body .ui-timepicker-standard .ui-menu-item {
        margin: 0;
        padding: 0;
    }

body .ui-timepicker-corners, body .ui-timepicker-corners .ui-corner-all {
    border-radius: 0;
}

body .ui-timepicker-hidden {
    display: none;
}

body .ui-timepicker-no-scrollbar .ui-timepicker {
    border: 0;
}
/*NEw Styles end*/

.entities-list-addbutton-container {
    position: relative;
}

.verivalLine {
    background-image: url('/Content/themes/base/images/shape.png');
    background-position: 140px 0px;
    background-repeat: no-repeat;
    background-size: 2px 100%;
}

    .verivalLine:last-child {
        background-size: 2px 30px;
    }



#lecture-list,
#banner-list,
#testimonial-list {
    background-image: url('/Content/themes/base/images/shape.png');
    background-position: 140px 115px;
    background-repeat: no-repeat;
    background-size: 2px 143px;
    margin: 10px auto;
    padding: 0px;
}

    #lecture-list .searchPanel,
    #banner-list .searchPanel,
    #testimonial-list .searchPanel {
        background-image: url('/Content/themes/base/images/main_rectangle.png');
        padding: 12px;
    }

    #lecture-list table,
    #banner-list table,
    #testimonial-list table {
        display: table;
        position: relative;
        width: 100%;
        color: white;
    }

    #lecture-list .searchPanel input,
    #banner-list .searchPanel input,
    #testimonial-list .searchPanel input {
        text-align: left;
        border: 0px;
        color: #F6F7F8;
        background-color: rgba(0, 0, 0, 0.18);
        border-radius: 4px;
        border: 1px solid rgba(195, 197, 200, 0.18);
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        padding: 10px 10px 10px 20px;
        font-size: 100%;
    }

#Description__Quill {
    height: 134px;
}

.error-quill {
    border: 1px solid #ff6666;
}

.countContainer {
    width: 1px;
    padding-right: 15px;
    vertical-align: middle;
}

    .countContainer div {
        background-color: #A4ACD0;
        height: 100%;
        width: auto;
        min-width: 36px;
        line-height: 36px;
        border-radius: 5px;
        text-align: center;
        color: white;
        padding: 0 5px;
    }

.search .searchButton, .close .closeButton {
    display: block;
}

.search .closeButton, .close .searchButton {
    display: none;
}

h3 {
    text-align: center;
}

.closeButton {
    width: 58px;
    height: 34px;
    border: 1px solid rgba(255, 255, 255, 0.16);
    background-image: url('/Content/themes/base/images/lecture_close.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #9EA5B5;
    cursor: pointer;
}

.searchButton {
    width: 58px;
    height: 34px;
    border: 1px solid rgba(255, 255, 255, 0.16);
    background-image: url('/Content/themes/base/images/search_icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #9EA5B5;
    cursor: pointer;
    background-size: 20px;
}

.quizButton {
    width: 64px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.36);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #9EA5B5;
    cursor: pointer;
    margin-top: 8px;
    border-radius: 2px;
    line-height: 30px;
}

.deleteQuiz {
    /*margin-left: 19px;*/
    background-image: url('/Content/themes/base/images/delete_quiz.png');
}

.editQuiz {
    background-image: url('/Content/themes/base/images/edit_pencil.png');
}

.createReport {
    background-image: url('/Content/themes/base/images/download_csv.png');
    background-size: contain !important;
}

.downloadReport {
    width: 90px;
    height: 32px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    margin-top: 8px;
    border-radius: 4px;
    line-height: 30px;
    text-transform: uppercase;
    text-indent: 25px;
    box-sizing: border-box;
}

.createButtonContainer {
    display: inline-block;
    border: 0;
    padding: 70px 0;
    padding-left: 121px;
}

#lecture-list .createButtonContainer.banner {
    padding: 61px 0;
    padding-left: 121px;
}

.createButtonIcon {
    cursor: pointer;
    background-image: url('/Content/themes/base/images/create_quiz_circle.png');
    height: 40px;
    width: 40px;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 40px;
    color: transparent;
    margin-right: 5px;
}

.quizCircle {
    background-image: url('/Content/themes/base/images/quiz_circle.png');
    height: 40px;
    width: 40px;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 40px;
    color: transparent;
    margin-right: 5px;
}

.ThemeBlock {
    padding: 0 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 70px;
    overflow: hidden;
}

.quizCircleContainer {
    width: 45px;
}

.startQuiz {
    background-color: #5788B9;
    width: auto;
    line-height: 26px;
    color: white;
    background-image: none;
    padding: 0 12px;
    text-align: center;
    min-width: 96px;
    /*margin-right: 20px;*/
}

#confirm-delete, body .confirm {
    display: none;
}

.confirm ~ #confirm-delete {
    display: table-cell;
}

#confirm-delete {
}


.desktop#choose-report-type, body .choose {
    display: none;
}

.mobile#choose-report-type, body .choose {
    display: none;
}

.choose ~ #choose-report-type {
    display: block;
}

#choose-report-type {
    padding-right: 15px;
}

    #choose-report-type .quizButton {
        color: white;
        width: auto;
        padding: 0px 12px;
    }

.export-to {
    margin: 15px 15px 0 15px;
    color: #FFFFFF;
    display: inline-block;
}

#choose-report-type a {
    width: 45%;
    text-align: center;
    display: inline-block;
    color: #FFFFFF;
}

    #choose-report-type a:not(:last-child) {
        margin: 0 18px;
    }

    #choose-report-type a:last-child {
        margin: 0;
        color: #FFFFFF;
    }

        #choose-report-type a:last-child.hide {
            display: none;
        }

.choose-report-type-excel {
    background-image: url("/Images/xls-file-format-symbol.png");
    background-repeat: no-repeat;
    background-position: 20px 15px;
}

.choose-report-type-csv {
    background-image: url("/Images/csv-file-format-extension.png");
    background-repeat: no-repeat;
    background-position: 20px 15px;
}
/*Editor styles begin*/
#tabs {
    height: 60px;
    width: 100%;
    color: #e5f1fb;
    background: #789acc;
}

.step-description {
    font-size: 18px;
    padding-top: 20px;
    padding-left: 15px;
}

    .step-description .step {
        text-transform: uppercase;
    }

    .step-description.mobile {
        display: none;
    }

.company {
    margin-top: 120px;
}

.lecture-container .two-columns-big {
    width: 100%;
    margin-top: 50px;
}

    .lecture-container .two-columns-big .left-column-big {
        width: 30%;
        display: inline-block;
        box-sizing: border-box;
        margin-top: 5px;
        position: relative;
        float: left;
        margin-left: 15px;
    }

    .lecture-container .two-columns-big .left-column-big-65 {
        width: 65%;
        margin: 0;
        float: left;
    }

    .lecture-container .two-columns-big .right-column-big {
        width: 65%;
        margin: 0;
        float: right;
    }

.editor-field.editor-field-file {
    border: 0;
    /*background: rgba(0, 0, 0, 0.2);*/
    width: 100%;
    height: 235px;
    margin: 25px 0 10px 0;
}

#questionsForm .editor-field.editor-field-file {
    height: 115px;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 10px;
}

.editor-field-file .file-input-wrap {
    border: 0;
}

.lecture-container .logo-container.no-image.image-container .the-logo,
.lecture-container .logo-container.no-image.image-container .the-logo--upload-text {
    /*background: url('/Content/themes/base/images/photo-mini.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center 50px;*/
    background: none;
    height: 90px;
}

.right-column-big .editor-subsection {
    width: 100%;
    float: right;
}

.editor-field input.text-box, .editor-field textarea {
    width: 100%;
    overflow-y: hidden !important;
}

.one-column-big.quiz--code {
    display: block;
    position: absolute;
    margin-top: 10px;
}

.three-columns-small,
.four-columns-small,
.two-columns-medium,
.one-column-big {
    width: 100%;
    margin: 0 0 20px 0;
}

    .three-columns-small .small-block {
        width: 30%;
        display: inline-block;
        vertical-align: bottom;
    }

        .three-columns-small .small-block .editor-field {
            margin-bottom: 0px;
        }

            .three-columns-small .small-block .editor-field.radios {
                margin-bottom: 10px;
            }

        .three-columns-small .small-block:first-child + div {
            margin: 0 4.1%;
        }

        .three-columns-small .small-block:nth-last-child(2) {
            margin: 0 4.1%;
        }

        .three-columns-small .small-block:last-child {
        }

    .four-columns-small .small-block {
        width: 20%;
        display: inline-block;
        vertical-align:top;
    }

        .four-columns-small .small-block:first-child + div {
            margin: 0 0 0 4.1%;
        }

        .four-columns-small .small-block:nth-last-child(2) {
            margin: 0 0 0 4.1%;
        }

        .four-columns-small .small-block:nth-last-child(3) {
            margin: 0 0 0 4.1%;
        }

        .four-columns-small .small-block:last-child {
            margin: 0 0 0 3.1%;
            width: 22%;
        }

    .two-columns-medium .one-column {
        width: 49%;
        display: inline-block;
        vertical-align: top;
    }

        .two-columns-medium .one-column .small-block--place {
            width: 25%;
            display: inline-block;
            font-size: 16px;
            color: #FFFFFF;
            margin-left: 34px;
        }

            .two-columns-medium .one-column .small-block--place sup {
                vertical-align: super;
                font-size: smaller;
            }

        .two-columns-medium .one-column .small-block--code {
            width: 65%;
            display: inline-block;
        }

.one-column.quiz-winners-place--container {
    margin-left: 5px;
}

    .one-column.quiz-winners-place--container.hide {
        display: none;
    }

.one-column.quiz-winners-settings--container .info-icon {
    margin-left: -2px;
}

.one-column.quiz-trackers--container {
    margin-left: 5px;
    margin-bottom: 20px;
}

    .one-column.quiz-trackers--container.hide {
        display: none;
    }

.editor-field.code {
    font-family: Open Sans, sans-serif;
    border: 0px;
    padding: 3px;
    font-size: 13px;
    color: #F6F7F8;
    width: 100%;
    border-radius: 4px;
    height: 35px;
    border: 1px dashed;
    text-align: center;
    font-size: 22px;
    line-height: 25px;
    box-sizing: border-box;
}

.navigation-buttons input[type='button'],
.navigation-buttons input[type='submit'] {
    height: 40px;
    border-radius: 3px;
}

input[type='button'].navigation-buttons-cancel {
    background: rgba(107, 120, 143, 0.8);
}

input[type='button'].navigation-buttons-next {
    background-image: none;
    background: #5788b9;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.editor-label {
    font-size: 16px;
    line-height: 20px;
}

.editor-field button {
    height: 0;
}

.logo-container.no-image.image-container.desktop.hover {
    background: #ddd;
    border-color: #aaa;
}

.logo-container.no-image.image-container.desktop.error {
    background: #faa;
    border-color: #f00;
}

.logo-container.no-image.image-container.desktop.drop {
    background: #afa;
    border-color: #0f0;
}

.the-logo,
.the-logo--upload-text {
    width: 100%;
    height: 100%;
}

#banner-list {
    background-position: 219px 135px;
}

    #banner-list .createButtonContainer {
        padding-left: 200px;
    }

    #banner-list .verivalLine {
        background-position: 219px 0px;
    }

#no-image-bg-old {
    background: rgba(0, 0, 0, 0.2);
    width: 45%;
    height: 80px; /* переделать на проценты*/
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: inline-block;
    background-repeat: no-repeat;
}

#no-image-bg {
    float: none;
    height: 80px;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    padding-top: 0;
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
    width: 45%;
    display: inline-block;
    height: 80px;
    vertical-align: top;
    background-position: left center;
    box-sizing: border-box;
    background-size: 100%;
    background-repeat: no-repeat;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

    #no-image-bg:before {
        content: "";
        position: absolute;
        background: url(/Content/themes/base/images/photo-mini.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px;
        width: 45%;
        height: 80px;
        left: 0;
    }

    #no-image-bg.hidden:before {
        display: none;
    }

    [name~="QuestionContainer"] .logo-container .the-logo.loader--show,
    .the-logo.loader--show,
    #no-image-bg.loader--show,
    #no-image-bg.loader--show:before,
    #no-image-bg.quiz--image-bg:before {
        background-image: none !important;
        display: none !important;
    }

.loader--show .cssload-container.quiz {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 0;
}

    .loader--show .cssload-container.quiz .cssload-loading {
        height: 100%;
        width: 100%;
        padding-top: 50%;
        transform: translateY(-50px);
        text-align: center;
    }

.verivalLine table tr td.desktop span.weekDay {
    color: #e0dede;
}

.verivalLine table tr td.time span.time {
    color: #cfd4fc;
}

.verivalLine table tr td.desktop span.weekDay {
    color: #e0dede;
}

.verivalLine table tr td.time span.time {
    color: #cfd4fc;
}

.dropzone.loader--show {
    background-image: none !important;
}

.dropzone .cssload-container {
    width: 100%;
    position: absolute;
}

    .dropzone .cssload-container .cssload-loading {
        height: 100%;
        width: 100%;
        position: relative;
        text-align: center;
        padding-top: 50%;
        transform: translateY(-45px);
    }

        .dropzone .cssload-container .cssload-loading i {
            width: 8px;
            height: 8px;
        }

.image-container .cssload-container {
    margin: 0;
    width: 45%;
    text-align: center;
}

    .image-container .cssload-container.show {
        display: inline-block;
    }

    .image-container .cssload-container .cssload-loading {
        padding-top: 35px;
    }

        .image-container .cssload-container .cssload-loading i {
            width: 8px;
            height: 8px;
        }

#croppQuizModal .modal__body {
    max-width: 100vh;
    max-height: 100vh;
}

#croppQuizModal #quiz-image {
    max-width: 100vh;
    max-height: 73vh;
    width: auto;
}

/*circles loader begin*/
#testimonial-loader {
    position: relative;
    width: 100%;
    display: inline-block;
    display: -o-inline-block;
    display: -ms-inline-block;
    display: -webkit-inline-block;
    display: -moz-inline-block;
    flex-flow: row wrap;
    -o-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    transform: translate(-10%, 15%);
    -o-transform: translate(-10%, 15%);
    -ms-transform: translate(-10%, 15%);
    -webkit-transform: translate(-10%, 15%);
    -moz-transform: translate(-10%, 15%);
    margin-left: -90%;
    vertical-align: sub;
    padding-top: 20px;
}

    #testimonial-loader .testimonial-circle:nth-child(1),
    #testimonial-loader .testimonial-circle:nth-child(3) {
        background: #f2b736;
    }

    #testimonial-loader .testimonial-circle:nth-child(2),
    #testimonial-loader .testimonial-circle:nth-child(4) {
        background: #499255;
    }

    #testimonial-loader .testimonial-circle {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        width: 29px;
        height: 29px;
        border-radius: 50%;
        transform: translateX(0) rotate(50deg) scale(0);
        -o-transform: translateX(0) rotate(50deg) scale(0);
        -ms-transform: translateX(0) rotate(50deg) scale(0);
        -webkit-transform: translateX(0) rotate(50deg) scale(0);
        -moz-transform: translateX(0) rotate(50deg) scale(0);
        animation: testimonialload-circles 4600ms linear infinite;
        -o-animation: testimonialload-circles 4600ms linear infinite;
        -ms-animation: testimonialload-circles 4600ms linear infinite;
        -webkit-animation: testimonialload-circles 4600ms linear infinite;
        -moz-animation: testimonialload-circles 4600ms linear infinite;
    }

        #testimonial-loader .testimonial-circle:nth-child(1) {
            animation-delay: -1150ms;
            -o-animation-delay: -1150ms;
            -ms-animation-delay: -1150ms;
            -webkit-animation-delay: -1150ms;
            -moz-animation-delay: -1150ms;
        }

        #testimonial-loader .testimonial-circle:nth-child(2) {
            animation-delay: -2300ms;
            -o-animation-delay: -2300ms;
            -ms-animation-delay: -2300ms;
            -webkit-animation-delay: -2300ms;
            -moz-animation-delay: -2300ms;
        }

        #testimonial-loader .testimonial-circle:nth-child(3) {
            animation-delay: -3450ms;
            -o-animation-delay: -3450ms;
            -ms-animation-delay: -3450ms;
            -webkit-animation-delay: -3450ms;
            -moz-animation-delay: -3450ms;
        }

        #testimonial-loader .testimonial-circle:nth-child(4) {
            animation-delay: -4600ms;
            -o-animation-delay: -4600ms;
            -ms-animation-delay: -4600ms;
            -webkit-animation-delay: -4600ms;
            -moz-animation-delay: -4600ms;
        }

@keyframes testimonialload-circles {
    50% {
        transform: translateX(49px) rotate(-45deg) scale(1);
    }

    100% {
        transform: translateX(97px) rotate(-45deg) scale(0);
    }
}

@-o-keyframes testimonialload-circles {
    50% {
        -o-transform: translateX(49px) rotate(-45deg) scale(1);
    }

    100% {
        -o-transform: translateX(97px) rotate(-45deg) scale(0);
    }
}

@-ms-keyframes testimonialload-circles {
    50% {
        -ms-transform: translateX(49px) rotate(-45deg) scale(1);
    }

    100% {
        -ms-transform: translateX(97px) rotate(-45deg) scale(0);
    }
}

@-webkit-keyframes testimonialload-circles {
    50% {
        -webkit-transform: translateX(49px) rotate(-45deg) scale(1);
    }

    100% {
        -webkit-transform: translateX(97px) rotate(-45deg) scale(0);
    }
}

@-moz-keyframes testimonialload-circles {
    50% {
        -moz-transform: translateX(49px) rotate(-45deg) scale(1);
    }

    100% {
        -moz-transform: translateX(97px) rotate(-45deg) scale(0);
    }
}

#testimonialModal .basicButton--save,
#testimonialModal .basicButton--loader,
#testimonialModal .basicButton--cancel {
    width: 125px;
    text-align: center;
}

/*circles loader end*/

/*Editor styles end*/

@media screen and (max-width:360px ) and (orientation: portrait) {
    .gridTimeLine--speaker .basicButton {
        padding: 0;
    }

    .gridTimeLine--speaker .dropDownButton__button {
        padding: 0px 5px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    [name~="QuestionContainer"] .right-column-big .editor-subsection {
        margin-left: 0;
        width: auto;
    }

    .right-column-big .editor-subsection {
        width: 90%;
    }

    div[name~="AnswerTitleAfter"] .two-columns-medium .left-column-medium {
        width: 85%;
    }

    body #sub-menu li {
        margin: 0;
    }

        body #sub-menu li[data-title~="QuizInfo"] {
            width: 75%;
        }

    .four-columns-small .small-block:last-child {
        width: 31%;
    }

    body #sub-menu li[data-title~="QuizInfo"] span:after {
        margin-left: 20px;
    }

    .lecture-container .two-columns-big .right-column-big {
        margin: 23px 10px 0 0;
    }

    .lectureProviders {
        margin-top: 0px !important;
    }

    .lectureProviders > .two-columns-medium {
        margin-top: 0px;
    }

    .four-columns-small .small-block:first-child + div {
        margin: 0 0 0 2.1%;
    }

    .four-columns-small .small-block:nth-last-child(2) {
        margin: 0 0 0 2.1%;
    }

    .four-columns-small .small-block:last-child {
        margin: 0 0 0 2.1%;
    }

    .three-columns-small .small-block:first-child + div {
        margin: 0 2.1% 0 0;
    }

    .three-columns-small .small-block.custom-time-block {
        width: 31%;
        text-align: right;
    }

    .radio:not(checked) + label {
        padding: 0 10px 0 27px;
    }

    .lecture-container .two-columns-big .left-column-big {
        margin-top: 25px;
    }

    .navigation-buttons-right {
        padding: 20px 15px;
    }

    .info-popup table {
        max-width: 90%;
    }

    .toggleButton--remove-button .entity-item-remove-button {
        height: 31px;
        width: 31px;
        position: absolute;
        margin-top: 45px;
    }

        .toggleButton--remove-button .entity-item-remove-button a {
            background-position: left center;
        }

    .two-columns-medium .one-column .small-block--place {
        width: 100%;
        display: inline-block;
        font-size: 16px;
        color: #FFFFFF;
        margin-left: 0;
        margin: 13px 0;
    }

    .two-columns-medium .one-column .small-block--code {
        width: 90%;
        display: inline-block;
        margin-left: 25px;
    }

    .one-column-big.quiz--code {
        margin-top: 33px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .four-columns-small .small-block:last-child {
        width: 31%;
    }

    .four-columns-small .small-block:first-child + div {
        margin: 0 0 0 2.1%;
    }

    .four-columns-small .small-block:nth-last-child(2) {
        margin: 0 0 0 2.1%;
    }

    .four-columns-small .small-block:last-child {
        margin: 0 0 0 2.1%;
    }

    body #sub-menu li[data-title~="QuizInfo"] {
        width: 80%;
    }

    .info-popup table {
        max-width: 90%;
    }

    .toggleButton--remove-button .entity-item-remove-button {
        height: 31px;
        width: 31px;
        position: absolute;
        margin-top: 45px;
    }

        .toggleButton--remove-button .entity-item-remove-button a {
            background-position: left center;
        }

    .two-columns-medium .one-column .small-block--place {
        width: 100%;
        display: inline-block;
        font-size: 16px;
        color: #FFFFFF;
        margin-left: 0;
        margin: 13px 0;
    }

    .two-columns-medium .one-column .small-block--code {
        width: 90%;
        display: inline-block;
        margin-left: 25px;
    }

    .one-column-big.quiz--code {
        margin-top: 7px;
    }
}

@media screen and (max-width:767px ) and (orientation: portrait), screen and (max-width:767px ) and (orientation: landscape) {
    body.fixed {
        overflow-y: hidden !important;
        position: fixed;
    }

    #lecture-list .searchPanel input,
    #banner-list .searchPanel input {
        height: 30px;
        background-image: url('/Content/themes/base/images/search_icon_mobile.png');
        background-repeat: no-repeat;
        background-size: 17px;
        background-position: 12px 6px;
        text-indent: 15px;
    }

    #lecture-list,
    #banner-list {
        background-position: 9px 115px;
        margin: 10px;
    }

        #banner-list .createButtonContainer {
            padding-left: 0;
        }

    body .verivalLine {
        background-position: 9px 0px;
    }

    .verivalLine > div {
        padding-left: 30px;
    }

    .verivalLine:last-child > .mobile {
        padding-bottom: 30px;
    }

    body #banner-list .verivalLine {
        background-position: 9px 0;
    }

    .createButtonContainer {
        padding: 0;
    }

    .createButtonIcon {
        background-image: url('/Content/themes/base/images/create_quiz_circle_mobile.png');
        background-size: 20px;
        width: 20px;
    }

    .quizCircle {
        background-image: url('/Content/themes/base/images/quiz_circle_mobile.png');
        background-size: 20px;
        width: 20px;
    }

    .quizCircleContainer {
        width: 30px;
        padding-left: 0px;
    }

    .ThemeBlock {
        padding-left: 0px;
        padding: 2px 15px;
    }

    #lecture-list .searchPanel,
    #banner-list .searchPanel {
        background: none;
        padding: 0px;
    }

    .countContainer div {
        background-color: #A4ACD0;
        height: 100%;
        width: 29px;
        line-height: 29px;
        border-radius: 5px;
        text-align: center;
        color: white;
    }

    .quizButton {
        height: 25px;
        width: 40px;
        border: none;
        background-size: 12px 13px;
        line-height: 24px;
        margin-top: 0;
    }

    body #choose-report-type {
        padding-right: 0;
    }

    .export-to {
        margin-left: 10px;
        margin-right: 0;
    }

    body #choose-report-type a:not(:last-child) {
        margin: 0 5px;
    }

    body a.choose-report-type-csv,
    body a.choose-report-type-excel {
        width: 30% !important;
        background-position: 10px 15px !important;
    }

    #choose-report-type a:last-child.hide {
        display: none;
    }

    .downloadReport {
        width: 100%;
    }

    .countContainer.mobile {
        color: white;
        padding: 25px 0px 45px 0px;
        width: auto;
    }

        .countContainer.mobile span {
            line-height: 29px;
            padding-left: 10px;
        }

    .start-quiz-error {
        position: relative;
        padding: 5px 0;
        border: 1px solid #FE9191;
        color: #FE9191 !important;
        bottom: 0;
        width: 250px;
        text-align: center;
        left: 30px;
    }

    /*Editor styles begin*/
    .company {
        margin-top: 40px;
    }

    .step-description.mobile {
        display: block;
        padding-left: 30px;
    }

        .step-description.mobile .step {
            text-transform: lowercase;
            font-size: 15px;
        }

    .step-description.desktop {
        display: none;
    }

    .lecture-container .two-columns-big .left-column-big {
        display: none;
    }

    .lecture-container .two-columns-big .right-column-big {
        width: 100%;
        margin: 0 5px 0 0;
        float: none;
    }

    .right-column-big .editor-subsection {
        width: 100%;
    }

    .four-columns-small .small-block {
        width: 29%;
    }
        .four-columns-small .small-block.small-block-date {
            width: 40%;
        }
        .four-columns-small .small-block.small-block-time {
            width: 50%;
        }

    .small-block label,
    .editor-field input.text-box,
    textarea {
        font-size: 14px;
    }

    .three-columns-small .small-block:first-child + div {
        margin-left: 0;
        margin-bottom: 30px;
        width: 100%;
    }

    .three-columns-small .small-block:nth-last-child(2) {
        width: 45%;
    }

    .three-columns-small .small-block:nth-last-child(3) {
        width: 100%;
    }

    .three-columns-small .small-block:first-child,
    .three-columns-small .small-block:last-child,
    .four-columns-small .small-block:last-child {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }

    .two-columns-medium .one-column {
        width: 100%;
    }

    .four-columns-small .small-block:nth-child(3) {
        width: 100%;
        margin: 0;
    }

    .image-block.mobile {
        width: 100%;
    }

        .image-block.mobile .editor-field.editor-field-file {
            margin: 23px 0 0 0;
        }

    .lecture-container .logo-container.no-image.image-container .the-logo,
    .lecture-container .logo-container.no-image.image-container .the-logo--upload-text {
        width: 50%;
        height: 80px;
        padding: 0;
        margin: 0;
        width: 50%;
        display: inline-block;
        background: none;
    }

    body .editor-field.editor-field-file .logo-container.no-image .the-logo,
    body .editor-field.editor-field-file .photo-container.no-image .the-photo {
        height: 80px;
        padding: 0;
        margin: 0;
        width: 45%;
        display: inline-block;
        background: none;
    }

        body .editor-field.editor-field-file .logo-container.no-image .the-logo ~ div body .editor-field.editor-field-file .logo-container.no-image .the-logo--upload-text ~ div {
            padding-left: 0;
        }

    .navigation-buttons {
        margin: 0;
        padding-bottom: 20px;
        width: 100%;
    }

    .navigation-buttons-right {
        float: right;
        padding: 20px 10px;
        text-align: center;
        margin-left: 15px;
    }

    body #body .navigation-buttons input {
        margin-top: 0;
        padding: 8px 15px;
        font-size: 14px;
    }

    input[type='button'].navigation-buttons-cancel {
        margin-right: 15px;
    }

    .editor-field.editor-field-file .logo-container.no-image .the-logo,
    .editor-field.editor-field-file .photo-container.no-image .the-photo,
    .the-logo--upload-text {
        height: 115px;
        padding: 40px 0 10px 0;
    }

    .right-column-big .editor-subsection:last-child {
        margin-bottom: 0;
    }

    .logo-container .the-logo,
    .logo-container .the-logo--upload-text {
        width: 50%;
        float: right;
    }

    .image-loading {
        text-align: center;
        color: #FFFFFF;
        font-size: 14px;
        width: 100%;
        display: inline-block;
        vertical-align: middle;
        line-height: 30px;
    }

    .lecture-container .image-loading {
        padding-top: 25px;
    }

    .editor-field.editor-field-file {
        background: none;
    }
    /*Editor styles end*/

    body .entities-list#sortable .header > table td:first-child {
        width: 50px;
    }

    body .entities-list#sortable .header > table td:nth-child(3) {
        width: 40px;
    }

    .two-columns-big .right-column-big {
        margin: 0;
        width: 100%;
    }

    [name~="QuestionContainer"] .right-column-big .editor-subsection {
        margin: 0;
    }

    .convergence-goals-container .body {
        padding: 0;
    }

    [name~="QuestionContainer"] .convergence-goals-container .editor-field.editor-field-answer-text {
        margin-left: 20px;
    }

    [name~="QuestionContainer"] .convergence-goals-container .editor-field.editor-field-points-field input {
        height: 52px;
    }

    .checkbox-switch {
        width: 30px;
        height: 30px;
        padding: 2px;
        border-radius: 0;
    }

    .slider {
        display: none;
    }

    .switch > input[type="checkbox"]:before {
        content: "";
        position: absolute;
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 4px;
        background: rgba(255, 255, 255, 0.3);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .switch > input[type="checkbox"]:checked:after {
        content: "";
        position: absolute;
        background-image: url('/Content/themes/base/images/checkmark.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    body .subentities-list-addbutton-container {
        padding: 20px 0 50px 0;
        margin-left: 0;
    }

    .subentities-list-addbutton-container.hide {
        display: none;
    }

    [name~="QuestionContainer"] .three-columns-small .small-block:first-child,
    .three-columns-small .small-block:last-child {
        margin: 0;
    }

    .custom-settings-block .three-columns-small .small-block.question-score-container,
    .custom-settings-block .three-columns-small .small-block.question-time-container {
        width: 100%;
        margin-bottom: 30px;
    }

    .custom-settings-block .three-columns-small .small-block:first-child + div {
        margin: 0;
        margin-bottom: 30px;
    }

    .question-score-container .question-score-field input,
    .question-time-container .question-time-field input {
        box-sizing: border-box;
        position: relative;
    }

    .custom-settings-block.show > div {
        padding-bottom: 20px;
    }

    [name~="QuestionContainer"] .logo-container {
        height: 100%;
    }

        [name~="QuestionContainer"] .logo-container .the-logo {
            float: none;
            height: 100%;
        }

    li > .body > .two-columns-big > div {
        padding-left: 0;
    }

    #questionsForm .editor-field.editor-field-file {
        padding-top: 0;
    }

    .header .entity-item-remove-button {
        left: 0;
        top: 20px;
    }

    body .editor-field-file .file-input-wrap {
        height: 100%;
        box-sizing: border-box;
        padding: 0;
    }

    body .lecture-container .logo-container .the-logo,
    body .lecture-container .logo-container .the-logo--upload-text {
        float: none;
        height: 80px;
        margin: 0;
        display: inline-block;
        vertical-align: top;
        padding-top: 0;
    }

    .image-bg,
    .image-block .the-logo {
        text-align: center;
        color: #FFFFFF;
        font-size: 14px;
        width: 45%;
        display: inline-block;
        height: 80px;
        vertical-align: top;
        padding-top: 35px;
        background-position: left center;
        box-sizing: border-box;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    li > .body > .two-columns-big > .right-column-big > .editor-subsection > .checkbox {
        right: 10px;
        top: 28px;
    }

    .checkbox.checkbox--strange [type="checkbox"] ~ label:after {
        background: none;
        border: 0;
    }

    .checkbox.checkbox--strange [type="checkbox"] ~ label:before {
        background: none;
        border: 0;
    }

    .checkbox.checkbox--strange [type="checkbox"] ~ label#lblShowQuestion,
    .checkbox.checkbox--strange [type="checkbox"] ~ label#lblHideQuestion {
        color: #FFFFFF;
        float: none;
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    .checkbox.checkbox--strange [type="checkbox"]:checked ~ label#lblShowQuestion {
        color: #d2eaad;
        font-size: 16px;
    }

    .checkbox.checkbox--strange [type="checkbox"]:checked ~ label#lblHideQuestion {
        color: #c0c3d0;
        font-size: 16px;
    }

    .checkbox.checkbox--strange [type="checkbox"]:not(:checked) ~ label#lblShowQuestion {
        color: #c0c3d0;
    }

    .checkbox.checkbox--strange [type="checkbox"]:not(:checked) ~ label#lblHideQuestion {
        color: #d2eaad;
    }

    span[name~="delimiter"] {
        display: inline-block;
    }

    body #sub-menu li[data-title~="QuizInfo"] > span:before {
        background-color: rgba(255, 255, 255, 0.4);
        color: #33364a;
    }

    body #sub-menu li[data-title~="QuizInfo"]#current span:before {
        color: #FFFFFF;
    }

    body #sub-menu li[data-title~="QuizInfo"].visited {
        width: 60%;
        margin: 0;
    }

        body #sub-menu li[data-title~="QuizInfo"].visited span.not-current:before {
            background-color: #b7ca88;
        }

    body #sub-menu li[data-title~="Questions"]#current {
        width: 35%;
    }

        body #sub-menu li[data-title~="Questions"]#current span:before {
            background-color: rgba(255, 255, 255, 0.2);
            color: #FFFFFF;
        }

    .three-columns-small, .four-columns-small, .one-column-big {
        margin-bottom: 0;
    }

    body #body .navigation-buttons input,
    .navigation-buttons input[type='button']#cancelButton {
        padding: 0;
        margin: 0;
    }

    .navigation-buttons-left {
        width: 25%;
        margin: 0;
        padding: 0;
        padding-left: 10px;
    }

        .navigation-buttons-left input {
            width: 100%;
            margin: 0;
            padding: 0;
        }

    .navigation-buttons-right {
        width: 65%;
        margin: 0;
        padding: 0;
        padding-right: 10px;
    }

        .navigation-buttons-right > input {
            width: 50%;
            display: inline-block;
            float: right;
        }

    .navigation-buttons input[type='button']#cancelButton {
        width: 45%;
        display: inline-block;
        float: left;
        margin-right: 5px;
    }

    .navigation-buttons-left.questions-page {
        padding-left: 10px;
        width: 40%;
    }

    .navigation-buttons-right.questions-page {
        width: 52%;
        padding-right: 10px;
    }

    [name~="AnswersContainer"] {
        padding: 0px;
    }

    .switch input[type="checkbox"] {
        opacity: 1;
        height: 0;
        width: 0;
        margin-top: 35px;
    }

    .entities-list .header > table {
        height: auto;
    }

    .entities-list li.close {
        line-height: normal;
        height: auto;
        border-bottom: 0;
    }

    .entities-list .ui-sortable-helper {
        height: auto !important;
    }

    [name~="QuestionContainer"] span.field-validation-error {
        right: 0;
        max-width: 100%;
    }

    body #mobile-lblFileSizeError.enabled,
    body #mobile-lblFileTypeError.enabled,
    body #mobile-lblFileRacyError.enabled {
        top: -10px;
        text-align: center;
    }

    body #sub-menu li .sub-menu-current-item-wrapper.mobile {
        display: block;
    }

    body .editor-field.editor-field-file .logo-container.no-image .the-logo.empty {
        width: 0;
    }

    #lblFileSizeError, #lblFileTypeError, #lblFileRacyError {
        position: relative;
        width: auto;
        font-size: initial;
        line-height: initial;
    }

    .mobile.back-btn {
        background-image: url('/Content/themes/base/images/left-arrow-big.png');
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        background-size: contain;
        top: 20px;
        left: 10px;
        width: 20px;
        height: 20px;
    }

    .custom-settings-block .content-for-input {
        position: relative;
    }

    .subentities-list-loader #circleG {
        margin-left: 10px;
        top: 10px;
    }

    .info-popup table {
        max-width: 90%;
        margin: 10px auto;
        font-size: 90%;
    }

    .popup-header {
        padding-left: 20px;
    }

    .popup-body {
        padding: 15px 20px;
        height: 100%;
        max-height: 75%;
        overflow: auto;
    }

    .info-popup .popup-body {
        -webkit-text-size-adjust: 100%;
    }

    body .info-popup table tr td.ios {
        vertical-align: top;
    }

        body .info-popup table tr td.ios .popup-body {
            max-height: 50%;
        }

    .info {
        display: none;
        visibility: visible;
    }

    .info-icon:hover + .info {
        visibility: visible;
        opacity: 1;
        display: block;
    }

    .enable-custom-points .info > div {
        line-height: normal;
    }

    .lecture-container .two-columns-big {
        margin-top: 20px;
    }

    #questionsForm .entities-list-container {
        margin-top: 30px;
    }

    .lectureProviders .two-columns-medium .left-column-medium {
        width: 80%;
        padding: 0.4em;
    }
    .lectureProviders > .two-columns-medium > .left-column-medium > .editor-label {
        margin-top:7px !important;
    }
    #croppQuizModal .modal__body {
        max-width: 100%;
    }

    #croppQuizModal #quiz-image {
        max-width: 100%;
        max-height: 73vh;
    }
}

@media screen and (max-width: 1100px) {
    .infopop {
        width: 65%;
    }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    body #sub-menu li[data-title~="QuizInfo"].visited {
        width: 75%;
    }

    body #sub-menu li[data-title~="Questions"]#current {
        width: 20%;
    }

    body #sub-menu li {
        vertical-align: bottom;
    }

    .radio:not(checked) + label:before {
    }

    .radio:not(checked) + label:after {
    }

    body .info-popup table tr td {
        vertical-align: top;
    }

    body .popup-body {
        max-height: 60%;
    }

    body .info-popup table tr td.ios .popup-body {
        max-height: 50vh;
    }

    .info-icon:hover + .info,
    .info-icon:hover + .info,
    .info:hover {
        left: 230px;
    }

    .two-columns-medium .subentities-list-addbutton-container div {
        margin-left: 5px;
    }

    #croppQuizModal #quiz-image {
        max-height: 100vh;
    }

    #croppQuizModal .modal__body {
        max-height: 55vh;
    }
}

@media screen and (max-width:767px ) and (orientation: portrait) {
    body .info-popup table tr td.ios .popup-body {
        max-height: 65vh;
    }

    .toggleButton--remove-button .entity-item-remove-button {
        margin-top: 45px;
    }

        .toggleButton--remove-button .entity-item-remove-button a {
            background-position: left center;
        }

    .two-columns-medium .one-column .small-block--place {
        width: 100%;
        margin: 13px 0;
    }

    .two-columns-medium .one-column .small-block--code {
        width: 90%;
        margin-left: 25px;
    }

    .two-columns-medium .subentities-list-addbutton-container div {
        width: 100%;
        margin-left: 0;
    }
}

    .modal__body .editor-label {
        color: #000;
    }

    .modal__body .editor-field input.text-box,
    .modal__body .editor-field textarea {
        border: 1px solid #D5D6D8;
        border-radius: 4px;
        line-height: 27px;
        color: #000;
        background-color: #fff;
    }

    #testimonialModal .modal__body .editor-field textarea {
        resize: vertical;
    }

    #testimonialModal .modal__body .radio + label {
        color: #000;
    }

.lectureProviders > .two-columns-medium {
    margin-bottom: 0px;
}

.lectureProviders > .two-columns-medium > .left-column-medium > .editor-label {
    margin-top: 14px;
}
.time-diapason-nowrap{
    white-space:nowrap;
}
.started-quiz-description .ThemeBlock .state-mobile{
    margin-bottom:20px;
    color:#fff;
}