﻿section#body {
    overflow-x: hidden;
}

.editor-label.editor-label-required label {
    font-weight: 500;
}

.editor-label-required {
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

.editor-label label {
    font-weight: 500;
}

.field-validation-valid {
    display: none;
}

#sub-menu-container {
}

.toggleButton-title a {
    color: #00bcf2 !important;
}

#sub-menu li .sub-menu-current-item-wrapper {
    border: 0;
    color: #ffffff;
}

#sub-menu li {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

body .editor-field-file .file-input-wrap {
    border-top: 0px;
}

ul#sub-menu {
    width: 100%;
}

body #sub-menu li {
    border: none;
    width: 49%;
}

    body #sub-menu li .sub-menu-current-item-wrapper {
        background-image: none;
        color: #ffffff;
        color: rgba(255,255,255,0.6);
        font-weight: 500;
        padding-left: 50px;
        overflow: hidden;
        padding-right: 0;
        margin-right: 0;
        font-size: 16pt;
        position: relative;
    }

        body #sub-menu li .sub-menu-current-item-wrapper.mobile {
            display: none;
        }

    body #sub-menu li span:before {
        content: "";
        color: #33364a;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.18);
        border: 2px solid #ffffff;
        border: 2px solid rgba(255,255,255,0.6);
        border-radius: 50px;
        width: 27px;
        height: 27px;
        margin-left: -35px;
        font-weight: 500;
        text-align: center;
        line-height: 27px;
    }

    body #sub-menu li[data-title~="QuizInfo"] {
        width: 85%;
    }

    body #sub-menu li[data-title~="Questions"] {
        width: 10%;
        float: right;
        margin-right: 20px;
    }

        body #sub-menu li[data-title~="Questions"] span {
            float: right;
        }

    body #sub-menu li[data-title~="QuizInfo"] span {
        color: #FFFFFF;
        position: relative;
        padding-left: 50px;
        overflow: hidden;
        padding-right: 0;
    }

        body #sub-menu li[data-title~="QuizInfo"] span.not-current:after {
            background-color: #b7ca88;
        }

    body #sub-menu li span.not-current {
        cursor: pointer;
    }

    body #sub-menu li[data-title~="QuizInfo"]#current span:before {
        color: #FFFFFF;
        background-color: rgba(255, 255, 255, 0.4);
    }

    body #sub-menu li[data-title~="QuizInfo"] > span:before {
        content: "1";
        font-weight: 500;
        /*line-height: 27px;*/
        text-align: center;
        background-color: #b7ca88;
        border: 2px solid #FFFFFF;
    }

    body #sub-menu li[data-title~="QuizInfo"] span:after {
        content: "";
        position: absolute;
        background-color: #000000;
        background-color: rgba(0, 0, 0, 0.18);
        height: 5px;
        width: 100%;
        margin-top: 14px;
        margin-left: 40px;
    }

    body #sub-menu li[data-title~="Questions"] span:before {
        content: "2";
        color: #ffffff;
        color: rgba(255,255,255,0.6);
        font-weight: 500;
        /*line-height: 27px;*/
        text-align: center;
    }

    body #sub-menu li[data-title~="Questions"] span.current {
        color: #ffffff;
    }

        body #sub-menu li[data-title~="Questions"] span.current:before {
            border-color: #ffffff;
            background-color: rgba(255,255,255,0.4);
            color: #FFFFFF;
        }

.navigation-buttons input[type='button']#cancelButton {
    background-color: #d63105;
}

body .file-input-wrap button, .navigation-buttons input[type='submit'], .navigation-buttons input[type='button'], .subentities-list-addbutton-container button, .entities-list-addbutton-container button {
    background-image: none !important;
    /*background-color: #3289BC;*/
    background-color: #b7ca88;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#sub-menu li a {
    background: transparent;
}

.checkbox [type="checkbox"] ~ label {
    display: initial;
    padding-right: 10px;
    font-size: 16px;
}

    .checkbox [type="checkbox"] ~ label:before {
        right: 0;
        left: 100%;
        top: 0;
        width: 20px;
        height: 20px;
        margin-top: 0;
    }

    .checkbox [type="checkbox"] ~ label:after {
        right: 4%;
        left: 100%;
        top: 0;
        width: 18px;
        height: 18px;
        margin-left: 2px;
        margin-top: 2px;
    }

.two-columns-medium > .left-column-medium > .two-columns-medium > .right-column-medium input {
    margin-left: -2px;
}

.convergence-goals-container {
    padding: 10px 0px 0px 0px;
    padding-left: 0;
}



input[type='button'].navigation-buttons-cancel {
    background-color: #d63105;
}

.Drag-Icon {
    cursor: pointer;
}

.entities-list.ui-sortable li .header table .entity-item-remove-button {
    cursor: pointer;
}

body #body .navigation-buttons input.navigation-buttons-cancel {
    background-color: #9ea5b5;
    margin-right: 0;
}

body #body .navigation-buttons input, body #body .entities-list-addbutton-container button {
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    padding: 0 35px;
    cursor: pointer;
}

.entities-list-container .editor-field textarea {
    font-size: 16px;
    padding-left: 10px;
    box-sizing: border-box;
}

.entities-list-container [name="AnswersContainer"] .editor-field textarea {
    font-size: 16px;
}

li > .body > .two-columns-big > .right-column-big > .editor-subsection > .checkbox {
    position: absolute;
    right: 55px;
}

li > .body > .two-columns-big > div {
    padding-top: 25px;
    padding-left: 25px;
}

/*body #sub-menu li .sub-menu-current-item-wrapper {
    font-size: 16px;
    color: #FFFFFF;
    position: relative;
}*/

td {
    vertical-align: middle;
}

#sortable.entities-list {
    position: relative;
    max-width: 1200px;
    margin: 13px auto !important;
}

.entities-list .ui-sortable-helper {
    background-color: rgba(255, 255, 255, 0.90) !important;
    height: 81px !important;
}

.entities-list#sortable .ui-sortable-helper table td {
    color: #54637e !important;
}

.sort-placeholder {
    border: 1px dashed rgba(255,255,255,0.6) !important;
    background-color: rgba(0, 0, 0, 0.10) !important;
}

    .sort-placeholder table {
        visibility: hidden;
    }

.entities-list li .header table .entity-item-remove-button {
    height: 22px;
    width: 22px;
    display: block !important;
    position: static;
    background: transparent url(/Content/themes/base/images/remove.png) 0 0 no-repeat;
    background-size: contain;
    margin: auto;
    cursor: pointer;
}

.entities-list li.close {
    height: 80px;
    line-height: 80px;
    border-radius: 4px;
    border-color: white;
    background-color: rgba(255, 255, 255, 0.1);
}

#sortable.entities-list li {
    border-radius: 4px;
    border-color: white;
    clear: both;
}

.entities-list .header {
    padding: 0px;
}

    .entities-list .header > table {
        height: 80px;
        width: 100%;
        table-layout: fixed;
    }

.entities-list#sortable .header > table td {
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font: Open Sans;
    font-size: 24px;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .entities-list#sortable .header > table td:last-child {
        width: 80px;
    }

    .entities-list#sortable .header > table td:nth-child(3) {
        width: 55px;
        vertical-align: middle;
    }

    .entities-list#sortable .header > table td:first-child {
        width: 100px;
        text-align: center;
    }

.entities-list li.close .body {
    display: none;
}

.toggleButton-button-opened {
    height: 17px;
    width: 33px;
    display: block;
    margin: auto;
    background: transparent url(/Content/themes/base/images/arrs.png) 0 0 no-repeat;
}

.entities-list li.close .toggleButton-button-opened {
    background: transparent url(/Content/themes/base/images/arrs.png) 0 -51px no-repeat;
}

.input-validation-error {
    border: 1px solid #d78686 !important;
}

.question-score-container,
.question-time-container {
    border: 0px;
    clear: both;
    padding: 5px 20px 5px 50px;
    max-width: 1174px;
}

#ErrorsBlock.body.custom-points-error-block,
#ErrorsBlock.body.custom-time-error-block {
    padding-bottom: 20px;
    margin-top: -30px;
}

    #ErrorsBlock.body.custom-points-error-block .two-columns-medium .left-column-medium,
    #ErrorsBlock.body.custom-time-error-block .two-columns-medium .left-column-medium {
        width: auto;
    }

.subentities-list-addbutton-container {
    margin-left: -20px;
    padding: 10px 0 20px 0;
}

.quizRequirements-add {
    margin: 0 !important;
}

#quizRequirementsHeader {
    padding: 10px 0 20px 0;
    margin-left: 34px!;
}

.question-score-container .question-score-field input,
.question-time-container .question-time-field input {
    font-family: Open Sans, sans-serif;
    border: 0px;
    padding: 3px;
    font-size: 16pt;
    font-weight: 500;
    color: #F6F7F8;
    background-color: rgba(0, 0, 0, 0.18);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 35px;
    text-align: center;
    width: 100%;
}

.header {
    background-color: rgba(255, 255, 255, 0.1);
}

.Move-Icon {
    cursor: pointer;
    display: block;
    margin: auto;
    fill: white;
    padding: 10px;
}

.entities-list .ui-sortable-helper .Move-Icon {
    fill: #efa923;
}

.sort-placeholder .header {
    border: none !important;
}

.answers.header .entity-item-remove-button a {
    background: transparent url('/Content/themes/base/images/cross-3.png') left center no-repeat;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input[type="checkbox"] {
        opacity: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.18);
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 27px;
        width: 27px;
        left: 2px;
        bottom: 4px;
        background-color: rgba(255, 255, 255, 0.5);
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:after {
        content: attr(data-checked-no);
        position: absolute;
        top: 8px;
        right: 18px;
        font-family: inherit;
        font-size: 100%;
        font-weight: 500;
    }

input[type=checkbox]:checked ~ .slider {
    background-color: rgba(255, 255, 255, 0.3);
}

input[type=checkbox]:focus ~ .slider {
    box-shadow: 0 0 1px #2196F3;
}

input[type=checkbox]:checked ~ .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #cbde9d;
    left: 22px;
}

input[type=checkbox]:checked ~ .slider:after {
    content: attr(data-checked-yes);
    position: absolute;
    top: 8px;
    left: 15px;
    font-family: inherit;
    font-size: 100%;
    font-weight: 500;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

    .slider.round:before {
        border-radius: 50%;
    }

.checkbox-switch {
    border: 0;
    top: 5px;
    float: right;
}

/*------------------------------ Styles for second switch control BEGIN -------------------------------------------------------------------------------*/
.onoffswitch {
    position: relative;
    width: 85px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 35px;
        padding: 0;
        line-height: 35px;
        font-size: 100%;
        color: white;
        box-sizing: border-box;
    }

    .onoffswitch-inner:before {
        content: "ON";
        padding-left: 12px;
        background-color: rgba(255, 255, 255, 0.5);
        color: #FFFFFF;
    }

    .onoffswitch-inner:after {
        content: "OFF";
        padding-right: 12px;
        background-color: rgba(0, 0, 0, 0.18);
        color: #FFFFFF;
        text-align: right;
    }

.onoffswitch-switch {
    display: block;
    width: 26px;
    margin: 4.5px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 46px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked ~ .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked ~ .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    background-color: #CBDE9D;
}
/*------------------------------ Styles for second switch control END -------------------------------------------------------------------------------*/
.subentities-list-addbutton-container a {
    background-image: url('/Content/themes/base/images/plus.png');
    background-repeat: no-repeat;
    background-position: left center;
    text-decoration: underline;
    display: block;
    color: #FFFFFF;
    text-indent: 25px;
}

.subentities-list-add-note {
	padding: 20px 0 20px 20px;
	color: #ffffff;
}
	.subentities-list-add-note .editor-field {
		width: 80%;
		margin-top: 20px !important;
	}


	.subentities-list-add-note .checkbox label {
		padding: 0 0 0 30px !important;
	    margin-left: -20px;
	}

    .subentities-list-add-note .checkbox label:before,
    .subentities-list-add-note .checkbox label:after {
	    left: 0 !important;
    }

    .subentities-list-addbutton-container a:hover {
        text-decoration: underline !important;
    }

    .subentities-list-addbutton-container a.hide {
        display: none;
    }
.subentities-list-add-note .custom-validation-error {
    margin-top: 18px;
}
@media(max-width:806px) {
    .subentities-list-add-note .editor-field {
        width: 85%;
    }
}
@media (max-width: 768px) {
    .subentities-list-add-note {
        padding: 20px 0;
    }
    .subentities-list-add-note .checkbox {
        padding-left: 30px;
    }
    
    .subentities-list-add-note .checkbox label {
        padding: 0 0 0 30px !important;
        margin-left: -30px;
        line-height: 1.5rem;
    }

    .subentities-list-add-note .checkbox label:after {
        position: absolute;
        background-position: center;

    }
    .subentities-list-add-note .editor-field {
        width: 100%;
    }
}



    #addButton {
        background-color: #b7ca88;
    }

    #saveButton,
    #btnBrowse,
    .btn--cropp-submit,
    .btn--cropp-broswe {
        background-color: #90a7d6;
    }

    #cancelButton,
    .btn--cropp-cancel {
        background-color: #9ea5b5;
    }

    .editor-subsection {
        margin: 0;
    }

    .custom-settings-block .three-columns-small .small-block.question-score-container,
    .custom-settings-block .three-columns-small .small-block.question-time-container {
        padding: 5px 0;
        width: 29%;
    }

        .custom-settings-block .three-columns-small .small-block.question-score-container.hide,
        .custom-settings-block .three-columns-small .small-block.question-time-container.hide {
            display: none;
        }

        .custom-settings-block .three-columns-small .small-block.question-score-container.show,
        .custom-settings-block .three-columns-small .small-block.question-time-container.show {
            display: inline-block;
            vertical-align: bottom;
        }

    .custom-settings-block .three-columns-small .small-block:first-child + div {
        margin: 0 5%;
    }

    div[name~="AnswerTitleAfter"] .two-columns-medium .left-column-medium {
        width: 80%;
        display: inline-block;
        float: none;
    }

    div[name~="AnswerTitleAfter"] .two-columns-medium .right-column-medium {
        width: 15%;
        display: inline-block;
        float: right;
        margin: 0;
    }

    body span.sub-menu-current-item-wrapper {
        text-align: left !important;
    }

    .editor-field input.text-box {
        text-align: center;
        font-weight: 500;
        font-size: 16px;
    }

    #questionsForm .dropzone {
        background-position: center 10px;
        background-size: 40px;
    }

        #questionsForm .dropzone .dz-message {
            padding-top: 4em;
            padding-bottom: 0;
            font-size: 14px;
        }

    .dropzone {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        background-image: url('/Content/themes/base/images/photo.png');
        background-repeat: no-repeat;
        background-position: center 55px;
        border: 0;
        padding: 0;
        min-height: 0;
        z-index: 1;
    }

        .dropzone.dz-clickable * {
            cursor: pointer;
        }

        .dropzone .dz-preview.dz-image-preview img:hover {
            cursor: pointer;
        }

    .dz-details, .dz-error-message, .dz-success-mark, .dz-error-mark {
        display: none !important;
    }

    .dropzone .dz-message {
        padding: 10em 10px 0 10px;
        position: relative;
        display: block;
        margin: 0;
    }

        .dropzone .dz-message.hide {
            display: none;
        }

    .dropzone .dz-preview.dz-image-preview {
        width: 100%;
        height: 100%;
        background-color: transparent;
        margin: 0;
    }

    .dropzone .dz-preview .dz-image {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        padding: 5px;
    }

        .dropzone .dz-preview .dz-image img {
            width: 100%;
            /*height: 100%;*/
            z-index: 0;
        }

    .dropzone .dz-preview.dz-processing .dz-progress,
    .dropzone .dz-preview .dz-progress {
        top: 100%;
        left: 0;
        width: 100%;
        height: 5px;
        margin: 0;
    }

        .dropzone .dz-preview .dz-progress .dz-upload,
        .dropzone .dz-preview .dz-progress {
            background: #90a7d6;
        }

    .dropzone .dz-preview:hover {
        z-index: 0 !important;
    }

        .dropzone .dz-preview:hover .dropzone {
            z-index: 999999;
        }

        .dropzone .dz-preview:hover .dz-image img {
            filter: blur(0px);
            transform: scale(1, 1);
        }

    .dropzone .dz-preview.dz-file-preview .dz-image {
        background: none;
    }

    .dropzone .dz-preview {
        width: 100%;
        height: 100%;
        margin: 0;
        border: 0;
    }

    .toggle--popup, .entities-list .toggle--popup {
        position: absolute;
        background: azure;
        color: black;
        padding: 5px;
        width: 100%;
        box-sizing: border-box;
        margin-top: -30px;
        background: rgba(0, 0, 0, 0.2);
        color: #FFFFFF;
        z-index: 2;
        text-align: center;
        cursor: pointer;
    }

        .toggle--popup ul li,
        .entities-list .toggle--popup ul li {
            text-align: center;
            height: auto;
            line-height: normal;
            background: none;
        }

    [name~="QuestionContainer"] .right-column-big .editor-subsection {
        float: none;
    }

    span.field-validation-error {
        right: 0;
    }

        span.field-validation-error ~ .content-for-input {
            border-color: #d78686;
        }

    [name~="QuestionContainer"] span.field-validation-error {
        right: 0;
    }

    .header .entity-item-remove-button {
        top: 10px;
        left: -20px;
        /*left:0px;
    top:15px*/
    }

    #lblHideQuestion {
        display: none;
    }

    span[name~="delimiter"] {
        display: none;
    }

    [name~="AnswersContainer"] {
        padding-left: 20px;
    }

    .checkbox [type="checkbox"] ~ label.mobile {
        display: none;
    }

    .editor-field.timepicker input.text-box:hover, .editor-field.datepicker input.text-box:hover {
        cursor: pointer;
    }

    #ErrorsBlock .left-column-medium {
        width: auto;
    }

    [name~="QuizForm"] .right-column-big .editor-subsection {
        width: 100%;
    }

    #questionsForm .entities-list-container {
        margin-top: 50px;
    }

    .two-columns-big .left-column-big {
        display: inline-block;
        box-sizing: border-box;
        margin-top: 5px;
        position: relative;
        float: left;
        width: 20%;
    }

    .two-columns-big .right-column-big {
        width: 75%;
        display: inline-block;
        margin: 10px 0 0 0;
    }

    [name~="QuestionContainer"] .right-column-big .editor-field {
        margin: 0;
    }

    [name~="QuestionContainer"] .right-column-big .editor-subsection:first-child {
        margin-bottom: 40px;
    }

    .editor-field input.text-box + span {
        margin-top: 3px;
    }

    .content-for-input {
        font-family: Open Sans, sans-serif;
        border: 0px;
        font-size: 16px;
        color: #F6F7F8;
        background-color: rgba(0, 0, 0, 0.18);
        width: 100%;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        height: 35px;
        text-align: center;
        line-height: 33px;
        display: inline-block;
        box-sizing: border-box;
    }

        .content-for-input.hide {
            display: none;
        }

        .content-for-input.disabled {
            pointer-events: none;
            background-color: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.1);
            color: rgba(255, 255, 255, 0.5);
        }

    .three-columns-small {
        padding-bottom: 40px;
    }

    /* Calendar styles*/

    body .ic__datepicker {
        font-family: inherit;
    }

    body .ic__header {
        background: #747998;
    }

    body .ic__prev, body .ic__next {
        background: #747998;
    }

        body .ic__prev div {
            border-right-color: #4b546a;
        }

        body .ic__next div {
            border-left-color: #4b546a;
        }

    body .ic__header select {
        border: 0;
        border-radius: 2px;
        color: #5f687b;
    }

    body .ic__week-head td {
        color: #5f687b;
        border: 0;
        font-size: 14px;
    }


    body .ic__days td {
        border: 0;
        font-size: 14px;
        padding: 5px 0 8px;
    }

    body .ic__days .ic__day_state_selected {
    }

    body .ic__days .ic__day_state_current {
        background: #FFFFFF;
        color: #868DB1;
        border: 2px solid #868DB1;
    }

    body .ic__days .ic__day-empty {
        background: none;
    }

    .entities-list-loader #circleG {
        position: relative;
        top: -5px;
    }

    .entities-list-loader .circleG {
        width: 10px;
        height: 10px;
    }

    .subentities-list-loader #circleG {
        position: relative;
        margin-left: -10px;
        left: 0;
        top: 0;
    }

    .subentities-list-loader .circleG {
        width: 10px;
        height: 10px;
    }

    /*Score settings info*/
    .info-popup {
        position: fixed;
        width: 100%;
        bottom: 0px;
        z-index: 1000;
        top: 0px;
        background: rgba(0,0,0,0.5);
    }

    .popup-header {
        background-color: #909ab7;
        border-radius: 6px 6px 0 0;
        height: 50px;
        color: white;
        line-height: 50px;
        padding: 0px 60px 0 30px;
        position: relative;
    }

        .popup-header span {
            position: absolute;
            padding: 25px 12px;
            background-color: aliceblue;
            right: 20px;
            top: 0px;
            background: url(/Images/cancel-cross.png) no-repeat center center;
            background-size: 16px;
            cursor: pointer;
        }

    .popup-body {
        background-color: white;
        padding: 15px 30px;
    }

    .info-popup h1 {
        color: #3c6498;
        font-weight: bold;
        margin: 15px 0;
    }

    .info-popup table {
        height: 100%;
        margin: auto;
        max-width: 50%;
        table-layout: fixed;
    }

    .info-popup button {
        color: white;
        background: #9da7b7;
        border-radius: 6px;
        font-size: 16px;
        font-family: Open Sans, sans-serif;
        padding: 6px 35px;
        cursor: pointer;
        border: none;
    }

    .info-popup .popup-body ul li {
        padding: 5px 0;
        line-height: 20px;
    }

        .info-popup .popup-body ul li:before {
            content: "·";
            font-size: 30px;
            vertical-align: middle;
            color: #545d74;
            padding-right: 5px;
        }

    .info-popup .popup-body p {
        margin: 10px 0;
        line-height: 20px;
    }

    .info-popup.close {
        display: none;
        top: -500%;
    }

    .popup-body-footer {
        background-color: white;
        border-radius: 0 0 6px 6px;
        padding: 15px 30px;
        text-align: right;
        padding-top: 10px;
    }

    .enable-custom-points .info {
        background: #909ab7;
        position: absolute;
        z-index: 100;
        border-radius: 4px;
        padding: 10px 0px;
        width: 318px;
        right: 0px;
        font-size: 90%;
        max-width: 100%;
        opacity: 0;
        transition: all 0.5s ease 0.5s;
    }

        .enable-custom-points .info > div {
            padding: 0 20px;
        }

    .info-icon:hover + .info, .info:hover {
        display: block;
        cursor: default;
        opacity: 1;
        visibility: visible;
        transition: all 0.5s ease 0s;
    }

    .info {
        visibility: hidden;
    }

    .info-icon:hover {
        background-image: url(/Images/Info-Icon-active.png);
        cursor: default;
    }

    .info-icon {
        background: url(/Images/Info-Icon-close.png);
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: center center;
        color: transparent;
        padding: 0px 5px;
        margin-left: 5px;
        cursor: default;
    }

    body a.learn-more-link {
        color: #d2dff9;
        text-decoration: underline;
    }

        body a.learn-more-link:hover {
            text-decoration: underline;
        }

    .toggleButton--remove-button .entity-item-remove-button {
        height: 31px;
        width: 31px;
        position: absolute;
    }

        .toggleButton--remove-button .entity-item-remove-button a {
            height: 31px;
            width: 31px;
            display: block;
            background: transparent url(/Content/themes/base/images/cross-3.png)no-repeat;
            background-position: 5px 10px;
        }

    .two-columns-medium .subentities-list-addbutton-container {
        margin-left: 5px;
        padding: 0;
    }

        .two-columns-medium .subentities-list-addbutton-container div {
            position: relative;
            text-align: left;
            margin-left: 50%;
        }


    /*Cropper modal dialog begin*/
    .modal-dialog {
        position: relative;
        width: auto;
        margin: 10px;
    }

    .modal.show .modal-dialog {
        -webkit-transform: translate(0,0);
        -o-transform: translate(0,0);
        transform: translate(0,0);
    }

    .modal.fade .modal-dialog {
        -webkit-transition: -webkit-transform .3s ease-out;
        transition: -webkit-transform .3s ease-out;
        -o-transition: -o-transform .3s ease-out;
        transition: transform .3s ease-out;
        transition: transform .3s ease-out,-webkit-transform .3s ease-out,-o-transform .3s ease-out;
        -webkit-transform: translate(0,-25%);
        -o-transform: translate(0,-25%);
        transform: translate(0,-25%);
    }

    .modal-content {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: .3rem;
        outline: 0;
    }

    .modal-header {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 15px;
        border-bottom: 1px solid #eceeef;
    }

    .modal-body {
        position: relative;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 15px;
    }

    .modal-footer {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding: 15px;
        border-top: 1px solid #eceeef;
    }

    .modal-title {
        margin-bottom: 0;
        line-height: 1.5;
    }

    .btn--cropp-submit,
    .btn--cropp-browse,
    .btn--cropp-cancel {
        font-size: 16px;
        font-family: Open Sans, sans-serif;
        padding: 0 35px;
        cursor: pointer;
        color: #FFFFFF;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

    #cropper-loader {
        position: relative;
        width: 55px;
        display: inline-block;
        display: -o-inline-block;
        display: -ms-inline-block;
        display: -webkit-inline-block;
        display: -moz-inline-block;
        transform: translate(-35%, 15%);
        -o-transform: translate(-35%, 15%);
        -ms-transform: translate(-35%, 15%);
        -webkit-transform: translate(-35%, 15%);
        -moz-transform: translate(-35%, 15%);
    }

        #cropper-loader .cropper-circle:nth-child(1),
        #cropper-loader .cropper-circle:nth-child(3) {
            background: #f2b736;
        }

        #cropper-loader .cropper-circle:nth-child(2),
        #cropper-loader .cropper-circle:nth-child(4) {
            background: #499255;
        }

        #cropper-loader .cropper-circle {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: -15px;
            width: 19px;
            height: 19px;
            border-radius: 50%;
            transform: translateX(0) rotate(50deg) scale(0);
            -o-transform: translateX(0) rotate(50deg) scale(0);
            -ms-transform: translateX(0) rotate(50deg) scale(0);
            -webkit-transform: translateX(0) rotate(50deg) scale(0);
            -moz-transform: translateX(0) rotate(50deg) scale(0);
            animation: cropperload-circles 4600ms linear infinite;
            -o-animation: cropperload-circles 4600ms linear infinite;
            -ms-animation: cropperload-circles 4600ms linear infinite;
            -webkit-animation: cropperload-circles 4600ms linear infinite;
            -moz-animation: cropperload-circles 4600ms linear infinite;
        }

            #cropper-loader .cropper-circle:nth-child(1) {
                animation-delay: -1150ms;
                -o-animation-delay: -1150ms;
                -ms-animation-delay: -1150ms;
                -webkit-animation-delay: -1150ms;
                -moz-animation-delay: -1150ms;
            }

            #cropper-loader .cropper-circle:nth-child(2) {
                animation-delay: -2300ms;
                -o-animation-delay: -2300ms;
                -ms-animation-delay: -2300ms;
                -webkit-animation-delay: -2300ms;
                -moz-animation-delay: -2300ms;
            }

            #cropper-loader .cropper-circle:nth-child(3) {
                animation-delay: -3450ms;
                -o-animation-delay: -3450ms;
                -ms-animation-delay: -3450ms;
                -webkit-animation-delay: -3450ms;
                -moz-animation-delay: -3450ms;
            }

            #cropper-loader .cropper-circle:nth-child(4) {
                animation-delay: -4600ms;
                -o-animation-delay: -4600ms;
                -ms-animation-delay: -4600ms;
                -webkit-animation-delay: -4600ms;
                -moz-animation-delay: -4600ms;
            }

    .UserProvider.two-columns-big {
        margin-top: 0px !important;
    }

    .Promo.QuizTrackers .two-columns-medium {
        margin-bottom: 0px;
    }

    @keyframes cropperload-circles {
        50% {
            transform: translateX(35px) rotate(-45deg) scale(1);
        }

        100% {
            transform: translateX(75px) rotate(-45deg) scale(0);
        }
    }

    @-o-keyframes cropperload-circles {
        50% {
            -o-transform: translateX(35px) rotate(-45deg) scale(1);
        }

        100% {
            -o-transform: translateX(75px) rotate(-45deg) scale(0);
        }
    }

    @-ms-keyframes cropperload-circles {
        50% {
            -ms-transform: translateX(35px) rotate(-45deg) scale(1);
        }

        100% {
            -ms-transform: translateX(75px) rotate(-45deg) scale(0);
        }
    }

    @-webkit-keyframes cropperload-circles {
        50% {
            -webkit-transform: translateX(35px) rotate(-45deg) scale(1);
        }

        100% {
            -webkit-transform: translateX(75px) rotate(-45deg) scale(0);
        }
    }

    @-moz-keyframes cropperload-circles {
        50% {
            -moz-transform: translateX(35px) rotate(-45deg) scale(1);
        }

        100% {
            -moz-transform: translateX(75px) rotate(-45deg) scale(0);
        }
    }

    #croppQuizModal .modal__body a {
        display: inline-block;
    }

    #croppQuizModal .modal__footer a.disabled {
        pointer-events: none;
        cursor: default;
    }

    @media (min-width: 576px) {
        .modal-dialog {
            max-width: 500px;
            margin: 200px auto;
        }
    }
    /*Cropper modal dialog end*/

    .dropzonePromoQuiz {
        width: 200px;
        height: 200px;
    }

    @media (max-width: 768px) {
        .dropzonePromoQuiz {
            width: 150px;
            height: 150px;
        }
    }

    .dropzonePromoQuestion {
        width: 150px;
        height: 150px;
    }

    .Promo {
        clear: both;
        margin-top: 0px !important;
    }

    .Promo_EndBlock {
        margin-bottom: 80px !important;
    }

    .Promo__ImageBlock {
        vertical-align: top;
        text-align: center;
        margin-top: 0px !important;
        padding-top: 0px !important;
    }

    #questionsForm .Promo__ImageBlock .dropzone {
        background-position: center 40px;
    }

        #questionsForm .Promo__ImageBlock .dropzone .dz-message {
            padding-top: 6em;
        }

    @media (max-width: 768px) {
        .Promo__ImageBlock {
            display: block !important;
            text-align: left;
            width: 100% !important;
            margin-left: 0 !important;
            margin-bottom: 40px !important;
        }
    }

    .Promo__DropzoneField {
        display: inline-block;
        margin: 0px;
    }

    .Promo__TextBlock {
        vertical-align: top;
        margin-top: 0px !important;
        padding-top: 0px !important;
    }

    .Promo__TextBlock--quiz .ql-container .ql-editor {
        min-height: 157px;
    }

    .Promo__TextBlock--question .ql-container .ql-editor {
        min-height: 108px;
    }

    .ql-snow .ql-tooltip {
        color: #9fbffe;
    }

    @media (max-width: 768px) {
        .Promo__ImageBlock {
            width: 100%;
            text-align: center;
        }

        .Promo__TextBlock {
            width: 100%;
        }
    }


    .small-block--trackerType {
        width: 35%;
        display: inline-block;
        font-size: 16px;
        color: #FFFFFF;
        margin-left: 34px;
        min-width: 150px;
    }

    .small-block--trackerCode {
        width: 55%;
        display: inline-block;
        vertical-align: bottom;
    }

    .small-block--quizRequirements {
        margin-left: 34px!important;
        width: 65%;
        display: inline-block;
    }

    .quizRequirements-remove-button {
        margin-top: 0 !important;
    }

    .QuizRequirements__Row,
    .QuizTrackers__Row {
        white-space: nowrap;
    }

    .QuizTrackers__List .toggleButton--remove-button .entity-item-remove-button {
        margin-top: 0px;
    }

    .Requirements__List .toggleButton--remove-button .entity-item-remove-button {
        margin-top: 0px;
    }

    @media(max-width: 770px) {
        .small-block--quizRequirements {
               width: auto;
               display: block;
            }
    }

    @media (max-width: 1240px) {
        .QuizRequirements__Row,
        .QuizTrackers__Row {
            white-space: normal;
        }

        .QuizTrackers__Header {
            display: none;
        }

        .small-block--trackerType {
            width: auto;
            display: block;
        }

            .small-block--trackerType .editor-field {
                margin-bottom: 2px;
            }


        .small-block--trackerCode {
            margin-left: 34px;
            width: auto;
            display: block;
        }
    }
