﻿input, textarea {
    -webkit-appearance: none;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
}

@media screen and (max-width: 1100px) and (min-width: 768px) {
    #login-form-container .sign-in-form {
        width: 73%;
    }
}

@media screen and (max-width: 1100px) {
    .answer-user-container:not(:empty) ~ .centered .timer {
        padding-right: 0px !important;
    }

    #privacy,
    #user-terms {
        padding: 25px 15px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .convergence-goals-container .infoPopup {
        width: 50%;
    }

    #menu-container #language .lang {
        padding: 23px 30px 0 10px;
    }

    #menu-container #language ul#localization {
        position: absolute;
        top: 60px;
        right: 75px;
    }

    #warningWrapSpeaker {
        top: 40px;
    }

    #warningWrap {
        top: 10px;
    }

    #connectionSpeed,
    #connectionOffline {
        color: #FFFFFF;
        padding: 20px 10px 20px 60px;
        border-radius: 15px;
        display: none;
        z-index: 1;
        margin: 0 auto;
        font-size: 11px;
    }

    #connectionSpeedDescription {
        width: 75%;
    }

        #connectionSpeedDescription #descriptionText {
            font-size: 14px;
        }

            #connectionSpeedDescription #descriptionText p {
                padding: 10px;
            }

            #connectionSpeedDescription #descriptionText input {
                font-size: 14px;
            }

        #connectionSpeedDescription #descriptionImage #wifi-icon {
            background-size: 58px;
            background-position: center 160px;
        }

    .homepage-question .current-game [name~="ErrorMaximumAnswers"] {
        max-width: 50%;
    }

    .leaderContant .photo-container {
        width: 130px;
        height: 130px;
    }

        .leaderContant .photo-container .the-photo {
            width: 100px;
            height: 100px;
            left: 15px;
            top: 15px;
        }

    #banner-container .editor-subsection div,
    .pickers-block,
    #banner-container #btn-block {
        width: 80%;
    }

    #ErrorsBlock.body.custom-points-error-block .two-columns-medium .left-column-medium, #ErrorsBlock.body.custom-time-error-block .two-columns-medium .left-column-medium {
        width: 100%;
    }

    .centered .settings--row {
        width: 100%;
        margin-left: 0;
        padding: 0 15px;
        box-sizing: border-box;
    }

        .centered .settings--row #saveButton {
            margin: 0 0 15px 0;
        }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
    #menu-container #language .lang {
        padding: 23px 10px 0 10px;
    }

    .sign-in-form-line #forgotPassword {
        float: none;
        text-align: left;
        margin-bottom: 20px;
    }

    #btnForgotPassword {
        top: 0;
        float: none;
    }

    /*Hamburger menu begin*/
    div.burger {
        height: 30px;
        width: 50px;
        position: absolute;
        top: -10px;
        right: 0px;
        cursor: pointer;
        padding-left: 10px;
        padding-right: 30px;
        padding-bottom: 66px;
        box-sizing: border-box;
    }

    div.x,
    div.y,
    div.z {
        position: absolute;
        margin: auto;
        top: 0px;
        bottom: 0px;
        background: #fff;
        border-radius: 2px;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        -ms-transition: all 200ms ease-out;
        -o-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
    }

    div.x, div.y, div.z {
        height: 3px;
        width: 26px;
    }

    div.y {
        top: 18px;
    }

    div.z {
        top: 37px;
    }

    div.collapse {
        top: 20px;
        background: #FFFFFF;
        -webkit-transition: all 70ms ease-out;
        -moz-transition: all 70ms ease-out;
        -ms-transition: all 70ms ease-out;
        -o-transition: all 70ms ease-out;
        transition: all 70ms ease-out;
    }


    div.rotate30 {
        -ms-transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
        -webkit-transition: all 50ms ease-out;
        -moz-transition: all 50ms ease-out;
        -ms-transition: all 50ms ease-out;
        -o-transition: all 50ms ease-out;
        transition: all 50ms ease-out;
    }

    div.rotate150 {
        -ms-transform: rotate(150deg);
        -webkit-transform: rotate(150deg);
        transform: rotate(150deg);
        -webkit-transition: all 50ms ease-out;
        -moz-transition: all 50ms ease-out;
        -ms-transition: all 50ms ease-out;
        -o-transition: all 50ms ease-out;
        transition: all 50ms ease-out;
    }

    div.rotate45 {
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 100ms ease-out;
        -moz-transition: all 100ms ease-out;
        -ms-transition: all 100ms ease-out;
        -o-transition: all 100ms ease-out;
        transition: all 100ms ease-out;
    }

    div.rotate135 {
        -ms-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        -webkit-transition: all 100ms ease-out;
        -moz-transition: all 100ms ease-out;
        -ms-transition: all 100ms ease-out;
        -o-transition: all 100ms ease-out;
        transition: all 100ms ease-out;
    }

    div.navbar {
        height: 73px;
        background: #385e97;
    }

    div.circle {
        border-radius: 50%;
        width: 0px;
        height: 0px;
        position: absolute;
        top: 35px;
        right: 36px;
        background: #3b4477;
        opacity: 1;
        -webkit-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -moz-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -ms-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -o-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    }

        div.circle.expand {
            width: 2100px;
            height: 2055px;
            top: -560px;
            right: -525px;
            position: fixed;
            -webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -moz-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -ms-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -o-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        }

    div#menu-container {
        height: 60px;
        width: 100%;
        top: 0px;
        left: 0px;
    }

        div#menu-container ul li {
            list-style: none;
            position: absolute;
            top: 50px;
            left: 0;
            opacity: 0;
            width: 100%;
            text-align: center;
            font-size: 0px;
            -webkit-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -moz-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -ms-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -o-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        }

            div#menu-container ul li a {
                font-size: 21px;
                color: #FFFFFF;
                text-decoration: none;
            }

        div#menu-container li.animate {
            font-size: 21px;
            opacity: 1;
            -webkit-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -moz-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -ms-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -o-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        }

            div#menu-container li.animate:nth-of-type(1) {
                top: 50px;
                transition-delay: 0.0s;
            }

            div#menu-container li.animate:nth-of-type(2) {
                top: 110px;
                transition-delay: 0.03s;
            }

            div#menu-container li.animate:nth-of-type(3) {
                top: 170px;
                transition-delay: 0.06s;
            }

            div#menu-container li.animate:nth-of-type(4) {
                top: 230px;
                transition-delay: 0.09s;
            }

            div#menu-container li.animate:nth-of-type(5) {
                top: 290px;
                transition-delay: 0.12s;
            }

            div#menu-container li.animate:nth-of-type(6) {
                top: 350px;
                transition-delay: 0.15s;
            }

            div#menu-container li.animate:nth-of-type(7) {
                top: 410px;
                transition-delay: 0.15s;
            }

            div#menu-container li.animate:nth-of-type(8) {
                top: 470px;
                transition-delay: 0.15s;
            }

            div#menu-container li.animate:nth-of-type(9) {
                top: 530px;
                transition-delay: 0.15s;
            }

            div#menu-container li.animate:nth-of-type(10) {
                top: 590px;
                transition-delay: 0.15s;
            }

            div#menu-container li.animate:nth-of-type(11) {
                top: 650px;
                transition-delay: 0.15s;
            }

        div#menu-container ul li a {
            font-size: 17px;
            color: #FFFFFF;
            text-decoration: none;
        }

    #menu-container ul li a {
        text-indent: 30px;
        line-height: 1;
        font-weight: 500;
    }

    #menu-container ul li.active {
        background: none !important;
    }

    #menu-container #language {
        margin-right: 0;
        margin-top: 12px;
    }

    #menu-container #logoutForm {
        float: none;
    }

    #profile .left {
        float: none;
    }

    header #user-count {
        position: absolute;
        top: 5px;
    }

        header #user-count > div {
            color: #FFFFFF;
            float: left;
        }

            header #user-count > div > div {
                font-size: 15px;
                font-weight: 500;
            }

    header #menu-container ul #LogIn {
        padding-bottom: 10px !important;
        border-top: 1px solid rgba(255,255,255, 0.3);
        border-bottom: 1px solid rgba(255,255,255, 0.31);
    }

    header #menu-container ul #LogIn {
        float: left;
        font-size: 17px;
        width: 100%;
        line-height: 41px;
    }

    header #menu-container ul #home a {
        background-image: url('/Content/themes/base/images/home-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
        display: block !important;
    }

    header #menu-container ul #home.active a {
        background-image: url('/Content/themes/base/images/home-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #current-question a {
        background-image: url('/Content/themes/base/images/game-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #current-question.active a {
        background-image: url('/Content/themes/base/images/game-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }


    header #menu-container ul #current-question-owner a {
        background-image: url('/Content/themes/base/images/started-game.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #current-question-owner.active a {
        background-image: url('/Content/themes/base/images/started-game.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }


    header #menu-container ul #leaderboard a {
        background-image: url('/Content/themes/base/images/leaderboard-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #leaderboard.active a {
        background-image: url('/Content/themes/base/images/leaderboard-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #lectures a {
        background-image: url('/Content/themes/base/images/my-quizzes-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #lectures.active a {
        background-image: url('/Content/themes/base/images/my-quizzes-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #archive a {
        background-image: url('/Content/themes/base/images/archive-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #archive.active a {
        background-image: url('/Content/themes/base/images/archive-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #profile a {
        background-image: url('/Content/themes/base/images/user-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left 10px;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #profile.active a {
        background-image: url('/Content/themes/base/images/user-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left 10px;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #catalogOfQuizzes a {
        background-image: url('/Content/themes/base/images/catalog-of-quizzes-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left 10px;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #catalogOfQuizzes.active a {
        background-image: url('/Content/themes/base/images/catalog-of-quizzes-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left 10px;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    #menu-container ul #bookmarks a {
        text-align:left !important;
        text-indent:20px !important;
    }

    #menu-container ul #bookmarks.active a {
        text-align:left !important;
        text-indent:20px !important;
    }

    #menu-container ul #bookmarks a > span.icon-bookmark-star-link {
        font-size: 24px !important;
        display: inline !important;
        height: auto !important;
        margin-top: 0 !important;
        padding-right:15px;
    }

    #menu-container ul #bookmarks a > div{
            margin-left: 35px !important;
            margin-top:-7px !important;
        }

    header #menu-container ul #game-profile a {
        background-image: url('/Content/themes/base/images/user-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left 10px;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #game-profile.active a {
        background-image: url('/Content/themes/base/images/user-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left 10px;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container #logoutForm {
        float: left;
    }

    header #menu-container ul #logout {
        padding-bottom: 10px !important;
        border-top: 1px solid rgba(255,255,255, 0.3);
        border-bottom: 1px solid rgba(255,255,255, 0.31);
    }

        header #menu-container ul #logout a {
            background-image: url('/Content/themes/base/images/logout-mob.png');
            background-repeat: no-repeat;
            padding: 15px;
            background-position: left;
            margin-left: 15px;
            background-size: 25px;
            width: 100%;
            text-indent: 30px;
            font-size: 17px;
            line-height: 2;
        }

        header #menu-container ul #logout.active a {
            background-image: url('/Content/themes/base/images/logout-mob.png');
            background-repeat: no-repeat;
            padding: 15px;
            background-position: left;
            margin-left: 15px;
            background-size: 25px;
            width: 100%;
            text-indent: 30px;
            font-size: 17px;
        }

    header #menu-container ul #language .lang.mobile {
        display: block;
        padding: 13px 30px 13px 15px;
    }

    header #menu-container ul #language > span {
        background-repeat: no-repeat;
        background-position: left;
        float: left;
        margin-left: 19px;
        font-weight: 400;
        background-size: 25px;
        font-size: 17px;
        display: block;
        position: relative;
        top: 16px;
        margin-top:13px;
        padding-right:15px;
    }

    header #menu-container ul #language > a {
        padding: 10px 30px 10px 10px;
        border: 1px solid;
        border-radius: 3px;
        margin-top: 20px;
        margin-right: 15px;
        float: left;
        font-size: 17px;
        text-transform: none !important;
        display: block;
        text-indent: 0;
    }


    header #menu-container ul #adminUsers a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 27px;
        background-size: 25px;
    }

    header #menu-container ul #adminUsers.active a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 27px;
        background-size: 25px;
    }

    header #menu-container ul #adminQuizes a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminQuizes.active a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminStartedQuizes a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminBanners a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 10px;
        background-size: 45px;
        text-indent: 40px;
    }

    header #menu-container ul #adminBanners.active a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 10px;
        background-size: 45px;
        text-indent: 40px;
    }

    header #menu-container ul #adminStartedQuizes.active a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminPlans a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminPlans.active a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminTemplates a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminTemplates.active a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminAnnouncements a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminAnnouncements.active a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminTestimonials a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminTestimonials.active a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminAppSettings a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminAppSettings.active a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #LogIn a {
        background-image: url(/Content/themes/base/images/login-mob.png);
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left 10px;
        float: left;
        margin-left: 20px;
        background-size: 25px;
        background-position-y: 22px;
        line-height: 41px;
    }

    header #menu-container ul #LogIn.active a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    .lang:after {
        content: '';
        width: 30px;
        height: 15px;
        background-image: url('/Content/themes/base/images/arrow_down.png');
        background-repeat: no-repeat;
        background-position: 15px 6px;
        display: inline-block;
        position: absolute;
    }

    header #menu-container ul #language .lang.desktop {
        display: none !important;
    }

    header #menu-container ul #language.active > span {
        background-image: url('/Content/themes/base/images/settings-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 40px;
        font-weight: 400;
    }

    body header #menu-container ul #language .active#localization {
        width: 128px;
        height: 70px;
        position: absolute;
        top: 60px;
        right: 15px;
        margin-bottom: 10px !important;
    }

    header #menu-container ul #language .active.up#localization {
        top: -60px;
    }

    header #menu-container ul #language .active#localization li:first-child {
        top: 10px;
        padding: 0;
    }

    header #menu-container ul #language .active#localization li:last-child {
        top: 35px;
        padding: 0;
    }

        header #menu-container ul #language .active#localization li:last-child a {
            line-height: 25px;
        }

    header #menu-container ul #language .active#localization li a {
        color: #666c7d;
        font-size: 18px;
    }

    header #menu-container li.active {
        background-image: url('/Images/menu-icons/selected-page-bg.png');
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: cover;
    }

    header #menu-container > li {
        line-height: 100px;
    }

    ul#localization li {
        line-height: 1 !important;
    }

    .mobile.page-title {
        display: block;
    }


    /*Hamburger menu end*/

    header .page-title {
        position: absolute;
        height: 60px;
        text-align: center;
        width: 100%;
    }

        header .page-title > span {
            color: #FFFFFF;
            font-size: 20px;
            display: block;
            width: 100%;
            margin-top: 20px;
            text-align: center;
        }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation:landscape) {
    #warningWrapSpeaker {
        top: 10px;
    }

    .homepage-question .current-game [name~="ErrorMaximumAnswers"] {
        max-width: 40%;
    }

    .sign-in-form-line #forgotPassword {
        float: none;
        text-align: left;
        margin-bottom: 20px;
    }

    #btnForgotPassword {
        top: 0;
        float: none;
    }

    body section {
        opacity: 1 !important;
    }

    #menu-container {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    span[data-valmsg-for="Email"] {
        margin-bottom: -2px;
    }

    .sign-in-form-line #forgotPassword {
        margin-bottom: 30px;
    }

    .mobile-hidden {
        display: none;
    }

    .html-login-page #Register .privacy-policy {
        display: none;
    }

    .sign-in-form-footer .privacy-policy {
        margin: 0;
        padding: 10px 0 10px 0;
    }

        .sign-in-form-footer .privacy-policy a {
            background: none;
            padding: 0;
            margin: 0;
            line-height: 20px;
            margin-top: -20px;
        }

    #footer-container.footer-bottom {
        height: auto;
    }

        #footer-container.footer-bottom .copyright {
            line-height: 25px;
            padding: 10px 0 0 10px;
        }

        #footer-container.footer-bottom .privacy-policy {
            line-height: 25px;
            padding: 10px 0 10px 10px;
        }

            #footer-container.footer-bottom .privacy-policy a {
                margin-left: 0;
                line-height: normal;
            }

    #Register .privacy-policy {
        display: block;
        padding: 20px 0 20px 0;
        text-align: center;
    }

    .tow-collumn-left, .tow-collumn-right {
        float: none;
        width: 100%;
    }

    .right-column #login-form-container .sign-in-form {
        width: 90%;
        padding: 25px 5px;
        float: none !important;
        min-width: 90%;
    }

    form#Register {
        display: block;
        width: 100%;
    }

    section#body {
        background-image: none;
    }

    body section#body.profile {
        display: block;
        margin-top: 60px;
        position: relative;
        top: 0;
    }

    body .desktop {
        display: none !important;
    }

    body .mobile {
        display: block;
    }

    #desktop-quiz-theme {
        display: none;
    }

    #mobile-quiz-theme {
        display: table-row;
    }

        #mobile-quiz-theme h4 {
            padding-top: 25px;
            line-height: 20px;
            font-size: 24px;
            text-align: center;
        }

        #mobile-quiz-theme h2 {
            /*padding-top: 95px;*/
            font-size: 12px;
            text-align: center;
            padding-top: 25px;
        }

    #lecture-description-column {
        display: none !important;
    }

    #please-wait-row {
        padding: 10px 0 !important;
    }

        #please-wait-row .please-wait {
            line-height: 0 !important;
            height: 100% !important;
            padding: 0 !important;
            font-size: 12px !important;
        }

    .black-line {
        background: none;
    }

    body #mobile-timer {
        background-size: 100% !important;
    }

    .black-line .timer h4 {
        font-size: 20px !important;
    }

    .homepage {
        padding: 0 !important;
    }

    #desktop-quiz-wait td {
        background: none !important;
    }

    .homepage.homepage-question, .homepage.homepage-question > div > div {
        height: 80%;
    }

    .enter-code-line {
        width: 90% !important;
        margin: 30px auto !important;
        height: 253px;
    }

    #left-container {
        margin-left: 0px !important;
    }

    #top-list table {
        width: 100% !important;
        display: block;
        margin: 20px 0;
    }

        #top-list table td {
            font-size: 12px;
        }

    .Individuals-top-list-container > div {
        width: 100% !important;
    }

    body .question-dialog {
        max-width: 250px !important;
    }

    #question-info-container {
        width: 100% !important;
        padding: 20px 0 20px 0 !important;
    }

    .current-game-body {
        height: 200px;
        width: 100% !important;
        position: relative !important;
    }

    .top-5-name {
        font-size: 13px;
        width: 165px;
    }

    section#body.GameScreen .homepage {
        padding: 0px 20px !important;
    }

    #question-info-container ul > li label {
        background-size: cover;
    }

    button#answer-button {
        margin: 0px auto;
        clear: both;
    }

    .leader-container {
        display: block !important;
        padding: 20px;
    }

    .questions-count-container {
        padding: 0px 20px;
        font-size: 10px;
    }
    /*header > div:not(#top-menu-container),header > div#top-menu-container #top-menu
    {
        display:none;
    }*/
    #sign-in-item {
        background: none;
        background-color: #364A5E !important;
    }

    .right-column {
        width: 100% !important;
    }

    #mobile-leaderboard {
        display: inline-block !important;
    }

    #desktop-leaderboard {
        display: none;
    }

    .centered.clearfix.associate-account-form {
        position: relative;
        top: 55px;
        left: 0;
        margin-left: 0;
        margin-top: 0;
    }

    .associate-account-form .associate-account-form-wrap .clearfix {
        width: 100%;
    }

    .left.associate-account-form-item {
        width: 100%;
        margin-left: 0px !important;
        text-align: left;
    }

    .associate-account-form-item input[type="text"] {
        width: 99%;
    }

    .associate-account-form-item#btnSubmit {
        width: 100%;
    }

    .associate-account-form-item button {
        max-width: 100%;
    }

    #login-form-container .editor-field input.text-box {
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        padding: 10px;
        font-size: 100%;
    }

    #tblForgotPassword {
        margin-top: 20px;
        height: 85% !important;
    }

    #forgotPasswordDescr {
        text-align: center;
        max-width: 320px;
    }

        #forgotPasswordDescr p {
            font-size: 100% !important;
        }

    /*Games start begin*/
    #tblStartGame tr:first-child {
        display: none;
    }

    #tblStartGame tr td:last-child {
        padding: 0 !important;
    }

    #tblStartGame .the-time-text {
        padding-left: 0px;
    }

    #tblStartGame .footer-url {
        background: url(/Images/go-to.png)7px 30px no-repeat;
        background-size: 30px;
        line-height: 90px;
        /*height: 100px;*/
        vertical-align: middle;
        display: inline-block;
        color: white;
        padding: 0 10px 0 35px;
        font-size: 80%;
        font-weight: bold;
        width: 40%;
        float: left;
    }

    #tblStartGame .footer-game-code-container {
        width: 40%;
        float: left;
        margin-left: -15px;
        line-height: 88px;
    }

    #tblStartGame .footer-game-code {
        color: white;
        line-height: 35px;
        font-size: 100%;
        background-size: 100% 100%;
        vertical-align: middle;
        width: 30px;
        height: 35px;
        display: inline-block;
        background-image: url(/Images/Code1Bar.png);
    }

    #tblStartGame .powered-by {
        color: #FFFFFF;
        font-size: 80%;
        font-weight: 500;
    }

    #tblStartGame table tr td:first-child {
        display: none;
    }

    #tblStartGame table tr {
        display: table-row !important;
        width: 90%;
    }

    #tblStartGame table .the-photo {
        /*margin-right: 40px;*/
    }

    #tblStartGame .quiz-back {
        display: inline-block;
        width: 49%;
        height: 45px;
        float: left;
        background-image: url("/Images/btnBack.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        text-align: center;
    }

        #tblStartGame .quiz-back a {
            color: #FFFFFF;
            line-height: 45px;
            padding-left: 25px;
        }

        #tblStartGame .quiz-back:before {
            content: "";
            background-image: url("/Images/icoBack.png");
            background-repeat: no-repeat;
            position: absolute;
            background-size: 20px;
            background-position: 0 12px;
            height: 100%;
            width: 30px;
        }

    #tblStartGame .quiz-start {
        display: inline-block;
        width: 49%;
        height: 45px;
        float: left;
        text-align: center;
        background-image: url("/Images/btnStart.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-left: 5px;
    }

        #tblStartGame .quiz-start a {
            color: #FFFFFF;
            line-height: 45px;
            padding-left: 25px;
        }

            #tblStartGame .quiz-start a:before {
                content: "";
                background-image: url("/Images/icoPlay.png");
                background-repeat: no-repeat;
                position: absolute;
                background-size: 20px;
                background-position: 0 12px;
                height: 100%;
                width: 30px;
                margin-left: -25px;
            }

    #tblStartGame table #image-start-game {
        /*width: 100%;*/
    }
    /*Games start end*/

    #desktop-timer {
        display: none;
    }

    #mobile-timer {
        display: table !important;
    }

    .questions-count {
        position: relative;
        top: -30px;
        right: -20px;
    }

    .top-line .questions-count {
        position: absolute;
        /*top: -22px;*/
        top: 110px;
        right: 0px;
        color: #FFFFFF !important;
        margin-top: 0px !important;
    }

    body #answer-button-container.float-question {
        margin: 0px;
    }

    .questions-count span {
        font-size: 100%;
    }

    .question-text {
        display: block;
        color: #FFFFFF;
        font-size: 15px;
        text-align: left;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .entities-list {
        margin-bottom: 21px;
    }

    .entities-list-addbutton-container {
        position: absolute;
        right: 0;
        /*margin: 7px auto;*/
        /*padding: 8px 7px;*/
        padding: 0 7px;
    }

        .entities-list-addbutton-container button {
            padding: 8px 6px;
        }

    .navigation-buttons .navigation-buttons-right #nextButton {
        padding: 8px 30px !important;
    }

    .checkbox.checkbox--strange [type="checkbox"] ~ label:before {
        left: 110%;
        top: -55%;
        width: 20px;
        height: 20px;
    }

    .checkbox.checkbox--strange [type="checkbox"] ~ label:after {
        left: 112%;
        top: -55%;
        width: 18px;
        height: 18px;
    }

    .right-column-medium .editor-field {
        margin: 0 0 5px 0;
    }

    #sortable.entities-list {
        margin: 13px 10px !important;
    }

    .navigation-buttons input {
        font-size: 14px;
        padding: 8px 5px;
    }

    #lblShowQuestion {
        margin-right: 30px;
        /*position: absolute;*/
        float: right;
        top: 0px;
    }

        #lblShowQuestion:before {
            left: 110%;
            top: -90%;
            width: 20px;
            height: 20px;
        }

        #lblShowQuestion:after {
            left: 111%;
            top: -90%;
            width: 18px;
            height: 18px;
        }

    .key {
        background-size: 15px;
        background-position: left center;
        margin: 11px -7px -3px -20px !important;
        margin-left: -25px;
    }

    #btnRegister {
        padding: 10px 50px;
    }

    .two-columns-big .left-column-big .the-logo {
        background-position-x: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100% !important;
    }

    .convergence-goals-container ~ .logo-container .the-logo {
        height: 100% !important;
    }

    .convergence-goals-container {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    #ErrorsBlock {
        padding: 0 0 20px 0;
        box-sizing: border-box;
    }

        #ErrorsBlock .left-column-medium {
            width: 100%;
        }

        #ErrorsBlock.body {
            margin: 0;
        }

            #ErrorsBlock.body.custom-points-error-block {
                margin: 0;
            }

                #ErrorsBlock.body.custom-points-error-block .two-columns-medium .left-column-medium,
                #ErrorsBlock.body.custom-time-error-block .two-columns-medium .left-column-medium {
                    width: 100%;
                }

    [name~="ErrorBlockCustomPointsRange"] > span,
    [name~="ErrorBlockCustomTimeRange"] > span {
        clear: both;
        background-size: 20px !important;
        background-position: 10px center;
        text-align: center;
    }

        [name~="ErrorBlockCustomPointsRange"] > span > .field-validation-error,
        [name~="ErrorBlockCustomTimeRange"] > span > .field-validation-error {
            clear: both;
            background-size: 20px !important;
            background-position: 10px center;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    [name~="ErrorBlockCheckbox"],
    [name~="ErrorBlockAnswers"],
    [name~="ErrorMaximumAnswers"],
    [name~="ErrorBlockCustomPoints"],
    [name~="ErrorBlockCustomTime"] {
        clear: both;
        background-size: 20px !important;
        background-position: 10px center;
        text-align: center;
    }

        [name~="ErrorBlockCheckbox"] span,
        [name~="ErrorBlockAnswers"] span,
        [name~="ErrorMaximumAnswers"] span,
        [name~="ErrorBlockCustomPoints"] span,
        [name~="ErrorBlockCustomPointsRange"] span,
        [name~="ErrorBlockCustomTime"] span,
        [name~="ErrorBlockCustomTimeRange"] span {
            font-size: 75%;
            text-indent: 35px;
        }

    .subentities-list-addbutton-container div {
        /*width: 45% !important;*/
        width: 100%;
        float: left;
    }

    .profile-container .error-block-container {
        float: none;
    }

    .profile-container #login-form-container .sign-in-form-footer {
        margin-top: 25px;
    }

    .profile-container #mobile-lblFileSizeError.enabled,
    .profile-container #mobile-lblFileTypeError.enabled {
        top: 20px;
        float: none;
    }

    #mobile-lblFileSizeError,
    #mobile-lblFileTypeError,
    #mobile-lblFileRacyError {
        float: none;
        padding: 6px 0;
        width: 100%;
        margin-bottom: 10px;
        color: #ff6666;
        border: 1px solid #ff6666;
    }

        #mobile-lblFileSizeError.enabled,
        #mobile-lblFileTypeError.enabled,
        #mobile-lblFileRacyError.enabled {
            display: block;
            position: relative;
            top: 65px;
            line-height: initial;
        }

        #mobile-lblFileRacyError.enabled {
            top: 30px;
        }

    #mobile-profile .logo-container {
        float: none;
        height: 100px;
        margin-right: 0;
        padding-right: 0;
    }

    #login-form-container #mobile-profile.logo-container .the-logo {
        width: 100px !important;
        height: 100px !important;
    }

    #login-form-container #mobile-profile > div:first-child {
        display: table-row;
    }

    #mobile-profile .file-input-wrap {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        padding: 0;
    }

    #login-form-container #mobile-profile .file-input-wrap div {
        padding-left: 25px;
        margin-left: 10px;
    }

    #mobile-profile .error-block-container {
        display: table-row;
        width: 100%;
    }

    #mobile-profile .error-block {
        display: table-caption;
        caption-side: bottom;
    }

    #login-form-container #mobile-profile .error-block #lblFileSizeError {
        display: none;
    }

        #login-form-container #mobile-profile .error-block #lblFileSizeError.enabled {
            float: left;
            display: table-cell;
            width: 81%;
            position: absolute;
            margin-bottom: 30px;
            margin-top: 20px;
        }

    #result-message.success {
        position: relative;
    }

    #result-message.error {
        position: relative;
    }

    #company-list .infoPopup {
        width: 90% !important;
        margin: 0;
        height: 250px;
    }

        #company-list .infoPopup .info-title {
            padding: 30px 1px;
            line-height: 25px;
        }

        #company-list .infoPopup .navigation-buttons {
            padding-top: 0;
        }

            #company-list .infoPopup .navigation-buttons input[type="button"] {
                width: 40%;
            }

    .convergence-goals-container .infoPopup {
        left: 0;
        height: auto;
    }

        .convergence-goals-container .infoPopup p {
            padding-bottom: 10px;
        }

    /*Hamburger menu begin*/
    div.burger {
        height: 30px;
        width: 50px;
        position: absolute;
        top: -25px;
        right: 0px;
        cursor: pointer;
        padding-left: 10px;
        padding-right: 0;
        padding-bottom: 66px;
    }

    div.x,
    div.y,
    div.z {
        position: absolute;
        margin: auto;
        top: 0px;
        bottom: 0px;
        background: #fff;
        border-radius: 2px;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        -ms-transition: all 200ms ease-out;
        -o-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
    }

    div.x, div.y, div.z {
        height: 3px;
        width: 26px;
    }

    div.y {
        top: 18px;
    }

    div.z {
        top: 37px;
    }

    div.collapse {
        top: 20px;
        background: #FFFFFF;
        -webkit-transition: all 70ms ease-out;
        -moz-transition: all 70ms ease-out;
        -ms-transition: all 70ms ease-out;
        -o-transition: all 70ms ease-out;
        transition: all 70ms ease-out;
    }


    div.rotate30 {
        -ms-transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
        -webkit-transition: all 50ms ease-out;
        -moz-transition: all 50ms ease-out;
        -ms-transition: all 50ms ease-out;
        -o-transition: all 50ms ease-out;
        transition: all 50ms ease-out;
    }

    div.rotate150 {
        -ms-transform: rotate(150deg);
        -webkit-transform: rotate(150deg);
        transform: rotate(150deg);
        -webkit-transition: all 50ms ease-out;
        -moz-transition: all 50ms ease-out;
        -ms-transition: all 50ms ease-out;
        -o-transition: all 50ms ease-out;
        transition: all 50ms ease-out;
    }

    div.rotate45 {
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 100ms ease-out;
        -moz-transition: all 100ms ease-out;
        -ms-transition: all 100ms ease-out;
        -o-transition: all 100ms ease-out;
        transition: all 100ms ease-out;
    }

    div.rotate135 {
        -ms-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        -webkit-transition: all 100ms ease-out;
        -moz-transition: all 100ms ease-out;
        -ms-transition: all 100ms ease-out;
        -o-transition: all 100ms ease-out;
        transition: all 100ms ease-out;
    }

    div.navbar {
        height: 73px;
        background: #385e97;
    }

    div.circle {
        border-radius: 50%;
        width: 0px;
        height: 0px;
        position: absolute;
        top: 35px;
        right: 36px;
        background: #3b4477;
        opacity: 1;
        -webkit-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -moz-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -ms-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -o-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    }

        div.circle.expand {
            width: 1400px;
            height: 1555px;
            top: -566px;
            right: -566px;
            position: fixed;
            -webkit-transition: all 1000ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -moz-transition: all 1000ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -ms-transition: all 1000ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -o-transition: all 1000ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 1000ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        }

    div#menu-container {
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
    }

        div#menu-container ul li {
            list-style: none;
            position: absolute;
            top: 50px;
            left: 0;
            opacity: 0;
            text-align: center;
            font-size: 0px;
        }

            div#menu-container ul li a {
                font-size: 17px;
                color: #FFFFFF;
                text-decoration: none;
                -moz-user-select: none;
                -webkit-user-select: text;
            }

        div#menu-container li.animate {
            font-size: 21px;
            opacity: 1;
            width: 100%;
        }

            div#menu-container li.animate:nth-of-type(1) {
                top: 50px;
                /*transition-delay: 0.0s;*/
            }

            div#menu-container li.animate:nth-of-type(2) {
                top: 110px;
                /*transition-delay: 0.03s;*/
            }

            div#menu-container li.animate:nth-of-type(3) {
                top: 170px;
                /*transition-delay: 0.06s;*/
            }

            div#menu-container li.animate:nth-of-type(4) {
                top: 230px;
                /*transition-delay: 0.09s;*/
            }

            div#menu-container li.animate:nth-of-type(5) {
                top: 290px;
                /*transition-delay: 0.12s;*/
            }

            div#menu-container li.animate:nth-of-type(6) {
                top: 350px;
                /*transition-delay: 0.15s;*/
            }

            div#menu-container li.animate:nth-of-type(7) {
                top: 410px;
                /*transition-delay: 0.15s;*/
            }

            div#menu-container li.animate:nth-of-type(8) {
                top: 470px;
                /*transition-delay: 0.15s;*/
            }


            div#menu-container li.animate:nth-of-type(9) {
                top: 530px;
                /*transition-delay: 0.15s;*/
            }

            div#menu-container li.animate:nth-of-type(10) {
                top: 590px;
                /*transition-delay: 0.15s;*/
            }

            div#menu-container li.animate:nth-of-type(11) {
                top: 650px;
                /*transition-delay: 0.15s;*/
            }

    #menu-container ul li a {
        text-indent: 30px;
        line-height: 1;
        font-weight: 500;
    }

    #menu-container ul li.active {
        background: none !important;
    }

    #menu-container #language {
        margin-right: 0;
        margin-top: 12px;
    }

    #menu-container #logoutForm {
        float: none;
    }

    #profile .left {
        float: none;
    }

    header #user-count {
        position: absolute;
        top: 5px;
    }

        header #user-count > div {
            color: #FFFFFF;
            float: left;
        }

            header #user-count > div > div {
                font-size: 15px;
                font-weight: 500;
            }

    header #menu-container ul #home a {
        background-image: url('/Content/themes/base/images/home-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
        opacity: 1;
    }

    header #menu-container ul #home.active a {
        background-image: url('/Content/themes/base/images/home-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #current-question a {
        background-image: url('/Content/themes/base/images/game-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
        text-indent: 30px;
    }

    header #menu-container ul #current-question.active a {
        background-image: url('/Content/themes/base/images/game-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
        text-indent: 30px;
    }


    header #menu-container ul #current-question-owner a {
        background-image: url('/Content/themes/base/images/started-game.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 18px;
        background-size: 25px;
        text-indent: 28px;
    }

    header #menu-container ul #current-question-owner.active a {
        background-image: url('/Content/themes/base/images/started-game.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 18px;
        background-size: 25px;
        text-indent: 28px;
    }


    header #menu-container ul #leaderboard a {
        background-image: url('/Content/themes/base/images/leaderboard-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 18px;
        background-size: 25px;
    }

    header #menu-container ul #leaderboard.active a {
        background-image: url('/Content/themes/base/images/leaderboard-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 18px;
        background-size: 25px;
    }

    header #menu-container ul #lectures a {
        background-image: url('/Content/themes/base/images/my-quizzes-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #lectures.active a {
        background-image: url('/Content/themes/base/images/my-quizzes-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #archive a {
        background-image: url('/Content/themes/base/images/archive-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 23px;
        background-size: 25px;
    }

    header #menu-container ul #archive.active a {
        background-image: url('/Content/themes/base/images/archive-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 23px;
        background-size: 25px;
    }

    header #menu-container ul #profile a {
        background-image: url('/Content/themes/base/images/user-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left 10px;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #profile.active a {
        background-image: url('/Content/themes/base/images/user-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left 10px;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #catalogOfQuizzes a {
        background-image: url('/Content/themes/base/images/catalog-of-quizzes-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left 10px;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #catalogOfQuizzes.active a {
        background-image: url('/Content/themes/base/images/catalog-of-quizzes-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left 10px;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    #menu-container ul #bookmarks a {
        text-align:left !important;
        text-indent:20px !important;
        float:left;
        padding-left:0px !important;
    }

    #menu-container ul #bookmarks.active a {
        text-align:left !important;
        text-indent:20px !important;
        float:left;
    }

    #menu-container ul #bookmarks a > span.icon-bookmark-star-link {
        font-size: 24px !important;
        display: inline !important;
        height: auto !important;
        margin-top: 0 !important;
        padding-right:15px;
    }

    #menu-container ul #bookmarks a > div{
            margin-left: 35px !important;
            margin-top:-7px !important;
        }

    header #menu-container ul #game-profile a {
        background-image: url('/Content/themes/base/images/user-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left 10px;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #game-profile.active a {
        background-image: url('/Content/themes/base/images/user-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left 10px;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container #logoutForm {
        float: left;
    }

    header #menu-container ul #logout {
        padding-bottom: 10px !important;
        border-top: 1px solid rgba(255,255,255, 0.3);
        border-bottom: 1px solid rgba(255,255,255, 0.31);
    }

        header #menu-container ul #logout a {
            background-image: url('/Content/themes/base/images/logout-mob.png');
            background-repeat: no-repeat;
            padding: 15px;
            background-position: left;
            margin-left: 15px;
            background-size: 25px;
            width: 100%;
            text-indent: 30px;
            font-size: 17px;
        }

        header #menu-container ul #logout.active a {
            background-image: url('/Content/themes/base/images/logout-mob.png');
            background-repeat: no-repeat;
            padding: 15px;
            background-position: left;
            margin-left: 15px;
            background-size: 25px;
            width: 100%;
            text-indent: 30px;
            font-size: 17px;
        }

    header #menu-container ul #language > span {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        text-indent: 0px;
        font-weight: 400;
        background-size: 25px;
        font-size: 17px;
        padding-left:0px;
    }

    header #menu-container ul #language > a {
        padding: 10px 30px 10px 10px;
        border: 1px solid;
        border-radius: 3px;
        margin-top: 15px;
        margin-right: 25px;
        float: left;
        font-size: 17px;
        text-transform: none !important;
    }


    header #menu-container ul #adminUsers a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 27px;
        background-size: 25px;
    }

    header #menu-container ul #adminUsers.active a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 27px;
        background-size: 25px;
    }

    header #menu-container ul #adminQuizes a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminQuizes.active a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminStartedQuizes a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminStartedQuizes.active a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminBanners a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left 22px;
        float: left;
        margin-left: 20px;
        background-size: 30px;
    }

    header #menu-container ul #adminBanners.active a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left 22px;
        float: left;
        margin-left: 20px;
        background-size: 30px;
    }

    header #menu-container ul #adminPlans a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 22px;
    }

    header #menu-container ul #adminPlans.active a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 22px;
    }

    header #menu-container ul #adminTemplates a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminTemplates.active a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminAnnouncements a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminAnnouncements.active a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminTestimonials a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminTestimonials.active a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminAppSettings a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    header #menu-container ul #adminAppSettings.active a {
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 20px;
        background-size: 25px;
    }

    .lang:after {
        content: '';
        width: 30px;
        height: 15px;
        background-image: url('/Content/themes/base/images/arrow_down.png');
        background-repeat: no-repeat;
        background-position: 15px 6px;
        display: inline-block;
        position: absolute;
    }

    header #menu-container ul #language .lang.desktop {
        display: none !important;
    }

    header #menu-container ul #language.active > span {
        background-image: url('/Content/themes/base/images/settings-mob.png');
        background-repeat: no-repeat;
        padding: 15px;
        background-position: left;
        float: left;
        margin-left: 40px;
        font-weight: 400;
    }

    header #menu-container ul #language .active#localization {
        width: 119px !important;
        height: 70px;
        position: absolute;
        top: 60px;
        left: 112px;
        margin-bottom: 10px !important;
    }

    header #menu-container ul #language .active.up#localization {
        top: -60px;
    }

    header #menu-container ul #language .active#localization li:first-child {
        top: 10px;
    }

    header #menu-container ul #language .active#localization li:last-child {
        top: 35px;
    }

        header #menu-container ul #language .active#localization li:last-child a {
            margin-left: 0px;
            line-height: 25px;
        }

    header #menu-container ul #language .active#localization li a {
        color: #666c7d;
        margin-left: 0px;
        font-size: 18px;
        padding-left: 5px;
    }

    header #menu-container li.active {
        background-image: url('/Images/menu-icons/selected-page-bg.png');
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: cover;
    }

    header #menu-container > li {
        line-height: 100px;
    }

    ul#localization li {
        line-height: 1 !important;
    }

    header #menu-container ul #LogIn {
        float: left;
        font-size: 17px;
        width: 100%;
        border-top: 1px solid rgba(255,255,255, 0.3);
        border-bottom: 1px solid rgba(255,255,255, 0.31);
        padding-top: 10px !important;
    }

        header #menu-container ul #LogIn a {
            background-image: url(/Content/themes/base/images/login-mob.png);
            background-repeat: no-repeat;
            padding: 15px;
            background-position: left 10px;
            float: left;
            margin-left: 20px;
            background-size: 25px;
        }
    /*Hamburger menu end*/

    header .page-title {
        position: absolute;
        height: 60px;
        text-align: center;
        width: 100%;
    }

        header .page-title > span {
            color: #FFFFFF;
            font-size: 20px;
            display: block;
            width: 100%;
            margin-top: 20px;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 100%;
            overflow: hidden;
            line-height: 25px;
        }

    #error-text {
        position: relative;
        font-size: 30px;
        width: 80%;
        height: 50%;
        margin: 0 auto;
        background: rgba(145,152,183,0.52);
        color: #FFFFFF;
        padding: 20px;
        border-radius: 30px;
        line-height: 50px;
    }



    #privacy,
    #user-terms {
        padding: 25px 15px;
    }

        #privacy h3,
        #user-terms h3 {
            line-height: 40px;
            text-overflow: ellipsis;
            overflow: hidden;
        }



    .g-recaptcha {
        transform: scale(0.95);
        -webkit-transform: scale(0.95);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }

    .register-page_form-inner .the-logo {
        width: 64px !important;
        height: 64px !important;
        margin: 0 auto !important;
    }

    .register-page_form-inner input {
        font-size: 100%;
    }

    body #login-form-container .btnRotate {
        width: 49% !important;
        position: relative;
        margin: 0 !important;
        top: 15px;
    }

    body .btnRotate {
        width: 49% !important;
    }

    .logo-container #rotate-buttons-container {
        width: 100%;
        position: absolute;
        top: 105px;
        left: 0;
    }

        .logo-container #rotate-buttons-container .btnRotate {
            position: relative;
            display: inline-block;
            width: 49% !important;
            height: auto !important;
            margin: 0;
            padding: 2px !important;
            text-align: center;
        }

    #login-form-container .sign-in-form-footer body .register-page_form-inner .btnRotate {
        width: 49%;
    }

    #login-form-container .sign-in-form-footer {
        margin-top: 70px;
    }

    body .progress {
        width: 97%;
        margin-top: -20px;
    }

    body #quiz-content-table #mobileQuizImage {
        vertical-align: top !important;
    }

    .mobile-game #warningWrap {
        top: -25px;
    }

    #connectionSpeed, #connectionOffline {
        padding: 15px 0 15px 60px;
        font-size: 12px;
        margin: 0 5px 10px 5px;
        background-size: 35px;
    }

    #body #connectionSpeedDescription {
        top: 35%;
    }

    body #connectionSpeedDescription {
        width: 90%;
        top: 45%;
    }

    .homepage-question .current-game [name~="ErrorMaximumAnswers"] {
        max-width: 100%;
        top: 15px;
    }

    #banner-container {
        margin-top: 80px;
        line-height: normal;
    }

        #banner-container .editor-subsection div {
            width: 90%;
        }

    .pickers-block {
        width: 90%;
    }

    #banner-container .editor-subsection.time {
        width: 100%;
        margin: 0;
    }

        #banner-container .editor-subsection.time .timepicker, #banner-container .editor-subsection.time .datepicker {
            width: 100%;
            margin-bottom: 30px;
        }

    #banner-container #btn-block {
        width: 90%;
        height: 60px;
    }

    #banner-container .editor-subsection.time .datepicker.start-date {
        margin-left: 0;
    }

    .basicButton {
        padding: 0 8px;
    }

    ul#sub-menu {
        padding-top: 0;
    }

    body #sub-menu li .sub-menu-current-item-wrapper:not(.mobile) {
        display: none;
    }

    body #sub-menu li .sub-menu-current-item-wrapper.mobile {
        display: block;
        font-size: 14px;
        line-height: 40px;
    }

    body #sub-menu li span:before {
        margin-top: 3px;
        margin-left: -40px;
    }

    body #sub-menu li[data-title~="QuizInfo"] span {
        padding-right: 65px;
        padding-left: 50px;
    }

    body #sub-menu li {
        float: left;
        display: inline-block;
    }

        body #sub-menu li[data-title~="QuizInfo"] {
            float: left;
            width: 80%;
        }

        body #sub-menu li[data-title~="Questions"] {
            float: right;
            margin-right: 10px;
            width: 15%;
        }

        body #sub-menu li[data-title~="QuizInfo"] span:after {
            height: 3px;
            margin-top: 20px;
            margin-left: 15px;
        }

        body #sub-menu li[data-title~="QuizInfo"] span.not-current:after {
            margin-left: 0;
        }

    .logo-container.no-image.image-container {
        height: 100%;
        width: 100%;
    }

    .sign-in-form-line #forgotPassword {
        float: none;
        text-align: left;
        margin-bottom: 20px;
    }

    #btnForgotPassword {
        top: 0;
        float: none;
    }

    .centered .settings--row {
        width: 100%;
        margin-left: 0;
        padding: 0 15px;
        box-sizing: border-box;
    }

        .centered .settings--row #saveButton {
            width: 100%;
            margin: 0 0 15px 0;
        }
}

@media screen and (max-width: 767px) and (orientation:landscape) {
    #tblStartGame table .the-photo {
        margin-right: 0;
    }

    #connectionSpeedDescriptionWrap #connectionSpeedDescription {
        top: 33%;
    }

    body #warningWrap #connectionSpeed, body #warningWrap #connectionOffline {
        width: 65%;
        margin: 0 auto;
        float: none;
    }

    #warningWrapSpeaker {
        top: 35px;
    }

    body #sub-menu li[data-title~="QuizInfo"] {
        float: none;
    }

    body #sub-menu li[data-title~="Questions"] {
        float: none;
    }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
    .show {
        background-size: 40px;
    }

    #connectionSpeedDescription {
        top: 40%;
        width: 90%;
    }

        #connectionSpeedDescription #descriptionImage #wifi-icon {
            background-size: 58px;
            background-position: center 115px !important;
        }

    body .cssload-container.introduce .cssload-loading {
        transform: translateY(0);
    }
}

@media screen and (max-width: 360px) {
    body #top-list table tr td .photo-container {
        width: 90px;
        height: 90px;
        top: -16px;
    }

    #top-list table tr td:not(:first-child):not(:last-child) {
        width: 100px !important;
    }

    body .photo-container .leaderboard-individual-item-score {
        bottom: 0px !important;
        right: -16px;
        top: 0;
    }

    #ptTimeSelectCntr {
        width: 290px !important;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #error-form #error-text {
        position: relative;
        font-size: 30px;
        width: 80%;
        height: 50%;
        margin: 0 auto;
        background: rgba(145,152,183,0.52);
        color: #FFFFFF;
        padding: 20px;
        border-radius: 30px;
        line-height: 50px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation:landscape) {

    body #tblStartGame tr:nth-child(4) td {
        height: 50px !important;
    }

    body #tblStartGame .footer-url {
        height: 50px;
        background-position: 7px 15px;
        line-height: 60px;
    }

    body #tblStartGame .footer-game-code-container {
        line-height: 55px;
    }

    body #warningWrap {
        top: 30px;
    }

    body #mobile-quiz-theme h4 {
        /*padding-top: 50px;*/
        padding-top: 0;
    }

    section#body #quiz-image {
        vertical-align: top !important;
    }

        section#body #quiz-image .homepage-question {
            height: 100%;
            margin-top: 0;
        }

    #mobile-quiz-theme .black-line .centered {
        min-height: 50px;
    }

    #mobile-quiz-theme h2 {
        padding-top: 10px;
    }
}

@media all and (max-width : 374px) and (orientation:landscape) {
    body #connectionSpeedDescription {
        top: 10%;
    }
}
