﻿@media screen and (min-width: 360px) and (max-width: 767px) {

    .tow-collumn-left, .tow-collumn-right {
        float: none;
        width: 100%;
    }

    #login-form-container .sign-in-form {
        width: 100%;
        padding: 25px;
    }

    form#Register {
        display: block;
        width: 100%;
    }

    section#body {
        background-image: none;
    }

    body .desktop {
        display: none !important;
    }

    body .mobile {
        display: block;
    }

    #desktop-quiz-theme {
        display: none;
    }

    #mobile-quiz-theme {
        display: table-row;
    }

        #mobile-quiz-theme h4 {
            padding-top: 35px;
            line-height: 20px;
        }

    #lecture-description-column {
        display: none !important;
    }

    #please-wait-row {
        padding: 10px 0 !important;
    }

        #please-wait-row .please-wait {
            line-height: 0 !important;
            height: 100% !important;
            padding: 0 !important;
            font-size: 12px !important;
        }

    .black-line {
        background: none;
    }

        .black-line .timer h4 {
            display: block;
            min-width: 250px;
            font-size: 20px !important;
            /*padding-left: 30px;*/
        }

    .homepage {
        padding: 0 !important;
    }

    #desktop-quiz-wait td {
        background: none !important;
    }

    .homepage.homepage-question, .homepage.homepage-question > div > div {
        height: 75%;
    }

    .enter-code-line {
        width: 90% !important;
        margin: 30px auto !important;
        height: 253px;
    }

    #left-container {
        margin-left: 0px !important;
    }

    #top-list table {
        width: 100% !important;
        display: block;
        margin: 20px 0;
    }

        #top-list table td {
            font-size: 12px;
        }

    .Individuals-top-list-container > div {
        width: 100% !important;
    }

    body .question-dialog {
        max-width: 250px !important;
    }

    #question-info-container {
        width: 100% !important;
        padding: 20px 0 20px 0 !important;
    }

    .current-game-body {
        height: 200px;
        width: 100% !important;
        position: relative !important;
    }

    .top-5-name {
        font-size: 13px;
        width: 165px;
    }

    section#body.GameScreen {
        background-image: url('/Images/game-bg.png');
    }

        section#body.GameScreen .homepage {
            padding: 0px 20px !important;
        }

    html, html body {
        min-height: 100%;
        background-image: url(/Images/register-bg.png) !important;
    }

    #question-info-container ul > li label {
        background-size: cover;
    }

    button#answer-button {
        margin: 0px auto;
        clear: both;
    }

    .leader-container {
        display: block !important;
        padding: 20px;
    }

    .questions-count-container {
        padding: 0px 20px;
        font-size: 10px;
    }
    /*header > div:not(#top-menu-container),header > div#top-menu-container #top-menu
    {
        display:none;
    }*/
    #sign-in-item {
        background: none;
        background-color: #364A5E !important;
    }

    .right-column {
        width: 100% !important;
    }

    #mobile-leaderboard {
        display: inline-block !important;
    }

    #desktop-leaderboard {
        display: none;
    }

    .left.associate-account-form-item {
        width: 100%;
        margin-left: 0px !important;
    }

    .associate-account-form-item input[type="text"] {
        width: 100%;
    }

    .associate-account-form-item button {
        max-width: 100%;
    }

    #login-form-container .editor-field input.text-box {
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        padding: 10px;
        font-size: 100%;
    }

    #tblForgotPassword {
        margin-top: 20px;
        height: 85% !important;
    }

    #forgotPasswordDescr {
        text-align: center;
        max-width: 320px;
    }

        #forgotPasswordDescr p {
            font-size: 100% !important;
        }

    /*Games start begin*/
    #tblStartGame tr:first-child {
        display: none;
    }

    #tblStartGame tr td:last-child {
        padding: 0 !important;
    }

    #tblStartGame .the-time-text {
        padding-left: 90px;
        overflow: hidden;
    }

    #tblStartGame .footer-url {
        background: url(/Images/go-to.png)7px 30px no-repeat;
        background-size: 30px;
        line-height: 90px;
        /*height: 100px;*/
        vertical-align: middle;
        display: inline-block;
        color: white;
        padding: 0 10px 0 35px;
        font-size: 15px;
        font-weight: bold;
        width: 40%;
        float: left;
    }

    #tblStartGame .footer-game-code-container {
        width: 40%;
        float: left;
        margin-left: -15px;
        line-height: 88px;
    }

    #tblStartGame .footer-game-code {
        color: white;
        line-height: 35px;
        font-size: 100%;
        background-size: 100% 100%;
        vertical-align: middle;
        width: 30px;
        height: 35px;
        display: inline-block;
        background-image: url(/Images/Code1Bar.png);
    }

    #tblStartGame .powered-by {
        color: #FFFFFF;
        font-size: 80%;
        font-weight: 500;
    }

    #tblStartGame table tr td:first-child {
        display: none;
    }

    #tblStartGame table tr {
        display: table-row !important;
        width: 90%;
    }

    #tblStartGame table .the-photo {
        margin-top: 10px;
    }

    #tblStartGame .quiz-back {
        display: inline-block;
        width: 49%;
        height: 45px;
        float: left;
        background-image: url("/Images/btnBack.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        text-align: center;
        margin-bottom: 20px;
        /*margin-top: -50px;*/
    }

        #tblStartGame .quiz-back a {
            color: #FFFFFF;
            line-height: 45px;
            padding-left: 25px;
        }

        #tblStartGame .quiz-back:before {
            content: "";
            background-image: url("/Images/icoBack.png");
            background-repeat: no-repeat;
            position: absolute;
            background-size: 20px;
            background-position: 0 12px;
            height: 100%;
            width: 30px;
        }

    #tblStartGame .quiz-start {
        display: inline-block;
        width: 49%;
        height: 45px;
        float: left;
        text-align: center;
        background-image: url("/Images/btnStart.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-left: 5px;
        margin-bottom: 20px;
        /*margin-top: -50px;*/
    }

        #tblStartGame .quiz-start a {
            color: #FFFFFF;
            line-height: 45px;
            padding-left: 25px;
        }

            #tblStartGame .quiz-start a:before {
                content: "";
                background-image: url("/Images/icoPlay.png");
                background-repeat: no-repeat;
                position: absolute;
                background-size: 20px;
                background-position: 0 12px;
                height: 100%;
                width: 30px;
                margin-left: -25px;
            }

    #tblStartGame table #image-start-game {
        /*width: 100%;*/
    }
    /*Games start end*/
    /*#connectionSpeed {
        border-radius: 10px;
        padding: 20px 3px 20px 60px;
        margin: 0 auto;
        font-size: 12px;
    }

        #connectionSpeed.show {
            background-size: 40px;
        }

        #connectionSpeedDescription {
            top: 40%;
            width: 90%;    
        }

    #connectionSpeedDescription #descriptionImage #wifi-icon {
        background-size: 58px;
        background-position: center 115px !important;
    }*/
}

@media screen and (min-width: 360px) and (max-width: 767px) and (orientation:landscape) {
    #imageContent table {
        display: none;
    }

    #tblStartGame .quiz-back {
        margin-top: 15px;
    }

    #tblStartGame .quiz-start {
        margin-top: 15px;
    }

    /*.homepage.homepage-question > div {
        padding-top: 25px;
    }*/

    /*#connectionSpeedDescription {
        top: 35%;
    }*/
}

@media all and (min-width: 160px) and (max-width: 360px) {
    html, html body {
        min-height: 100%;
        background-image: url(/Images/register-bg.png) !important;
    }

    body table.mobile-game {
        display: table;
    }

    #tblStartGame table tr td:first-child {
        display: none;
    }

    .desktop-game {
        display: none;
    }

    .mobile-game {
        display: table;
    }

        .mobile-game .the-photo {
            /*padding:0 30px 0 10px;*/
            padding: 0 30px 30px 10px;
        }

        .mobile-game .footer {
            background-color: rgba(91, 105, 127, 0.8);
            text-align: center;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
        }

        .mobile-game #time-left {
            display: block;
        }

        .mobile-game .black-line .centered {
            height: 50px;
        }

        .mobile-game .the-time-text {
            /*padding-left: 10px;*/
            padding: 0 10px 0 40px;
            text-align: left;
        }

        .mobile-game .timer .the-time {
            text-align: center;
            position: absolute;
            left: 8px;
            top: 30px;
            width: 30px;
            height: 30px;
            background: url('/Images/ReportIcon-mobile.png') center center no-repeat !important;
        }

        .mobile-game .black-line .timer {
            width: 100%;
        }

            .mobile-game .black-line .timer h4 {
                font-size: 17px;
                padding: 0;
                color: white;
                font-weight: 400;
                min-width: inherit;
            }

        .mobile-game .footer-url {
            background: url(/Images/go-to.png)5px 20px no-repeat;
            width: 50%;
            line-height: 54px;
            height: 50px;
            vertical-align: middle;
            display: inline-block;
            color: white;
            padding: 0 0 0 30px;
            font-size: 15px;
            font-weight: lighter;
            background-size: 10%;
        }

        .mobile-game .footer-game-code {
            color: white;
            line-height: 24px;
            font-size: 13px;
            background-size: 100% 100%;
            vertical-align: middle;
            width: 25px;
            height: 25px;
            display: inline-block;
            background-image: url(/Images/Code1Bar.png);
            margin-top: 5px;
        }

        .mobile-game .powered-by {
            font-size: 10px;
            color: white;
            float: none;
            padding: 5px 10px;
            text-align: right;
            position: relative;
        }

        .mobile-game .quiz-back {
            display: inline-block;
            width: 47%;
            height: 35px;
            float: left;
            background-image: url("/Images/btnBack.png");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            text-align: center;
            margin-left: 2%;
            margin-top: 15px;
        }

            .mobile-game .quiz-back a {
                color: #FFFFFF;
                line-height: 35px;
                padding-left: 25px;
                font-size: 12px;
            }

            .mobile-game .quiz-back:before {
                content: "";
                background-image: url("/Images/icoBack.png");
                background-repeat: no-repeat;
                position: absolute;
                background-size: 20px;
                background-position: 0 8px;
                height: 100%;
                width: 30px;
            }

        .mobile-game .quiz-start {
            display: inline-block;
            width: 47%;
            height: 35px;
            float: left;
            text-align: center;
            background-image: url("/Images/btnStart.png");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            margin-left: 2%;
            margin-top: 15px;
        }

            .mobile-game .quiz-start a {
                color: #FFFFFF;
                line-height: 35px;
                padding-left: 25px;
                font-size: 12px;
            }

                .mobile-game .quiz-start a:before {
                    content: "";
                    background-image: url("/Images/icoPlay.png");
                    background-repeat: no-repeat;
                    position: absolute;
                    background-size: 20px;
                    background-position: 0 8px;
                    height: 100%;
                    width: 30px;
                    margin-left: -25px;
                }

        .mobile-game tr td:last-child {
            padding: 0 !important;
        }
}

@media all and (min-width: 120px) and (max-width: 250px) {
    .mobile-game .footer-url {
        background: url(/Images/go-to.png) 15px 15px no-repeat;
        width: 95%;
        line-height: 50px;
        height: 50px;
        vertical-align: middle;
        display: inline-block;
        color: white;
        padding: 0 10px 0 25px;
        font-size: 15px;
        font-weight: lighter;
        background-size: 10%;
    }

    .mobile-game .quiz-back {
        display: inline-block;
        width: 80%;
        margin: 0 0 3% 10%;
        height: 35px;
        float: left;
        background-image: url("/Images/btnBack.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        text-align: center;
    }

    .mobile-game .quiz-start {
        display: inline-block;
        width: 80%;
        margin: 0 0 3% 10%;
        height: 35px;
        float: left;
        text-align: center;
        background-image: url("/Images/btnStart.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .mobile-game .footer-game-code {
        color: white;
        line-height: 27px;
        font-size: 15px;
        background-size: 100% 100%;
        vertical-align: middle;
        width: 30px;
        height: 30px;
        display: inline-block;
        background-image: url(/Images/Code1Bar.png);
    }

    #mobile-table {
        width: 100%;
        height: 100%;
        margin: 10px 0;
    }

    .mobile-game .black-line .timer h4 {
        font-size: 14px;
    }

    .mobile-game .powered-by {
        font-size: 8px;
    }
}

@media all and (min-width : 767px) and (max-width : 1024px) {
    /*.mobile-game tr td:last-child {
        vertical-align: bottom !important;
    }*/
    /*#connectionSpeed, #connectionOffline {
        background: #cd6368;
        color: #FFFFFF;
        padding: 20px 10px 20px 50px;
        border-radius: 15px;
        display: none;
        z-index: 1;
        margin: 0 auto;
        font-size: 11px;
        width: 40%;
    }

        #connectionSpeed.show, #connectionOffline.show {
            display: block;
            background-image: url('/Images/internet-notification.png') !important;
            background-repeat: no-repeat;
            background-size: 35px;
            background-position: 10px center;
        }

        #connectionSpeed #lnkShowMore:hover {
            text-decoration: underline;
            cursor: pointer;
        }

    #connectionSpeedDescription {
        width: 75%;
    }

        #connectionSpeedDescription #descriptionText {
            font-size: 14px;
        }

            #connectionSpeedDescription #descriptionText p {
                padding: 10px;
            }

            #connectionSpeedDescription #descriptionText input {
                font-size: 14px;
            }

        #connectionSpeedDescription #descriptionImage #wifi-icon {
            background-size: 58px;
            background-position: center 160px;
        }*/
}

@media all and (max-width : 374px) and (min-width: 320px) {

    /*body #warningWrap {
        top: 55px;
    }

    #connectionSpeed,
    #connectionOffline {
        margin: 0 auto;
        font-size: 11px;
        padding: 20px 11px 20px 60px;
        width: 75%;
    }

        .show {
            background-size: 35px;
        }

    #connectionSpeedDescription {
        width: 80%;
        top: 35%;
    }

        #connectionSpeedDescription #descriptionText {
            font-size: 14px;
        }

            #connectionSpeedDescription #descriptionText input {
                font-size: 14px;
            }

        #connectionSpeedDescription #descriptionImage #wifi-icon {
            background-size: 58px;
            background-position: center 95px !important;
        }*/
}
