﻿input, textarea {
	-webkit-appearance: none;
	border-radius: 0;
	box-shadow: none;
}

@media screen and (max-width: 1100px) {
	.topPlayersContainer .Individuals-top-list-title-container h3 {
		margin-bottom: 0;
	}

	.right-column, .right-block, .contact-details-right-panel {
		width: 72%;
	}

	.two-columns-small .responsive-column, .two-columns-micro .right-column-micro, .two-columns-micro .left-column-micro {
		margin: 0;
		clear: both;
		float: none;
		width: 100%;
	}

	body #tblAlert .infoPopup {
		width: 60%;
		height: auto;
	}

	.infoPopup {
		height: 30%;
	}

		.infoPopup p {
			font-size: 25px;
			line-height: 25px;
		}

		.infoPopup b {
			font-size: 50px;
			line-height: 50px;
			padding-top: 10px;
		}

	.infoPopupInner {
		width: 250px;
		height: 250px;
	}
}

@media screen and (max-width: 1024px) {
	.topPlayersContainer .Individuals-top-list-title-container h3 {
		margin-bottom: 0;
	}

	.search-button-container button {
		font-size: 15px;
	}

	#top-menu ul li a, #profile-widget-profile-link a {
		font-size: 12px;
	}

	.right-column, .right-block, .contact-details-right-panel {
		width: 76%;
	}

	.left-column, .left-block, .contact-details-left-panel, .leaderboard-team-item-left-block {
		width: 200px;
	}

	.contact-details-photo-container .the-photo {
		height: 132px;
	}

	.contact-details-photo-container .noImage {
		height: 132px;
		padding-top: 50px;
		background-position: center 45px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.editor-field.field-select input.ui-autocomplete-input, .editor-field.field-multiselect input.ui-autocomplete-input {
		width: auto;
	}

	#sub-menu li .sub-menu-current-item-wrapper, #sub-menu li a {
		font-size: 15px;
		padding: 8px 5px;
	}
}

@media screen and (max-width: 900px) {
	body .leftcolumn {
		width: 80px;
	}

	body .leader-board-item > .rightcolumn {
		padding: 15px;
	}

	.Individuals-top-list-container {
		padding-bottom: 15px;
	}

	body .leader-board-item > div {
		font-size: 17px;
	}

	.topPlayersContainer .Individuals-top-list-title-container h3 {
		margin-bottom: 0;
	}

	.right-column, .right-block, .contact-details-right-panel {
		width: 72%;
	}

	.ms-logo {
		font-size: 15px;
	}
}

@media screen and (max-width: 767px) {
	.editor-label-required {
		white-space: normal !important;
		overflow: visible !important;
	}

	.topPlayersContainer .Individuals-top-list-title-container h3 {
		margin-bottom: 0;
		padding: 20px 0;
	}

	body #currentQuestion-info-container {
		display: block;
	}

	body {
		overflow-y: auto !important;
	}

		body .answer-user-container {
			display: none;
		}

		body .top-line .theme {
			display: inline-block;
			max-width: 45%;
		}

		body #top-list > div {
			width: 100%;
			margin-left: 0 !important;
			clear: both;
			font-size: 12px;
		}

	#Powered_By_Azure {
		display: none;
	}

	body .leaderContant {
		display: block;
		margin: 20px 0;
		width: 100%;
	}

	#menu-container #language {
		/*display: none;*/
		margin-right: -50px;
	}

		#menu-container #language a {
			padding-left: 20px;
			text-indent: 0;
		}

	#desktop-photo {
		display: none !important;
	}

	#mobile-photo {
		display: table !important;
	}

	.homepage.homepage-question, .current-game-body.clearfix {
		padding-top: 0 !important;
	}

	.homepage.homepage-question {
		padding-top: 0px;
		margin-top: 30px;
	}

	#desktop-timer {
		display: none;
	}

	#mobile-timer {
		background: url("/Images/progress-bar-bg.png") !important;
		display: table !important;
	}

	.filter-textbox-container, .filter-selectlist-container {
		width: 100%;
		padding-right: 0;
	}

	.top-line {
		background: rgba(55,74,95,0.63);
	}

		.top-line .go-to, .theme, .game-code {
			display: none;
		}

	.logo .the-photo {
		border-radius: 3px;
	}

	.top-line #mobile-exit {
		height: 34px;
		width: 34px;
		float: right;
		line-height: 25px;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-image: url(/Images/exit-start.png);
		margin-top: 25px;
		margin-right: 15px;
		cursor: pointer;
	}

	.top-line .questions-count {
		height: 35px !important;
		margin-bottom: 10px;
		font-size: 10px;
		font-weight: bold;
		color: #FFFFFF !important;
		margin-top: 25px !important;
		/*right: 50px;*/
		line-height: 35px !important;
		right: 45px;
		margin-top: 110px;
		position: absolute;
	}

		.top-line .questions-count span {
			color: #b2bad0 !important;
			font-size: 100%;
		}

	#currentQuestion-info-container #question-info-container {
		width: 100%;
		padding-right: 10px;
		display: inline-block;
	}

	.current-game-body {
		display: block;
		vertical-align: top;
		width: 100% !important;
		float: left;
		height: 100%;
	}

		.current-game-body .the-photo {
			padding-right: 40px;
		}

		.current-game-body .Photobg {
			position: relative !important;
			padding-right: 15px;
		}

	body #currentQuestion-info-container #question-info-container {
		display: block;
		vertical-align: top;
		padding: 0px;
		float: none;
		width: 100%;
	}

	body #top-list.Individuals-top-list-container > div > div,
	body #top-list.Individuals-top-list-container > div > div > div {
		background-color: transparent !important;
	}

	.leaderboardItem {
		display: block;
	}

	body .two-columns-medium > .left-column-medium > .two-columns-medium > .right-column-medium input {
		margin-left: 0px;
	}

	#menu-container {
		min-height: 40px !important;
	}

		#menu-container li {
			line-height: 40px !important;
			padding: 0 7px !important;
		}

		/*#menu-container li:first-child {
				padding: 0 5px 0 0 !important;
			}*/

		#menu-container ul #login-text a {
			text-indent: 0 !important;
			padding-top: 10px !important;
		}

		#menu-container ul #login-text.active a {
			text-indent: 5px !important;
			padding-top: 10px;
		}

		#menu-container ul #main-text a {
			text-indent: 0 !important;
			padding-top: 10px;
		}

		#menu-container a {
			color: white;
			font-size: 12px;
			text-indent: -9999px;
			white-space: nowrap;
			overflow: hidden;
			display: inline-block !important;
		}

			#menu-container a:before {
				color: #fff;
				float: left;
				text-indent: 0;
			}

	#logoutForm a {
		margin-top: 10px;
		width: 20px;
		background: url(themes/base/images/logoff.png) no-repeat transparent left center;
		background-size: contain;
	}

	#code-form-container .enter-code-form {
		width: 100% !important;
		padding: 10px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		height: 100% !important;
		top: 0px;
		left: 0px;
		right: 0px;
	}

		#code-form-container .enter-code-form button {
			width: 100%;
			box-sizing: border-box;
		}

	#top-menu ul li {
		width: 25%;
	}

	body #tblAlert .infoPopup {
		height: auto;
		width: 90%;
	}

	.ms-logo {
		float: none;
	}

	body #tblAlert .infoPopup p {
		font-size: 13px;
		line-height: 15px;
	}

	body #tblAlert .infoPopup b {
		font-size: 28px;
		line-height: 30px;
		padding-top: 0;
	}

	body #tblAlert .infoPopup .info-title {
		font-size: 8pt;
		font-weight: 500;
		background-position: 5px center;
		text-indent: 25px;
		background-size: 20px;
		padding: 5px;
	}

		body #tblAlert .infoPopup .info-title img {
			top: 12px;
			width: 12px;
		}

	body #tblAlert .infoPopup .info-text {
		padding: 0 5px;
		font-weight: 500;
		font-size: 9pt;
		line-height: 20px;
		text-align: center;
	}

	body #tblAlert .infoPopup .navigation-buttons input {
		height: 30px;
	}

	.infoPopup {
		/*width: 130px;*/
		height: 130px;
		/*right: 10px;*/
		/*bottom: 10px;*/
		width: 90% !important;
		left: 5%;
		bottom: 10%;
	}

		.infoPopup p {
			font-size: 13px;
			line-height: 15px;
		}

		.infoPopup b {
			font-size: 28px;
			line-height: 30px;
			padding-top: 0;
		}

		.infoPopup .info-title {
			font-size: 20px;
			font-weight: 500;
			padding-top: 280px;
		}

		.infoPopup .info-text {
			padding-top: 20px;
			line-height: 20px !important;
			font-weight: 500;
			font-size: 13px !important;
		}

	.infoPopupInner {
		width: 130px;
		height: 130px;
	}

	.questionImg {
		margin: 0 auto 10px auto;
		max-width: 100%;
		max-height: 100px;
		float: none;
		display: block;
	}

	.answerSecondCol {
		padding-left: 35px;
	}

	.absCheck {
		margin-top: -8px;
	}

	#answer-button-container button, #answer-button-container a {
		width: 100% !important;
		margin: 10px 0;
		float: none;
	}

	#question-info-container-answers-container input[type="checkbox"] + label span {
		height: 21px;
		padding-left: 30px;
		background-size: 21px 43px;
	}

	#question-info-container-answers-container input[type="checkbox"]:checked + label span {
		background-size: 21px 43px;
		background-position: left bottom;
	}

	#question-info-container-answers-container li {
		font-size: 25px;
	}

	.history-container-title {
		font-size: 17px;
		padding: 10px 40px 20px 20px;
	}

	.question-history-info-item-container {
		padding: 20px 10px;
	}

	.question-history-info-item-header-upper-left.markQuestion:before {
		margin-top: -16px;
	}

	.homepage-question .current-game-body, .question-history-info-item-header-lower {
		font-size: 25px;
		float: none;
	}

	.questionsFilter a {
		padding: 0 10px;
		font-size: 11px;
		line-height: 40px;
	}

	.favouriteQuestionBtn span:before {
		top: 7px;
	}

	.questionsFilter a.allQuestionBtn {
		padding: 0 15px;
	}

	.questionsFilter {
		padding-left: 20px;
	}

	.wrapper {
		border-right: 0;
		border-left: 0;
		padding: 10px;
	}

	.profile-container .right-column {
		padding-right: 0;
		padding-left: 0;
	}

	.left-column, .left-block, .contact-details-left-panel, .right-column, .right-block, .contact-details-right-panel, .search-button-container, .filters, .leaderboard-team-item-left-block {
		width: 100%;
		padding-right: 10px;
		padding-left: 10px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.company-list-item-container {
		margin: 0 0 10px 0;
	}

	#top-menu {
		width: 100%;
	}

		#top-menu ul li {
			background-size: 1px 88px;
		}

			#top-menu ul li a {
				padding-top: 45px;
				font-size: 12px;
				padding-bottom: 6px;
				background-position: center 7px;
				height: auto;
			}

			#top-menu ul li#top-menu-game a {
				background-size: 29px 17px;
			}

			#top-menu ul li#top-menu-leaderboard a {
				background-size: 28px 26px;
			}

			#top-menu ul li#top-menu-exhibitors a {
				background-size: 27px 27px;
			}

			#top-menu ul li#top-menu-lectures a {
				background-size: 27px 27px;
			}

			#top-menu ul li#top-menu-attenders a {
				background-size: 31px 22px;
			}

			#top-menu ul li a:hover {
				background-position: center 10px;
			}

	.filters {
		padding: 0;
	}

	.search-button-container button {
		width: 100px;
		margin: 0 auto 6px auto;
		display: block;
	}

	.company-list-item-logo-container .the-photo, .company-details-logo-container .the-photo, .service-details-logo-container .the-photo, .leaderboard-team-item-photo-container .the-photo {
		margin: 0 auto;
	}

	.company-list-item-container h3, .contact-details-job-title, .leaderboard-individual-item-name a {
		font-size: 20px;
		line-height: 20px;
	}

	.company-list-item-title-company-name a, .company-details-header-company-name, .leaderboard-team-item-name a {
		font-size: 25px;
		line-height: 25px;
	}

	.company-list-item-title-booth, .leaderboard-team-item-booth {
		height: 20px;
		line-height: 17px;
		font-size: 13px;
		margin-top: 4px;
	}

	.company-list-item-mantra, .service-details-header-mantra, .leaderboard-team-item-mantra {
		font-size: 18px;
		line-height: 18px;
		padding-bottom: 20px;
	}

	.company-details-header-company-mantra {
		font-size: 18px;
		line-height: 18px;
		min-height: 0;
		padding-bottom: 20px;
	}

	.company-details-header-props-info-container, .leaderboard-team-item-exhibitor-partner-container {
		padding-bottom: 20px;
	}

		.company-details-header-props-info-container > div, .leaderboard-team-item-exhibitor-partner-container > div {
			clear: both;
			margin: 5px 0;
		}

	.company-list-item-score-container, .leaderboard-team-item-score {
		margin-top: 20px;
		height: 30px;
		line-height: 30px;
		font-size: 18px;
	}

	h3, .product-details-container h3, .product-details-container .product-details-solved-problems-header h3,
	.contact-details-header-first-line h3, .contact-details-header-second-line h3 {
		font-size: 20px;
		line-height: 20px;
		font-weight: 400;
	}

	.contact-details-header-first-line h3, .contact-details-header-second-line h3 {
		clear: none;
	}

	.contact-details-header-social-linkedin a {
		width: 30px;
		height: 30px;
		background-size: 90px 30px;
	}

	.togling-item-title {
		font-size: 15px;
		padding-left: 32px;
	}

		.togling-item-title:before {
			top: 19px;
			left: 6px;
		}

		.togling-item-title.colapsed:before {
			top: 15px;
			left: 10px;
		}

	.score-label, .leaderboard-individual-item-score, .leaderboard-team-item-score .value {
		margin: 5px;
		height: 21px;
		line-height: 21px;
		font-size: 14px;
		padding: 0 5px;
		border-radius: 10px;
	}

	.leaderboard-individual-item-score {
		top: -5px;
		position: relative;
		margin: 0;
	}

	.left-column, .leaderboard-team-item-left-block {
		padding-top: 10px;
	}

	.product-logo-container, .service-logo-container {
		margin: 0 auto 10px auto;
		float: none;
	}

	.product-info-container, .service-info-container {
		margin: 0;
	}

	.product-info-title-container a, .service-info-title-container a, .product-info-title-container span {
		font-size: 22px;
		line-height: 22px;
	}

	.company-back-to-list-container a {
		font-size: 20px;
		line-height: 20px;
		margin-top: 0;
		margin-bottom: 0;
	}

	.contact-item-container > div {
		display: block;
		width: 100%;
		padding: 10px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.contact-item-contact-goals-container {
		padding-left: 0;
	}

	.contact-item-left-panel .noImage, .contact-item-left-panel .the-photo {
		margin: 0 auto;
	}

	.service-item-container, .company-details-products-list-container .product-item-container {
		padding: 5px 5px 0 5px;
		margin: 6px 0 18px 0;
		border: 1px solid #ddd;
	}

	.company-details-dynamicproducts-list, .company-details-verticals-list {
		padding: 0 0 10px 0;
	}

	.company-details-verticals-list-item, .company-details-dynamicproducts-list-item, .service-details-properties-list li, .contact-details-list li, .product-details-properties-list li {
		display: inline-block;
		border: 1px solid #ddd;
		height: 19px;
		vertical-align: top;
		padding: 0 5px;
		line-height: 18px;
		font-size: 12px;
		margin: 0 5px 5px 0;
	}

	.service-details-container .right-block, .contact-details-right-panel {
		padding-top: 0;
	}

	.contact-details-left-panel {
		padding: 10px 0;
	}

	.service-details-images-container {
		margin-top: 20px;
	}

	.service-details-header-name h3 {
		font-size: 25px;
		line-height: 25px;
	}

	.contact-details-photo-container .the-photo {
		width: 100px;
		height: 100px;
		margin: 0 auto;
	}

	.contact-details-photo-container .noImage {
		padding-top: 25px;
		width: 100px;
		height: 100px;
		margin: 0 auto;
		background-position: center 25px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.contact-details-wrap, .contact-details-newline-label {
		padding-top: 10px;
	}

	.contact-details-label {
		font-size: 16px;
		line-height: 18px;
		width: 60px;
	}

	#answer-button-container button {
		width: 100%;
	}

	#answer-button-container button, .history-list-see-more-button-container button {
		width: 100%;
	}

	.black-line .timer {
		text-align: center;
		padding: 0 0 0 0;
	}

	.two-columns-small .left-column-small {
		width: 100%;
	}

	.two-columns-small .right-column-small, .two-columns-big .right-column-big, .two-columns-medium .right-column-medium {
		margin: 0;
	}

	.editor-field.editor-field-file {
		margin: 0 auto 10px auto;
	}

	.two-columns-big .left-column-big {
		position: relative;
		width: 100%;
	}

	#close-to-me-widget {
		display: none;
	}

	.right-column-big .editor-subsection:last-child {
		margin-bottom: 48px;
	}

	#sub-menu li .sub-menu-current-item-wrapper, #sub-menu li a {
		font-size: 13px;
		padding: 8px 5px;
	}

	#sub-menu li {
		margin-right: 2px;
	}

	.navigation-buttons input[type="button"], .navigation-buttons input[type="submit"] {
		padding: 8px 6px;
		font-size: 13px;
	}

	.navigation-buttons input[type="submit"], .navigation-buttons input[type="button"], .entities-list-addbutton-container button,
	.subentities-list-addbutton-container button, #user-profile-save-button-container button, .list-see-more-button-container button {
		padding: 8px 15px;
	}

	body .subentities-list-addbutton-container {
		padding: 0 0 20px 50px;
	}

	.multi-images-container .image-item {
		width: 100px !important;
		height: 100px !important;
		margin: 0 10px 10px 0;
	}

	.multi-images-container .images-container.no-image .image-item {
		line-height: 148px;
		background-position: center 35px;
	}

	.multi-images-container .images-container {
		margin: 30px 0 20px 33px;
	}

	.body {
		padding: 10px;
	}

	.three-columns-small .column-small {
		margin: 0;
		width: 100%;
	}

	.editor-field button {
		padding: 0 20px;
	}

	.header {
		padding: 25px;
	}

	.toggleButton-title {
		font-size: 20px;
		left: 48px;
		height: 25px;
		top: 11px;
		line-height: 23px;
		right: 39px;
	}

	.header .entity-item-remove-button {
		height: 21px;
		width: 21px;
		top: 13px;
		left: 10px;
	}

		.header .entity-item-remove-button a {
			height: 21px;
			width: 21px;
			background-size: 21px 21px;
		}

	.header .toggleButton-button {
		height: 12px;
		width: 23px;
		right: 10px;
		top: 18px;
	}

		.header .toggleButton-button a {
			height: 12px;
			width: 23px;
			background-size: 23px 48px;
		}

			.header .toggleButton-button a.toggleButton-button-closed {
				background-size: 23px 48px;
				background-position: 0 -36px;
			}

	.editor-field.empty-field {
		height: 27px;
	}

	.two-columns-medium .left-column-medium {
		width: 100%;
	}

	#login-form-container .sign-in-form form {
		width: auto;
	}

	#login-form-container .sign-in-form form, #login-form-container .sign-in-form a.social-button {
		float: none;
	}

	#login-form-container .sign-in-form button {
		width: 100%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 8px;
	}

	#Register #login-form-container .sign-in-form {
		max-width: 100%;
		width: 90%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	#login-form-container .sign-in-form input[type="text"], #login-form-container .sign-in-form input[type="password"] {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%;
		height: 40px !important;
		padding: 10px;
		font-size: 100%;
	}

	#login-form-container .or {
		font-size: 15px;
		font-style: italic;
		margin: 10px 0 25px;
		text-align: center;
		height: auto;
		float: none;
		border-left: none;
		clear: both;
	}

		#login-form-container .or span {
			padding: 0 8px;
			position: relative;
			top: 7px;
			left: auto;
			margin-left: 0;
		}

	#login-form-container .sign-in-form h3 {
		line-height: 25px;
	}

	#QuizCodeForm #code-form-container .enter-code-line input[type="text"] {
		width: 100% !important;
	}

	#code-form-container .enter-code-line input[type="text"] {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%;
		height: 40px !important;
		padding: 10px;
	}

	.leaderboard-individual-item-container > div, .leaderboard-team-item-container > div {
		display: block;
		width: 100%;
		max-width: 100%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		padding-right: 10px;
		padding-left: 10px;
	}

	.leaderboard-individual-item-left-block, .leaderboard-individual-item-center-block {
		padding-top: 20px;
	}

	.Individuals-top-before-user-container, .Individuals-top-current-user-container, .Individuals-top-list-item, .Individuals-top-after-user-container, .teams-top-list-container, .leaderboard-team-item-container {
		padding: 0;
	}

	.leaderboard-individual-item-container {
		margin-bottom: 15px;
	}

	.leaderboard-individual-item-center-block h4, .leaderboard-individual-item-company-container a, .leaderboard-individual-item-goals-list-container h4, .leaderboard-team-item-goals-list-container h4 {
		font-size: 18px;
		line-height: 18px;
		padding-bottom: 4px;
	}

	.leaderboard-individual-is-you {
		height: 21px;
		line-height: 21px;
		margin-top: 0;
	}

	.leaderboard-individual-item-center-block .leaderboard-individual-item-name {
		padding-bottom: 17px;
	}

	#info-block li {
		display: block;
		padding: 0 0 5px 0;
	}

		#info-block li.appstore, #info-block li.android, #info-block li.wp {
			padding-right: 0;
			display: inline-block;
		}

	.leaderboard-individual-item-company-booth {
		height: 20px;
		line-height: 20px;
		font-size: 13px;
		padding: 0 4px;
	}

	.leaderboard-team-place, .leaderboard-individual-place {
		margin-bottom: 5px;
		margin-top: 10px;
	}

	.Individuals-top-list-title-container h3 {
		padding-left: 10px;
	}

	.attender-items-container {
		padding-right: 0;
		padding-left: 0;
	}

	.leaderboard-individual-item-right-block, .leaderboard-team-item-right-block {
		padding-top: 15px;
	}

	.leaderboard-team-item-center-block {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	#profile-wrap > div {
		display: none;
	}

	#profile-wrap #profile-widget-profile-link {
		display: block;
	}

	#profile-or-sign-in {
		height: auto;
		width: 100%;
		text-align: center;
		border-top: 2px solid #000;
	}

	.toogleFilterBtn, .closeFilterBtn {
		display: block;
	}

	#sub-menu-container {
		position: relative;
	}

	.filters-container {
		display: none;
		margin: 0;
	}

	ul#sub-menu {
		padding-left: 0;
	}

	#sign-in-item {
		width: 100%;
	}

		#sign-in-item a {
			padding: 10px;
			background: none;
			height: auto;
			font-size: 16px;
		}

	.the-current-game {
		text-align: center;
	}

	.current-game-link {
		display: block;
		margin: 15px 0 0 0;
	}

	.timer {
		display: block;
		padding: 20px 0 40px 0;
	}

		.timer .the-time {
			float: none;
		}

	.current-game-footer {
		text-align: center;
	}

		.current-game-footer h4 {
			float: none;
			padding: 0 0 20px 0;
		}

	.current-game-footer {
		height: auto;
	}

		.current-game-footer .sign-in-block {
			float: none;
		}

	.sign-in-form {
		width: 100%;
	}

	.game-rules h3 {
		float: none;
		width: auto;
		padding: 0 0 20px 0;
	}

	.game-rules ol {
		margin: 0 0 0 0 !important;
		font-size: 15px;
		line-height: 1.3;
	}

	.home-banners .home-banner {
		width: auto;
		margin: 0 0 35px 0 !important;
		height: auto;
	}

	.desktop, .desktop.logo-container {
		display: none;
	}

	body #mobile-profile {
		display: table;
		width: 100%;
		height: 100px !important;
		margin-bottom: 25px;
		float: none;
	}

	#mobile-profile #rotate-buttons-container .EditImage {
		padding: 5px 20px 20px 20px;
	}

	#rotate-buttons-container .EditImage.active ~ ul {
		margin-top: -15px !important;
	}

	body #mobile-profile.logo-container .the-logo {
		margin: 0 auto !important;
		width: 100px !important;
		height: 100px !important;
	}

	body #mobile-profile > div {
		display: table-cell;
	}

		body #mobile-profile > div:last-child {
			vertical-align: middle;
			text-align: left;
		}

		body #mobile-profile > div:first-child {
			width: 100px;
			height: 100px;
			padding-right: 0;
		}

		body #mobile-profile > div .file-input-wrap div {
			margin: 0;
			padding: 0;
		}

	body form #profile {
		background-image: url(/Images/register-bg.png) !important;
	}

	#profile-table {
		position: relative !important;
	}

		#profile-table .sign-in-form-line {
			margin: 0 10px !important;
		}

	#mobile-profile .file-input-wrap > div {
		font-size: 14px !important;
		margin-left: 10px;
		text-align: center;
		/*line-height: 100% !important;*/
		line-height: 25px;
	}

	.logo-container .the-logo {
		margin-top: 2px;
		margin-left: 2px;
		height: 62px;
		width: 62px;
		/*width: 100% !important;*/
	}

	#mobile-profile.logo-container .image-container > div {
		background-position: 0 !important;
		/*position: absolute;*/
	}

	#rightPanel #login-form-container .sign-in-form {
		width: 100%;
		padding: 25px;
		min-width: 0 !important;
	}

	#login-form-container .sign-in-form-footer {
		height: 80px;
		padding: 0 !important;
	}

	#Register .logo-container .image-container {
		float: none;
	}

	#Register .file-input-wrap {
		margin-top: -155px;
		margin-left: 130px;
	}

	#Register .progress {
		margin-top: 0;
	}

	.file-input-wrap {
		/*margin-top: -90px;*/
	}

	#body .profile-container > div {
		position: relative;
		overflow: hidden;
		top: 0;
	}

	.question-text {
		display: block;
		color: #FFFFFF;
		font-size: 15px;
		text-align: left;
		font-weight: bold;
		margin-bottom: 15px;
		padding: 0 20px;
	}

	#answer-button-container.float-question {
		position: relative;
		left: auto;
		bottom: auto;
	}

	#question-info-container {
		margin-bottom: 0 !important;
	}

	body .question-score-container {
		padding: 25px 0 0 50px;
	}

	.right-column-medium.dates .quiz-start-time {
		width: 100%;
	}

	.right-column-medium.dates .quiz-end-time {
		width: 100%;
	}

	.left-column-medium .enable-custom-points {
		float: left;
		margin: 10px 0;
		text-align: left;
	}

		.left-column-medium .enable-custom-points .radios {
			margin: 10px 0;
		}

	.right-column-medium.quiz-code {
		margin: 20px 0;
	}
}

@media screen and (max-width: 700px) {
	.topPlayersContainer .Individuals-top-list-title-container h3 {
		margin-bottom: 0;
	}

	.filter-textbox-container, .filter-selectlist-container {
		width: 50%;
	}

	.question-history-info-item-header-upper-left, .question-history-info-item-header-upper-right {
		float: none;
		text-align: left;
		padding: 0 0 5px 0;
	}

		.question-history-info-item-header-upper-right .question-history-info-item-answers-count, .question-history-info-item-header-upper-right .question-history-info-item-correctanswers-count {
			padding: 0 10px 0 0;
		}
}

@media screen and (max-width: 360px) {
	.topPlayersContainer .Individuals-top-list-title-container h3 {
		margin-bottom: 0;
	}
	
	#desktop-photo {
		display: none !important;
	}

	#mobile-photo {
		display: table !important;
	}

	.homepage.homepage-question, .current-game-body.clearfix {
		padding-top: 0 !important;
	}

	.homepage.homepage-question {
		padding-top: 0px;
	}

	#desktop-timer {
		display: none;
	}

	#mobile-timer {
		background: url("/Images/progress-bar-bg.png") !important;
		display: table !important;
	}

	.filter-textbox-container, .filter-selectlist-container {
		width: 100%;
		padding-right: 0;
	}

	.top-line {
		background: rgba(55,74,95,0.63);
	}

		.top-line .go-to, .theme, .game-code {
			display: none;
		}

	.logo .the-photo {
		border-radius: 3px;
	}

	.top-line #mobile-exit {
		height: 34px;
		width: 34px;
		float: right;
		line-height: 25px;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-image: url(/Images/exit-start.png);
		margin-top: 25px;
		margin-right: 15px;
		cursor: pointer;
	}

	.top-line .questions-count {
		height: 35px !important;
		margin-top: 0 !important;
		font-size: 12px;
		font-weight: bold;
		color: #FFFFFF !important;
		right: 0;
		top: 115px;
		position: absolute;
	}

		.top-line .questions-count span {
			color: #b2bad0 !important;
			font-size: 100%;
		}

	.question-text {
		margin-top: 15px;
	}

	#currentQuestion-info-container #question-info-container {
		width: 100%;
		padding-right: 10px;
		display: inline-block;
	}

	.current-game-body {
		display: block;
		vertical-align: top;
		width: 100% !important;
		float: left;
		height: 100%;
	}

		.current-game-body .the-photo {
			padding-right: 40px;
		}

		.current-game-body .Photobg {
			position: relative !important;
			padding-right: 15px;
		}

	#currentQuestion-info-container #question-info-container {
		display: block;
		vertical-align: top;
		padding: 0px;
		float: none;
		width: 100%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	body #tblAlert .infoPopup {
		width: 65%;
	}

		body #tblAlert .infoPopup .info-text {
			padding: 0 10px;
			left: 0;
			right: 0;
			margin: auto;
			font-size: 13pt;
		}


	body #top-list.Individuals-top-list-container.centered {
		margin-top: 0;
	}

	.right-column-medium .editor-field.code {
		text-align: center;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.right-column-medium .editor-field.code {
		text-align: initial;
	}
}

@media screen and (max-width: 767px) and (orientation: landscape) {
	body #tblAlert .infoPopup .info-title {
		font-size: 12pt;
		background-position: 10px center;
		background-size: inherit;
		text-indent: 40px;
	}

	body #tblAlert .infoPopup .info-text {
		line-height: 20px;
		font-size: 11pt;
		margin: auto;
		left: 0;
		right: 0;
		padding: 10px 5px;
	}
}

@media screen and (height: 768px) {
	#top-list.Individuals-top-list-container.centered {
		margin-top: -20px;
	}
}


div.frameContainer {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0px;
    overflow: hidden;
}
    div.frameContainer > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0px;
    }
