﻿@using WaveAccess.MyQuiz.WebUI.app.panel.auth.core;
@using WaveAccess.MyQuiz.WebUI.app.panel.elements.authButtons;
@model AuthProviderViewModel

<button type="submit"
        name="provider"
        title="@Model.Text"
        value="@Model.Type"
        class="authTypeButton authTypeButton--@ViewBag.AuthButtonDisplayType authTypeButton--@Model.ClassPostfix">
    <div class="authTypeButton__Content">
        <div class="authTypeButton__Logo authTypeButton__Logo--@ViewBag.AuthButtonDisplayType authTypeButton__Logo--@Model.ClassPostfix authTypeButton__Logo--@ViewBag.AuthButtonDisplayType_@Model.ClassPostfix"></div>
        <div class="authTypeButton__Text authTypeButton__Text--@ViewBag.AuthButtonDisplayType">@authButton.SignInWith @Model.Text</div>
    </div>
</button>
