﻿@import "../../variables";

.authTypesForm {
    display: flex;
    justify-content:center;

    &--small {
        flex-flow: row;
    }

    &--classic {
        flex-flow: column;

        & .authTypeButton:not(:last-child) {
            margin: 0 0 20 * $px 0;
        }
    }
}

a.authTypeButton {
    display: inline-block;
}
.authTypeButton {
    border-radius: 5 * $px;
    text-decoration: none !important;
    text-align: center;
    speak: none;
    border: 0;
    outline: none;
    transition: background-color .2s ease;


    &--facebook {
        background-color: #4b64a6;

        &:focus, &:hover {
            background-color: #425a9a;
        }
    }

    &--vkontakte {
        background-color: #608bc7;

        &:focus, &:hover {
            background-color: #5a84bf;
        }
    }

    &--google {
        background-color: #dd4b39;

        &:focus, &:hover {
            background-color: #d74634;
        }
    }

    &--email {
        background-color: #66bb6a;

        &:focus, &:hover {
            background-color: #52b557;
        }
    }

    &--small {
        width: 44 *$px;
        height: 44 * $px;
        border-radius: 50%;
        margin-left: 8 * $px;
        margin-right: 8 * $px;
        padding: 0;

        &:focus, &:hover {
            transform: scale(1.1, 1.1);
            transition: transform .2s ease;
        }
    }

    &--classic {
        width: 100%;
        height: 44 * $px;
    }

    &__Content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
    }

    &__Logo {
        color: #fff !important;
        font-family: "mq" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;

        &--small {
            display: inline-block;
            font-size: 20 * $px;
            margin: 0;
            padding: 0;
        }

        &--classic {
            display: inline-block;
            font-size: 24 * $px;
            margin-right: 8 * $px;
        }

        &--classic_facebook {
            margin-right: 5 * $px;
        }

        &--facebook {

            &:before {
                content: '\6b';
            }
        }

        &--vkontakte {
            &:before {
                content: '\6e';
            }
        }

        &--google {
            &:before {
                content: '\53';
            }
        }

        &--email {
            width: 26px;
            height: 20px;
            background-image: url('/app/images/auth/myquiz_logo_small.png');
            background-repeat: no-repeat;
            background-size: 26 * $px 18 * $px;
            background-position-y: bottom;
        }
    }

    &__Text {
        color: #fff !important;

        @media (max-width: $screen-xs-max) {
            display: none;
        }


        &--small {
            display: none;
        }

        &--classic {
            display: inline-block;
        }
    }
}