﻿@using WaveAccess.MyQuiz.WebUI.app.panel.auth.core;
@using WaveAccess.MyQuiz.WebUI.app.panel.elements.authButtons;

@model AuthTypesContainerViewModel

<a href="@Url.Action("Login", "Account", Model.GetQueryParams())"
   class="authTypeButton authTypeButton--@ViewBag.AuthButtonDisplayType authTypeButton--email">
    <div class="authTypeButton__Content">
        <div class="authTypeButton__Logo authTypeButton__Logo--@ViewBag.AuthButtonDisplayType authTypeButton__Logo--email"></div>
        <div class="authTypeButton__Text authTypeButton__Text--@ViewBag.AuthButtonDisplayType">@authButton.SignInWith @authButton.Email</div>
    </div>
</a>
