﻿@import "../../../core/variables.scss";
.Calendar {
    display: flex;
    margin-top: 25 * $px;
    flex-grow: 1;

    &__Row {
        display: flex;
        flex-grow: 1;
    }

    &__Cell {
        display: flex;
        flex-grow: 1;
        margin-right: 20 * $px;
        margin-left: 20 * $px;
        flex-basis: 1px;
        width: 50%;
        padding-bottom: 10 * $px;
    }
}


.CalendarBlock {
    margin-top: -190 * $px;
    background-color: #fff;
    display: flex;
    flex-flow: column;

    @media (max-width: $screen-xs-max) {
        display: none;
    }

    &--shadow {
        box-shadow: 0 2px 14px rgba(0,0,0,.1);
    }

    &__Content {
        padding: 0 97 * $px 110 * $px 97 * $px;

        @media (max-width: $screen-md) {
            padding: 0 50 * $px 50 * $px 50 * $px;
        }
    }

    &__Header {
        height: 167 * $px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #D7D7D7;
    }

    &__HeaderText {
        display: flex;
        font-size: 30 * $px;
    }

    &__HeaderText p {
        font-weight: 300;
    }

    &__HeaderText p span {
        font-weight: 500;
    }

    &__HeaderIcon {
        display: flex;
        margin-right: 47 * $px;
        align-items: center;
    }

    &__Body {
        display: flex;
        /*padding: 0 85 * $px;*/
        @media (max-width: $screen-hideMenu-max) {
            padding: 0;
        }
    }
}

.Event {
    display: flex;
    flex-flow: column;
    flex-grow: 0;
    width: 100%;

    &__TopBlock {
        display: flex;
        align-items: center;
        height: 44 * $px;
    }

    &__Date {
        display: block;
        font-size: 20 * $px;
    }

    &__ParticipateBlock {
        display: flex;
        text-align: right;
        flex-grow: 1;
        justify-content: flex-end;
    }

    &__Participate {
        display: inline-block;
        color: #fff;
        font-size: 15 * $px;
        background-color: #5C6BC0;
        padding: 8 * $px 15 * $px;
        border-radius: 3 * $px;
        white-space: nowrap;
        border: 0;

        &--finished {
            background-color: #d7d7d7;
        }

        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }

    &--finished {
        background-color: #d7d7d7;
    }

    &__ImageBlock {
        justify-content: center;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        padding: 20 * $px;
        position: relative;
        align-items: flex-start;
        padding-bottom: 85* $px;

        &--fill {
        }

        & div.frameContainer {
            min-height: 200px;
            max-height: 320px;
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            padding-top: 25px;
            height: 0;
            width: 100%;
            margin: auto;

            & > iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    &__Image {
        width: 100%;
        background-size: cover;
        background-position: center;

        & > img {
            display: block;
            width: 100%;
            max-height: 320px;
        }
    }

    &__InfoBlock {
        display: flex;
        flex-grow: 1;
        flex-flow: column;
        box-shadow: 0px 0px 14px #F0F0F0;
        margin-top: 25 * $px;

        &--empty {
            align-items: center;
            justify-content: center;
        }
    }

    &__DetailsBlock {
        display: flex;
        flex-grow: 1;
        flex-flow: column;
        position: relative;
        overflow: hidden;
    }

    &__TextDetailsBlock {
        display: flex;
        flex-grow: 0;
        flex-flow: column;
        z-index: 3;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        &--fill {
            top: 0;
        }
    }

    &__NameBlock {
        display: flex;
        font-size: 18 * $px;
        padding-right: 20 * $px;
        padding-bottom: 15 * $px;
        padding-left: 30 * $px;
        min-height: 85 * $px;

        &--top {
            background: rgba(56, 56, 56, 0.5);
            color: #fff;
            border-top-left-radius: 3 * $px;
            border-top-right-radius: 3 * $px;
        }
    }

    &__Name {
        padding-right: 10 * $px;
    }

    &__DescriptionBlock {
        display: none;
        flex-grow: 1;
        padding-top: 20 * $px;
        padding-left: 20 * $px;
        padding-right: 20 * $px;
        background: #fff;
        overflow-y: auto;

        &--fill {
            display: flex;
            position: absolute;
            top: 85 * $px;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    &__PrizeBlock {
        padding: 20 * $px;
        padding-top: 15 * $px;
        border-top: solid 1px #E1E1E1;
        min-height: 130*$px;
        display: flex;
        flex-flow: row;
    }

    &__PrizeIcon {
        padding-right: 10 * $px;
    }

    &__PrizeName {
    }

    &__SoonIcon {
        width: auto;
        height: auto;
        font-size: 50px;
        color: #EAEAEA;
    }

    &__CodeBlock {
        background-repeat: no-repeat;
        background-size: auto 30* $px;
        background-position: left;
        padding-top:12* $px;
        padding-bottom:12 * $px;
        color: #fff;
        font-size:15 * $px;
        z-index: 1;        
    }
}

.icon-prize {
    color: #63bd6f;

    &.finished {
    color: #d7d7d7;
    }
}
.text-prize{
    vertical-align:middle;
    display:inline;
    padding-top: 20*$px;
}

.desktopBrush {
    background-image: url('/app/images/home/brush_Desktop.png');
}

.desktopBrushFinished {
    background-image: url('/app/images/home/brush_grey_Desktop.png');
}

.mobBrush {
    background-image: url('/app/images/home/brush_Mob.png');
}

.mobBrushFinished {
    background-image: url('/app/images/home/brush_grey_Mob.png');
}

.AnnouncementsCarousel {

    .carousel-inner > .item.next.left,
    .carousel-inner > .item.prev.right,
    .carousel-inner > .item.active {
        display: flex;
    }


    &__Navigate {
        display: flex;
        align-items: center;

        & > a {
            text-decoration: none;
        }

        &.prev {
            padding-right: 2.7125rem;
            display: flex;
            align-items: center;
        }

        &.next {
            padding-left: 2.7125rem;
            display: flex;
            align-items: center;
        }
    }
}
.ann-block-layout-mobile {
    display: none;
}
@media(max-width: $screen-sm-min) {
    .ann-block-layout-mobile {
        display: flex;
        flex-flow: column;
        width: 100%;
        order: 1;
        background-color: gray;

        .header-layout {
            $header-height: 80px;
            position: relative;
            background-color: #fff;

            .header {
                min-height: $header-height;
                background-size: cover;
                background-image: url("/app/images/home/announcement_calendar_background.png");
                text-align: center;

                $header-line-height: 15px;

                div {
                    line-height: $header-line-height;
                    position: absolute;
                    align-content: center;
                    width: 100%;
                    top: $header-height/2 - $header-line-height/2;

                    font: {
                        family: 'Open Sans';
                        size: 15px;
                        weight: 600;
                    }
                }
            }

            .horizontal-line {
                height: 1px;
                width: 92%;
                background-color: #d7d7d7;

                margin: {
                    left: auto;
                    right: auto;
                }
            }

            .body {
                position: relative;

                .prev-arrow,
                .next-arrow {
                    position: absolute;
                    top: 24px;
                    z-index: 10;
                }

                a[role="button"] {
                    text-decoration: {
                        color: initial;
                        line: none !important;
                        style: none !important;
                    }
                }

                .prev-arrow a::before, .next-arrow a::before {
                    color: #000;
                    font-size: 18px;
                }

                .prev-arrow {
                    left: 30px;
                }

                .next-arrow {
                    right: 30px;
                }

                .ann-header {
                    margin-top: 24px;
                    width: 100%;
                    text-align: center;

                    .full-date {
                        .time {
                            margin-left: 15px;
                        }

                        .time::before {
                            margin-right: 5px;
                        }

                        font: {
                            family: 'Open Sans';
                            weight: 600;
                            style: normal;
                            stretch: normal;
                        }

                        line-height: 1.25rem;
                        letter-spacing: normal;
                        color: #333333;
                    }

                    .participate-button {
                        margin-top: 21px;
                    }
                }

                .ann-details {
                    box-shadow: 0px 3.5px 12px 0 #f0f2f4;
                    margin: 10px 15px 20px 15px;
                    border-radius: 2px;

                    .quiz-details-layout {
                        position: relative;
                        width: 100%;
                        padding-bottom: 70px;

                        .image-block {
                            justify-content: center;
                            position: relative;

                            .code {
                                position: absolute;
                                top: 10 * $px;
                                left: 10 * $px;
                                padding: 5 * $px 10 * $px;
                                background-color: #fff;
                                opacity: 0.9;
                                border-radius: 16px;
                                color: #000;
                                z-index: 2;

                                &.open {
                                    display: none;
                                }
                            }

                            .carouselPlayer {
                                position: absolute;
                                height: 100%;
                                width: 100%;
                                top: 0;
                                left: 0;
                                z-index: 1;
                            }

                            .frameContainer {
                                min-height: 200px;
                                max-height: 320px;
                                position: relative;
                                padding-bottom: 56.25%; /* 16:9 */
                                padding-top: 25px;
                                height: 0;
                                width: 100%;
                                margin: auto;

                                & > iframe {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            .image {
                                width: 100%;
                                background-size: cover;
                                background-position: center;

                                & > img {
                                    display: block;
                                    width: 100%;
                                    max-height: 320px;
                                }
                            }
                        }

                        .quiz-title {
                            position: absolute;
                            font-size: 16 * $px;
                            padding: 10 * $px;
                            padding-top: 0 * $px;
                            padding-bottom: 15 * $px;
                            min-height: 85 * $px;
                            width: 100%;

                            .title-text {
                                padding-right: 10 * $px;
                            }

                            .title-text {
                                display: inline;
                            }

                            .details-button {
                                float: right;
                            }

                            &.open {
                                position: absolute;
                                width: 100%;
                                top: 0;
                                z-index: 100;
                                background: rgba(56, 56, 56, 0.5);
                                color: #fff;
                                border-top-left-radius: 3 * $px;
                                border-top-right-radius: 3 * $px;
                            }
                        }

                        .quiz-description {
                            display: none;
                            padding-top: 20 * $px;
                            padding-left: 20 * $px;
                            padding-right: 20 * $px;
                            background: #fff;
                            overflow-y: scroll;

                            &.open {
                                display: inline-block;
                                position: absolute;
                                top: 85 * $px;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                overflow-y: auto;
                                -webkit-overflow-scrolling: touch;
                                z-index: 3;
                            }
                        }
                    }

                    $prize-details-block-height: 60*$px;

                    .prize-details {
                        border-top: solid 1px #E1E1E1;
                        padding: 20 * $px;
                        padding-top:0;

                        .prize-name {
                            height: 100%;
                            display: flex;

                            span {
                                vertical-align: middle;
                                line-height: $prize-details-block-height;
                            }

                            span::before {
                                padding-right: 10 * $px;
                            }
                        }
                    }
                }
            }
        }
    }
}