﻿@using System.Globalization
@using WaveAccess.EventGame.Common.CodeHelpers
@using WaveAccess.MyQuiz.Common.Enums
@using WaveAccess.MyQuiz.WebUI.app.landings.home.shared
@using WaveAccess.MyQuiz.WebUI.Models
@model List<WaveAccess.MyQuiz.WebUI.QuizAnnouncementViewModel>

@{
    var resourceManager = announcements.ResourceManager;
}

@if (Model.Count > 0)
{
    <div class="ContentBlock">
        <div class="container">
            <div class="CalendarBlock CalendarBlock--shadow">
                <div class="CalendarBlock__Content">
                    <div class="CalendarBlock__Header">
                        <div class="CalendarBlock__HeaderIcon">
                            <img src="@Html.UrlCdn("~/app/images/home/icon_calendar.png")" width="52px" />
                        </div>
                        <div class="CalendarBlock__HeaderText">
                            @Html.Raw(announcements.Calendar__Header)
                        </div>
                    </div>
                    <div id="AnnouncementsCarousel" class="AnnouncementsCarousel CalendarBlock__Body carousel slide" data-interval="false">

                        @if (Model.Count > 2)
                        {
                            <div class="AnnouncementsCarousel__Navigate prev">
                                <a href="#AnnouncementsCarousel" data-slide="prev" class="icon-arrow-left-t3"></a>
                            </div>
                        }

                        <div class="Calendar carousel-inner" role="listbox">

                            @for (var i = 0; i < Model.Count; i = i + 2)
                            {
                                var rowCells = Model.Skip(i).Take(2).ToList();
                                <div class="Calendar__Row item">

                                    @foreach (var rowCell in rowCells)
                                    {
                                        <div class="Calendar__Cell">
                                            <div class="Event">
                                                <div class="Event__TopBlock">
                                                    <div class="Event__Date">
                                                        <b>@rowCell.StartDateTime.Date.Day @resourceManager.GetString(string.Format("month_{0}", rowCell.StartDateTime.Month)) </b>&nbsp;в @rowCell.StartDateTime.ToString("HH:mm")
                                                    </div>
                                                    <div class="Event__ParticipateBlock">
                                                        @if (rowCell.IsFinished)
                                                        {
                                                            <div class="Event__Participate Event__Participate--finished">@announcements.Finished</div>
                                                        }
                                                        else
                                                        {
                                                            @Html.ActionLink(announcements.Join, "QuizCodeWaitStart", "Game", new {quizCode = rowCell.Code}, new {@class = "Event__Participate"})
                                                        }
                                                    </div>

                                                </div>
                                                <div class="Event__InfoBlock">
                                                    <div class="Event__DetailsBlock">
                                                        <div class="Event__ImageBlock">
                                                            @if (rowCell.Image != null && rowCell.Image.MediaType == MediaType.Video.ToString())
                                                            {
                                                                <div class="frameContainer">
                                                                    <iframe src="@Url.YoutubeVideo(rowCell.Image, new YouTubePlayerParam() { AutoPlay = 0, EnableJsApi = 1})"
                                                                            class="carouselPlayerFrame"
                                                                            allowfullscreen="allowfullscreen"
                                                                            mozallowfullscreen="mozallowfullscreen"
                                                                            msallowfullscreen="msallowfullscreen"
                                                                            oallowfullscreen="oallowfullscreen"
                                                                            webkitallowfullscreen="webkitallowfullscreen"
                                                                            frameBorder="0">
                                                                    </iframe>
                                                                </div>
                                                            }
                                                            else if (rowCell.Image != null && rowCell.Image.MediaType == WaveAccess.MyQuiz.Common.Enums.MediaType.VideoSelfHosted.ToString())
                                                            {
                                                                if (!String.IsNullOrWhiteSpace(rowCell.Image.URL))
                                                                {
                                                                    <video class="azuremediaplayer amp-default-skin amp-big-play-centered" tabindex="0" storedSrc="@rowCell.Image.URL" thumbnailSrc="@rowCell.Image.ThumbnailUrl" language="@LocView.Leng"></video>
                                                                }
                                                                else
                                                                {
                                                                    <div class="Event__Image" style="background-image:url('@Html.UrlCdn("~/app/images/home/video_processing_" + LocView.Leng + ".png")')">
                                                                        <img src="@Html.UrlCdn("~/app/images/home/3x2bg.png")" />
                                                                    </div>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <div class="Event__Image" @Html.Raw(!string.IsNullOrEmpty(rowCell.ImagePath) ? " style=\"background-image:url(" + rowCell.ImagePath + ")\"" : "")>
                                                                    <img src="@Html.UrlCdn("~/app/images/home/3x2bg.png")" />
                                                                </div>
                                                            }
                                                            <div class="Event__CodeBlock@(rowCell.IsFinished?" desktopBrushFinished":" desktopBrush")">
                                                                <div style="padding-left: 10px;">@announcements.Code: @rowCell.Code</div>
                                                            </div>
                                                        </div>
                                                        <div class="Event__TextDetailsBlock">
                                                            <div class="Event__NameBlock">
                                                                <div class="Event__Name">@rowCell.Theme</div>
                                                                <div class="Event__Show">
                                                                    <span class="icon-rounded-plus pointer"></span>
                                                                </div>
                                                            </div>
                                                            <div class="Event__DescriptionBlock">
                                                                @rowCell.Description
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="Event__PrizeBlock">
                                                        @if (rowCell.IsQuizWinnerCodeEnabled)
                                                        {
                                                            <div class="Event__PrizeIcon">
                                                                <span class="icon-prize@(rowCell.IsFinished?" finished":"")"></span>
                                                            </div>
                                                            <div class="Event__PrizeName">@announcements.Prize: @rowCell.Prize</div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (rowCells.Count < 2)
                                    {
                                        <div class="Calendar__Cell">
                                            <div class="Event">
                                                <div class="Event__TopBlock">
                                                    <div class="Event__Date">
                                                        <b>@announcements.Soon</b>
                                                    </div>
                                                    <div class="Event__ParticipateBlock">
                                                    </div>
                                                </div>
                                                <div class="Event__InfoBlock Event__InfoBlock--empty">
                                                    <span class="icon-prize Event__SoonIcon"></span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>

                        @if (Model.Count > 2)
                        {
                            <div class="AnnouncementsCarousel__Navigate next">
                                <a href="#AnnouncementsCarousel" data-slide="next" class="icon-arrow-right-t3"></a>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="ann-block-layout-mobile">
        <div class="header-layout">
            <div class="header">
                <div>@Html.Raw(announcements.Calendar__Header_Mobile)</div>
            </div>
            <div class="horizontal-line"></div>
            <div id="mobileCarousel" class="body carousel slide" data-interval="false" data-ride="carousel">
                @if (Model.Count > 1)
                {
                    <div class="prev-arrow prev">
                        <a href="#mobileCarousel" data-slide="prev" role="button" class="icon-arrow-left-t3"></a>
                    </div>
                }
                @if (Model.Count > 1)
                {
                    <div class="next-arrow next">
                        <a href="#mobileCarousel" data-slide="next" role="button" class="icon-arrow-right-t3"></a>
                    </div>
                }
                
                <div class="carousel-inner" role="listbox">

                    @foreach (var announcement in Model)
                    {
                        <div class="item">
                        <div class="ann-header">
                            <div class="full-date">
                                <span class="date">@announcement.StartDateTime.Date.ToString("d MMMM", new CultureInfo(Localization.Current.Leng))</span>
                                <span class="time icon-clock-2">
                                    <span class="hour">@announcement.StartDateTime.ToString("HH")</span>
                                    <span class="delimeter">:</span>
                                    <span class="minute">@announcement.StartDateTime.ToString("mm")</span>
                                </span>
                            </div>
                            <div class="participate-button">
                                @if (announcement.IsFinished)
                                {
                                    <div class="Event__Participate Event__Participate--finished">@announcements.Finished</div>
                                }
                                else
                                {
                                    @Html.ActionLink(announcements.Join, "QuizCodeWaitStart", "Game", new { quizCode = announcement.Code }, new { @class = "Event__Participate" })
                                }
                            </div>
                        </div>
                        <div class="ann-details announcement">
                            <div class="quiz-details-layout">
                                <div class="image-block">
                                    @if (announcement.Image != null && announcement.Image.MediaType == MediaType.Video.ToString())
                                    {
                                        <div class="carouselPlayer"></div>
                                        <div class="frameContainer">
                                            <iframe type="text/html"
                                                    class="carouselPlayerFrame"
                                                    src="@Url.YoutubeVideo(announcement.Image, new YouTubePlayerParam(){AutoPlay = 0, EnableJsApi = 1, DisableKB = 1, FullScreen = 0, ModestBranding = 1, PlaysInline = 1, Showinfo = 0, Controls = 0})."
                                                    @*src="@announcement.Image.URL.Split('?')[0]?enablejsapi=1&autoplay=0&disablekb=1&fs=0&modestbranding=1&playsinline=1&showinfo=0&controls=0"*@
                                                    allowfullscreen="allowfullscreen"
                                                    mozallowfullscreen="mozallowfullscreen"
                                                    msallowfullscreen="msallowfullscreen"
                                                    oallowfullscreen="oallowfullscreen"
                                                    webkitallowfullscreen="webkitallowfullscreen"
                                                    frameBorder="0"></iframe>
                                        </div>
                                    }
                                    else if (announcement.Image != null && announcement.Image.MediaType == MediaType.VideoSelfHosted.ToString())
                                    {
                                        if (!String.IsNullOrWhiteSpace(announcement.Image.URL))
                                        {
                                            <video class="azuremediaplayer amp-default-skin amp-big-play-centered" tabindex="0" storedSrc="@announcement.Image.URL" thumbnailSrc="@announcement.Image.ThumbnailUrl" language="@LocView.Leng"></video>
                                        }
                                        else
                                        {
                                            <div class="image" style="background-image:url('@Html.UrlCdn("~/app/images/home/video_processing_" + LocView.Leng + ".png")')">
                                                <img src="@Html.UrlCdn("~/app/images/home/3x2bg.png")" />
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="image" @Html.Raw(!string.IsNullOrEmpty(announcement.ImagePath) ? " style=\"background-image:url(" + announcement.ImagePath + ")\"" : "")>
                                            <img src="@Html.UrlCdn("~/app/images/home/3x2bg.png")" />
                                        </div>
                                    }
                                </div>
                                <div class="horizontal-line"></div>
                                <div class="Event__CodeBlock@(announcement.IsFinished?" mobBrushFinished":" mobBrush")">
                                     <div style="padding-left: 10px;">@announcements.Code: @announcement.Code</div>
                                </div>
                                <div class="quiz-title">
                                    <div class="title-text">@announcement.Theme</div>
                                    <div class="details-button">
                                        <span class="icon-rounded-plus pointer"></span>
                                    </div>
                                </div>
                                <div class="quiz-description">
                                    @announcement.Description
                                </div>
                            </div>
                            @if (announcement.IsQuizWinnerCodeEnabled)
                            {
                                <div class="prize-details">
                                    <div class="prize-name">
                                        <span class="icon-prize@(announcement.IsFinished?" finished":"")"></span>
                                        <div class="text-prize">@announcements.Prize: @announcement.Prize</div>
                                    </div>
                                </div>
                            }

                        </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}