﻿@import "../../../core/variables.scss";

.partner-logo {
    & > .logo-list {
        margin: 50* $px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        list-style: none;
        flex-wrap: wrap;

        li {
            margin-bottom: 20* $px;
        }

        @media (max-width: 1024px) {

            li img {
                width: 70%;
            }

            .logo-small img {
                width: 45% !important;
            }
        }

        @media (max-width: 800px) {
            li {
                width: 23% !important;
            }

            li img {
                width: 60%;
            }

            .logo-small {
                width: 10% !important;
                margin-right: 3* $px;
            }
        }

        @media (max-width: 600px) {
            li img {
                width: 70%;
            }
        }
    }
}