﻿<div class="partner-logo">
    <ul class="logo-list">
        <li style="width: 16%;"><img src="~/app/images/partners/microsoft.png" /></li>
        <li class="logo-small" style="width: 10%;"><img src="~/app/images/partners/polit.png" /></li>
        <li style="width: 18%;"><img src="~/app/images/partners/spec.png" /></li>
        <li class="logo-small" style="width: 10%;"><img src="~/app/images/partners/chip.png" /></li>
        <li style="width: 18%;"><img src="~/app/images/partners/DisasterRecovery.png" /></li>
        <li class="logo-small" style="width: 10%;"><img src="~/app/images/partners/fox.png" /></li>
        <li style="width: 18%;"><img src="~/app/images/partners/logo_vandrouki.png" /></li>
        <li style="width: 15%;"><img src="~/app/images/partners/cybersport.png" /></li>
        <li class="logo-small" style="width: 8%;"><img src="~/app/images/partners/finnflare.png" /></li>
        <li style="width: 15%;"><img src="~/app/images/partners/netolog.png" /></li>
        <li class="logo-small" style="width: 6%;"><img src="~/app/images/partners/hellyhansen.png" /></li>
        <li style="width: 14%;"><img src="~/app/images/partners/kupibilet-logo.png" /></li>
        <li style="width: 16%;"><img src="~/app/images/partners/dodo.png" /></li>
        <li class="logo-small" style="width: 8%;"><img src="~/app/images/partners/ilmagroup.png" /></li>
        <li style="width: 15%;"><img src="~/app/images/partners/itmo.png" /></li>
    </ul>
</div>