﻿@using WaveAccess.MyQuiz.WebUI.app.landings.home.ru
@model List<WaveAccess.MyQuiz.WebUI.TestimonialViewModel>

<div class="container">
    <div class="TestimonialsBlock__Content">
        <div class="TestimonialsBlock__Header">
            @home.Testimonials__Header
        </div>
        <div id="TestimonialCarousel" class="carousel slide TestimonialCarousel" data-ride="carousel">
            <div class="TestimonialCarousel__TopPart">
                @if (Model.Count > 1)
                {
                    <div class="TestimonialCarousel__Navigate">
                        <a href="#TestimonialCarousel" data-slide="prev" class="hidden-xs"><img src="@Html.UrlCdn("~/app/images/home/slider_left.png")" width="46px" /></a>
                        <a href="#TestimonialCarousel" data-slide="prev" class="icon-arrow-left-t3 visible-xs"></a>
                    </div>
                }
                <div class="TestimonialCarousel__Window">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        @foreach (var testimonial in Model)
                        {
                            <div class="item">
                                <div class="Testimonial">
                                    <div class="Testimonial__Comment">
                                        <span class="Testimonial__Quot">&rdquo;</span>
                                        <span>@testimonial.Text</span>
                                        <span class="Testimonial__Quot">&ldquo;</span>
                                    </div>
                                    <div class="Testimonial__Customer">
                                        <div class="Testimonial__CustomerName">@testimonial.UserName</div>
                                        <div class="Testimonial__CustomerPosition">@testimonial.UserPosition</div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                @if (Model.Count > 1)
                {
                    <div class="TestimonialCarousel__Navigate">
                        <a href="#TestimonialCarousel" data-slide="next" class="hidden-xs"><img src="@Html.UrlCdn("~/app/images/home/slider_right.png")" width="46px" /></a>
                        <a href="#TestimonialCarousel" data-slide="next" class="icon-arrow-right-t3 visible-xs"></a>
                    </div>
                }
            </div>
            @if (Model.Count > 1)
            {
                <div class="TestimonialCarousel__BottomPart carousel-indicators" id="TestimonialCarousel__Indicators">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <span data-target="#TestimonialCarousel" data-slide-to="@i" class="TestimonialCarousel__Indicator"></span>
                    }
                </div>
            }
        </div>
    </div>
</div>