﻿@import "../../variables.scss";

// Animations Helper Mixin
@function animation-transition($transition-attribute: all, $animation-time: $global-animation-time, $animation-easing: $global-animation-easing) {
    @return $transition-attribute $animation-time $animation-easing;
}

// Transform Mixin, Incase Additional
// Vendor Prefixes are needed they can
// be added here
@mixin transform($value) {
    transform: $value;
    transform-style: perserve-3d;
}

// Scale Transform
@mixin scale($value) {
    @include transform(scale($value));
}

// Parent Step for Fade-In
@mixin pre-fade-in($child) {
    #{$child} {
        opacity: 0;
        transition: animation-transition(opacity);
    }
}

// Result Effect for Fade-In
@mixin fade-in($child) {
    #{$child} {
        opacity: 1;
    }
}

// Parent Step for Instant
@mixin pre-instant($child) {
    #{$child} {
        opacity: 0;
        transition: animation-transition(opacity, $global-animation-time/2);
    }
}

// Parent Step for Fade-In & Scale
@mixin pre-fade-in-scale($child) {
    #{$child} {
        opacity: 0;
        @include scale(.5);
        transition: animation-transition(transform), animation-transition(opacity);
    }
}

// Result Effect for Fade-In & Scale
@mixin fade-in-scale($child) {
    #{$child} {
        opacity: 1;
        @include scale(1);
    }
}

// Parent Step for Slide Ins
@mixin slide($child, $child-dimension, $direction) {
    #{$child} {
        opacity: 0;
        $transform-value: translate3d(0,0,0);
        $child-dimension-negative: $child-dimension - ($child-dimension * 2);

        @if $direction == 'left' {
            $transform-value: translate3d($child-dimension-negative,0,0);
        }
        @else if $direction == 'right' {
            $transform-value: translate3d($child-dimension, 0, 0);
        }
        @else if $direction == 'bottom' {
            $transform-value: translate3d(0, $child-dimension, 0);
        }
        @else if $direction == 'top' {
            $transform-value: translate3d(0, $child-dimension-negative, 0);
        }

        transition: animation-transition(transform), animation-transition(opacity);
        @include transform($transform-value);
    }
}

// Result Effect for Slide in from the Left
@mixin slide-in-left($child, $child-dimension) {
    @include slide($child, $child-dimension, 'left');
}

// Result Effect for Slide in from the Right
@mixin slide-in-right($child, $child-dimension) {
    @include slide($child, $child-dimension, 'right');
}

// Result Effect for Slide in from the Bottom
@mixin slide-in-bottom($child, $child-dimension) {
    @include slide($child, $child-dimension, 'bottom');
}

// Result Effect for Slide in from the Top
@mixin slide-in-top($child, $child-dimension) {
    @include slide($child, $child-dimension, 'top');
}

// Result Effect for All Slide-In
@mixin slide-in($child) {
    #{$child} {
        opacity: 1;
        @include transform(translate3d(0,0,0));
    }
}

// Base Parent for Flips
@mixin flip($child, $axis, $perspective: $global-perspective) {
    perspective: $perspective;

    #{$child} {
        position: relative;
        opacity: 0;
        transition: animation-transition();

        @if $axis == 'horizontal' {
            @include transform(rotateY(-70deg));
        }
        @else {
            @include transform(rotateX(-70deg));
        }
    }
}

// Effect Task for Flips
@mixin flip-post($child, $axis) {
    #{$child} {
        opacity: 1;

        @if $axis == 'horizontal' {
            @include transform(rotateY(0deg));
        }
        @else {
            @include transform(rotateX(0deg));
        }
    }
}

// Parent Step for Fall
@mixin pre-fall($child, $child-dimension, $perspective: $global-perspective) {
    perspective: $perspective;

    #{$child} {
        opacity: 0;
        position: relative;
        transition: animation-transition(transform), animation-transition(opacity);
        $child-dimension-negative: $child-dimension - ($child-dimension * 1.3);
        $transform-values: translate3d(0, 0, $child-dimension*2) rotateX(30deg);
        @include transform($transform-values);
    }
}

// Effect for Fall
@mixin fall($child) {
    #{$child} {
        opacity: 1;
        @include transform(translate3d(0,0,0) rotateX(0deg));
    }
}

// Parent Step for Slide Fall
@mixin pre-slide-fall($child, $child-dimension, $perspective: $global-perspective) {
    perspective: $perspective;

    #{$child} {
        opacity: 0;
        position: relative;
        z-index: 999;
        transition: animation-transition(transform), animation-transition(opacity);
        $transform-values: translate3d($child-dimension, $child-dimension - ($child-dimension * 1.25), $child-dimension*1.25) rotateZ(20deg);
        @include transform($transform-values);
    }
}

@mixin slide-fall($child) {
    #{$child} {
        opacity: 1;
        $transform-values: translate3d(0,0,0) rotateZ(0deg);
        @include transform($transform-values);
    }
}

@mixin pre-sticky-up($child, $child-dimension, $perspective: $global-perspective) {
    perspective: $perspective;

    #{$child} {
        position: relative;
        opacity: 0;
        transition: animation-transition(all, $global-animation-time/2, linear);
        @include transform(translate3d(0, -200%, 0));
    }
}

@mixin sticky-up($child) {
    #{$child} {
        opacity: 1;
        $transform-values: translate3d(0,0,0);
        @include transform($transform-values);
    }
}

@mixin pre-sign($child, $child-dimension, $perspective: $global-perspective) {
    perspective: $perspective;

    #{$child} {
        opacity: 0;
        position: relative;
        transition: animation-transition(transform), animation-transition(opacity);
        $child-dimension-negative: $child-dimension - ($child-dimension * 2);
        $transform-values: rotateX(-70deg) translate3d(0, $child-dimension-negative, 0);
        @include transform($transform-values);
    }
}

@mixin sign($child) {
    #{$child} {
        opacity: 1;
        @include transform(rotateX(0deg) translate3d(0,0,0));
    }
}

@mixin pre-super-scaled($child, $child-dimension, $perspective: $global-perspective) {
    perspective: $perspective;

    #{$child} {
        opacity: 0;
        position: relative;
        transition: animation-transition(transform), animation-transition(opacity);
        @include transform(scale(2));
    }
}

@mixin super-scaled($child) {
    #{$child} {
        opacity: 1;
        @include transform(scale(1));
    }
}

@mixin pre-rotate-left($child, $child-dimension, $perspective: $global-perspective) {
    perspective: $perspective;

    #{$child} {
        opacity: 0;
        $transform-values: translateZ(100px) translateX(-100%) rotateY(90deg);
        @include transform($transform-values);
        transition: animation-transition(transform), animation-transition(opacity);
    }
}

@mixin pre-rotate-right($child, $child-dimension, $perspective: $global-perspective) {
    perspective: $perspective;

    #{$child} {
        opacity: 0;
        $transform-values: translateZ(100px) translateX(100%) rotateY(-90deg);
        @include transform($transform-values);
        transition: animation-transition(transform), animation-transition(opacity);
    }
}

@mixin pre-rotate-top($child, $child-dimension, $perspective: $global-perspective) {
    perspective: $perspective;

    #{$child} {
        opacity: 0;
        $transform-values: translateY(-100%) rotateX(-90deg);
        @include transform($transform-values);
        transition: animation-transition(transform), animation-transition(opacity);
    }
}

@mixin pre-rotate-bottom($child, $child-dimension, $perspective: $global-perspective) {
    perspective: $perspective;

    #{$child} {
        opacity: 0;
        $transform-values: translateY(100%) rotateX(90deg);
        @include transform($transform-values);
        transition: animation-transition(transform), animation-transition(opacity);
    }
}

@mixin rotate($child) {
    #{$child} {
        opacity: 1;
        $transform-values: translateZ(0) translateX(0) translateY(0) rotateY(0deg) rotateX(0deg);
        @include transform($transform-values);
    }
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }

    @-moz-keyframes #{$animation-name} {
        @content;
    }

    @-ms-keyframes #{$animation-name} {
        @content;
    }

    @-o-keyframes #{$animation-name} {
        @content;
    }

    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}
