﻿@import "../../variables.scss";
@import "mixins_animation.scss";

.headerText {
    &__QuizName {
        &--xs {
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            min-width: 0;
            text-align: center;
            padding-left: $headerText__QuizName_padding_horizontal;
            padding-right: $headerText__QuizName_padding_horizontal;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 3.75rem;
            line-height: 3.75rem;

            @media (min-width: $screen-sm-min) {
                display: none;
            }
        }
    }
}


.gameStateLine {
    display: flex;
    flex-flow: row nowrap;
    height: $gameStateLine_height;
    margin-bottom: $margin_default_small;
    color: $layout__Header_color;

    @media (max-width: $screen-xs-max) {
        display: none;
    }

    &__Theme {
        display: flex;
        flex-grow: 1;
        align-items: center;
        font-weight: $font_weight_bold;
    }

    &__Progress {
        display: flex;
        font-weight: $font_weight_bold;
        align-items: center;
    }

    &__Manage {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;
        z-index: 1000;

        @media (max-width: $screen-hideMenu-max) {
            display: none;
        }

        .btn-pause-layout {
            opacity: 0.5;
            height: 100%;
            display: flex;
            margin: 4px 40px 0 0;
            cursor: pointer;
            flex-direction: column;
            justify-content: center;

            .play-button,
            .pause-button {
                margin-top: -6px;
            }

            .icon-pause-button,
            .icon-play-button,
            .label-pause {
                display: inline
            }
        }

        .btn-pause-layout:hover {
            opacity: 1;
        }
    }
}

.questionDetails {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    min-height: 1px; //fix for IE11 mobile
    &__ImageCol {
        position: relative;
        display: flex;
        flex-grow: 0;
        flex-shrink: 1;
        min-height: 1px; //fix for IE11 mobile
        min-height: 64 * $px;
    }

    &__QuestionCol {
        display: flex;
        flex-grow: 1;
        flex-flow: column;
        position:relative;
    }

    &__lock-layer{
        display:flex;
        position:absolute;
        width:100%;
        height:100%;
        background-color:transparent;
        z-index:1001;
        display:none;
    }

    &__TextCol {
        padding-top: $questionDetails__Theme_margin_top;

        @media (max-width: $screen-xs-max) {
            border-left: $border_default;
            border-right: $border_default;
            border-bottom: $border_default;
            border-bottom-left-radius: $border_default_radius;
            border-bottom-right-radius: $border_default_radius;
            background-color: $infoBlock_background_color;
            padding-top: $questionDetails__Theme_margin_top_xs;
            padding-left: $margin_default_xs;
            padding-right: $margin_default_xs;
            padding-bottom: $margin_default_xs;
        }

        & > .questionDetails__YoutubeInfoMsg {
            height: 65*$px;
            line-height: 65 *$px;
            vertical-align: middle;
            font-size: 14*$px;
            background-color: #f8f9ff; //
            color: #5b6ec3;
            border: solid 1*$px #e1e5f4;
            border-radius: 5 *$px;
            margin-bottom: 10 * $px;
            font-weight: bold;

            & > img {
                padding: 0 15*$px;
                display: inline-block;
            }

            & > span {
                vertical-align: middle;
                display: inline-block;
                font-size: 14*$px;
                max-width: 60%;
                line-height: 14*$px;
            }

            & > .gameDetails__CloseBlock {
                display: inline-block;
                font-size: 12 * $px;
                opacity: 0.5;
                color: #5b6ec3;
                margin-right: 7 * $px;
                padding: 0;
                float: right;
                margin-top: 27*$px;
                width: auto;
            }

            & > .gameDetails__CloseBlock:hover {
                opacity: 1;
                color: #5b6ec3;
                cursor: pointer;
            }
        }

        &.YoutubeInfoMsg.Mobile > div {
            background-color: #fff;
            border: 0;
            margin-bottom: 0px;

            & > span {
                max-width: 55%;
            }

            & > img {
                padding-bottom: 0;
                padding-top: 0;
                height: 29*$px;
            }

            & > .gameDetails__CloseBlock {
                margin-right: 0*$px;
            }
        }

        &.YoutubeInfoMsg.Desktop {
            @media (max-width: $screen-xs-max) {
                display: none;
            }
        }

        &.YoutubeInfoMsg.Mobile {
            @media (min-width: $screen-xs-max) {
                display: none;
            }
        }
    }

    &__Text {
        display: flex;
        font-size: $questionDetails__Text_font_size;
        margin-bottom: 0;
        user-select: none;

        @media (max-width: $screen-xs-max) {
            font-size: $questionDetails__Text_font_size_xs;
            margin-top: $margin_default_small_text;
            margin-bottom: 0;
        }
    }

    &__CorrectAnswerNote {            
        padding:20px;
        font-size: 14px;

        border: {
            color: #36a53a;
            width:1px;
            style:solid;
            radius:4px;
        }

        .note-title {
            color: #36a53a;
        }
    }

    &__Progress {
        display: none;

        @media (max-width: $screen-xs-max) {
            display: block;
            order: 2;
            font-size: $questionDetails__Progress_font_size_xs;
        }
    }

    &__Answers {
        display: flex;
        flex-grow: 0;
        flex-flow: column;
        margin-top: $questionDetails__Theme_margin_top;

        @media (max-width: $screen-xs-max) {
            margin-top: $questionDetails__Theme_margin_top_xs;
        }
    }

	&__Actions {
        position:relative;
	}

    &__ValidationCol {
    }

    &__ValidationMessage {
        margin-top: $questionDetails__Theme_margin_top;
        margin-bottom: 0 !important;
        display: none;
        text-align: center;
        width: 100%;

        @media (max-width: $screen-xs-max) {
            margin-top: $questionDetails__Theme_margin_top_xs;
        }
    }
}

.mobileNotifications {
    display: none;
    background-color: #f0f2f4;

    @media (max-width: $screen-xs-max) {
        display: block;
    }
}

.mobileNotification {
    background: rgba(255, 255, 255, 0.7);
    //opacity:0.7;
    height: 40 * $px;
    display: flex;
    flex-flow: row;
    width: 100%;

    &__TitleCol {
        display: flex;
        margin-left: 15*$px;
    }

    &__Title {
        font-weight: $font_weight_bold;
        color: #000;
    }

    &__UserFotoCol {
        display: flex;
        margin-left: 15*$px;
        align-items: center;
    }

    &__UserFoto {
        display: inline-block;
        width: 30 * $px;
        height: 30 * $px;
        border-radius: 30 * $px;
        border: solid 1px #DEDFE2;
        background-color: #fff;
        background-size: cover;
    }

    &__UserNameCol {
        display: flex;
        flex-grow: 1;
        overflow: hidden;
        margin-left: 15 * $px;
        margin-right: 15 * $px;
    }

    &__UserName {
        color: #000;

        & > div {
            white-space: nowrap;
            min-width: 0;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    &__Title, &__UserName {
        font-size: 14 * $px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
        display: flex;
        align-items: center;
    }
}

.answerButton {
    display: block;

    &__LeftLine {
        border-left: $answerButton__LeftLine_border_left;
        border-radius: $answerButton__LeftLine_border_radius;
    }

    &__Text {
        font-weight: 300;
        display: block;
        user-select: none;
        position: relative;
        padding: $answerButton__Text_padding;
        border: $border_default;
        border-left: 0;
        margin-bottom: $margin_default_md;
        transition: border-color 200ms linear;
        background-color: $answerButton__bg;

        @media (max-width: $screen-xs-max) {
            margin-bottom: $answerButton__Text_margin_bottom_xs;
            font-weight: normal;
            padding: $answerButton__Text_padding_xs;
        }
    }

    &__Text.active:hover {
        border-color: $answerButton__border_hover;
        transition: border-color 200ms linear;
    }

    &__Text .icon-checked:before {
        color: #62c432;
        font-size: 14 * $px;
    }

    &__Text .icon-close:before {
        color: #FF6161;
        font-size: 14 * $px;
    }

    &--selected &__Text {
        background-color: $answerButton__bg_selected;
        border-color: $answerButton__border_hover;
    }

    &--correct &__Text,
    &--correct &__Text:hover,
    &--correct &__LeftLine {
        background-color: $answerButton__bg_correct !important;
        border-color: $answerButton__bg_correct !important;
        color: $answerButton__font_color_correct;
        border-radius: 0;
    }

    &--wrong &__Text,
    &--wrong &__Text:hover,
    &--wrong &__LeftLine {
        background-color: $answerButton__bg_wrong !important;
        border-color: $answerButton__bg_wrong !important;
        color: $answerButton__font_color_wrong;
        border-radius: 0;
    }


    &__Input {
        display: none;
    }

    &__Input + &__Text {
        cursor: pointer;
    }

    &__Input:checked + &__Text {
        background-color: $answerButton__bg_checked;
        border-color: $answerButton__border_hover;
    }

    &__Input:not(:checked) + &__Text {
        background-color: white;
    }

    &__Icon {
        position: absolute;
        top: $answerButton__Icon_top;
        right: $answerButton__Icon_right;

        @media (max-width: $screen-xs-max) {
            top: $answerButton__Icon_top_xs;
        }
    }
}

.timeInfo {
    &__Text {
        font-weight: $font_weight_bold;
        margin-bottom: $margin_default_small_text;
    }
}

/**/
.answersState {
    border-bottom: $border_default;
    margin-left: -$infoBlock__rightBlock_paddingY;
    margin-right: -$infoBlock__rightBlock_paddingY;
    margin-bottom: $margin_default_md;
    padding-left: $infoBlock__rightBlock_paddingY;
    padding-right: $infoBlock__rightBlock_paddingY;

    &__HeaderText {
        font-weight: $font_weight_bold;
        margin-bottom: $margin_default_md_text;
    }

    &__UsersRow {
        position: relative;
        min-height: $answersState__UsersRow_min_height;
        box-sizing: content-box;
        margin-bottom: $margin_default_md;
    }

    &__UserCol {
        position: absolute;
        top: 0;
        display: flex;
        flex-flow: row nowrap;
        max-width: 100%;

        &--New {
            opacity: 0 !important;
            left: 200*$px !important;
        }

        &:nth-of-type(1) {
            left: 0;
            transition: all 0.5s ease-in-out;
        }

        &:nth-of-type(1):nth-last-child(4) {
            opacity: 0;
            left: -30*$px;
            transition: all 0.5s ease-in-out;

            & > .answersState__UserNameCol {
                display: none;
            }
        }

        &:nth-of-type(1):nth-last-child(3) {
            opacity: 0.5;

            & > .answersState__UserNameCol {
                display: none;
            }
        }

        &:nth-of-type(1):nth-last-child(2) {
            opacity: 0.75;

            & > .answersState__UserNameCol {
                display: none;
            }
        }

        &:nth-of-type(2) {
            left: $answersState__User_second_margin_left;
            transition: all 0.5s ease-in-out;
            max-width: 90%;
        }

        &:nth-of-type(2):nth-last-child(3) {
            opacity: 0.5;
            left: 0;
            transition: all 0.5s ease-in-out;

            & > .answersState__UserNameCol {
                display: none;
            }
        }

        &:nth-of-type(2):nth-last-child(2) {
            opacity: 0.75;

            & > .answersState__UserNameCol {
                display: none;
            }
        }

        &:nth-of-type(3) {
            opacity: 1;
            left: $answersState__User_third_margin_left;
            transition: all 0.5s ease-in-out;
            max-width: 85%;
        }

        &:nth-of-type(3):nth-last-child(2) {
            opacity: 0.75;
            left: $answersState__User_second_margin_left;
            transition: all 0.5s ease-in-out;

            & > .answersState__UserNameCol {
                display: none;
            }
        }

        &:nth-of-type(4) {
            opacity: 1;
            left: $answersState__User_third_margin_left;
            transition: all 0.5s ease-in-out;
        }
    }

    &__UserFotoCol {
        display: flex;
        flex-shrink: 0;
    }

    &__UserFoto {
        display: inline-block;
        width: $answersState__userPhoto_size;
        height: $answersState__userPhoto_size;
        border-radius: $answersState__userPhoto_size;
        border: $answersState__userPhoto_border;
        background-color: $answersState__userPhoto_bg;
        background-size: cover;
    }

    &__UserNameCol {
        display: flex;
        align-items: center;
        flex-grow: 1;
        overflow: hidden;
        margin-left: 15 * $px;
    }

    &__UserName {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
    }
}


.leadersList {
    margin-left: -$infoBlock__rightBlock_paddingY;
    margin-right: -$infoBlock__rightBlock_paddingY;
    padding-left: $infoBlock__rightBlock_paddingY;
    padding-right: $infoBlock__rightBlock_paddingY;

    @media (max-width: $screen-xs-max) {
        background-color: #fff;
        /*margin-top: $margin_default_xs;*/
        margin-left: -15 * $px;
        margin-right: -15 * $px;
        margin-bottom: -15 * $px;
        padding: 0;
    }

    &__HeaderText {
        font-weight: $font_weight_bold;
        margin-bottom: 0;
        padding: 15 * $px;
    }

    &__ToggleIcon {
        display: none;

        @media (max-width: $screen-xs-max) {
            display: inline;
            padding-left: 10 * $px;
            cursor: pointer;
        }
    }
}

.resultState {
    border-bottom: $border_default;
    margin-left: -$infoBlock__rightBlock_paddingY;
    margin-right: -$infoBlock__rightBlock_paddingY;
    margin-bottom: $margin_default_md;
    padding-left: $infoBlock__rightBlock_paddingY;
    padding-right: $infoBlock__rightBlock_paddingY;

    &__HeaderText {
        font-weight: $font_weight_bold;
        margin-bottom: $margin_default_md_text;

        @media (max-width: $screen-xs-max) {
            margin-bottom: 0;
            padding: 15 * $px;
        }
    }

    &__Users {
    }


    @media (max-width: $screen-xs-max) {
        margin-left: -15 * $px;
        margin-right: -15 * $px;
        margin-bottom: 0;
        padding: 0;
        background-color: #fff;
        border-bottom: none;
    }
}

.leaderInfo {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: $margin_default_md;

    @media (max-width: $screen-xs-max) {
        position: relative;
        font-size: $leaderInfo__font_size_xs;
        border-bottom: $border_default;
        padding: 15 * $px $margin_default_xs;
        margin-bottom: 0;
    }

    &__PlaceCol {
        display: none;

        @media (max-width: $screen-xs-max) {
            display: flex;
            align-items: center;
            min-width: 20 * $px;
        }
    }

    &__Place {
        @media (max-width: $screen-xs-max) {
            display: flex;
            font-weight: $font_weight_bold;
            font-size: 18 * $px;
        }
    }

    &__FotoCol {
        display: flex;
        position: relative;

        @media (max-width: $screen-xs-max) {
            position: static;
        }
    }

    &__Foto {
        display: inline-block;
        width: $leaderInfo__Foto_size;
        height: $leaderInfo__Foto_size;
        border-radius: $leaderInfo__Foto_size;

        @media (max-width: $screen-xs-max) {
            width: $leaderInfo__Foto_size_xs;
            height: $leaderInfo__Foto_size_xs;
            border-radius: $leaderInfo__Foto_size_xs;
        }

        border: $leaderInfo__Foto_border;
        background-color: $leaderInfo__Foto_bg;
        background-size: cover;
    }

    &__Score {
        position: absolute;
        display: flex;
        right: $leaderInfo__Score_shift;
        bottom: $leaderInfo__Score_shift;
        border: $leaderInfo__Score_border;
        background-color: $leaderInfo__Score_bg;
        border-radius: $leaderInfo__Score_size;
        min-width: $leaderInfo__Score_size;
        min-height: $leaderInfo__Score_size;
        line-height: $leaderInfo__Score_size;
        font-weight: $font_weight_bold;
        justify-content: center;
        align-items: center;

        @media (max-width: $screen-xs-max) {
            right: $margin_default_xs;
            bottom: auto;
            top: 50%;
            margin-top: -30 * $px / 2;
            vertical-align: bottom;
            border: none;
            min-width: 50 * $px;
            min-height: 0;
            background-color: #F3F4F4;
            border-radius: 25 * $px;
            line-height: 30 * $px;
            text-align: center;
            font-weight: $font_weight_bold;
            font-size: 16 * $px;
        }
    }

    &__NameCol {
        display: flex;
        align-items: center;
        flex-grow: 1;
        overflow: hidden;
        position: relative;
    }

    &__Name {
        position: absolute;
        line-height: 52.5 * $px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        min-width: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: $leaderInfo__Name_margin_left;

        @media (max-width: $screen-xs-max) {
            right: 60 * $px;
        }
    }
}

.btn-transparentWhite {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.btn-transparentWhite:hover {
    color: #ccc;
}

.timeInfoMobile {
    &__Seconds {
        font-size: $timeInfoMobile__Seconds_font_size;
        margin-left: $timeInfoMobile__Seconds_margin_left;
        font-weight: $font_weight_bold;
    }
}

#timeInfoMobile {
    &__Text {
       @media (max-width: 380px) {
            overflow:hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
        }
    }
}

.promoQuestion {
    display: flex;

    &--video {
        flex-flow: column;
        padding: $infoBlock__centerBlock_padding;


        @media (max-width: $screen-md-max) {
            padding: $infoBlock__centerBlock_padding_md;
        }

        @media (max-width: $screen-xs-max) {
            padding: 0;
        }


        @media (min-width: $screen-sm-min) and (max-height: $screen-xs-vertical-min) {
            padding: $infoBlock__centerBlock_padding_vertical_xxs;
        }

        @media (min-width: $screen-sm-min) and (min-height: $screen-xs-vertical-min) and (max-height: $screen-xs-vertical-max) {
            padding: $infoBlock__centerBlock_padding_vertical_xs;
        }

        @media (min-width: $screen-sm-min) and (min-height: $screen-sm-vertical-min) and (max-height: $screen-sm-vertical-max) {
            padding: $infoBlock__centerBlock_padding_vertical_sm;
        }

        @media (min-width: $screen-sm-min) and (min-height: $screen-md-vertical-min) and (max-height: $screen-md-vertical-max) {
            padding: $infoBlock__centerBlock_padding_vertical_md;
        }
    }

    &__Image {
        padding-right: 20 * $px;

        & > img {
            max-width: 100 * $px;
            border-radius: 0.25rem;
        }
    }

    &__Video {
        & > video {
            width: 100%;
        }
    }

    &__Text {
        font-size: 15 * $px;

        & > p {
            margin: 0;
        }
    }
}

.promoQuestionNotification {
    display: none;
    color: #666;
    border-bottom: 1px solid #E7E8E9;
    padding-left: 10 * $px;
    padding-right: 10 * $px;
    padding-bottom: 10 * $px;
    margin-bottom: 10 * $px;
    margin-left: -10 * $px;
    margin-right: -10 * $px;
}

#answerAction__ProgressText {
    margin-left:-97px;
}
#answer-loader {
    margin-left: -45px;
    height: 22px;
    display: inline-block;
    transform: translateY(25%);
    -o-transform: translateY(25%);
    -ms-transform: translateY(25%);
    -webkit-transform: translateY(25%);
    -moz-transform: translateY(25%);
}

@media (max-width: $screen-sm-min) {
    #answer-loader {
        margin-left: -30px;
    }
}

#answer-loader .answerload-circle:nth-child(1),
#answer-loader .answerload-circle:nth-child(3) {
    background: #f2b736;
}

#answer-loader .answerload-circle:nth-child(2),
#answer-loader .answerload-circle:nth-child(4) {
    background: #499255;
}

#answer-loader .answerload-circle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    transform: translateX(0) rotate(50deg) scale(0);
    -o-transform: translateX(0) rotate(50deg) scale(0);
    -ms-transform: translateX(0) rotate(50deg) scale(0);
    -webkit-transform: translateX(0) rotate(50deg) scale(0);
    -moz-transform: translateX(0) rotate(50deg) scale(0);
    animation: answerload-circles 4600ms linear infinite;
    -o-animation: answerload-circles 4600ms linear infinite;
    -ms-animation: answerload-circles 4600ms linear infinite;
    -webkit-animation: answerload-circles 4600ms linear infinite;
    -moz-animation: answerload-circles 4600ms linear infinite;
}

#answer-loader .answerload-circle:nth-child(1) {
    animation-delay: -1150ms;
    -o-animation-delay: -1150ms;
    -ms-animation-delay: -1150ms;
    -webkit-animation-delay: -1150ms;
    -moz-animation-delay: -1150ms;
}

#answer-loader .answerload-circle:nth-child(2) {
    animation-delay: -2300ms;
    -o-animation-delay: -2300ms;
    -ms-animation-delay: -2300ms;
    -webkit-animation-delay: -2300ms;
    -moz-animation-delay: -2300ms;
}

#answer-loader .answerload-circle:nth-child(3) {
    animation-delay: -3450ms;
    -o-animation-delay: -3450ms;
    -ms-animation-delay: -3450ms;
    -webkit-animation-delay: -3450ms;
    -moz-animation-delay: -3450ms;
}

#answer-loader .answerload-circle:nth-child(4) {
    animation-delay: -4600ms;
    -o-animation-delay: -4600ms;
    -ms-animation-delay: -4600ms;
    -webkit-animation-delay: -4600ms;
    -moz-animation-delay: -4600ms;
}

.sticky-button-layout.sticky {
    @media(max-width: $screen-sm-min - 1) {
        position: sticky;
        bottom: 0;
        background-color: rgba(240, 242, 244, 0.5);
    }
}



.countDownTimer__pause-layer-mobile {
    display: none;

    @media (max-width: $screen-sm-min) {
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        margin-bottom: 10px;
        color: #FFF;
        z-index: 1000;
    }
}

.countDownTimer__pause-layer.icon-play-button::before,
.countDownTimer__pause-layer.icon-pause-button::before {
    margin-top: 1.5rem;
}

.countDownTimer__pause-layer-mobile .icon-pause-background,
.countDownTimer__pause-layer-mobile .icon-play-button-background {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    font-size: 16px;
    line-height: 50px;
}

.countDownTimer__pause-layer-mobile .icon-pause-background {
    background-color: #90a7d6;
}

.countDownTimer__pause-layer-mobile .icon-play-button-background {
    background-color: #a7d269;
}

.countDownTimer__pause-layer-mobile .icon-play-button-background .icon-play-button {
    margin-left: 5px;
}


@keyframes answerload-circles {
    50% {
        transform: translateX(49px) rotate(-45deg) scale(1);
    }

    100% {
        transform: translateX(97px) rotate(-45deg) scale(0);
    }
}

@-o-keyframes answerload-circles {
    50% {
        -o-transform: translateX(49px) rotate(-45deg) scale(1);
    }

    100% {
        -o-transform: translateX(97px) rotate(-45deg) scale(0);
    }
}

@-ms-keyframes answerload-circles {
    50% {
        -ms-transform: translateX(49px) rotate(-45deg) scale(1);
    }

    100% {
        -ms-transform: translateX(97px) rotate(-45deg) scale(0);
    }
}

@-webkit-keyframes answerload-circles {
    50% {
        -webkit-transform: translateX(49px) rotate(-45deg) scale(1);
    }

    100% {
        -webkit-transform: translateX(97px) rotate(-45deg) scale(0);
    }
}

@-moz-keyframes answerload-circles {
    50% {
        -moz-transform: translateX(49px) rotate(-45deg) scale(1);
    }

    100% {
        -moz-transform: translateX(97px) rotate(-45deg) scale(0);
    }
}
