﻿@using WaveAccess.MyQuiz.WebUI.app.game.stages.questions;

@model WaveAccess.MyQuiz.WebUI.Models.GameViewModel

<div id="stage__Questions" class="layout__Content" style="display:none;">
<div class="layout__Header">
	<div class="headerText__QuizName--xs"><span class="icon-document"></span>&nbsp;@Model.Quiz.Theme:&nbsp;@Model.Quiz.Code</div>
</div>
<div class="layout__StickyContainer">
	<div style="position: relative;">

		<div class="stickyContent">
			<span id="timeInfoMobile__Text">
				<span id="timeInfoMobile__TimeForAnswerText" class="timeInfoMobile__TimeForAnswerText" style="display: none;">@questions.TimeForAnswer</span>
				<span id="timeInfoMobile__AnswerAfter" class="timeInfoMobile__AnswerAfter" style="display: none;">@questions.AnswerAfter</span>
				<span id="timeInfoMobile__NextQuestionAfter" class="timeInfoMobile__NextQuestionAfter" style="display: none;">@questions.NextQuestionAfter</span>
			</span>
			&nbsp;
			<span id="timeInfoMobile__Seconds"
			      wa-id="timeInfoMobile__Seconds" class="timeInfoMobile__Seconds"></span>
			&nbsp;
			<a data-chat-open="chat1"
			   class="chatIcon chatIcon--mobile stickyContent__ChatIcon"></a>
		</div>
		@Html.Partial(
			"~/app/game/elements/countDownTimer/countDownTimerMobile.cshtml",
			new WaveAccess.MyQuiz.WebUI.app.game.elements.countDownTimer.CountDownTimer
			{
				IdMobile = "question__countDownTimerMobile",
			}
			)
	</div>
	<div id="mobileNotifications" class="mobileNotifications"></div>
	@if (!Model.IsOwner)
	{
		<div data-chat-notifications="true"></div>
	}
</div>
<div class="layout__Body layout__Body--question container">
	<div class="bodyLayout">
		@if (!Model.IsOwner)
		{
			<div class="chatNotificationsBoxDesktop chatNotificationsBoxDesktop--questions" data-chat-notifications="true"></div>
		}
		<div class="bodyLayout__CenterCol">
			<div class="gameStateLine">
				<div class="gameStateLine__Theme">@Model.Quiz.Theme: @Model.Quiz.Code</div>
				<div class="gameStateLine__Progress">
					<span>@questions.Question&nbsp;</span>
					<b id="gameProgress__QuestionNumber"
					   wa-id="gameProgress__QuestionNumber"></b>
					<span>&nbsp;@questions.From&nbsp;</span>
					<b id="gameProgress__QuestionsCount"
					   wa-id="gameProgress__QuestionsCount"></b>
				</div>
			</div>
			<div class="infoBlock infoBlock--center">
				<div class="questionDetails">
					<div class="questionDetails__TextCol  YoutubeInfoMsg hidden Desktop">
						<div class="questionDetails__YoutubeInfoMsg">
							<img src="@Html.UrlCdn("~/app/images/game/playVideoDesktop.png")" />
							<span>
								@questions.WatchVideo
							</span>
							<span class="icon-close gameDetails__CloseBlock" onclick="$('.YoutubeInfoMsg').addClass('hidden'); $('.hiddenWhenYoutubeMsgVisible').show()"></span>
						</div>
					</div>
					<div class="questionDetails__ImageCol">
						@Html.Partial(
							"~/app/game/elements/imageBlock/imageBlock.cshtml",
							new WaveAccess.MyQuiz.WebUI.app.game.elements.imageBlock.ImageBlock
							{
								Id = "questionDetails__ImageBlock",
								ImageTestId = "questionImage",
								Src = string.Empty
							}
							)
					</div>
					<div class="questionDetails__TextCol  YoutubeInfoMsg Mobile hidden">
						<div class="questionDetails__YoutubeInfoMsg">
							<img src="@Html.UrlCdn("~/app/images/game/playVideoDesktop.png")" />
							<span>
								@questions.WatchVideo
							</span>
							<span class="icon-close gameDetails__CloseBlock" onclick="$('.YoutubeInfoMsg').addClass('hidden'); $('.hiddenWhenYoutubeMsgVisible').show()"></span>
						</div>
					</div>
					<div class="questionDetails__QuestionCol">
						<div class="questionDetails__lock-layer"></div>
						<div class="questionDetails__TextCol">
							<div class="questionDetails__Progress">
								<b id="gameProgressMobile__QuestionNumber"></b>
								<span>/</span>
								<b id="gameProgressMobile__QuestionsCount"></b>
							</div>
						    <div id="questionDetails__Text"
						         wa-id="questionDetails__Text"
						         class="questionDetails__Text"></div>
						</div>
						<div class="questionDetails__ValidationCol">
							@if (!Model.IsOwner)
							{
								<div id="validationError_AllVariantsChoosen"
								     class="alert alert-warning questionDetails__ValidationMessage"
								     role="alert"
								     style="display: none;">@questions.ValidationError_AllVariantsChoosen</div>
							}
							else
							{
								<div id="validationError_NeedToConnect"
								     class="alert alert-warning questionDetails__ValidationMessage"
								     role="alert"
								     style="display: none;">@string.Format(questions.ValidationError_NeedToConnect, Model.SiteUrl, Model.Quiz.Code)</div>
							}
						</div>
						<div id="questionDetails__Answers" class="questionDetails__Answers"></div>
					    <div id="questionDetails__CorrectAnswerNote" class="questionDetails__CorrectAnswerNote">
					        <span class="note-title">@questions.Note:</span>
					        <span class="note-text"></span>
					    </div>

						@if (!Model.IsOwner)
						{
							<div class="sticky-button-layout sticky">
								<div id="questionDetails__Actions" class="questionDetails__Actions">
									<a id="answerAction"
									    wa-id="answerActionButton"
									    class="btn btn-primary grow-width">
										<b id="answerAction__AnswerText" style="display:none;">@questions.Answer</b>
										<b id="answerAction__ProgressText" style="display: none;">
											<b id="answer-loader">
												<i class="answerload-circle"></i>
												<i class="answerload-circle"></i>
												<i class="answerload-circle"></i>
												<i class="answerload-circle"></i>
											</b>
										</b>
										<b id="answerAction__AnsweredText" style="display:none;">@questions.Accepted</b>
									</a>
								</div>
							</div>
						    }

						</div>
					</div>
				</div>
				<div id="infoBlockPromo"
					 class="infoBlock infoBlock--promo"
					 style="display:none;">
					<div id="promoNotificationPlaceHolder"></div>
					<div id="promoBlockPlaceHolder"
						 class="blockForCart"
						 data-cart-fly-to-selector=".topMenuItem--bookmarks, .burger"
						 data-cart-selector=".topMenuItem--bookmarks"
						 data-filled-cart-class="filled"
						 data-on-click-show-element-selector=".topMenuItem--bookmarks, .linkToBookmarks"
						 data-notification-selector=".promoQuestionNotification">
					</div>
				</div>

		</div>
		<div class="bodyLayout__RightCol">
			<div class="gameStateLine">
				@if (Model.IsOwner)
				{
					<div class="gameStateLine__Manage">
						<div id="btnPause" class="btn-pause-layout" is-paused="@Model.IsPaused.ToString().ToLower()">
							<div class="pause-button">
								<span class="icon-pause-button"></span>
								<div class="label-pause">@questions.Pause</div>
							</div>
							<div class="play-button">
								<span class="icon-play-button"></span>
								<div class="label-pause">@questions.Resume</div>
							</div>
						</div>
						<a id="gameStateLine_StopGame"
						   wa-id="quizExitButton_QuestionsStage"
						   class="btn btn-transparentWhite">
							@questions.Exit
						</a>
					</div>
				}
			</div>
			<div class="infoBlock infoBlock--right infoBlock--rightTop hidden-xs">
				<div class="timeInfo">
					<div id="timeInfo__Text" class="timeInfo__Text">
						<span id="timeInfo__TimeForAnswerText" class="timeInfo__TimeForAnswerText" style="display:none;">@questions.TimeForAnswer</span>
						<span id="timeInfo__AnswerAfter" class="timeInfo__AnswerAfter" style="display:none;">@questions.AnswerAfter</span>
						<span id="timeInfo__NextQuestionAfter" class="timeInfo__NextQuestionAfter" style="display:none;">@questions.NextQuestionAfter</span>
					</div>
					<div class="timeInfo__Timer">
						@Html.Partial(
							"~/app/game/elements/countDownTimer/countDownTimer.cshtml",
							new WaveAccess.MyQuiz.WebUI.app.game.elements.countDownTimer.CountDownTimer
							{
								Id = "question__countDownTimer",
								IdMobile = "question__countDownTimerMobile",
								Type = "default"
							}
							)
					</div>
				</div>
				<div class="countDownTimer__pause-layer icon-pause-button"></div>
				<div class="countDownTimer__pause-layer icon-play-button"></div>
			</div>
				

			<div class="infoBlock infoBlock--right">
				<div id="answersState" class="answersState hidden-xs">
					<div class="answersState__HeaderText">
						<span>@questions.ReceivedAnswers</span>
						<span id="answersState__ReceivedAnswers">0</span>
					</div>
					<div id="answersState__UsersRow" class="answersState__UsersRow">

					</div>
				</div>
				@if (!Model.IsOwner)
				{
					<div class="resultState">
						<div class="resultState__HeaderText">
							<span>@questions.YourResult</span>
						</div>
						<div id="resultState__User" class="resultState__User">
						</div>
					</div>
				}
				<div id="leadersList" class="leadersList">
					<div class="leadersList__HeaderText">
						<span>@questions.Leaders</span><span id="leadersList__ToggleIcon" class="leadersList__ToggleIcon icon-arrow-up-t2"></span>
					</div>
					<div id="leadersList__Users" class="leadersList__Users">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

@if (Model.IsOwner)
{
	<div class="countDownTimer__pause-layer-mobile">
		<div class="icon-pause-background">
			<span class="icon-pause-button"></span>
		</div>
		<div class="icon-play-button-background">
			<span class="icon-play-button"></span>
		</div>
	</div>
}