﻿@using WaveAccess.MyQuiz.WebUI.app.game.stages.wait;

@model WaveAccess.MyQuiz.WebUI.Models.GameViewModel

<div id="stage__Connect" class="layout__Content">
    <div class="connectSplash">
        <img src="@Html.UrlCdn("~/app/images/loaders/balls.big.gif")" />
    </div>
</div>