﻿
@{
    Layout = null;
}

<div id="quizPrizeModal" class="modal modal--close">
    <div class="modal__table quizPrizeModal__table">
        <div class="modal__tableRow">
            <div class="modal__tableCell">
                <div class="modal__header">
                    <span>@LocView.getLocalization("QuizPrizeModal__Title")</span>
                    <span class="modal__closeCross" onclick="return announcementsModule.HideModal()"></span>
                </div>
                <div class="modal__body">
                    <div class="quizPrizeModal__linkBlock">
                        <div>
                            <div class="editor-label">
                                <label for="ModalQuizPrizeInput">@LocView.getLocalization("QuizPrizeModal__Description")</label>
                            </div>
                            <div class="editor-field">
                                <input type="hidden" id="ModalQuizId" />
                                <input type="hidden" id="ModalQuizLanguage" />
                                <input type="text" id="ModalQuizPrizeInput" name="ModalQuizPrizeInput" class="text-box single-line" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal__footer">
                    <a class="basicButton basicButton--save"
                            id="ModalContinueAnnounceAction">@LocView.getLocalization("QuizPrizeModal__Update")</a>
                </div>
            </div>
        </div>
    </div>
</div>