﻿@using PagedList.Mvc
@using WaveAccess.MyQuiz.Model
@model WaveAccess.MyQuiz.WebUI.QuizAnnouncementListViewModel

@{
    var currentLocalizationTitle = ViewBag.Lang;
}

@section scripts
{
    <script src="/Scripts/main/announcements.list.js"></script>
    <script type="text/javascript">
            function searchSubmit(form) {
                if (form && searchValidate()) {
                    form.submit();
                }
            }

            function searchValidate() {
                if ($('input#search') && !!jQuery.trim($('input#search').val())) {
                    return true;
                }

                return false;
            }
    </script>
}

@section styles {
    <link href="~/Content/lecture.css" rel="stylesheet" />
}
@Html.Partial("AnnouncePrizeModalView")
<div class="mainContentLayout centered">
    <div class="searchBlock">
        <div>
            <form onsubmit="return searchValidate()">
            <table class="searchBlock__table">
                <tr>
                    <td class="countContainer desktop">
                        <div>@Model.QuizAnnouncements.Count</div>
                    </td>
                    <td class="desktop" style="color: white; vertical-align: middle; width: 0px; width: 1px; padding-right: 24px;"></td>
                    <td>
                        <input onkeydown="onSearchChange()"
                               onkeypress="onSearchChange()"
                               class="searchBlock__input text-box single-line"
                               id="search"
                               name="search"
                               type="text"
                               value="@Model.Search">
                    </td>
                    <td class="desktop @(string.IsNullOrEmpty(Model.Search) ? "search" : "close")"
                        style="vertical-align: middle; width: 1px; padding-left: 9px;">
                        <div class="searchBlock__closeButton closeButton"
                             onclick="$('input#search').val('');$(this).parents('form')[0].submit();"></div>
                        <div class="searchBlock__searchButton searchButton"
                             onclick="searchSubmit($(this).parents('form')[0]);"></div>
                    </td>
                </tr>
            </table>
                </form>
</div>
    </div>
    <div class="countContainer mobile" style="padding-bottom:20px;">
        <div style="float:left">@Model.QuizAnnouncements.Count()</div>
        <span></span>
    </div>
    <div class="gridTimeLineStart">

    </div>

    <div class="gridTimeLine">
        @foreach (var quizAnnouncement in Model.QuizAnnouncements)
        {
            <div class="gridTimeLine_row">
                <div class="gridTimeLine__col gridTimeLine__colDate text--center">
                    @Html.Raw(LocView.getDateLocalization(quizAnnouncement.StartDateTime))
                </div>
                <div class="gridTimeLine__col gridTimeLine__colCircle">
                    <div class="gridTimeLine_circle">
                        <div class="gridTimeLine_circleInner gridTimeLine_circleInner--static"></div>
                    </div>
                </div>
                <div class="gridTimeLine__col gridTimeLine__colData gridTimeLine__col--w100percent">
                    <div class="gridData">
                        <div class="gridData__row">
                            <div class="gridData__col gridData__colTime gridData__col--padding text--important text--center">
                                <span class="dateTime_date">@Html.Raw(LocView.getDateLocalization(quizAnnouncement.StartDateTime, null, true))</span>
                                <span class="dateTime_splitter">|</span>
                                <span class="dateTime_time">@quizAnnouncement.StartDateTime.ToString("HH:mm")</span>
                            </div>

                            <div class="gridData__col gridData__col--w100percent gridData__col--padding lecturesGridData__colTheme text--ellipsis">
                                @quizAnnouncement.Theme
                            </div>
                            <div class="gridData__col gridData__col--w100percent gridData__col--padding lecturesGridData__colTheme text--ellipsis">
                                @quizAnnouncement.Language
                            </div>
                            <div class="gridData__col gridData__colButtons">
                                <div class="gridData__buttonsBlock">

                                    @Html.HiddenFor(t => quizAnnouncement.Id, new { id = "AnnouncementId" })
                                    @Html.HiddenFor(t => quizAnnouncement.Quiz.Id, new { id = "QuizId" })
                                    @Html.HiddenFor(t => quizAnnouncement.Quiz.IsQuizWinnerCodeEnabled, new { id = "IsQuizWinnerCodeEnabled" })
                                    @Html.HiddenFor(t => quizAnnouncement.Language, new { id = "currentLanguageTitle" })

                                    <div class="dropDownButton">
                                        <a class="dropDownButton__button dropDownButton__button--settings dropDownButton__button--small" onclick="Controls.onShowDropDownMenu(this);">
                                            <span class="icon-settings"></span>
                                            <span class="icon-caret-down"></span>
                                        </a>
                                        <ul class="dropDownButton__menu dropDownButton__menu--hidden" data-is-admin-view="@AuthHelper.IsAdmin.ToString().ToLower()">
                                            <li class="dropDownButton__menuItem">
                                                <a class="dropDownButton__menuLink announcement__action" data-action="update" data-prize="@quizAnnouncement.Prize" href="@Url.Action("CreateOrUpdate", "Announcement", new { quizId = quizAnnouncement.Quiz.Id, language = quizAnnouncement.Language })">
                                                    <span class="dropDownButton__menuIcon icon-edit-pencil"></span> @LocView.getLocalization("Update")
                                                </a>
                                            </li>

                                            <li class="dropDownButton__menuItem">
                                                <a class="dropDownButton__menuLink" href="@Url.Action("Delete", "Announcement", new { id = quizAnnouncement.Id })"
                                                   @*onclick="showInlineConfirmation(this); return false;"*@>
                                                    <span class="dropDownButton__menuIcon icon-delete-item"></span> @LocView.getLocalization("Delete")
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="gridData__col gridData__colConfirm gridData__col--hidden">
                                <div class="gridData__confirmBlock">
                                    <div class="gridData__errorMessageBox gridData__errorMessageBox--visible">@LocView.getLocalization("confirm_delete_announcement")</div>
                                    <a href="@Url.Action("Delete", "Announcement", new { id = quizAnnouncement.Id })" data-quiz-id="@quizAnnouncement.Id"
                                       @*onclick="return deleteQuiz(this)"*@
                                       class="basicButton basicButton--small basicButton--delete basicButton--confirmDelete  basicButton--rightSpace">
                                        @LocView.getLocalization("delete")
                                    </a>
                                    <a href="#"
                                       @*onclick="hideInlineConfirmation(this); return false;"*@
                                       class="basicButton basicButton--small basicButton--cancel basicButton--cancelDelete">
                                        @LocView.getLocalization("cancel")
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (AuthHelper.IsAdmin)
    {
        <div class="paginator centered">
            @Html.PagedListPager(Model.QuizAnnouncementsPagedList, page => Url.Action("List", new { page = page, Search = Model.Search }), new PagedListRenderOptions() { MaximumPageNumbersToDisplay = 7 })
        </div>
    }
</div>